<div class="row">
	<div class="col-sm-12 col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-sm-12">
				<H1>{{{title}}}</H1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				{{{bodytext}}}
			</div>
			<div class="col-sm-4 text-center">
				{{{media:1:large}}}
				<p><a href="{{{linkurl}}}" class="btn btn-default">Learn More</a>
			</div>
		</div>
	</div>
</div>