#setItemEditor {
	background: #FFFFFF;
}
#setItemEditor #rightCol{
	clear:right;
	float:right;
	background-color: #E2E2E2;
	width: 250px;
	padding: 0px 10px 10px 10px;
	margin: 0px 0px 15px 0px;
}
#setItemEditor #rightCol H2{
	padding-top:10px;
	color:#828282;
}

#setItemEditor #leftCol{
	width:620px;
}
#setItemList{
	margin:0px;
	padding:0px;
}

#setItems .setItem {
	position: relative;
	display: block;
	float: left; 
	list-style-type: none;
	height: 200px; 
	width: 140px; 
	border: solid 1px #828282;
	margin: 5px 10px 5px 0px;
	background: #F5F5F5;
	text-align: center;
	overflow: hidden;
}

#setItems .setItem:hover {
	border: solid 1px #666;
}

#setItems div{
	font-size: 10px;
	margin: 5px 0px 0px 0px;
	width:140px;
	text-align:left;
}

#setItems a{
	cursor:move;
}

#setItems a{
	color: #636363;
}

#setItems .remove{
	position: absolute;
	left:130px;
	top: 0px;
	width:7px;
	padding: 0px 1px 1px 2px;
}

#setItems .remove a{
	font-size: 9px;
	color: #828282;
	text-decoration:none;
	font-weight:bold;
}
#setItems .remove a:hover{
	color: #CA1919;
}

.setItemThumbnail {
	padding: 10px 10px 3px 10px;
}
#setItems .setItemCaption {
	padding-left: 10px;
	width: 120px;
}

#helpTips ul{
	margin: 0px 0px 0px 5px;
	padding:5px 5px 0px 22px;
}

#helpTips li{
	list-style-image: url(../graphics/arrow_right_gray.gif);
	margin: 0px 0px 10px 0px;
	padding:0px;
}
.optionsList{
	margin-top:5px;
	margin-left:10px;
}
.optionsList a{
	text-decoration:none;
}
.setsList{
	margin-top:5px;
	margin-left:10px;
}
.setsListCurrent{
	color:#828282;
	margin-top:5px;
	margin-left:10px;
}
.setsList a{
	text-decoration:none;
}
div.setInfo{
	margin-left:10px;
}
a.hide{	
	text-decoration:none;
	float:right;
	text-transform: uppercase;
	font-size:13px;
	color: #828282;
}
a.hide:hover{	
	color:none;
}
div.edit{
	text-align:right;
}
div.edit a{	
	text-decoration:none;
	text-transform: uppercase;
	font-size:13px;
	color: #828282;
}
div.edit a:hover{	
	color:none;
}

/*  FORMS */
#newSetForm .formLabel, #editSetForm .formLabel{
	font-weight:bold;
	margin: 10px 0px 2px 0px;
}
#newSetForm input, #editSetForm input {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:240px;
}
#newSetForm input[type="text"], #editSetForm input[type="text"] {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:240px;
}
#newSetForm textarea, #editSetForm textarea {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:240px;
}
#newSetForm input[type="textarea"], #editSetForm input[type="textarea"] {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:240px;
}
#newSetForm a, #editSetForm a{
	text-transform:uppercase;
	font-family: Arial, sans-serif;
	font-size:14px;
	color: #545454;
	font-weight:bold;
	text-decoration:none;
	margin: 0px;
	padding: 5px 0px 0px 0px;
}
#newSetForm a:hover, #editSetForm a:hover{
	color: #828282;
	text-decoration:none;
}