html, body {
  height:100%;
  width:100%;
  padding:0px;
  margin:0px;
} 

.navbar {
	margin-bottom: 0px;
}

.topSpacer {
	margin-top: 20px;
}
.navbar-form{
	margin-right:0px;
}

/* Itinera */

.navbar-brand {
	width:150px;
}
p.frontText {
	font-family: latoregular;
}

a.frontButton {
	font-size: 20px;
	font-family: latoregular;
	text-decoration: none;
	color: #6e6e6e;
}
img.frontButton {
	width: 21px;
	height: 21px;
	vertical-align: text-bottom;
	margin: 0 5px 0 20px;
}

li.frontSlide {
	margin: 0 10px 0 0;
}

div.frontSlide{
	width: 800px;
	background-color: #DEF0E7;
	padding: 10px;
}

div.frontSlide .frontSlideCaption{
	padding:15px;
	margin: 0 0 0 10px;
	
	font-family: latoregular;
	color: #6e6e6e;

}

.frontSlide .frontSlideCaption a{
	color: #6e6e6e;
}

div.frontSlide .frontSlideImage {
	float: left;
	margin: 0 15px 0 0;
}

div.frontSlide .frontSlideCaption .frontSlideArtistName {
	font-size: 20px;	
}

div.frontSlide .frontSlideCaption .frontSlideArtistRoles {
	font-size: 15px;
}

div.frontSlide .frontSlideImageSource {
	font-size: 10px;
	font-style: italic;
	text-decoration: none;
	color: #6e6e6e;
}

div.frontSlide .frontSlideButtons {
	margin: 40px 0 0 0;
}

/* --------- */
/* Traveler list */


div#travelerList {
	width: 100%;
	position: relative;
	min-height: 30px;
	max-height: 300px;
	overflow-y: auto;
	background-color: #EDF7F1;
}

#travelerListToggle {	
	position: absolute;
	top: 4px;
	right: 10px;
	font-family: latoregular;
	font-weight: bold;
	color: #cc0000;
	font-size: 18px;
}

#travelerListToggle:hover {
	cursor: pointer;
}

#travelerListContent {
	display: none;
	padding: 0 5px 10px 5px;
	
}

div.travelerListLetterBar {
	width: 100%;
	text-align: center;
	font-family: Helvetica, Arial;
	font-size: 20px;
	margin: 5px 0 10px 0;
}

div.travelerListLetterBar .availableLetter {
	color: #000;
	margin: 0 10px 0 0;
}

div.travelerListLetterBar .disabledLetter {
	color: #aaa;
	margin: 0 10px 0 0;
}

div.travelerListLetterBar .activeLetter {
	color: #cc0000;
	margin: 0 10px 0 0;
}

div#travelerContentContainer {
	padding: 0px;
}

div#travelerContent {
	border: 1px solid #eee;
	height: 700px;
}

/* Traveler card */
div#travelerCardContainer {
	background-color: #DEF0E7;
	padding: 10px;
	height: 700px;
	overflow-y: auto;
}

div.travelerCardContent {
	background-color: #DEF0E7;
}

div.travelerCardContent .travelerCardCaption{
	padding:0px;
	margin: 0 0 0 5px;
	
	font-family: latoregular;
	color: #6e6e6e;
}

.travelerCardContent .travelerCardCaption a{
	color: #6e6e6e;
}

div.travelerCardContent .travelerCardImage {
	margin: 0;
	width: 100%;
	text-align: center;
}

div.travelerCardContent .travelerCardCaption .travelerCardArtistName {
	font-size: 20px;	
}

div.travelerCardContent .travelerCardCaption .travelerCardArtistRoles {
	font-size: 15px;
}

div.travelerCardContent .travelerCardImageSource {
	font-size: 10px;
	font-style: italic;
	text-decoration: none;
	color: #6e6e6e;
}


/* D3-based entity relationship diagram */

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
}

/* Route map */
#routeMap {
	width: 83.33%;
	height: 600px;
}

#routeMapYearSlider {
	width: 100%;
}
#routeMapSliderContainer{
	margin-top:20px;
}
#routeMapSliderContainer .ui-slider-handle{
	background-color:#0480be !important;
	background-image:none;
	border-radius:20px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 0px solid transparent;
}
/* Route map artist list */
.leaflet-popup-content {
width:auto !important;
}
.travelerMapList {
	background-color: #DEF0E7;
	font-family: latoregular;
	color: #6e6e6e;
	margin: 0 0 0 0;
	padding: 5px;
	position: relative;
	
	border-bottom: 1px dotted #999;
}

.travelerMapListImage {
	float: left;
	margin: 0 5px 0 0;
}

.travelerMapListImagePlaceholder {
	float: left;
	margin: 0 5px 0 0;
	width: 72px;
	height: 72px;
	background-color: #eee;
}
.travelerMapMultipleItems{
	min-width:550px;
	background-color:#FFF;
}
.travelerMapItemSummary{
	float:left;
	width:48%;
	padding-right:2%;
	height:45px;
	overflow:hidden;
	margin-bottom:5px;
	line-height:1.1em;
	max-height:400px;
	overflow-y:auto;
}
.travelerMapItemSummaryImg{
	width:20%;
	padding-right:5%;
	float:left;
}
.travelerMapItemSummaryImg img{
	width:100%;
	height:auto;
}
.travelerMapItemSummaryText{
	width:75%;
	float:left;
}
.travelerMapItemSummaryTextScroll{
	max-height:125px;
	overflow:auto;
}
.travelersMapMultipleItemsFull{
	width:660px;
	overflow-x:scroll;
	z-index:10;
	background-color:#FFF;
	display:none;
}
.mapItem-panel {
	width: 300px;
	position: relative;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px 0px 20px 20px;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	margin-bottom:30px;
	height:220px;
}
.travelersMapMultipleItemsFull .mapItem-panel{
	margin-right:0px;
}
.mapItem-panel .glyphicon{
	position:absolute;
	right:-10px;
	top:185px;
	font-size: 3em;
	background-color:#FFF;
	padding:5px;
	border-radius: 20px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.mapItem-panel .travelerMapItemSummaryText{
	max-height:170px;
	overflow-y:auto;
}




.travelerMapListRemove {
	position: absolute;
	top: 5px;
	right: 5px;
}

.travelerMapListRemove:hover {
	cursor: pointer;
}

.travelerMapListArtistName {
	font-size: 12px;
}

.travelerMapListArtistRoles {
	font-size: 10px;
}

.travelerMapListColorKey {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	bottom: 5px;
	right: 5px;
	border-radius: 3px;
}

.travelerMapListArtistDates {
	font-size: 10px;
	font-style: italic;
}

.travelerMapListArtistPopupImage {
	float: left; 
	margin: 0 5px 0 0;
}



/* CHRONOLOGY classes */

.travelerChronology{

}

.travelerChronologyTrack{
	height: 198px;
	margin: 8px 0 8px 0;
	clear:both;
}

.travelerChronologyTrackContainer {
	height:176px;
	
	background-color:#ededed;
	margin: 0px;
	padding: 0px;
}

.travelerChronologyTrackInfo {
	position:relative;
	float:left;
	
	height: 100%;
	
	background-color:#dedede;
	
	margin: 0px;
	padding: 0px;
}

.travelerChronologyTrackInfo div {
	margin:10px 10px 0px 10px;
}
.travelerChronologyTrackInfo .trackTitle{
	font-size: 14px;
	font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
	font-weight:bold;
}

.travelerChronologyTrackInfo .trackImage{
	margin: 0 0 0 10px;
}


.travelerChronologyCarousel {
	position: relative;
}

.travelerChronologyTrackSliderContainer {
	height: 22px;
	background-color:#ededed;
	padding: 0px;
	margin: 0px;
}

.travelerChronologyCarouselSlider {
	margin: 0px;
}

.travelerChronologyTrackSliderOffset {
	height: 22px;
	background-color:#dedede;
	padding: 0px;
	margin: 0px;
	position: relative;
}

.travelerChronologyItem {
	width: 190px;
	height: 160px;
	background-color: #fff;
	padding: 5px;
	margin: 5px 0 5px 5px;
}
.travelerChronologyItemText {
	height: 45px;
}
.travelerChronologyItemName {
	font-size: 10px;
	font-style: italic;
}

.travelerChronologyItemDate {
	font-size: 12px;
}

.travelerChronologyItemRemove {
	position: absolute;
	top: -5px;
	right: -5px;
	cursor: pointer;
}

.travelerChronologySyncContainer {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.travelerChronologySync {
	cursor: pointer;
}

#intineraChronologyNoEntities {
	display: block;
}

.travelerListSectionHeading {
	font-weight: bold;
	font-size: 16px;
}

.travelerListSpacer {
	border-top: 1px dotted #ccc;
	padding-top: 10px;
	margin-top: 10px;
}


/* Timeline */

.container {
	width:auto;
}
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}

.timeline > li {
	position: relative;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
	margin-top: 5px;
}


.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 5px 0px 20px 0px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 26px;
  left: 56px;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.timeline.timeline-horizontalSingle:before{
	left:0px !important;
	background-color:#FFF !important;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 300px;
  width: 20%;
  min-width: 320px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #c0c0c0 !important;
  border-bottom: 0 solid #c0c0c0 !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
  left: 43px;
}
.timeline > li > .timeline-panel::after{
	right:0px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}

	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}


.timeLeft {

}
.timeRight {

}

.timeLeft.timeline:before,
.timeLeft.timeline > li > .timeline-badge {
	left:100%;
}
.timeRight.timeline:before,
.timeRight.timeline > li > .timeline-badge {
	left:0%;
}
.timeline > li > .timeline-panel {
	width:96%;
}
.timelineColumn .column {
	overflow-y:scroll;
	max-height:610px;
	min-height:610px;
	clear:left;
	overflow-x:hidden;
	padding-right:15px;
}
.columnParent {
	max-height:610px;
	overflow:hidden;
}	
.page-header {
	margin-top:7px;
	margin-bottom:7px;
}
.page-header img {
	width:100%;
	height:auto;
}
.chronology h1 {
	font-size:18px;
	margin:20px 0px 0px 0px;
}
h4 {
	font-size:15px;
}
h4 i {
	position:absolute !important;
	right:20px;
	top:20px;
}
.people{
	min-height:90px;
}
.people img {
	width:auto;
	max-height:100px;
	margin-right:15px;
	float:left;
	margin-bottom:10px;
}
p.source {
	font-size:85%;
	font-style: italic;
	padding-top:5px;
}
.one .timeline > li > .timeline-panel:before {
	border-left:15px solid #d8d69b;
	border-right: 0 solid #d8d69b;
}
.two .timeline > li > .timeline-panel:before {
	border-left:15px solid #312d89;
	border-right: 0 solid #312d89;
}
.three .timeline > li > .timeline-panel:before {
	border-right:15px solid #a1a3b2;
	border-left: 0 solid #a1a3b2;
}
.four .timeline > li > .timeline-panel:before {
	border-right:15px solid #77d941;
	border-left: 0 solid #77d941;
}
.container.timelineContainer{
	overflow-x:auto;
	position:relative;
}
.container.timelineContainer .row{
	width:6000px;
}

.container.timelineContainer .row .col-xs-3{
	max-width:340px;
}
.timelineContainer .moreArrowRight{
	position:fixed;
	right:0px;
	bottom:0px;
	padding:5px 20px 5px 20px;
	background-color:#DEDEDE;
	color:#FFF;
	z-index:10;
	font-size:10px;
	display:none;
}
