<div class="row">
	<div class="row">
		<div class="col-sm-12 col-md-9">
			<h1>{{{title}}}</h1>
			{{{bodytext}}}
		</div>
		<div class="col-sm-12 col-md-3">
			<H2>{{{rightColTitle}}}</H2>
			{{{rightColText}}}
		</div>	
	</div>
</div>