/* red: #c51042; light gray bg #eee; */
@font-face{
	font-family:HelveticaNeue;
	src:url(fonts/HelveticaNeueLight.eot);
	src:url(fonts/HelveticaNeueLight.eot?#iefix) format("embedded-opentype"),
	url(fonts/HelveticaNeueLight.woff) format("woff"),
	url(fonts/HelveticaNeueLight.ttf) format("truetype"),
	url(fonts/HelveticaNeueLight.svg#HelveticaNeueLight) format("svg");
	font-weight:300;
	font-style:normal
}
@font-face{
	font-family:HelveticaNeue;
	src:url(fonts/HelveticaNeueRegular.eot);
	src:url(fonts/HelveticaNeueRegular.eot?#iefix) format("embedded-opentype"),
	url(fonts/HelveticaNeueRegular.woff) format("woff"),
	url(fonts/HelveticaNeueRegular.ttf) format("truetype"),
	url(fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular) format("svg");
	font-weight:400;font-style:normal
}
@font-face{
	font-family:HelveticaNeue;
	src:url(fonts/HelveticaNeueMedium.eot);
	src:url(fonts/HelveticaNeueMedium.eot?#iefix) format("embedded-opentype"),
	url(fonts/HelveticaNeueMedium.woff) format("woff"),
	url(fonts/HelveticaNeueMedium.ttf) format("truetype"),
	url(fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium) format("svg");
	font-weight:500;
	font-style:normal
}
@font-face{
	font-family:HelveticaNeue;
	src:url(fonts/HelveticaNeueBold.eot);
	src:url(fonts/HelveticaNeueBold.eot?#iefix) format("embedded-opentype"),
	url(fonts/HelveticaNeueBold.woff) format("woff"),
	url(fonts/HelveticaNeueBold.ttf) format("truetype"),
	url(fonts/HelveticaNeueBold.svg#HelveticaNeueBold) format("svg");
	font-weight:700;
	font-style:normal
}

body{
	font-size: 16px;
	font-family: HelveticaNeue,Arial,sans-serif;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -.2px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin-top:125px;
	margin-bottom:320px;
}
@media(min-width:768px){
	body{
		margin-top:149px;
	}
}
@media(min-width:1010px){
	body{
		margin-top:125px;
	}
}
.container {
	max-width:1320px;
	margin-left:auto;
	margin-right:auto;
	padding:0 20px
}
@media (min-width:960px) {
	.container {
		padding:0 44px
	}
}
@media (min-width:1160px) {
	.container {
		padding:0 52px
	}
}
@media (min-width:1290px) {
	.container {
		padding:0 72px
	}
}
.front .jcarousel-wrapper{
	overflow:hidden;
	max-width:2500px;
}
a{
	color:#c51042;
}
a:hover{
	color:#000000;
}
H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6, H7, h7{
	font-family: HelveticaNeue,Arial,sans-serif;
}
H2, h2, .detail h2{
	color:#000000;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	letter-spacing: -.6px;
	text-transform:uppercase;
}
H3, h3{
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	letter-spacing: -.2px;
}
.btn-default, .btn-default:hover, .browse .btn-default, .lightbox .btn-default{
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 25px;
	color: #fff;
	background-color: #c51042;
	text-align: center;
	font-family: HelveticaNeue,Arial,sans-serif;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #c51042;
    color:#000;
    text-decoration: none;
}
.grayBg{
	background-color:#eee;
}
#footer{
	border:0px;
}
.navbar-brand {
    width: auto;
}
.navbar-brand img {
	width: 55px;
}
.navbar > .container .navbar-brand {
	margin-top: 9px;
	margin-bottom: 10px;
	margin-left: 12px;
}
#user-navbar.navbar-right{
	margin-top:25px;
}
.yamm .nav.navbar-right .dropdown .arrow{
	-webkit-transform: translate3d(0,-50%,0) rotate(90deg);
	transform: translate3d(0,-50%,0) rotate(90deg);
	transform-origin: center;
	transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
	position: relative;
	display: inline-block;
	width: 5px;
	height: 10px;
	top: 5px;
	margin-left: 15px;
}
.navbar .form-group label{
	display:none;
}
@media(max-width:768px){
	.navbar-collapse {
    	max-height: 380px;
    }
    .navbar-form{
    	box-shadow:none;
    	-webkit-box-shadow:none;
    }
}
@media(min-width:768px){
	form.navbar-right{
		margin-top:33px;
	}
	.yamm .nav.navbar-right .dropdown-menu{
		left: -50%;
		right: auto;
		min-width:auto;
		
		background-color: #fff;
		border-top: 5px solid #c51042;
		border-left:none;
		border-right:none;
		border-bottom:none;
		
		-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		box-shadow: 0 5px 10px rgba(0,0,0,.2);
		
		overflow:visible;
		background-color: #eee;
		
	}
	.yamm .nav.navbar-right .dropdown-menu a{
		font-size: 12px;
		line-height: 12px;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		line-height: 16px;
		padding-top:5px;
		padding-bottom:5px;
	}
	.yamm .nav.navbar-right .dropdown-menu a:hover{
		color: #c51042;
		background-color:#eee;
	}
	.yamm .nav.navbar-right .dropdown-menu .main-nav__item-icon {
		position: absolute;
		top: -20px;
		left: 50%;
		border: solid transparent;
		height: 0;
		width: 0;
		pointer-events: none;
		border-color: rgba(197,16,66,0);
		border-bottom-color: rgba(197, 16, 66, 0);
		border-bottom-color: #c51042;
		border-width: 10px;
		margin-left: -10px;
		z-index: 100;
	}
}
@media(min-width:1010px){	
	.navbar-right{
		margin-top:30px;
	}
}
.navbar {
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-size: 16px;
	line-height: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.menuItems li > a {
	padding-right:30px;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #c51042;
	/* color: #c51042; removed for accessibility */
	color:#E7134F;
}
.navbar-default .navbar-nav > li > a:focus{
	color:#fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:#000;
	/* color: #c51042; removed for accessibility */
	color:#E7134F;
}

.navbar .formOutline {
    background-color: #FFF;
    border:none;
    border-radius:0px;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
   font-family: HelveticaNeue,Arial,sans-serif;
   color:#FFF;
}
@media(max-width:768px){
	ul.menuItems{
		border-top:0px;
	}
	.navbar-default .navbar-nav > li > a{
		padding-top:10px;
		padding-bottom:10px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #c51042;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #000;
		color: #c51042;
	}
}
.front H1 {
    font-size: 24px;
    line-height:1.5em;
    text-align:center;
    font-family: HelveticaNeue,Arial,sans-serif;
    padding-top: 15px;
    color:#000;
    margin:60px 0px 100px 0px;
}
.front H2 {
    font-size: 30px;
    font-family: HelveticaNeue,Arial,sans-serif;
    font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	letter-spacing: -.6px;
	text-transform:none;
	margin-bottom:20px;
}

.front .galleryGrid img, .gallery .galleryGrid img{
	width:100%;
	height:200px;
	object-fit:cover;
}
.front .galleryGrid .galleryGridText, .gallery .galleryGrid .galleryGridText{
	height: 110px;
	background-color:#c51042;
	padding:10px;
	margin-bottom:30px;
	overflow: hidden;
}
.front .galleryGrid .galleryGridText a, .gallery .galleryGrid .galleryGridText a{
	color:#FFF;
	font-weight: 500;
	letter-spacing: -.2px;
	font-size: 18px;
	line-height: 1.2em;
}
.front .featuredExhibition img{
	width:100%;
	height:400px;
	object-fit:cover;
}
.front .featuredExhibition a.featuredExhibitionTitle{
	font-size: 24px;
    font-family: HelveticaNeue,Arial,sans-serif;
    line-height: 1.2em;
	font-weight: 700;
	letter-spacing: -.6px;
	text-transform:none;
	margin-bottom:20px;
}
.front .featuredExhibitionDesc{
	margin:20px 0px 40px 0px;
}
.front .grayBg{
	padding-top:30px;
	padding-bottom:30px;
}
.front a.jcarousel-control-prev, .front a.jcarousel-control-next{
	background-color: #000;
	height: auto;
	width:auto;
}
.front a.jcarousel-control-prev{
	padding: 0px 10px 5px 5px;
}
.front a.jcarousel-control-next{
	padding: 0px 5px 5px 10px;
}
/* detail */
.detail, .detail.unit, .gallery, .gallery.unit{
	color:#333;
	font-size:14px;
}
detail.unit{
	margin:0px 20px 0px 20px;
}
.detail h1{
	color:#c51042;
	text-transform:uppercase;
}
a.readmore-js-toggle{
	color:#c51042;
}
.detail label, .gallery label {
    display: block;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
    font-family: HelveticaNeue,Arial,sans-serif;
    font-weight:500;
}
.detail h2{
	text-transform:none;
}
.detail h3{
	text-transform:none;
	font-size: 20px;
}
.detail hr{
	background-color:#000;
	margin-top:30px;
	margin-bottom:30px;
}
.detail a{
	text-decoration:underline;
	color: #c51042;
}
.detail a:hover{
	text-decoration:underline;
	color: #333;
}
.detail .detailLinksGrid{
	margin-bottom:30px;
}
.detail .detailLinksGrid .detailLinksGridItem{
	margin-bottom:15px;
	background-color:#eee;
}
.detail .detailLinksGrid .detailLinksGridItem:hover{
	background-color: #c51042;
	color:#FFF;
}
.detail .detailLinksGrid a{
	display:inline-block;
	max-height: 3.9em;
	overflow: hidden;
	line-height:1.3em;
	margin:10px 10px 5px 10px;
	text-align:center;
	color:#000;
	text-decoration:none;
}
.detail .detailLinksGrid a:hover{
	color:#FFF;
}
.detail .btn-default{
	color:#fff;
	text-decoration:none;
}
.detail .btn-default:hover{
	color:#000;
	text-decoration:none;
}
.detail .bResultItemText a{
	text-decoration:none;
}
.detail .navTop a, .detail .navTop a .small{
	color:#000;
	text-decoration:none;
}
.repViewerContCont{
	padding-bottom:38px;
}
.detail .detailMediaToolbar/*, .gallery .detailMediaToolbar*/ {
    background-color: #fff;
    padding: 2px 5px 7px 5px;
    font-size: 16px;
    position: absolute;
    display: block;
    top: auto;
    bottom: -43px;
    left:30%;
    right:30%;
    text-align: center;
    z-index:500;
}
.detail .detailMediaToolbar a{
	color: #595959;
}
.detail #detailRepNav {
    padding: 0px 0px 7px 0px;
    font-size: 12px;
    position: relative;
    z-index: 1000;
    top: -33px;
}

/* image viewer */
.caMediaOverlayControls .close{
	position: fixed;
	top: 40px;
	right: 10px;
}
div.caMediaOverlayControls .close a{
	background-color:#000;
	padding: 12px 10px 8px 10px;
}
div.caMediaOverlayControls .close a .caIcon{
	color:red !important;
	text-shadow:#000 0px 1px 0px;
	font-size:30px !important;
}
div.caMediaOverlayControls, div.caMediaOverlayControls:hover, div.caMediaOverlayControlsMinimal:hover{
	opacity:1;
	background-color:rgb(0,0,0,.7);
}


#bRefine{
    background-color: #eee;
}
#bRefine H3{
	font-size:16px;
	line-height:1em;
}
#bRefine H3, #bRefine H2, #bRefine a{
	color:#000;
}
#bRefine a.more {
    color: #595959;
}
.browse.entities #bRefine a{
	text-transform:capitalize;
}
.search.entities #bRefine a{
	text-transform:capitalize;
}
.bResultItem .bResultItemText a.resultTitleLink{
	font-size:15px;
	background-color:#FFF;
	background-color:transparent;
}
.bResultItem .bResultItemText small, .bResultItem .bResultItemText small a {
    color: #595959;
}
.multisearch H1{
	font-weight: 700;
}
.multisearch H2, .multisearch H2 a{
	font-size: 20px;
	line-height: 1.2em;
	color:#000;
	font-weight:500;
}
.multisearch .authoritySet a{
	color:#000;
	line-height:1em;
}
.galleryBackButton{
	background-color: #EBEBEB;
	padding:5px 5px 10px 5px;
	text-align:center;
	text-transform: uppercase;
	position:absolute;
	top:-50px;
}
@media (min-width: 960px) {
	.galleryBackButton{
		left:-30px;
		top:0px;
	}
}
.galleryBackButton a {
  color: #8e8985;
  color: #696969;
  line-height: .3em;
  font-size: 18px;
  text-decoration: none;
}
.galleryBackButton a .small{
	font-size: 8px;
	color: #ababab;
	color: #696969;
	padding-top: 3px;
}
.gallery H1{
	font-size: 30px;
    font-family: HelveticaNeue,Arial,sans-serif;
    font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	letter-spacing: -.6px;
	text-transform:none;
	margin-bottom:30px;
	margin-top:30px;
}
.gallery H2, .gallery #gallerySetInfo a {
	line-height:1.3em;
}
.gallery H3 {
	line-height:1.3em;
}
.gallery #galleryDetailImageGrid {
    min-height: auto;
}
.gallery .setDescription {
    font-weight: normal;
}
.staticPage H1{
	margin-top:40px;
}
.gallery .unit {
    margin-bottom: 12px;
    background-color:#FFF;
}
.gallery .video-js {
	min-height: 300px;
}
@media (min-width: 768px) {
  	.gallery .video-js {
    	min-height: 400px;
	}
}
.gallery .setDescription {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8em;
}
.gallery .plyr__video-wrapper{
	min-height:250px;
	width:auto;
}
@media (min-width: 768px) {
	.gallery .plyr__video-wrapper{
		height:400px;
		width:auto;
	}
}
.gallery #galleryDetailImageArea #galleryDetailImageWrapper:hover .detailMediaToolbar {
  display: none;
}
.gallery #galleryDetailImageGrid a:hover img {
	width: 150%;
	height: auto;
	position: absolute;
	z-index:100;
	background-color:#FFF;
	left:-25%;
	top:-100%;
}
.gallery #galleryDetailImageGrid .galleryIconActive:hover img{
	background-color: #efefef;
}
.galleryIntro{
	font-size:18px;
	padding-bottom:30px;
}
.bBrowseIntro{
	font-size:16px;
}
.bCriteria{
	padding-bottom:10px;
}
.bResultItem .bResultItemText a, .bResultItem .bResultItemText div, .bResultItem .bResultItemText small{
	background-color:#FFF;
}
.bResultItem .bResultItemText a {
    color: #333;
    line-height: 1.1em;
    font-size: 13px;
}
.bResultListItem .bResultListItemText a {
    line-height: 1.3em;
    color: #333;
    font-size: 14px;
}
#bRefine a {
    font-size: 14px;
}
/* multisearch */
.multisearch .authorityResult{
	background-color:#eee;
	padding:0px;
}
.multisearch .authorityResult:hover{
	background-color:#c51042;
}
.multisearch .authorityResult a{
	display:block;
	height:45px;
	margin: 5px 10px 5px 10px;
}
.multisearch .authorityResult:hover a{
	color:#FFF;
	text-decoration:none;
}

/* footer */
#footer{
	font-family: HelveticaNeue, Arial, sans-serif;
	padding: 32px 0px 64px 0px;
	height:284px;
}
#footer ul li{
	padding:0px;
	line-height:24px;
	font-size:16px;
}
.footer__nav-header, .social-icons__title {
    margin-bottom: 8px;
    margin-top:0px;
    font-size:12px;
    line-height: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #333;
}
@media(max-width:991px){
	.footer__nav-list{
		display:none;
	}
	.footer__nav-header{
		display:none;
	}
	.footer__social-share{
		text-align:center;
	}
}
.footer__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.copyright_text, .footer__nav-item {
    -webkit-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    /* color: #999; removed for accessibility */
    color:#595959;
}
#footer .footer__nav-item a {
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: .6px;
    text-transform: uppercase;
    /* color: #999; removed for accessibility */
    color:#595959;
    font-family: HelveticaNeue, Arial, sans-serif;
}
.social-icons__list {
   padding:0px;
}

.page-layout__social-share-bar{padding:0 24px}@media (min-width:768px){.page-layout__social-share-bar{margin-left:24px}}.page-layout__social-share-bar+.wysiwyg{margin-top:20px}
.social-feed-icon{display:inline-block}.social-feed-icon svg{width:100%;height:100%}.social-feed .social-feed-icon{position:absolute;top:16px;right:16px;width:14px;height:14px;z-index:1}.social-feed .social-feed-icon path{fill:#fff}.social-feed .social-feed-icon.social-feed-icon--facebook{right:15px}.social-feed .social-feed-icon.social-feed-icon--camera,.social-feed .social-feed-icon.social-feed-icon--play{position:static;width:18px;height:18px;margin:0 2px}.social-feed .social-feed-icon.social-feed-icon--twitter{top:0;right:0;width:12px;height:10px}.social-feed-item-cta{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:100%;overflow:hidden;background:#000;text-align:center;padding:10px;color:#fff}.social-feed-item-cta__text{margin-top:8px}.social-feed-item-image{width:100%;overflow:hidden}.social-feed__column--2 .social-feed-item-image{width:calc(50% - 12px);margin-top:12px}.social-feed-item-image__figure{position:relative}.social-feed-item-image__figure:before{content:"";display:block;padding-bottom:100%}.social-feed-item-twitter{width:100%;overflow:hidden;background:#c51042;padding:15px}.social-feed__column--2 .social-feed-item-twitter{height:calc(50% - 12px);margin-bottom:12px}.social-feed-item-twitter__inner{overflow:hidden}.social-feed-item-twitter__header{color:#fff;padding:7px 15px 7px 0;border-bottom:1px solid #d6d6d6;margin-bottom:7px}.social-feed-item-twitter__content{color:#fff}.social-feed{display:none;overflow:hidden}@media (min-width:768px){.social-feed{display:block}}.social-feed__title{margin-bottom:16px}.social-feed__list{margin:0 -12px}.social-feed__column{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;width:100%;padding:0 12px}@media (min-width:768px){.social-feed__column{width:28.33333%}}.social-feed__column:nth-child(n+2){margin-top:20px}@media (min-width:768px){.social-feed__column:nth-child(n+2){margin-top:0}}@media (min-width:768px){.social-feed__column:nth-child(4){width:15%}}.social-icons{margin-top:22px}@media (min-width:991px){.social-icons{margin-top:0}}.social-icons__title{margin-bottom:12px}.social-icons__list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;list-style:none}.footer__social-share .social-icons__list{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}@media (min-width:991px){.footer__social-share .social-icons__list{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}}.social-icons__icon{width:20px;height:20px;background:#000}.social-icons__icon:not(:first-child){margin-left:4px}.social-icons__icon svg{display:block;width:12px;height:12px;margin:0 auto}.social-icons__icon svg path{-webkit-transition:fill .25s ease-in-out;-o-transition:fill .25s ease-in-out;transition:fill .25s ease-in-out;fill:#fff}.social-icons__icon:hover svg path{fill:#c51042}.social-icons__link{display:block;text-align:center}.social-share__inner{-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.social-share__inner,.social-share__item,.social-share__list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.social-share__item{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-left:7px;padding:5px;border-radius:5px;background:#000}.social-share__item:first-child{margin-left:10px}.social-share__icon{display:inline-block;width:18px;height:18px}.social-share__icon svg{width:100%;height:100%}.social-share__icon path{fill:#fff}.social-share--performance .social-share__item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:22px;height:22px;padding:0;border-radius:0;margin-left:5px}.social-share--performance .social-share__icon{position:relative;width:12px;height:12px}.social-share--performance .social-share__icon svg{position:absolute;top:0;left:0}.social-share--empty-text .social-share__item:first-child{margin-left:0}
.social-icons__link{padding-top:3px;}
.copyright_text, .credit_text, .footer__social-share {
    margin-top: 24px;
}
.small-p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: .2px;
}
.credit_text{
	color:#333;
}
.copyright_text a{
	text-decoration:none;
}
.bResultItemContent {
    height: 245px;
}


.plyr {
 height: calc(100% - 36px) !important;
} 
.plyr__video-wrapper {
 height: none !important;
}    