body {
	margin-bottom:100px;
	color:#222;
	font-size:16px;
}
a, a:hover, a:active, a:focus, div.browseFacetItem a:hover {
	color:#268dcb;
}
.form-control:focus {
    border-color: #6bb1dc;
}
h1,h2 {
	color:#268dcb;
}
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active {
	background-color:#268dcb; 
	padding-bottom:7px;
}
.browse .btn, .sets .btn {
	background-color: #268dcb; 
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	text-transform:uppercase;
}
.frontNav .navbar-brand {
	width:140px;
}
.navbar {
	padding-right:35px;
}
.navbar-brand {
	width:160px;
	padding-bottom:0px;
	padding-top:3px;
}
.navbar-form.big {
	position:absolute;
	width:95%;
	padding-top: 5%;	
	box-shadow:none;
}
.navbar-form.big .formOutline {
	background-color:white;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	text-align:center;
	margin:auto;
	width:40%;
}
.navbar-form.big  .form-group {
    width: 80%;
}    
.navbar-form.big  .form-control {
	border:0px;
	box-shadow:none;
	font-size:20px;
	margin-bottom: 3px;
}
.navbar-form.big .btn-search {
    font-size: 24px;
    color: #aaa;
    padding: 8px 6px 4px 6px;
    background-color:transparent;
} 
.navbar-nav > li.bigGlass > a{ 
	padding-top: 35px; 
	padding-bottom: 9px;
}	
.navbar .dropdown-menu > li > a {
	text-transform:uppercase;
	font-family:lato;
	font-size:13px;
	padding-top:5px;
	padding-bottom:5px;
} 
.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:active {
	font-size:15px;
}
.nav > li:hover {
	background-color:#f5f5f5;
}
@media (min-width: 768px) {
	.menuItems.navbar-nav > li > a {
    	padding-top: 9px;
   		padding-bottom: 8px;
    }	
	.navbar-nav > li.bigGlass > a {
		padding-top:6px;
		padding-bottom:0px;
	}
	.nav > li.bigGlass:hover {
		background-color: transparent;
	}
	.btn-search {
		position: relative;
		padding-top:6px;
	} 
	.navbar-form .form-control {
    	padding-top: 8px;
	}	
}
@media (min-width: 1010px) {
	.frontNav .navbar-nav > li > a {
		padding-top:55px;
	}
	.navbar-nav > li > a {
		padding-top:40px;
	}
	.menuItems.navbar-nav > li > a {
		padding-top:40px;
		height:84px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
   		margin-right: 0px;
	}
}	
@media (max-width: 1200px) {
	.navbar-form.big  .form-control {
		font-size:22px;
	}
}
@media (max-width: 494px) {
	.navbar-form.big  .form-control {
		font-size:20px;
		padding-top:15px;
	}
	.navbar-form.big .formOutline {
		width:90%;
	}
	.navbar-form.big {
		margin-top:0px;
		padding-top:0px;
	}
	.navbar-form.big .btn-search {
		right:35px;
		top:0px;
		font-size:22px;
	}
}
@media (min-width:495px) and (max-width: 714px) {
	.navbar-form.big .formOutline {
		width:70%;
	}	
	.navbar-form.big .btn-search {
		position:relative;
	}
	.navbar-form.big {
    	margin-top: 0px;
    }
}
@media (min-width:715px) and (max-width: 785px) {
	.navbar-form.big .formOutline {
		width:50%;
	}	
	.navbar-form.big .btn-search {
   		display: inline-block;
   		position:relative;
	}
}
@media (min-width: 786px) and (max-width:844px) {
	.navbar-form.big  .form-group {
		display:inline-block;
	}
	.navbar-form.big .btn-search {
    	right: 0px;
	}
}
.nav > li.dropdown > a.icon {
    padding-top: 85px;
    padding-left: 25px;
}
.yamm .nav.navbar-right .dropdown-menu {
	right:auto;
}
.navbar-form.big.notFront {
	border:8px solid #eee;
	margin-top:-20px;
	position:relative;
	width:100%;
	padding-top:0px;
	display:none;
	z-index: 1000;
	position:absolute;
	left:0px;
}
.navbar-form.big.notFront .formOutline {
	box-shadow:none;
}
.navbar-form.big.notFront {
	padding:0px;
}
.navbar-form.big.notFront  .form-control {
	text-align:center;
	height:44px;
}
.navbar-form.big.notFront .btn-search {
	float:right;
}
.navbar-form.big.notFront .formOutline {
	width:100%;
}
.advSearch.btn {
	margin-right:10px;
}
.filterMenuFacetList li.active {
    background-color: #268dcb;
}
#footer {
	border:0px;
	background-color:#218aca;
	height:100px;
	color:#fff;
	padding-top:10px;
	padding-left:0px;
	padding-right:0px;
}
#footerlogos {
	width:100%;
	bottom:0px;
	text-align:center;
	position:absolute;
	padding-top:15px;
}
#footerlogos img {
	padding-right:15px;
	padding-left:15px;
}
#footer ul.social {
	font-size:28px;
	padding-right:15px;
}
#footer ul a {
    color: #FFF;
    text-decoration: none;
}
.leader {
	margin-top:-20px;
}
.leader img {
	width:100%;
	height:auto;
}
.collectConnect {
	text-align: right;
    position: relative;
    bottom: 0px;
    color: #268dcb;
    text-transform: uppercase;
    font-size: 20px;
    right: 15px;
    letter-spacing: 2px;
    font-family:lato;
}
@media (max-width: 865px) { 
	.collectConnect {
		text-align:center;
		font-size:20px;
		right:0px;
		top:15px;
	}
}
.connectWith {
    letter-spacing: 2px;
    font-family:lato;
    color: white;
    text-align: right;
    font-size: 18px;
    text-transform: uppercase;
    vertical-align: top;
}
.homeText {
	text-align:center;
}
.front .supportText {
	font-size:18px;
}
.front .jcarousel-wrapper, .transcription .jcarousel-wrapper{
	margin-top:10px;
}

.jcarousel-wrapper, .jcarousel {
    width: 100% !important;
}

.front H1 {
	font-family:LatoLight;
	padding-top:50px;
	padding-bottom:20px;
}
.front .cats img {
	width:100%;
	height:auto;
}
.front .cats {
	text-align:center;
	margin-top:20px;
}
.front h2 {
	margin-top:50px;
	margin-bottom:30px;
	color:#666;
	text-transform:uppercase;
	text-align:center;
}
.front .cats a, .front .cats a:hover {
	color:#333;
	text-decoration:none;
}
.front .memberTile, .educationalResources .memberTile {
	width:250px;
	padding-right:15px;
}
.front .memberTile a, .educationalResources .memberTile a {
	color: #454545;
}
.front .curated .memberTile a {
	color:#fff;
}
.front .row.recent {
	background-color:#e2eff7;
	padding-left:30px;
	padding-right:30px;
}
.front .memberTile p, .educationalResources .memberTile p {
	text-align:center;
	padding-top:5px;
}
.front .memberImage {
	background-color:#f5f5f5;
	min-height:100px;
	height:235px;
}
.front .memberImage img {
	width:100%;
	height:auto;
}
.front .memberImageCrop, .educationalResources .memberImageCrop {
	background-color:#f5f5f5;
	min-height:100px;
	height:235px;
	overflow:hidden;
	background-color:#ededed;
	text-align:center;
}
.front .memberImageCrop img. .educationalResources .memberImageCrop img {
	height:100%;
	width:auto;
	vertical-align:middle;
}
.row.members {
	padding-left:30px;
	padding-right:30px;
}
.front .jcarousel-control-prev, .front .jcarousel-control-next, .transcription .jcarousel-control-prev, .transcription .jcarousel-control-next, .educationalResources .jcarousel-control-prev, .educationalResources .jcarousel-control-next {
	top:120px;
	font-size:40px;
	text-shadow: 0px 0px 5px #999;
}
.row.curated {
	background-color:#6bb1dc;
	padding-left:30px;
	padding-right:30px;
}
.row.curated h2 {
	color:white;
}
.front .curated .memberTile p {
	color:white;
}
.front .curated.jcarousel-pagination a.active, .front .recent.jcarousel-pagination a.active, .transcription .transcription.jcarousel-pagination a.active {
	color:white;
	background-color:white;
}
.front .curated.jcarousel-pagination a, .front .recent.jcarousel-pagination a, .transcription .transcription.jcarousel-pagination a {
	border:white;
}
.front .curated.jcarousel-pagination a, .front .recent.jcarousel-pagination a, .transcription .transcription.jcarousel-pagination a {
	opacity:.45;
}
.front .curated.jcarousel-pagination a.active, .front .recent.jcarousel-pagination a.active, .transcription .transcription.jcarousel-pagination a.active {
    opacity: 1;
}
.front .jcarousel-pagination, .transcription .jcarousel-pagination, .educationalResources .jcarousel-pagination{
	margin-bottom:50px;
}

/* Detail */

.upper {
	text-transform:capitalize;
}
.dlButton {
	display:none;
}
.detail H4 a{
	color:#000;
}
.detail H6 a {
	padding-left:0px;
	color:#999;
}
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
	padding-right:10px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	padding-top:15px;
	padding-bottom:0px;
	height:140px;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small {
	line-height:1.5em;
}
.objImage {
	height:auto;
	width:100%;
	padding-bottom:5px;
}
.objImage img {
	width:100%;
	height:auto;
}
.detailPlaceholder{
	text-align:left;
	padding-bottom:20px;
}
.detailPlaceholder img{
	width:100%;
	height:auto;
	max-width:370px;
}
.detail {
	font-size:14px;
}
.detail .unit a {
	color:#555;
}
.unit {
	border-bottom:1px solid #eee;
	margin-bottom:12px;
	padding-bottom:5px;
}
.unit .name {
	text-transform:uppercase;
	color:#999;
	font-family:Lato;
	width:30%;
	color:#222;
	font-size:13px;
}
.unit .data {
	color:#333;
	width:70%;
	color:#222;
}
.unit img {
	width:100%;
	height:auto;
}
div.caMediaOverlayControls {
	opacity:1;
	font-size:15px;
	font-weight:bold;
}
div.caMediaOverlayControls .objectInfo {
	font-size:14px;
}
.browseSearchBar {
	background-color:#6bb1dc;
	color:#fff;
	font-weight:bold;
	clear: both;
    margin-bottom: 30px;
    height: 42px;
    padding-top: 5px;
    margin-top: 20px;	
}
.detailSearch {
    float: right;
    margin-top:1px;
}
.detailSearch .formOutline {
    border: 1px solid #fff;
    background-color: #fff;
    height: 30px;
    margin-right: 5px;
}
.detailSearch .formOutline .btn-search {
    padding-top: 5px;
}
.detailSearch .formOutline .btn-search {
    float: right;
    background-color: transparent;
}
.detailSearch .form-control {
    width: 150px;
    float: right;
    border: 0px;
    box-shadow: none;
    font-size: 13px;
    background-color:transparent;
    padding-top:1px;
}
.resultCount {
    font-size: 14px;
    display: inline-block;
    padding-left: 15px;
    padding-top: 5px;
}
a.filterCollection {
    font-weight: 400;
    color: #fff;
    float: right;
    font-size: 14px;
    padding-right: 15px;
    padding-top: 5px;
}
a.filterCollection:hover {
	color:#fff;
	text-decoration:none;
}
.detail #detailRepNavNext {
    right: 0px;
    font-size: 20px;
    margin-right: -25px;
}
.detail #detailRepNavPrev {
    font-size: 20px;
    margin-left: -25px;
}
.detail #detailRepNavPrev .glyphicon-arrow-left:before {
	font-family:fontAwesome;
	content:"\f053";
}
.detail #detailRepNavNext .glyphicon-arrow-right:before {
    font-family:fontAwesome;
    content: "\f054";
}
.detail #detailRepNav {
	position:absolute;
	top:40%;
	width:100%;
}
.detail .repository {
	background-color:#f5f5f5;
	border-radius:4px;
	padding:15px;
	margin-top:20px;
	text-align:center;
}
.detail .repository .label {
	color:#333;
	text-transform:uppercase;
	padding:0px;
	font-size:14px;
	margin-bottom:10px;
	display:block;
}
.detail .repository p {
	margin-bottom:2px;
}
.detail .repository img {
	width:100%;
	height:auto;
	padding-top:10px;
}
.detail .repository a {
	padding-top:10px;
	color:#000;
	display:inline-block;
}
.setItemTile img{
	width:100%;
	height:auto;
}
.detail .unit.connect {
	text-align:center;
	font-size:28px;
}
.detail .unit.connect a {
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
}
/* About */

.sideMenu {
	background-color:#f5f5f5;
	padding:15px;
}
.bodytext, .textContent {
	margin-bottom:50px;
	line-height:1.8em;
	color:#000;
	/*font-weight:bold;*/
	font-size:16px;
}
.textContent {
	margin-bottom:20px;
}
.textContent div {
	margin-bottom:12px;
}
.bodytext .row {
	margin-bottom:40px;
}
.aboutMenu {
	line-height:2.2em;
}
.supportBodyText img{
	float: left;
	margin: 30px 40px 10px 0px;
	width: auto;
}
#pageArea.staticPage, .textContent {
	/*margin-top:20px;*/
}
#pageArea.staticPage .image {
	margin-top:-40px;
	width:100%;
	margin-bottom:20px;
	padding:0px;
}
#pageArea.staticPage .image img{
	width:100%;
	height:auto;
	max-width:2000px;
}
.scaleImg img{
	width:100%;
	height:auto;
}
.mostPopular img {
	width:100%;
	height:auto;
}
.dashboardStats.row {
	margin-top:15px;
	margin-bottom:25px;
}
.dashboardStats div {
	margin-bottom:15px;
	height:65px;
}
.mostPopular {
	margin-bottom:25px;
	margin-top:20px;
}
.dashboard h1 {
	margin-bottom:15px;
}	
.window-manifest-navigation {
	margin-right:25px;
}	
div.caMediaOverlayControlsMinimal {
	top:3px;
	right:6px;
	background-color:transparent;
	color:black;
}	
div.caMediaOverlayControlsMinimal:hover {
	color:black;
	background-color:transparent;
}
.caMediaOverlayControlsMinimal .close a .fa {
	font-size:30px !important;
	opacity:1 !important;
	color:#666 !important;
}
.caMediaOverlayControlsMinimal .close a:hover .fa {
	opacity:1 !important;
}
.caMediaOverlayControlsMinimal .close, .caMediaOverlayControlsMinimal .close:hover {
	opacity:1 !important;
}
/*Browse */

.bResultItemText p {
	margin-bottom:2px;
}

/* Search */

.attributeListItem {
	width:100%;
}
.advancedSearchField textarea {
	height:30px !important;
}

/* Contact */

#askACurator {
    width: 100%;
    height: 100%;
}
#askACurator .inside {
    background-color: #fff;
    width: 90%;
    margin: 5% auto;
    padding: 20px;
    border: 2px solid #ccc;
    max-height: 506px;
    overflow-y: auto;
}

/* Multisearch */

.multisearch .multisearchResult.objectsResult {
	width:220px;
	height:210px;
}
.multisearch #objectsBlock .blockResults {
    height: 230px;
}
.multisearchResult p {
	margin-bottom:5px;
}
.multisearch .multisearchResult img {
	margin-bottom:10px;
}
.multisearch .multisearchResult img.placeholder {
	height:120px;
	width:auto;
	margin-left:auto;
	margin-right:auto;
}
.imgPlaceholder {
	text-align:center;
	display:inline-block;
	width:100%;
}
.multisearch #objectsBlock .scrollButtonNext, .multisearch #objectsBlock .scrollButtonPrevious {
	height:220px;
	padding-top:100px;
}
.multisearchSort {
	font-size:12px;
}
.multisearchFullResults a{
	color:#fff;
	display:inline-block;
	margin-right:10px;
	text-transform:none;
}
.multisearchSort select {
	height:20px;
	border-radius:0px;
}
.multisearch H3, .results H1 {
	background-color:#6bb1dc;
	font-size:14px;
	color:#fff;
	padding:10px;
}
.results H1 {
    font-size:16px;
    padding: 10px 10px 7px 10px;
}
.results H1 i {
	color:#fff;
	padding-bottom:5px;
}
.results .btn-group .dropdown-menu em{
	font-weight:bold;
}
#bViewButtons {
	float:right;
}
.results #bViewButtons a .fa {
	color:#fff !important;
}
.multisearch H3 a, .multisearchSort, .glyphicon-sort-by-alphabet, glyphicon-sort-by-alphabet-alt {
	color:#fff;
}
.multisearch .pull-right {
	padding-right:10px;
	padding-top: 5px;
}
.pipe {
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
}

/* Lightbox */

.gallery {
	font-family:latolight;
}
.gallery .galleryBack {
    margin: 0px 5px 0px 0px;
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 0px 5px 3px 5px;
    text-align: center;
    float: left;
}
.gallery .galleryBack a {
    color: #000000 !important;
    line-height: .3em;
    font-size: 14px;
    text-decoration: none;
}
.gallery .galleryBack a .small {
    font-size: 7px;
    color: #000000;
    padding-top: 0px;
    padding-bottom: 5px;
}
.gallery h1 {
	margin-left:15px;
}
.gallery h2 {
	margin-left:15px;

	margin-top:10px;
}
.gallery h1 small{
	font-size:12px;
	color:#222;
}
.gallery .jcarousel {
	height:275px;
}
.gallery .setTile {
    width: 301px;
    padding-right: 5px;
    background-color: #fff;
    margin-right: 5px;
    margin-left:5px;
    padding-top: 10px;
    padding-left: 10px;
    height: 265px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-top:3px;
}
.gallery .setTile.oneItem {
	width:205px;
}
.gallery .imgPreview {
	width:87px;
	height:87px;
	float:left;
	margin-left:10px;
	margin-bottom:10px;
	background-color:#f5f5f5;
}
.gallery .jcarousel-control-prev {
	left:10px;
}
.gallery .jcarousel-control-next {
	right:10px;
}
.gallery .jcarousel-control-prev, .gallery .jcarousel-control-next {
	top:100px;
	background:transparent;
	border:0px;
	text-shadow: 0px 0px 8px #999;
	font-size:32px;
	box-shadow:none;
}
.gallery .jcarousel-control-prev:hover, .gallery .jcarousel-control-next:hover,
.gallery .jcarousel-control-prev:active, .gallery .jcarousel-control-next:active,
.gallery .jcarousel-control-prev:focus, .gallery .jcarousel-control-next:focus {
	color:#fff;
}
.setTile img {
	width:100%;
	height:auto;
}
.gallery .setImage {
	background-color:#eee;
	height:185px;
	width:185px;
	float:left;
	margin-bottom:5px;
}
.gallery .setCascade {
	display:inline-block;
	margin-bottom:20px;
}
.gallery .setCascade img {
	width:100%;
	height:auto;
	margin-bottom:5px;
}
.gallery .lightboxDescription {
	padding-left:15px;
	padding-bottom:15px;
}
.gallery .jcarousel-pagination a.active {
    background: #666;
    color: #666;
    opacity: 1;
    text-shadow: none;
    text-decoration: none;
}
.gallery .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    line-height: 1em;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background: #fff;
    color: #fff;
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #666;
    opacity: .75;
}
.gallery .jcarousel-pagination {
    position: relative;
    padding: 0px;
    margin: 0px auto 0px auto;
    text-align: center;
}
.gallery .name {
	font-weight:bold;
	font-size:13px;
	padding-bottom:2px;
	clear:both;
}
.gallery .name small {
	font-size:75%;
}
.gallery .leader img{
	width:100%;
	height:auto;
	margin-bottom:20px;
}
.gallery .btn-default {
	margin:auto;
	text-align:center;
}
.gallery .galleryDetail .setTile {
	width:100%;
	margin-bottom:20px;
}
.gallery .galleryDetail .setImage {
	width:60%;
	background-color:#fff;
	overflow:hidden;
}
.gallery .galleryDetail .imgPreview {
	width:30%;
	background-color:#fff;
	overflow:hidden;
}
.gallery h2 small {
	color: #268dcb;
	font-size:14px;
}
.gallery H4, .gallery H4 a {
	color:#444;
}
.gallery .unit .name {
	color:#222;
	font-weight:normal;
}

/* Lightbox */

.lbSetListItemCol {
	min-height:250px;
}
.registerButton {
	font-weight:bold;
	font-size:16px;
}
.forgot {
	font-size:12px;
}
@media (min-width: 768px) {
	#caFormOverlay {
		margin: 5% auto 0px auto;
	}
}

/* Browse */

.objects.results .popover, .entities.results .popover {
    font-size:12px;
    text-transform:capitalize;
}
.results .image img {
	width:100%;
	height:auto;
}
.bResultListItem .bResultListItemText {
	line-height:1.5em;
}
.bResultListItem .bResultListItemText p {
	margin-bottom:0px;
}
.bSearchWithin input{
	width:88%;
}
.bSearchWithin button{
	margin-top:3px;
}
.bSearchWithin{
	margin:10px 0px 20px 0px !important;
}

/* Contributors */

.gm-style .memberImage img {
    max-width: 200px !important;
    height: auto !important;
}

#map div{
	margin-bottom:0px;
}

.repViewerContCont {
	overflow: hidden;
}

/* Transcription */
.transcription .hovereffect {
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.transcription .hovereffect .overlay {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	pointer-events: none;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
}

.transcription .hovereffect img {
	display:block;
	position:relative;
	/*-webkit-transition:all .4s linear;
	transition:all .4s linear;*/
}

.transcription  .hovereffect h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:absolute;
	bottom: 0px;
	left: 0px;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(100px);
	-ms-transform:translatey(100px);
	transform:translatey(100px);
	/*-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;*/
	padding:10px;
}

.transcription .hovereffect a.info {
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #fff;
	background-color:transparent;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin:50px 0 0;
	padding:7px 14px;
}

.transcription .hovereffect a.info:hover {
	box-shadow:0 0 5px #fff;
}

.transcription .hovereffect:hover img {
	/*-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);*/
}

.transcription .hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
}

.transcription .hovereffect:hover h2,.hovereffect:hover a.info {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
}

.transcription .hovereffect:hover a.info {
	/*-webkit-transition-delay:.2s;
	transition-delay:.2s;*/
}

.transcription h2 {
	margin-top:50px;
	margin-bottom:30px;
	color:#666;
	text-transform:uppercase;
	text-align:center;
}

.transcription .jcarousel-wrapper{
	margin-bottom:20px;
	margin-top:-20px;
}
.transcription .jcarousel-control-prev {
    left: 0px !important;
}
.transcription .jcarousel-control-next {
    right:0px !important;
}
.transcription .jcarousel-control-next,
.transcription .jcarousel-control-prev {
	background-color:transparent;
	height: 45px;
	margin-top: -30px;
	padding-bottom: 20px;
	padding-top: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size:55px;
	width: 45px;
	border-radius: 0px;
	box-shadow: 0 0 0px #999999;
	text-shadow: 0px 0px 10px #000000;
}
.transcriptionSlide img{
	height:400px;
	width:auto;
}
.transcription a.jcarousel-control-prev, .transcription a.jcarousel-control-next{
	text-decoration:none;
}
.transcription a.jcarousel-control-prev:hover, .transcription a.jcarousel-control-next:hover, .transcription a.jcarousel-control-prev:focus, .transcription a.jcarousel-control-next:focus {
	color:#FFF;
}
.transcription .jcarousel-pagination {
	position: relative;
	padding:0px;
	margin:0px auto 0px auto;
	text-align:center;
}
.transcription .jcarousel-pagination a {
	text-decoration: none;
	display: inline-block;
	font-size: 1px;
	line-height: 1em;
	min-width:10px;
	width:10px;
	height:10px;
	background: #fff;
	color: #fff;
	border-radius: 25px;
	padding: 3px;
	text-align: center;
	margin-right: 5px;
	border:1px solid #666;
	opacity: .75;
}

.transcription .jcarousel-pagination a.active {
    background: #666;
    color: #666;
    opacity: 1;
    text-shadow: none;
    text-decoration:none;
}
.transcription .collectionTile {
	width:250px;
	padding-right:15px;
	margin: 5px;
	position: relative;
}
.transcription .collectionTile a {
	color: #fff;
}
.transcription .curated .collectionTile a {
	color:#fff;
}
.transcription .row.recent {
	background-color:#e2eff7;
	padding-left:30px;
	padding-right:30px;
}
.transcription .collectionTile p {
	text-align:center;
	padding-top:5px;
}

.transcription .collectionTile p {
	text-align:center;
	padding-top:5px;
}
.transcription .collectionImage {
	background-color:#f5f5f5;
	min-height:100px;
	height:235px;
}
.transcription .collectionImage img {
	width:100%;
	height:auto;
}
.transcription .collectionImageCrop {
	background-color:#f5f5f5;
	min-height:100px;
	height:235px;
	overflow:hidden;
	background-color:#ededed;
	text-align:center;
}
.transcription .collectionImageCrop img {
	height:100%;
	width:auto;
	vertical-align:middle;
	margin: 0 auto 0 auto;
}

.collectionImageContainer {
	text-align: center;
}

.transcription .startTime {
	font-size: 9px;
	float: right;
}

.transcription .saveControls {
	margin-top: 10px;
	width: 100%;
}

.transcription .completedText {
	border: 1px #ccc solid;
	background: #f0f0f0;
	padding: 15px;
}

.transcription .completedMessage {
	font-style: italic;
	font-size: 15px;
}

.transcription .otherRepresentations {
	padding: 10px;
}

.transcription .otherRepresentation {
	padding: 5px;
}

.transcription .otherRepresentation img {
	border: 2px #000 solid;
}

.transcription .otherRepresentation.selected img {
	border: 2px #cc0000 solid;
}

.transcription .unit img {
	width: unset;
}

.educationalResourcesDownloadList {
	list-style-type: none;
	padding: 0;
}

.educationalResources .repViewerCont img {
	max-width: 100%;
}

.educationalResources .landingBtn {
	font-size: 14px;
}

.educationalResources h2 { 
	margin-top:15px;
	margin-bottom:10px;
}

.educationalResources .jcarousel-wrapper {
	margin-top: 30px;
}

.educationalResources .jcarousel {
	height: 280px;
	margin-top: 30px;
}

.educationalResources .educationalResources.jcarousel-pagination a.active {
	color:white;
	background-color:white;
	opacity: 1;
}

#bMorePanel #bScrollList div {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

aside {
	float: right;
	width: 20vw;
	margin-right: -22vw;
	font-size: 14px;
	line-height: 17px;
}

blockquote aside {
	float: right;
	width: 20vw;
	margin-right: -23.5vw;
	font-size: 14px;
	line-height: 17px;
}

.storySlideshow {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 10px 0 10px 0;
}
.storySlideshowMedia {
	text-align: center;
}

.storySlideshowMedia img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

div.storySlideshowMediaNavPrevious {
	text-align: left;
}

div.storySlideshowMediaNavNext {
	text-align: right;
}

a.storySlideshowNav {
	font-size: 24px;
}

span.storySlideshowSlide {
	font-style: italic;
	font-size: 12px;
}