@page { margin: 65px 56px 35px 56px; }

@font-face {
    font-family: Constantia;
    src: url(Constantia.ttf);
}
@font-face {
    font-family: Constantia;
    src: url(Constantiab.ttf);
    font-weight:bold;
}
@font-face {
    font-family: Constantia;
    src: url(constani.ttf);
    font-style:italic;
}

body{ font-family: Constantia, serif; margin:0px; padding:0px 25px 0px 25px; font-size:12px; line-height:1.2em;}
/* wkhtml needs line height of 1.4em for body */
a, a:hover, a:focus, .detail a {
    color: #2c85b8;
}
.nowrap{
	white-space: nowrap;
}
.logo{
	text-align:center;
	padding-bottom:20px;
	margin-bottom:25px;
	border-bottom:1px solid #666;
}
.logo img{
	height:75px;
	width:auto;
	margin-top:20px;
}
/* checklist template */
.row { font-family: Constantia, serif; font-size: 11px; border-bottom: 1px solid #eee; width: 100%; height: auto; margin: 5px 0px 0px 0px; padding: 3px 0px 5px 0px; overflow: none}	
.imageCol{ width: 150px;}
.imageTiny { width: 130px; margin: 0px; text-align:center;}
.imageTiny img{ width:120px; height:auto;}
.imageTinyPlaceholder { width: 120px; height: 100px; border: 1px solid #eee; background-color: #eee; margin: 0px 5px 0px 0px;}
.displayHeader {color:#666; font-weight:bold;}
.displayValue {}
.title {font-weight:bold; font-size: 14px;}
.metadata {line-height:1.2em; margin-bottom:20px;}
/* wkhtml needs line height of 1.4em for metadata */
.metaBlock {margin-left:0px; height:auto; font-size:12px; line-height:1.2em; }
/* wkhtml needs line height of 1.2em for metadata */