/* LEGAL DISCLAIMER
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * marden.whirl-i-gig.com:8086
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Optimo webfonts are protected by copyright law and provided under license. To modify, alter, translate, convert, decode or reverse engineer in any manner whatsoever, including converting the Font Software into a different format is strictly prohibited. The webfont files are not to be used for anything other than web font use.
 *
 * optimo.ch
 */

@font-face {
	font-family: 'Practice';
	src: url('fonts/Practice-Italic.woff2') format('woff2'),
	   url('fonts/Practice-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Practice';
	src: url('fonts/Practice-Regular.woff2') format('woff2'),
	   url('fonts/Practice-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Practice';
	src: url('fonts/Practice-Semibold.woff2') format('woff2'),
	   url('fonts/Practice-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Practice';
	src: url('fonts/Practice-Semibold-Italic.woff2') format('woff2'),
		url('fonts/Practice-Semibold-Italic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}




.text-indent{
	padding-left: 25px; /* Indents the entire block to the right */
	text-indent: -25px;
}
#browseResultsContainer{
	.card-footer{
		display:none;
	}
}