<?php
	$vn_num_media = 0;
	if ($t_page = $this->getVar("page")) {
		$va_media = $t_page->getPageMedia(array("large", "medium"));
		if(is_array($va_media) && sizeof($va_media)){
			$vn_num_media = sizeof($va_media);
		}
	}
?>
<div class="container">
	<div class="row">
		<div id="sidebar" class="col-xs-12 col-md-4">
			<div class="menu-exhibitions-sidebar-container">
				<ul id="menu-exhibitions-sidebar" class="menu">
					<li class="menu-item current-menu-item "><a href="/About/collection">About the Collection</a></li>
					<li class="menu-item"><a href="/Contact/form/mode/research">Schedule a Research Visit</a></li>
					<li class="menu-item"><a href="/Contact/form">Contact</a></li>
					<li class="menu-item"><a href="/About/links">Helpful Links</a></li>
					<li class="menu-item"><a href="/About/acknowledgements">Acknowledgements</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-8 col-xs-12">
			<h1>{{{title}}}</h1>
				<div class="bodytext">
					{{{bodytext}}}
				</div>
<?php
	if($vn_num_media > 0){
?>
				<div class="bodytextImg">
					{{{media:1:page}}}
				</div>
<?php
	}
	if($vn_num_media > 1){
?>
				<div class="bodytextImg">
					{{{media:2:page}}}
				</div>
<?php
	}
	if($vn_num_media > 2){
?>
				<div class="bodytextImg">
					{{{media:3:page}}}
				</div>
<?php
	}
?>
		</div>
	</div>
</div>





