<h1>{{{title}}}</h1>
<h3>{{{subtitle}}}</h3>
<div class='container'>
	<div class='row'>
		<div class="bodytext left col-sm-6">
			{{{bodytextleft}}}
		</div>
		<div class="bodytext right col-sm-6">
			{{{bodytextright}}}
		</div>
	</div>
</div>
