
<div class="container">
	<div class="row">
		<div class="col-sm-7 col-sm-offset-1 col-md-8">
		
			<h1>{{{title}}}</h1>
			<h6>{{{subtitle}}}</h6>

			<div class="bodytext">
				{{{bodytext}}}
			</div>

		</div>
		<div class="col-sm-3 col-md-2">
			<div class='sideMenu'>
				<div class="aboutMenu"><?php print caNavLink($this->request, 'FAQ', '', '', 'About', 'faq');?></div>
				<div class="aboutMenu"><?php print caNavLink($this->request, 'Site Stats', '', '', 'About', 'stats');?></div>
				<div class="aboutMenu"><?php print caNavLink($this->request, 'Contributors', '', '', 'About', 'contributors');?></div>
				<div class="aboutMenu"><?php print caNavLink($this->request, 'Terms of Use', '', '', 'About', 'terms');?></div>
			</div>
		</div>
	</div>
</div>