/* header gray: 4d4a47; offwhite: efebe7 or f1f1e9; yellow ochre: AA8A00; */

@import url('https://fonts.googleapis.com/css?family=Cinzel');
/*
	font-family: 'Cinzel', serif;
*/
body{
	margin-top:57px;
}
@media(min-width:768px) and (max-width:1010px){
	body{
		margin-top:93px;
	}
}

/* notifications */
.front .notificationMessage{
    position: absolute;
    top: 75px;
    z-index: 1;
    width: 50%;
    margin-left: 25%;
}
.notificationMessage{
    width: 50%;
    margin-left: 25%;
}
@media(max-width:768px){
	.notificationMessage{
		width: 100%;
		margin-left: 0px;
	}
}

.navbar{
	background-repeat:repeat-x;
	background-color: #4d4a47;
	position: fixed;
	width: 100%;
	top:0px;
	-moz-box-shadow: inset 0 0 20px rgba(0,0,0, 0.4);
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0, 0.4);
	box-shadow: inset 0 0 20px rgba(0,0,0, 0.4);
}
a.navbar-brand, a.navbar-brand:hover {
    font-size: 37px;
    text-transform: none;
    color: #FFF;
    font-weight: 400;
	padding-top: 10px;
    font-family: Cinzel;
    text-transform:uppercase;
    padding-top: 10px;
	line-height: 1em;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #FFF;
    font-family: Cinzel;
}
.navbar .formOutline{
	background-color:#FFF;
	border-color:#FFF;
	border-radius: 0px;
	box-shadow:none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    margin-left:1px;
}
.navbar-default .navbar-nav > li > a:hover{
    background-color: rgb(0,0,0, .3);
    font-family:LatoLight;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow:none;
    text-transform:uppercase;
    font-family:LatoLight;
	letter-spacing:1px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgb(0,0,0, .3);
	color:#FFF;
    font-family:LatoLight;
}
@media(max-width:768px){
	.navbar-form{
		margin-left:5px;
		margin-right:5px;
	}
	.navbar-nav {
		margin: 7.5px 0px 7.5px 0px;
	}
	.container > .navbar-collapse {
		margin-right: -30px;
		margin-left: -30px;
	}
}
.navbar-form{
	-webkit-box-shadow:none;
	box-shadow:none;
}
H1, h1, h2, H2, H3, h3{
	color:#333;
/*    font-family: Cinzel;
    text-transform:none; */
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color:#AA8A00;
}
.btn-default:hover{
	background-color:#AA8A00;
	box-shadow: inset 0 0 10px #555;
}
a, a:hover{
	color:#AA8A00;
}
/* footer */

#footer{
	background-color: #f1f1e9;
	color: #4d4a47;
	padding-top:25px;
	padding-bottom:25px;
	height:200px;
	border-top:0px;
	text-align:center;
}
body{
	margin-bottom:240px;
}
#footer H2{
	color:#4d4a47;
	font-size:24px;
	text-align:center;
	font-family: Cinzel;
    text-transform:uppercase;
    margin-bottom:10px;
}
#footer .userLinks {
	color:#4d4a47;
	font-size:14px;
	margin-bottom:25px;
	font-family:LatoLight;
}

#footer .userLinks a, #footer .footerLinks a{
	color:#4d4a47;
	font-size:14px;
	text-decoration:none;
	font-family:LatoLight;
}
#footer .userLinks a, #footer .footerLinks a{
	text-transform:uppercase;
}

/* front */

.parallax {
	position:relative;
   /* background-image: url("../graphics/1.jpg"); */

    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
@media (min-width:1011px){
	.parallax {
		background-size: 100% auto;
	}
}
.hpIntro{
	background-color: rgb(0,0,0,.5);
	padding:50px;
	color:#FFF;
	font-size:24px;
	line-height:1.3em;
	margin: 100px 0px 140px 0px;
}
.hpIntro p{
	margin-top:40px;
}
#pageArea{
	padding-top:20px;
}
#pageArea.front{
	padding-top:0px;
}
.frontSlide {
    margin-right: 30px;
}
.jcarousel-pagination{
	display:none;
}
.hpBrowseLinks img{
	width:100%;
	height:auto;
}
.hpBrowseLinks{
	margin-top:20px;
	margin-bottom:20px;
}
.front H2{
	color:#4d4a47;
	font-size:24px;
	text-align:center;
	font-family: Cinzel;
    text-transform:uppercase;
}
.front .hpBrowseLinks{
	text-align:center;
	position:relative;
}
/*.front .hpBrowseLinks > div:hover img{
	opacity: .8;
	-webkit-transition: opacity .5s;
    transition:opacity .5s;
}*/
.front .hpBrowseLinks > div a.hpBrowseTextLink, .front .hpBrowseLinks > div a.hpBrowseTextLink:hover{
	opacity: 0;
	color:#FFF;
	font-size:24px;
	text-align:center;
	font-family: Cinzel;
    text-transform:uppercase;
    position:absolute;
    top:45%;
    left:0px;
    width:100%;
    text-decoration:none;
    text-shadow: 2px 2px 4px #000000;
}
.front .hpBrowseLinks > div:hover a.hpBrowseTextLink{
	opacity: 1;
	-webkit-transition: opacity .75s;
    transition:opacity .75s;
}
@media(max-width:768px){
	.front .hpBrowseLinks > div a.hpBrowseTextLink, .front .hpBrowseLinks > div a.hpBrowseTextLink:hover{
		opacity: 1;
	}
}
/* browse results */
.browseRemoveFacet{
	margin-left:5px;
}
.bResultItemBoxCol{
	margin-bottom:25px;
}
.bResultItemBox{
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    line-height: 1em;
    padding: 10px;
}
.bResultItemBoxImg{
	text-align:center;
}
.bResultItemBoxImg a img{
	object-fit:contain;
	height:200px;
	width:100%;
}
.bResultItemBoxImg.doubleImage a img {
	object-fit: contain;
    height: 200px;
    width: 45%;
}
.bResultItemBox .bResultItemBoxText {
    font-size: 11px;
	line-height: 1.2em;
	height: 3.6em;
	overflow:hidden
}
.bResultItemBox .bResultItemBoxText small, .bResultItemBox .bResultItemBoxText small a {
    color: #ABABAB;
}
.bResultItemBox .bResultItemBoxText a {
    color: #454545;
    line-height: 1.2em;
}
.bResultItemBox HR {
    margin-top: 15px;
    margin-bottom: 10px;
}
.bResultItemBox .bItemTools .fa, .bResultItemBox a .bItemTools .fa {
	font-size: 14px;
}
.bResultItemBox .bItemTools{
	position:absolute;
	right:25px;
	top:10px;
	display:none;
}
.bResultItemBox:hover .bItemTools{
	display:block;
}
.bResultItemImgPlaceholder {
    background-color: #fff;
    border: 0px;
    margin-bottom: 10px;
    padding: 80px 5px 0px 5px;
    text-align: center;
    width: 100%;
    height: 190px;
}
.bResultItemImgPlaceholder .fa {
	size:24px;
}

.results a.active .fa {
	color: #454545 !important;
}
#bViewButtons .fa-square-o{
	font-size: 20px;
	top: 1px;
	position:relative;
}
#bViewButtons .fa-th-list{
	top: 1px;
	position:relative;
}
#bRefine H5{
	color:#333;
}
#bRefine H5[type="button"]{
	cursor: pointer;
	color:#858585;
}
#bRefine hr {
	margin-bottom:0px;
}
.facetGroup.panel {
	width:250%;
	border: 1px solid #e5e5e5;
	min-height:250px;
	max-height:400px;
	overflow:hidden
}
.facetGroup.panel .container {
	overflow-y:auto;
	/*max-height:320px;*/
}
#bRefine .open .dropdown-toggle.btn-default, #bRefine .dropdown-toggle.btn-default {
	background-color:transparent;
	border-bottom:1px solid #fff;
	border-radius:0px;
	margin-left:0px;
}
#bRefine .open .dropdown-toggle.btn-default {
	font-weight:800;
	border-bottom:1px solid #333;
}
#bRefine .facetGroup li .facetItem {
    margin-bottom: 12px;
}
#bRefine .row, #bRefine .container {
	margin-bottom:0px;
}
#bRefine .row {
	max-height:250px;
	overflow-y:auto;
	margin-bottom:10px;
}
#bRefine  #bHierarchyList_place_facet {
	width:100%;
	padding-left: 15px;
}
#bRefine li .hierarchicalList .facetItem {
	margin-bottom: 22px;
}
#facetGroupplace_facet h1 {
	display:none;
}
#bAncestorList {
	font-weight:bold;
	clear:both;
}
.bScrollListHierarchy {
	clear:left;
}
<<<<<<< HEAD
#bAncestorList {
=======
/*#bAncestorList {
>>>>>>> dev/locMerge
	position:absolute;
	height:20px;
	background-color:#fff;
	width:100%;
	top: 40px;
<<<<<<< HEAD
}
=======
}*/
>>>>>>> dev/locMerge
.facetItem .glyphicon-chevron-down {
	font-size:10px;
}
.facetContainer{
	position:relative;
	padding-bottom:20px;
}
#bRefine .facetItem {
	padding-left:20px; 
}
#bRefine .facetItem[facet_item_selected="1"] {
	padding-left:20px;
}
<<<<<<< HEAD
=======
.facetItemHier{
	padding-bottom:7px;
	padding-top:2px;
	color: #666666;
	font-size: 12px;
	cursor: pointer;
}
>>>>>>> dev/locMerge
[facet_item_selected="1"]::before {
	font-family: FontAwesome;
	content: "\f067"; 
	padding-right:6px;
	position:absolute;
	left:7px;
	top:4px;
	font-size:11px;
}
<<<<<<< HEAD
.facetApply {
=======
.facetApply, .facetApplySlider {
>>>>>>> dev/locMerge
	clear:both;
	right:15px;
	display:block;
	text-align: center;
    margin-top: 20px;

}
<<<<<<< HEAD
a.facetApply {
    background-color: #ddd;
    color: #333;
    font-size: 13px;
=======
a.facetApply, button.facetApplySlider {
    background-color: #ddd;
    color: #333 !important;
    font-size: 13px !important;
>>>>>>> dev/locMerge
    border-radius: 3px;
    width:50px;
    padding-top:4px;
    padding-bottom:4px;
    margin-left: auto;
    margin-right: auto; 
    position:absolute;
    bottom:0px;
    left:0px;
<<<<<<< HEAD
}

=======
    border: 0px;
    line-height: 1.5em !important;
}
.bFacetSliderWrapper{
	padding:10px 10px 0px 10px;
}
.facetSliderRange{
	border:0px;
	width:100%;
	text-align:center;
	background:transparent;
	font-size:12px;
	padding-bottom:5px;
}
.btnSearchFacetSlider{
	font-size: 18px;
	padding-top: 0px 0px 0px 0px;
	width: 26px;
	text-align: left;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border: 0px;
}
.results .bSearchWithinContainer{
	clear:both;
	margin-top:15px;
	margin-bottom:10px;
}
#browseResultsDetailContainer .bSearchWithinContainer{
	clear:both;
	margin-top:40px;
	margin-bottom:10px;
}
.results .btn-search-refine{	
	float: left;
	font-size: 18px;
	padding-top: 0px 0px 0px 0px;
	width: 26px;
	text-align: left;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border: 0px;
}
.results .btn-search-refine .glyphicon{
	margin-top:5px;
}
.bSearchWithin, .bSearchWithin:focus {
    float: left;
    width: 80%;
    box-shadow: none;
    border: 0px;
    border-bottom: 1px solid #989697;
    border-radius: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 0px;
    height: 30px;
    font-size: 14px;
    line-height: 26px;
    background-color: transparent;
    margin: 0px 0px 0px 10px;
    font-size: 15px;
}

.results #map_map{
	margin-left:15px;
}
.leaflet-popup-content {
    min-width: 250px;
}
.leaflet-popup-content a{
	color:#333;
}
.leaflet-popup-content-wrapper{
	height:150px;
	overflow-y:scroll;
}
>>>>>>> dev/locMerge

/* detail */

.detailMainArea{
	margin-top:20px;
}
.detailMedia{
	text-align:center;
}
.detailMedia img{
	width:100%;
	height: auto;
}
.detailMedia .detailMediaToolbar{
	display:inline-block;
	position:relative;
	background-color:#FFF;
}
.detailMedia .detailMediaToolbar .setsButton{
	display:none;
}
.detail hr{
	border-top:2px solid #dedede;
}
.detailMedia .detailMediaCaption{
	text-align:center;
	padding-top:10px;
	font-size:11px;
}
.detail #detailTools {
	margin-top:0px;
	padding-top:0px;
}
.detail .detailTool{
	font-size: 10px;
	padding: 2px;
}
@media(min-width:992px){
	#detailTools {
		float:right;
	}
}
.detail H4{
	font-size:17px;
	padding-top:7px;
}

.detail .authoritySection{
	background-color: #f1f1f1;
	padding:10px;
<<<<<<< HEAD
=======
	margin-bottom:20px;
}
.detail .notesSection{
	background-color: #f8f8f2;
	padding:10px;
	margin-bottom:20px;
>>>>>>> dev/locMerge
}
.detail a {
    color: #454545;
}
<<<<<<< HEAD
=======
.detail .unit a {
    color: #454545;
    text-decoration:underline;
}
>>>>>>> dev/locMerge
.detail a .glyphicon {
    color: #999;
    font-size:10px
}
<<<<<<< HEAD
=======

.detail .unitSub{
	padding-bottom:5px;
}
>>>>>>> dev/locMerge
/* lightbox */
#pageArea.lightbox{
	padding-bottom: 250px;
}


/* forms */
.form-control:focus {
	border-color: #000;
}
.attributeListItem{
	width:100%;
}

#gallerySetInfo .caption{
	display:none;
}