@import "style";
.crSpinner{
	position: absolute;
	left: 50%;
}
.archive_landing section.intro{
	padding-top: 80px;
}
.archive_text_based ol, .archive_text_based ul, archive_text_based li,
.cr_text_based ol, .cr_text_based ul, .cr_text_based li{
	margin-left:0px;
	padding-left:20px;
}
.cr_text_based .columns h2.subheadline-bold.terms {
	margin-bottom:0px !important;
}

.capitalize{
	text-transform:capitalize;
}
.capitalizeFirst::first-letter{
	text-transform:capitalize;
}
.img-wrapperPDF{
	margin-top:30px;
}
.diva-button {
	display: inline-block !important;
	cursor: pointer !important;
	height: 34px !important;
	width: 34px !important;
	line-height: 34px !important;
	-webkit-appearance: none !important;
	padding: 3px !important;
	background-color: #F1F1F1 !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	border: 1px solid #AAA !important;
}
#diva-1-goto-page-submit{
	padding-top:0px !important;
}
.diva-input{
    height: 34px !important;
    border: 1px solid #AAA !important;
    padding: 0 0.5em !important;
}
.diva-goto-page-input {
    width: 4em !important;
}
.diva-1-current-page{
	color:#FFF !important;
}
.diva-page-label, .diva-zoom-label{
	color:#FFF !important;
}
.bibliography_detail .diva-1-current-page, .bibliography_detail .diva-page-label, .bibliography_detail .diva-zoom-label{
	color:#333230 !important;
}
.diva-outer{
	border:0px !important;
}
.caMediaOverlayControls{
	display:none;
}

/* apply filter button */
BODY.collective-access .ca_filters .options-filter-widget .filter-apply{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}
BODY.collective-access .ca_filters .options-filter-widget .option_values .inner{
	padding-bottom:50px;
}
BODY.collective-access .ca_filters .options-filter-widget .option_values {
	height: 300px;
}
/* contact form */
#contactForm .ca-form{
	width:100%;
}
ul.form {
	padding-left:0px;
	margin-left:0px;
	margin-top:30px;
}
/* responsive browse filters */
BODY.collective-access .ca_filters .options-filter-widget {
	display:block;
}
@media(min-width:769px) and (max-width:1024px){
	BODY.collective-access .ca_filters .current .tags {
		margin-top: 0px;
		margin-left: 0px;
		clear: left;
	}
}
@media(max-width:768px){
	BODY.collective-access .ca_filters .current{
		float:none;
	}
	BODY.collective-access .ca_filters .options-filter-widget .options SPAN {
		float: none;
		display: block;
	}
	BODY.collective-access .ca_filters .options-filter-widget {
		display:block;
	}
	BODY.collective-access .ca_filters .options-filter-widget .options {
		float: none;
	}
	BODY.collective-access .ca_filters .options-filter-widget .options A{
		display:block;
		margin:0px;
		float: left;
		/*width: 33%;*/
		padding: 9px 24px 7px 12px;
		background-position: right 8px center;
		margin-left:-1px;
	}
	BODY.collective-access .ca_filters .options-filter-widget .options A:hover{
		z-index:100;
		position:relative;
	}
	BODY.collective-access .ca_filters .options-filter-widget .options A:first{
		margin-left:0px;
	}
	BODY.collective-access .ca_filters .options-filter-widget .option_values .ul-options{
		columns:1;
	}
	
	BODY.collective-access .ca_filters .current .tags {
		margin-top: 5px;
    	margin-left: 0px;
    }
    BODY.collective-access .ca_filters .current > DIV{
    	float:none;
    }
    BODY.collective-access .ca_filters .current .tags A{
    	display:block;
    	text-align: center;
    	margin-top:-1px;
    }
}

MAIN.my_documents_landing{
	padding-top:0px;
}

MAIN.my_documents_landing .results .block-half {
    padding-bottom: 20px;
    border-bottom: 1px solid #D8D8D8;
}
MAIN.my_documents_landing .results .columns > .col {
    margin-bottom: 10px;
}
MAIN.my_documents_landing .results .columns > .col{
	width:100%;
}
@media (min-width: 1025px) {
    MAIN.my_documents_landing .results .columns > .col.title {
    	width: 50%; 
    }
    MAIN.my_documents_landing .results .columns > .col.info {
    	width: 35%;
    	text-align:center;
    }
    MAIN.my_documents_landing .results .columns > .col.infoNarrow {
    	width: 15%;
    	text-align:center;
    }
    MAIN.my_documents_landing .results{
		margin-left:15%;
		margin-right:15%
	}
}
MAIN.my_documents_landing .results A:hover .title {
    text-decoration: underline;
}
MAIN.my_documents_landing .results .button{
	line-height: 39px;
	height: 40px;
	padding: 0px 20px;
}
MAIN.my_documents_landing .easy-edit-button{
	margin: 0 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #999;
    background-color: transparent;
    border-radius: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.2s ease-out;
    line-height: 39px;
    height: 40px;
    padding: 0px 20px;
}
MAIN.my_documents_landing .easy-edit-button:hover{
	background-color: #999;
    color: #fff;
    border-color: #999;
}
MAIN.my_documents_landing .easy-edit-component-wrapper{
	margin-right:10px;
}
.lightbox_headline {
  margin-top: 20px;
}
.lightbox_headline H2{
	margin-top:10px;
}
@media (min-width: 1025px) {
	.lightbox_headline H2{
		font-size:20px;
	}
}
.smallButton a{
	display: inline-block;
	border: 1px solid #D8D8D8;
	padding: 6px 6px 4px 7px;
	text-transform: uppercase;
	font-family: 'NH-Text-55', 'Helvetica', 'Arial', sans-serif;
	letter-spacing: 1.25px;
	color: #999; 
	line-height: 14px;
	font-size:10px;
	cursor: pointer;
}
.grid-ca-lightbox .smallButton {
	margin-top:25px;
}
.grid-ca-lightbox span.folderIcon {
    background-image: url("../img/icon_image_collection.svg");
    display:inline-block;
    background-color: #828282;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    width: 28px;
    height: 27px;
}
.grid-ca-lightbox h2.noResults{
	line-height:1.5em;
	margin-bottom:100px;
}

.lightbox_list {
  border: 1px #333 solid;
}

.back_to_lightbox {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
BODY.collective-access div.lightbox_management {
	position: absolute;
	top: 9px;
	left: 10px;
}
MAIN.archive_detail .img-container .actions {
	left:40px;
}
BODY.collective-access div.lightbox_management  .utility-container .utility {
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: unset;
  padding: 0px 0px 00px 0px; }

BODY.collective-access div.lightbox_management .utility-container {
  border-bottom: 0px solid #D8D8D8;
  padding: 0 0 0 0;
  position: relative;
  z-index: 119;
  width: 250px;
}

BODY.collective-access div.lightbox_management .utility-container .utility .trigger:after {
  content: '';
  display: block;
  width: 21px;
  height: 18px;
  background-image: url("../img/icon_image_collection.svg");
  top: 0;
  right: -20px;
  position: absolute;
  z-index: 100;
  background-color: unset;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
  background-repeat: no-repeat; }

A.lightbox_trigger {
  background-image: url("../img/icon_image_collection.svg");
}
div.lightbox_add_remove_list {
  margin-bottom: 15px;
  padding: 5px 15px 20px 15px;
  margin-top: -10px;
}
BODY.collective-access div.lightbox_management .utility-container .utility.utility_menu .options .eyebrow {
	color:#000
}
BODY.collective-access div.lightbox_management .utility-container .utility.utility_menu .options A{
	line-height: 18px;
	white-space:normal;
	padding-top:10px;
	color:#999;
}
BODY.collective-access div.lightbox_management .utility-container .utility.utility_menu .options A:hover{
	color:#000;
	text-decoration:none;
}
