/* red #7D092D; yellow:#EBAA00; link blue: #0A60B0; Teal: #1A737E; dark teal #173F4D; Navy #0E2B47; light grey: #C1C2C4;  */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,600&display=swap');
.container {
  max-width: 1500px;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	font-size: 18px;
	color: #000;
	margin-bottom:320px;
}
a, a:hover {
  color: #0A60B0;
}
nav.navbar{
	background-color:#7D092D;
  	margin-bottom:100px;
}
.navbar-brand {
  width: 250px;
  position:relative;
  padding-top:15px;
}
.logoMiller {
  position: absolute;
  bottom: -37px;
  width: 100%;
  text-align: center;
  left: 10px;
}
logoMiller img {
	width: 90%;
	margin-left: 12px;
	margin-top: -15px;
}
@media (min-width: 768px) and (max-width:1010px){
	.navbar-brand, .navbar-brand img {
		width: 160px;
	}
	.navbar-brand img {
		margin-top:7px;
	}
	.logoMiller {
		position: absolute;
		bottom: -20px;
		width: 100%;
		text-align: center;
		left: 10px;
		background-color: #FFF;
	}
	.logoMiller img {
		width: 90%;
		margin-left: -0px;
		margin-top: 0px;
	}
}
nav.navbar{
	-webkit-box-shadow: none;
	box-shadow: none;
}
@media (min-width: 768px){
	.navbar-nav > li > a {
		padding-top: 32px;
		padding-bottom: 36px;
	}
	.nav > li.dropdown > a.icon{
		padding-top:30px;
	}
}
.navbar-default .navbar-nav .dropdown-menu > li > a{
	font-size:14px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #7D092D;
}
.navbar-default .navbar-nav > li > a{
	color:#FFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
	font-size: 16px;
}
.navbar .navbar-nav > .active > a{
	color:#EBAA00;
  	background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #EBAA00;
	background-color: transparent;
}
.navbar .navbar-nav > .active > a:hover {
	color: #EBAA00;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	color: #EBAA00;
}
@media (min-width: 768px){
	.navbar .formOutline {
	  margin-left: 20px;
	  background-color: #FFF;
	  border:0px;
	  margin-top: 15px;
	}
	#pageArea{
		padding-left:5px;
		padding-right:5px;
	}	
}
.navbar .formOutline {
	background-color: #FFF;
}
@media (max-width: 768px){
	.navbar .formOutline {
	  top: -10px;
	}
	#user-navbar-toggle{
		background-color:#7D092D;
		z-index:100;
		position: relative;
	}
}
.navbar-toggle {
	padding-bottom: 12px;
	padding-top: 11px;
}
.navbar-toggle-user{
	padding: 6px 10px 6px 10px;
}
#headerSearchButton{
	color:#000;
}
.advancedSearchLink{
	display:inline-block;
	margin-left:20px;
	color:#FFFFFF;
	font-size:12px;
}
.advancedSearchLink:hover{
	color:#FFFFFF;
	text-decoration:underline;
}
@media (min-width: 992px) and (max-width:1064px){
	.navbar-form .form-group {
		width: 100px;
	}
}
#footer {
	margin: 0px 0px 0px 0px;
	border-top: none;
	font-size: 12px;
	color: #FFF;
	line-height: 2.2em;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 240px;
	padding: 30px 15px 0px 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	background: #173F4D;
	text-align:center;
}
#footer HR{
	margin-top:30px;
	margin-bottom:30px;
}
H1{
	font-family: 'Playfair Display', serif;
	font-size:36px;
	color:#000;
	text-transform:none;
}
#footer ul a {
	color: #EBAA00;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	font-size:18px;
}
#footer ul{
	margin-top:40px;
}
#footer .social a{
	font-size:20px;
}
/*
.navbar-brand {
  width: 250px;
}
.navbar-default .navbar-nav > li > a{
	color:#7D092D;
	font-family:Lato;
	font-weight: bold;
	font-size: 16px;
}
@media (min-width: 768px){
	.navbar-nav > li > a {
	  padding-top: 46px;
	  padding-bottom: 46px;
	}
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #7D092D;
}
.navbar .navbar-nav > .active > a{
	color:#000000;
	text-decoration:underline;
  	background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #EBAA00;
	background-color: transparent;
}
.navbar .navbar-nav > .active > a:hover {
	color: #EBAA00;
}
*/
.results H1 {
  font-size: 24px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight{
	background-color:transparent;
}
.detail .detailNavBgLeft a, .detail .detailNavBgRight a {
  color: #000;
}
a.readmore-js-toggle {
  padding-top: 10px;
  color: #7D092D;
}
.btn-default, .browse .btn, .sets .btn {
  background-color: #1A737E;
}
.results H1{
	text-transform:capitalize;
}
.front H1{
	color:#000;
	text-align:center;
	font-family: 'Playfair Display', serif;
	margin-top:40px;
}
.front H2{
	color:#000;
	text-align:center;
	font-family: 'Playfair Display', serif;
	margin-top:60px;
}
.front .btn-default{
	width:100%;
	padding:20px;
	display:block;
	text-align:center;
}
.detail .btn-default, .detail .btn-default:hover{
	color:#FFF;
}
.hpExploreButtons div{
	margin-bottom:30px;	
}
#caMediaPanelContentArea .close, #caMediaPanelContentArea .close a{
	color:red;
	opacity:1;
}
/* results */
#bRefine a {
  color: #000;
  font-size: 14px;
  line-height: 146%;
}
#bRefine H2 {
  font-size: 20px;
  text-transform: capitalize;
  color: #000;
  margin-top: 0px;
  font-family: 'Playfair Display', serif;
}
#bRefine H5, #bRefine H3{
	color: #7D092D;
}

/* capstones */
.landing.capstones H2{
	color:#000;
	text-align:center;
	font-family: 'Playfair Display', serif;
	margin-top:60px;
	margin-bottom:20px;
	font-size:22px;
}
.landing.capstones .btn-default{
	width:100%;
	padding:20px;
	display:block;
	text-align:center;
}
/* gallery */
@media (min-width: 768px){
	.gallery{
		position:relative;
	}
	.gallery #galleryDetailImageArea #galleryDetailImageWrapper{
		display:block;
	}
	.gallery #galleryDetailImageArea .galleryVertical #galleryDetailImageWrapper{
		height:70vh;
	}
	.gallery #galleryDetailImageArea .galleryHorizontal #galleryDetailImageWrapper{
		height:50vh;
		margin-left:60px;
		margin-right:60px;
	}
	.gallery #galleryDetailImageArea img{
		height:100%;
		width:100%;
		max-height: 100%;
		max-width: 100%;
		object-fit:contain;
	}
	.gallery .galleryDetailNext, .gallery .galleryDetailPrevious {
		top: 45%;
	}
	.gallery #galleryDetailImageArea {
		height: auto;
	}
}
#galleryDetailObjectInfo {
	padding-left: 60px;
	padding-right: 60px;
}
#galleryDetailObjectInfo .unit{
	font-size:17px;
	padding-bottom:20px;
	text-align: center;
}
.galleryIntroOverlay{
	position:absolute;
	width:100%;
	height:100vh;
	background-color: rgba(255,255,255,.7);
	text-align:center;
	z-index:1000;
	left:0px;
}
.galleryIntroOverlay H1{
	color:#FFF;
}
.galleryIntroOverlay p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:20px;
	color:#FFF;
	margin-bottom:30px;
}
.galleryIntroOverlay .galleryIntroOverlayContent{
	margin-top:10%;
	background-color: rgba(0,0,0,.8);
	max-width:550px;
	margin-left:auto;
	margin-right:auto;
	padding:30px;
}
.galleryIntroOverlay .btn-default{
	font-size:18px;
	padding:10px;
}

.aboutContact img{
	width:100%;
	max-width:200px;
	height:auto;
	margin-bottom:30px;
}
