@font-face {
    font-family: hkgrotesque;
    src: url('fonts/HKGrotesk-Regular.woff');
    font-weight: normal;
    font-style:regular;
}
@font-face {
    font-family: hkgrotesque;
    src: url('fonts/HKGrotesk-Italic.woff');
    font-weight: normal;
    font-style:italic;
}
@font-face {
    font-family: hkgrotesque;
    src: url('fonts/HKGrotesk-Bold.woff');
    font-weight: bold;
    font-style:regular;
}
@font-face {
    font-family: hkgrotesque;
    src: url('fonts/HKGrotesk-BoldItalic.woff');
    font-weight: bold;
    font-style:italic;
}
/* This might be a bad idea but we're trying it */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	padding-right:10px;
	padding-left:10px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
	font-family:hkgrotesque !important;
	margin-bottom:160px !important;
	color: #161616;
	font-size:15px !important;
	line-height:21px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body.noMargin {
	margin-bottom:0px !important;
	background-color:#fff;
}
#pageArea {
	margin-bottom:50px;
}
body.noMargin #pageArea{
	margin-bottom:0px;
}
.col-xs-12.first {
	padding:0px;
}
h1, h1 i {
	font-family:hkgrotesque;
	color:#161616;
	text-transform:none;
	font-size:24px;
	font-weight:200;
	margin-bottom:15px;
	line-height:38px;
	font-weight:bold;
}
h2 {
	font-family:hkgrotesque;
	font-weight:bold;
	font-size:24px;
	line-height:30px;
	color:#161616;
	margin-top:0px;
	margin-bottom:0px;
}
.results h2 {
	font-weight:normal;
	display:inline-block;
}
h3, .multisearch h3, h3 a, h3 a:hover {
	font-family: hkgrotesque;
    font-weight: bold;
    color: #161616;
    text-transform: none;
    font-size:21px;
    line-height:28px;;
    text-decoration:none;
}
.multisearch H3 a, .multisearch H3 a:hover {
    color: #161616;
}
h4 {
	font-height:bold;
	font-size:21px;
	line-height:32px;
}
h5 {
	font-size: 15px;
	line-height:21px;
	font-family: hkgrotesque;
}
.results h5 {
	margin-left:0px;
}	
h6 {
	text-transform:none;
    color: #161616;
    font-size: 16px;
    font-family: hkgrotesque;
    padding: 0px 0px 10px 0px;
    display: inline-block;
}
small {
    font-size: 85% !important;
}
b, strong {
	font-family: hkgrotesque;
}
a, a:hover, a:focus {
	color:#161616;
}
/*a:focus {
	outline: thin dotted #fff;
}*/
.btn-default {
	font-family: hkgrotesque;
}
.navbar {
	margin-bottom:30px;
	box-shadow:none;
	border-bottom: 1px solid #d6d6d6;
	min-height:70px;
}
.navbar-nav {
	float: none;
}
.navbar.front {
	border:0px;
	padding-left:4px;
}
.navbar-brand {
	padding-top: 17px;
    width: 234px;
    padding-right: 60px;
    padding-left: 10px;
    margin-right: -30px;
}
.navbar-brand {
	background-image: url('../graphics/beta-small.png');
	background-repeat:no-repeat;
	background-position: 190px 40px;
}
.front .navbar-brand {
	background-image:none;
}
.comma {
	display:inline-block;
	margin-left:-3px;
}
.navbar-default .navbar-nav > li > a {
	color:#161616;
	font-family:hkgrotesque;
	text-transform:uppercase;
	font-weight:bold;
	font-size:18px;
	letter-spacing:1px;
	padding: 3px 8px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 17px;
    border:1px solid transparent;
}
.navbar .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: #fff;
    color: #161616;
    border: 1px solid #d6d6d6;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-size:18px;
}
.navbar .formOutline {
	border:0px;
	border-radius:0px;
	background-color:#fff;
	box-shadow:none;
	border:1px solid #d6d6d6;
	margin-left:0px;
}
.navbar-default .navbar-collapse {
	text-align:center;
}

@media (min-width: 768px) and (max-width: 1126px){
	.navbar-nav {
		float:left;
	}
	.front .navbar-nav {
		float:none;
		display:inline;
	}
	.front #searchDiv {
		width: calc(100% - 200px);
    	left: 115px;
    	
	}	
}
.navbar .form-control, .navbar .btn-search {
	background-color:transparent;
}
.navbar .form-control {
	height: 40px;
	font-size:14px;
	color: #161616;
	float: left;
    width: calc(100% - 35px);
}
.navbar .btn-search {
	float:right;
	background-color:#757575;
	border-radius:0px;
	color:#fff;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
}
.navbar .btn-search:hover {
	background-color:#161616;
}
.navbar-form {
	margin-top:14px;
	padding-left:0px;
	padding-right:0px;
}
#searchDiv {
	display:none;
	position:absolute;
	width: calc(100% - 530px);
	left:265px;
	z-index:2;
}
#searchToggle {
	float: right;
    padding-right: 20px;
    padding-top: 25px;
}
#searchToggle img {
	height:16px;
	width:16px;
}
.leftGlass {
	float: left;
    padding: 10px 8px;
}
.leftGlass img{
	height:16px;
	width:16px;
}
.menuRight {
	border-left:1px solid #d6d6d6;
	float:right;
	font-weight:bold;
	width:100px;
    text-align: left;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 6px;
    margin-top: 13px;
    line-height: 1.2em;
    font-size:13px;
    line-height:15px;
}
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active { 
	background-color:#888;
	letter-spacing:0px;
	outline:0px;
	border:0px;
}
.collapseSearch, .collapseLink {
	display:none !important;
}
@media (min-width: 768px) and (max-width: 1125px){
	.navbar-nav > li {
    	float: none;
    	display: inline-block;
	}
	.navbar-nav {
		margin: 0;
		display: inline-block;
		clear: both;
		/* float: none; */
		width: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
    }	
    .navbar-default .navbar-nav > li > a {
    	margin-top:20px;
    	margin-bottom:12px;
    }
}
@media (min-width: 768px){
	.navbar-form .form-group {
		width: calc(100% - 75px);
		text-align:left;
	}
	.navbar > .container .navbar-brand {
		margin-left:0px;
	}
	.navbar-nav {
		margin: 0;
		display:inline-block;
	}
}
@media (max-width: 767px){
	.navbar .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover {
	    text-align: center;
    	margin: auto;
    	display: block;
    	clear: both;
	}
	.navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover {
		border:1px solid transparent;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active > a {
		color: #757575;
	}
	.navbar-default .navbar-nav > li > a {
		margin-top:0px;
	}
	.menuRight {
		display:none;
	}
	#searchToggle {
		display:none;
	}
	.collapseSearch, .collapseLink {
		display:block !important;
	}
	.collapseSearch .btn-search {
		top:0px;
		right:0px;
	}
	.navbar .collapseSearch .formOutline {
		height:43px;
	}
	.collapseSearch .navbar-form {
		margin-left:0px;
		margin-right:0px;
	}
	.collapseSearch .navbar-form .form-group {
		width:95%;
	}
	.navbar-form .form-control {
		padding-top:0px;
	}
}
#footer {
	position:absolute;
	bottom:0px;
	height:160px;
	width:100%;
	padding-right:15px;
	padding-left:15px;
	border-top:1px solid #d6d6d6; 
	padding-top:30px;
	margin:0px;
	z-index:10000;
	font-family:hkgrotesque;
	color: #161616;
	font-size:15px;
	line-height:21px;
}
#footer .footerLink {
	display:inline-block;
	padding-right:10px;
	padding-left:0px;
	color:#161616;
}
#footer .footerLink.space {
	padding-left:5px;
}
#footer .socialLink {
	display:inline-block;
	padding-left:25px;
	font-size:18px;
}
#footer .socialLink a{
	color:#161616;
}
#footer .footerlink a, #footer a {
	color:#161616;
	text-decoration:underline;
}
#footer .footerTitle {
	font-size:30px;
	line-height: 28px;
    padding-top: 5px;
}
#footer .footerTitle a {
	text-decoration:none;
}

/* Homepage */


.projectInfo {
	font-size:75px;
	line-height:65px;
	font-weight:bold;
	padding-top:50px;
}
.projectInfo .mr { 
	color: #161616;
}
.projectInfo .wop { 
	color: #757575;
	margin-bottom:35px;
}
.projectInfo .credit {
	font-size:21px;
	line-height:21px;
	color:#161616;
	font-weight:normal;
	margin-bottom:60px;
}


.carousel-control.left, .carousel-control.right {
	background-image:none;
}

.img-responsive{
	width:100%;
	height:auto;
}

.carousel-inner .active.left {
	left: -50%;
}
.carousel-inner .active.right img{
	display:none;
}
.carousel-inner .active.right .second img{
	display:block;
}
.carousel-inner .next {
	left:  50%;
}
.carousel-inner .prev {
	left: -50%;
}
.active > div:first-child {
	display:block;
}
.active > div:first-child + div {
	display:block;
}
.active > div:last-child {
	display:none;
}

.carousel-control.left,.carousel-control.right {
	background-image:none;
}
#focusImgWrapper {
	height:730px;
}
#focusImg {
	height:730px;
	text-align:center;
}
#focusImg img  {
    max-height: 730px;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height:100%;
}
.carouselDiv {
	margin-left:-10px;
}
.carouselDiv .item {
	height:555px; 
}
.carouselDiv .item img {
	height:100%;
	width:calc(100% - 55px);
	max-height:100%;
	max-width:100%;
}
.slide {
	text-align:left;
}
.slide.second img {
	text-align:right;
}

.carousel-control.left, .carousel-control.right {
	position:relative;
	top:15px;
}
.carousel-control.left {
	left:15px;
}
.carousel-control.right {
	left:30px;
}
.row.gray {
	background-color:#f3f3f3;
	margin-top:100px;
	margin-bottom:60px;	
}
.row.gray .textArea{
	padding-top:105px;
	padding-bottom:105px;
	font-size:30px;
	line-height:38px;
}
.browseTile {
	width:20%;
	float:left;
}
.browseTile img {
	width:100%;
	height:auto;
}
.dateLabel {
	font-size:21px;
	text-align:center;
	padding-top:20px;
}
.browseTile a:hover {
	text-decoration:none;
}
.decadesArea {
	padding-bottom:20px;
}
.browseHeader {
	font-weight:bold;
	padding-bottom:18px;
	font-size:18px;
}
.browseFacetTile {
	float:left;
}
.browseFacetTile.one{
	padding-right:35px;
	padding-left:35px;
	margin-left:-25px;
}
.browseFacetTile.two{
	padding-right:35px;
	padding-left:35px;
}
.browseFacetTile.three{
	padding-left:35px;
	padding-right:35px;
	margin-right:-35px;
}
.browseFacetTile img {
	width:100%;
	height:auto;
}
.bioPic {
	padding:25px;
	padding-left:10px;
	width:40%;
	float:left;
}
.bioPic img {
	width:100%;
	height:auto;
}
.bioText {
	padding-top:25px;
	padding-left:25px;
	float:left;
	clear:right;
	font-size:30px;
	line-height:38px;
	width:60%;
}
.bioText small{
	display:block;
	font-size:15px !important;
}
.row.footer div{
	text-align:center;
	margin-bottom:20px;
	font-size:15px;
	line-height:18px;
}
.row.footer .socialLink {
	padding-right:15px;
	padding-left:15px;
}
.row.footer {
	margin-bottom:60px;
} 
.homeLeft {
	float:left;
	width:45%;
}
.homeRight {
	float:right;
	width:50%;
}
.phoneOnly {
	display:none;
}
@media (min-width:1024px) and (max-width:1310px){ 
	.projectInfo {
    	font-size: 55px;
    	line-height: 50px;
    }
    .projectInfo .wop {
    	margin-bottom:25px;
    }
    .projectInfo .credit {
    	font-size:17px;
    	margin-bottom:40px;
    }
    .carouselDiv .item {
    	height: 350px;
	}
	#focusImgWrapper, #focusImg {
		height:570px;
	}
} 
@media (min-width:1024px) and (max-width:1195px){ 
	.carouselDiv .item {
    	height: 285px;
	}	
}
@media (min-width:768px) and (max-width:1024px) {
	.carousel-inner {
		display:none;
	}
	.projectInfo .credit {
		line-height:30px;
	}
	.credit b {
		clear:both;
		display:block;
	}
	#focusImgWrapper, #focusImg {
		height:570px;
	}	
}
@media (min-width:768px) and (max-width:850px) {
	.projectInfo {
		font-size:60px;
		line-height:55px;
	}
	.projectInfo .credit {
		font-size:18px;
		line-height:24px;
		margin-bottom:20px;
	}
	#focusImgWrapper, #focusImg {
		height:400px;
	}
}
@media (max-width:768px) {
	.phoneOnly {
		display:block;
	}
	.homeRight .projectInfo, .carousel-inner {
		display:none;
	}
	.homeLeft, .homeRight {
		width:100%;
		float:none;
	}
	.carousel {
		text-align:center;
	}
	#focusImgWrapper, #focusImg {
		height:375px;
	}
	.carousel-control.left {
		left:-10px;
	}
	.carousel-control.right {
		right:0px;
		left:10px;
	}	
	.projectInfo {
		text-align:center;
		padding-top:0px;
	}
	.credit b {
		clear:none;
		display:inline;
	}
	.projectInfo .wop {
		margin-bottom:15px;
	}
	.projectInfo .credit {
		margin-bottom:40px;
	}
	.browseFacetTile.one, .browseFacetTile.two, .browseFacetTile.three {
		padding-left:10px;
		padding-right:10px;
	}
	.browseFacetTile.one {
		margin-left:-5px;
	}
	.browseFacetTile.three {
		margin-right:-10px;
	}
	#bRefineButton {
		display:none;
	}
}
@media (max-width:565px) {
	.projectInfo {
		font-size:50px;
		line-height:45px;
	}
	.projectInfo .credit {
		line-height:28px;
	}
	.credit b {
		clear:both;
		display:block;
	}	
}


/*
.frontBanner img{
	width:100%;
	height:auto;
}
.navbar.front {
	border-bottom:0px;
}		
.noMargin .container.first {
	padding:0px;
}
.noMargin .row.first {
	margin:0px;
}
.noMargin .col-xs-12.first {
	padding:0px;
}
.pageTitle {
	position:relative;
	bottom:220px;
	left:50px;
	margin-bottom:-182px;
	width:50%;
}
.pageTitle .lineOne{
	color:#fff;
	font-size:60px;
	line-height:60px;
	font-weight:bold;
}
.pageTitle .lineTwo{
	color:#fff;
	opacity:.7;
	font-size:60px;
	line-height:60px;
	font-weight:bold;
}
.pageTitle .lineThree{
	color:#fff;
	opacity:.9;
	font-size:20px;
	padding-top:10px;
}
.workCaption {
	color:#fff;
	position:relative;
	bottom:80px;
	right:50px;
	font-size:13px;
	float:right;
	margin-bottom:-90px;
}
.workCaption a {
	color:#fff;
	text-decoration:underline;
}
.moreInfo {
    text-align: center;
    bottom: 20px;
	float:none;
	display:none;
}
.moreInfo img{
	width:16px;
	height:16px;
}
.expandedFrontBanner {
	background-color:#fff;
	display:block;
	padding:50px 30px;
	font-size:18px;
	line-height:28px
}
.expandedFrontBanner img {
	width:100%;
	height:auto;
}
.expandedFrontBanner .homeTitle {
	font-size:26px;
	padding-bottom:10px;
}
.expandedFrontBanner .copyright {
	font-size:14px;
	padding-bottom:20px;
}
.homeLinks {
	font-size:14px;
}
.homeLinks .footerLink {
	display:inline-block;
	font-size:13px;
	padding-right:5px;
	padding-bottom:10px;
}
.homeLinks .footerLink.space {
	padding-left:5px;
}
.homeLinks .socialLink {
	display:inline-block;
	font-size:16px;	
	padding-right:20px;
}
.homeLinks .footerLink a {
	text-decoration:underline;
}
*/
#backToTop {
	position:absolute;
	right:30px;
	bottom:170px;
	text-align:center;
	font-weight:bold;
}
#backToTop img{
    width: 14px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: block;
}
/* Multisearch */

.multisearch .blockResults {
	margin-bottom:0px;
}
.multisearch .authoritySet a:hover {
	text-decoration:none;
}
.multisearchSort ul {
	padding-left:5px;
}
.multisearchSort ul li {
	margin-right:2px;
}
.multisearchSort ul li a {
	text-decoration:none;
	color:#333;
}
.multisearchSort ul li.selectedSort a {
	font-weight: 800;
    color: #333;
}
.multisearchSort ul li a::after {
	content: ' |';	
}
.resultCount {
	text-transform:lowercase;
}
.bResultItem {
	box-shadow:none;
	background-color:#fff;
	border:0px;
	margin:0px;
	min-height:0;
	position:relative;
	border: 1px solid #d6d6d6;
	padding-left:15px;
	padding-right:15px;
}
.bResultItem:hover {
	margin:0px;
	min-height:0;
}
.bResultItem:hover .fa-2x, .fa-2x{
    font-size: 26px;
}
.bResultItem .bResultItemImg {
    height: 220px;
    position: relative;
    vertical-align: middle;
    text-align:center;
    width:100%;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    max-height:none;
}
.bResultItem .imgContainer {
    display: table;
    width: 100%;
}
.bResultItem:hover .bResultItemImg {
    height: 220px; 
}
.bResultItem .bResultItemText .resultLabel a, .detail .resultLabel a{
	font-weight:bold;
	color: #161616;
}
.bResultItemImgPlaceholder {
	border:0px;
	background-color:#fcfcfc;
}
.bResultItem .bResultItemText, .bResultItem .bResultItemText a {
	font-size:14px;
	color: #757575;
	line-height:21px;
}
.bResultItem .bResultItemText a:hover {
	text-decoration:none;
}
.bResultItem .bResultItemText p {
	line-height:21px;
	margin:0px;
}
.bResultItem .bResultItemText .catno, .multisearch .bResultItemText .catno {
	position: absolute;
	bottom:10px;
	left:15px;
	background-color:#fff;
}
.bResultItem img {
	height: auto;
    width: auto;
    max-height: 200px;
    max-width: 100%;

}
.bResultItem .compare_link img {
	opacity:.3;
}
.bResultItem .compare_link img:hover {
	opacity:1;
}
.bResultItemCol {
    height: 402px;
}
.bResultItemContent, .bResultItem:hover .bResultItemContent {
    height: 360px;
}
.bResultItem:hover {
	z-index:0;
	border: 1px solid #161616;
}
.bResultItem .compareIcon:hover {
	opacity: 1;
}
.hitCount {
    font-size: 24px;
    line-height: 30px;
    color: #161616;
    margin-top: 0px;
    margin-bottom: 0px;	
}
.compareIcon {
	width:18px;
	height:20px;
	opacity:.3;
	background: url('../graphics/rothko-compare.svg');
	background-size:20px;
}
.multisearch #exhibitionsBlock .authorityResult, .multisearch #referencesBlock .authorityResult{
	height:65px;
	line-height:1.4em;
}
.multisearch .authorityResult p{
	font-size:12px;
	font-weight:400;
	margin:0px;
	line-height:1.4em;
}
.multisearch .authorityResult {
	font-size:12px;
}
.multisearch #exhibitionsBlock .blockResults, .multisearch #referencesBlock .blockResults {
	height:230px;
}
.multisearch #exhibitionsBlock .blockResultsScroller, .multisearch #referencesBlock .blockResultsScroller {
    height: 230px;
}
.multisearch #exhibitionsBlock .authoritySet, .multisearch #referencesBlock .authoritySet {
	height:220px;
	width:290px;
}
.multisearch .authoritySet a {
    font-size: 14px;
    color: #161616;
}

.multisearchFullResults a {
	text-transform:none;
	border-bottom:1px solid #757575;
	color:#757575;
}
.multisearch #exhibitionsBlock .scrollButtonNext, .multisearch #exhibitionsBlock .scrollButtonPrevious,
.multisearch #referencesBlock .scrollButtonNext, .multisearch #referencesBlock .scrollButtonPrevious {
	height:210px;
	padding-top:90px;
}

.refTitle {
	max-height: 50px;
    overflow: hidden;
}

/* Browse */

#pageArea.browse.results {
	margin-bottom:50px;
}
.browseTargets {
	width:100%;
	text-align:center;
}
.browseTargetLink {
	font-size:30px;
	display:inline-block;
	font-weight:bold;
	padding-left:45px;
	padding-right:45px;
	color: #757575;
	padding-top:40px;
}
@media (max-width:1213px) {
	.browseTargetLink {
		padding-left:20px;
		padding-right:20px;
	}
}
.browseTargetLink a {
	color: #757575;
}
.browseTargetLink a:hover {
	text-decoration:none;
	border-bottom:2px solid #df7354;
	color: #161616;
}
.browseTargetLink a.active{
	border-bottom:2px solid #df7354;
	color: #161616;
}
@media (max-width:935px) {
	.browseTargetLink {
		font-size:22px;
	}
}
@media (max-width:767px) {
	.browseTargets {
		margin-bottom:50px;
	}
}
@media (max-width:690px) {
	.browseTargetLink {
		display: block;
    	float: none;
   		width: 100%;
   		padding-top:0px;
   		padding-bottom:15px;
	}
	.browseTargets {
		border-bottom: 1px solid #ccc;
		margin-bottom:50px;
		margin-left:0px;
	}
}
#bRefine {
	background-color:#fff;
	overflow:visible;
	width: 100%;
	border: 1px solid #161616;
	padding: 0px 20px;
	margin-top:70px;
	margin-bottom:40px;
	text-align:left;
}
#bRefine H5 {
	color: #161616;
	font-family:hkgrotesque;
	text-transform:none;
	margin-bottom: 0px;
    margin-top: 0px;
    font-weight:800;
    display: inline-block;
    padding: 16px 25px 2px 0px;
    font-size:18px;
}
#bRefine .dropdown.button {
	display: inline-block;
	width: auto;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 12px;
    padding-left:35px;
    padding-right:35px;
}
@media (max-width:1220px) {
	#bRefine .dropdown.button {
		padding-left:15px;
		padding-right:15px;
    }
}
#bRefine .dropdown.button.showOnly {
	border-left:1px solid #ccc;
    padding-top: 5px;
    text-align: center;
    width: 15%;
    float: right;
    margin-top: 12px;
    margin-right:0px;
    padding-right:0px;
}
#bRefine .dropdown.button.showOnly h5 {
    font-size: 18px;
    font-weight: bold;
    color: #161616;
    padding-bottom:0px;
}
#bRefine .dropdown.button h5{
	padding-top:0px;
	color:#161616;
	padding-right:0px;
	text-transform:capitalize;
}
#bRefine .dropdown.open.button h5 .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-color:transparent;
}
#bRefine .dropdown.button h5 .caret {
    border-color:transparent;
}
#bRefine .dropdown.open.button h5 .caret:after, #bRefine .dropdown.open.button h5 .caret:before {
	content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}
#bRefine .dropdown.open.button h5 .caret:before {
	border-bottom-color: #000;
	bottom: -13px;
	left: calc(60% - 30px);
}
#bRefine .dropdown.open.button h5 .caret:after {
	border-bottom-color: #f3f3f3;
	bottom: -14px;
	left: calc(60% - 30px);
}
#bRefine .dropdown-toggle.btn-default {
	font-weight:400;
}
#bRefine .browseTarget a{
	text-transform:uppercase;
	font-size:16px;
	color:#464646;
	display:inline-block;
	line-height:2em;
	margin:0px -10px 10px -10px;
	padding: 0px 10px 0px 10px;
}
/*.dropdown-menu-right {
    left: 100%;
    top: -5px;
    z-index:10000;
}*/
.searchCrit {
	color:#757575;
	font-style:italic;
}
button.refine {
	cursor:default;
}
button.refine:focus, button.refine:active {
	box-shadow:none;
	text-shadow:none;
	border:0px;
	outline: thin dotted #fff; 
}
.browseTarget a:hover{
	text-decoration:none;
}
.results a .glyphicon, .results a .svg-inline--fa {
    color: #888 !important;
}
.results a.active .glyphicon {
    color: #464646 !important;
}
.sortMenu {
	cursor:default;
	font-size:15px;
	color: #161616;
}
.sortValue {
	display: inline-block;
    width: 200px;
    border:1px solid transparent;
    border-bottom: 1px solid #d6d6d6;
    padding: 5px 5px 5px 10px;;
    margin-left: 5px;  
    color: #161616;  
}
.sortValue .svg-inline--fa {
	float:right;
	font-size:11px;
	margin-top:5px;
	color: #757575;
}
.sortResults.open .sortValue .fa-chevron-down:before {
	content: "\f077";
}
.sortResults .dropdown-menu {
    left: inherit;
    top: 22px;
    right:0px;
    z-index: 10000;
    box-shadow:none;
    background-color: #f3f3f3;
    border: 1px solid #757575;
    border-top: 1px solid #ccc;
    right: 0px;
    width:200px;
}
.sortResults .dropdown-menu li a {
	font-size: 15px;
	text-transform:capitalize;
	padding-left:20px;
	color: #161616;
}
.sortResults .open .sortValue, .sortResults.open .sortValue {
	background-color: #f3f3f3;
	border: 1px solid #757575;
	border-bottom:1px solid transparent;
}
.circleSelect {
    border: 1px solid #757575;
    background-color: #fff;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    float:left;
    position: relative;
    top: 3px;
    left: -10px;
}
.circleSelected {
    border: 1px solid #757575;
    background-color: #757575;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    position: relative;
    float:left;
    top: 3px;
    left: -10px;
}
#bViewButtons {
	float:right;
    padding-right: 20px;
}
#bViewButtons a {
	color:#333 !Important;
}
#bViewButtons a.disabled {
	color:#888 !important;
}
.sortResults {
	float:right;
	font-size:12px;
	margin-top:-8px;
}
.detail.collection .sortResults, .detail.sketchbook .sortResults {
	margin-right:30px;
}
.sortResults .dropdown-menu {
	margin-top:10px;
	padding-bottom:45px;
}
.applyButton {
	clear: both;
    margin-top: 15px;
}
.applyButton:focus, .applyButton:active, .applyButton input:focus, .applyButton input:active {
	outline:none;
	border:0;
}
.applyButton input {
	-webkit-appearance: none;
	border:0px;
	background-color: #757575;
    color: #fff;
    font-size: 14px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;	
}
.applyButton input:hover {
	background-color:#161616;
}
.bResultListItemText p{
	margin-bottom:3px;
}
.bResultListItem .bResultListItemText a {
	color: #161616;
}
.bResultListItem .bResultListItemText a:hover {
	text-decoration:none;
	color: #df7354 !important;
}
.bResultListItem .bResultListItemText a:hover .fa-chevron-right{
	color: #df7354 !important;
}
.bResultListItem .bResultListItemText:hover .fa-chevron-right{
/*	color: #df7354 !important; */
}
.bResultListItem .bResultListItemText a.compare_link {
	position: relative;
    padding: 5px;
    top: 5px;
    left:0px;
}
.bResultListItem .bResultListItemText .catalog a.compare_link {
	top:0px;
	padding:0px;
}
.bResultListItem {
	box-shadow:none;
	background-color:#f5f5f5;
	border:0px;
}
.bResultListItem:hover {
	box-shadow:none;
	margin:0px;
	padding:10px;
	height:auto;
}
#bRefine .facetGroup li .facetItem {
	padding-left:20px; 
	max-width:240px;
}
#bRefine .facetGroup li .facetItem[facet_item_selected="1"] {
	padding-left:20px;
}
#bRefine .facetGroup hr {
    margin-top: 10px;
    margin-bottom: 25px;
	border-top:1px solid #ccc;
	border-bottom:0px;
}
[facet_item_selected="1"]::before {
	font: normal normal normal 14px/1 FontAwesome;
	content: url('../graphics/check.png'); 
	padding-right:6px;
	position:absolute;
    left: 20px;
    top: 0px;
}
#ShowOnly_facet_container [facet_item_selected="1"]::before {
	left:29px;
}
.facetApply {
	clear:both;
	display:block;
	text-align: center;
    margin-top: 20px;
    bottom:0px;
    left:0px;
    position:absolute;
}
#bRefine a.facetApply {
    background-color: #757575;
    color: #fff;
    font-size: 14px;
    width:100%;
    padding-top:14px;
    padding-bottom:14px;
    margin-left: auto;
    margin-right: auto; 
    position:absolute;
}
#bRefine a.facetApply:hover {
	text-decoration:none;
	background-color: #161616;
}
#bRefine div.checkArea {
    border: 1px solid #757575;
    width: 14px;
    height: 14px;
    background-color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-bottom:4px;
    margin-top:1px;
    vertical-align:middle;
}
/* checkthis */
#bRefine div.checkArea {
	float:left;
	display:block
}
#bRefine .facetItem a {
	float:right;
	width:calc(100% - 12px);
	margin-right:-12px;
	line-height:116%;
}
#bRefine .facetItem a:hover, #bRefine .facetItem a:focus {
	outline:none;
	text-decoration:none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color:transparent;
	color:#757575;
}
.bResultListItem .bResultListItemImg {
	margin-right:10px;
}
#bRefine div.dropdown {
	margin-bottom:0px;
}
.dropdown-header {
    color: #333;
    font-size:14px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color:transparent;
	color:#161616;
}
.dropdown .hierarchicalList .fa-chevron-right {
	color:#161616 !important;
	font-size: 14px;
    padding-left: 5px;
    vertical-align:bottom;
}
#facetGroupShowOnly {
	min-width:240px !important;
	padding-right:0px;
	padding-left:0px;
}
#bRefine #facetGroupShowOnly li .facetItem {
	padding-left:30px;
}
#bRefine #facetGroupShowOnly .row {
    max-height: 270px;
    margin-bottom: 35px;
}
.filteringBy {
	font-weight:800;
	color:#333;
	font-family:hkgrotesque;
	font-size:15px;
}
.criteria {
	display:inline-block;
	margin-right:10px;
}
.browse .criteria button{
	padding-right:2px;
	margin-right:0px;
}
.browse .btn {
	border:0px;
	background-color:transparent;
	color:#333;
	font-size: 15px;
    margin-top: -2px;
    font-weight:bold;
    margin-left:0px;
    padding-left:0px;
}
.browse .btn a {
	color:#333;
}
a .svg-inline--fa.clearFacet {
	color:#333 !important;
}
.results strong.criterion {
	text-transform:none;
	font-size:14px;
}
.activeBrowse {
	border-bottom:1px solid #464646;
}
.search.results .btn-default {
	border:0px;
	color:#333;
	font-size: 13px;
    margin-top: -2px;
    margin-right:5px;	
    font-weight:bold;
    background-color:transparent;
    padding-left:0px;
}
.btn-default.refine {
	text-transform:none;
}
.browse .btn-default.clear,  .search.results .btn-default.clear{
	text-transform: none;
    margin-left: 0px;
    color: #757575;
    text-decoration: underline;
    font-weight: normal;
    padding-left:15px;
}
.browse .btn-default.clear:focus,  .search.results .btn-default.clear:focus, .browse .btn-default.clear:active,  .search.results .btn-default.clear:active{
	outline:none;
	box-shadow:none;
}
.browse .btn-default.clear .svg-inline--fa {
	color:#333 !important;
}
.browse .btn-default.clear a, .search.results .btn-default.clear a{
	text-decoration:none;
}
.bResultListItem, .bResultListItem:hover {
	background-color:#fff;
	margin-bottom:0px;
	padding-left:0px;
	border-bottom: 0px solid #d6d6d6;
    padding-bottom: 20px;
}
.bResultListItem .bResultListItemText {
	font-size:14px;
}
.bResultListItem .bResultListItemText {
	font-size: 14px;
    color: #757575;
}
.bResultListItem .bResultListItemText .catno{
    margin-bottom: 3px;
}
.artworks .bResultListItem .bResultListItemText .listTitle {
	font-weight:bold;
	margin-bottom:3px;
	font-size:14px;
	display:inline-block;
}
.bResultListItemCol {
	height:auto;
}
.bResultListItemContent {
	height:auto;
}
.bResultListItemContent .catalog {
	margin-top:10px;
}
.bResultListItem .bResultListItemImg {
	margin-right:10px;
	max-height:100px;
	width:25%;
}
.bResultListItem img {
    width: auto;
    height: 100px;
}
#browseResultsContainer {
	margin-top:40px;
	margin-left:-10px;
	margin-right:-10px;
}
#artworksBlock #browseResultsContainer {
	margin-left:0px;
	margin-right:0px;
}
.detail.exhibition #browseResultsContainer {
	margin-left:0px;
	margin-right:0px;
}
.results a .clearFacet  {
	font-weight:normal;
	width:19px;
	height:19px;
	vertical-align:middle;
	margin-left:4px;
	cursor:pointer;
	padding: 3px 0px 1px 0px;
}
.bResultListItemImg .bResultItemImgPlaceholder {
	padding: 30px 20px;
}
.viewAll {
	float:right;
	color:#757575;
	font-size:13px;
	padding-left:10px;
}
.detail.collection .viewAll { 
	margin-right:15px;
	/* padding-top:7px; */
}
.detail.sketchbook .viewAll { 
	padding-top:7px;
}
.viewAll a, .viewAll a:hover {
	text-decoration:underline;
	color:#757575;
}
.occLink {
	margin-left:-3px;
}
.browse .btn, .sets .btn {
	letter-spacing:0px;
}
.browse .btn:focus, .sets .btn:focus, .browse .btn:active, .sets .btn:active {
	outline:none;
	box-shadow:none;
}

/* Filter panel */

.filterLeader {
	padding:15px 15px 0px 15px;
	font-size:14px;
}
.filterDesc {
	padding:5px 15px 15px 15px;
	font-size:12px;
	line-height:1.4em;
}
#bRefine hr {
	margin-bottom:0px;
}
.facetGroup.panel {
	width:280px !important;
	background-color:#f3f3f3;
	box-shadow:none;
	min-height:250px;
	max-height:400px;
	overflow:hidden;
	border: 1px solid #4a4a4a;
	padding:30px 10px 40px 10px;
	margin-top:12px;
	text-align:left;
}
#facetGroupplace_facet.facetGroup.panel {
	width:450px !important;
}
.facetGroup.panel .container {
	overflow-y:auto;
	/*max-height:320px;*/
	padding-left:0px;
	padding-right:0px;
}
#bRefine .open .dropdown-toggle.btn-default, #bRefine .dropdown-toggle.btn-default {
	background-color:transparent;
	border-bottom:1px solid #fff;
	border-radius:0px;
	margin-left:0px;
}
#bRefine .open .dropdown-toggle.btn-default:focus, #bRefine .dropdown-toggle.btn-default:focus,
#bRefine .open .dropdown-toggle.btn-default:active, #bRefine .dropdown-toggle.btn-default:active {
	box-shadow:none;
	margin-bottom:1px;
	border:0px;
}
#bRefine .facetGroup li .facetItem {
    margin-bottom: 10px;
    min-height:24px;
    clear:both;
    display:inline-block;
}
#bRefine .row, #bRefine .container {
	margin-bottom:0px;
}
#bRefine .row {
	max-height:280px;
	/*overflow-y:auto;*/
	margin-bottom:50px;
	margin-left:0px;
	margin-right:0px;
}
#bRefine  #bHierarchyList_place_facet {
	width:100%;
	padding-left: 15px;
}
#bRefine li .hierarchicalList .facetItem {
	margin-bottom: 12px;
}
#bRefine a {
	color: #161616;
	font-size:15px;
}
#facetGroupplace_facet h1 {
	display:none;
}
#bAncestorList {
	font-weight:bold;
	clear:both;
}
.bScrollListHierarchy {
	clear:left;
}
#bRefine div {
	margin-bottom:0px;
}
#bRefine div#bAncestorList {
	width:80%;
	margin-bottom:12px;
}
.facetItem .glyphicon-chevron-down {
	font-size:10px;
}
#bRefine .row.hierarchicalList {
	margin-bottom:0px;
	overflow-y:auto;
}
#bRefine  .hierarchicalList .facetItem a {
	float:none;
}
#bRefine  .facetGroup li .hierarchicalList .facetItem {
	padding-left:0px;
}

/* new menu styles */

#bRefine {
/*  display: flex;
  justify-content: space-between;*/
}
.provenance.browse #bRefine, .references.browse #bRefine,
.provenance.search #bRefine, .references.search #bRefine {
    display: inline-block;
    justify-content: inherit;
}
/*.provenance.browse #bRefine .dropdown.button, .references.browse #bRefine .dropdown.button,
.provenance.search #bRefine .dropdown.button, .references.search #bRefine .dropdown.button {
	width:17%;
}*/
#bRefine h5{
	white-space: nowrap;
}
@media (min-width:1221px) and (max-width:1450px) {
	#bRefine .dropdown.button {
		padding-left:20px;
		padding-right:20px;
	}
}
@media (min-width:950px) and (max-width:1083px) {
	#bRefine H5 {
		padding-right:16px;
		font-size:16px;
	}
	#bRefine .dropdown.button.showOnly h5 {
		font-size:16px;
	}
}
@media (max-width:1030px) {
	#bRefine {
		padding-right:10px;
	}
	#bRefine .dropdown.button.showOnly {
		width:auto !important;
		padding-left:10px;
	}
}
@media (max-width:974px) {
	#bRefine H5 {
		font-size:14px;
		padding-right:5px;
	} 
	#bRefine .dropdown.button.showOnly h5 {
		font-size:14px;
	}
	#bRefine a {
		font-size:14px;
	}	
	.facetGroup.panel {
    	width: 250px !important;
    }
}
@media (max-width:890px) {
	#bRefine H5 {
		font-size:12px;
		padding-right:5px;
	} 
	#bRefine .dropdown.button.showOnly h5 {
		font-size:12px;
	}
	#bRefine .dropdown.button {
		padding-left: 10px;
		padding-right: 10px;
	}	
	#bRefine a {
		font-size:13px;	
	}
	#bRefine .facetGroup li .facetItem {
		margin-bottom:5px;
	}
	.facetGroup.panel {
   		width: 200px !important;
   	}	
}
/* Detail */

.detail {
	color:#161616;
	font-size:15px;
}
.detail HR {
	color:#fff;
	border-bottom:1px solid #d6d6d6;
	border-top:0px;
}
.detailHead {
	border-bottom: 1px solid #d6d6d6;
	height:10px;
	margin-bottom:40px;
	margin-left:-10px;
	margin-right:-10px;
}
.titleCol {
	padding-left:40px;
}
.imageCol {
	padding-right:30px;
}
.objNav {
	text-align:left;
	font-size:15px !important;
	margin-top:-17px;
	color:#161616;
	font-size: 13px;
    line-height: 15px;
    font-weight:bold;
    vertical-align:middle;
    padding-left:0px;
    white-space:nowrap;
}
.objNav a{
	color:#161616;
}
.objNav .resultsLink, .objNav .previousLink, .objNav .nextLink,
.objNav .resultsLink .small, .objNav .previousLink .small, .objNav .nextLink .small{
	display:inline;
}
.objNav .resultsLink {
	padding-right:30px;
}
.objNav .resultsLink .small:hover {
	text-decoration:underline;
}
.objNav .previousLink {
	padding-right:20px;
}
.detail .myleftarrow{
	background-image:url('../graphics/arrow-previous.png');
	background-size:15px 28px;
	height:28px;
	width:15px;
	opacity: .8;
	display:block;
}
.detail .myrightarrow{
	background-image:url('../graphics/arrow-next.png');
	background-size:15px 28px;
	height:28px;
	width:15px;
	opacity: .8;
	display:block;
}
.front .myleftarrow {
	background-image:url('../graphics/left-arrow.svg');
	background-size:12px 18px;
	height:18px;
	width:12px;
	opacity: 1;
	display:inline-block;
}
.front .myrightarrow{
	background-image:url('../graphics/right-arrow.svg');
	background-size:12px 18px;
	height:18px;
	width:12px;
	opacity: 1;
	display:inline-block;
}
.carousel-control:focus {
	opacity:.5;
}
.carousel-control:hover {
	opacity:.9 !important;
}
.pdfLink {
	text-align:right;
	margin-top:-21px;
	float:right;
	padding-right:10px;
}
.pdfLink img {
	width:18px;
	height:18px;
}
.teal-results {
	background-image: url('../graphics/results.png');
	background-size: 10px 10px;
    height: 10px;
    width: 10px;
    padding-right: 4px;
    display: block;
    float: left;
    margin-right:4px;
    margin-top:2px;
}
/*.exhibition.detail .repViewerCont img {
	width:100%;
	max-height:500px;
	height:auto;
}*/
.exhibition.detail .jcarousel-wrapper ul{
	padding-left:15px;
	padding-right:15px;
}
#detailRepresentationThumbnails a img, #detailRepresentationThumbnails a.active img {
	border:0px;
	background-color:#fff;
}
.detail .objIdno {
	position: absolute;
    bottom: 24px;
    font-size: 15px;
}	
.detail h1 {
	margin-left:-15px;
}
.detail.collection h1, .detail.exhibition h1 {
	margin-top: 5px !important;
	margin-left:0px;
	margin-bottom:0px;
	font-size:24px !important;
}
.detail.reference h1 {
	margin-left:0px;
	margin-top:5px;
	font-size:24px !important;
}
.sketchbook #browseResultsContainer h6 {
	margin-left:15px;
}
.collectionText {
	margin-left:-10px;
	color:#161616;
	margin-top:20px;
	margin-bottom:25px;
}
.detail .unit {
	color:#464646;
	margin-bottom:5px;
	padding-top:7px;
	font-size:15px;
	font-weight:200;
	border-top:1px solid #d6d6d6;
	margin-right:-5px;
}
.detail .unit.borderless {
	border:0px;
	margin-bottom:0px;
	padding:0px;
}
.detail .unit .label {
	color: #161616;
	font-weight:bold;
	text-align:left;
	font-size:15px;
	padding-left:0px;
	padding-top:4px;
	white-space:normal;
}
.detail .unit .mount {
	text-transform:capitalize;
}
.detail .unit a {
	text-decoration:underline;
	color: #757575;
}
.detail .unit a:hover {
	color: #161616;
}
.detail .col-sm-8 .unit {
	color:#757575;
}
.detailDivider {
	height:1px;
	border-top:1px solid #d6d6d6;
	margin-left: -15px;
    margin-right: -5px;
}
.detail .objNav a:hover {
	text-decoration:none;
	color:#161616;
}
.detail .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    line-height: 1em;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background: #161616;
    color: #161616;
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #161616;
    opacity: .75;
}
.detail .jcarousel-pagination a.active {
    background: #df7354;
    color: #df7354;
    border: 1px solid #df7354;
    opacity: 1;
    text-shadow: none;
    text-decoration: none;
}

.detail .detailMediaToolbar .compare_link .svg-inline--fa path { 
	display:none;
}
.detailMediaToolbar .glyphicon.glyphicon-zoom-in, .remarksImg .glyphicon.glyphicon-zoom-in {
	height:18px;
	width:18px;
	padding:0px;
}
.remarksImg .zoomIcon, .remarksImg .compare {
	width:50%;
	text-align:center;
	padding-top:15px;
	float:left;
}
.remarksImg .compare {
	padding-top:13px;
}
.remarksImg .compare img, .remarksImg .zoomIcon img{
	width:18px;
	height:18px;
	display:inline-block;
}
.remarksImg .zoomIcon {
	padding-top:10px;
}
.compareImg {
	background-image:url('../graphics/rothko-copy.svg');
	width:15px;
	height:18px;
	display:inline-block;
	margin-top:5px;
}
#compare_count_display {
	vertical-align:top;
	margin-left:5px;
}
.remarksImg .remarkText {
	color:#757575;
	font-size:14px;
	line-height: 21px;
}
.detail .previousLink, .detail .nextLink {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    color: #757575;
    margin-top:300px;
}
.detail .previousLink a, .detail .nextLink a {
	color: #757575;
}	
.guide {
	margin-top:40px;
	color:#161616;
	font-weight:bold;
	font-size:14px;
	margin-left:-15px;
	margin-bottom:45px;
}
.guide a {
	color:#161616;
}
.guide img {
	height:14px;
	width:14px;
	margin-right:5px;
	vertical-align:middle;
}
#guideLoadContainer {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index:1000;
}
.guideLoadInner {
    background-color: #fff;
    border: 1px solid #161616;
    width:80%;
    min-height:550px;
    margin-left: auto;
    margin-right: auto;
}
.guideLoadInner h1 {
	margin-left:0px;
}
.guideLoadInner .close {
	opacity:.9;
	padding-right:15px;
	padding-top:15px;
}
.guideLoadInner .close img{
	width:16px;
	height:16px;
}
#guideLoad	{
    padding: 25px 30px 25px 30px;
    max-height: 500px;
    overflow-y: scroll;
}
#guideLoadContainer .complete {
	width:100%;
	padding-top:25px;
	padding-bottom:25px;
	text-align:center;
	background-color:#757575;
}
#guideLoadContainer .complete a, #guideLoadContainer a:hover  {
	color:#fff;
	text-decoration:none;
}
.photoCredit {
	color:#aaa;
}
.photoCaption {
	padding-top:5px;
	min-height: 25px;
	clear:both;
	top: -20px;
    position: relative;
}
.unit.spacer {
	margin-top:30px;
}
.detail .jcarousel {
	height:auto !important;

}
.repViewerCont {
	padding-bottom:30px;
}
.jcarousel li {
    float: left;
    text-align: center;
}
.detail .jcarousel-pagination {
	right: 15px;
	left:auto;
	bottom:10px;
}
.detail .detailMediaToolbar {
	display:block;
	position:relative;
	background-color:#fff;
	float:none;
	width:80px;
	text-align:center;
	top:40px;
	margin-left:auto;
	margin-right:auto;
}
.detail .detailMediaToolbar a {
	color:#333;
	font-size:17px;
}
.detail.sketchbook .detailMediaToolbar {
	margin-bottom:25px;
	width:200px;
	text-align:center;
}
.detail.exhibition .detailMediaToolbar {
	width:20px;
	text-align:center;
	background-color:transparent;
	display:none !important;
}
.detail.exhibition .detailMediaToolbar:hover {
	display:none !important;
}
.detail.exhibition .jcarousel-pagination {
	bottom:-10px;
	left: 40px;
    right: 40px;
}

.detail.sketchbook span.glyphicon.glyphicon-zoom-in::before {
	content: "View sketchbook pages";
	font-family: hkgrotesqueLight;
	padding-right: 10px;
    font-size: 14px;
    vertical-align: top;
}
.detail .detailMediaToolbar .dlButton, .detail .detailMediaToolbar .zoomButton {
	display:none;
}
.detail .detailMediaToolbar .compare_link {
	position:relative !important;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.detail .compare_link {
    color: #333;
    font-weight: bold;
    width:18px;
    height:18px;
}  
.detail .compare_link:hover {
	color: #333;
	text-decoration:none;
} 
.detail .drawer .compare_link:hover {
	border-bottom:0px;
}
.compare_link.verso {
    position: relative;
    margin-left: 12px;
    font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
    padding-top: 4px;
}
.remarksImg {
	border: 1px solid #d6d6d6;
	padding-top:15px;
	padding-bottom:15px;
	height:350px;
	margin-top:15px;
	margin-bottom:35px;
	overflow:hidden;
}
.remarksImg img { 
	width:100%;
	height:auto;
}
.remarksImg a{
	text-decoration:none;
}
.remarksImg .compare_link{ 
	position:relative;
}
.remarksImg .compare_link img{ 
	margin-top:12px;
}
.detail a.readmore-js-toggle{
	color: #161616;
	font-weight:bold;
	font-size:16px;
}
.detail a.readmore-js-toggle:hover {
	border-bottom:0px;
	color: #161616;
}
.detailMediaToolbar .zoomButton {
    display: inline-block;
    float:left;
}
#detailRepNav .zoomButton img {
	width:100%;
	height:auto;
}
.exhibition .detailMediaToolbar .zoomButton {
    display: inline-block;
    float:none;
    margin-left: -150px;
}
.detailMediaToolbar .glyphicon.glyphicon-zoom-in {
	padding-top:0px;
}
.sketchbook.detail .detailMediaToolbar .zoomButton:after {
	content: " View sketchbook pages"; 
	font-size:12px;
	white-space:nowrap;
	vertical-align:top;
}
.jcarousel-wrapper {
	width:100%;
}
.jcarousel {
	width:100% !important;
}
.drawer a {
	color:#161616;
	text-decoration:none;
}
.detail .drawer a:hover {
	color:#df7354;
	text-decoration:none;
}
.detail .drawer #relatedWorksDiv a:hover {
	color:#161616;
}
.detail h6.verso {
	margin-top:30px;
	color:#161616;
	text-transform:none;
	font-size:21px;
	font-weight:bold;
}	
.versoInfo {
	margin-top:0px;
	padding-bottom:30px;
	line-height:1.8em;
}
.versoInfo div {
	font-size:15px;
	color:#464646;
}
.detail .versoInfo a{
	color:#757575;
}
.detail .versoInfo a:hover{
	color:#161616;
	text-decoration:underline;
}
.detail .versoInfo .versoTitle a{
	color:#161616;
	font-weight:bold;
}
.detail .versoInfo .versoTitle a:hover{
	color:#161616;
}
.versoInfo img {
	width:100%;
	height:auto;
}
.catInfo {
	margin-top:-55px;
}	
.drawer {
	border-top: 1px solid #161616;
	padding-top:30px;
	padding-bottom:30px;
	font-size:15px;
	font-weight:200;
	line-height:2em;
	color: #161616;
}

.detail .drawer h6 {
	width:100%;
	padding-bottom:10px;
}	
.detail .drawer h6 .svg-inline--fa {
	float:right;
	font-size:16px;
	padding-right:5px;
}	
.detail .drawer h6 a {
	text-transform:none;
	color: #161616;
	font-size:21px;
	font-weight:bold;
	font-family:hkgrotesque;
	padding:0px 0px 0px 0px;
	display:inline-block;
	width:100%;
}
.detail .drawer h6 a:hover {
	text-decoration:none;
	border-bottom:0px;
	color: #161616;
}
.detail .drawer .fa-chevron-right, .bResultListItemText .fa-chevron-right {
	font-size:10px;
	margin-left:5px;
	margin-top:-2px;
	vertical-align:middle;
}
.detail .viewLink {
	text-transform:uppercase;
	border-bottom:1px solid #454545;
	margin-top:5px;
	display:inline-block;
	color:#858585;
	vertical-align:top;
}
.leader {
	margin-top:-10px;
	margin-bottom:0px;
	font-size:15px;
	font-weight:bold;
	color:#161616;
	padding-bottom:0px;
}
.exhibition.detail h1 {
	margin-bottom:13px;
	margin-top:-4px;
	line-height:28px;
}
.detail.sketchbook #detailRepNav {
	/*display:none;*/
}
.detail.side #detailRepNav {
	/*text-align:right;*/
	margin-right:10px;
}
.detail #detailRepNavPrev {
    float: left;
    position: absolute;
    top: 215px;
    left: -5px;
}
.detail #detailRepNavNext {
    float: right;
    position: absolute;
    top: 215px;
    right: -5px; 
}
.detail #detailRepNav {
	font-size:20px;
}
.auctionDetails {
	margin-left:10px;
	font-size:12px;
}
.detail .repViewerCont img {
    max-height: 580px;
    object-fit: contain;
}

#provenanceDiv, #exhibitionDiv, #referenceDiv, #remarksDiv, #relatedWorksDiv {
	display:block;
	padding-bottom:5px;
}
#relatedWorksDiv {
	margin-top:20px;
}
#remarksDiv a {
	text-decoration:underline;
}
#remarksDiv a:hover {
	color: #df7354;
	text-decoration:underline;
}
@media (max-width:768px) { 
	.detail .sortResults {
		display:none;
	}
}
/* Rep viewer changes */

.detail #detailRepNav {
	position:absolute;
	bottom:15px;
	text-align:center;
	width:100%;
	right:0px;
	font-size:14px;
}
.detail #detailRepNav .svg-inline--fa {
	font-size:12px;
}
.detail.exhibition #detailRepNav {
	bottom:20px;
}
.detail #detailRepNavPrev {
	float:none;
	position:relative;
	display:inline;
	top:0px;
}
.detail #detailRepNavNext {
	float:none;
	position:relative;
	display:inline;
	top:0px;
}

.detail #detailRepNavZoom {
	float:none;
	position:relative;
	display:inline-block;
	margin: 0 10px 0 10px;
	background-size:18px;
	height:18px;
	width:18px;
}

.detail #detailRepNavCompare {
	float:none;
	position:relative;
	display:inline;
	top:-1px;
	margin: 0 10px 0 10px;
	padding:0px;
}
.detail #detailRepNavCompare img {
	width:18px;
	height:18px;
}
.detail .artworkInfo {
	padding-left:40px;
}


.detail #detailRepNav a{ 
	color:#161616;
}
@media (max-width:768px) { 
	.detail .unit {
		padding-left:0px;
	}
	.detail .unit .col-sm-8{
		padding-left:0px;
	}
	.detail .artworkInfo {
		padding-left:25px !important;
	}
}

/* Advanced Search */

.advancedContainer {
	margin-top:10px;
}
div.advancedSearchField {
	width:100%;
	padding-left:15px;
}
.advancedSearchField {
	margin-bottom:10px;
}
.advancedSearchField .formLabel {
	text-transform:none;
	color:#454545;
	font-size:13px;
	font-weight:bold;
}
.advancedFormSubmit {
	margin-bottom:20px;
	margin-right:0px;
	text-align:right;
}
.advancedFormSubmit a:hover {
	text-decoration:none;
	color: #fff;
}
.advancedFormSubmit span {
	display: inline-block;
}
.advancedSearchField input, .advancedSearchField textarea, .advancedSearchField select {
	width:100% !important;
	resize:none;
	line-height: 1.5;
    border-radius: 0px;
    border: 1px solid #d6d6d6;
	-webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none; 
    font-size: 12px;   
    padding: 5px 10px;
    color: #555555;
} 
.advancedSearchField select {
	height:30px;
}
.advancedSearch h1 {
	margin-bottom:10px;
}
.advancedSearch h1 small {
	font-size:14px !important;
	color:#757575;
}
.advancedSearch h1 small a {
	color:#757575;
	border-bottom:1px solid #757575;
}
.advancedSearch h1 small a:hover {
	text-decoration:none;
}
.advancedSearchField .formLabel {
	color:#161616;
}
.attributeListItem {
	width:100% !important;
}
.search.results .advancedFormSubmit .btn-default {
	background-color:#161616;
	border-radius:0px;
	padding:5px 12px;
	text-transform:none;
}
.advancedFormSubmit .btn-default a, .advancedFormSubmit .btn-default a:hover {
    color: #fff;
    font-size: 12px;
	text-decoration:none;
	font-weight:200;
}
.bodytext, .advancedSearch p {
	font-size:15px;
	line-height:2em;
	margin-bottom:25px;
}
.advancedSearch .col-sm-10 {
	padding-left:20px;
}

/* Mirador */

h3.window-manifest-title {
	text-transform:none;
	font-weight:normal;
	font-size:13px;
	color:#eee;
	text-align:left;
	padding-left:50px;
	margin-top:0px;
}
.manifest-info {
	background-color:#000;
}
#comparison_viewer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-top: -30px;
}
.mirador-osd-annotation-controls {
	display:none;
}
.mirador-osd-annotation-controls {
	display:none;
}
.mirador-viewer {
	z-index: 1000000 !important;
}
.mirador-pan-zoom-controls.bottom-panel-open {
    -webkit-transform: none!important;
    -moz-transform: translateY(-130px);
    -ms-transform: translateY(-130px);
    -o-transform: translateY(-130px);
    transform: none!important;
}
.hud-control {
	color: #000 !important;
}
div.caMediaOverlayControls {
	background-color:transparent;
	top:0px;
	bottom:inherit;
	width:auto;
	z-index: 32000000;
}
div.caMediaOverlayControls a, div.caMediaOverlayControls a .fa-times {
	color:#000 !important;
}
div.caMediaOverlayControls .close {
	float:left;
}
.compareDrawer {
	display:none;
	background-color:#161616;
	width:22%;
	min-width:210px;
	position:absolute;
	bottom:160px;
	right:100px;
	z-index:1000;
	padding-top:10px;
	color:#ccc;
}
.compareDrawer ul {
	padding-left:15px;
	margin-bottom:8px;
}
.compareDrawer a {
	color:#ccc;
}
.compareDrawer a:hover {
	text-decoration:none;
}
.compareDrawer .items {
	display:none;
	clear:both;
	font-size:13px;
}
.compareDrawer .items p {
	clear:both;
}
.listTitle {
	font-size:15px;
}
.compareDrawer p {
	margin-bottom:5px;
	float:left;
	line-height:2em;
}
.openItems {
	float:right;
	padding-top:6px;
	padding-right:20px;
}
.compare_link {
	position:absolute;
	bottom:10px;
	right:10px;
}
.noMargin .compareDrawer {
	display:none !important;
}

/* Mirador */

canvas, .workspace-container {
	background-color:#fff !important;
}
div.caMediaOverlayControlsMinimal, .material-icons, div.caMediaOverlayControls:hover, div.caMediaOverlayControlsMinimal:hover {
	background-color:transparent;
	color:#000;
}
div.caMediaOverlayControlsMinimal {
	top:5px;
	left:0px;
	z-index:1000000;
}
div.caMediaOverlayControlsMinimal .close {
	opacity:1;
}
div.caMediaOverlayControlsMinimal .svg-inline--fa, h3.window-manifest-title {
	color:#000 !important;
}
div.caMediaOverlayControlsMinimal .svg-inline--fa {
	font-size:22px !important;
}
.thumbnail-view, .image-view, .book-view, .scroll-view {
	background-color:#fff !important;
}

.mirador-icon-view-type {
	display: none !important;
}

.mirador-manipulation-controls {
	display: none !important;
}

/* ipad styles */

@media (min-width:768px) and (max-width:1024px){
	.detail .unit .label {
		white-space:normal;
	}
	.titleCol {
		padding-left:20px;
	}
	.imageCol {
		padding-right:0px;
	}
	.viewAll {
		display
	}
	.detail.collection .sortResults, .detail.sketchbook .sortResults {
		margin-bottom: 20px;
		float: right;
		clear: both;	
	}
	.detail.collection .viewAll {
		margin-bottom:20px;
	}
	.compareDrawer {
		width:35%;
	}
	.detail .artworkInfo {
		padding-left:25px;
	}
	
}
@media (min-width:768px) and (max-width:966px){
	#searchDiv {
		display: none;
		position: absolute;
		width: calc(100% - 290px);
		left: 20px;
		z-index: 2;
		margin-top:3px;
	}
}
