<?php
	$vs_download_links = "";
	if ($t_site_page = $this->getVar("page")) {
		if($t_site_page->getWithTemplate("^ca_site_page_media.media_id")){
			$vs_download_links = $t_site_page->getWithTemplate("<unit relativeTo='ca_site_page_media' delimiter='<br/>'><a href='^ca_site_page_media.media.original.url' class='btn btn-default'><span class='glyphicon glyphicon-download-alt' aria-label='Download' title='Download'></span> ^ca_site_page_media.title</a></unit>");
		}
	}
?>
<div class="row">
	<div class="col-sm-3">
		<div class="aboutSideNav">
			<ul>
				<li><a href="#Land_Acknowledgement">{{{Land_Acknowledgement_Label}}}</a></li>	
				<li><a href="#About">{{{About_Label}}}</a></li>
				<li><a href="#Research">{{{Research_Label}}}</a></li>
				<li><a href="#Copyright_Use">{{{Copyright_Use_Label}}}</a></li>
				<li><a href="#Corrections">{{{Corrections_Label}}}</a></li>
				<li><a href="#Credits">{{{Credits_Label}}}</a></li>
				<li><a href="#Policies">{{{Policies_Label}}}</a></li>
			</ul>
		</div>
	</div>
	<div class="col-sm-9">
		<H1>{{{title}}}</H1>
		<div id="Land_Acknowledgement" class="anchor"></div><div class="aboutSection">{{{Land_Acknowledgement_Label}}}</div>
		{{{Land_Acknowledgement}}}
		
		<div id="About" class="anchor"></div><div class="aboutSection">{{{About_Label}}}</div>
		{{{About}}}
		
		<div id="Research"></div><div class="aboutSection">{{{Research_Label}}}</div>
		{{{Research}}}
		
		<div id="Copyright_Use"></div><div class="aboutSection">{{{Copyright_Use_Label}}}</div>
		{{{Copyright_Use}}}
		
		<div id="Corrections"></div><div class="aboutSection">{{{Corrections_Label}}}</div>
		{{{Corrections}}}
		
		<div id="Credits"></div><div class="aboutSection">{{{Credits_Label}}}</div>
		{{{Credits}}}
		
		<div id="Policies"></div><div class="aboutSection">{{{Policies_Label}}}</div>
		{{{Policies}}}
<?php
		if($vs_download_links){
?>
		<div class='policyFileLinks'><?php print $vs_download_links; ?></div>
<?php
		}
?>

	</div>
</div>