body {
	font-size:12px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Gudea', sans-serif;
}
h1 {
	color: #d6742a;
}
h6 {
	padding-bottom:5px;
}
a {
	color:#333;
}

/* Front Page */

.front H1 {
	padding-left:0px;
}

/* Search Results */

.blockResultsScroller.publication {
	height:250px;
}
.blockResults.publication {
	height:250px;
}
.multisearch .pubSet {
	height:250px;
}
.multisearch  .pubResult {
	height: 70px; 
	font-style:italic
}
.multisearch  .pubResult p{
	padding-top:3px;
	font-style:normal;
}
.multisearch .authorityResult {
	background-color:#fff;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
}

/* Detail pages */ 
.metaTitle {
	font-family: 'Gudea', sans-serif;	
}
.detail .unit {
	padding: 2px 0px 2px 0px;
}
.detail #detailTools {
	margin-top:0px;
}
.detail #detailTools a, .detail .detailTool span{ 
	color:#000;
}
.visualize {
	font-size:16px;
	font-family: 'Gudea', sans-serif;
	background-color:#f7f7f7;
	border-radius:4px;
	padding:5px;
	width:100px;
	margin-top:10px;
	float:right;
}
.time {
	font-family: 'Gudea', sans-serif;
	color:#fff;
	font-size:14px;
	background-color:#5e9eaa;
	border-radius:4px;
	padding:5px;
	text-align:center;
	width:150px;
	margin-bottom:10px;
}
.checkouts {
	font-family: 'Gudea', sans-serif;
	color:#fff;
	font-size:14px;
	background-color:#d77421;
	border-radius:4px;
	padding:5px;
	text-align:center;
	width:150px;
	margin-bottom:10px;
}
.readers {
	font-family: 'Gudea', sans-serif;
	color:#fff;
	font-size:14px;
	background-color:#666;
	border-radius:4px;
	padding:5px;
	text-align:center;
	width:150px;
}
.partial {
	display:inline-block;
}
.full {
	display:inline-block;
	margin-left:20px;
}
.checkouts .count, .readers .count, .time .count {
	font-size:20px;
}
.closeBut {
	text-align:right;
}
.ct-chart .ct-label, .ct-chart .ct-label.ct-horizontal {
	font-size:1em !important;
	color:#333 !important;
	fill:#333 !important;
}
.ct-chart {
	overflow:visible !important;
	margin-top:-45px;
}
svg:not(:root) {
	overflow:visible !important;
}
.color1 {
	fill: #666;
}
.color2 {
	fill: #d77421;
}
.color3 {
	fill: #5e9eaa;
}
.color4 {
	fill: #cccccc;
}
.color5 {
	fill: #FAEE68;
}
.color6 {
	fill: #a3a547;
}
.color7 {
	fill: #679282;
}
.color8 {
	fill: #f5f5f5;
}
.color9 {
	fill: #b2a87f;
}
.color10 {
	fill: #774969;
}
.color11 {
	fill: #566d9d;
}
.color12 {
	fill: #000000;
}
.readerRow {
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	padding-top:10px;
}
.titleBar {
	font-family: 'Gudea', sans-serif;	
	color: #d6742a;
	font-weight:bold;
	padding-bottom:10px;
}
.entityThumb img{
	width:100%;
	height:auto;
}
.ledgerRow {
	padding-bottom:5px;
	border-top: 1px solid #ccc;
	padding-top:5px;
}
.ledgerImage img {
	width:100%;
	height:auto;
}
.ledgerImage {
	margin-bottom:20px;
}

.tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #cccccc;
	background-color: #FFFFFF;
	padding: 5px 10px 10px 10px;
	opacity: 1 !important; 
	text-align: left;
	margin-left:250px;
	margin-top:27px;
	font-size:12px;
	width:400px;
}
.tooltipImage {
	float:left;
	margin-right:10px;
}
