body {
	font-size:12px;
	background: url('https://www.nysoclib.org/sites/all/themes/nysoclib/images/filagree-bg@2x.png') no-repeat center -5px;
  	background-size: 2020px 1000px;
  	font-family: 'Gudea', sans-serif;
  	margin-top:-5px;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	font-family: 'Gudea', sans-serif;
}
h1 {
	color: #d6742a;
}
h2 {
	color: #d6742a;
}
h3 {
	color:#000;
}
h4 {
	font-size:22px;
}
h5 {
	color:#000;
}
h6 {
	padding-bottom:5px;
	font-size:14px;
}
.detail H6 a {
	font-size:12px;
	color: #333; 
	padding:0px;
	text-transform:none;
}
h7 {
	color: #000;
	font-size:18px;
	display:block; 
}
.userGuide h7 a {
	color: #000;
	text-decoration:none;
}
h8 {
	font-size: 16px;
	color: #333;
	display:block;
}
.userGuide h8 a {
	color: #333;
	text-decoration:none; 
}
h9 {
	font-size: 14px;
	color: #666;
	display:block;
}
h7, h8, h9 {
	margin-bottom:5px;
}
.userGuide h9 a {
	color: #666;
	text-decoration:none;
}
.userGuide p, .userGuide li {
	font-size:14px; 
	line-height:1.5em;
}
.clearfix {
	clear:both;
	width:100%;
}
a {
	color:#333;
}
.aboutPage a {
	color: #d6742a;
	text-decoration:underline;
}
.userGuide a { 
	color: #d6742a;
	text-decoration:underline;
}
.blacktext {
	color: #000;
}
#mainContent {
	margin:0px 10px 0px 10px;
	position:relative;
	left:-8px;
	overflow:hidden;
	min-width:1024px;
}
.page {
  /*margin: 20px 0*/
}
.hideme {
	display:none;
}
.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  /*padding: 0 20px;*/
  min-height: 600px;
}
.content-wrapper {
  float: right;
  width: 100%;
  min-width:830px;
}
.content-inner {
  margin-left: 194px;
  clear: both;
  overflow: auto;
  min-height: 600px;
  min-width:840px;
}
.ledger.detail .content-inner {
	overflow: visible; 
}
.sidebar {
  position: relative;
  width: 194px;
  margin-right: -194px;
  float: left;
  overflow: hidden;
  color: #333;
  min-height: 600px;
  margin-top: -4px;
  padding-top: 15px;
  background-color:#fff;
}
.sidebar a{
	color:#333
}
@media (min-width: 1025px) {
	#mainContent {
		margin:0px 5% 0px 5%;
	}
}
@media (max-width: 1072px) {
	#mainContent {
		margin:0px 1% 0px 1%;
	}
}
#headerArea {
	width:100%;
	clear:both;
	margin-bottom:35px;
	display:inline-block;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family: 'Gudea', sans-serif;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	padding-left:5px;
	font-size:13px;
}
.nav > li.dropdown > a.icon {
	padding:5px 0px 0px 5px;
}
.navbar-form {
	margin-top:5px;
	margin-bottom:5px;
}
.navbar {
	-webkit-box-shadow: none;
	box-shadow:none;
	clear:both;
	margin-bottom:0px;
	background-color:transparent;
}
.navbar .form-control {
	height:24px;
}
.navbar .formOutline {
	border-radius:0px;
}
.navbar .btn-search {
	padding:3px 5px 3px 5px;
	color:#333;
}
@media (min-width: 768px) {
	.navbar-form {
	  padding-right: 0px;
	}
}
@media (max-width: 767px){
	.navbar-form .form-group {
	  width: 165px;
	}
}
@media (max-width: 767px) {
	.btn-search {
		position:relative;
		top:0px;
		right:0px;
	}
}
#topMenu {
  position: absolute;
  top: 95px;
  z-index: 100;
  width: 100%;
  height: 24px;
  background: rgb(255,255,255);
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
  zoom: 1;
  background: rgba(255,255,255,0.8);
  display: block;
  clear: both;
  /*overflow: hidden;*/
}
ul#mainMenu {
  width: 850px;
  height: 24px;
  overflow: hidden;
  padding-left:0px;
}
ul.menu {
  border: none;
  list-style: none;
  text-align: left;
}
ul#mainMenu li, div#headAlert, div#pageTitle, div.breadcrumb, div.selectors, div.selectors label, li.tabItem, table.fc-header {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
ul#mainMenu li.item.active{
	float: left;
  	margin-right: 1px;
  	padding: 0px 20px 0px 20px;
  	background-color: #d6742a;
  	color:#fff;
}
ul#mainMenu li.item.active a{
	color:#fff;
}
ul#mainMenu li.item.active:hover a {
	/*padding:0px;*/
}
ul#mainMenu li a:hover {
	color:#fff;
}
ul#mainMenu li.item.active .browseHeadernav.caps a{
	color: #747060;
}
ul#mainMenu li.item.active .browseHeadernav.caps.active a{
	color: #fff;
}
ul#mainMenu li.item.active .filterMenuFacetList a {
	color: #747060;
}
ul#mainMenu li.item.active .browseFacetItem a, ul#mainMenu li.item.active .browseFacetItem a {
	color: #747060;
}

#bAncestorList {
	color: #747060;
}

ul#mainMenu li.item.active .browseMenuBrowseAll a {
	color: #747060;
}
ul#mainMenu li.item {
  float: left;
  margin-right: 1px;
  padding:0px 15px 0px 15px; 
}
ul#mainMenu li.item:hover {
	background-color:#d6742a;
}
ul#mainMenu li.item.open {
	background-color:#d6742a;
}
ul#mainMenu li.item:hover a{
	color:#fff;
}
ul#mainMenu li.item.open a.dropdown-toggle {
	color:#fff;
}
#browse-menu {
	width:74%; 
	min-width:800px;
}
ul#mainMenu #browse-menu li.item:hover a{
	color:#747060;
}
ul#mainMenu  li.item:hover #browse-menu a{
	color:#747060;
}
ul#mainMenu #browse-menu li a:hover {
	color:#747060;
}
ul#mainMenu li.item:hover #browse-menu .filterMenuFacetList li.active a {
	color:#fff;
}
ul#mainMenu li.item #browse-menu .filterMenuFacetList li.active a {
	color:#fff;
}
ul#mainMenu li .active a {
	color:#fff;
}
ul.menu li {
  margin: 0;
}

ul#mainMenu li a {
  font-family: 'Gudea',sans-serif;
  line-height: 24px;
  font-size: 13px;
  color: #747060;
  display: block;
  text-align: center;
}
ul#mainMenu li #browseMenuTypeFacet a{
	text-align:left;
	line-height:18px;
	padding-bottom:3px;
	padding-top:3px;
	display:inline-block;  
}
ul#mainMenu .filterMenuFacetList li  {
	margin-bottom:8px;
}
ul#mainMenu .filterMenuFacetList li  {
	line-height: 14px;
}
.filterMenuResults {
	max-height:350px;
}
#browse-menu.dropdown-menu {
	top:24px;
	margin:0px;
	border:1px solid #ccc;
}
.rightMenu {
	position:relative;
	top:194px;
}
#colSearch .formOutline {
	float:left;
	background: rgba(255,255,255,0.8);
	border:2px solid #999;
}
#colSearch .formOutline .form-control{
	border:0px;
	background-color:transparent;
	height:24px;
	box-shadow: none;
	-webkit-box-shadow:none;
	border-radius:0px;
	color:#000;
}
#colSearch .formOutline .btn-search {
	background-color:transparent;
	padding:3px 5px 3px 3px;
}
::-webkit-input-placeholder {
 font-style:italic;
}
:-moz-placeholder { /* older Firefox*/
 font-style:italic;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-style:italic;
} 
:-ms-input-placeholder { 
 font-style:italic;
}

@media (min-width: 768px) {
	.navbar-form .form-group {
	  width: 155px;
	}
	.navbar-form {
  		padding-right: 5px;
  		padding-left: 5px;
	}
}
/* Test styles */
#colSearch .formOutline .form-control {
	height:32px;
}
#colSearch .formOutline {
	height:35px;
}
@media (min-width: 768px){
	.navbar-form .form-group {
  		width: 165px;
	}
	.navbar-form {
		padding:0px;
		margin:0px;
	}
}
.sidebar {
	padding-left:20px;
	padding-right:20px;
}

#user-navbar {
	float:right;
}
#topMenu a{
  text-decoration: none;
}
#topSection {
  background: url('../graphics/banner4.jpg') no-repeat scroll 0 0 transparent; 
  display: block;
  height: 355px;
  min-width:830px;
  position: relative;
  padding-top: 24px;
  height:130px; 
}
#pageTitle {
  position: absolute;
  padding: 20px;
}
#pageTitle h1 {
  color: #fff;
  font-size: 38px;
  line-height: 18px;
  font-weight: 400;
  text-transform:none;
  margin-bottom: 0px;
  margin-top:-2px;
}
.headerSmall {
	display:block;
	line-height:1em;
	margin-top: 15px; 
	font-size: 20px; 
}
#pageTitle div.breadcrumb {
  font-size: 12px;
  color: #fff;
  background-color:transparent;
  padding-left:0px; 
  margin-top:4px;
}
#pageTitle div.breadcrumb a, #pageTitle div.breadcrumb span.sep, div#toolArea h1 {
  color: #79d9ec;
}
#logoArea {
  width: 194px;
  height: 190px;
  float:left;
}
#site-filagree {
  background: url('https://www.nysoclib.org/sites/all/themes/nysoclib/images/logo-bg-collection@2x.png') no-repeat;
  background-size: 97px 190px;
  float: left;
  width: 97px;
  height:190px;
}
#site-logo {
  float: left;
  width: 97px;
  height: 190px;
}
#logo1 {
  display: block;
  height: 95px;
}
#logoMain a {
  display: block;
  text-indent: -9999px;
  width: 97px;
  height: 95px;
  background: url('https://www.nysoclib.org/sites/all/themes/nysoclib/images/nysoclib-logo@2x.png') no-repeat;
  background-size: 97px 95px;
}
#columnRight {
  position: absolute;
  left: 194px;
  width: 100%;
}
.marginLeft {
	width:190px;
	float:left;
	min-height:400px;
}
.marginRight {
	min-width:830px;
	float:left;
	width:100%;
}
.topMain {
  width: 100%;
  height: 95px;
  display: block;
  padding-right:170px;
}
div#searchArea {
  width: 218px;
}
div.searchArea {
  float: right;
  margin: 18px 0px 0 0;
  color: #d6742a;
  font-size: 11px;
}
div#searchArea div.globalLinks {
  width: 210px;
  display: block;
  margin-bottom: 6px;
}
div.globalLinks {
  margin: 0 0 1px 2px;
  position: relative;
  color: #747060;
}
div.globalLinks a {
  text-decoration: none;
  color: #747060;
}
#pageArea {
	background-color:#fff;
}
.catalogInfo {
	font-size:11px;
	height:24px;
}

/* Homepage */

.frontSlide .frontSlideCaption {
	opacity:1;
	width:80%;
	z-index:50;
}
.frontSlide:hover .frontSlideCaption {
	opacity:1;
	width:80%;
}
.setTitle {
	font-size:24px;
}
.setDescription {
	font-weight:normal;
	font-size:14px;
}
.front .jcarousel-wrapper {
	margin-top:22px;
}
.front .jcarousel-control-next, .front .jcarousel-control-prev {
	font-size:80px;
	font-weight:200;
	opacity:.5;
	height:95px;
}
.front .jcarousel-control-prev {
  left: -5px !important;
}
.front .jcarousel-control-next {
  right: -5px;
}
.jcarousel li {
	height:400px;
	min-width:525px;
}
.jcarousel .frontSlide {
	background-color:#000;
}
.jcarousel .frontSlide img{
	opacity:.3;
}
.jcarousel li.activeSlide .frontSlide img{
	opacity:1;
}
.jcarousel .frontSlideCaption {
	display:none;
}
.jcarousel li.activeSlide .frontSlideCaption {
	display:block;
}
/*.disabled { visibility: hidden; }*/
.jcarousel ul {
    /* ...other styles left out... 
    left: -150px !important;*/
}

/* Browse Menu */

.browseHeadernav.active {
	background-color:#d6742a;
	padding:0px 5px 0px 5px;
	color:#fff;
}
.browseHeadernav {
	padding:0px 5px 0px 5px;
}

.browseHeadernav:hover {
	background-color:#d6742a;
	padding:0px 5px 0px 5px;
	color:#fff;
}

ul#mainMenu li.item:hover #browse-menu .browseHeadernav.active a {
	color:#fff;
}
#bRefine {
	margin:0px -20px -20px -20px;
}
.filterMenuFacetList li.active {
	background-color:#aaa; 
}
.filterMenuFacetList li {
	padding-left:5px;
	padding-right:5px;
}
.bResultListItem .bResultListItemImg {
	margin-right:0px;
}
#browseResultsContainer {
	padding-right:15px;
}
.browseMenuBrowseAll a{
	float:left;
	margin-left:10px;
}
/* Front Page */

.front H1 {
	padding-left:0px;
}

/* Search Results */

.blockResultsScroller.publication {
	height:250px;
}
.blockResults.publication {
	height:250px;
}
.multisearch .pubSet {
	height:250px;
}
.multisearch  .pubResult {
	height: 70px; 
	font-style:italic
}
.multisearch  .pubResult p{
	padding-top:3px;
	font-style:normal;
}
.multisearch .authorityResult {
	background-color:#fff;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
}
.multisearch small {
	font-size:100%;
}
.vco-slider .slider-item .content .content-container .text .container h2.date {
	display:none !important;
}
.vco-slider .slider-item .content .content-container .text .container p {
	margin-bottom:0px !important;
}
._pdf_thumbnails {
	display:none;
}
/* Detail pages */

@media (min-width: 768px) {
	.detail .navTop {
	  display: block;
	} 
}
.prevLink, .resLink, .nextLink {
	display:inline-block;
}
.prevLink {
	float:left;
}
.nextLink {
	float:right;
}
.detail .navTop {
	text-align:left;
	margin-top:10px;
	margin-left:-1px;
	width: 300px;
  	z-index: 1000000;
  	padding-left:0px;
  	padding-right:0px;
  	width:196px;
}
.detail .navTop a {
  padding: 3px 5px 3px 5px;
  background-color:#fff;
  text-transform:none;
  font-size:12px;
}
.detail .navTop a .small {
  font-size:12px;
  color:#999;
}
.detailNav {
	clear:both;
	width:100%;
	height:20px;
	margin-bottom:10px;
}
.detailNav .right{
	float:right;
}
.detailNav .left{
	float:left;
}
.nextLink {
	margin-left:20px;
}
.metaTitle {
	font-family: 'Gudea', sans-serif;	
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	margin-top:-10px;
}
.detail .unit {
	padding: 2px 0px 2px 0px;
	font-size:14px;
	line-height: 1.5em;
}
.detail .sidebar .unit { 
	font-size:12px;
	line-height: 1.25em;
}
.detail a {
	color: #d77421;
}
div.sideLink {
	padding-bottom:10px;
}
.sideLink a{
	color: #d77421;
	text-transform:uppercase;
	font-size:16px;
	text-decoration:none;
}
.detail #detailTools {
	margin-top:20px;
	clear:both;
	height:28px;
	padding-top:0px;
}
.detail .detailTool {
	float:left;
}
.detail #detailTools a, .detail .detailTool span{ 
	color:#000;
	font-size:14px;
}
.detailMediaToolbar .dlButton {
	/*display:none;*/
}
.detail .detailMediaToolbar {
	padding-right:10px;
}
a.readmore-js-toggle {
	color:#d77421;
	font-size:14px;
}
.atm-f {
	height:26px !important;
}
.atm-i {
	margin-top:10px !important;
}
.bookTitle {
	max-height:48px;
	overflow:hidden;
}
.biography h2 {
	color:#333;
	font-size:13px;
	text-transform:uppercase;
}
.page.detail h4 a{
	font-size:16px;
	color: #d77421;
}
.wikipedia a.readmore-js-toggle{
	display:none !important;
}
.bookLabel {
	max-height:28px;
	overflow:hidden;
}
.incomplete {
	margin-top:10px;
	margin-bottom:10px;
	font-size:14px;
}
.incomplete .fa-sticky-note {
	color: #d77421;
}
.jcarousel {
	width:100%;
	background-color:#999;
}
.visualize {
	font-size:16px;
	font-family: 'Gudea', sans-serif;
	background-color:#f7f7f7;
	border-radius:4px;
	padding:5px;
	width:100px;
	margin-top:10px;
	float:right;
}
.time {
	font-family: 'Gudea', sans-serif;
	color:#fff;
	font-size:14px;
	background-color:#5e9eaa;
	border-radius:4px;
	padding:5px;
	text-align:center;
	width:150px;
	margin-bottom:10px;
}
.checkouts {
	font-family: 'Gudea', sans-serif;
	color:#fff;
	font-size:14px;
	background-color:#d77421;
	border-radius:4px;
	padding:5px;
	text-align:center;
	width:150px;
	margin-bottom:10px;
}
.readers {
	font-family: 'Gudea', sans-serif;
	color:#fff;
	font-size:14px;
	background-color:#666;
	border-radius:4px;
	padding:5px;
	text-align:center;
	width:150px;
}
.partial {
	display:inline-block;
}
.full {
	display:inline-block;
	margin-left:20px;
}
.checkouts .count, .readers .count, .time .count {
	font-size:20px;
}
.closeBut {
	text-align:right;
}
.ct-chart .ct-label, .ct-chart .ct-label.ct-horizontal, #stat_entity_checkout_distribution.ct-chart .ct-label.ct-horizontal, #stat_bib_checkout_distribution.ct-chart .ct-label.ct-horizontal  {
	font-size:.9em !important;
	color:#666 !important;
	fill:#666 !important;
	font-weight:bold;
}
.overlay {
	padding:20px;
	min-width:1025px;
}
.overlay-corner.open {
	overflow-y:auto !important;
}
.overlay .circles #stat_bib_books_by_subject_area2 .ct-label, .ct-chart .ct-label.ct-horizontal,  .overlay .circles #stat_entity_checkout_durations2 .ct-label, .ct-chart .ct-label.ct-horizontal, .overlay .circles #stat_entity_checkout_distribution2 .ct-label, .ct-chart .ct-label.ct-horizontal {
	color:#000 !important;
	fill:#000 !important;
	font-size:1.2em !important;
}
.overlay .circles #stat_bib_books_by_subject_area2 .ct-label:hover, .overlay .circles #stat_entity_checkout_durations2 .ct-label:hover, .overlay .circles #stat_entity_checkout_distribution2 .ct-label:hover {
	background-color:#ddd;
	border-radius:4px;
	padding:5px;
}
#stat_bib_books_by_subject_area2, #stat_bib_readers_by_occupation2, #stat_bib_checkout_durations, #stat_bib_readers_by_occupation, #stat_bib_checkout_distribution, #stat_bib_books_by_subject_area, #stat_entity_checkout_durations, #stat_entity_checkout_distribution {
	cursor: pointer !important; 
}
#stat_bib_checkout_distribution2 {
	margin-top:40px;
}
.ct-chart {
	overflow:visible !important;
	margin-top:-45px;
}
.overlay .ct-chart {
	overflow:visible !important;
	margin-top:0px;
}
svg:not(:root) {
	overflow:visible !important;
}
.color1 {
	fill: #666;
}
.color2 {
	fill: #d77421;
}
.color3 {
	fill: #5e9eaa;
}
.color4 {
	fill: #cccccc;
}
.color5 {
	fill: #FAEE68;
}
.color6 {
	fill: #a3a547;
}
.color7 {
	fill: #679282;
}
.color8 {
	fill: #f5f5f5;
}
.color9 {
	fill: #b2a87f;
}
.color10 {
	fill: #774969;
}
.color11 {
	fill: #566d9d;
}
.color12 {
	fill: #000000;
}
.vizTitle {
	color:#333;
	text-transform:uppercase;
	font-size:14px;
	text-align:center;
	border-bottom:1px solid #ddd;
	
	background-color: #f7f7f7;
	padding: .5em .6em; 
	border-bottom: 3px solid #333;
    color: #333;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
}
.vizTitle button {
    background: none;
    color: #d77421;
    text-transform: none;
    right: 15px;
    font-size: 11px;
    border: 0;
    position: absolute;
    font-weight:bold;
    font-size: 17px;
    margin-top: -2px;
}
.overlay .vizTitle {
	font-size:28px;
	padding:10px;
	text-transform:none;
}
.vizName {
	font-size:14px;
	color:#666;
    padding: 10px 0px 30px 0px;
    text-align: center;	
}
.overlay .vizName {
	text-transform:uppercase;
	color:#000;
	font-size:18px;
	color:#d77421;
	padding:10px 0px 0px 0px;
}
.objects.bib .overlay .vizName { 
	margin-bottom:20px;
}
.expand {
	padding:0px;
	text-align:center;
	color:#d77421;
	text-transform:uppercase;
}
.ct-chart.ct-golden-section {
	margin:10px -20px 0px -10px;
}
.overlay .ct-chart.ct-golden-section {
	margin:0px;

}
.overlay .ct-chart-line {
	margin-top:40px;
}
.ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
	stroke: #d77421 !important;
}
#circulationGraph.ct-chart .ct-series.ct-series-a .ct-line, #circulationGraph.ct-chart .ct-series.ct-series-a .ct-point {
	stroke: #999999 !important;
}
#stat_entity_checkout_distribution.ct-chart .ct-series.ct-series-b .ct-line, #stat_entity_checkout_distribution.ct-chart .ct-series.ct-series-b .ct-point, .ct-series-b-key.average,
#stat_bib_checkout_distribution.ct-chart .ct-series.ct-series-b .ct-line, #stat_bib_checkout_distribution.ct-chart .ct-series.ct-series-b .ct-point,
#stat_bib_checkout_distribution2.ct-chart .ct-series.ct-series-b .ct-line, #stat_bib_checkout_distribution2.ct-chart .ct-series.ct-series-b .ct-point,
#stat_entity_checkout_distribution2.ct-chart .ct-series.ct-series-b .ct-line, #stat_entity_checkout_distribution2.ct-chart .ct-series.ct-series-b .ct-point{
	stroke: #999999 !important;
	color: #999999 !important; 
}
.ct-series-a-key {
    color: #d77421 !important;
    position: absolute;
    top: 30px;
    font-size:14px;
    left:20px;
}
.ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
	stroke: #5e9eaa !important;
}
.ct-series-b-key {
    color: #5e9eaa !important;
    position: absolute;
    top: 30px;
    right: 0px;
    font-size:14px;    
}
.ct-series.ct-series-a .ct-slice:not(.ct-donut) {
	fill: #5e9eaa !important;
}
#stat_bib_books_by_subject_area .ct-label, #stat_entity_checkout_durations .ct-label, #stat_bib_checkout_durations .ct-label, #stat_bib_readers_by_occupation .ct-label {
	display:none;
}
#stat_entity_checkout_distribution .ct-label.ct-horizontal, #stat_bib_checkout_distribution .ct-label.ct-horizontal{
	display:none;
}
.objectsCirculation .ct-series-a-key, .objectsCirculation .ct-series-b-key,
.entityCirculation .ct-series-a-key, .entityCirculation .ct-series-b-key{
	position:relative;
	top:0px;
	left:-25px;
	display:block;
}
.circNote {
	margin-left:30%;
	font-size:12px;
}
.ovcircNote {
	margin-left:30%;
	font-size:12px;
	margin-top:70px;
}
.readerRow {
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	padding-top:10px;
}
.titleBar {
	font-family: 'Gudea', sans-serif;	
	color: #d6742a;
	font-weight:bold;
	padding-bottom:10px;
	text-transform: uppercase;
	color: #333;
	font-size: 12px;
	font-weight: normal;	
}
.entityThumb img{
	width:100%;
	height:auto;
}
.entityName {
	margin-left:10px;
}	
.vizPlaceholder {
	background-color:#f7f7f7;
	width:100%;
	height:250px; 
	font-size: 80px;
  	text-align: center;
  	padding-top: 70px;
  	color:#bbb;
  	margin-bottom:10px;
}
.ledgerRow {
	padding-bottom:5px;
	border-top: 1px solid #ccc;
	padding-top:5px;
}
.ledgerImage img {
	width:100%;
	height:auto;
}
.ledgerImage {
	margin-bottom:20px;
}
.ledgerSlide .caption{
	height:45px;
	border-bottom:2px solid #ccc;
}
.ledger #next, .ledger #prev {
	background-color:#d77421;
	color:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	padding:5px;
	font-weight:bold;
	margin-top:10px;
}
.ledger #prev {
	float:left;
}
.ledger #next {
	float:right;
}
#entityTable {
	margin-top:20px;
}
#objectTable {
	margin-top:20px;
}
#objectTable.ui-tabs .ui-tabs-nav{
	margin-left:-15px !important;
	margin-right:-15px !important;
}
table.dataTable thead th, table.dataTable thead td {
	padding:10px;
}
#buildingTable {
	margin-top:20px;
}
#objectTable #circTab {
	margin-left:-15px;
	margin-right:-15px;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
	background-color:#fff;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
	background-color:#fff;
}
table.dataTable.display tbody tr.odd:hover>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd:hover>.sorting_1 {
	background-color:#f7f7f7;
}
table.dataTable.display tbody tr.even:hover>.sorting_1, table.dataTable.order-column.stripe tbody tr.even:hover>.sorting_1 {
	background-color:#f7f7f7;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
	background-color:#fff;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
	background-color:#f7f7f7;
}
table.dataTable thead th, table.dataTable tfoot th {
	font-weight:normal;
}
table.dataTable thead th, table.dataTable thead td {
	border-bottom: 1px solid #ccc;
}
table.dataTable tbody th, table.dataTable tbody td {
	padding: 5px 10px;
}
table.dataTable.no-footer {
	border-bottom:1px solid #ccc;
}
.dataTable .fa-chevron-down, .dataTable .fa-chevron-up {
	display:none;
}
.dataTable .sorting_asc .fa-chevron-down{
	display:inline-block;
	margin-right:-15px;
	padding-left:3px;
}
.dataTable .sorting_desc .fa-chevron-up {
	display:inline-block;
	margin-right:-15px;
	padding-left:3px;
}
table.dataTable thead th {
    white-space: nowrap;
    padding-right:18px;
}
.dataTables_filter {
	margin-top:8px;
	padding-right:5px;
}
.letterHeader {
	float:left;
	padding-right:15px;
	font-weight:bold;
	font-size:14px;
}
#readerTable.ui-tabs {
	padding:0px;
}
#readerTable.ui-tabs .ui-tabs-nav {
	margin-left:-15px;
	margin-right:-15px;
	background-color:#fff;
}
#readerTable .ui-state-active a, #readerTable .ui-widget-content .ui-state-active a, #readerTable .ui-widget-header .ui-state-active a {
	border-bottom: 3px solid #fff;
	background-color:#f7f7f7;
}
#readerTable.ui-tabs .ui-tabs-nav a.ui-tabs-anchor:hover {
	border-bottom: 3px solid #fff;
	background-color:#f7f7f7;
}
#readerTable.ui-tabs .ui-tabs-nav {
	background-color:#fff !important;
	padding:0px !important;
}
#readerTable.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: .5em;
}
.bookButton {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  height:75px;
  margin-bottom: 5px;
  line-height: 1.1em;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  margin-right:5px;
  font-size:12px;
}
.entityButton {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  height:50px;
  margin-bottom: 5px;
  line-height: 1.1em;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  margin-right:5px;
}
.entityButton .entityName {
	margin-left:0px;
}
#entTab .col-sm-3, #entTab .col-md-3, #entTab .col-lg-3, 
#bookTab .col-sm-4, #bookTab .col-md-4, #bookTab .col-lg-4, 
#docTab .col-sm-4, #docTab .col-md-4, #docTab .col-lg-4,
#docTab .col-sm-3, #docTab .col-md-3, #docTab .col-lg-3{
	padding-right:0px;
	padding-left:0px; 
}
.detail .fa.fa-file-text {
	font-size:28px;
}
.ui-widget {
	font-family: gudea, helvetica !important;
	font-size:12px !important;
}
.ui-tabs .ui-tabs-nav {
	background-color:#f7f7f7 !important;
}
.detail .ui-widget-content {
	background:transparent !important;
	border: 0px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.ui-widget-header {
	background:transparent !important;
	border:0px !important;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color:#999 !important;
	font-weight:normal !important;
	text-transform: uppercase !important;
	font-size:14px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border:0px !important;
	font-weight:bold !important;
}
.ui-state-active a, .ui-widget-content .ui-state-active a, .ui-widget-header .ui-state-active a{
	/*font-weight:bold !important;*/
	border-bottom: 3px solid #333;
	color:#333 !important;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: .5em 1.6em;
}
.ui-tabs .ui-tabs-nav  a.ui-tabs-anchor:hover{
	border-bottom: 3px solid #333;
	color:#333 !important;
}
.detail .ui-state-default, .detail .ui-widget-content .ui-state-default, .detail .ui-widget-header .ui-state-default {
	border: 0px !important;
	background: transparent !important;
}
.ui-tabs .ui-tabs-panel {
	padding:0px !important;
}
.tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #cccccc;
	background-color: #FFFFFF;
	padding: 8px 8px 8px 8px;
	border-radius:4px;
	-webkit-border-radius:4px;
	opacity: 1 !important; 
	text-align: left;
	margin-left:150px;
	margin-top:27px;
	font-size:12px;
	width:auto;
	max-width:500px;
}
.tooltipImage {
	float:left;
	margin-right:10px;
}
.tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #333;
	background-color: #333;
	color:#fff;
	padding: 8px 8px 8px 8px;
	border-radius:4px;
	-webkit-border-radius:4px;
	opacity: 1 !important; 
	text-align: left;
	margin-left:0px;
	margin-top:-2px;
	font-size:12px;
	width:auto;
	max-width:300px;
}
.tooltip a{
	text-decoration:underline;
	color:#fff;
}

/* Advanced Search */

a.advancedSearchSelected {
	font-weight: bold;
	text-decoration: none;
}

.advancedContainer {
	background-color: #f7f7f7;
	min-height: 250px;
	padding: 20px;
}
div.advancedSearchField {
  float: left;
  width: 30%;
  margin-bottom: 20px;
  font-size:14px;
  margin-right: 10px;
}
.advancedUnit {
	clear:both;
}
.advButton {
	padding:5px;
	color:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#999;
	font-size:14px;
}
.advButton a{ 
	color:#fff;
}
#bViewButtons {
	display:none;
}
.searchFormLineModeElementSubLabel {
	font-size:12px;
}
.searchFormLineModeElementSubLabel input[type="checkbox"] {
	margin-left:5px; 
}

/* Borrowing search */

.borrowing.results a .fa{
	color: #d77421;
}

/* Finding Aid */

.findingaid H1 {
	color: #d6742a;
	font-family:"Gudea";
}
.collHeader a {
	font-family:"Gudea";
	color: #d6742a;
	font-size:14px;
}
.collHeader {
	font-size:14px;
}
.collHeader h3 a{
	color: #d6742a;
}
.fa-angle-double-down.finding-aid {
	margin-left:0px;
}
.collectionLabel {
	font-weight:bold;
	text-transform:uppercase;
}
.collectionNav {

	padding:5px 5px 15px 5px;
}
.collectionNav div{
	margin-bottom:10px;
}
.collection.detail h3 a:hover{
	text-decoration:none;
	color: #d77421;
}
.detail.collection {
	font-size:14px;
}
.colspacer {
	display:inline-block;
	width:12px;
}
.faDownload {
	float:right;
	font-size:13px;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #d77421;	
}
.faDownload a, .faDownload a:hover {
	color: #fff;
}
#contTab {
	font-size:13px;
}
#contTab a{
	display:inline-block;
	padding-bottom:5px;
}
#contTab .fa-chevron-down {
	padding-right:5px;
	margin-left:-5px;
}
#contTab .label{
	font-weight:bold;
	color:#666;
	font-size:13px;
	padding:0px;
} 
#contTab p {
	margin-left:25px;
}

/* Sets */
.gallery .galleryItem {
	padding:0px;
	margin:10px 0px 0px 0px;
	font-size:12px;
	overflow:hidden;
	height:auto;
}
.gallery .galleryItem .galleryItemImg  {
	width:50%;
	margin-right:0px;
	overflow:hidden;
}
.gallery .galleryItem .galleryItemText {
	width:50%;
	float:left;
	padding:10px;
	height:180px;
	overflow:hidden;
	margin-bottom:5px;
	font-size:14px;
}
.gallery .galleryItem .galleryItemImg img {
    height: 100%;
    width: 100%;
    margin-left: 0px;
}
.gallery H5 {
	margin-top:0px;
	color: #d6742a;
	text-transform:none;
	font-size:18px;
}
.gallery H4 {
	text-transform:none;
}
.gallery H3 {
	text-transform:none;
}
.gallery {
    font-size: 13px;
}
.gallery .thumbButton {
    float: left;
    width: 150px;
    height: 145px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    line-height: 1em;
    padding: 10px;
    font-size: 11px;
    overflow: hidden;
    margin: 0px 10px 10px 10px;
}
.gallery .thumbButton img{
	width:100%;
	height:auto;
	margin-bottom:10px;
}
.galleryItem .moreLink {
	clear:both;
	position:absolute;
	bottom:10px;
}
.galleryItem .moreLink a {
	color: #d6742a;
}

/* Footer */

#footerArea {
  width: 100%;
  height: 209px;
  margin-left:194px;
  background: url('../graphics/footerbg.png') repeat-x;
  padding: 20px 17px 20px 17px;
  font-size: 10px;
  color: #747060;
  line-height: 15px;
  font-family:"Gudea";
  float:left;
  margin-top:20px;
}
#footerArea .col1 {
  float: left;
  width: 146px;
  margin: 0 17px 0 0px;
}
#footerArea .col2 {
  float: left;
  width: 94px;
  margin: 0 17px 0 0;
}
#footerArea .col3 {
  float: left;
  width: 155px;
  margin-right: 17px;
}
#footerArea .col4 {
  float: left;
  width: 190px;
  margin-right: 16px;
}
#footerArea .col5 {
  float: left;
  width: 110px;
}
#footerCopyright {
  margin-top: 0px;
  font-size: 10px;
}
#footerDesigner {
  display: none;
}
#footerArea h3 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin:0px;
  color: #747060;
}
.footerItems {
  position: relative;
}
.footerItems a {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #747060;
  text-decoration: underline;
  line-height: 15px;
}
#footer a {
	color: #747060;
}
div.footerArea a {
  color: #747060;
}
a.sbIcon {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url('https://www.nysoclib.org/sites/all/themes/nysoclib/images/socialBK-bg.png') no-repeat;
  text-indent: -99999px;
  margin: 0;
  padding: 0px;
}
div.footerItems a.sbIcon.facebook {
  position: relative;
  margin: 9px 3px 0 0;
}
a.sbIcon.facebook {
  background-position: 0px 0px;
}
div.footerItems a.sbIcon.twitter {
  position: relative;
  margin-top: 9px;
}
a.sbIcon.twitter {
  background-position: -25px 0px;
}
.clear {
	clear:both;
}

/* Login Reg */

@media (min-width: 768px) {
	#caFormOverlay {
	  width: 500px;
	}
}
.tileviewer div.viewerControls {
	background-color:#333 !important;
	opacity:1;
}
.tileviewerTooltipFormat {
	background-color:#333 !important;
	padding:5px !important;
	display:block !important;
}	


/* chartist */
.ct-key {
	margin: 0px 0 0 30px;
}
.ct-chart .ct-label.ct-horizontal {
	padding-top:8px;
}
.ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
    stroke: blue
}

.ct-series-a-key {
	color: blue;	
}
#stat_bib_checkout_distribution2 .ct-series-a-key {
    width: 80%;
    max-height: 35px;
    overflow: hidden;
    margin-top:-40px;
}
#stat_bib_checkout_distribution2 .ct-series-b-key,
#stat_entity_checkout_distribution2 .ct-series-b-key, #stat_entity_checkout_distribution2 .ct-series-a-key{
	margin-top:-40px;
}
#stat_entity_checkout_distribution2 {
	margin-top:40px;
}
.ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
    stroke: green
}

.ct-series-b-key {
	color: green;
}


/* --------- */
/* reader list */


div#readerList {
	position: relative;
	overflow: hidden;
	max-height: 300px;
	min-height: 30px;
	
}
#booksCirculation div#readerList{
	margin-bottom:0px;
}
.readerListContent {
	padding: 5px 0 10px 0;
	margin: 10px 0 10px 0;	
	min-height: 30px;
	max-height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f7f7f7;
    border-bottom: 10px solid #f7f7f7;
    border-top: 10px solid #f7f7f7;
}

.readerListToggle {	
	top: 4px;
	right: 10px;
	font-family: gudea, sans-serif;
	font-weight: bold;
	color: #d77421;
	font-size: 14px;
	margin-top:10px;
}

.readerListToggle:hover {
	cursor: pointer;
}
.readerListToggle.openpanel {
	float:right;
	margin: -40px 0px 0px 0px;
	z-index:10000;
	position:relative;
	background-color: #f7f7f7;
	padding:5px;
}

#readerListContent {
	display: none;	
}

.readerListEntry {
	background-color: #f7f7f7;
	padding:8px;
	border-radius: 4px;
	margin-top:2px;
	margin-bottom:2px;
	display:inline-block;
	width:100%;
}
div.readerListLetterBar {
	width: 100%;
	text-align: left;
	font-family: Gudea, sans-serif;
	font-size: 16px;
	margin: 5px 0 0px -15px;
	font-weight:bold;
}

div.readerListLetterBar .availableLetter {
	color: #333;
	margin: 0 5px 0 0;
}

div.readerListLetterBar .disabledLetter {
	color: #bbb;
	margin: 0 5px 0 0;
}

div.readerListLetterBar .activeLetter {
	color: #d77421;
	margin: 0 5px 0 0;
}
.availableLetter, .activeLetter, .disabledLetter {
	padding:5px 8px 5px 8px;
	background-color:#eee;
}
div#readerContentContainer {
	padding: 0px;
}

div#readerContent {
	border: 0px;
	border-radius:4px;
}
.togSmall {
	padding-left:15px;
	font-size:11px;
	color: #d77421; 
}

/* reader card */
div#readerCardContainer {
	background-color: #DEF0E7;
	padding: 10px;
	height: 700px;
	overflow-y: auto;
}

div.readerCardContent {
	background-color: #DEF0E7;
}

div.readerCardContent .readerCardCaption{
	padding:0px;
	margin: 0 0 0 5px;
	
	font-family: latoregular;
	color: #6e6e6e;
}

.readerCardContent .readerCardCaption a{
	color: #6e6e6e;
}

div.readerCardContent .readerCardImage {
	margin: 0;
	width: 100%;
	text-align: center;
}

div.readerCardContent .readerCardCaption .readerCardArtistName {
	font-size: 20px;	
}

div.readerCardContent .readerCardCaption .readerCardArtistRoles {
	font-size: 15px;
}

div.readerCardContent .readerCardImageSource {
	font-size: 10px;
	font-style: italic;
	text-decoration: none;
	color: #6e6e6e;
}


/* D3-based entity relationship diagram */

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
}


/* Circulation chart */
#circulationGraph {
	width: 100%;
	height: 600px;
	margin-top: 0px;
}

/* Publication map visualization */
#publisherMap {
	width: 83.33%;
	height: 600px;
	margin-top: 0px;
}

#publisherMapCatalogueDetail {
	width: 100%;
	height: 300px;
	margin-top: 0px;
	margin-bottom:20px;
}
.catalog.detail #mapInfo {
	display:none;
}
.leaflet-top, .leaflet-bottom {
	z-index:5 !important;
}
.detail .leaflet-top a, .detail .leaflet-bottom a,
.detail .leaflet-top a:hover, .detail .leaflet-bottom a:hover{
	color: #000000;
	text-decoration:none;
}
.leaflet-popup-content {
	cursor: pointer !important;
}

.detail.catalog #groupMap #publisherMapYearSlider {
	width: 100%;
	left:15px;
}
.slider.slider-horizontal {
	width: 100% !important;
}
.slider-handle {
	background-color: #d6742a !important;
	background-image: linear-gradient(to bottom, #d6742a 0%, #d6742a 100%) !important;
}
.slider-selection {
	background-color: #d6742a !important;
	background-image: linear-gradient(to bottom, #d6742a 0%, #d6742a 100%) !important;
}
#publisherMapYearSliderStart, #publisherMapYearSliderEnd {
	background-color:#555;
	padding:5px;
	border-radius:4px;
	color:#fff;
}
.tooltip.tooltip-min.top, .tooltip.tooltip-max.top {
	display:none;
}
.tooltip-inner {
	background-color:#555 !important;
	padding:5px !important;
	display:none;
}
.tooltip.top {
	padding:0px; !important;
}
.tooltip.top .tooltip-arrow, .tooltip.tooltip-main.top {
	display:none;
}
.leaflet-pane path{
	fill:#d6742a;
}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	font-weight:bold;
}
.catalog.detail .expand {
	margin-top:10px;
}
#publisherContent div{
	font-size:13px;
	color:#666;
	padding-bottom:10px;
}
#publisherContent div input{ 
	background-color:#333;
}
#groupMap #publisherMapYearSlider {
	left: 0px;
}

/* Circulation visualization reader list */
.readerList {
	background-color: #f7f7f7;
	font-family: latoregular;
	color: #6e6e6e;
	margin: 0 0 0 0;
	padding: 5px;
	position: relative;
	min-height: 50px;
	border-bottom: 3px solid #fff;
}

.readerListImage {
	float: left;
	margin: 0 5px 0 0;
}

.readerListImagePlaceholder {
	float: left;
	margin: 0 5px 0 0;
	width: 72px;
	height: 72px;
	background-color: #eee;
}

.readerListRemove {
	position: absolute;
	top: 5px;
	right: 5px;
}

.readerListRemove:hover {
	cursor: pointer;
}

.readerListName {
	font-size: 12px;
	width: 95%;
	font-family: gudea, sans-serif;
	font-weight:bold;
	color:#333;
}

.readerListColorKey {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	bottom: 5px;
	right: 5px;
	border-radius: 3px;
}

.readerListShowHide {
	position: absolute;
	bottom: 5px;
	right: 25px;
	font-family: gudea, sans-serif;
	font-size: 12px;
}

/* About Page */

.aboutPage {
	font-size:14px;
	line-height: 1.5em;
}