/* blue: #104d73; navy: 104d73; red: e24a3f; teal: #1c858d; salmon: #f2a197; lightblue: #73c3ea; */
@import url('https://fonts.googleapis.com/css?family=Archivo|Archivo+Black|Quattrocento:400,700');
/*
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Archivo', sans-serif;
    font-family: 'Quattrocento', serif; - 400 and 700
*/


body{
	margin-bottom:330px;
	font-size: 16px;
	color:#000;
}

.container, .heroSearch{
	max-width:1500px;
}
a{
	color: #e24a3f;
}
a:hover{
	color: #e24a3f;
	text-decoration:underline;
}
H1, h1 {
    font-size: 30px;
    color: #104d73;
    text-transform: none;
	font-family: 'Quattrocento', serif;
}
@media(max-width:768px){
	.results H1{
		font-size:22px;
	}
}
H2, h2 {
	color: #104d73;
}
H3, h3, H6, h6, H4, h4{
	color:#000;
}
H4, h4 {
    font-size: 20px;
}
H5, h5 {
	font-size: 16px;
}
.btn-default, .browse .btn, .sets .btn, a.btn-default {
    background-color: #104d73;
    text-shadow:none;
    color:#FFF;
    text-decoration:none;
}
.btn-default:hover, .browse .btn:hover, .sets .btn:hover, a.btn-default:hover,
.btn-default:focus, .browse .btn:focus, .sets .btn:focus, a.btn-default:focus,
.btn-default:active, .browse .btn:active, .sets .btn:active, a.btn-default:active {
    background-color: #333;
}
.form-control:focus {
    border-color: #000000;
}
.bgGray{
	background-color:#333;
}
.bgLtGray{
	background-color:#F1F1F1;
}
.bgBlue{
	background-color:#104d73;
}
.btn-search{
	background-color:transparent;
}
.breadcrumb{
	padding:0px;
	font-size: 12px;
	background-color:#FFF;
	margin-bottom:30px;
	color:#828282;
}
.breadcrumb, .breadcrumb a, .detail .breadcrumb, .detail .breadcrumb a {
	font-size: 12px;
	color:#828282;
}
.detail .breadcrumb{
	margin-bottom: 50px;
}
@media(min-width:992px){
	.breadcrumb{
		margin-top:-25px;
	}
	.detail .breadcrumb{
		margin-top: -45px;
	}
}
#pageArea{
	padding-top:20px;
	padding-bottom:75px;
}
#pageArea.front{
	padding-top:0px;
	padding-bottom:0px;
}

/* navbar */
.navbar-header{
	padding-left:15px;
	padding-right:15px;
}
.navbar{
	margin-bottom:0px;
	background-color: rgb(255, 255, 255, .95);
	transition: height .25s, background-color .25s, padding .25s, -webkit-box-shadow: .25s, box-shadow .25s, display .75s, opacity .75s;
	-webkit-transition: height .25s, background-color .25s, padding .25s, -webkit-box-shadow .25s, box-shadow .25s, display .75s, opacity .75s;
	transition-timing-function: ease-in-out;
}
body.initial .navbar{
	margin-bottom:0px;
	background-color: rgb(255, 255, 255, .95);
	transition: background-color .25s;
	-webkit-transition: background-color 0s;
	
	background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("../graphics/sails_short.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 150px;
}
/*body.initial .navbar{
	margin-bottom:0px;
	background-color: rgb(255, 255, 255, .95);
	transition: background-color .25s;
	-webkit-transition: background-color 0s;
	
	background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("../graphics/sled_dogs.jpg");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 150px;
}*/
body.frontContainer .navbar{
	background-image: none;
}

/* navbar fixed to top for 992 wide or higher */
@media(min-width: 992px) {
	.navbar{
		position: fixed;
		width: 100%;
		height: auto;
		top: 0px;
	}
	body{
		margin-top:180px;
	}
}

@media(max-width: 768px) {
	.navbar-nav {
		margin: 7.5px 0px 7.5px 0px;
	}
}
.menuItems.navbar-nav > li > a {
    padding-left:20px;
    text-transform:uppercase;
}
@media(min-width: 1072px) {
	.menuItems.navbar-nav > li > a {
		padding-top: 22px;
    	padding-bottom: 23px;
	}
	
	body.initial .menuItems.navbar-nav > li > a {
		padding-top: 31px;
		padding-bottom: 32px;
	}
}
#user-navbar > li > a{
	padding-top: 22px;
	padding-bottom: 27px;
}
body.initial #user-navbar > li > a{
	padding-top: 31px;
	padding-bottom: 32px;
}
@media (min-width:900px){
	.menuItems .dropdown-menu, #user-navbar .dropdown-menu{
		opacity:0;
		display:block;
		max-height:0px;
		transition:opacity .75s, max-height 4s;
		-webkit-transition:opacity .75s, max-height 4s;
	}
	.menuItems .dropdown:hover .dropdown-menu, #user-navbar .dropdown:hover .dropdown-menu{
		display:block;
		opacity:1;
		max-height:600px;
		overflow:hidden;
		transition:opacity .75s, max-height .4s;
		-webkit-transition:opacity .75s, max-height .4s;
		background-color:#FFF;
	}
}
nav .dropdown-menu > li > a {
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: lato;
    text-align: right;

}
nav .dropdown-menu{
	border:0px;
	margin-top: 0px !important;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.176);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {

    background-color: transparent;
    color: #999;

}
body.initial .dropdown-menu{
	margin-top: -20px !important;
	
}
.navbar-form {
	margin-top: 17px;
	margin-bottom:0px;
}
body.initial .navbar-form {
	margin-top: 25px;
}
@media(max-width: 1072px) {
	/*
	ul.menuItems {
		width:100%;
		border-top:solid 1px #ddd;
	}
	.menuItems.navbar-nav > li > a {
		padding-top:5px;
		padding-bottom:5px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right:0px;
	}
	.container.menuBar {
		padding:0px;
	}
	.navbar > .container .navbar-brand {
		margin-left:0px;
	}
	*/
	
	
	ul.menuItems {
		width:auto;
		border-top:0px;
	}
	.menuItems.navbar-nav > li > a {
		padding-top: 22px;
    	padding-bottom: 23px;
	}
	body.initial .menuItems.navbar-nav > li > a {
		padding-top: 31px;
		padding-bottom: 32px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right:0px;
	}
	/*.container.menuBar {
		padding:0px;
	}*/

}





.menuItems.navbar-nav > li > a:hover {
    color: #999;
    /*text-shadow: 0px 0px 3px #222;*/
    background-color:transparent;
   /* background-color:#ededed;*/
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #999;
   /* background-color:#ededed;*/
    background-color:transparent;
}
.navbar-brand{
	width:80px;
	padding-left:20px;
	display:inline-block;
	padding-top: 7px;
}
.navbar-brand.scrollLogo img{
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
body.initial .navbar-brand.initialLogo, .navbar-brand.scrollLogo{
	opacity: 1;
	top:0px;
	position: absolute;
	transition: opacity .5s;
	-webkit-transition:  opacity .5s;
	transition-timing-function: ease-in-out;
}
body.initial .navbar-brand.scrollLogo, .navbar-brand.initialLogo{
	opacity: 0;
	top:-200px;
	position: absolute;
	transition: opacity 0s;
	-webkit-transition:  opacity 0s;
	transition-timing-function: ease-in-out;
	
}
.navbar .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
	background-color:#F8F8F8;
}
.advancedSearch{
	padding-left:25px;
}
.advancedSearch a{
	font-size:11px;
}
a.caAdvancedSearchFormSubmit, a.caAdvancedSearchFormReset{
	color:#fff !important;
}
.navbar-default .navbar-toggle{
	border:0px;
	font-size:16px;
	margin-top: 30px;
}
.navbar-default .navbar-toggle .glyphicon{
	font-size:14px;
	margin-right:5px;
}
.navbar-default .navbar-toggle:hover{
	background-color:#f1f1f1;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: inherit;
}
/* scroll colors */
.menuItems.navbar-nav > li > a, #user-navbar > li > a, #headerSearchButton, .navbar-default .navbar-toggle, .advancedSearch a{
    color: #104d73;
}
.nav > li > a:hover, .nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .menuItems.navbar-nav > li.dropdown:hover > a {
    color: #999;
}
/* initial nav */
body.initial .navbar{
	background-color:transparent;
	-webkit-box-shadow: none;
	box-shadow:none;
	padding-top:20px;
}
body.initial .navbar > .container .navbar-brand{
	width:175px;
	margin-left:20px;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
/* body.initial .nav > li > a, body.initial .nav > li > a:hover, body.initial .nav > li > a:focus { */
	font-size: 18px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #e24a3f;
}
.navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
}
/* making collapsable menu work for larger size */
@media(max-width: 900px) {
	.navbar-collapse.collapse{
		display:none !important;
	}
	.navbar-toggle{
		display:table !important;
	}
	.navbar-nav > li{
		float:none;
	}
	.navbar-form .form-control {
		display: inline-block;
		padding-top: 5px;
	}
	body.initial .menuItems.navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.navbar-collapse{
		background-color: rgba(255, 255, 255, .95);
	}
	.navbar-header {
    	float: none;
	}
	.navbar-default .navbar-toggle .glyphicon{
		margin-right:0px;
	}
	.container > .navbar-collapse {
		/*position: absolute;
		width: 100%;
		top: 80px;*/
		border:0px;
		padding-bottom:10px;
    }
    .navbar-collapse-container{
    	position: absolute;
		width: 100%;
		top: 80px;
    }
    .navbar-form.navbar-right{
    	float:none !important;
    }
    #headerSearchInput{
    	width: 100%;
    }
    .navbar-form .form-group {
    	display: inline-block;
    	width: 85%;
    	margin-bottom:5px;
	}
	.navbar .formOutline{
		border:1px solid #dedede;
		margin:0px;
	}
	.btn-search {
		position: absolute;
		right: 5px;
		top: 3px;
	}
	ul.menuItems {
		width: 100%;
		margin:0px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 15px !important;
	}
	#user-navbar-toggle.in {
		display: block !important;
		padding-top:20px;
	}
	#user-navbar{
		display:none;
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none;
		display:block;
	}
	.navbar-form{
		padding-right:15px;
		padding-top:0px;
		padding-bottom: 5px;
	}
	.navbar-nav .dropdown-menu > li > a{
		text-align:left;
		padding-left:35px;
	}
	.navbar-nav .dropdown-menu{
		padding-top:20px;
	}
	body.initial.frontContainer .navbar-nav > li > a{
		color: #e24a3f;
		text-transform:Uppercase;
		padding-top:10px;
	}
	.navbar-collapse{
		border-top: 0px;
		border-bottom: 1px solid #e6e6e6;
		overflow-y:scroll !important;
		max-height:450px;
	}
	
	#user-navbar-toggle .navbar-nav > li > a {
		padding-left: 20px;
		padding-top:0px;
	}
	#user-navbar-toggle .navbar-nav, #user-navbar-toggle .navbar-nav > li{
		padding-top:0px;
	}
	.advancedSearch{
		padding-left:0px;
	}
}
@media(max-width: 768px) {
	.navbar-collapse-container{
    	left:0px;
    }
	#user-navbar-toggle .navbar-nav > li > a {
		padding-left: 20px;
	}
}
@media(min-width: 768px) and (max-width: 900px){
	.navbar-nav > li{
		padding-left:30px;
	}
	#user-navbar-toggle .navbar-nav > li > a {
		padding-left: 5px;
	}
}
@media(max-width: 900px) {
	#user-navbar-toggle, #user-navbar-toggle .navbar-nav, #user-navbar-toggle .navbar-nav > li, #user-navbar-toggle .navbar-nav > li > a {
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
	}
	#user-navbar-toggle .navbar-nav{
		margin-top:0px;
		margin-bottom:10px;
	}
	#user-navbar-toggle .navbar-nav > li > a{
		padding-top:10px;
		padding-bottom:10px;
		text-transform:uppercase;
		color:#104d73;
	}
}
@media(min-width: 900px) and (max-width: 992px){
	.advancedSearch{
		padding-left:10px;
	}
}
@media(max-width: 1110px) {
	body.initial .navbar > .container .navbar-brand{
		width:110px;
		margin-left:0px;
	}
	.navbar-brand.initialLogo{
		padding-left:0px;
	}
	.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
		font-size: 15px !important;
	}
}
body.initial .navbar .formOutline{
	background-color:white;
}
/* initial nav links color */
body.initial .menuItems.navbar-nav > li > a, body.initial #user-navbar > li > a, body.initial #headerSearchButton, body.initial .navbar-default .navbar-toggle, body.initial .advancedSearch a{
    color: #104d73;
}
body.initial .navbar-toggle .icon-bar {
    background-color: #104d73;
}
body.initial .nav > li > a:hover, body.initial .nav > li > a:focus, body.initial .navbar-default .navbar-nav > .open > a, body.initial .navbar-default .navbar-nav > .open > a:hover, body.initial .navbar-default .navbar-nav > .open > a:focus, body.initial .navbar-default .navbar-nav > .active > a, body.initial .navbar-default .navbar-nav > .active > a:hover, body.initial .navbar-default .navbar-nav > .active > a:focus, body.initial .menuItems.navbar-nav > li.dropdown:hover > a {
	color: #FFF;
}
@media (max-width:900px){
	body.initial .nav > li > a:hover, body.initial .nav > li > a:focus, body.initial .navbar-default .navbar-nav > .open > a, body.initial .navbar-default .navbar-nav > .open > a:hover, body.initial .navbar-default .navbar-nav > .open > a:focus, body.initial .navbar-default .navbar-nav > .active > a, body.initial .navbar-default .navbar-nav > .active > a:hover, body.initial .navbar-default .navbar-nav > .active > a:focus, body.initial .menuItems.navbar-nav > li.dropdown:hover > a {
		color: #104d73;
	}
}

body.initial.frontContainer .menuItems.navbar-nav > li > a, body.initial.frontContainer #user-navbar > li > a, body.initial.frontContainer #headerSearchButton, body.initial.frontContainer .navbar-default .navbar-toggle, body.initial.frontContainer .advancedSearch a{
    color: #e24a3f;
}
body.initial.frontContainer .navbar-toggle .icon-bar {
    background-color: #e24a3f;
}
body.initial.frontContainer .nav > li > a:hover, body.initial.frontContainer .nav > li > a:focus, body.initial.frontContainer .navbar-default .navbar-nav > .open > a, body.initial.frontContainer .navbar-default .navbar-nav > .open > a:hover, body.initial.frontContainer .navbar-default .navbar-nav > .open > a:focus, body.initial.frontContainer .navbar-default .navbar-nav > .active > a, body.initial.frontContainer .navbar-default .navbar-nav > .active > a:hover, body.initial.frontContainer .navbar-default .navbar-nav > .active > a:focus, body.initial.frontContainer .menuItems.navbar-nav > li.dropdown:hover > a {
	color: #333;
}

/* front */
.front{
	margin-top:-15px;
}
.jcarousel-pagination{
	display:none;
}
.front .jcarousel-pagination{
	width:80%;
}
.front .jcarousel-wrapper{
	margin-top:0px;
}
.front H1{
	text-align:center;
	color:#104d73;
	font-weight:bold;
}

.front H1{
	font-family: 'Quattrocento', serif;
	font-size: 40px;
	color: #000;
	font-weight:400;
}
.front H2, .front .frontGallerySlideCaption a{
	color: #104d73;
}
.front .bgLtGray{
	padding-left:30px;
	padding-right:30px;
}

.front .tileLinks{
	margin-bottom:75px;
}
.front .tileLinks > div{	
	position:relative;
}
.front .tileLinks img{
	width:100%;
	height:auto;
}
.front .tileLinks > div:hover img{
	opacity: .2;
	-webkit-transition: opacity .75s;
    transition:opacity .75s;
}
.front .tileLinks .sectionLink a{
	font-size:42px;
	font-family: 'Quattrocento', serif;
	color:#000;
}
.front .tileLinks .sectionLink a:hover{
	text-decoration:none;
}
.front .tileLinks .sectionLink{
	position:absolute;
	top:40%;
	text-align:center;
	width:100%;
	left:0px;
	opacity:1;
}
@media (min-device-width:1024px){
	/* rollover activation of link text only for computer screens */
	.front .tileLinks .sectionLink{
		opacity:0;
	}
}
.front .tileLinks > div:hover .sectionLink{
	opacity:1;

	-webkit-transition: opacity .5s;
	transition:opacity .5s;
}
@media (max-device-width:1024px){
	/* touch screens */
	.front .tileLinks img{
		opacity:.8;
	}
	.front .tileLinks .sectionLink a{
		color:#FFF;
		text-shadow: 1px 1px 4px #000;
	}
}
@media (max-width: 768px) {
	.front .tileLinks .col-sm-4{
		margin-bottom:30px;
	}
}
.front .heroSearch {
	position:relative;
	text-align:left;
	padding-top:200px;
	padding-bottom:300px;
}
.heroSearch .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
}
.heroSearch .form-group{
    width:80%;
}
.front .heroSearch img{
	width:100%;
	height:auto;
}
.front .heroSearch form{
/*	position:absolute;
	top:40%;
	width:100%;
*/
}
.front .heroSearch .formOutline{
	display: inline-block;
	background-color:#FFF;
}
.front .heroSearch .form-group {	
    width: 400px;
    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.front .heroSearch .form-control, .front .heroSearch .form-control:focus{
	border:0px;
	box-shadow:none;
	font-size:18px;
	height:44px;
}
#heroSearchButton{
	color:#e24a3f;
	font-size: 20px;
}
.heroSearch H2{
	font-family: 'Quattrocento', serif;
	font-size:36px;
	color: #e24a3f;
	text-align: left;
}
.heroSearch H1{
	font-family: 'Archivo Black', sans-serif;
	font-size: 60px;
	color: #e24a3f;
	text-align: left;
	line-height: 1.1em;
	margin-top:0px;
	padding-top:0px;
}
/*@media(min-width: 480px) and (max-width: 768px) {
	.front .heroSearch{
		padding-left:100px;
	}
}*/
@media(min-width: 900px) and (max-width: 992px) {
	.front .heroSearch{
		padding-top:100px;
	}
}
@media(max-width: 992px) {
	.heroSearch H1{
		font-size:40px;
	}
	.heroSearch H2{
		font-size:24px;
	}
	.front .heroSearch .form-group {
		width: 250px;
	}
}
.hpIntro H1, .hpIntro H1 i{
	font-family: 'Quattrocento', serif;
	font-size: 40px;
	color: #000;
	font-weight:400;
	margin-bottom: 40px;
}
.hpIntro H1 b{
	font-family: 'Lato', sans-serif;
}
.hpIntro{
	color:#333;
	text-align:center;
	font-size:18px;
}
.hpIntro a{
	text-decoration:underline;
}
@media(max-width: 900px) {
	.hpIntro H1, .hpIntro H1 i{
		font-size:24px;
	}
	.hpIntro {
		font-size:14px;
	}
}
.hpGalleries{
	margin-top: 30px;
}
.hpGalleries img{
	width:100%;
	height:auto;
}
.hpGalleries .row{
	margin-bottom:30px;
}
.hpGalleries .col-sm-6{
	position:relative;
}
.hpGalleries .col-sm-6 a.hpGalleryTitle{
	position:absolute;
	top:40%;
	text-align:center;
	width:100%;
	left:0px;
	color:#FFF;
}
.hpGalleries a.hpGalleryTitle{
	font-size:42px;
	font-family: 'Quattrocento', serif;
	color:#000;
	text-shadow: 1px 1px 2px #000000;
	line-height: 1em;
}
.hpGalleries a.hpGalleryTitle:hover{
	text-decoration:none;
}
.hpGalleries .galleryTile:hover img{
	opacity:.7;
	transition:opacity .75s;
	-webkit-transition:opacity .75s;
}
@media(min-width: 768px) and (max-width: 992px) {
	.hpGalleries a.hpGalleryTitle{
		font-size:28px;
	}
}
@media(max-width: 768px) {
	.hpGalleries .galleryTile{
		margin-bottom:25px;
	}
}
/* parallax frontpage styles */
html.frontContainer {
    height: 100%;
}
body.frontContainer {
	margin-bottom:0px;
	height: 100%;
}
body.frontContainer #footer{
	position:relative;
}

.parallax {
	position:relative;
    margin-top:-180px;
    background-image: url("../graphics/hpParallax2.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /*background-position: top center;*/
    background-position: center -80px;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-device-width:1024px){
	/* ipad and mobile disable background-attachment: fixed; fallback to no parallax so at lest see image */
	.parallax {
		background-attachment: scroll;
	}
}
.parallaxArtefacts {
    background-image: url("../graphics/divers_helmet.jpg");
	height: 350px;
	background-position: top left;
	background-size: contain;
}
.parallaxArchives {
	background-image: url("../graphics/titanic_corkletter.jpg");
	height: 350px;
	background-position: top right;
	background-size: contain;
}
.parallaxVessels {
	background-image: url("../graphics/bone_ship.jpg");
	height: 350px;
	background-position: top left;
	background-size: contain;
}

.parallaxArtefacts a, .parallaxArchives a, .parallaxVessels a {
	top:120px;
	position:relative;
}
.hpIntro{
	padding-top:50px;
	padding-bottom:50px;
}
/* footer */
#footer{
	background-color: #f7f7f7;
	color:#000;
	padding-top:50px;
	height: 280px;
	border:0px;
	font-size:14px;
	font-weight:normal;
	margin-top:50px;
}
@media(max-width:480px){
	#footer{
		height:380px;
	}
}
#footer a{
	color:#000;
	font-weight:bold;
	font-size:16px;
	text-decoration:none;
}
#footer a.museumLink{
	font-family: 'Quattrocento', serif;
	font-size:28px;
	color:#000;
	font-weight:400;
}
#footer .address{
	text-transform: uppercase;
	font-size: 14px;
}
@media(max-width: 768px) {
	#footer .text-right{
		text-align:left;
	}
}
#footer .list-inline a{
	font-size: 14px;
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
}
#footer .social a{
	font-size: 20px;
	color:#333;
	font-size:25px;
}
#footer ul {
    margin-top: 25px;
}
/* detail */
.detail {
	color: #000;
}
.detail .unit {
	font-size: 15px;
	margin-bottom:20px;
}
.detail H6 a, .detail a {
    color: #104d73;
}
.detail H6{
	font-size: 15px;
}
.detail .unit a {
    color: #104d73;
    text-decoration:underline;
}
@media(min-width: 768px) {
	.detail .exportCollection{
		float:right;
		margin-top:5px;
	}
}
.detail .exportCollection{
	line-height:1.5em;
	margin-bottom:15px;
	font-size:12px;
	font-family: lato;
}
.detail .detailTool span, .detail .detailTool i, .detail .exportCollection a, .detail .exportCollection span.glyphicon, .lightboxAsk span.glyphicon, .lightboxAsk a{
	color: #104d73 !important;
	font-size:12px;
}
.detail .exportCollection span.glyphicon, .lightboxAsk span.glyphicon{
	margin-right: 5px;
}
.lightboxAsk{
	font-size:12px;
	text-transform:uppercase;
	font-family: lato;
	margin-bottom:10px;
}
a.readmore-js-toggle {
    padding-top: 10px;
    color: #104d73;
    font-weight:bold
}
.detail .unit b, .detail .unit strong {
    font-weight: 300;
}

.detail .detailNavBgLeft, .detail .detailNavBgRight{
	margin-top:-25px;
}
@media(min-width:992px){
	.detail .detailNavBgLeft, .detail .detailNavBgRight {
		margin-top: -55px;
	}
}
.detail .navTop a{
	color: #8e8985;
}
.detail .featuredVesselObject img{
	width:100%;
	height:auto;
}

/* collections */
.collectionLandingDesc{
	min-height:6em;
}
.collectionTile {
    font-size: 15px;
}
.collectionTile .title a{
	font-size: 16px;
}
.collectionsList a.btn-default{
	font-size:inherit;
}
.collectionsContainer a, #collectionLoad a{
	text-decoration:none !important;
}
.collectionsContainer a.active .fa, #collectionLoad a.active .fa {
    color: #FFFFFF;
}
#collectionLoad p {
    font-size: 14px;
}
#collectionLoad div a, #collectionLoad div .nonLinkedCollection {
    font-size: 16px;
    font-weight: 600;
}
.collectionsContainer a, .collectionsContainer .listItem {
	font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
}
.collectionsContainer .label, #collectionLoad .label, #collectionLoad .label .nonLinkedCollection{
	font-family:Lato;
	font-weight: 400 !important;
}
/* results */
.results.ca_occurrences H5 {
    margin-bottom: 10px;
}
.bResultItemImgPlaceholder {
    background-color: #FFFFFF;
    border: 2px solid #EDEDED;
    color: #858585;
    margin-bottom: 10px;
    padding: 10px 5px 10px;
    text-align: center;
    width: 100%;
}
.vmmPlaceholder{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	background-image: url("../graphics/VMM_Circle_Logo_small.jpg");
	background-position: center; /* Center the image */
 	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: contain;
 	min-height:130px;
}
.lbSetThumbPlaceholder .vmmPlaceholder{
	min-height:auto;
}
.lbSetImgPlaceholder .vmmPlaceholder{
	min-height: 70px;
}
.bResultListItemContent .vmmPlaceholder{
	width:55px;
	min-height:55px;
}
.bResultListItemContent .bResultItemImgPlaceholder{
	padding:5px;
}
.bResultListItem .bResultListItemText, .bResultItem .bResultItemText, #bRefine a, .bResultListItem .bResultListItemText a, .bResultItem .bResultItemText a {
    font-size: 14px;
    color:#000;
}
#bRefine.fixed {
	padding-top: 90px;
}
#pageArea.results .dropdown-menu{
	width:auto;
}
@media(max-width:767px){
	#pageArea.results .dropdown-menu{
		right:-90px !important;
	}
}
/* static pages */
.bodytext a{
	text-decoration:underline;
}
.bodytext img{
	width:100%;
	height:auto;
}
.bodytext img{
	padding-bottom:30px;
}
@media(min-width:768px){
	.bodytextImg{
		float:right;
		width:50%;
	}
	.bodytext img{
		padding-left:30px;
	}
}
.bodytext ul {
    padding-left: 15px;
}
.bodytext ul > li > ul{
	padding-left: 40px;
	padding-bottom:10px;
}
.bodytext ul > li{
	list-style-type: none;
}
.bodytext ul > li > ul > li{
	list-style-type: square;
}
/* advanced search */
#pageArea.advancedSearch li a{
	font-weight:bold;
	font-size:15px;
}

/* multisearch */
.multisearchImgPlaceholder {
    background-color: #fff;
    border: 2px solid #EDEDED;
    color: #858585;
    padding: 0px;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}
.multisearchImgPlaceholder .vmmPlaceholder {
    min-height: 100px;
}

/* galleries */
.gallery #gallerySetInfo {
	font-size: 16px;
}
.gallery, .gallery H6 {
    font-size: 15px;
}
.gallery .setDescription {
    font-size: 14px;
}

/* licensing form */
#licensingForm H2{
	margin-top:40px;
}
.licensingFormItem img{
	height:100px;
	width:auto;
}