body {
    background-color: #fff;
    padding: 0px;
    font-size: 1.25em;
    line-height: 1.875;
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    color: #333;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight:400;
}
#bodyDiv {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
p, div {
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    color: #000000;
    line-height: 1.3em;
}
a {
    text-decoration: none;
    border-bottom: 0px;
    color: #333333;
}
a:hover {
    text-decoration: none;
    color: #8B2D16;
}
h1 {
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0px 0px 7px 0px;
    line-height: 1.1em;
    line-height: 1.125;
    margin: 0.8em 0 0.7em;
    padding-top: 0;
    text-transform:none;
    -webkit-margin-before: 0em;
}
h2{
	text-transform: uppercase;
	font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	color: #000000;
	margin:0px 0px 3px 0px;
	line-height:1.1em;
}
h3{
	font-size: .92em;
	line-height: 1em;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #7b7863;
	line-height: 1;
	margin-bottom: 0px;
	padding: 0;
	font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight:300;
}
.gallery H4 {
	font-weight:bold;
	font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
	font-size:14px;
	text-transform:none;
}
.notificationMessage {
	border:0px;
	background-color:transparent;
}
.notificationMessage {
    color: #8B2D16;
    font-size: 1em;
    font-weight: 300;
    margin: -20px 0px 0px 0px;
    width: 500px;
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    clear: both;
}
#header {
    text-align: left;
    padding: 0px 0px 0px 0px;
    clear: both;
    width: 960px;
    height: 40px;
    margin-top: 25px;
}
#header a {
    text-decoration: none;
    border: 0px;
}
#footer {
    width: 950px;
    margin: 10px auto 0px auto;
    color: #666666;
    font-size: 12px;
    padding: 10px 0px 5px 10px;
    background-color: #fff;
    border-top: #ccc solid 1px;
    line-height:1.3em;
}
#footer a {
    color: #666666;
    font-size: 12px;
    text-decoration:none;
}
#detailPageArea {
    padding: 20px 30px 10px 40px;
    /* min-height: 420px; */
    background-color: #fafae4;
    background: url(../graphics/cardhole.jpg) no-repeat center bottom, url(../graphics/cardbackground.jpg) repeat center top;
}
a img {
    border: none;
}
.logo {
    float: left;
}
#search {
    width: 255px;
    float: right;
    text-align: left;
    margin-top: -4px;
    height: 20px;
    padding-left: 30px;
    margin-right: 8px;
}
#search #searchElement {
    float: right;
    width: 185px;
    text-align: right;
}
#search input[type="text"] {
    width: 175px;
    border: 1px inset #aaa;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    padding: 2px 0px 2px 5px;
    height: 20px; 
    margin: 0;
    -webkit-appearance: searchfield;
    font-size: 11px;
    line-height: 11px;
}
.advancedSearch {
    /* margin-right: 70px; */
    text-align: right;
    font-size: 10px;
}
.advancedSearch a {
    color: #999999;
}
form {
    display: inline;
}
.portal {
    float: right;
}
#nav {
    line-height: 1em;
    /* width: 510px; */
    width: 100%;
    height: 22px;
    float: left;
    text-align: left;
    clear: left;
    margin-top: 15px;
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 20px;
}
#nav a {
    color: #7c7c7c;
    border: none;
    text-decoration: none;
    line-height: 1em;
    margin-right: 25px;
    float: left;
    font-weight:400;
}

/* Front */

.figure {
    float: left;
    margin: 0px 10px 10px 0px;
    width: 230px;
    height: 150px;
    background-color: #666;
}
.figure a {
    border: none;
}
.figure img {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/* Static Pages */

.textContent p {
    font-size: 1.125em;
    line-height: 1.875;
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    color: #333;
    position: relative;
    padding: 0px;
    margin: 0px;
}

/* Light Box */

.lbSet:hover {
	position:relative;
	margin:0px;
	margin-bottom:30px;
	width:100%;	
}
.lbSet:hover H5 {
    height: 1em; 
}

/* Browse */

.filterMenuResults div div.row {
	max-height:none;
}
.filterMenuResults div div.row {
    overflow:hidden;
}
@media (min-width: 768px) {
	div.browseFacetItem {
		height: 90px;
	}
}

/* Contribute */
.contributeField {
    border-bottom: 1px dotted #777;
    padding-bottom:10px;
    padding-top:10px;
}
.formLabelText {
    padding-left: 10px;
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding-bottom:5px;
    display:inline-block;
}
.contributeField button, .contributeField input, .contributeField select[multiple], .contributeField textarea {
	background-color: #fafae4;
	border-radius: 10px;
    border: 1px inset #ccc;
}
.contributeField textarea {
	resize:none;
	height:20px;
}
.contributeField input[type="file"] {
	margin-top:10px;
	background-color:transparent;
	border:0px;
	margin-bottom:10px;
}

/* Detail */

#detailPageAreaBorder {
    width: 920px;
    clear: both;
    margin: 0px auto 15px auto;
    min-height: 420px;
    background-color: #fafae4;
    border-width: 20px;
    -webkit-border-image: url('../graphics/cardborderimage.jpg') 20 stretch;
    -moz-border-image: url('../graphics/cardborderimage.jpg') 20 stretch;
    -o-border-image: url('../graphics/cardborderimage.jpg') 20 stretch;
    border-image: url('../graphics/cardborderimage.jpg') 20 fill stretch;
}
#detailPageArea {
    padding: 20px 30px 10px 40px;
    /* min-height: 420px; */
    background-color: #fafae4;
    background: url('../graphics/cardhole.jpg') no-repeat center bottom, url('../graphics/cardbackground.jpg') repeat center top;
}
#detailBody {
    min-height: 350px;
}
#detailBody #pageNav {
    float: right;
    margin-top: -16px;
    text-align: right;
    width: 250px;
    padding: 0px 6px 0px 20px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    font-size: .8em;
    text-transform: uppercase;
    color: #7b7863;
}
#detailBody #pageNav a {
	display: inline-block;
    padding-left: 30px;
    text-transform: uppercase;
    color: #7b7863;
}
#detailBody #pageNav a div.small {
	display:inline;
	color: #7b7863;
}	
.titleBar {
    clear: both;
}
#detailBody #rightCol {
    float: right;
    width: 320px;
    font-size: 11px;
    text-align: left;
    min-height: 300px;
    margin-bottom: 40px;
}
#detailBody #rightCol p {
    margin: 0.525em 0 1.25em 0;
    font-size: 1.1em;
    line-height: 1.5em;
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    color: #333;
}
#detailBody #leftCol {
    width: 520px;
    text-align: left;
    float: left;
    /* margin-bottom: 25px; */
}
#detailBody #leftCol  {
	text-align:center;
}
.details {
    font-size: 78%;
}
.detailMediaToolbar a {
    font-size: .8em;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #7b7863;
    line-height: 1;
    margin-bottom: 0.5em;
    margin-left: 10px;
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    border: 0px;
}
.detailMediaToolbar a:hover {
    text-decoration: none;
    color: #8B2D16;
}
#objDetailImage {
    margin-bottom: 0px;
    text-align: center;
    width: 475px;
    overflow: hidden;
}
.detailMediaToolbar {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    text-align: center;
    padding: 5px 5px 15px 0px;
    width: 475px;
    height: 15px;
    text-align: left;
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
}
.scrollPane {
    width: 310px;
    max-height: 200px;
    overflow: auto;
    margin-bottom: 15px;
}
.zoomButton:before {
    content: "+ Zoom";
}
.dlButton:before {
    content: "+ Download Media";
}
.zoomButton .glyphicon, .dlButton .glyphicon, .setsButton{
	display:none;
}
.zoomButton, .dlButton {
	float:right;
}
.zoomButton {
	padding-left:15px;
}
#bottomBar {
    width: 370px;
    float: left;
    text-align: left;
    clear: left;
    margin-top: 35px;
    height:45px;
}

.relatedThumbBg {
    width: 110px;
    height: 75px;
    position: relative;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    margin: 0px 7px 10px 7px;
    background-color: #FFFFFF;
}
#detailNavBar .jumpToPageDetail {
    float: left;
    margin-top: -2px;
    text-align: left;
}
#detailNavBar .nextPrevious {
    float: right;
    text-align: right;
}
#detailNavBar {
    margin: 0px 40px 15px 0px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin-top: 15px;
}
.searchResultTd {
	padding-left:5px;
	padding-right:5px;
	width: 125px;
}
#detailNavBar .nextPrevious .next {
    padding-left: 5px;
}
#detailNavBar a {
    text-decoration: none;
    font-weight: bold;
}
#detailNavBar .nextPrevious .previous {
    padding-right: 5px;
}

/* Search Results */

.multisearch .multisearchResult {
	width:190px;
	height:185px;
}
.multisearch #collectionsBlock .blockResults {
	height: 205px;
}
.multisearch #collectionsBlock .scrollButtonNext, .multisearch #collectionsBlock .scrollButtonPrevious {
	height: 190px;
	padding-top:80px;
}
.searchTitle {
	font-weight:bold;
}
.multisearchSort {
	font-size:13px;
}	

/* Advanced Search */

.advancedSearch h1 small a{
	font-size:14px;
	color:#333;
	text-decoration:underline;
}
#caAdvancedSearchFormBorder {
    margin: 0px auto 15px auto;
    background-color: #fafae4;
    border-width: 20px;
    -webkit-border-image: url('../graphics/cardborderimage.jpg') 20 stretch;
    -moz-border-image: url('../graphics/cardborderimage.jpg') 20 stretch;
    -o-border-image: url('../graphics/cardborderimage.jpg') 20 stretch;
    border-image: url('../graphics/cardborderimage.jpg') 20 fill stretch;      
}
#caAdvancedSearchForm {
	text-align:left;
}
#caAdvancedSearchForm {
    padding: 0px 0px 87px 0px;
    background-color: #fafae4;
    background: url(../graphics/cardhole.jpg) no-repeat center bottom, url(../graphics/cardbackground.jpg) repeat center top;
}
#caAdvancedSearchForm h1 {
    margin-bottom: 20px;
    line-height: 1em;
    padding-top:10px;
    padding-left:15px;
}
.advancedRow {
	width:100%;
	clear:both;
}
div.advancedSearchField {
	width:50%;
	padding: 0px 15px 20px 15px;
}
.attributeListItem {

}
.advancedSearchField div {
	float:left;
}
.advSearchLabel {
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    color: #333;
    margin: 0px 0px 7px 0px;
    line-height: 1.1em;
    font-size: 1.2em;
    line-height: 1.125;
    margin: 0.8em 0 0.7em;
    padding-top: 0;
}
#caAdvancedSearchForm input[type="text"], #caAdvancedSearchForm input[type="textarea"], #caAdvancedSearchForm textarea, #caAdvancedSearchForm input[type="password"] {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    padding: 3px;
    font-weight: normal;
    border: 1px inset #CDD1D3;
    min-height: 24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    padding: 2px 10px 2px 10px;
    background-color: #f7f6ee;
    margin-right: 10px;
    -webkit-appearance: textfield;
    box-sizing: border-box;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    resize:none;
}
.advancedSearch .formLabelText {
	margin-top:20px;
}
.advancedSearch .formLabelText a {
	color: #333;
}
.caAdvancedSearchBoolean {
	float:right !important;
}
.browseTargetLabel {
	font-size:13px;
}
.filterbylabel {
	font-size:13px;
	color:#333;
	text-transform:none;
}
.filterMenuFacetList ul {
	margin-left:-5px;
}
.browseHeadernav {
	letter-spacing:1px;
	padding:0px 10px 0px 10px;
	font-size:13px;
}
.browseHeadernav a {
	color:#000;
	border-bottom:3px solid #f5f5f5;
}
.browseHeadernav.active a {
	border-bottom:3px solid #000;
}
.mainfacet {
	padding-bottom:10px;
	padding-top:10px;
	width:100%;
	background-color:#f5f5f5;
}
.filterMenuFacetList li a {
	color:#666;
	font-size:13px;
}
.filterMenuFacetList li.active {
	background-color:#f2f2f2;
}
.filterMenuFacetList {
	min-height:450px;
}

.gallery .detailMediaToolbar {
    background-color: #fff;
    padding: 12px 85px 7px 5px;
    font-size: 12px;
    position: absolute;
    display: block;
    top:auto;
    bottom: 0px;
    z-index: 200;
}
.gallery #galleryDetailImageArea #galleryDetailImageWrapper {
	padding-bottom:20px;
}
.popover {
	max-width: 350px;
	min-width:350px;
}

@media (min-width: 768px) {
	.gallery #galleryDetailImageArea {
		height: 460px;
	}
}



/*** jScrollPane styles ***/
.jspContainer
{
	overflow: hidden;
	position: relative;
	outline: none;
}

* :focus { 
	outline: 0; 
}
.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 100%;
	background:#fafae4;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
	border-radius: 10px;
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px;
}

.jspDrag
{
	background: #aaa;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius: 10px;
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	border-radius: 10px;
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
.scrollPane {
	width: 310px; 
	max-height: 200px; 
	overflow: auto;
	margin-bottom:15px;
}
.scrollPane p{
	padding-right:10px;
}

/* detail page timeline styles */

#detailBody .jcarousel-skin-chronology .jcarousel-direction-rtl {
	direction: rtl;
}

#detailBody .jcarousel-skin-chronology .jcarousel-container-horizontal {
    width: 800px;
    padding: 10px 30px 0px 30px;
}

#detailBody .jcarousel-skin-chronology .jcarousel-clip {
    overflow: hidden;
}

#detailBody .jcarousel-skin-chronology .jcarousel-clip-horizontal {
    width:  800px;
    height: 150px;
}

#detailBody .jcarousel-skin-chronology .jcarousel-item {
/*    width: 152px;*/
	width: 160px;
    height: 148px;
    position:relative;
/*  border: 1px solid #fff;
	background-color:#FFFFFF;*/
}

/*.jcarousel-skin-chronology .jcarousel-item:hover,
.jcarousel-skin-chronology .jcarousel-item:focus {
    border-color: #808080;
}*/

#detailBody .jcarousel-skin-chronology .jcarousel-item-horizontal {
    margin-left: 0;
   /* margin-right: 7px;*/
}

#detailBody .jcarousel-skin-chronology .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 7px;
	margin-right: 0;
}

#detailBody .jcarousel-skin-chronology .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
#detailBody .jcarousel-skin-chronology .jcarousel-next-horizontal {
    position: absolute;
    top: 65px;
    right: 5px;
    width: 20px;
    height: 39px;
    cursor: pointer;
    background: transparent url(../graphics/arrowRightChronoSmall.png) no-repeat 0 0;
}

#detailBody .jcarousel-skin-chronology .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../graphics/arrowRightChronoSmall.png);
}

/*.jcarousel-skin-chronology .jcarousel-next-horizontal:hover,
.jcarousel-skin-chronology .jcarousel-next-horizontal:focus {
    background-image: url(../graphics/arrowRightChronoSmallOff.png);
}*/

#detailBody .jcarousel-skin-chronology .jcarousel-next-horizontal:active {
    background-image: url(../graphics/arrowRightChronoSmallOff.png);
}

#detailBody .jcarousel-skin-chronology .jcarousel-next-disabled-horizontal,
#detailBody .jcarousel-skin-chronology .jcarousel-next-disabled-horizontal:hover,
#detailBody .jcarousel-skin-chronology .jcarousel-next-disabled-horizontal:focus,
#detailBody .jcarousel-skin-chronology .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-image: url(../graphics/arrowRightChronoSmallOff.png);
}

#detailBody .jcarousel-skin-chronology .jcarousel-prev-horizontal {
    position: absolute;
    top: 65px;
    left: 5px;
    width: 20px;
    height: 39px;
    cursor: pointer;
    background: transparent url(../graphics/arrowLeftChronoSmall.png) no-repeat 0 0;
}

#detailBody .jcarousel-skin-chronology .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../graphics/arrowLeftChronoSmall.png);
}

#detailBody .jcarousel-skin-chronology .jcarousel-prev-horizontal:active {
    background-image: url(../graphics/arrowLeftChronoSmallOff.png);
}

#detailBody .jcarousel-skin-chronology .jcarousel-prev-disabled-horizontal,
#detailBody .jcarousel-skin-chronology .jcarousel-prev-disabled-horizontal:hover,
#detailBody .jcarousel-skin-chronology .jcarousel-prev-disabled-horizontal:focus,
#detailBody .jcarousel-skin-chronology .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-image: url(../graphics/arrowLeftChronoSmallOff.png);
}


/* METABOLIC classes */

#detailBody .action {
	margin: 0px 3px 0px 3px;
    border: 1px solid #fff;
	background-color:#FFFFFF;
	height: 146px;
	width: 146px;
}
#detailBody .action:hover, .action:focus {
	border-color: #808080;
}
#detailBody .actionDate{
	font-size:13px;
	font-weight:bold;
	margin:5px 5px 0px 5px;
	position:relative;
}
#detailBody .actionTitle{
	font-size:12px;
	margin:5px 5px 0px 5px;
	height:auto;
}
#detailBody .actionTitle a{
	font-size:11px;
	float:right;
	margin-top:-3px;
}
#detailBody .actionTitleExtended{
	font-size:12px;
	margin:5px 5px 0px 5px;
	position:absolute;
	height:200px;
	background-color:#FFFFFF;
	z-index:10000;
	width:142px;
	display:none;
}
#detailBody .actionMoreInfo{
	position:absolute;
	bottom:5px;
	right:10px;
}
#detailBody .actionMoreInfo a{
	font-size: 11px;
}
#detailBody .actionSiloIcons{
	position:absolute;
	bottom:7px;
	left:10px;
}
#detailBody .actionSiloIcon{
	width:10px;
	height:10px;
	float:left;
	margin:3px 3px 0px 0px;
}
#detailBody .timelineContainer{
	width:860px;
	height:200px;
	float:none;
}
#detailBody .sliderContainer{
	margin:10px 40px 0px 40px;
	float:none;
	height:18px;
}
#detailBody .slider{
	background-color:#DEDEDE;
}


.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; border: 1px solid #333333; background-color: #666666; outline:none;}
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.sliderInfo {
	display: none;
	position: absolute; 
	top: -6px; 
	left: 15px; 
	min-width: 60px; 
	padding: 5px 5px 5px 10px; 
	font-size:12px;
	line-height:1em;
	white-space:nowrap;
	color:#FFFFFF;
	background-image: url(../graphics/bgSliderInfo.png);
	background-position: left center;
	background-repeat:no-repeat;
}


/* Styles for related object grid */
#detailBody .searchResultTd .textResult, .relatedThumbBg .textResult{
	text-align:center;
	padding-top:30px;
	font-size:11px;
	color:#666;
}
.searchThumbBg{
	width:170px;
	height:113px;
	position: relative;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.searchThumbBg a{
	border:none;
}
.searchThumbBgNoShadow{
	width:170px;
	height:113px;
	position: relative;
}

.searchThumbBgNoShadow a{
	border:none;
}
.relatedThumbBg {
	width:110px;
	height:75px;
	position: relative;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	margin: 0px 7px 10px 7px;
	background-color:#FFFFFF;
}
.searchThumbCaption{
	font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
	margin: 10px 0px 10px 0px;
	text-align:left;
	
}
#detailBody .searchThumbCaption{
	width:110px;
	overflow:hidden;
}
.searchThumbCaption a{
  font-style: italic;
  font-size: 0.857em;
  line-height: 1.4286;
  color: #666;
  letter-spacing: 1px;
}
.searchThumbCaption a:hover{
	color: #999999;
}
