<div class="row bgGray">
	<div class="col-sm-12 col-md-8 col-md-offset-2">
		<div class="aboutSection">
			<h1 class="text-center">{{{title}}}</h1>
			<H2 class="text-left">Borgen voor morgen<br/><hr/></H2>
			<div class="row">
				<div class="col-sm-12 col-md-10 col-md-offset-1">
					<div class="aboutSectionBody text-center">
						{{{borgen_voor_morgen}}}
					</div>
					<div class="text-right">
						<a href="/Contact/form" class="btn btn-default">IK BEWAAR ERFGOED!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-8 col-md-offset-2">	
		<div class="aboutSection">
			<H2 class="text-right">Wie zijn wij?<br/><hr/></H2>
			<div class="row">
				<div class="col-sm-12 col-md-10 col-md-offset-1">

					<div class="aboutSectionBody text-right">
						{{{wie_zijn_wij}}}
					</div>
					<div class="text-left">
						<a href="/Contact/form" class="btn btn-default">Contacteer Ons</a>
					</div>
				</div>
			</div>
		</div>

		<div class="aboutSection">
			<H2 class="text-left">Waarom bewaren?<br/><hr/></H2>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8">
					<div class="bgGray aboutSectionBody aboutSectionBodyRounded">
						{{{waaram_bewaren}}}
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 text-left">
					{{{media:1:large}}}
				</div>
			</div>
		</div>
		<div class="aboutSection">
			<H2 class="text-right">Wordt vrijwilliger bij de erfgoedbank?<br/><hr/></H2>
			<div class="row">
				<div class="col-sm-12 col-sm-4 col-md-4 text-left">
					{{{media:2:large}}}
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<div class="bgGray aboutSectionBody aboutSectionBodyRounded">
						{{{vrijwilliger}}}
					</div>
				</div>
			</div>
			<div class="text-right">
				<a href="/Contact/form" class="btn btn-default">Contacteer Ons</a>
			</div>
		</div>

		<div class="aboutSection">
			<H2 class="text-left">Wat niet?<br/><hr/></H2>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8">
					<div class="bgGray aboutSectionBody aboutSectionBodyRounded">
						{{{wat_niet}}}
					</div>
				</div>
				<div class="col-sm-12 col-sm-4 col-md-4 text-left">
					{{{media:3:large}}}	
				</div>
			</div>
		</div>
		
		<div class="aboutSection">
			<H2 class="text-right">Hergebruik<br/><hr/></H2>
			<div class="row">
				<div class="col-sm-12 col-sm-4 col-md-4 text-left">
					{{{media:4:large}}}
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<div class="bgGray aboutSectionBody aboutSectionBodyRounded">
						{{{Hergebruik}}}
					</div>
				</div>
			</div>
			<div class="text-right">
				<a href="/About/disclaimer" class="btn btn-default">Disclaimer</a>
			</div>
		</div>
	
	
	</div>
</div>