/* 
 * OSU Knowlton Archivision
 * CSS by Mike Benowitz
 * Whirl-i-Gig
 * michael@whirl-i-gig.com
*/

/* General */

body{
    margin-bottom: 100px !important;
}

hr{
	border-top: 2px solid #b0882d;
}

h1, h2, h3, h4, h5, h6, p{
	color: #666;
	font-family:'proximanova',Arial,sans-serif;
}

h6{
	margin: 10px 0 0 0;
}

a {
    color: #b0882d;
    font-weight: bold;
    text-decoration
}

a:hover{
    color: #b0882d;
}

.btn, .btn-default, .btn-sm, .browse .btn, .sets .btn, .btn:focus, .btn-default:focus{
	background-color: #b0882d;
	color: #fff;
	border-radius: 5px;
}

.btn:hover, .btn-default:hover, .btn-sm:hover, .browse .btn:hover, .sets .btn:hover{
	background-color: #b0882d;
	text-decoration: underline;
}

/* OSU Navbar */

#osu_navbar{
	background: none !important;
	background-color: #fff !important;
	border-bottom: 4px solid #000
}

#osu_navbar .container{
	width: auto !important;
}

#osu_navbar .univ_info{
	padding: 0.75em 0 !important;
}

#osu_navbar .univ_links{
	padding: 0.75em 0 0 !important;
}

#osu_navbar .univ_name a{
	margin-left: 0 !important;
}

/* Navbar */

.navbar{
	background-color: #000;
	/* border-bottom: 4px solid #bb0000; */
}

.navbar-brand{
	width: 400px;
	padding-top: 15px;
	padding-bottom: 0px;
}

.navbar-default .navbar-nav > .active > a{
	background-color: #666;
	color: #fff;
}

.nav > li > a {
    padding: 15px 10px;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
	font-family:'proximanova',Arial,sans-serif;
	letter-spacing: 0.2em;
	font-weight: 400;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #b0882d;
}

.navbar .formOutline{
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	height: 30px;
	box-shadow: none;
}

.navbar .form-control{
	padding: 0 7px 0 0;
	color: #fff;
}

.navbar-form{
	box-shadow: none;
}

.btn-search{
	color: #fff;
	background: none;
}

.dropdown-menu{
	background-color: #000;
	border: none;
	border-bottom: 4px solid #000;
	background-clip: border-box;
}

.dropdown-menu li a{
	color: #fff;
}

.dropdown-menu li a:hover{
	color: #b0882d;
	background-color: #000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #b0882d;
	background-color: #000;
}

.navbar-default .navbar-nav > li > a:focus{
	color: #fff;
}

.vrlLogo, .vrlAltLogo{
	letter-spacing: 0.2em;
	font-size: 24px;
	line-height: 14px;
	top: 20px;
	position: relative;
}

.vrlAltLogo{
    display: none;
}

@media only screen and (min-width: 375px) and (max-width: 598px){
    .vrlLogo{
        font-size: 18px;
        top: 8px;
    }
    
    .vrlTop::after{
        content: "\A";
        white-space: pre;
    }
    .vrlBottom{
        padding-left: 15px;
    }
}
@media only screen and (max-width: 375px){
    .vrlLogo{
        display: none;
    }
    .vrlAltLogo{
        display: inline-block;
        padding-left: 15px;
        letter-spacing: 0.1em;
        font-size: 28px;
    }
}
@media only screen and (max-width: 1010px){
    .vrlLogo{
        padding-left: 15px !important;
    }
    #user-navbar{
        padding-right: 15px !important;
    }
}
@media only screen and (max-width: 852px) and (min-width: 768px){
    .menuItems li a{
        font-size: 12px;
    }
    
    .vrlLogo{
        font-size: 16px !important;
    }
}
@media only screen and (max-width: 1010px) and (min-width: 768px){
    .vrlBottom{
        padding-left: 15px;
    }
}

@media only screen and (max-width: 1050px) and (min-width: 768px){
    .vrlLogo{
        font-size: 18px;
        top: 8px;
    }
    
    .vrlTop::after{
        content: "\A";
        white-space: pre;
    }
    
}


.vrlLogoLink:hover{
    color: #b0882d;
    text-decoration: none;
}

.vrlLogoLink:active, .vrlLogoLink:visited, .vrlLogoLink:focus{
    color: #fff;
    text-decoration: none;
}

#dropdown-search{
    width: 210px;
}

#dropdown-search .formOutline{
    margin-left: 0;
}

.navbar-form .form-group{
    width: 150px;
}

@media only screen and (max-width: 767px) {
    #dropdown-search{
        width: 95%;
        margin: 0 auto !important;
    }
    
    .form-group{
        width: 90% !important;
    }
    
    .form-control{
        font-size: 16px;
    }
}
@media only screen and (min-width: 768px) {
    .navbar-collapse .navbar-nav.navbar-right:last-child{
        margin-right: inherit;
    }
    
    .navbar-form{
        padding-right: 15px;
    }
    
    #search-navbar-toggle{
        display: none !important;
    }
}

@media only screen and (max-width: 1010px) {
	.knowltonLogo{
		padding-left: 15px;
	}
	
	ul.menuItems{
	    width: inherit;
	    position: relative !important;
	    top: 10px;
		border-top: none;
	}
}

/* Footer */

#footer{
	background-color: #000;
	border-top: 3px solid #bb0000;
	line-height: inherit;
	font-family:'proximanova',Arial,sans-serif;
	position: absolute;
	bottom: 0;
}

.footerText{
	margin-top: 10px;
}

.footerLogo{
	float: left;
	padding-right: 10px;
}

.footerLogo img{
	height: 70px;
}

#footer ul li a{
	color: #fff;
}

#footer ul li a:hover{
	color: #bb0000;
}

/* Front */

.frontSlide img {
	height: 333px;
}

.front a.jcarousel-control-prev, .front a.jcarousel-control-next {
	margin-top: -70px;
}

.front h1{
	color: #666;
	font-family:'proximanova',Arial,sans-serif;
}

.featuredSets{
	margin-bottom: 15px;
}

.featuredSet{
	padding: 10px;
	background-color: #efefef;
	border-radius: 5px;
	margin-bottom: 15px;
}

.featuredSet > div > h5 > a{
	color: #000;
}

.featuredSetImg {
    height: 175px;
}

.featuredSetImg img{
	width: 100%;
	max-height: 175px;
	border-radius: 5px;
}

.frontSlideCaption a{
	font-weight: normal;
}

.collectionTitle{
    min-height: 2.2em;
}

.collectionTitle a{
    letter-spacing: 0.1em;
    color: #666;
}

.collectionTitle a:hover{
    color: #666;
}

.specialCollectionHead{
    font-size: 20px;
    margin-top: 0;
}

/* Browse */

.bResultItem{
	box-shadow: none;
	background-color: #efefef;
	border-radius: 5px;
}

.bResultItemContent{
    height: 260px;
}

.bResultItemExpandedInfo{
	background-color: #efefef;
}

.bResultItem .bResultItemImg{
	border-radius: 5px;
}

.results strong{
	text-transform: none;
	font-weight: bold;
}

/* Detail */

.objectMoreInfo{
	display: none;
}

.detail #detailRepNav{
	padding: 0;
	font-size: 18px;
}

.detail #detailRepNav a:hover{
	color: #b0882d;
}

.detail .repViewerCont img{
	max-height: 500px;
}

.objectActions{
	font-size: 18px;
	line-height: 135%;
}

.objectActions a{
	margin-left: 3px;
}

.objectActions a:hover{
	color: #b0882d;
	text-decoration: none;
}

#detailComments{
	border-top: none;
}

.objectInfoToggle{
	margin-top: 10px;
}

.mapThumb{
	margin-top: 10px;
}

.repCaptionLeft{
	width: 60%;
	display: inline-block;
}

.repCaptionRight{
	display: inline-block;
	text-align: right;
	width: 40%;
	vertical-align: top;
}

/* Google Maps */


.gm-style-iw{
        max-height: 200px !important;
}

.gm-style-iw > div{
        max-height: 200px !important;
}

.gm-style-iw > div > div > p{
        margin: 0;
}

.gm-style a{
	color: #666;
}

/* Login/Register */

.form-control:active, .form-control:focus{
	border-color: #b0882d;
}

.form-group > div a{
	color: #b0882d;
}

/* Lightboxes */

small a{
	color: #666;
}

small a:hover{
	color: #666;
	text-decoration: underline;
}

/* Lightbox */
.lbItem{
	box-shadow: none;
	background-color: #efefef;
	border-radius: 5px;
}

.lbExpandedInfo{
	background-color: #efefef;
	
}

.lbItem .lbItemImg{
	border-radius: 5px;
}

.lbItemContent .caption, .lbItemContent .caption a{
	color: #000;
}

.lbSetItemComment .btn-xs{
	margin-top: 0;
}

/* Gallery */

.gallery #galleryDetailImageGrid{
    min-height: 0;
}

#galleryDetailObjectInfo a{
    color: #666;
}

#galleryDetailObjectInfo a:hover{
    color: #666;
    text-decoration: underline;
}
