<IfModule mod_rewrite.c>
	RewriteEngine on
	SetEnv HTTP_MOD_REWRITE On
	
	# Pass all requests not referring directly 
	# to files in the filesystem to index.php.
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !=/favicon.ico
	RewriteCond %{REQUEST_URI} !=/server-status
	RewriteCond %{REQUEST_URI} !=/robots.txt
	RewriteRule ^ index.php%{REQUEST_URI} [L]	
</IfModule>
