/* universal header/footer styles */
#header { height: 90px; position:relative; margin-top:-20px; border-bottom: 1px solid #dedede; }
img.headerImg {height:35px; width:auto; position:absolute; left:0px; top:50px; }
.pagingText { position: absolute; top: 30px; right: 30px; font: "helvetica"; font-size: 11px; text-align: right;  margin: 0px 0px 10px 25px;}
#footer .pagingText{ top:20px; }
body, #body{ font: "helvetica, sans-serif"; }

.title { color:#858585; font-weight:bold; font-size: 12px; text-align:left; padding-bottom:5px; margin-bottom:20px; border-bottom:1px solid #EDEDED;}

/* dompdf */
/*@page { margin: 65px 56px 65px 56px; }

#headerdompdf { position: fixed; left: 0px; top: -75px; right: 0px; height: 55px;  text-align: left; vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; }
#footerdompdf { position: fixed; left: 0px; bottom: -0px; right: 0px; height: 0px; text-align: center; vertical-align: bottom; }
#footerdompdf .pagingText:after { content: counter(page, decimal); }
#footerdompdf .pagingText { bottom:0px; }
*/

/* thumbnails template */
.pageContainer{position:relative;}
.thumbnail { font: "helvetica, sans-serif"; font-size: 11px; width: 200px; height: 205px; position: absolute; text-align: center; margin: 10px 10px 10px 10px; padding: 3px; overflow: hidden; border-radius:4px;}	
.imgThumb {text-align:center;}
.caption {font-size:10px; color:#333; display:block; line-height:1.1em; padding-top:3px;}
.pageBreak { page-break-before: always; height:1px; }
.clear { clear: both; height: 1px; }

/* checklist template */
/*.row { font: "helvetica, sans-serif"; font-size: 11px; border-bottom: 1px solid #eee; width: 100%; height: auto; margin: 5px 0 0 0; padding: 3px 0px 5px 0px; overflow: none}	
.imageTiny { width: 120px; margin: 0 5px 0 0; border-radius: 5px; text-align:center;}
.imageTinyPlaceholder { width: 120px; height: 100px; border: 1px solid #eee; background-color: #eee; margin: 0 5px 0 0; border-radius: 5px;}
.displayHeader {border-bottom:1px solid #666; color:#666; font-weight:bold;}
.displayValue {}
.title {font-weight:bold; font-size: 12px;}
.metadata {line-height:1.1em;}
.metaBlock {margin-left:0px; margin-left:0px; height:auto; width:400px;}*/


/* field chart template */
.fcRowTitle { clear:both; background-color:#EDEDED; width: 100%; height: auto; overflow: none;}	
.fcRowTitle .fcColLarge, .fcRowTitle .fcColMedium, .fcRowTitle .fcColSmall { font: "helvetica, sans-serif"; font-weight:bold; font-size: 11px; }

.fcRow { width: 100%; height: auto; margin: 5px 0 0 0; overflow: none;}	
.fcRow .fcColLarge, .fcRow .fcColMedium, .fcRow .fcColSmall { font: "helvetica, sans-serif"; font-size: 10px; }

.fcColLarge { width:200px; text-align:left; vertical-align:middle; padding:5px;}
.fcColMedium { width:125px; text-align:center; vertical-align:middle; padding:5px;}
.fcColSmall { width:75px; text-align:center; vertical-align:middle; padding:5px;}

.fcColRule { border-bottom: 1px solid #ededed; font: "helvetica, sans-serif"; font-weight:bold; font-size: 11px; text-align:left; vertical-align:middle; padding:5px;}
/* Bloomtime Color Chart */
.row {
	font-size: 10px; clear:both;
}
.btccRow{
	text-align:center;
}
.btccLabelCol{
	height:49px;
	width:300px;
	color:#000;
	float:left;
	font-size:10px;
	text-align:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;
}
.btccLabelCol .botanicalName{
	font-size:12px;
	font-weight:bold;
	font-style:italic;
	padding-top:2px;
}
.btccCol{
	height:50px;
	width:50px;
	float:left;
}
.btccCol > div{
	line-height:1.1em;
	text-transform:uppercase;
	text-align:center;
	font-size:8px;
	color:#000;
	padding-top:10px;
}
.btccCol .flaticon{
	font-size:30px;
}
.btccCol .flaticon-orange, .btccCol .flaticon-fruit{
	font-size:20px
}
.btccTitle{
	font-size:11px;
	color:#828282;
	font-weight:bold;
	padding-bottom:10px;
}
.btccSeasonRow{
	text-align:center;
	margin-left:300px;
	clear:both;
}
.btccSeasonRow > div{
	border-right:1px solid #dedede;
	padding-top:5px;
	float:left;
}
.btccSeasonRow > div:last-child{
	border-right:0px;
}
.btccSeasonCol{
	float:left;
	width:149px;
	font-size:10px;
	text-transform:uppercase;
	color:#828282;
	padding-bottom:5px;
	border-bottom: 1px solid #dedede;
}
.btccMonthCol{
	float:left;
	width:49px;
	color:#828282;
	font-size:10px;
	border-bottom: 1px solid #dedede;
	padding-bottom:5px;
}


@font-face {
  font-family: "Flaticon";
  src: url("../../assets/pawtucket/css/Flaticon.eot");
  src: url("../../assets/pawtucket/css/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../assets/pawtucket/css/Flaticon.woff2") format("woff2"),
       url("../../assets/pawtucket/css/Flaticon.woff") format("woff"),
       url("../../assets/pawtucket/css/Flaticon.ttf") format("truetype"),
       url("../../assets/pawtucket/css/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../assets/pawtucket/css/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
/*        font-size: 20px;
margin-left: 20px; */
}

.flaticon-sakura:before { content: "\f100"; }
.flaticon-flower:before { content: "\f101"; }
.flaticon-parsley:before { content: "\f102"; }
.flaticon-lotus-flower:before { content: "\f103"; }
.flaticon-flower-1:before { content: "\f104"; }
.flaticon-flower-2:before { content: "\f105"; }
.flaticon-flower-3:before { content: "\f106"; }
.flaticon-flower-4:before { content: "\f107"; }
.flaticon-flower-5:before { content: "\f108"; }
.flaticon-flower-6:before { content: "\f109"; }
.flaticon-ginkgo:before { content: "\f10a"; }
.flaticon-berries:before { content: "\f10b"; }
.flaticon-caraway:before { content: "\f10c"; }
.flaticon-herb:before { content: "\f10d"; }
.flaticon-orange:before { content: "\f10e"; }
.flaticon-tree-shape:before { content: "\f10f"; }
.flaticon-young-tree-growing-vertical:before { content: "\f110"; }
.flaticon-tree:before { content: "\f111"; }
.flaticon-maple-leaf:before { content: "\f112"; }
.flaticon-autumn:before { content: "\f113"; }
.flaticon-nest:before { content: "\f114"; }
.flaticon-fruit:before { content: "\f115"; }
.flaticon-wheat:before { content: "\f116"; }


/* summary */
.summaryRow{

}
.summaryColImage{
	padding:10px;
	width:200px;
	vertical-align:top;
}
.summaryColImage img{
	width:100%;
	height:auto;
}
.summaryColDescription{
	vertical-align:top;
	font: "helvetica, sans-serif";
	font-size: 10px;
	padding-top:8px;
}
.summaryColDescription div.summaryUnit{
	padding-bottom:5px;
}
.summaryColDescription div.summaryUnit b{
	color:#333;
}
.summaryBotanicalName{
	font-size:13px;
	font-weight:bold;
	font-style:italic;
	padding-bottom:15px;
}
.summaryColRule { border-bottom: 1px solid #ededed; font: "helvetica, sans-serif"; font-weight:bold; font-size: 11px; text-align:left; vertical-align:middle; padding:5px;}
