
@font-face {
    font-family: "Myriad Pro";
    src: url('fonts/myriad_pro_regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: "Myriad Pro";
    src: url('fonts/MyriadPro-Light.ttf');
    font-weight: 200;
    font-style:normal;
}
@font-face {
    font-family: "Myriad Pro";
    src: url('fonts/Myriad_Pro_Light_Italic.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Myriad Pro";
    src: url('fonts/Myriad_Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

html {
	min-height:100%;
	position:relative;
}
body {
	font-family: "Myriad Pro";
	margin-bottom:90px;
	color:#494949;
	font-weight:200;
}
a, a:hover, a:active, a:focus {
	color:#004b8d;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Myriad Pro";
	color:#494949;
}
h2 {
	font-size:20px;
}
h6 {
	font-weight:bold;
	font-size:14px;
	margin-top:0px;
}
.blue {
	color: #004b8d;
}
.navbar {
	margin-bottom:20px;
}
.navbar-brand {
	padding-top:5px;
	margin-top:15px;
	margin-bottom:15px; 
	padding-bottom:5px;
	width:170px;
	border-right:2px solid #fcba19;
	padding-right:15px;
	margin-right:15px;
}
.siteName {
	color:#003366;
	font-weight:400;
	font-size: 20px;
    padding-top: 26px;
    display: inline-block;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family: "Myriad Pro";
	color:#494949;
	font-size:16px;
	font-weight:200;
}
.nav > li.dropdown > a.icon {
	padding-top:50px;
}
.navbar-nav > li > a {
	padding-left:20px;
	padding-right:20px;
}
.social.navbar-nav > li > a {
	padding-left:5px;
	padding-right:5px;
	font-size:20px;
}
.navbar-default .navbar-nav > li > a {
    color: #004b8d;
    font-weight:400;
}
.navbar .formOutline {
	border-radius:0px;
}
.navbar .form-control {
    font-size: 14px;
    padding-top:2px;
}
.siteName a:hover {
	text-decoration:none;	
}
.formOutline .btn-search {
	padding-top:10px;
	padding-bottom:5px;
}
@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 26px;
		padding-bottom: 14px;
	}
	.navbar-form {
		margin-top:18px;
	}
}
#footer {
	position:absolute;
	height:90px;
	margin:0px;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	width:100%;
	background-color:#f5f5f5;
	line-height:1.5em;
	color:#494949;
	font-size:15px;
	border:0px;
	bottom:0px;
}
#footer a {
	color:#494949;
}
#footer ul li {
	list-style-type:none;
	float:left;
}
#footer ul a {
	color: #004b8d;
}	
#footer ul.social li a{
	color: #004b8d;
}
#footer .copyright {
	text-align:right;
}
#footer ul.list-inline {
	float:left;
	padding-top:10px;
}
.footerLogo {
	width:200px;
}
.footerLogo img {
	width:100%;
	height:auto;
}
.row.blue {
	background-color: #004b8d;
}
.tagLine {
	color:#fff;
	font-size:22px;
	padding-top:40px;
	padding-bottom:40px;
	text-align:center;
}
.front .jcarousel-wrapper {
	margin-top:-20px;
}
.front .jcarousel-control-next, .front .jcarousel-control-prev {
    background-color: transparent;
    height: 45px;
    margin-top: -30px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    width: 45px;
    border-radius: 0px;
    box-shadow: 0 0 0px #999999;
    text-shadow: 0px 0px 10px #000000;
}
.front .jcarousel-control-next {
    right: 20px;
}
.front .jcarousel-control-prev {
    left: 20px !important;
}
.front .jcarousel-wrapper {
	overflow:hidden;
}
.frontGridItem {
	padding-left:0px;
	padding-right:0px;
}
.frontGridItem img{
	width:100%;
	height:auto;
}
.cats {
	text-align:center;
}
.cats img {
	width:100%;
	height:auto;
}
.cats a:hover {
	text-decoration:none;
}
.front h1 {
	color:#fff;
	font-family:"Myriad Pro";
	padding-top:50px;
}
.front h1.blue { 
	color:#004b8d;
}
.subHead {
	margin-bottom:30px;
	text-align:center;
}
.featuredTitle {
	font-size:20px;
	padding-bottom:5px;
}
.featuredTitle a {
	color:#fff;
	text-decoration:none;
}
.featuredMember {
	color:#fff;
	line-height:1.8em;
}
.featuredMember h1 {
	padding-left:0px;
	padding-top:25px;
}
.featuredMember img {
	width:100%;
	height:auto;
}
.front .institution{
	/*background-color:#f5f5f5;*/
	padding-bottom:100%; 
	overflow:hidden; 
	position:relative;
	margin-bottom:20px;
}
.front .institution img {
	position:absolute;
	width:100%;
	height:auto;
}
.front .institutionName {
	color: #494949;
	font-size:15px;
	padding-top:30px;
	position:absolute;
	bottom:0px;
	padding-left:10px;
	padding-right:40px;
	text-align:center;
}
.front .tall img {
    height: 100%;
    width: auto;
    display:block;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.front .wide img {
    width: 100%;
    height: auto;
    display:block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
/* Detail */

.detail {
	line-height:1.7em;
	font-size:13px;
}
.detail a {
	color:#004b8d;
}
.fromThe {
	text-transform:none;
	display:block;
}
.instLogo img{
	width:100%;
	height:auto;
}
.browseSearchBar {
	color:#fff;
	background-color:#004b8d;
	clear:both;
	margin-bottom:30px;
	height:56px;
	padding-top:10px;
	margin-top:20px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color:#f5f5f5;
}	
.detailSearch {
	float:right;
}
.detailSearch .form-control {
	width:150px;
	float:right;
	border:0px;	
	box-shadow:none;
	font-size:13px;
}
.detailSearch .formOutline .btn-search {
	float:right;
	background-color:transparent;
}
.detailSearch .formOutline {
	border:1px solid #fff;
	background-color:#fff;
    height: 35px;
    margin-right:13px;
}
.detailSearch .formOutline .btn-search {
	padding-top:7px;
}
.objectBanner {
	background-color:#f5f5f5;
	color:#494949;
	text-transform:uppercase;
	font-size:15px;
	line-height:18px;
	border-radius:4px;
	text-align:center;
	margin-bottom:20px;
	font-weight:400;
	width:100%;
}
.detail .objectBanner a {
	color: #494949;
}
.objectBanner .category {
	display:inline-block;
	padding:10px 15px;
	width:35%;
	border-right:2px solid #494949;
}
.objectBanner .institution {
	display:inline-block;
	padding:5px 15px;
	width:100%
}
.objectBanner .institution .instLogo, .objectBanner .institution .instName {
	display:inline-block;
}
.objectBanner .instLogo {
	text-align:right;
	padding:5px;
/*	padding-left:15px;
	padding-top:10px;
	padding-bottom:10px;
*/	
}
.objectBanner .instLogo img {
	width:auto;
	height:auto;
	max-width:100%;
	max-height:80px;
}
.objectBanner a:hover{
	text-decoration:none;
}
.detail .leftBar .instLogo img {
	max-width:250px;
}
.detail .leftBar .instLogo {
	margin-top:15px;
	text-align:center;
}
.detail .unit {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom:12px;
	padding-bottom:10px;
}
.detail .data {
	width:30%;
	display:inline-block;
	text-transform:uppercase;
	font-size:13px;
	font-weight:400;
	vertical-align:top;
}
.detail .meta {
	width:60%;
	display:inline-block;
}
.detail hr {
	color: #e6e6e6;
}
.detail #map {
	width:100% !important;
}
.relObj {
	text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    padding-left:15px;
}
a.filterCollection {
	font-weight:400;
	color:#fff;
	float:right;
	font-size:16px;
	padding-right:15px;
	padding-top:8px;
}
a.filterCollection:hover {
	text-decoration:none;
	color:#fff;
}
.detail .socialLinks {
	margin-top:5px;
	text-align:center;
}
.detail .socialLinks a{
	display:inline-block;
	padding-right:10px;
	font-size:24px;
	padding-top:10px;
}
.detail .jcarousel-wrapper {
    overflow: hidden;
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100% !important;
}
.detail .jcarousel-control-next, .detail .jcarousel-control-prev {
    background-color: transparent;
    height: 45px;
    margin-top: -30px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    width: 45px;
    border-radius: 0px;
    box-shadow: 0 0 0px #999999;
    text-shadow: 0px 0px 10px #000000;
}
.detail a.jcarousel-control-prev, .detail a.jcarousel-control-next {
    text-decoration: none;
}
.detail .jcarousel-control-prev {
    left: 20px !important;
}
.detail .jcarousel-control-next {
    right: 20px;
}
.detail .jcarousel-wrapper a {
	color:#fff;
}
.detail .cats {
	margin-top:50px;
}

/* Browse */

#browse-menu {
	margin-top:-20px;
}
.resultCount {
	font-size:16px;
	display:inline-block;
	padding-left:15px;
	padding-top:7px;
}
.bResultItem {
	padding:0px;
}
.bResultItem .bResultItemText {
	font-size:13px;
	padding-left:10px;
	padding-right:10px;
}
.browsedivider {
	border:0px;
}
.filterMenuResults div div.row {
	max-height:none;
}
.filterMenuFacetList li a {
	font-size:14px;
	text-transform:uppercase;
	color:#494949;
	font-weight:400;
}
.filterMenuFacetList li a:hover {
	text-decoration:none;
}
div.browseFacetItem a {
	font-size:13px;
}
.filterbylabel {
	font-size:14px;
	color:#494949;
	text-transform:uppercase;
	font-weight:bold;
	padding-left:4px;
}
.filterMenuFacetList li.active {
	background-color:#004b8d;
	color:#fff;
}
.filterMenuFacetList li.active a {
    color: #fff;
}
.filterMenuFacetList li {
	padding-top:5px;
	padding-bottom:0px;
}
.bResultItemImgPlaceholder {
	border:0px;
}	
#bRefine {
	background-color:#f5f5f5;
}
#bRefine H5 {
	color:#434343;
	margin-bottom:5px;
}
#bRefine a {
	font-size:13px;
}
div.browseFacetItem a:hover {
	color:#494949;
}
div.browseFacetItem {
    background-color: #fff;
    border-left: 4px solid #f5f5f5;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
}
.filterMenuResults {
    padding-top: 10px;
    min-height: 500px;
    background-color: #f7f7f7;
/*    background-image:url('../graphics/eagle.jpg');
    background-position:top right;
    background-repeat:no-repeat;
    background-size:80%;*/
}
/*.results a .glyphicon, .results a .fa {
    font-size: 24px;
}*/

.browse .btn, .sets .btn {
	font-size:13px;
	color:#fff;
	border:0px;
	border-radius:0px;
	background-color:#004b8d;
	padding-top:4px;
	box-shadow:none;
	text-shadow:none;
}	
.browse .btn .glyphicon {
	color:#fff !important;
	margin-top:2px;
}

/* About */

.sideMenu {
	background-color:#f5f5f5;
	padding-top:15px;
	padding-left:15px;
	height:350px;
	line-height:2em;
	font-weight:400;
}
.staticPage {
	line-height:2em;
	margin-top:40px;
}

/* Search */

.multisearch .multisearchResult {
	padding:0px;
	width:220px;
	font-size:13px;
}
.multisearch .objResultText {
	padding-left:10px;
	padding-right:10px;
	display:inline-block;
	line-height: 1.1em;
}
#objectsResults .objectsResult.multisearchResult {
	height:195px;
}
.multisearch #objectsResults .blockResultsScroller {
	height:220px;
}
.multisearch #objectsBlock .blockResults  {
	height:220px;
}
.multisearchImgPlaceholder {
	border:0px;
	padding-top:55px;
	padding-bottom:52px;
}
.multisearch .multisearchResult img {
	margin-bottom:10px;
}
.multisearch H3 a, .multisearch H3 a:hover {
	color:#434343;
}
.multisearchFullResults a, .multisearchSort ul li a {
	color: #004b8d;
}
.multisearch small {
	font-size:13px;
}
.multisearch small {
	color: #ABABAB;
	font-size:85%;
}
.multisearch .authoritySet a {
    font-size: 13px;
    color: #454545;
}
.multisearch #objectsBlock .scrollButtonNext, .multisearch #objectsBlock .scrollButtonPrevious {
	height:200px;
	padding-top:90px;
}

/* Placeholders */

.bcPlaceholder {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    height:300px;
    background-repeat:no-repeat;
	background-position:center center;
}
.bcSearchPlaceholder {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top:10px;
    text-align: center;
    height:110px;
    background-repeat:no-repeat;
	background-position:center center;
	background-size: auto 100%;
}
.bcListPlaceholder {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    width: 72px;
    margin-bottom: 0px;
    margin-top:0px;
    text-align: center;
    height:72px;
    background-repeat:no-repeat;
	background-position:center center;
	background-size: auto 100%;
}
.customPlaceholder538 {
	background-image:url('../graphics/architecture.jpg');
}
.customPlaceholder539 {
	background-image:url('../graphics/art.jpg');
}
.customPlaceholder540 {
	background-image:url('../graphics/communication.jpg');
}
.customPlaceholder541 {
	background-image:url('../graphics/agriculture.jpg');
}
.customPlaceholder542 {
	background-image:url('../graphics/clothing.jpg');
}
.customPlaceholder543 {
	background-image:url('../graphics/household.jpg');
}
.customPlaceholder544 {
	background-image:url('../graphics/industry.jpg');
}
.customPlaceholder545 {
	background-image:url('../graphics/military.jpg');
}
.customPlaceholder546 {
	background-image:url('../graphics/recreation.jpg');
}
.customPlaceholder547 {
	background-image:url('../graphics/transportation.jpg');  
}
