// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$samek-accent: #FFA300;

/* General */
h2, h3, h4, h5, h6 {
 color: $samek-accent;
}

@media screen and (max-width: 1267px){
    nav, main, .footer-inner {
        max-width: 90% !important;
        margin: auto;
    }
}

/* ------------------------- Front ------------------------- */
.parallax {
    position: relative;
    background-image: url("../assets/graphics/parallax_img.jpg");

    /* Full height */
    height: 90vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero1, .hero2, .hero3 {
        background-image: url("../assets/graphics/parallax_img.jpg");
    }
}

.carousel-item a img{
    height: 500px !important;
    object-fit: contain;
}
.carousel-caption{
    position: unset;
}


nav{
    // min-height: 154px;
    height: 100%;
    max-width: 1140px;
    border-bottom: 1px solid #222;
    padding: 32px 0px;

    .dropdown-toggle::after{
        display: none;
    }

    .dropdown-menu{
        width: 200px;
        border: 1px solid #000;
        padding: 0;
    }

    .dropdown-item{
        padding: 20px;
        white-space: normal;
        border-bottom: 1px solid #000;
    }

    .nav-link, .dropdown-item a{
        font-size: 21.42px !important;
        font-weight: 300;
        line-height: 21.42px;
        text-decoration: none;
        padding: 0 !important;
    }

    .dropdown-toggle{
        padding: 24px 25px 28px 17px !important;
    }
}

main{
    max-width: 1140px;
    padding-top: 60px;
    margin: auto;
}

footer{
    background-color: #303335;
    color: #ffffff;
    padding: 55px 0 0 0;

    .footer-inner{
        max-width: 1140px;
        margin: auto;

        .row{
            min-height: 280px;
            padding-bottom: 40px;

            section{
               margin-bottom: 24px;

               h4{
                    font-size: 20px;
                    margin-bottom: 16px;
                    font-family: 'Merriweather', serif;
                    font-weight: 400;
                    line-height: 1.2;
               }

               div{
                    font-size: 18px;
                    line-height: 30px;

                    p{
                        margin-bottom: 24px;

                        a{
                            text-decoration-thickness: 1.5px;
                            text-underline-offset: 1px;
                        }
                    }
               }
            }
        }

    }
}


.subnav{
    min-height: 80px !important;
    height: 80px !important;

    .nav-link, .dropdown-item a {
        padding: 20px;
        font-size: 18px !important;
        font-weight: 300;
        line-height: 21.42px;
        text-decoration: none;
    }

    .dropdown-header{
        white-space: normal;
        border-bottom: 1px solid #000;
    }

    .home-link{
        padding-left: 0 !important;
    }
}


.masonry-container {
    column-count: 4;
    column-gap: 16px;
}

.masonry-item {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;

    position: relative;
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;
}

.masonry-item .item-overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    text-decoration: none;
    font-size: 24px;
}

.masonry-item:hover .item-overlay-text {
    opacity: 1;
}