/* --------------- Front -------------- */
.hpExplore{
	img{
		height:350px;
	}
}
/* --------------- Gallery -------------- */
.gallery{
	.galleryLandingBlock{
		img{
			height:400px;
		}
	}
}

/* ------------------------- Navbar ------------------------- */
.navbar-brand{
	div{
	    padding-left: 47px;
	    font-weight: 300 !important;
	    color: #2b4a79;
	    padding-top: 0px;
	}
}