<?php
	$vn_num_media = 0;
	if ($t_page = $this->getVar("page")) {
		$va_media = $t_page->getPageMedia(array("large", "medium"));
		if(is_array($va_media) && sizeof($va_media)){
			$vn_num_media = sizeof($va_media);
		}
	}
?>
<div class="row">
	<div class="col-sm-12 col-lg-10 col-lg-offset-1">
		<H1>{{{title}}}</H1>
<?php
		if($this->getVar("bodytext1")){
?>
			<div class="row staticTextBlock">
				<div class="col-sm-12 col-md-6"><H2>{{{heading1}}}</H2>{{{bodytext1}}}</div>
				<div class="col-sm-12 col-md-6">{{{media:1:large}}}</div>
			</div>
<?php
		}
		if($this->getVar("bodytext2")){
?>
			<div class="row staticTextBlock">
				<div class="col-sm-12 col-md-6">{{{media:2:large}}}</div>
				<div class="col-sm-12 col-md-6"><H2>{{{heading2}}}</H2>{{{bodytext2}}}</div>
			</div>
<?php
		}
		if($this->getVar("bodytext3")){
?>
			<div class="row staticTextBlock">
				<div class="col-sm-12 col-md-6"><H3>{{{heading3}}}</H3>{{{bodytext3}}}</div>
				<div class="col-sm-12 col-md-6">{{{media:3:large}}}</div>
			</div>
<?php
		}
		if($this->getVar("bodytext4")){
?>
			<div class="row staticTextBlock">
				<div class="col-sm-12 col-md-6">{{{media:4:large}}}</div>
				<div class="col-sm-12 col-md-6"><H4>{{{heading4}}}</H4>{{{bodytext4}}}</div>
			</div>
<?php
		}
		if($this->getVar("bodytext5")){
?>
			<div class="row staticTextBlock">
				<div class="col-sm-12 col-md-6"><H5>{{{heading5}}}</H5>{{{bodytext5}}}</div>
				<div class="col-sm-12 col-md-6">{{{media:5:large}}}</div>
			</div>
<?php
		}
		if($this->getVar("bodytext6")){
?>
			<div class="row staticTextBlock">
				<div class="col-sm-12 col-md-6">{{{media:6:large}}}</div>
				<div class="col-sm-12 col-md-6"><H6>{{{heading6}}}</H6>{{{bodytext6}}}</div>
			</div>
<?php
		}
		if($this->getVar("bodytext7")){
?>
			<div class="row staticTextBlock">
				<div class="col-sm-12 col-md-6"><H7>{{{heading7}}}</H7>{{{bodytext7}}}</div>
				<div class="col-sm-12 col-md-6">{{{media:7:large}}}</div>
			</div>
<?php
		}
		if($this->getVar("bodytext8")){
?>
			<div class="row staticTextBlock">
				<div class="col-sm-12 col-md-6">{{{media:8:large}}}</div>
				<div class="col-sm-12 col-md-6"><H8>{{{heading8}}}</H8>{{{bodytext8}}}</div>
			</div>
<?php
		}
		if($this->getVar("bodytext9")){
?>
			<div class="row staticTextBlock">
				<div class="col-sm-12 col-md-6"><H9>{{{heading9}}}</H9>{{{bodytext9}}}</div>
				<div class="col-sm-12 col-md-6">{{{media:9:large}}}</div>
			</div>
<?php
		}
		if($this->getVar("bodytext10")){
?>
			<div class="row staticTextBlock">
				<div class="col-sm-12 col-md-6">{{{media:10:large}}}</div>
				<div class="col-sm-12 col-md-6"><H10>{{{heading10}}}</H10>{{{bodytext10}}}</div>
			</div>
<?php
		}

?>
	</div>
</div>