/* Fonts */
@font-face {
 font-family:neuzeit-grotesk;
 src:url(https://use.typekit.net/af/8f7727/0000000000000000000178a5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),
 url(https://use.typekit.net/af/8f7727/0000000000000000000178a5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),
 url(https://use.typekit.net/af/8f7727/0000000000000000000178a5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
 font-weight:300;
 font-style:normal;
}
@font-face {
 font-family:neuzeit-grotesk;
 src:url(https://use.typekit.net/af/cde90e/0000000000000000000178a6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),
 url(https://use.typekit.net/af/cde90e/0000000000000000000178a6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),
 url(https://use.typekit.net/af/cde90e/0000000000000000000178a6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
 font-weight:400;
 font-style:normal;
}
@font-face {
 font-family:neuzeit-grotesk;
 src:url(https://use.typekit.net/af/d7bb7b/0000000000000000000178a7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),
 url(https://use.typekit.net/af/d7bb7b/0000000000000000000178a7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),
 url(https://use.typekit.net/af/d7bb7b/0000000000000000000178a7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
 font-weight:700;
 font-style:normal;
}
@font-face {
 font-family:neuzeit-grotesk;
 src:url(https://use.typekit.net/af/7d4af5/0000000000000000000178a8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("woff2"),
 url(https://use.typekit.net/af/7d4af5/0000000000000000000178a8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("woff"),
 url(https://use.typekit.net/af/7d4af5/0000000000000000000178a8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("opentype");
 font-weight:900;
 font-style:normal;
} 
	
@font-face{
	font-family:neuzeit;
	src:url('fonts/neuzeit.ttf'); 
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:neuzeit;
	src:url('fonts/neuzeit-bold.ttf'); 
	font-weight:bold;
	font-style:normal;
}

/*Left Column Responsive Styles */
.page {
	margin: 0;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	padding: 0px;
	min-height: 600px;
}

.content-wrapper {
	float: right;
	width: 100%;
}
.content {
	margin-left: 262px;
	clear: both;
	overflow: auto;
	min-height: 600px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 30;
    overflow-y: auto;
    
	/*position: relative; */
	width: 262px;
	margin-right: -262px;
	float: left;
	overflow: hidden;
	min-height: 600px;
	padding: 25px;
}
.secondary-menu ul {
	padding:0px;
}
.secondary-menu li {
	list-style-type:none;
}
.secondary-menu li a {
	color:#000;
	font-size: 12px;
	line-height: 20px;
}
a.underline{
	text-decoration:underline;
}

/* 2025 STUFF */

@font-face {
  font-family: "National2-Light";
  src: url("https://skacwelcome.wpenginepowered.com/wp-content/themes/Storm-King/assets/fonts/national-2-light.woff2") format("woff2"); 
}

@font-face {
  font-family: "National2-Regular";
  src: url("https://skacwelcome.wpenginepowered.com/wp-content/themes/Storm-King/assets/fonts/national-2-regular.woff2") format("woff2"); 
}

@font-face {
  font-family: "National2-RegularItalic";
  src: url("https://skacwelcome.wpenginepowered.com/wp-content/themes/Storm-King/assets/fonts/national-2-regular-italic.woff2") format("woff2"); 
}

@font-face {
  font-family: "National2-Medium";
  src: url("https://skacwelcome.wpenginepowered.com/wp-content/themes/Storm-King/assets/fonts/national-2-medium.woff2") format("woff2"); 
}

@font-face {
  font-family: "National2-Bold";
  src: url("https://skacwelcome.wpenginepowered.com/wp-content/themes/Storm-King/assets/fonts/national-2-bold.woff2") format("woff2"); 
}

.sidebar {
    background-color: #B4C9E0;
    font-family: "National2-Bold";
}

/* Storm King theme */

html,body,.page,.wrapper {
	height:100%;
}
body {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.7px;
    position: relative;
    font-family:neuzeit-grotesk;
    margin-bottom:0px;
}
a, a:hover, a:active, a:focus{
	color:#000;
}
b, strong {
	font-family: neuzeit-grotesk;
}
#pageArea {
	padding-top:30px;
	padding-bottom:30px;
}
.Front #pageArea, .About #pageArea {
	padding-top:0px;
}
#pageArea {
	padding-left:25px;
}
#pageArea.staticPage {
	padding-left:0px;
}
.fullWidth img{
	width:100%;
	height:auto;
}
h1 {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    color:#000;
}
.front h1 {
	font-size:inherit;
	font-family:inherit;
	padding: 0;
	color:inherit;
	line-height:inherit;
	text-transform:inherit;
}
h2{
	color:#000;
	font-family: neuzeit-grotesk;
}
h4 {
	color:#000;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 40px 10px 0;
    cursor: auto;
    position: relative;
}
.collections h4 {
	display:inline;
}
h5 {
	color: #000;
}
h6 {
	color:#000;
	font-weight:800;
}
p, .collectionsList p {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 30px 0;
}
.heading{
    margin: 0 0 15px 0;
    padding: 12px 0 0 0;
    border-top: 1px solid #c7c7c7;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}
.browse .btn-default, .browse .btn-default:hover, .btn-default, .btn-default:hover {
    height: 30px;
    line-height: 30px;
    background: #000;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 10px;
    border: 0;
    display: inline-block;
    letter-spacing: 1.1px;
}

.rowSpacing{
	margin-bottom:30px;
}
/* Menu */

.nav > li {
    float: none;
    color: #000;
    position: relative;  
    margin-bottom: 6px;
    line-height: 22px; 
}
.nav > li > a, .nav > li > a:hover {
	padding:0px;
	border-bottom: 2px solid transparent;
	font-size: 19px;
    line-height: 19px; 
    display:inline;
    /*font-family:neuzeit-grotesk;*/
    font-weight:regular;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color:transparent;
	text-decoration: none;
    border-bottom: 2px solid #000;	
    display:inline;
}
@media screen and (max-height: 900px) {
	.nav > li > a, .nav > li > a:hover{
		/*font-size: 17px;*/
		line-height: 17px;
	}
}
@media screen and ( max-height: 700px ) {
	.nav > li > a, .nav > li > a:hover{
		/*font-size: 15px;*/
		line-height: 15px;
	}
    .nav > li {
        margin-bottom: 5px;
        line-height: 20px;
    }

}
@media (max-width: 1010px) {
	ul.menuItems {
    	width: 100%;
    	border-top: 0px; 
	}
}
.sidebar .logo {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 152px;
    height: 38px;
    margin-top: 7px;
    margin-bottom: 26px;
}
.sidebar .logo {
    width: 209px;
    height: auto;
    margin-top: 0;
}
@media screen and (max-width: 1400px) {
	#sidebar .logo {
		width: 166px;
	}
}
.sidebar .subMenu{
	padding-left:20px;
}
.sidebar .subMenu li {
	list-style-type:none;
	margin-bottom:6px;
/*	border-bottom:2px solid transparent;*/
	display:list-item;
}
.sidebar .subMenu li a {
	color:#000;
	font-size: 19px;
	line-height: 19px;
}
.sidebar .subMenu li a:hover {
	text-decoration:none;
	border-bottom: 2px solid #000;
}
.sidebar .subMenu li:hover {
	text-decoration:none;
/*	border-bottom: 2px solid #000;*/
}
/*.sidebar .subMenu li.active a:hover {
	border-bottom:0px;
}*/

@media screen and (max-height: 900px) {
	.sidebar .subMenu li a{
		font-size: 17px;
		line-height: 17px;
	}
}
@media screen and ( max-height: 700px ) {
	.sidebar .subMenu li a{
		font-size: 15px;
		line-height: 14px;
	}

}
.sidebar nav {
	display:block;
}
.btn-search {
	float:left;
	font-size: 18px;
	padding:0px;
	padding-top:6px;
	width:26px;
	text-align: left;
	background-color:transparent;
	position: relative;
}
@media (max-width: 767px) {
	.results .btn-search {
		position:inherit;
		right:auto;
		top:auto;
	}
}
.navbar-form {
	margin:0px;
	padding:0px;
}
.sidebar .formOutline {
	clear:both;
	margin-bottom: 26px;
	padding-top: 40px;
}
/*.sidebar .form-control {
	border:0px;
	box-shadow:none;
	border-bottom: 1px solid #989697;
	border-radius:0px;
	padding-bottom:2px;
	padding-top:2px;
	padding-left:0px;
	height: 30px;
	font-size: 14px;
    line-height: 26px;
    background-color:transparent;
}*/
.sidebar .copyright {
	font-size: 12px;
    line-height: 24px;
}
/*.sidebar .secondary-menu {
	margin-bottom:20px;
}*/
/*.Front .sidebar, .About .sidebar {
	background: rgba(255, 255, 255, 0.8);
}*/
.social ul {
	padding:0px;
}
.social ul li {
    display: inline-block;
    margin-right: 10px;
    float:left; 
}
.sidebar .subMenu li.active a {
	border-bottom: 2px solid #000;
}
.social ul li a svg {
    width: 20px;
    height: 20px;
}
@media screen and (max-height: 900px) {
	.navbar-brand {
		margin-bottom: 26px;
	}
}

/* Home Page */

#main-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.content-narrow {
    width: 400px;
    padding:25px;
    background-color:#fff;
    /*z-index:1000;*/
    z-index:10;
    position:relative;
}

/* Detail */

.detail {
	color:#000;
	font-size:14px;
}
.detail p {
	font-size:14px;
	margin-bottom:5px;
	line-height:1.3em;
}
.detail a {
	color:#000;
	text-decoration:underline;
}
.detail a:hover {
	color:#000;
	text-decoration:underline;
}
.detail H6 a {
	color:#000;
	padding-left:0px;
}
.detail h6 {
	margin-bottom:3px;
}
.detail h6.header {
	margin-bottom:15px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color:transparent;
}
.detail .detailNavBgLeft a, .detail .detailNavBgRight a, .detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small{
	color:#000;
}
.detail .detailNav {
	float:right;
	margin-bottom:20px;
}
@media (max-width: 767px) {
	.detail .detailNav {
		float:none;
		text-align:center;
	}
}
.detail .detailNav a {
	text-decoration:none;
}
.detail .detailNav .small {
	display:inline;
	padding: 0px 5px 0px 5px;
}
.detail hr {
	border-top: #989697 solid 1px;
	color:transparent;
}
.detail .exportCollection a {
	font-size:12px;
}
.detail .detailLine {
	margin-bottom:10px;
}
.detail .detailLine p {
	margin-bottom:0px !important;
}
.detail .objectInfo {
	font-size:16px;
}
.detail .dlButton {
	display:none; 
}
.detail .unit {
	margin-bottom:15px;
	line-height:1.5em;
}
.detail .unit p {
	font-size:14px;
	margin-bottom:15px;
	line-height:1.5em;
}
.detail .repViewerCont:hover .detailMediaToolbar {
	display:none;
}
.detail .zoomIcon.unit h6{
	font-size:14px;
}
.detail .leaflet-control a {
	text-decoration:none !important;
}
.artistName {
	font-size:18px;
	font-weight:bold;
}
.entities .artistName {
	font-size:22px;
}
.artTitle {
	font-size:16px;
}
.spacer {
	width:100%;
	height:10px;
}
.objInfo {
	margin-top:15px;
}
.objInfo h6{
	margin-bottom:10px;
}
.relImg {
	margin-bottom:5px;
}
.relImg img {
	width:100%;
	height:auto; 
}
.entities .bResultItem .bResultItemText a {
	text-decoration:none;
}
.relArtTitle {
	height:60px;
	overflow:hidden;
}
.bResultItemImgPlaceholder {
	border:0px;
	color:#000;
	font-size:14px;
}
.entities .bResultItem {
    border-top: 1px solid #c7c7c7;
    border-bottom:0px;
    height: auto;
}
.entities .bResultItem:hover {
	height:auto;
}
.entities .bResultItem.noBorder {
	border:0px;
}
.zoomIcon a {
	text-decoration:none;
}
.objectCaption {
	color:#fff;
}
.entityCaption {
	font-size:13px;
    line-height: 16px;
    margin-top: 15px;	
    text-align:center;
}
.entityCaption .caption{
	font-size:11px;
	color:#000;
}
.repViewerContCont:hover .objectCaption {
	color:#000;
}
.relatedExhibitions .relatedArtwork a {
	text-decoration:underline;
}
.exhibitionRep img{
	width:100%;
	height:auto;
}
.viewAll {
	text-align:center;
	font-weight:bold;
	padding-top:10px;
	clear:both;
}
.detail .viewAll a {
	text-decoration:none;
}
#featuredShowMoreLink, #featuredShowLessLink{
	text-align:left;
}
#featuredShowMoreLink{
	padding-top:30px;
}
#featuredShowMore{
	padding-top:10px;
}
.exhibitionRep {
	text-align:center;
}
.exhibitionRep img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
}
.exhibitionRep span{
	display:inline-block;
}
.exhibitionRepPhotoCredit{
	width:100%;
	text-align:left;
}
.exhibitionInstallationSlideshow .jcarousel-control-prev, .exhibitionInstallationSlideshow .jcarousel-control-next{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
}
.exhibitionInstallationSlideshow .jcarousel-control-prev:hover, .exhibitionInstallationSlideshow .jcarousel-control-next:hover{
	opacity:.7;
	color: #fff;
}
.exhibitionInstallationSlideshow .jcarousel-control-prev{
	left:0px;
}
.exhibitionInstallationSlideshow .jcarousel-control-next{
	right:0px;
}
@media (min-width:992px){
	.colBorder{
		border-right: #989697 solid 1px;
	}
}
.exhibitionVimeoCaption{
	font-size:10px;
	text-align:center;
	margin-bottom:15px;
	line-height:1em;
}
.exhibitionIframe{
	width:100%;
	height:250px;
}
@media (min-width:992px) and (max-width:1152px){
	.exhibitionIframe{
		height:200px;
	}
}
@media (min-width:600px) and (max-width:992px){
	.exhibitionIframe{
		height:300px;
	}
}
@media (max-width:485px){
	.exhibitionIframe{
		height:160px;
	}
}
.exhibitionInfoCol .readmore-js-toggle{
	margin-top:-10px;
	margin-bottom:20px;
	padding-top:0px;
}
.eventLinkDate{
	font-weight:normal;
	text-transform:none;
}
/* oral history video */
@media (max-width: 767px) {
	.detail .ohIframe iframe{
		height:300px;
	}
}
@media (max-width: 400px) {
	.detail .ohIframe iframe{
		height:200px;
	}
}
/* Collection */

.collectionTile {
    margin: 0px;
    padding: 17px 0 6px 6px;
    border-top: 1px solid #c7c7c7;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    box-shadow:none;
}
.collectionTile .title a {
	color: #000;
}
.detail .exportCollection .fa, .detail .exportCollection .glyphicon, .detail .exportCollection a {
	color:#000 !important;
}	
.collectionsContainer .label, #collectionLoad .label {
	padding:0px;
	font-size: 14px;
	text-transform:uppercase;
}
.collectionsContainer {
	padding-left:0px;
}
.collectionsContainer a, .collectionsContainer .listItem {
	padding-left:0px;
}
.collectionsContainer a .fa, .collectionsContainer .fa, #collectionLoad a .fa, #collectionLoad .fa {
	color:#000;
}
#collectionHierarchy HR {
	border-top:1px solid #989697 !important;
}
#collectionLoad {
	border-left:1px solid #989697;
}
.collectionsContainer a:hover {
	background-color:transparent;
	text-decoration:none;
}	
.collectionsContainer a.openCollection {
	border-bottom:1px solid transparent;
}
.collectionsContainer a.openCollection.active {
	background-color:transparent;
	border-bottom:1px solid #989697;
	color:#000;
}
#collectionLoad .label a {
	padding: 0px;
    font-size: 14px;
    text-transform: uppercase;
}
.colImage {
	text-align:center;
	margin-bottom:10px; 
}
.colImage img {
	width:100%;
	height:auto;
}
.collectionDetail {
	text-transform:none;
}

/* Listing */

#listingResults h1{
	display:inline;
	line-height: 35px;
}
#listingResults h4{
	float:left;
	padding-right:10px;
}
#listingResults .listItem {
	clear:both;
	color:#000;
    margin: 0px;
    padding: 17px 0 16px 6px;
    border-top: 1px solid #c7c7c7;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    box-shadow: none;	
}
#listingResults .listItem a, #listingResults .listItem a:hover{
	color:#000;
}
#listingResults .listItem .description{
	text-transform:none;
	color:#989898;
	font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
}
.listImage img {
	width:100%;
	height:auto;
}

/* Advanced Search */

.advancedSearchField .formLabel {
	color:#000;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
    text-transform:none;
    display:block;	
}
.advancedSearchField input, .advancedSearchField textarea, .advancedSearchField select {
	background-color:#eee;
	border:0px;
	border-radius:0px;
	box-shadow: none;
	transition: none;
	height:30px !important;
}
.attributeListItem {
	width:100%;
}

/* Browse */
.browse H1 .btn-group{
	vertical-align:baseline;
}
.browse H1 .btn-group i{
	color:#000;
}
.bSearchWithin, .bSearchWithin:focus{
	float:left;
	width:auto;
	box-shadow: none;
	border:0px;
	border-bottom: 1px solid #989697;
	border-radius: 0px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 0px;
	height: 30px;
	font-size: 14px;
	line-height: 26px;
	background-color: transparent;
}
.bSimplePlaceholder{
	background-color:#f2f2f2;
}
.bSimplePlaceholder img{
	width:100%;
	height:auto;
}
.browse .btn, .sets .btn {
	background-color:#000;
}
.bResultItem {
	box-shadow:none;
	border-bottom:1px solid #c7c7c7;
	
}
.bResultItem:hover {
	margin:0px;
	min-height:0;
	font-size:16px;
}
.bResultItem .bResultItemText {
	font-size:14px;
}
.bResultItem .bResultItemText a {
	color:#000;
	text-decoration:none;
}
#bRefine a {
	color:#000;
	font-size:14px;
}
.relatedArtwork a {
	text-decoration:none;
}
.detail .relatedArtwork a {
	text-decoration:underline;
}
.relatedArtwork{
	overflow:hidden;
}
.bResultListItem {
	box-shadow:none;
	border-bottom:1px solid #c7c7c7;
	/*height:112px;*/
}
.bResultListItem:hover {
	margin:0px;
	min-height:0;
	font-size:16px;
	box-shadow:none;
	padding:10px;
}
.bResultListItemTextContainer{
	overflow:hidden;
}
.bResultListItem:hover .bResultListItemTextContainer:hover{
	overflow:visible;
}
.bResultListItem:hover .bResultListItemTextContainer  .bResultListItemText{
	z-index:100;
	position:relative;
}
.entities .bResultListItem .bResultListItemTextContainer {
	height: 1.1em;
}
.exhibitions .bResultListItem .bResultListItemTextContainer {
	height: 68px;
}
.bResultListItem .bResultListItemText {
	font-size:14px;
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	padding-right:10px;
	background-color:#FFFFFF;
}
.bResultListItem .bResultListItemText a {
	color:#000;
}
#bLetterBar a {
	font-size:14px;
	color:#000;
}
.bResultListItem .bResultListItemImg {
	margin-right:0px;
	float:none;
	text-align:center;
	max-height: none;
	min-height: none;
	margin: 0px 0px 10px 0px;
}
.bResultListItem .bResultListItemImg img {
	width:100%;
	height:auto;
}
.results a .glyphicon, .results a .fa {
	color: #000 !important;
}
.results H5 {
	margin-top:15px;
}
.browseRemoveFacet button .glyphicon{
	color:#FFF !important;
}
.bResultListItemContent {
	height:auto;
	overflow:visible;
}
.bResultListItem, .bResultListItem:hover {
	height:auto;
}
.bResultListItemCol {
    margin-bottom: 20px;
    height:auto;
}

.bResultItemContent {
    text-align: center;
    /*display: table;*/
    width: 100%;
    height: auto;
}
.bResultItemImg {
    text-align: center;
    overflow: hidden;
    height: auto;
    max-height:none !important;
    position: relative;
    /*display: table-cell;*/
    vertical-align: middle;
}
.bResultItemImg:hover {
	height: auto;
}
.bResultItem .bResultItemImg {
	margin-bottom:10px;
}
.bResultItem:hover .bResultItemContent {
	min-height:auto;
}
.bResultItem img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
.bResultItem .bResultItemText{
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.2em;
/*    position: absolute;
    bottom: 10px;*/
    text-align: left;
    background-color:#FFF;
    max-height: 4.7em;
	overflow: hidden;
    /*
    width:80%;
    left: 25px;
    */
    height:60px;
}
.bResultItemTextInner{
	position:absolute;
	bottom:10px;
}
.bResultItem:hover .bResultItemText {
	bottom:10px;
    max-height: none;
    /*width:80%;
	left:10px;*/
}
.bResultItem, .bResultItem:hover {
	height:auto;
	position: relative;
}
.bResultItemCol {
	height:auto;
}

.btn-group.sort a:hover {
	text-decoration:none;
}
.browse .sort .btn {
	background-color:transparent;
	color:#000;
	font-size: 15px;
    border-bottom: 1px solid #000;
    border-radius:0px;
}
.browse .sort .btn:active, .browse .sort .btn:focus {
	box-shadow:none;
	border-style:solid;
	text-shadow:none;
}
.btn-group.sort {
	margin-right:20px;
}
.sort.open > .dropdown-menu {
    display: block;
    right: 0px;
    border: 1px solid #000;
    font-size: 15px;
    margin-top: -1px;
    box-shadow:none;
}
@media (max-width: 767px) {
	.btn-group.sort {
		padding-top:20px;
		font-size:12px;
		display:inline;
		margin-right:10px;
	}
	.browse .sort .btn {
		font-size:12px;
		margin-left:0px;
		margin-right:0px;		
		padding-left:5px;		
		padding-right:5px;
	}
	.bSearchWithin, .bSearchWithin:focus {
		width:90%;
	}
	.sort.open > .dropdown-menu {
		left:0px;
		right:auto;
		margin-top:9px;
	}
	.sort.open > .dropdown-menu a{
		font-size:12px;
	}
}
#bLetterBar {
	margin-top:10px;
}

/* Upcoming Exhibitions - also uses browse list styles*/
.upcomingExhibitions a{
	font-weight:bold;
	font-size:20px;
}
@media (max-width: 768px) {
	.upcomingExhibitions .upcomingTitle{
		margin-top:15px;
	}
}
.upcomingExhibitions .upcomingDate{
	font-size:16px;
}
.upcomingExhibitions .upcomingDesc{
	margin-top:30px;
}
.listing .exhibitions h4 a {
	text-decoration:underline;
}
#listingResults .bResultListItem, #listingResults .bResultListItem:hover {
	padding:0px;
}
.bSimplePlaceholder {
	position:relative;
	text-align:center;
	font-size:16px;
	font-weight:normal;
}
.bSimplePlaceholder::before {
	content:"image not available";
	position:absolute;
	width:100%;
	left:50%;
	margin-left:-50%;
	top:40%;
	color:#999;
}
.fullWidthImage {
	width:100%;
	position:relative;
}




.multisearch .jcarousel-next, .multisearch .jcarousel-prev{
	top:0px;
}
.multisearch .jcarousel-next.inactive, .multisearch .jcarousel-prev.inactive{
	display:block;
	opacity:.25;
}
















/* MOBILE HEADER from SK WP install */
.menu-item-has-children {
    position: relative;
}
.menu-item-has-children .submenu-toggle {
    width: 20px;
    height: 20px;
    display: none;
    position: absolute;
    top: 1px;
    right: 0;
    cursor: pointer;
    transition: all 300ms ease;
}
.menu-item-has-children.current-menu-item .submenu-toggle,
.menu-item-has-children.current-menu-ancestor .submenu-toggle,
.menu-item-has-children .submenu-toggle.active {
    transform: rotate(45deg);
}
.menu-item-has-children .submenu-toggle .line.line-horizontal {
    width: 14px;
    height: 2px;
    top: 9px;
    left: 3px;
    display: block;
    background: #000;
    position: absolute;
}
.menu-item-has-children .submenu-toggle .line.line-vertical {
    width: 2px;
    height: 14px;
    left: 9px;
    top: 3px;
    display: block;
    background: #000;
    position: absolute;
}
#header-mobile-content .search {
    position: relative;
    padding-left: 30px;
    margin-bottom: 26px;
    margin-left: 15px;
	margin-right: 15px;
}
#header-mobile-content .search .icon {
    background: none;
    border: none;
    width: 26px;
    height: 26px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
#header-mobile-content .search .icon svg {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}
#header-mobile-content .search input[type="search"] {
    width: 100%;
    max-width: 100%;
    background: none;
    height: 26px;
    line-height: 26px;
    border: none;
    border-bottom: 1px solid #989697;
    font-size: 14px;
    padding: 0 26px 0 0;
}
#header-mobile-content .search .search-submit {
    background: transparent;
    border: none;
    padding: none;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    padding: 0;
}
#header-mobile-content .search .search-submit svg {
    width: 16px;
    height: 16px;
    top: 5px;
    right: 0;
    position: absolute;
}
#header-mobile-content .search .search-submit.active {
    opacity: 1;
    visibility: visible;
}
#header-mobile-content .copyright {
    font-size: 12px;
    line-height: 24px;
    margin-left: 15px;
	margin-right: 15px;
}
#header-mobile-content .secondary-menu {
    margin-bottom: 32px;
    margin-left: 15px;
	margin-right: 15px;
}
#header-mobile-content  .secondary-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}
#header-mobile-content  .secondary-menu ul li {
    display: block;
    line-height: 20px;
}
#header-mobile-content .secondary-menu ul li a:link,
#header-mobile-content .secondary-menu ul li a:visited {
    font-size: 12px;
    line-height: 20px;
    color: #000;
}
#header-mobile-content .secondary-menu ul li.current-menu-item a:link,
#header-mobile-content .secondary-menu ul li.current-menu-item a:visited {
    text-decoration: underline;
}
#header-mobile-content .social{	
    margin-left: 15px;
	margin-right: 15px;
}

.social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.social ul li {
    display: inline-block;
    margin-right: 10px;
}
.social ul li a:link,
.social ul li a:visited {
    display: block;
    font-size: 0;
    line-height: 0;
}
.social ul li a svg {
    width: 20px;
    height: 20px;
}
.social ul li a.email svg {
    width: 28px;
}
#header-mobile {
    height: 68px;
   /* position: absolute; */
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
#header-mobile .top {
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    padding: 14px 0;
    position: relative;
    z-index: 30;
}
#header-mobile.content-under .top {
    background: #fff;
}
#header-mobile .logo {
    float: right;
    height: 40px;
    font-size: 0;
}
#header-mobile .logo img {
    width: 158px;
    height: 40px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
#header-mobile.header-white:not(.active) .logo svg path.fill-me {
    fill: #fff;
}
#header-mobile-content-trigger {
    float: left;
    width: 38px;
    height: 34px;
    border: 1px solid transparent;
    margin-top: 3px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    position: relative;
    left: -5px;
}
#header-mobile-content-trigger.active {
    border-color: #000;
}
#header-mobile-content-trigger svg {
    width: 28px;
    height: 22px;
    margin-top: 5px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.header-white:not(.active) #header-mobile-content-trigger svg path {
    fill: #000;
}
#header-mobile-content {
    position: fixed;
    top:0;
    left: 0;
    position: fixed;
    overflow: auto;
    background: #fff;
    z-index: 26;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 68px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}
#header-mobile-content.active {
    opacity: 1;
    visibility: visible;
}
#header-mobile-content .main-menu {
    margin-bottom: 110px;
    padding-left: 15px;
	padding-right: 15px;
}
#header-mobile-content .main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#header-mobile-content .main-menu ul li {
    line-height: 30px;
}
#header-mobile-content .main-menu ul li a:link,
#header-mobile-content .main-menu ul li a:visited {
    font-size: 19px;
    line-height: 34px;
    color: #000;
    position: relative;
    display: inline-block;
}
#header-mobile-content .main-menu ul li a:after {
    content:'';
    height: 2px;
    width: 100%;
    background: #000;
    display: block;
    position: absolute;
    bottom: 4px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    left: 0;
    opacity: 0;
}
#header-mobile-content .main-menu ul li a:hover,
#header-mobile-content .main-menu ul li a:active,
#header-mobile-content .main-menu ul li a:focus {
    text-decoration: none;
}
#header-mobile-content .main-menu ul li.current-menu-item > a:after,
#header-mobile-content .main-menu ul li a:hover:after,
#header-mobile-content .main-menu ul li a:active:after,
#header-mobile-content .main-menu ul li a:focus:after {
    opacity: 1;
}
#header-mobile-content .main-menu ul .sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease;
    padding-left: 20px;
}
#header-mobile-content .main-menu ul .sub-sub-menu{
	padding-left: 20px;
}
#header-mobile-content .main-menu ul .sub-menu .submenu-toggle{
	display:none;
}
#header-mobile-content .main-menu ul .sub-menu.active,
#header-mobile-content .main-menu ul li.current-menu-ancestor .sub-menu,
#header-mobile-content .main-menu ul li.current-menu-item .sub-menu {
    max-height: 400px
}
#header-mobile-content .social {
    padding-bottom: 30px;
}
#header-mobile-content .menu-item-has-children .submenu-toggle {
    top: 7px;
    display: block;
}
.container{
	max-width:2000px;
}
.container.noLeftPadding{
	padding-left:0px;
}
@media screen and (max-width: 1400px) {
	.content {
		margin-left: 220px;
	}
	.sidebar {
		width: 220px;
  		margin-right: -220px;	
	}
}
@media screen and (max-width: 990px) {
	.content {
		margin-left: 0px;
		width:100%;
	}
	.content-narrow {
		width:auto;
		margin:0px 15px 0px 15px;
	}
	.content-wrapper{
		width: 752px;
    	margin: 0px auto 0px auto;
    	min-width: 320px;
    	padding-bottom: 60px;
    	float:none;
	}
	#header-mobile{
		width: 752px;
    	margin: 0px auto 0px auto;
    	min-width: 320px;
		padding: 0px 15px 0px 15px;
	}
	.container.noLeftPadding{
		padding-left:15px;
	}
	#header-mobile-content .container{
		width: 752px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 767px) {
	.content-wrapper{
		width: auto;
		padding: 0px;
	}
	#header-mobile{
		width: 100%;
	}
	#header-mobile-content .container{
		width: auto;
	}
}
.detail .repViewerCont > div, .detail .exhibitionRep {
	display:table;
	width:100%;
	max-height: 500px;
	text-align:center;
}
.detail .repViewerCont img, .detail .exhibitionRep img {
	width: auto;
    height: auto;
    max-width:100%;
    margin-right:auto;
    margin-left:auto;
}
.detail .repViewerCont .detailMediaToolbar, .gallery .repViewerCont .detailMediaToolbar {
	width:auto;
	display:none;
}
.featuredItem {
    padding-top: 20px;
    margin: 0px 20px 0px 20px;
    font-size: 14px;
    line-height: 18px;
}
.featuredItem img{
	width:100%;
	height:auto;
}
.featuredItemTitle{
	text-transform: uppercase;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-decoration:none;
	padding: 10px 0px 5px 0px;
}
.frontSlide img {
    height: 330px;
    width: auto;
}
.front .jcarousel-control-next, .front .jcarousel-control-prev{
	margin-top:-70px;
}
.gallery H2{
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	color:#000;
}
.gallery H3{
	font-size: 16px;
	text-transform: none;
	margin: 0px 0px 20px 0px;
	color:#000;
	line-height: 1.4em;
}
.gallery #galleryDetailImageArea #galleryDetailImageWrapper:hover .detailMediaToolbar, .gallery #galleryDetailImageArea #galleryDetailImageWrapper .detailMediaToolbar{
	display:none;
}
.gallery .setDescription{
	font-weight:normal;
}
#galleryDetailObjectInfo{
	color:#000;
	font-size: 14px;
}
.video-js{
	min-height: 300px;
}




/* 2025 NAVBAR STYLES */

@font-face {
  font-family: "National2-Light";
  src: url("https://skacwelcome.wpenginepowered.com/wp-content/themes/Storm-King/assets/fonts/national-2-light.woff2") format("woff2"); 
}

@font-face {
  font-family: "National2-Regular";
  src: url("https://skacwelcome.wpenginepowered.com/wp-content/themes/Storm-King/assets/fonts/national-2-regular.woff2") format("woff2"); 
}

@font-face {
  font-family: "National2-RegularItalic";
  src: url("https://skacwelcome.wpenginepowered.com/wp-content/themes/Storm-King/assets/fonts/national-2-regular-italic.woff2") format("woff2"); 
}

@font-face {
  font-family: "National2-Medium";
  src: url("https://skacwelcome.wpenginepowered.com/wp-content/themes/Storm-King/assets/fonts/national-2-medium.woff2") format("woff2"); 
}

@font-face {
  font-family: "National2-Bold";
  src: url("https://skacwelcome.wpenginepowered.com/wp-content/themes/Storm-King/assets/fonts/national-2-bold.woff2") format("woff2"); 
}


.sidebar{
    background-color: #B4C9E0;
    font-family: "National2-Bold";
    
    position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 262px;
	z-index: 30;
}
.sidebar ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.sidebar .inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.sidebar .custom-logo {
    width: 209px;
    height: auto;
    margin-top: 0;
    margin-bottom:32px;
}

    @media screen and (max-width: 1400px) {
       /* #main-header .custom-logo {*/
       .sidebar .custom-logo {
            width: 166px;
        }
    }


.sidebar .main-menu {
    margin-top: 20px;
    font-family: "National2-Bold";
    padding-top: 14px;
}
.nav.menuItems > li > a, .nav > li > a:hover, .nav > li > a:focus{
	font-family: "National2-Bold";
	border-bottom: 2px solid transparent;
}
    .sidebar .main-menu  ul.subMenu{
        transition: unset;
        margin-top: 17px;
  		margin-bottom: 21px;
  		overflow:hidden;
    }
    .sidebar .main-menu ul.subMenu li ul.subMenu{
		margin-top:0px;
		margin-bottom:0px;
	}
    .sidebar ul.subMenu li:first-child {
  		padding-top: 12px;
	}
	.sidebar ul.subMenu ul.subMenu li:first-child {
  		padding-top: 6px;
	}
    #main-header .main-menu  .current_page_item > UL,
    #main-header .main-menu  .current_page_parent > UL,
    #main-header .main-menu .current_page_ancestor > UL {
        max-height: unset;
        margin-top: 17px;
        margin-bottom: 21px;
    }

	.sidebar .main-menu  ul.subMenu li{
        margin-bottom: 4px;
    }
	.sidebar .main-menu  ul.subMenu li a{
        font-size: 16px;
    }

    .sidebar .main-menu ul li.current-menu-item > a, 
    .sidebar .main-menu ul li a:hover, 
    .sidebar .main-menu ul li a:active, 
    .sidebar .main-menu ul li a:focus {
        text-decoration-thickness: 2px !important;
        text-underline-offset: 2px;
        text-decoration: underline;
        border-bottom: 0;
    }

    .nav.menuItems > li {
        margin-bottom: 12px !important;
    }
    .nav.menuItems > li > a{
		font-size:26px;
	}
	.nav.menuItems > li.smallLinks a{
		font-size:16px;
	}
	.nav.menuItems > li.smallLinks{
		margin-bottom: 4px !important;
	}

#main-header .custom-logo {
    margin-bottom: 26px;
  }
.sidebar .inner .nav-footer {
    margin-top: auto;
    font-family: "National2-Regular";
}
.sidebar .secondary-menu{
	margin-bottom:32px;
}
.sidebar .secondary-menu li a{
	font-family: "National2-Regular";
}
.sidebar .secondary-menu ul li {
  line-height: 15px;
}
.sidebar .secondary-menu ul{
	font-size:0px;
}
@media screen and ( max-height: 900px ) {
    .sidebar .custom-logo {
        margin-bottom: 26px;
    }
    .sidebar .main-menu ul li {
        margin-bottom: 6px;
    }
    .sidebar .main-menu ul li a {
        line-height: 17px;
    }
    .sidebar .main-menu.sub-menu ul li a {
        font-size: 17px;
    }
    .sidebar .main-menu ul li:first-child {
        padding-top: 6px;
    }
    .sidebar .secondary-menu {
        margin-bottom: 20px;
    }
}
@media screen and ( max-height: 700px ) {
    .sidebar .main-menu ul.sub-menu li:first-child {
        padding-top: 5px;
    }
    .sidebar .main-menu ul li {
        margin-bottom: 5px;
        line-height: 20px;
    }
    .sidebar .main-menu.sub-menu ul li a {
        font-size: 15px;
        line-height: 15px;
    }
    .sidebar .main-menu ul li a {
        line-height: 15px;
    }
    .sidebar .nav-footer .search {
        margin-bottom: 10px;
    }
}
@media screen and ( max-height: 750px ) {
	.sidebar{
		overflow-y:scroll;
	}
}
@media screen and (max-width: 1400px) {
	.sidebar {
		width: 220px;
	}
	.sidebar .navbar-form .form-group {
		width: 140px;
		margin-left: 4px;
	}
}


.sidebar .smallLinks.first {
	margin-top: 40px;
}
.sidebar .navbar-form .icon {
  background: none;
  border: none;
  width: 26px;
  height: 26px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar .navbar-form .icon svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
}
.sidebar .form-control{
	width: 100%;
	max-width: 100%;
	background: none;
	height: 26px;
	line-height: 26px;
	border: none;
	border-bottom: 1px solid #989697;
	font-size: 14px;
	padding: 0 26px 0 0;
	box-shadow:none;
	border-radius: 0px;
}
.sidebar .form-control::placeholder{
	font-weight:normal;
	font-family: "National2-Regular";
	color:#525c67;
}
.navbar-form .form-group {
  width: 180px;
  margin-left: 4px;
}
.header-sticky-info {
    position: absolute;
    z-index: 100;
    top: 5px;
    right: 25px;
    display: none;
    color: white;
}
    @media screen and (max-width: 1400px) {
        .header-sticky-info {
            display: none !important;
        }
    }

    .header-sticky-info .corner {
        display: flex;
        gap: 35px;
        align-items: center;
    }
    .header-sticky-info .corner .info {
        text-align: right;
        font-family: "National2-Regular";
    }
    .header-sticky-info .corner .tickets {
        width: fit-content;
    }
    .header-sticky-info .corner .button {
        transition: background-color 300ms linear;
        border: 1px solid white;
        font-family: "National2-Bold";
        font-size: 17px;
        padding: 21px 60px;
        color: white;
        background-color: rgba(0,0,0,0.2);
    }
        .header-sticky-info .corner .button:hover {
            background-color: rgba(0,0,0,1);
            text-decoration: none;
        }
    
.sidebar .secondary-menu ul li {
    line-height: 15px;
}   


#header-mobile-content {
    padding-top: 128px;
}


#main-background:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.15;
}