body {
	font-size:16px;
	line-height:1.7em;
	margin-bottom:200px;
	font-family:"source sans pro";
	font-weight:lighter;
}
h1, h2, h3, h4, h5, h6 {
	font-family:"source sans pro";
	color:#c1984b;
}
h1 {
	font-size:24px;
}
h3 {
	font-size:18px;
}
h5 {
	font-size:16px;
}
h6 {
	font-size:16px;
}
a, a:hover, a:active, a:focus {
	color:#c1984b;
}
.caption {
	font-size:14px;
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:active,
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color:#c1984b;
	color:#fff;
}
.btn, .btn:active, .btn:focus {
	outline:0;
	border:0;
}
.btn-link:hover, .btn-link:focus {
	text-decoration:none;
}
.dropdown-menu, .dropdown-header {
	font-size:14px;
}
.navbar .dropdown-menu {
	font-size:18px;
	font-family:"source sans pro";
}
.navbar .dropdown-menu > li > a {
	font-weight:lighter;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family:"source sans pro";
	font-size: 18px;
    font-weight: lighter;
}
.navbar-form {
	margin-bottom:6px;
}
.navbar-toggle-user {
    padding: 2px 10px 3px 10px;
}
#headerSearchButton{
	padding:3px 6px 0px 0px;
}
.pageName {
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	padding-top:15px;
}
@media (max-width: 1010px) {
	.pageName {
		padding-left: 15px;
	}
}
.pageName a {
	color:#454545;
}
@media (min-width: 768px) {
.front H1 {
    font-size: 28px;
    font-family: "Source Sans Pro";
    font-weight:lighter;
    padding-top: 15px;
}
.attributeListItem {
	width:100%;
}

.multisearch .objects.blockResults {
	height:290px;
}
.objects .multisearchResult {
	height:255px;
	width:240px;
	line-height:1.4em;
}
.multisearch .objects .scrollButtonPrevious {
    height: 260px;
}
.objects .multisearchResult small {
	color:#ababab;
}
.objects .multisearchResult div, .bResultItemText div{
	margin-bottom:5px;
}
.multisearchImgPlaceholder {
	padding:45px;
	border:0px;
}
.multisearch .authoritySet{
	font-size:12px;
}
.multisearch #exhibitionsBlock .blockResults, .multisearch #bibliographyBlock .blockResults {
	height:300px;
}
.multisearch #exhibitionsBlock .scrollButtonNext, .multisearch #exhibitionsBlock .scrollButtonPrevious,
.multisearch #bibliographyBlock .scrollButtonNext, .multisearch #bibliographyBlock .scrollButtonPrevious {
	height:270px;
	padding-top:120px;
}
.multisearch #exhibitionsResults .blockResultsScroller, .multisearch #bibliographyResults .blockResultsScroller {
	height:280px;
}
.multisearch #exhibitionsResults .authoritySet, .multisearch #bibliographyResults .authoritySet {
	height: 300px;
}
.multisearch #exhibitionsResults .authorityResult, .multisearch #bibliographyResults .authorityResult {
	height:85px;
}
.multisearch #exhibitionsResults .authorityResult div, .multisearch #bibliographyResults .authorityResult div{
	margin-bottom:5px;
}
.multisearch .multisearchResult {
	font-size:14px;
}
.multisearch .authoritySet a, .multisearch .authoritySet {
	font-size:14px;
}
.multisearch .pull-right, .multisearch .pull-right a {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
}
.multisearch .pull-right a {
    color: #c1984b;
}
.bResultListItem .bResultListItemText {
	font-size:15px;
}
.bResultItem .bResultItemText {
    font-size: 14px;
}
#bRefine a {
	font-size:14px;
}
.advancedSearchField .formLabel {
	font-size:13px;
}
.listImage {
	max-width:100px;
	float:left;
	padding-right:10px;
}
.listImage img{
	width:100%;
	height:auto;
}
.listImage .bResultItemImgPlaceholder {
	border:0px;
	width:90px;
	padding-top:20px;
	padding-bottom:20px;
}
.listImage .bResultItemImgPlaceholder .fa-2x, .listImage .bResultItemImgPlaceholder .fa-2x:hover {
	font-size:24px;
}
.bResultListItemContent {
	height:105px;
}
.bResultListItem:hover {
	height:150px;
}
.bResultListItemCol {
	height:152px;
}
@media (min-width: 768px) {
	.objects .multisearchResult div, .bResultItemText div {
		margin-bottom: 2px;
		line-height:1.2em;
	}
	.objects .multisearchResult div a{
		line-height:1.2em;
	}
}
@media (min-width: 768px) {
	.objects .multisearchResult small {
		color: #ababab;
		margin-bottom: 4px;
		display: block;
	}
}

/* Detail */

.detail {
	font-size:15px;
}
.docs img {
	border:1px solid #ddd;
	text-align:center;
	margin-top:10px;
}
.detail .unit {
	word-wrap:break-word;
}
.detail .tombstone {
	margin-bottom:0px;
}
.accordion .btn {
	padding:0px;
	border:0px;
}

/* Lightbox */

.lightbox .caption div, .lightbox .caption small {
	margin-bottom:4px;
	display:block;
}

.bResultItemCol {
    height: 340px;
}
.bResultItemContent {
	height:290px;
}

.form-control:focus {
    border-color: #000;
}
