<?php
		$vs_directory = __CA_THEME_DIR__."/assets/pawtucket/graphics/about/";
		$vn_filecount = 0;
		$va_files = glob($vs_directory . "*");
		if ($va_files){
		 $vn_filecount = count($va_files);
		}
		print "<div class='bannerImg'><img src='".__CA_THEME_URL__."/assets/pawtucket/graphics/about/".rand(1,$vn_filecount).".jpg'></div>";
?>
	<div class="row">
		<div class="col-sm-12 ">
			<div class="band">
				<div>{{{title}}}</div>
			</div>
		</div>
	</div>
<div class="row">
	<div class="col-sm-3 aboutSideNav">
		<div><i class="fa fa-chevron-circle-right" aria-hidden="true"></i><a href="http://<?php print __CA_SITE_HOSTNAME__; ?>/index.php/About/Collection">About the Cultural & Property Assets Department</a></div>
		<div><i class="fa fa-chevron-circle-right" aria-hidden="true"></i><a href="http://<?php print __CA_SITE_HOSTNAME__; ?>/index.php/About/GSUSA">About Girl Scouts of the USA</a></div>
		<div><i class="fa fa-chevron-circle-right" aria-hidden="true"></i><a href="http://<?php print __CA_SITE_HOSTNAME__; ?>/index.php/About/GoldAward">Girl Scout Gold Award</a></div>
		<div><i class="fa fa-chevron-circle-right" aria-hidden="true"></i><a href="http://<?php print __CA_SITE_HOSTNAME__; ?>/index.php/About/Usage">Rights, Reproduction and Usage</a></div>
		<div><i class="fa fa-chevron-circle-right" aria-hidden="true"></i><a href="http://<?php print __CA_SITE_HOSTNAME__; ?>/index.php/About/Services">Research Services</a></div>
		<div><i class="fa fa-chevron-circle-right" aria-hidden="true"></i><a href="http://<?php print __CA_SITE_HOSTNAME__; ?>/index.php/About/Opportunities">Internship and Volunteer Opportunities</a></div>
		
	</div>
	<div class="col-sm-8 col-sm-offset-1">
		{{{bodytext}}}
		<br/>
		<br/>
		<br/>
	</div>
</div>
