<?php
		$vs_directory = __CA_THEME_DIR__."/assets/pawtucket/graphics/about/";
		$vn_filecount = 0;
		$va_files = glob($vs_directory . "*");
		if ($va_files){
		 $vn_filecount = count($va_files);
		}
		print "<div class='bannerImg'><img src='".__CA_THEME_URL__."/assets/pawtucket/graphics/about/".rand(1,$vn_filecount).".jpg'></div>";
?>
	<div class="row">
		<div class="col-sm-12 ">
			<div class="band">
				<div>{{{title}}}</div>
			</div>
		</div>
	</div>

<div class="row">
	<div class="col-sm-12">
		{{{bodytext}}}
		<br/>
		<br/>
		<br/>
	</div>
</div>
