<div class="row ">
	<div class="col-sm-6">	
		<H1>{{{title}}}</H1>
		{{{bodytext}}}
	</div>
	<div class="col-sm-6">
		<H1></H1>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.2686387275157!2d-123.12881808431229!3d49.23339577932607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54867478fba617a3%3A0xac5227284afd89a7!2s950+W+41st+Ave%2C+Vancouver%2C+BC+V5Z+2N7%2C+Canada!5e0!3m2!1sen!2sus!4v1505339188975" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>
<div class="row connectSocial">
	<div class="col-sm-4 websiteScreenshot">
		<H5>Main website</h5><h4><a href="http://vhec.org" target="_blank">Vancouver Holocaust Education Center</a></h4>
		<?php print caGetThemeGraphic($this->request, 'VHEC_website.jpg'); ?>
	</div>
	<div class="col-sm-4">
		<H5>Twitter</h5><h4><a href="http://twitter.com/VHECCollections" target="_blank">@VHECCollections</a></h4>
		<div class="border">
		<a class="twitter-timeline" data-height="494" href="https://twitter.com/VHECCollections">Tweets by VHECCollections</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
	<div class="col-sm-4">
		<H5>FaceBook</h5><h4><a href="https://www.facebook.com/Vancouver-Holocaust-Education-Centre-140874547755/" target="_blank">Vancouver Holocaust Education Center</a></h4>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-page" data-href="https://www.facebook.com/Vancouver-Holocaust-Education-Centre-140874547755/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Vancouver-Holocaust-Education-Centre-140874547755/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Vancouver-Holocaust-Education-Centre-140874547755/">Vancouver Holocaust Education Centre</a></blockquote></div>
	</div>
</div>