@font-face {
 font-family: 'efluxRegular';
 src: url('fonts/helveticaneueltpro-th-webfont.eot');
 src: url('fonts/helveticaneueltpro-th-webfont.woff') format('woff'), url('fonts/helveticaneueltpro-th-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
body {
	font-family: arial;
}
a {
	color:#999;
}
a:hover {
	color:#000;
}
h1 {
	font-family: 'efluxRegular';
	text-transform:capitalize;
	color:#000;
}
h3 {
	font-family: 'efluxRegular';
	text-transform:capitalize;
	color:#000;
	font-weight:bold;
}
h4 {
	color:#000;
	font-weight:bold;
	font-family: 'efluxRegular';
	font-size:20px;
}
h5 {
	font-family:arial, helvetica, sans serif;
	text-transform:capitalize;
	color:#000;
}
h6 {
	font-family:georgia;
	font-style:italic;
	text-transform:capitalize;
	padding-bottom:5px;
	font-weight:bold;
	font-size:14px;
}
.navbar {
	box-shadow: none;
	background: url('../graphics/line_dashed.gif') repeat-x bottom left;
	border-left:13px solid #000;
}
.navbar-default .navbar-nav > li > a {
	font-size:16px;
	font-family:arial, helvetica, sans serif;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color:#f9f9f9;
}
.navbar .navbar-nav > .active > a {
	color:#000;
}
.navbar-nav > li > a {
	padding-top:35px;
	padding-bottom:15px;
	margin-bottom:1px;
}
.nav > li.dropdown > a.icon {
	padding-top:35px;
	padding-bottom:0px;
}
.navbar .formOutline {
	border-radius:0px;
	border: 1px solid #000;
}
.navbar .form-control {
	height:20px;
}
.navbar-form {
	margin-top:25px;
}
.navbar-brand {
	width:261px;
	margin-top:6px;
	padding-bottom:6px;
}

/* Browse Menu */

.filterMenuFacetList li.active a, .filterMenuFacetList li a {
	font-family: efluxRegular, helvetica, sans-serif;
	font-weight:bold;
	color:#000;
	line-height: 1.4em;
	display: block;	
	border-bottom:1px solid #fff;
}
.filterMenuFacetList li {
	padding:0px;
	margin:0px;
	margin-bottom:10px;
}
.filterMenuFacetList li.active {
	background-color:#fff;
	border-bottom:1px solid #000;
	margin-bottom:10px;
}
.filterbylabel {
	color:#000;
	font-size:16px;
	text-transform:lowercase;
	padding-bottom:10px;
}
.filterMenuFacetList li a:hover {
	text-decoration:none;
	border-bottom:1px solid #000;
}
div.browseFacetItem a {
	color:#000;
	font-family:georgia, serif;
	font-style:italic;
	font-size:13px;
}
.filterMenuResults {
	max-height:300px;
}
.browseMenuBrowseSearch .form-control {
	border:1px solid #000;
	border-radius:0px;
	box-shadow:none;
}
#browseMenuFacetSearchInput {
	font-style:italic;
}
input#browseMenuFacetSearchInput  {
	color:#000;
}
.browseMenuBrowseAll {
	font-style:italic;
	border-radius:0px;
	border-color:#000;
	text-transform:lowercase;
	color:#000;
	font-size:12px;
}

/* front */

.front H1 {
	font-size:18px;
}
.borderleft {
	border-left:1px solid #ccc;
	text-align:center;
}
.borderleft img{
	width:150px;
}
.browsedigi {
	font-family:efluxregular;
	clear:both;
	font-weight:bold;
	padding-top:10px;
}
.frontSlideCaption a:hover {
	color:#ccc;
	text-decoration:none;
}

/* Multisearch */

.bookTitle {
	font-family:georgia;
	font-size:13px;
	font-weight:bold;
	line-height:1.2em;
	padding-bottom:10px;
}
.author {
	padding-bottom:5px;
}
.multisearch H3, .multisearch H3 a, .multisearch H3 a:hover {
	color:#000;
	font-family: arial, helvetica;
	font-size:13px;
}
.multisearchFullResults a {
	text-transform:lowercase;
	color:#000;
}
.multisearch .authorityResult {
	border:1px solid #000;
	background-color:#fff;
	font-family:georgia;
	font-weight:bold;
}
a#objects_sort_direction, a#entities_sort_direction {
	color:#000;
}
.multisearch .multisearchResult {
	box-shadow:none;
	border:1px solid #000;
}
.resultBlock .pull-right {
	font-family:efluxregular;
	font-weight:bold;
}
.resultBlock .pull-right a{
	text-decoration:none;
	border-bottom:1px solid #000;
}
.resultBlock .multisearchFullResults a{
	border:0px;
}

/* Advanced Search */

.advSearch {
	margin-top:20px;
}
.advancedSearchField {
	font-family: efluxregular;
	font-weight:bold;
	margin-bottom:20px;
}
a.caAdvancedSearchFormReset, a.caAdvancedSearchFormSubmit {
	color:#000;
}

/* Browse */

#bRefine H5 {
	color:#000;
	font-family:georgia, serif;
	font-style:italic;
	text-transform:capitalize;
	padding-bottom:8px;
	font-size:15px;
}
#bRefine a {
	color:#000;
}
.browse .btn {
	font-size:11px;
	color:#000;
}
.browse .btn a, .browse .btn .glyphicon {
	color:#000;
}
.dropdown-menu > li > a {
	font-weight:bold;
}
.results h5 {
	font-size:12px;
}
.results a .fa.fa-suitcase {
	color:#000;
}
.filterMenuResults {
	margin-left:0px;
}
.objects.browse.results .btn.btn-default.btn-sm {
	cursor:initial;
}

/* Detail */

.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color:#fff;
	color:#000;
}
.detail .detailNavBgLeft a, .detail .detailNavBgRight a, .detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small{
	color:#000;
}
.detail #detailTools a{
	color: #000;
	font-family: arial;
	text-transform: capitalize;
	font-size: 13px;
}
.detail .detailTool span {
	color:#000;
}
.detail .map {
	margin-top:20px;
}
.collections.detail .image img {
	width:100%;
}
.BookReaderContainer {
	height:inherit !important;
}

/* Footer */
#footer {
	background: url('../graphics/line_dashed.gif') repeat-x top left;
	border:0px;
}
#footer, #footer a {
	color:#000;
}