
html {
	min-height:100%;
	position: relative;
}
body {
	margin-bottom:385px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
}
#pageArea {
	margin-bottom:40px;
	min-height: 500px;
}
h1 {
    font-size: 28px;
    color: #636466;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Montserrat;
}
h3, .multisearch h3 {
    font-size: 16px;
    color: #636466;
    text-transform: uppercase;
    font-family: Montserrat;
}
multisearch h3 a {

}
h4, .detail h4 {
	font-family: Montserrat;
	font-size:22px;
	color: #636466;
}
h6 {
	font-size: 14px;
    color: #636466;
    font-weight: bold;
    text-transform: uppercase;	
    font-family: Montserrat;
    margin-bottom:9px;
}
.btn-default, .btn-default:hover {
    padding: 14px 24px;
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    background-color: #d5a00f;
    font-family: Montserrat;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px; 
    border:0px;
    border-radius: 20px;
}
.btn-default a, .btn-default:hover a{
	color:#fff;
}
.control-label {
	font-family: Montserrat;
}
a {
    color: #819cd1;
    font-weight:bold;
}
a:hover {
	color: #819cd1;
	text-decoration:none;
}
p, div {
	font-family:Lora;
}
.navbar {
	background-image: url("../graphics/Charcoal_Distressed.png");
	background-color: #30302f;
	margin-bottom:40px;
}
.navbar-brand {
	width:339px;
	padding-top:8px;
	padding-bottom:0px;
}
.nav > li {
	height: 100px;
    line-height: 100px;
}
.nav #browse-menu li {
	line-height: 1.4em;
	height:auto;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: Montserrat;
    font-size: 14px;
    color: #fff;
    font-weight:400;
    text-transform:uppercase;
    line-height:100px;
    padding-top:0px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar .formOutline {
	background-color:#fff;
	border:0px;
	border-radius:0px;
}
.navbar .navbar-form {
	margin-top:30px;
}
.nav > li.dropdown > a.icon {
	padding-top:0px;
	padding-bottom:0px;
}
.navbar .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color:#fff;
}
@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-bottom: 0px;
	}
}
#footer {
	bottom:0px;
	position:absolute;
	height:385px;
	width:100%;
	margin:0px;
	/*background-image: url('../graphics/blue_stained_glass.jpg');*/
	color:white;
	text-align:center;
	font-family:lora;
	font-size:14px;
	background-color: #333332;
}
.footer-logo {
    display: block;
    margin: 3em auto;
    width: 100%;
    max-width: 420px;
    height: auto;
}
.footer-copyright {
    text-align: center;
    display:block;
}
.footer-logos img {
    margin: 2em;
    margin-bottom:0px;
}
.footer-logo-advisor {
    text-align: center;
    padding-left:20px;
}
.footer-logo-icc {
    float: left;
}
.footer-logo-attractions {
    float: none;
    padding-right:20px;
}
/* Login Reg */

@media (min-width: 768px) {
	.form-horizontal .control-label {
		text-align: right;
		font-size: 13px;
		letter-spacing: 2px;
		padding-top:9px;
	}
	#caFormOverlay {
		width: 500px;
		margin: 15% auto 0px auto;
	}
}

/* Browse */

.browseMenuFacet {
	clear: both;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.filterMenuFacetList {
	font-size:11px;
	padding-bottom:10px;
	/*float:left;*/
	padding-top:10px;
}

.filterMenuFacetList ul{
	list-style-type:none;
	margin:2px 0 0 0;
	padding:0;
	clear:both;
}

.filterMenuFacetList li{
	list-style-type:none;
	margin:0 0 2px 0;
	padding:4px 2px 4px 4px;
	border-radius:2px;
}

.filterMenuFacetList li.active{
	background-color:#f5f5f5;
}

.filterMenuFacetList li.active a{
	color:#666;
}	

.filterMenuFacetList li a{
    color: #999;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    text-decoration: none;
}	

.filterMenuFacetList li a:hover{
	text-decoration:none;
}

.filterbylabel {
	color: #666;
    font-size: 13px;
    padding-bottom: 3px;
    font-weight:bold;
    padding-left: 4px;
    font-family:montserrat;
}

ul.browseMenuFacetList {
	list-style-type:none;
	margin:0;
	padding:0 0 5px 0;
}

ul.browseMenuFacetList > li > a {
	padding-top:10px;
	padding-bottom:10px;
	list-style-type:none;
	margin:0;
	padding:0 0 5px 0;
}

ul.browseMenuFacetList li a, ul.browseMenuFacetList{
	float:left;
}


ul.browseMenuFacetList > li div{
	font-size:12px;
	background-color:#c9c9c9;
	color:#FFF;
	font-weight:bold;
}
div.browseFacetItem{
   background-color:#f5f5f5;
   border-left:4px solid #fff;
   border-top:2px solid #fff;
   border-bottom:2px solid #fff;
   height: auto;
   padding-top:3px;
   font-size:12px;
}
@media (min-width: 768px) {
	div.browseFacetItem{
		height:60px;
	}
	div.browseFacetItem a{
		display:block;
		height:60px;
	}
}

@media (min-width: 768px) {
	div.browseFacetHierarchyItem{
		height:75px;
	}
	div.browseFacetHierarchyItem a{
		display:block;
		height:75px;
	}
}

div.browseFacetHierarchyItem a {
	display: inline !important;
}

div.browseFacetItem:hover {
	background-color:#e7e7e7;
}
div.browseFacetItem a{
  font-size:13px;
}
div.browseFacetItem a:hover {
	text-decoration:none;
	color: #777;
}
div.browseFacetItem li{
	margin:0px;
	padding:0px;
}
a.browseRemoveFacet img {
	margin-bottom: 3px;	
}

.browseHeadernav{
	font-size:12px;
	padding:5px;
	border-right: 3px solid #fff;
	letter-spacing:1px;
}
.browseHeadernav.active {
	background-color:#777;
}
.browseHeadernav.active a{
	color:#fff;
}
.browseHeadernav.active .caret {
	border-top: #fff 4px solid;
}
.browseHeadernav .caret {
    margin-left: 5px;
    float: right;
    vertical-align: middle;
    margin-top: 7px;
    display: inline-block;
    border-top: #999 4px solid;
}
.filterMenuResults {
	padding-top:2px;
}

.filterMenuResults div div.row {
	overflow:auto;
	max-height:325px;
}

.mainFacet {
	color:#262626;
	min-height:30px;
	line-height:28px;
	background-color:#e7e7e7;
	margin-top:-5px;
	padding-top:2px;
}		
.mainFacet	ul{
	list-style-type:none;
	margin:0px !important;
	padding:0px !important;
}
.mainFacet	li{
	list-style-type:none;
	margin:0px 30px 0px 0px !important;
	padding:0px !important;
	float:none;
}
@media (min-width: 768px) {
	.mainFacet	li{
		float:left;
	}
}
.mainFacet	li .active a{
	color:#000;

}	
.mainFacet	li a:hover{
	color:#000;
	text-decoration:none;
	/*border-bottom:1px solid #000;*/
}
.browsedivider {
	clear:both; 
	margin-top:20px;
	border-top:1px solid #ccc;
}
@media (min-width: 768px) {
	.browsedivider {
		padding-bottom:35px;
	}
}
div.browseMenuBrowseAll {
	margin-top:5px;
	text-align:center;
}
@media (min-width: 768px) {
	div.browseMenuBrowseAll {
		position: absolute;
		bottom: 3px;
		right: 18px;
		margin-top:0px;
	}
	div.browseMenuBrowseSearch {
		position: absolute;
		bottom: 10px;
		left: 15px;
	}
}
div.browseMenuBrowseSearch input {
	font-size: 11px;
}
.browseMenuBrowseSearch .form-control, .browseMenuBrowseSearch .form-control:active, .browseMenuBrowseSearch .form-control:focus{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 13px;
    height: 24px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
.filterMenuFacetList .btn-default {
	background:transparent; 
	color:#ccc;
}	
.filterMenuFacetList .btn-default a{
	color:#666;
	font-size:11px;
}	
.browseHeadernav a{
	color:#666;
}
a.browseRemoveFacet img {
	margin-bottom: 3px;	
}
.mainfacet {
    background-color: #f5f5f5;
    margin-top: -5px;
}
.nav .dropdown .dropdown-menu {
    overflow: auto;
}

.detailBrowseFacet {
	border: 1px solid #dddddd;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
}
#browse-menu {
	margin-top:-1px;
}
.results a btn-default .glyphicon {
	color:#fff !important;
}

/* Front */

.front .jcarousel-wrapper {
	margin-top:-40px;
	margin-left: -15px;
    margin-right: -15px;
}
.front .jcarousel-control-next, .front .jcarousel-control-prev {
	background-color:transparent;
	font-size:55px;
	margin-top: -50px;
	box-shadow: 0 0 0px #999999;
    text-shadow: 0px 0px 10px #000000;
}
.front .jcarousel-control-prev {
    left: 0px !important;
}
.front .jcarousel-control-next {
    right: 0px !important;
}
.front h1 {
	font-size: 26px;
    color: #636466;
    font-weight: bold;
    text-transform: uppercase;
    padding:0px;
    text-align:center;
}
.front p {
    font-size: 16px;
    color: #777777;
    line-height: 2em;
    font-family:Lora;
    text-align:center;
}

/* Static Page */

.staticPage {
	font-size: 16px;
    color: #777777;
    line-height: 2em;
    font-family: Lora;
}

/* Detail */

.detail {
	font-size:13px;
}
.detail a {
	color: #777777;
}
.detail .detailTool {
	font-size: 14px;
    color: #777777;
    line-height: 2em;
    text-transform:none;
    font-family:Lora;
    font-weight:normal;
}
.detail .detailTool a {
	font-weight:normal;
}
.detail .detailTool span, .detail .detailTool i {
    color: #777777;
}

/* multisearch */

.multisearchFullResults a {
	font-family:montserrat;
}
.multisearchResult p {
	margin-bottom:4px;
}
.multisearchResult small {
	color:#ABABAB;
}
.multisearch .multisearchResult.objectsResult {
	background-color: #f5f5f5;
	box-shadow:none;
	width:220px;
	height:225px;
}
.multisearch #objectsResults .blockResultsScroller {
	height: 225px;
}
.multisearch #objectsBlock .blockResults {
	height: 225px;
}
.multisearchImgPlaceholder {
	padding-top:45px;
	padding-bottom:50px;
	background-color:#fff;
	border:0px;
	margin-bottom:0px;
}

/* Advanced Search */

.advancedContainer {
	margin-top:10px;
}
.advancedSearchField {
	margin-bottom:10px;
}
.advancedSearchField .formLabel {
	text-transform:uppercase;
	color:#454545;
	font-size:11px;
	font-weight:bold;
}
.advancedFormSubmit {
	margin-bottom:20px;
	margin-right:20px;
	text-align:right;
}
.advancedFormSubmit a:hover {
	text-decoration:none;
	color: #fff;
}
.advancedFormSubmit span {
	display: inline-block;
}
.advancedSearchField input, .advancedSearchField textarea, .advancedSearchField select {
	width:100% !important;
	resize:none;
	line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
    font-size: 12px;   
    padding: 5px 10px;
    color: #555555;
    height: 28px !important;
} 
.advancedSearchField select {
	height:30px;
}
div.advancedSearchField {
	width:100%;
}
.attributeListItem {
	width:100%;
}

/*Gallery*/

.gallery {
	font-size:12px;
}
small.uppercase {
	font-family:Montserrat;
}