/* background colors: charcoal #183640; dark red: #7e2036; orange: #e1913f; */
/* text colors: green: #219e86; red: #791f34; orange: #e29032; off white: #e9e3d4; */

@font-face{
	font-family:brandon-grotesque;
	src:url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype"); font-weight:400; font-style:normal; font-display:auto;
}
@font-face{
	font-family:brandon-grotesque;
	src:url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype"); font-weight:700;font-style:normal;font-display:auto;
}
@font-face{
	font-family:brandon-grotesque;
	src:url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");font-weight:300;font-style:normal;font-display:auto;
}
@font-face{
	font-family:brandon-grotesque;
	src:url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");font-weight:500;font-style:normal;font-display:auto;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto-Regular.ttf") format("truetype");
}
body{
	margin-top:160px;
	margin-bottom:0px;
	font-size: 16px;
	color: #000;
	margin-bottom:580px;
}
@media(max-width:768px){
	body{
		margin-top:91px;
	}
}
@media(min-width:768px) and (max-width:1355px){
	body{
		margin-top:195px;
	}
}
@media(max-width:991px){
	body{
		margin-bottom:650px;
	}
}
@media(max-width:768px){
	body{
		margin-bottom:830px;
	}
}
@media(max-width:508px){
	body{
		margin-bottom:880px;
	}
}
.container{
	max-width:2000px;
}
.small{
	font-size:.8em;
}
.bgOffWhiteLight{
	background-color: #fbf9f6;
}
.bgOffWhiteLight.bgPadding{
	background-color: #fbf9f6;
	padding:15px 25px 25px 25px;
}
/* notifications */
.front .notificationMessage{
    position: absolute;
    top: 75px;
    z-index: 1;
    width: 50%;
    margin-left: 25%;
}
.notificationMessage{
    width: 50%;
    margin-left: 25%;
}
@media(max-width:768px){
	.notificationMessage{
		width: 100%;
		margin-left: 0px;
	}
}

.navbar{
	background-repeat:repeat-x;
	background-color: #7e2036;
	position: fixed;
	width: 100%;
	top:0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
@media(min-width:768px){
	.navbar-nav {
		margin-top:18px;
	}
	.navbar-form {
		margin-top:28px;
	}
	.navbar-nav > li > a, .nav > li.dropdown > a.icon{
		padding-bottom:35px;
	}
}













.navbar-header .logo-wrap {
	display:flex;
	align-items:center;
	width:500px;
}

@media screen and (max-width:768px) {
	.navbar-header .logo-wrap {
		margin-top: 15px;
		margin-left:10px;
	}
}
/*
@media (min-width:970px) {
	.navbar-header .logo-wrap {
		width:50%
	}
}
*/

.navbar-header .logo-con {
	position:relative;
	margin-right:20px;
	box-shadow:0 2px 14px 0 rgba(0,0,0,.3);
	z-index:9;
	display:none;
}
@media screen and (min-width:768px) {
	.navbar-header .logo-con {
		display:block;
	}
}
@media screen and (min-width:0px) {
	.navbar-header .logo-con {
		margin-bottom:10px;
		margin-top:10px
	}
}
@media screen and (min-width:750px) {
	.navbar-header .logo-con {
		margin-bottom:-7px;
		margin-top:0
	}
}
.navbar-header .logo-con:before {
	position:absolute;
	content:"";
	background:#fff;
	top:90px;
	right:0;
	bottom:-5px;
	left:0;
	transform:skewY(-7deg)
}
@media screen and (min-width:0px) {
	.navbar-header .logo-con:before {
		display:none
	}
}
@media screen and (min-width:750px) {
	.navbar-header .logo-con:before {
		display:block
	}
}
.navbar-header .logo {
	width:100px;
	height:auto;
	background:#fff;
	padding:15px
}

@media (max-width:767px) {
	.navbar-header .logo-title {
		/*display:none*/
		width: 250px;
		height:auto;
	}
	.navbar-header .logo-wrap{
		width:250px;
	}
}

@media(max-width:750px){
	header.navigation .logo-con {
		margin-bottom: -7px;
		margin-top: 0;
	}
}
header.navigation .logo-con {
    margin-bottom: 10px;
    margin-top: 10px;
}
header.navigation .navbar-brand-logo {
    position: relative;
    margin-right: 20px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.3);
    z-index: 9;
}
.archiveSubTitle{
	color: #e29032;
	background-color: #183640;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	
	font-size: 25px;
	text-transform: uppercase;
	font-family: brandon-grotesque,sans-serif;
	font-weight: 400;
	letter-spacing: 4px;
}
@media (max-width:767px) {
	.archiveSubTitle {
		padding-top:5px;
		padding-bottom:5px;
	
		font-size: 15px;
		letter-spacing: 3px;
	}
}
.navbar-toggle-user {
    padding: 6px 10px 3px 10px;
}











.navbar .formOutline{
	background-color:#FFF;
	border-color:#FFF;
	border-radius: 0px;
	box-shadow:none;
}
.nav > li > a {
    padding-left: 13px;
    padding-right: 13px;
}
.navbar-default .navbar-nav > li > a, .navbar-nav .dropdown-menu > li > a {
    color: #FFFFFF;
}
.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav .dropdown-menu > li > a {
    text-shadow:none;
    text-transform:uppercase;
    font-family: brandon-grotesque, sans-serif;
	letter-spacing:3px;
	font-size:20px;
}
.dropdown-menu{
	min-width: 100%;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-nav .dropdown-menu > li > a:hover {
    background-color: #7e2036;
	color:#e1913f;
    font-family: brandon-grotesque, sans-serif;
}
.navbar-default .navbar-nav > .dropdown > a .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret  {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown.open > a .caret, .navbar-default .navbar-nav > .dropdown.active > a .caret, .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown.active > a:focus .caret {
    border-top-color: #e1913f;
    border-bottom-color: #e1913f;
}
.navbar-default .navbar-nav .dropdown-menu{
	background-color: #7e2036;
	border:0px;
}
.navbar-collapse{
	max-height:500px;
}
@media(min-width:768px){
	.navbar-default .navbar-nav > li{
		text-align:right;
	}
}
@media(max-width:767px){
	.navbar-form{
		margin-left:5px;
		margin-right:5px;
	}
	.navbar-nav {
		margin: 7.5px 0px 7.5px 0px;
	}
	.container > .navbar-collapse {
		margin-right: -30px;
		margin-left: -30px;
	}
	.navbar-nav .dropdown-menu > li > a {
		text-align:left;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color:#FFF;
		text-transform:capitalize;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
		color:#dedede;
	}
	.navbar-nav .open .dropdown-menu{
		background-color: rgba(0, 0, 0, 0.3);
	}
}
.navbar-form{
	-webkit-box-shadow:none;
	box-shadow:none;
}

@media(min-width: 768px) and (max-width: 1355px) {
	ul.menuItems {
		width:100%;
		border-top: 1px solid #fff;
		left: 120px;
		margin-top: 0px;
		position: relative !important;
	}
	.navbar-collapse ul.menuItems li:first-child > a.dropdown-toggle {
		padding-left:0px;
	}
	.menuItems.navbar-nav > li > a {
		padding-top:5px;
		padding-bottom:5px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right:0px;
	}
	.container.menuBar {
		padding:0px;
	}
	.navbar-collapse ul.menuItems li:first-child > .dropdown-menu{
		left:0;
		right:auto;
	}
}
.navbar-collapse .dropdown-header{
	color:#FFF;
}
H1, h1, h2, H2, H3, h3{
	color:#333;
	font-family: brandon-grotesque,sans-serif;
}
a, a:hover{
	color:#757575;
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .detail .btn-default, .detail .btn-default:hover, .detail .btn-default:focus, .detail .btn-default:active {
	background-color:#454545;
	color:#FFF;
}
.btn-default:hover{
	background-color:#000;
	color:#FFF;
}
.btn-default{
	text-decoration:none !Important;
}

/* footer */
#footer{
	background-color: #183640;
	color:#ffffff;
	padding-top:38px;
	padding-bottom:60px;
	border:0px;
    font-family: Roboto, serif;
	font-weight:normal;
	text-transform:none;
	line-height:1.34em;
	min-height:433px;
	height:auto;
	font-size:14px;
	display:block;
	margin-top:50px;
}
#footer .logoCol{
	margin-bottom:41px;
}
#footer .addressCol{
	margin-bottom:35px;
}
#footer .container{
	max-width:1310px;
}
#footer a{
	color:#ffffff;
	font-size:14px;
	text-decoration:none;
	text-transform:none;
}
#footer a img{
	text-decoration:none;
	max-width:100%;
	height:auto;
}
#footer H2{
	border-bottom: 1px solid #e1913f;
	text-transform:uppercase;
	font-weight:bold;
	font-family: brandon-grotesque,sans-serif;
	color:#FFF;
	padding-bottom:5px;
	letter-spacing: .03125rem;
	font-size:15.4px;
	margin-top:4px;
	margin-bottom:13px;
}
#footer .learnLinks{
	float:left;
	width:30%;
}
#footer .learnLinks a{
	line-height: 1.7em;
}

#footer .daySchool{
	float: left;
	width: 70%;
    text-align:right;
}
#footer .daySchool .weekdaySchool{
    padding-right: 20px;
    vertical-align: top;
}
#footer .social-con{
	font-family: brandon-grotesque, sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform:uppercase;
	text-align:center;
	margin-top:65px;
	padding-left:10px;
}
#footer .social-con a{
	padding-left:10px;
}
#footer a.social-icon first{
	padding-left:15px;
}
@media(min-width:1280px){
	#footer{
		font-size:18px;
	}
	#footer a{
		font-size:18px;
	}
	#footer H2{
		font-size:20px;
	}
}
@media(max-width:768px){
	#footer .daySchool, #footer .learnLinks{
		float:none;
		width:100%;
		padding-top:30px;
	}
	#footer .daySchool{
		text-align:center;
	}
}


/* forms */
.form-control:focus {
	border-color: #000;
}
.attributeListItem{
	width:100%;
}
/*
#gallerySetInfo .caption{
	display:none;
}
*/

#pageArea{
	padding-top:20px;
}
#pageArea.front{
	padding-top:0px;
}





/* front */
html.frontContainer {
    height: 100%;
    padding:0px -15px 0px -15px;
}
body.frontContainer {
	margin-bottom:0px;
	height: 100%;
}
body.frontContainer #footer{
	position:relative;
	margin-top:-20px;
}

.parallax {
	position:relative;
    background-image: url("../graphics/hero_1.jpg");

    /* Full height */
    /*height: 100%;*/
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center -210px;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-left: -15px;
	margin-right: -15px;
}
.parallax.hero1 {
    background-image: url("../graphics/hero_1.jpg");
}
.parallax.hero2 {
    background-image: url("../graphics/hero_3.jpg");
}
.parallax.hero3 {
    background-image: url("../graphics/hero_4.jpg");
}
@media(max-width:420px), (max-height:420px){
	/*.heroSearch H1{
		font-size:50px;
	}*/
	.front .heroSearch .form-group{
		width:300px;
	}
	.hpIntro .callout b{
		font-size:40px;
	}
	.hpIntro .callout, .hpIntro .callout i{
		font-size:24px;
	}
}
.front .heroSearch {
	position:relative;
	text-align:center;
	color:#FFF;
	margin-top: 23vh;
	padding-top:50px;
	padding-bottom:50px;
	font-size:28px;
	text-shadow: 0px 0px 3px #000000;
	font-family: brandon-grotesque,sans-serif;
	background-color: #183640;
	background-color: rgb(24, 54, 64, .9);
	box-shadow:0 2px 14px 0 rgba(0,0,0,.3);
}
@media(max-width:1024px){
	.parallax .heroSearch{
		margin-top: 17vh;
	}
}
@media(max-width:768px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
@media(max-height:420px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
.parallax {
    background-position: center center;
}

@media (max-device-width:1024px){
	/* ipad and mobile disable background-attachment: fixed; fallback to no parallax so at least see image */
	.parallax {
		background-attachment: scroll;
	}
}
#hpScrollBar{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: rgba(227, 230, 232, 0.3);
	color:#183640;
	text-align:center;
	font-size:30px;
	padding:10px 0px 10px 0px;
	opacity:.8;
}



.heroSearch H1{
	font-family: brandon-grotesque,sans-serif;
	color: #e9e3d4;
	text-align: center;
	line-height: 1.1em;
	margin:0px;
	padding:0px 15px 0px 15px;
}
.heroSearch H1 .line1{
	font-size: 28px;
	text-transform:none;
}
.heroSearch H1 .line2{
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 7px;
	text-transform:uppercase;
	padding-top:20px;
	padding-bottom:20px;
}
.heroSearch H1 .line3{
	padding-bottom:10px;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 7px;
	text-transform:uppercase;
	color:#e29032;
}
.heroSearch .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
    margin-top:30px;
}
.front .heroSearch .formOutline{
	display: inline-block;
	background-color:#FFF;
}
.front .heroSearch .form-group {	
    width: 400px;
    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.front .heroSearch .form-control, .front .heroSearch .form-control:focus{
	border:0px;
	box-shadow:none;
	font-size:18px;
	height:44px;
}
#heroSearchButton{
	color:#000;
	font-size: 20px;
}

@media(max-width: 1355px) {
	.heroSearch H1 .line1 {
		font-size:24px;
	}
	.heroSearch H1 .line2, .heroSearch H1 .line3 {
		font-size:30px;
	}
}

@media(max-width: 550px) {
	.heroSearch H1 .line1 {
		font-size:20px;
	}
	.heroSearch H1 .line2, .heroSearch H1 .line3 {
		font-size:25px;
	}
	.heroSearch H1 .line2 {	
		padding-top:10px;
		padding-bottom:15px;
		line-height: 1.3em;
	}
	.front .heroSearch .form-group {
		width: 80%;
	}
}








.front{
	margin-top:-25px;
}
.front H2.frontSubHeading{
	font-family: brandon-grotesque,sans-serif;
	margin-top:60px;	
	font-size: 30px;
	letter-spacing: .42px;
	color: #183640;
	text-transform: uppercase;
	font-weight:700;
}
.front .bgOffWhite{
	background-color: #fbf9f6;
	margin-left:-15px;
	margin-right:-15px;
}
.hpIntro{
	background-color:#FFF;
	position:relative;
	z-index:1;
}
.hpIntro .callout{
	text-align:center;
	font-family: brandon-grotesque,sans-serif;
	font-size: 35px;
	color: #183640;
	font-weight:400;
	margin:150px 0px 150px 0px;	
}
.hpIntro a{
	text-decoration:underline;
}
@media(max-width: 768px) {
	.hpIntro .callout {
		font-size:24px;
		margin:100px 0px 100px 0px;
	}
	.front H2.frontSubHeading{
		font-size: 24px;
	}
}






.hpBgImgObjects{
	background-image: url('../graphics/objects.jpg');	
}
.hpBgImgPeople{
	background-image: url('../graphics/people.jpg');	
}
.hpBgImgEvents{
	background-image: url('../graphics/events.jpg');	
}
.hpBgImgResources{
	background-image: url('../graphics/resources.jpg');	
}
.hpBgImgCollections{
	background-image: url('../graphics/collections.jpg');	
}
.hpBgImgGallery{
	background-image: url('../graphics/gallery.jpg');	
}
.blog-index .posts-con {
 display:flex;
 flex-wrap:wrap;
 justify-content:space-between;
 margin-bottom:40px;
 margin-top:45px
}
.blog-index .indiv-blog {
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 margin-bottom:45px;
 box-shadow:0 2px 14px 0 rgba(0,0,0,.3);
 transition:transform .25s ease
}
.blog-index .indiv-blog:hover {
	text-decoration:none;
}
@media screen and (min-width:0px) {
 .blog-index .indiv-blog {
  width:90%;
  margin-left:auto;
  margin-right:auto
 }
}
@media screen and (min-width:750px) {
 .blog-index .indiv-blog {
  width:48%;
  margin-left:0;
  margin-right:0
 }
}
@media screen and (min-width:1280px) {
 .blog-index .indiv-blog {
  width:28%
 }
}
.blog-index .indiv-blog:hover .fig-text-btn:after {
 right:-5px
}
.blog-index .post-image {
 height:240px;
 background-size:cover;
 background-repeat:no-repeat;
 background-position:50%
}
.blog-index .post-details {
 display:flex;
 align-items:flex-start;
 flex:1;
 flex-direction:column;
 padding:15px 13px 22px;
 background-color:#fff
}
.blog-index .post-title {
 font-size:20px;
 line-height:28px;
 color:#791f34;
 text-transform:uppercase;
 margin-bottom:6px;
 font-family: brandon-grotesque,sans-serif;
 font-weight:600;
 letter-spacing: .03125em;
}
.blog-index .post-title a {
 font-size:20px;
 line-height:28px;
 color:#791f34;
 text-transform:uppercase;
 font-family: brandon-grotesque,sans-serif;
 font-weight:600;
 letter-spacing: .03125em;
}
.blog-index .post-title a:hover {
	text-decoration:none;
}
.blog-index .post-excerpt {
/* font-family:Roboto,sans-serif; */
 font-family:Lato,sans-serif;
 color:#183640;
 margin-bottom:14px
 font-size:16px;
}
@media screen and (min-width:0px) {
 .blog-index .post-excerpt {
  font-size:.875em;
  line-height:1.3125em;
  letter-spacing:0
 }
}
@media screen and (min-width:400px) {
 .blog-index .post-excerpt {
  font-size:.875em;
  line-height:1.3125em;
  letter-spacing:0
 }
}
@media screen and (min-width:750px) {
 .blog-index .post-excerpt {
  font-size:.875em;
  line-height:1.3125em;
  letter-spacing:0
 }
}
@media screen and (min-width:1280px) {
 .blog-index .post-excerpt {
  font-size:1em;
  line-height:1.375em;
  letter-spacing:0
 }
}
.blog-index .fig-text-btn {
 font-family:brandon-grotesque,sans-serif;
 font-weight:700;
 font-size:18px;
 line-height:18px;
 letter-spacing:1px;
 color:#e1913f;
 text-transform:uppercase;
 text-decoration:none;
 position:relative;
 padding-right:15px
}
.blog-index .fig-text-btn:after {
 content:"\F105";
 font-family:FontAwesome;
 position:absolute;
 right:0;
 top:44%;
 transform:translateY(-50%);
 transition:right .3s ease
}
.blog-index .btn-con {
 text-align:center
}
.blog-index .fig-btn {
 background:#e1913f;
 color:#fff;
 border:1px solid #e1913f;
 border-bottom:3px solid #d37c24;
 text-transform:uppercase;
 margin:0
}
.blog-index .fig-btn:hover {
 background:#b47432
}

/* BROWSE */
@media(min-width:768px){
	#pageArea.results.objects #setsSelectMultiple {
		margin-top: -80px;
	}
	#pageArea.results.events #setsSelectMultiple {
		margin-top: -19px;
	}
}
.bCriteria .btn {
	margin:0px 0px 5px 0px;
	display:block;
	width:100%;
}
a.browseRemoveFacet .glyphicon {
    color: #333 !important;
}
.bCriteria .btn{
	color:#333;
	background-color:#FFF;
}
.bCriteria .btn:hover, .bCriteria .btn-default:hover, .bCriteria button:hover{
	text-decoration:none !important;
	border-color:#FFF !important;
}
/*
.facetGroup.panel {
	width:250%;
	border: 1px solid #e5e5e5;
	min-height:250px;
	max-height:400px;
	overflow:hidden
}
.facetGroup.panel .container {
	overflow-y:auto;
}
#bRefine .open .dropdown-toggle.btn-default, #bRefine .dropdown-toggle.btn-default {
	background-color:transparent;
	border-bottom:1px solid #fff;
	border-radius:0px;
	margin-left:0px;
}
#bRefine .open .dropdown-toggle.btn-default {
	font-weight:800;
	border-bottom:1px solid #333;
}
*/
#bRefine H2{
	color:#333;
	font-size:20px;
}
#bRefine H3[type="button"]{
	cursor: pointer;
	color:#666;
}
#bRefine a{
	font-size:14px;
	color:#333333;
}
#bRefine hr {
	margin-bottom:0px;
}
#bRefine .facetGroup li .facetItem {
    margin-bottom: 12px;
}
#bRefine .row, #bRefine .container {
	margin-bottom:0px;
}
#bRefine .row {
	max-height:250px;
	overflow-y:auto;
	margin-bottom:10px;
}
#bRefine.fixed {
	padding-top:160px;
}
/*
#bRefine  #bHierarchyList_place_facet {
	width:100%;
	padding-left: 15px;
}
#bRefine li .hierarchicalList .facetItem {
	margin-bottom: 22px;
}
#facetGroupplace_facet h1 {
	display:none;
}
#bAncestorList {
	font-weight:bold;
	clear:both;
}
.bScrollListHierarchy {
	clear:left;
}
#bAncestorList {
	position:absolute;
	height:20px;
	background-color:#fff;
	width:100%;
	top: 40px;
}
*/
.facetItem .glyphicon-chevron-down {
	font-size:10px;
}
.facetContainer{
	position:relative;
	padding-bottom:20px;
}
#bRefine .facetItem {
	padding-left:20px; 
	margin-bottom:10px;
}
#bRefine .facetItem[facet_item_selected="1"] {
	padding-left:20px;
}
[facet_item_selected="1"]::before {
	font-family: FontAwesome;
	content: "\f067"; 
	padding-right:6px;
	position:absolute;
	left:7px;
	top:4px;
	font-size:11px;
}
.facetApply {
	clear:both;
	right:15px;
	display:block;
	text-align: center;
    margin-top: 20px;

}
a.facetApply {
    background-color: #ddd;
    color: #333;
    font-size: 13px;
    border-radius: 3px;
    width:50px;
    padding-top:4px;
    padding-bottom:4px;
    margin-left: auto;
    margin-right: auto; 
    position:absolute;
    bottom:0px;
    left:0px;
}
/* search within */
@media(max-width:768px){
	#bViewButtons {
    	text-align: left;
    }
}
.results .bSearchWithinContainer{
	clear:both;
	margin-top:15px;
	margin-bottom:10px;
}
.results .btn-search-refine{	
	float: left;
	font-size: 18px;
	padding-top: 0px 0px 0px 0px;
	width: 26px;
	text-align: left;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border: 0px;
}
.results .btn-search-refine .glyphicon{
	margin-top:5px;
}
.bSearchWithin, .bSearchWithin:focus {
    float: left;
    width: 80%;
    box-shadow: none;
    border: 0px;
    border-bottom: 1px solid #989697;
    border-radius: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 0px;
    height: 30px;
    font-size: 14px;
    line-height: 26px;
    background-color: transparent;
    margin: 0px 0px 0px 10px;
    font-size: 15px;
}
.advancedSearchLink{
	font-size:12px;
	padding-left:35px;
	padding-bottom:10px;
}
/* image results */
.resultItemColImg, .resultItemColList{
	margin-bottom:30px;
}
.resultContentImg, .resultContentList{
	padding:10px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
.resultContentImg:hover, .resultContentList:hover{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.6);
}
.resultImageImg{
	height:240px;
	text-align: center;
}
.resultImageImg img{
	object-fit:contain;
	width:100%;
	height:240px;
}
.resultImageList {
	float:left;
	margin-right:15px;
	
	height:72px;
}
.resultImageList img{
	object-fit:contain;
	width:72px;
	height:72px;
}
.resultTextImg, .resultTextList{
	margin-top:10px;
	line-height:1.2em;
	height:4.8em;
	-webkit-line-clamp:4;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	overflow:hidden;
	margin-right:16px;
	color: #000;
	font-size:14px
}
.resultTextList {
	color: #000;
	font-size:18px;
	height:3.6em;
}
.resultTextImg small, .resultTextList small {
    color: #777;
}



/* multisearch */
.multisearch .objectsResult img{
	object-fit:contain;
	width:100%;
	height:120px;
}
.multisearchObjectImg{
	text-align:center;
	margin-bottom:3px;
}
.multisearch .multisearchResult {
    line-height: 1.1em;
    font-size: 13px;
	height:155px;
}
.objects .multisearchResult {
    width: 200px;
    height: 220px;
}
.objects .blockResultsScroller {
    height: 245px;
}
.multisearch .objects.blockResults {
    height: 235px;
}
.multisearch .authoritySet a {
    font-size: 14px;
}
.multisearch .authorityResult {
    height: 50px;
}
.multisearch .blockResultsScroller {
    height: 185px;
}
.multisearch .objects .scrollButtonNext, .multisearch .objects .scrollButtonPrevious {
    height: 225px;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious{
	height:165px;
}
.multisearchImgPlaceholder{
	margin-bottom:0px;
}

/* detail */
.detail .detailNavBgLeft, .detail .detailNavBgRight{
	background-color:#FFFFFF;
}
.detail .detailNavBgLeft a, .detail .detailNavBgRight a, .detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small{
	color:#454545;
}
.detail, .detail label{
	font-size:14px;
}
.detail h1{
	font-size:20px;
}
.detail .bgOffWhiteLight{
	margin-top:20px;
	margin-bottom:20px;
}
.inquireButton{
	margin-bottom:20px;
	margin-top:10px;
}
@media(min-width:992px){
	.inquireButton{
		float:right;
		margin-top:0px;
	}
}
.entityImage{
	margin:10px 0px 10px 0px;
}
.entityImage img{
	width:100%;
	height:auto;
}
.detailImgPlaceholder{
	background-color: #f7f7f7;
	color: #858585;
	padding: 75px 5px 70px;
	text-align: center;
	width: 100%;
	font-size:48px;
	margin-bottom:25px;
}
.detail a{
	text-decoration:underline;
}


.recording.detail .detailMediaToolbar{
	display:none !important;
}
/* IE styles to fix object fit not being supported - sigh - for IE 9 and above */
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    /* IE9+ CSS to fix object-fit not being supported.*/
    .resultImageImg img{
		object-fit:none;
		width: 65%;
		height: auto;
	}
	.resultImageImg{
		overflow:hidden;
	}
	.resultImageList img{
		object-fit:none;
		width:auto;
		height:72px;
	}
	.resultItemDetailExtended .resultImageList img{
		object-fit:none;
		width: 65%;
		height: auto;
	}
	.resultItemDetailExtended .resultImageList {
		text-align:center;
	}
	.multisearch .objectsResult img{
		object-fit:none;
		width:35%;
		height:auto;
	}
	/*.detail .repViewerCont img {
    	width: 40%;
   		height: auto;
   		object-fit:none;
   	}
	.detail .repViewerCont  {
    	text-align: center;
   	}*/
}

/* collection landing */
.collectionTile .collectionImg img{
	width:100%;
	height:auto;
}
.collectionTile .title a {
    text-decoration: none;
    font-size: 15px;
    font-family: brandon-grotesque,sans-serif;
    text-transform: uppercase;
}
#collectionLoad .collectionType{
	font-family: Lato;
	font-weight:normal;
	color:#757575;
	font-size:.9em;
}
#collectionLoad div a, #collectionLoad div .nonLinkedCollection {
    font-size: 14px;
    color: #000;
}

/* gallery */
.tl-timeline {
    font-family: Lato !important;
}

/* about pages */
.staticPage H1{
    margin-bottom: 25px;
}
.staticPage img{
	max-width:50%;
	height:auto;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.staticPage{
	line-height: 1.6em;
}
.staticPage a{
    text-decoration:underline;
}
.staticPage .btn-default{
    text-decoration:none;
}
.staticPage .policyFileLinks .btn-default{
	margin: 10px 10px 0px 0px;
}