@font-face {
  font-family: 'Balance';
  src: url('fonts/Balance-LightItalic.otf'); /* IE9 Compat Modes */
  src: url('fonts/Balance-LightItalic.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  font-style:italic;
  font-weight:normal;
}
@font-face {
  font-family: 'Balance';
  src: url('fonts/Balance-Light.otf'); /* IE9 Compat Modes */
  src: url('fonts/Balance-Light.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	font-style:normal;
	font-weight:normal;
}
@font-face {
  font-family: 'Balance';
  src: url('fonts/Balance-Italic.otf'); /* IE9 Compat Modes */
  src: url('fonts/Balance-Italic.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  font-style:italic;
  font-weight:bold;
}
@font-face {
  font-family: 'Balance';
  src: url('fonts/Balance-Regular.otf'); /* IE9 Compat Modes */
  src: url('fonts/Balance-Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  font-style:normal;
  font-weight:bold;
}

body {
	font-family:Balance;
	font-style:normal;
	line-height:1.5em;
}
h1, h2, h3, h4, h5, h6 {
	font-family:Balance;
}
h1 {
	color:#454545;
}
h2 {
	color: #454545;
	font-weight:bold;
	font-size:20px;
}
h6 {
	font-size:13px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:10px;
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color:#ccc;
}
a, a:hover, a:active, a:focus, a.readmore-js-toggle {
	color: #858585;
}
.nav > li > a{
	font-family:Balance;
	font-weight:bold;
	padding-top:20px;
}
.nav > li.dropdown > a.icon {
	padding-top:20px;
}
.nav > li > a:hover, .nav > li > a:focus {
	font-family:Balance;
	font-weight:bold;
}
.navbar-default .navbar-nav > li > a {
	color:#888;
	font-size:14px;
}
.navbar .formOutline {
	border:0px;
	box-shadow:none;
	-webkit-transition: none;
	border-radius:0;
	background-color:#ddd;
}
.navbar .formOutline .btn-search {
	background-color:transparent;
	color:#444;
	padding-top:9px;
}
.navbar-brand {
	padding-top:13px;
}
.navbar .form-control {
	height:45px;
	font-size:16px;
}
.searchForm {
	margin-bottom:40px;
	margin-top:20px;
}
.searchForm .navbar-form {
	padding-left:0px;
}
.searchForm .navbar-form .form-control {
	border:0px;
	box-shadow:none;
	background-color:transparent;
}
.searchForm .navbar-form .formOutline {
    display: inline-block;
    background-color: #ddd;
}
.searchForm .btn-search {
	background-color:transparent;
	padding-top:9px;
}

/*Collections */

#collectionLoad .collectionPreview img{
	width:100%;
	height:auto;
	margin-bottom:5px;
}
#collectionLoad .collectionPreview {
	font-size:12px;
	margin-bottom:10px;
}	
.detail #collectionLoad .label a{
	padding-left:0px;
	color:#000;
}
#collectionLoad .label {
    padding-left: 20px;
}
#collectionLoad .label small {
	color: #999;
}
.collectionTitle {
	background-color: #f5f5f5;
    padding: 15px;
}
.collectionTitle a{
	color:#666;
}
.collectionTitle small {
	padding-left:10px;
}
#collectionLoad div {
	margin-bottom:20px;
}
.detail .row.first {
	padding-top:15px;
}
#collectionLoad {
	height:600px;
}
#collectionLoad div a, #collectionLoad div .nonLinkedCollection {
	font-size:14px;
}
#collectionLoad div.row a, #collectionLoad div.row .nonLinkedCollection {
	font-size:12px;
}
#collectionLoad {
    float: left;
    padding: 20px 20px 10px 20px;
    height: 600px;
    overflow-y: scroll;
    border-left: 2px solid #454545;
}
#collectionLoad .label a {
    font-size: 16px;
}
.collectionsContainer .active small {
    color: #fff;
}
.collectionImage img {
	width:100%;
	height:auto;
}

/* Collection Landing */


.leadImg {
	margin-top:-20px;
	margin-bottom:20px;
}
.leadImg img {
	width:100%;
	height:auto;
}
.browseButton {
	 color:#fff;
	 background-color:#ddd;
	 padding:10px;
	 margin-bottom:4px;
}
.browseButton a {
	color: #454545;
}

/* Search */

.attributeListItem {
	width:100%;
}
.objects .multisearchResult {
	width:240px;
	height: 225px;
}
.multisearch .objects.blockResults {
    height: 250px;
}
.multisearch .multisearchResult img {
	margin-bottom:10px;
}


/* About Page */

.bodytext {
	margin-top:15px;
}

/* Detail */

.relatedInfo {
	margin-top:25px;
}
.related {
	margin-bottom:10px;
}
.detail p {
	margin-bottom:0px;
}
.relatedInfo h6 {
	margin-top:30px;
	margin-bottom:10px;
}
.relatedObj {
	margin-bottom:20px;
}

/* Browse */

.searchWithin input{
	width:80%;
	float:left;
	border:0px;
	box-shadow:none;
}	
.searchWithin {
	border:2px solid #ccc;
	margin-left:15px;
	margin-right:15px;
	padding-bottom:2px;
	margin-bottom:15px;
}
.searchWithin .btn-search {
	margin-top:2px;
	padding-bottom:3px;
}
.customPlaceholder {
	background-image:url('../graphics/placeholder.png');
	background-size:50%;
	display:block;
	height:100%;
	width:100%;
	background-repeat:no-repeat;
	background-position: center; 
	z-index:100;
	min-height:180px;
}
.bResultItemImgPlaceholder {
	border:0px;
	padding:0px;
	min-height:180px;
}