html{
	scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #e7ddcb;
  font-family: 'constantia', serif;
  color: #2c3233;
  position: relative;
}
.loader {
  background-color: #eeebe3;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  color: #fff;
  font-size: 100px;
}
/***********************************************
******************   COLORS   ******************
***********************************************/
/***********************************************
*******************   FONTS   ******************
***********************************************/
@font-face {
  font-family: 'Constantia';
  src: url('fonts/constan.ttf');
}
@font-face {
  font-family: 'Constantia Bold';
  src: url('fonts/constanb.ttf');
}
@font-face {
  font-family: 'Constantia Italic';
  src: url('fonts/constani.ttf');
}
p {
  font-size: 18px;
  line-height: 1.7em;
}
p:first-child:first-letter {
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.1em 0.2em 0.1em 0;
  color: #804639;
}
p a {
  color: #804639;
  text-decoration: none;
}
a.no-click {
  pointer-events: none;
}
ol.footnotes {
  counter-reset: list;
  padding: 0;
  margin-top: 40px;
}
ol.footnotes li {
  margin-bottom: 15px;
  list-style: none;
  font-size: 13px;
  line-height: 1.4em;
  opacity: 0.7;
}
ol.footnotes li:before {
  content: "[" counter(list) "] ";
  counter-increment: list;
}
ol.footnotes li:last-child {
  margin-bottom: 0;
}
ol.footnotes li:hover {
  opacity: 1;
}
body.big_text p {
  font-size: 21px;
}
body.big_text ol.footnotes {
  counter-reset: list;
  padding: 0;
  margin-top: 40px;
}
body.big_text ol.footnotes li {
  font-size: 15px;
}
body.big_text table#sortable_table {
  font-size: 20px;
}
@media only screen and (max-width: 700px) {
  p {
    font-size: 16px;
  }
  p:first-child:first-letter {
    font-size: 4rem;
    margin: 0.1em 0.2em 0.05em 0;
  }
  body.big_text p {
    font-size: 19px;
  }
  body.big_text ol.footnotes li {
    font-size: 15px;
  }
}
/***********************************************
******************   HEADER   ******************
***********************************************/
@keyframes to_brown {
  from {
    background-color: transparent;
  }
  to {
    background-color: #804639;
  }
}
header {
  text-align: center;
  padding-top: 40px;
  background-color: transparent;
  z-index: 9;
}
header .search_icon {
  display: none;
}
header .logo_full {
  width: 920px;
}
header .logo_short {
  display: none;
}
header ul {
  list-style: none;
  padding: 0;
}
header ul li {
  display: inline-block;
  vertical-align: top;
}
header ul li a {
  font-family: 'constantia', serif;
  color: #804639;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}
header ul li a:hover {
  border-color: #804639;
}
header ul li.wide_submenu {
  max-width: 160px;
}
header ul li ul.sub_menu {
  border-left: 1px solid #804639;
  padding: 0 0 0 20px;
  height: auto;
  max-height: 0;
  overflow: hidden;
  position: relative;
  left: 80px;
  bottom: -20px;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
header ul li ul.sub_menu li {
  display: block;
  text-align: left;
  padding: 6px 0;
}
header ul li ul.sub_menu li a {
  white-space: nowrap;
}
header ul li ul.sub_menu li:before {
  display: none;
}
header ul li:hover ul.sub_menu {
  max-height: 400px;
  overflow: visible;
  padding: 10px 0 10px 20px;
}
header ul li:before {
  display: inline-block;
  content: ' ';
  background-image: url('../graphics/menu_ornament.svg');
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  margin: 0 25px -2px 25px;
}
header ul li:first-child:before {
  display: none;
}
header .font_size {
  display: none;
}
body.fixed {
  padding-top: 111px;
}
body.fixed header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  animation: to_brown 0.5s forwards;
}
body.fixed header .search_icon {
  display: inline-block;
  position: absolute;
  left: -8px;
  top: 14px;
  width: 100px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
body.fixed header .search_icon:hover {
  left: 0;
}
body.fixed header .width {
  width: 1080px;
  margin: 0 auto;
  text-align: left;
}
body.fixed header .width .logo_full {
  display: none;
}
body.fixed header .width .logo_short {
  display: inline-block;
  width: 170px;
  text-align: left;
  margin-bottom: -6px;
}
body.fixed header .width ul {
  float: right;
  margin: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
body.fixed header .width ul li {
  position: relative;
}
body.fixed header .width ul li a {
  color: #fff;
}
body.fixed header .width ul li ul.sub_menu {
  position: absolute;
  border-left: none;
  padding: 0 30px 0 30px;
  background-color: #804639;
  left: 23px;
  bottom: initial;
}
body.fixed header .width ul li ul.sub_menu li {
  display: block;
  text-align: left;
  padding: 10px 0 0 20px;
  border-left: 1px solid #eeebe3;
}
body.fixed header .width ul li ul.sub_menu li a {
  color: #eeebe3;
}
body.fixed header .width ul li ul.sub_menu li:before {
  display: none;
}
body.fixed header .width ul li:hover ul.sub_menu {
  max-height: 400px;
  padding: 10px 30px 26px 30px;
}
body.fixed header .width ul li:before {
  background-image: url('../graphics/menu_ornament_light.svg');
  margin: 0 15px -2px 15px;
}
body.fixed header .font_size {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: 'constantia', serif;
  color: #eeebe3;
  border-bottom: 1.5px solid transparent;
  padding-bottom: 3px;
}
body.fixed header .font_size .font {
  padding: 0 2px;
  cursor: pointer;
}
body.fixed header .font_size .font.normal {
  font-size: 14px;
  display: inline-block;
}
body.fixed header .font_size .font.big {
  font-size: 19px;
  display: inline-block;
}
body.fixed header .font_size .font.active {
  border-bottom: 1.5px solid #eeebe3;
}
body.fixed header .burger {
  display: none;
  position: absolute;
  top: 45px;
  right: 21px;
  vertical-align: middle;
  margin: -23px 0 0 7px;
  width: 32px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 9;
}
body.fixed header .burger span {
  display: block;
  position: absolute;
  height: 2px;
  border-radius: 0px;
  width: 100%;
  background: #eeebe3;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
body.fixed header .burger span:nth-child(1) {
  top: 0px;
}
body.fixed header .burger span:nth-child(2),
body.fixed header .burger span:nth-child(3) {
  top: 10px;
}
body.fixed header .burger span:nth-child(4) {
  top: 20px;
}
body.fixed header .burger.open {
  width: 30px;
}
body.fixed header .burger.open span {
  background: #eeebe3 !important;
}
body.fixed header .burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
body.fixed header .burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
body.fixed header .burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body.fixed header .burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
@media only screen and (max-width: 1050px) {
  body.fixed {
    padding-top: 80px;
  }
  body.fixed header .width {
    width: calc(100% - 240px);
    text-align: center;
  }
  body.fixed header .width ul {
    float: none;
    padding: 60px 60px 60px 30px;
    width: calc(350px - 90px);
    height: calc(100vh - 120px);
    background-color: #804639;
    position: fixed;
    top: 0;
    right: -350px;
    text-align: left;
    overflow-y: auto;
  }
  body.fixed header .width ul li {
    display: block;
    padding: 5px 0;
  }
  body.fixed header .width ul li ul.sub_menu {
    position: relative;
    max-height: none;
    height: auto;
    padding: 10px 0 0 30px;
  }
  body.fixed header .width ul li ul.sub_menu li {
    padding: 10px 0 0 10px;
  }
  body.fixed header .width ul li ul.sub_menu li a {
    color: #eeebe3;
  }
  body.fixed header .width ul li:hover ul.sub_menu {
    padding: 10px 0 0 30px;
    max-height: none;
  }
  body.fixed header .width ul li:before,
  body.fixed header .width ul li:first-child:before {
    display: inline-block;
    background-image: url('../graphics/menu_ornament_light.svg');
    margin: 0 15px -2px 15px;
  }
  body.fixed header .width ul.show {
    right: 0;
  }
  body.fixed header .font_size {
    right: 80px;
  }
  body.fixed header .burger {
    display: inline-block;
  }
}
@media only screen and (max-width: 700px) {
  body.fixed {
    padding-top: 70px;
  }
  body.fixed header {
    text-align: left;
  }
  body.fixed header .search_icon {
    display: none;
  }
  body.fixed header .width {
    width: auto;
    display: inline-block;
    text-align: left;
    margin: 0 0 0 30px;
  }
  body.fixed header .width ul {
    padding: 60px 40px 60px 30px;
    width: calc(100% - 50px);
    right: -110vw;
    overflow-y: auto;
  }
  body.fixed header .width ul li.wide_submenu {
    max-width: none;
  }
  body.fixed header .width ul li ul.sub_menu {
    width: calc(100% - 50px);
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
  }
  body.fixed header .width ul li ul.sub_menu a {
    white-space: normal;
  }
}
/***********************************************
**************   SITE BACKGROUND   *************
***********************************************/
#site_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  min-height: 100vh;
  background-color: #eeebe3;
}
#site_bg .img_overlay {
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
/***********************************************
*******************   SEARCH   *****************
***********************************************/
.search_overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eeebe3;
  z-index: -3;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.search_overlay.show {
  z-index: 9;
  opacity: 1;
}
.search_overlay .close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}
.search_overlay .close:before,
.search_overlay .close:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #804639;
  transform: rotate(45deg);
  position: absolute;
  bottom: 44%;
}
.search_overlay .close:after {
  transform: rotate(-45deg);
}
.search_overlay .img_overlay {
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
.search_overlay .positioner {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.search_overlay .positioner .search_icon {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}
.search_overlay .positioner form#search {
  width: 68%;
  max-width: 980px;
  display: inline-block;
  vertical-align: middle;
}
.search_overlay .positioner form#search .search_block {
  border-bottom: 2px solid #804639;
  padding: 30px;
  margin: 0 20px;
}
.search_overlay .positioner form#search .search_block input[type="text"] {
  padding: 20px;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: #804639;
  font-size: 2vw;
  width: calc(100% - 200px);
}
.search_overlay .positioner form#search .search_block input[type="submit"] {
  background-color: #804639;
  border: none;
  box-shadow: none;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 27px;
  font-family: 'constantia', serif;
  font-size: 20px;
  letter-spacing: 0.2em;
}
/***********************************************
**********   SPLASH PAGE STRUCTURE   ***********
***********************************************/
body.home header {
  display: none;
}
body.home .home_width {
  width: calc(100% - 60px);
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 70px 0;
}
body.home .home_width .home_left {
  width: 60%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
body.home .home_width .home_right {
  width: 40%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
body.home .home_width .home_right .positioner {
  margin: 0 auto;
}
body.home .home_slider .swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
body.home .home_slider .swiper-container .swiper-slide {
  height: 300px;
  text-align: center;
  width: auto;
}
body.home .home_slider .swiper-container .swiper-slide img {
  height: 300px;
  width: auto;
  min-width: 100px;
  border: 4px solid #804639;
}
body.home .home_slider .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #804639;
}
body.home .home_slider .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #804639;
}
@media only screen and (max-width: 1050px) {
  body.home .home_width {
    flex-direction: column;
    padding: 0;
  }
  body.home .home_width .home_left {
    width: 100%;
    min-height: 0;
  }
  body.home .home_width .home_right {
    width: 100%;
    min-height: 0;
    padding: 50px 0 70px 0;
  }
}
@media only screen and (max-width: 700px) {
  body.home .home_slider .swiper-container .swiper-slide {
    height: 200px;
  }
  body.home .home_slider .swiper-container .swiper-slide img {
    height: 200px;
    border: 4px solid #804639;
  }
}
/***********************************************
**************   SPLASH PAGE MAP   *************
***********************************************/
.map_package {
  position: relative;
}
.spain_map {
  max-width: 100%;
  max-height: 100%;
}
.map_pin {
  position: absolute;
  background-color: #ffffff;
  border: 4px solid #804639;
  width: 185px;
  height: 54px;
  padding: 10px 7px;
  margin-top: -82px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.map_pin.visible {
  opacity: 1;
}
.map_pin .printer_name {
  text-transform: uppercase;
  font-family: 'Constantia Bold', sans-serif;
  font-size: 14px;
}
.map_pin .printer_subtitle {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 3px;
}
.map_pin:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 8px solid transparent;
  border-top: 14px solid #804639;
  display: inline-block;
  position: absolute;
  left: -4px;
  bottom: -17px;
}
.map_pin.barcelona {
  left: 89%;
  top: 39%;
}
.map_pin.salamanca {
  left: 36%;
  top: 33%;
}
.map_pin.valencia {
  left: 69%;
  top: 56%;
}
.map_pin.madrid {
  top: 49%;
  left: 43%;
}
.map_pin.zaragoza {
  top: 37%;
  left: 64%;
}
.map_pin.sevilla {
  top: 69%;
  left: 26%;
}
.map_pin.cadiz {
  top: 83%;
  left: 25%;
}
.map_pin.malaga {
  top: 83%;
  left: 47%;
}
.map_pin.valladolid {
  top: 23%;
  left: 43%;
}
.map_pin.bottom-right-arrow {
  transform: translate(-100%, 0);
}
.map_pin.bottom-right-arrow:before {
  border-left: 8px solid transparent;
  border-right: 0 solid transparent;
  border-top: 14px solid #804639;
  left: initial;
  right: -4px;
}
/***********************************************
***************   GALLERY PAGE   ***************
***********************************************/
.gallery_main {
  height: calc(100vh - 410px);
  margin-top: 0px!important;
}
.gallery_main .swiper-wrapper.main .swiper-slide .columns {
  width: calc(100% - 110px);
  max-width: 1200px;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.gallery_main .swiper-wrapper.main .swiper-slide .columns .left,
.gallery_main .swiper-wrapper.main .swiper-slide .columns .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  justify-content: center;
}
.gallery_main .swiper-wrapper.main .swiper-slide .columns .left img {
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.gallery_main .swiper-wrapper.main .swiper-slide .columns .right {
  margin: auto;
  height: calc(100% - 80px);
  padding: 20px 0 20px 60px;
}
.gallery_main .swiper-wrapper.main .swiper-slide .columns .right .caption {
  padding-right: 60px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.gallery_main .swiper-wrapper.main .swiper-slide .columns .right H1{
	font-family: 'constantia', serif;
	color: #804639;
	text-decoration: none;
	font-size: 30px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.gallery_main .swiper-wrapper.main .swiper-slide .columns .right .caption::-webkit-scrollbar {
  width: 5px;
}
.gallery_main .swiper-wrapper.main .swiper-slide .columns .right .caption::-webkit-scrollbar-track {
  background: #eeebe3;
}
.gallery_main .swiper-wrapper.main .swiper-slide .columns .right .caption::-webkit-scrollbar-thumb {
  background: #804639;
}
.gallery_main .swiper-wrapper.main .swiper-slide .columns .right .caption::-webkit-scrollbar-thumb:hover {
  background: #804639;
}
.gallery_main .swiper-button-next,
.gallery_main .swiper-button-prev {
  background: none;
  background-color: #804639;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.gallery_main .swiper-button-next .arrow,
.gallery_main .swiper-button-prev .arrow {
  position: relative;
  width: 25px;
  height: 25px;
}
.gallery_main .swiper-button-next .arrow:before,
.gallery_main .swiper-button-prev .arrow:before {
  content: "";
  width: 10px;
  height: 3px;
  background-color: #eeebe3;
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  left: 9px;
}
.gallery_main .swiper-button-next .arrow:after,
.gallery_main .swiper-button-prev .arrow:after {
  content: "";
  width: 10px;
  height: 3px;
  background-color: #eeebe3;
  transform: rotate(-45deg);
  position: absolute;
  top: 13px;
  left: 9px;
}
.gallery_main .swiper-button-prev {
  transform: rotate(180deg);
}
.gallery_thumbnails .swiper-wrapper.thumbnails {
  padding-bottom: 10px;
}
.gallery_thumbnails .swiper-wrapper.thumbnails .swiper-slide {
  height: 140px;
  text-align: center;
  width: auto;
  opacity: 0.7;
}
.gallery_thumbnails .swiper-wrapper.thumbnails .swiper-slide img {
  height: 140px;
  width: auto;
  min-width: 100px;
  border: 4px solid #804639;
  cursor: pointer;
}
.gallery_thumbnails .swiper-wrapper.thumbnails .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}
@media only screen and (max-width: 1050px) {
  .gallery_main .swiper-wrapper.main .swiper-slide .columns .right .caption {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .gallery_main {
    height: auto;
    margin-top: 50px!important;
  }
  .gallery_main .swiper-wrapper.main .swiper-slide .columns {
    width: calc(100% - 110px);
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .gallery_main .swiper-wrapper.main .swiper-slide .columns .left,
  .gallery_main .swiper-wrapper.main .swiper-slide .columns .right {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    justify-content: center;
  }
  .gallery_main .swiper-wrapper.main .swiper-slide .columns .left img {
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .gallery_main .swiper-wrapper.main .swiper-slide .columns .right {
    height: 100%);
    padding: 20px 0 20px 0;
  }
  .gallery_main .swiper-wrapper.main .swiper-slide .columns .right .caption {
    padding-right: 0;
    overflow-y: hidden;
    width: 100%;
  }
  .gallery_main .swiper-button-next,
  .gallery_main .swiper-button-prev {
    top: 40vh;
  }
  .gallery_main .swiper-button-prev {
    transform: rotate(180deg);
  }
  .gallery_thumbnails {
    display: none;
  }
}
/***********************************************
*************   EXHIBITION COVER   *************
***********************************************/
.exhibition_cover {
  color: #804639;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.exhibition_cover .paratext {
  font-family: 'Constantia Bold', sans-serif;
  font-size: 42px;
  letter-spacing: 0.4em;
  margin-bottom: 10px;
}
.exhibition_cover .comedias_sueltas {
  font-family: 'constantia', serif;
  font-size: 22px;
  margin-bottom: 6px;
}
.exhibition_cover .and_the {
  font-family: 'constantia', serif;
  font-size: 12px;
  letter-spacing: 0.15em;
  margin-bottom: 6px;
}
.exhibition_cover .and_the .and {
  display: inline-block;
}
.exhibition_cover .and_the .the {
  display: inline-block;
}
.exhibition_cover .commerce_of_printing {
  font-family: 'constantia', serif;
  font-size: 22px;
  margin-bottom: 25px;
}
.exhibition_cover .an_online_exhitibion {
  font-family: 'Constantia Bold', sans-serif;
  font-size: 21px;
  margin-bottom: 10px;
}
.exhibition_cover .szilvia {
  font-family: 'constantia', serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-style: italic;
  margin-bottom: 10px;
}
.exhibition_cover .szilvia a {
  color: #804639;
  text-decoration: none;
}
.exhibition_cover .szilvia a:hover {
  text-decoration: underline;
}
.exhibition_cover .cruickshank, .exhibition_cover .cruickshank a {
  font-family: 'constantia', serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-style: italic;
  margin-bottom: 10px;
  text-decoration:none;
  color: #804639;
}
.exhibition_cover .cruickshank a:hover {
	text-decoration: underline;
}
.exhibition_cover .horizontal_ornament {
  height: 15px;
  margin: 10px 0;
}
.exhibition_cover .agradecimientos {
  font-family: 'constantia', serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-style: italic;
  margin-bottom: 10px;
}
.exhibition_cover .agradecimientos a {
  color: #804639;
  text-decoration: none;
}
.exhibition_cover .agradecimientos a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 700px) {
  .exhibition_cover .paratext {
    font-size: 33px;
    margin-bottom: 8px;
  }
  .exhibition_cover .comedias_sueltas {
    font-size: 19px;
    margin-bottom: 5px;
  }
  .exhibition_cover .and_the {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .exhibition_cover .commerce_of_printing {
    font-size: 19px;
    margin-bottom: 23px;
  }
  .exhibition_cover .an_online_exhitibion {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .exhibition_cover .szilvia {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .exhibition_cover .agradecimientos {
    font-size: 13px;
    margin-bottom: 9px;
  }
}
/***********************************************
*****************   HOME MENU   ****************
***********************************************/
ul.home_menu {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 60px 0 0 0;
}
ul.home_menu li {
  margin: 16px 0;
}
ul.home_menu li .ornament {
  display: inline-block;
  content: ' ';
  background-image: url('../graphics/menu_ornament.svg');
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  margin: 0 6px -2px 6px;
}
ul.home_menu li a {
  font-family: 'constantia', serif;
  color: #804639;
  text-decoration: none;
  font-size: 18px;
  min-width: 150px;
  display: inline-block;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
ul.home_menu li a:hover {
  min-width: 180px;
  font-family: 'Constantia Bold', sans-serif;
}
@media only screen and (max-width: 700px) {
  ul.home_menu {
    margin: 60px 0 0 0;
  }
  ul.home_menu li .ornament {
    margin: 0 4px -2px 4px;
  }
  ul.home_menu li a {
    font-size: 18px;
    min-width: 130px;
  }
  ul.home_menu li a:hover {
    min-width: 140px;
  }
}
/***********************************************
***********   SINGLE PAGE STRUCTURE   **********
***********************************************/
.page_title {
  margin: 0 auto;
  text-align: center;
  margin: 40px auto 0 auto;
}
.page_title h1 {
  font-size: 72px;
  line-height: 1.1em;
  font-weight: 100;
  color: #804639;
  margin: 0 0 20px 0;
}
.page_title .page_title_ornament {
  max-height: 110px;
}
/*
.page_title .exhibition-sub-menu {
  list-style: none;
  padding: 0;
}
.page_title .exhibition-sub-menu li {
  display: inline-block;
  vertical-align: top;
}
.page_title .exhibition-sub-menu li a {
  font-family: 'constantia', serif;
  color: #804639;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}
.page_title .exhibition-sub-menu li a:hover {
  border-color: #804639;
}
.page_title .exhibition-sub-menu li:before {
  display: inline-block;
  content: ' ';
  background-image: url('../graphics/menu_ornament.svg');
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  margin: 0 25px -2px 25px;
}
.page_title .exhibition-sub-menu li:first-child:before {
  display: none;
}
*/
.acknowledgments .dedication strong, .acknowledgments strong, .acknowledgments b{
	display:inline-block;
	font-size: 36px;
	line-height: 1.1em;
	color: #804639;
	margin: 10px 0px 5px 0px;
	font-weight:100;
}
.acknowledgments .dedication i{
	display:inline-block;
	font-size: 24px;
	line-height: 1.1em;
	font-weight: 100;
	color: #804639;
	margin: 0;
	margin: 0px 0px 20px 0px;
}
.text_content {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 60px 90px 70px 90px;
  width: 810px;
  margin: 50px auto 0 auto;
  position:relative;
}
.text_content .columns {
  display: flex;
  flex-direction: row;
}
.text_content .columns .column {
  width: calc(50% - 30px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text_content .columns .column .sidebar__inner {
  width: 100%;
}
.text_content .columns .column.image_gallery {
  margin-left: 60px;
  margin-top: 20px;
}

/* added for scrolling */
.text_content.individual_columns {
  height: calc(100vh - 240px);
  overflow: hidden;
  padding: 60px 60px 75px 90px;
  width: 840px;
}

.text_content.individual_columns .columns .column .scroll {
  height: calc(100vh - 290px);
  overflow-y: scroll;
  padding-right: 30px;
}
.text_content .columns .column.image_gallery .scroll {
  width: 100%;
}
.text_content.individual_columns .columns .column .scroll::-webkit-scrollbar {
  width: 4px;
}
.text_content.individual_columns .columns .column .scroll::-webkit-scrollbar-track {
  background: #eeebe3;
}
.text_content.individual_columns .columns .column .scroll::-webkit-scrollbar-thumb {
  background: #c3b7b4;
}
.text_content.individual_columns .columns .column .scroll::-webkit-scrollbar-thumb:hover {
  background: #804639;
}
.text_content .columns .column.image_gallery {
  margin-left: 60px;
  margin-top: 0;
}
.text_content .columns .column h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 16px;
}
.text_content .columns .column h2 a {
	color:#000;
	text-decoration:none;
}
/* added for grid view */
.image_nav{
	text-align:center;
	width:100%;
}
.image_nav a{
  font-family: 'constantia', serif;
  color: #804639;
  text-decoration: none;
  font-size: 16px;
}
.image_nav a:hover{
	text-decoration:underline;
}
.grid_content{  
  background-color: rgba(255, 255, 255, 0.25);
  padding: 60px 60px;
  width: 870px;
  margin: 50px auto 0 auto;
}
.grid_content .columns .grid_column {
  margin-left:0px;
  width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.columns .grid_column_4 {
  margin-left:0px;
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.grid_content .columns .grid_column img, .columns .grid_column_4 img{
  width:100%;
  height: auto;
  border:0px;
}
.caption_col_4{
	clear:both;
	padding: 5px 10px 25px 10px;
	font-family: 'Constantia', sans-serif;
	font-size: 15px;
	font-style: italic;
	line-height: 1.5em;
	margin-top: 5px;
	opacity: 0.7;
}
.grid_content .columns .grid_column .caption{
	padding-top:20px;
	font-family: 'Constantia', sans-serif;
	font-size: 15px;
	font-style: italic;
	line-height: 1.5em;
	margin-top: 5px;
	opacity: 0.7;
}
.text_content .columns .column.image_gallery .slider {
  margin: 45px 0 20px 0;
}
.text_content .columns .column.image_gallery .slider .swiper-slide img {
  width: calc(100% - 90px);
  margin-left: 45px;
  height: auto;
}
.text_content .columns .column.image_gallery .slider .swiper-slide .caption {
  font-family: 'Constantia', sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 1.5em;
  margin-top: 20px;
  opacity: 0.7;
  padding-left: 45px; /* Whirl added */
  padding-right: 45px; /* Whirl added */
}
.text_content .columns .column.image_gallery .slider .swiper-slide .caption a{
	color:#000;
	opacity: 0.7;
}
.text_content .columns .column.image_gallery .slider .swiper-button-next,
.text_content .columns .column.image_gallery .slider .swiper-button-prev {
  background: none;
  background-color: #804639;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.text_content .columns .column.image_gallery .slider .swiper-button-next .arrow,
.text_content .columns .column.image_gallery .slider .swiper-button-prev .arrow {
  position: relative;
  width: 25px;
  height: 25px;
}
.text_content .columns .column.image_gallery .slider .swiper-button-next .arrow:before,
.text_content .columns .column.image_gallery .slider .swiper-button-prev .arrow:before {
  content: "";
  width: 10px;
  height: 3px;
  background-color: #eeebe3;
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  left: 9px;
}
.text_content .columns .column.image_gallery .slider .swiper-button-next .arrow:after,
.text_content .columns .column.image_gallery .slider .swiper-button-prev .arrow:after {
  content: "";
  width: 10px;
  height: 3px;
  background-color: #eeebe3;
  transform: rotate(-45deg);
  position: absolute;
  top: 13px;
  left: 9px;
}
.text_content .columns .column.image_gallery .slider .swiper-button-prev {
  transform: rotate(180deg);
}
.text_content .columns .column.image_gallery .thumbnails {
  width: 100%;
}
.text_content .columns .column.image_gallery .thumbnails .thumbnail {
  width: calc(33.333% - 10px);
  height: 0px;
  padding-top: calc(33.333% - 5px);
  background-color: grey;
  margin: 1px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.75;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.text_content .columns .column.image_gallery .thumbnails .thumbnail:hover {
  opacity: 1;
}
.text_content.with_vertical_ornaments {
  display: flex;
  flex-direction: row;
  padding: 60px 90px 60px 60px;
}
.text_content.with_vertical_ornaments .vertical_ornaments {
  width: 100px;
  display: flex;
}
.text_content.with_vertical_ornaments .vertical_ornaments .vertical_ornament_one {
  width: 40px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  background-image: url("../graphics/vertical_ornament_2-01.svg");
  background-repeat: repeat;
  background-size: contain;
}
.text_content.with_vertical_ornaments .vertical_ornaments .vertical_ornament_two {
  width: 15px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  background-image: url("../graphics/vertical_ornament_3-01-02.svg");
  background-repeat: repeat;
  background-size: contain;
}
.text_content.with_vertical_ornaments .text {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}
.text_content.with_images_column {
  display: flex;
  flex-direction: row;
}
.text_content.with_images_column .text {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.text_content.with_images_column .images {
  display: flex;
  flex-direction: column;
  width: calc(40% - 40px);
  margin-left: 40px;
}
.text_content.with_images_column .images img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}
.text_content img {
  border: 4px solid #804639;
  max-width: 100%;
  display: block;
}
.text_content img.centered {
  max-width: 70%;
  margin: 20px auto;
}
.text_content img.big_margin_bottom {
  margin-bottom: 60px;
}
@media only screen and (min-width: 700px) {
	.text_content .text_2_col{
		column-count: 2;
		column-gap: 60px;
	}
}
.text_content .team_photos {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.text_content .team_photos.big_margin_top {
  margin-top: 60px;
}
.text_content .team_photos .team_member {
  width: calc(25% - 30px);
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text_content .team_photos .team_member .member_photo {
  width: calc(100% - 8px);
  height: 0;
  padding-top: 100%;
  border: 4px solid #804639;
}
.text_content .team_photos .team_member .member_name {
  color: #804639;
  text-transform: uppercase;
  margin-top: 7px;
  text-align: center;
  width: 100%;
}
.text_content .team_photos .team_member:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1050px) {
  .page_title h1 {
    font-size: 60px;
    margin: 0 0 15px 0;
  }
  .page_title .page_title_ornament {
    max-height: 80px;
  }
  .page_title .exhibition-sub-menu {
    display: none;
  }
  .text_content {
    padding: 40px 50px;
    width: calc(100% - 160px);
  }
  .text_content .columns {
    flex-direction: column;
  }
  .text_content .columns .column {
    width: 100%;
  }
  .text_content .columns .column .sidebar__inner {
    width: 100%;
  }
  .text_content .columns .column.image_gallery {
    margin-left: 0;
    margin-top: 30px;
  }
  .text_content.with_vertical_ornaments {
    flex-direction: column;
    padding: 40px 50px;
  }
  .text_content.with_vertical_ornaments .vertical_ornaments {
    display: none;
  }
  .text_content.with_vertical_ornaments .text {
    width: 100%;
  }
  .text_content.with_images_column {
    flex-direction: column;
  }
  .text_content.with_images_column .text {
    width: 100%;
  }
  .text_content.with_images_column .images {
    width: 100%;
    margin-left: 0;
  }
  .text_content.individual_columns {
    height: auto;
    padding: 40px 50px;
    width: calc(100% - 160px);
  }
  .text_content.individual_columns .columns .column {
    height: auto;
    overflow-y: initial;
    padding-right: 0;
  }
  .text_content.individual_columns .columns .column.image_gallery {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .page_title h1 {
    width: calc(100% - 60px);
    font-size: 43px;
    margin: 0 auto 15px auto;
  }
  .page_title .page_title_ornament {
    max-height: 80px;
    max-width: calc(100% - 60px);
  }
  .text_content {
    padding: 10px 30px;
    width: calc(100% - 100px);
    margin-top: 30px;
  }
  .text_content img {
    width: calc(100% - 8px);
  }
  .text_content img.centered {
    max-width: none;
  }
  .text_content img.big_margin_bottom {
    margin-bottom: 40px;
  }
  .text_content .team_photos {
    flex-direction: column;
  }
  .text_content .team_photos.big_margin_top {
    margin-top: 40px;
  }
  .text_content .team_photos .team_member {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .text_content .team_photos .team_member:last-child {
    margin-bottom: 0;
  }
  .text_content .team_photos .team_member:last-child {
    margin-bottom: 0;
  }
  .text_content.individual_columns {
    padding: 10px 30px;
    width: calc(100% - 100px);
    margin-top: 30px;
  }
}

/******* Exhibition Landing ********************/
.case_buttons{
	padding:45px 0px 45px 0px;
	border:1px solid #804639;
	margin-bottom:30px;
	color: #804639;
	text-align:center;
	width:45%;
	float:left;	
}
a:hover .case_buttons{
	background-color: #804639;
	color:#FFF;
}
.case_buttons.col1{
	margin-right:3%;
}
.case_buttons.col1{
	margin-left:3%;
}
.exhibition_landing a{
	text-decoration:none;
}
@media only screen and (max-width: 900px) {
	.exhibition_landing{
		padding-top:20px;
	}
	.case_buttons{
		width:100%;
		float:none;	
	}
	.case_buttons .case_title{
		padding-left: 20px;
		padding-right: 20px;
	}
	.case_buttons.col1{
		margin-right:0;
	}
	.case_buttons.col1{
		margin-left:0;
	}
}
.case_buttons .case_number{
	font-size:18px;
	font-style:italic;
	font-weight:100;
	margin-bottom:15px;	
}

.case_buttons .case_title{
	font-size:24px;
	font-weight:100;	
}
/***********************************************
********************   TABLE   *****************
***********************************************/
table {
  border-collapse: collapse;
  font-size: 16px;
}
table thead {
  border-bottom: 3px solid #804639;
}
table thead th {
  padding: 10px 20px 20px 20px;
  text-align: left;
  color: #804639;
  font-family: 'Constantia Bold', sans-serif;
  cursor: pointer;
  position: relative;
}
table thead th:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #804639;
  display: inline-block;
  margin: 0 0 0 8px;
}
table tbody tr:first-child td {
  padding-top: 20px;
}
table tbody tr td {
  padding: 10px 20px;
}
table tbody tr td:nth-child(1) {
  width: 40%;
}
table tbody tr td:nth-child(2) {
  width: 40%;
}
table tbody tr td:nth-child(3) {
  width: 20%;
}
@media only screen and (max-width: 700px) {
  table {
    border: 0;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tbody tr {
    border-bottom: 1px solid #804639;
    display: block;
    margin: 0.625em 0;
  }
  table tbody tr td {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
    display: block;
    font-size: 0.8em;
    text-align: right;
    width: calc(100% - 40px);
    padding: 10px 20px!important;
  }
  table tbody tr td:nth-child(1),
  table tbody tr td:nth-child(2),
  table tbody tr td:nth-child(3) {
    width: calc(100% - 40px);
  }
  table td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
/***********************************************
*******************   FOOTER   *****************
***********************************************/
.topLinkAnchor{
	position:absolute;
	top:0px;
}
.topLinkContainer{
	position: relative;
	top: -50px;
	right: 20px;
	padding: 0px 0px;
	width: 985px;
	margin: 0px auto 0 auto;
  	text-align:right;
}
.topLink{
	background-color: #804639;
	padding:10px;
	color:#FFF;
	font-family: 'constantia', serif;
  	font-size: 15px;
  	text-decoration:none;
}
footer {
  text-align: center;
  color: #804639;
  text-transform: uppercase;
  padding: 90px 0 30px 0;
}
footer .fin {
  font-family: 'Constantia Bold', sans-serif;
  font-size: 73px;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
}
footer .an_online_exhitibion {
  font-family: 'Constantia Bold', sans-serif;
  font-size: 19px;
  letter-spacing: 0.1em;
  margin-bottom: 21px;
}
footer .szilvia {
  font-family: 'constantia', serif;
  font-size: 15px;
  letter-spacing: 0.07em;
  font-style: italic;
  margin-bottom: 10px;
}
footer .szilvia a {
  color: #804639;
  text-decoration: none;
}
footer .szilvia a:hover {
  text-decoration: underline;
}
footer .acknowledgments {
  font-family: 'constantia', serif;
  font-size: 15px;
  letter-spacing: 0.07em;
  margin-bottom: 10px;
}
footer .acknowledgments a {
  color: #804639;
  text-decoration: none;
}
footer .acknowledgments a:hover {
  text-decoration: underline;
}
footer .ornament {
  margin: 29px 0 19px 0;
}
footer .ornament img {
  max-height: 140px;
}
footer .year {
  text-transform: initial;
  font-size: 23px;
  margin-bottom: 21px;
}
footer .agradecimientos {
  font-family: 'constantia', serif;
  font-size: 15px;
  letter-spacing: 0.07em;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
}
footer .agradecimientos a {
  color: #804639;
  text-decoration: none;
}
footer .agradecimientos a:hover {
  text-decoration: underline;
}
.back_to_top {
  background-color: #804639;
  color: #e7ddcb;
  font-style: italic;
  text-decoration: none;
  padding: 8px 15px 5px 15px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 0;
}
.back_to_top.show {
  opacity: 1;
}
.back_to_top .arrow{
	transform: rotate(270deg);
	display: inline-block;
	margin-left: 3px;
	font-style: normal;
	top: -2px;
	position: relative;
}
@media only screen and (max-width: 700px) {
  footer {
    padding: 80px 0 25px 0;
  }
  footer .fin {
    font-size: 63px;
    margin-bottom: 15px;
  }
  footer .an_online_exhitibion {
    font-size: 19px;
    margin-bottom: 18px;
  }
  footer .szilvia {
    font-size: 15px;
    margin-bottom: 10px;
  }
  footer .ornament {
    margin: 27px 0 17px 0;
  }
  footer .ornament img {
    max-height: 120px;
  }
  footer .year {
    font-size: 19px;
  }
}






/* --------------------------------- */
/* multi-search */
/* --------------------------------- */
.multisearch {
	/*padding:0px 30px 0px 25px;*/
}
.multisearch H3, .multisearch H2{
	margin:0px;
	padding:0px;
	text-transform:none;
}
.multisearch H3 a, .multisearch H3 a:hover, .multisearch H2 a, .multisearch H2 a:hover{
	text-decoration:none;
	color:#757575;
}
.multisearch .blockResults {
	height:170px;
	margin-bottom:15px;
	overflow:hidden;
	clear:both;
}
.multisearchImgPlaceholder{
	background-color: #F5F5F5;
	border:2px solid #EDEDED;
	color: #757575;
	padding:20px;
	text-align:center;
	width:100%;
	margin-bottom:10px;
	text-align:center;
}
.multisearchFullResults a{
	text-transform: uppercase;
	color:#757575;
}
.multisearchFullResults a:hover{
	text-decoration: none;
}
.multisearchSort ul {
	list-style-type:none;
	display:inline;
	padding:0px;
}
.multisearchSort ul li{
	display:inline-block;
	margin-right:5px;
}
.multisearchSort ul li a{
	text-decoration:underline;
	color:#757575;
}
.multisearchSort ul li.selectedSort a{
	color:#454545;
	text-decoration:none;
}
.multisearchSort a{
	display:inline-block;
	text-transform:lowercase;
}
.multisearchSort select{
	padding:0px;
	height:17px;
	font-size:12px;
    display:inline;
    width:auto;
}
.multisearchSort select:focus{
	box-shadow: none;
    outline: none;
    border: 1px solid #cccccc;
}
.multisearchSort select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.multisearch .blockResultsScroller {
	height: 170px;	/* Needs to be some height */
}

.multisearch .resultBlock {
	width:100%;
	overflow-y:hidden;
	position:relative;
}

.multisearch .multiSearchResults {
	overflow-x:scroll;
	overflow-y:hidden;
	width:100%;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious{
	right:0px;
}
.multisearch .scrollButtonPrevious{
	left:0px;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious{
	background-color:#ebebeb;
	position:absolute;
	z-index:100;
	height:150px;
	opacity:.7;
	padding:60px 10px 0px 10px;
	color:#454545;
	font-size:15px;
	margin:7px 0px 10px 0px;
	width:25px;
}
.multisearch .scrollButtonNext:hover, .multisearch .scrollButtonPrevious:hover{
	background-color:#dedede;
	cursor:pointer;
	color:#000;
}
.multisearch .scrollButtonNext.inactive, .multisearch .scrollButtonPrevious.inactive{
	display:none;
}
.multisearch .multisearchResult {
	float:left;
	width:150px;
	height:145px;
	margin:10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	background-color:#FFFFFF;
	line-height:1em;
	padding:10px;
	font-size:11px;
	overflow:hidden;
}
.objects .multisearchResult {
	width:200px;
	height: 185px;
}
.objects .blockResultsScroller {
	height:210px;
}
.multisearch .objects.blockResults {
	height:200px
}
.multisearch .objects .scrollButtonNext, .multisearch .objects .scrollButtonPrevious {
	height:190px;
	padding-top:85px;
}
.multisearch .multisearchResult a  {
	color:#454545;
}
.multisearch .multisearchResult a.imageCaption {
	height: 2em;
	overflow: hidden;
	display: inline-block;
}
.multisearch .multisearchResult img {
	width:100%;
	height:auto;
	margin-bottom:5px;
}
.multisearch .authoritySet {
	float:left;
	width:250px;
	height:170px;
	margin-right:20px;
	overflow:hidden;
	padding-top:10px;
}

.multisearch .authoritySet a {
	font-size:16px;
	color:#454545;
}
.multisearch .authorityResult{
	margin-bottom:5px;
	height:30px;
	line-height:1.1em;
	background-color:#f5f5f5;
	padding:15px 10px 5px 10px;
	overflow:hidden;
	text-align: center;
}
.multisearch .authorityResult:hover{
	background-color:#ebebeb;
}
.allLink {
	display:none;
	text-align:center;
	margin-bottom:25px;
}
.allLink a{
	background-color:#f5f5f5;
	border-radius:4px;
	padding:7px;
	color:#333;
	text-transform:uppercase;
	font-size:13px;
	letter-spacing:1px;
}
.multisearch .pull-right {
	font-family:lato;
}
@media (max-width:500px) {
	.jumpLinks, .sortValues {
		display:none;
	}
	.multisearch .authoritySet {
		width:100%;
		max-width:470px;
		float:none;
		margin-right:0px;
		height:auto;
	}
	.authorityBlock .scrollButtonPrevious,
	.authorityBlock .scrollButtonNext{
		display:none;
	}
	.multisearch .authorityBlock .blockResultsScroller {
		width:100% !important;
		height:auto;
	}
	.multisearch .authorityBlock {
		height:auto;
		max-height:170px;
	}
	.allLink {
		display:block;
	}
}
.multisearch h2.searchFor{
	text-align:center;
	margin-bottom:40px;
}

/* ************************************ */
/* overlay (for object representations) */
/* ************************************ */

#caMediaPanel {
	position: fixed; 
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%; 
	display: none;
	margin: 0px;
	padding: 0px;
	z-index: 31000;			/* needs to be on top of menu bar, which has z-index=30000 */
	background-color: rgba(255, 255, 255, 0.7);
}
#caMediaPanel #close{
	float: right;
	width:15px;
	height:16px;
	margin:10px;
}
#caMediaPanel #close a{
	text-decoration:none;
	font-size:16px;
}
#caMediaPanelContentArea {
	width: 100%; 
	height: 100%;
}

#caMediaOverlayContent {
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
}

div.caMediaOverlayControls {
	background-color: #000;
	color:#FFF;
	font-size: 11px;
	text-align:center;
	position:absolute;
	padding: 10px 0px 10px 0px;
	width:100%;
	bottom:0px;
	left:0px;
	z-index: 32000;			/* needs to be on top of caMediaPanel, which has z-index=31000 */
	opacity:.5;	
}

div.caMediaOverlayControlsMinimal {
	background-color: #000;
	color:#FFF;
	font-size: 11px;
	text-align:center;
	position:absolute;
	padding: 5px;
	width: 32px;
	bottom:0px;
	right:0px;
	z-index: 32000;			/* needs to be on top of caMediaPanel, which has z-index=31000 */
	opacity:.8;	
}

div.caMediaOverlayControls:hover, div.caMediaOverlayControlsMinimal:hover {
	opacity:1.0;
	background-color:rgba(0,0,0,0.5);
}
div.caMediaOverlayControls a{
	text-decoration:none;
	font-weight:bold;
	color:#FFF; 
}
div.caMediaOverlayControls a:hover{
	color:#FFF;
}
div.caMediaOverlayControls .close{
	float:right;
	margin: 0px 10px 0px 20px;
	font-size: 22px;
	opacity: 0.9;
}

div.caMediaOverlayControls .nextPreviousLinks{
	float:right;
	margin: 0px 10px 0px 20px;
	font-size: 22px;
	opacity: 0.9;
	
	color:#FFF;
	font-size: 11px;
}

div.caMediaOverlayControls .download{
	float:right;
	margin: 2px 0 0 20px;
	font-size: 16px;
}
div.caMediaOverlayControls .objectInfo{
	font-size:11px;
	color:#FFF;
	padding-left:10px;
	text-align:left;
	width:40%;
	float:left;
}
div.caMediaOverlayControls .captionRight {
	float:left; 
	width:45%; 
	margin-left:25px; 
	color:#fff; 
	text-align:left;
	font-size:14px;
	margin-bottom:10px;
}
div.caMediaOverlayControls .captionLeft {
	float:left; 
	width:45%; 
	margin-left:15px; 
	color:#fff; 
	text-align:left;
	font-size:14px;
	margin-bottom:10px;
}
div.caMediaOverlayControls .recordLink {
	float:left;
	text-align:left;
	color:white;
	font-size:12px;
	margin-left:15px;
	margin-bottom:10px;
}
div.caMediaOverlayControls .recordLink a{
	font-size:12px;
}
div.caMediaOverlayControls .repNav {
	float:left;
	width:16%;
	padding: 0px 2% 0px 2%;
	text-align:center;
	color:#FFF;
}
div.caMediaOverlayRepThumbs {
	color:#FFF;
	font-size: 11px;
	text-align:right;
	position:absolute;
	top:60px;
	right:11px;
	padding:3px;
	z-index: 32000;			/* needs to be on top of caMediaPanel, which has z-index=31000 */
	opacity:.3;	
}
div.caMediaOverlayRepThumbs:hover {
	opacity:1;	
}
div.caMediaOverlayRepThumbs img{
	margin:2px;
	border:1px solid transparent;
}
div.caMediaOverlayRepThumbs a.selectedRep img{
	border:1px solid #FFF;
}
#caMediaOverlayControls .objectInfo{
	display:none;
}
