$font-stack: "GT-Sectra-Display-Medium", serif;
$serif: "GT-Sectra-Regular", serif;
$sans-serif: "FuturaLTPro-Heavy", sans-serif;
$primary-color: #000;
$lighter-color: #333;
$very-light: #fff;
$very-very-light: #f0f0f0;
$ca-blue: #1ab3c8;
$bg-light: #eee7e4;
$breakpoint-sm: 767px;
$breakpoint-med: 1050px;

	
body {
  	font: 100% $font-stack;
  	background-color: $bg-light;
  	scroll-behavior: smooth;
	height: 100%;
}

a:hover {
	color: $lighter-color;
	text-decoration: underline;
}

hr {
	border-top: 1px solid $primary-color;
	padding-top: 10px;
	padding-bottom: 10px;
}

p {
	font-size: 22px;
	font-family: $serif;
	line-height: 1.3;
}

.p {
	font-size: 22px;
	font-family: $serif;
}

.card img:hover {
	opacity: 0.5;
}

.frontpara {
	margin-left: -10px;
}

.navbar {
	font-family: $sans-serif;
    margin-top:18px;
    
 	a:hover {
 	text-decoration: none;
	}
}

.navlogo {
	padding-left: 15px;
}

#mainnavbar {
  ul { 
  padding-right: 20px;}

  li { display: inline-block; 
  }

  a {
    display: block;
    padding: 20px;
    padding-left: 23px;
  }
}

.navbar-light {
	background-color: $bg-light !important;	
	background-color: transparent !important;
}

.navbar-fixed-top {
	background-color: $bg-light !important;	
	  margin-top: -5px;
	border-bottom: 1px solid $primary-color;
	color: $primary-color !important;

}
.navbar-fixed-top a {
	color: $primary-color !important;
}
	
.skip {
       position: absolute;
       left: -999em;
       width: 990em;
}

.skip a {
   color: #000000;
}

h1 {
	font-size:6rem;
	margin-bottom: 1rem;
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-med) {
	h1 {
		font-size: 5rem;		
	}
	.wrapper {
	width: 70%;
	}
}
@media (max-width: $breakpoint-sm) {
	h1 {
		font-size: 3rem;
		margin-top: -50px;
	}
	h2 {
		font-size: 1.5rem !important;
		font-weight: 600;
	}
	.hpHero {
		padding-bottom: 20%;	
	}
}

h2 {
	font-size:2.5rem;
	margin-bottom: 2.3rem;
		
		&--capitalize {
		@extend h2;
		text-transform: capitalize;
		display: block;
		}
		&--list {
		@extend h2;
		margin-top: 1rem;
		}
}

h2 a:hover {
	text-decoration: underline;
}

h3 {
	font-size: 22px;
	font-weight: 600;
}

.exhibit-about {
	padding-top: 30px;
}

.breadcrumbs {
	font-size:1rem;
	font-family: $sans-serif;	
	margin-left: 5px;
	text-transform: uppercase;

	&--tab {
	@extend .breadcrumbs;
		margin-top: 0rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	&--nav {
	@extend .breadcrumbs;
	margin-bottom: 5rem;
	margin-top: 5rem;
	list-style: none;
	margin-left: -40px;
	}
	
	li {
	display: inline-block;
	padding-right: 10px;
	}
	
	li img {
	width: 11px;
	height: 10px;
	margin-bottom: 5px;
	
	}
}

.first-tab {
	width: 1px;
	height: 150%;
	border-right: 1px solid #000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: $primary-color;
	background-color: $bg-light;
	text-decoration: underline;
}

.objects .card {
	display: inline-block;
	border: none !important;
	background-color: $bg-light !important;
}

.hpHero {
	margin-top:-75px;
	margin-bottom: -350px;
}

.hpHero a {
	color: #000 !important;
}

.material-icons {
	font-size: 100px !important;
	padding-top:40px;
	color: #000 !important;
}

.hpHero img {
	height: 100vh !important;
	object-fit: cover !important;
}

.wrapper {
	position: relative;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	float:none;
	transform: translateY(-120%);
}

.masonry-title {
	font-family: $sans-serif;
	font-size: .9rem;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	text-transform: capitalize;
	background-color: $bg-light;
	
	&--list {
	@extend .masonry-title;
	text-align: left !important;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	max-width: 600px;
	}
}

.prevnext {
 	font-family: $sans-serif;
 	font-size: .8rem;
 	color: $lighter-color;
}


.prevnext-icon {
	font-size: .8rem !important;
	padding-top: 3px !important;
}

/* FOOTER */
footer {
	font-family: $sans-serif;
	font-size: .95rem;
	border-top: 0px solid $bg-light !important;
}

.pull-right {
	float: right;
	margin-right: -20px;
	
	&--arrow img {
	@extend .pull-right;
	width: 11px;
	height: 10px;;
	}
	
	&--icon img {
	@extend .pull-right;
	width: 27px;
	height: 27px;;
	}
}

.footer-row {
	padding-top: 20px;
	
	&--bottom {
	@extend .footer-row;
	margin-bottom: 50px;
	margin-top: 100px;
	}
}

footer {
  ul { list-style: none; 
  }

  li { border-bottom: 1px solid $primary-color;
  }

  a {
    display: block;
    margin-left: -20px;
    padding: 24px;
  }
}

small {
	text-transform: uppercase;
	font-size: 10px;
	padding-top: -3px;
}
.back {
	padding-left: 16px;
}
.notice {
	line-height: 15px;
}

/* OCCURRENCE DETAIL */
.occurrence-container {
	margin-top: 20%;
}

.occurrence-metadata {
	padding-top: 50px;
}

.colorblock {
	background-color: #F2F2F0 !important;
	min-height: 100px;
}

/* FRONT BROWSE */

.sortby {
	list-style: none;
	display: inline-block;
	text-transform: uppercase;
}

#dateBrowse .sortby {
	text-transform: lowercase;
}
.sortby li {
	display: inline-block;
	padding-right: 10px;
	font-size: 1.5rem;
}

.browseResults {
	list-style: none;
}

#exhibitorBrowse h2 {
	text-transform: uppercase;
}

#exhibitionBrowse h2 {
	text-transform: uppercase;
}

.browseYearHeader {
	text-decoration: none;
	font-family: $font-stack;
	font-size: 2rem;
	}

.arrow {
	padding-right: 10px;
	color: #666;
}

.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/* Search box */

.search-wrapper {
	display: none
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

@media (min-width:768px) {
	.container {
		max-width: 750px
	}
}
@media (min-width:992px) {
	.container {
		max-width: 970px
	}
}
@media (min-width:1200px) {
	.container {
		max-width: 1170px
	}
}

.search-wrapper.active {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eee7e4;
	z-index: 1500
}

.icon-arrow-right, .icon-close, .scroll-up {
	display: inline-block
}

.search-wrapper .container, .search-wrapper .row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-wrapper .input-container {
	float: none;
	margin: 0 auto;
	padding: 0 0 14px;
	position: relative;
	border-bottom: 1px solid #000;
	height: 100%;
}

.search-wrapper .input-container .search-control {
	width: 100%;
	margin: 0;
	padding: 0 34px 0 0;
	border: none;
	background-color: #eee7e4;
	font-size: 60px;
	line-height: 60px;
	font-family: GT-Sectra-Display-Medium, sans-serif;
	outline: 0;
	box-shadow: none;
	border-radius: 0;
	color: #000
}

.search-wrapper .input-container .search-control::-webkit-input-placeholder {
	font-size: 60px;
	line-height: 60px;
	font-family: GT-Sectra-Display-Medium, sans-serif;
	color: #000
}

.search-wrapper .input-container .search-control::-moz-placeholder {
	font-size: 60px;
	line-height: 60px;
	font-family: GT-Sectra-Display-Medium, sans-serif;
	color: #000
}

.search-wrapper .input-container .search-control:-ms-input-placeholder {
	font-size: 60px;
	line-height: 60px;
	font-family: GT-Sectra-Display-Medium, sans-serif;
	color: #000
}

.search-wrapper .input-container .search-control:-moz-placeholder {
	font-size: 60px;
	line-height: 60px;
	font-family: GT-Sectra-Display-Medium, sans-serif;
	color: #000
}

.search-wrapper .input-container .search-control:focus {
	outline: 0
}

.search-wrapper .input-container .icon-close {
	position: absolute;
	bottom: 28px;
	right: 15px
}

@media (max-width:767px) {
	.search-wrapper .input-container {
		width: 90%
	}

	.search-wrapper .input-container .search-control {
		font-size: 28px;
		line-height: 28px
	}

	.search-wrapper .input-container .search-control::-webkit-input-placeholder {
		font-size: 28px;
		line-height: 28px;
		font-family: GT-Sectra-Display-Medium, sans-serif;
		color: #000
	}

	.search-wrapper .input-container .search-control::-moz-placeholder {
		font-size: 28px;
		line-height: 28px;
		font-family: GT-Sectra-Display-Medium, sans-serif;
		color: #000
	}

	.search-wrapper .input-container .search-control:-ms-input-placeholder {
		font-size: 28px;
		line-height: 28px;
		font-family: GT-Sectra-Display-Medium, sans-serif;
		color: #000
	}

	.search-wrapper .input-container .search-control:-moz-placeholder {
		font-size: 28px;
		line-height: 28px;
		font-family: GT-Sectra-Display-Medium, sans-serif;
		color: #000
	}

	.search-wrapper .input-container .icon-close {
		width: 15px;
		height: 15px;
		bottom: 20px
	}
}

.icon-close {
	width: 30px;
	height: 30px
}

@media (max-width:1250px) {
	.scroll-up {
		display: none !important
	}
}

div.search-control {
	width: 100% !important
}

/* SEARCH RESULTS */

.jump {
	font-size:1rem;
	font-family: $sans-serif;	
}
.space {

	margin-top: -5px;
	margin-bottom: -5px;
}
.space a:hover {
	text-decoration: none;
}
.space:hover {
	border-bottom: 1px solid black;
}
.search {
	padding-top:100px;
}

.multisearch .card-columns {
    column-count: 4;
}
.multisearch .btn-primary {
 background-color: #a09e97;
 border-color: #a09e97;
 width: 240px;
 height: 64px;
 border-radius: 0px !important;
}
.multisearch .btn-primary:hover {
	background-color: #414141;
}