$font-stack: "GT-Sectra-Display-Medium", serif;
$serif: "GT-Sectra-Regular", serif;
$sans-serif: "FuturaLTPro-Heavy", sans-serif;
$primary-color: #000;
$lighter-color: #333;
$very-light: #fff;
$color-block: #F2F2F0;
$bg-light: #eee7e4;
$breakpoint-xs: 350px;
$breakpoint-sm: 667px;
$breakpoint-med: 1050px;

	
body {
  	font: 100% $font-stack;
  	background-color: $bg-light;
  	scroll-behavior: smooth;
	height: 100%;
}

a:hover {
	color: $lighter-color;
	text-decoration: underline;
}

hr {
	border-top: 1px solid $primary-color;
}

h1 {
	font-size:4rem;
	}

h2 {
	font-size:2.5rem;
	a:hover {
	text-decoration: underline;
	}
		&--capitalize {
		@extend h2;
		text-transform: capitalize;
		display: block;
		}
		&--list {
		@extend h2;
		margin-top: 1rem;
		margin-bottom: 1rem;
		}
		&--center {
		text-align: center
		}
}

h3 {
	font-size: 22px;
	font-weight: 600;
}

p {
	font-size: 22px;
	font-family: $serif;
	line-height: 1.3;
}

.p {
	font-size: 22px;
	line-height: 1.3;
	font-family: $serif;
}

small {
	text-transform: uppercase;
	font-size: 10px;
	padding-top: -3px;
}

.back {
	padding-left: 16px;
}

.notice {
	line-height: 15px;
}

.masonry-title {
	font-family: $sans-serif;
	font-size: .9rem;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	background-color: $bg-light;

	
	&--list {
	@extend .masonry-title;
	text-align: left !important;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	max-width: 600px;
	border-bottom: none !important;
	display: block;
		break-inside: avoid;
	}
	&--find {
	@extend .masonry-title;
	min-height: 80px;
	background-color: $color-block;
		break-inside: avoid;
	}
	&--byYear {
		@extend .masonry-title;
		text-align: left !important;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 20px;
		border-bottom: none !important;
		display: block;
		break-inside: avoid;
	}
}

.prevnext {
 	font-family: $sans-serif;
 	font-size: .8rem;
 	color: $lighter-color;
}

.prevnext-icon {
	font-size: .8rem !important;
	padding-top: 3px !important;
}

.breadcrumbs {
	font-size:1rem;
	font-family: $sans-serif;	
	margin-left: 5px;
	text-transform: uppercase;

	&--tab {
	@extend .breadcrumbs;
		margin-top: 0rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	&--nav {
	@extend .breadcrumbs;
	margin-bottom: 2rem;
	margin-top: 2rem;
	list-style: none;
	color: $lighter-color;
	margin-left: -25px;
	font-size: .7rem;
	}
	
	&--nav a {
	color: #666!important;
	}
	
	li {
	display: inline-block;
	padding-right: 10px;
	}
	
	li img {
	width: 11px;
	height: 10px;
	margin-bottom: 5px;
	opacity: 0.7;
	
	}
}

.card {
	border: none !important;
	display: block;
	img:hover {
		opacity: 0.5;
	}
}

.colorblock {
	background-color: $color-block !important;
	min-height: 100px;
	img:hover {
		opacity: 0.5;
	}
}

/* NAVBAR */
.navbar {
	font-family: $sans-serif;
    margin-top:18px;
    
 	a:hover {
 	text-decoration: none;
	}
}

.navlogo {
	padding-left: 15px;
}

#mainnavbar {
  ul { 
  	padding-right: 20px;
  }

  li {
   	display: inline-block; 
  }

  a {
    display: block;
    padding: 20px;
    padding-left: 23px;
  }
}

.navbar-light {
	background-color: $bg-light !important;	
	background-color: transparent !important;
}

.navbar-fixed-top {
	background-color: $bg-light !important;	
	margin-top: -5px;
	border-bottom: 1px solid $primary-color;
	color: $primary-color !important;
	
	a {
	color: $primary-color !important;
	}
}
	
.skip {
    position: absolute;
    left: -999em;
    width: 990em;
    a {
   	color: #000000;
	}
}

/* FRONT */

/* OLD header image as viewport 
.hpHero {
	margin-top:-75px;
	margin-bottom: -100px;	
	a {
	color: #000 !important;
	}
	img {
	height: 30vh !important;
	object-fit: cover !important;
	}
}
.wrapper {
	position: relative;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	float:none;
	transform: translateY(-180%);
}
*/

.headerimage {
	margin-top:-75px;
	object-fit: cover !important;
 	img {
		opacity: .5;
	}
}
.headerwrapper {
	position: relative;
	text-align: center;
	margin: 0 auto;
	float:none;
	margin-top: -120px;
}

.frontpara {
	margin-left: -10px;
}

.first-tab {
	width: 1px;
	border-right: 1px solid #000;
}

.nav-pills {
	margin-bottom: -10px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: $primary-color;
	background-color: $bg-light;
	text-decoration: underline;
}

.nav-pills li a:hover {
	text-decoration: underline;
	color: $lighter-color;
}

/* FRONT BROWSE */

.sortby {
	list-style: none;
	display: inline-block;
	text-transform: uppercase;
	padding-left: 0px;
	li {
	display: inline-block;
	padding: 5px;
	font-size: 1.5rem;
	}
}

#dateBrowse {
	.sortby {
		text-transform: lowercase;
	}
	.sortby li {
 		 padding: 15px;
	}
}
.dateBrowseHeader {
	text-decoration: none;
	font-family: $font-stack;
	font-size: 2rem;
}

#exhibitorBrowse h2 {
	text-transform: uppercase;
}

#exhibitionBrowse h2 {
	text-transform: uppercase;
}

.browseNav {
	padding-left: 0px !important;
}

.browseResults {
	list-style: none;
}

.nameBrowse .card-columns {
	@include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

/* FOOTER */
footer {
	font-family: $sans-serif;
	font-size: .95rem;
	border-top: 0px solid $bg-light !important;
	ul { list-style: none; 
  	}
  	li { border-bottom: 1px solid $primary-color;
  	}
  	a {
    display: block;
    margin-left: -20px;
    padding: 24px;
  	}
  	button img {
	width: 12px;
	height: 12px;
	}
}

.pull-right {
	float: right;
	margin-right: -20px;
	
	&--arrow img {
	@extend .pull-right;
	width: 11px;
	height: 10px;
	}
	
	&--icon img {
	@extend .pull-right;
	width: 27px;
	height: 27px;
	}
}

.footer-row {
	padding-top: 20px;
	
	&--bottom {
	@extend .footer-row;
	margin-bottom: 50px;
	margin-top: 100px;
	}
}

.footer-form  {
	label {
	padding-top: 24px;
	}
	div {
	position: relative;
	padding-bottom: 24px;
	}
	input {
	display: block;
	width: 100%;
	border: 1px solid #000;
	background: 0 0;
	line-height: 16px;
	padding: 14px 64px 14px 14px;
	}
	button {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	background-color: #000;
	height: 66%;
	width: 48px;
	}
}

/* Search box */

.search-wrapper {
	display: none
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

@media (min-width:768px) {
	.container {
		max-width: 750px
	}
}
@media (min-width:992px) {
	.container {
		max-width: 970px
	}
}
@media (min-width:1200px) {
	.container {
		max-width: 1270px
	}
}

.search-wrapper.active {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $bg-light;
	z-index: 1500
}

.icon-arrow-right, .icon-close, .scroll-up {
	display: inline-block
}

.search-wrapper .container, .search-wrapper .row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-wrapper .input-container {
	float: none;
	margin: 0 auto;
	padding: 0 0 14px;
	position: relative;
	border-bottom: 1px solid #000;
	height: 100%;
}

.search-wrapper .input-container .search-control {
	width: 100%;
	margin: 0;
	border: none;
	background-color: $bg-light;
	font-size: 60px;
	line-height: 60px;
	font-family: GT-Sectra-Display-Medium, sans-serif;
	outline: 0;
	box-shadow: none;
	border-radius: 0;
	color: $primary-color;
}

.search-wrapper .input-container .search-control::-webkit-input-placeholder {
	font-size: 60px;
	line-height: 60px;
	font-family: GT-Sectra-Display-Medium, sans-serif;
	color: #000
}

.search-wrapper .input-container .search-control::-moz-placeholder {
	font-size: 60px;
	line-height: 60px;
	font-family: GT-Sectra-Display-Medium, sans-serif;
	color: #000
}

.search-wrapper .input-container .search-control:-ms-input-placeholder {
	font-size: 60px;
	line-height: 60px;
	font-family: GT-Sectra-Display-Medium, sans-serif;
	color: #000
}

.search-wrapper .input-container .search-control:-moz-placeholder {
	font-size: 60px;
	line-height: 60px;
	font-family: GT-Sectra-Display-Medium, sans-serif;
	color: #000
}

.search-wrapper .input-container .search-control:focus {
	outline: 0
}

.search-wrapper .input-container .icon-close {
	position: absolute;
	bottom: 28px;
	right: 15px
}

@media (max-width:767px) {
	.search-wrapper .input-container {
		width: 90%
	}
	.search-wrapper .input-container .search-control {
		font-size: 28px;
		line-height: 28px
	}
	.search-wrapper .input-container .search-control::-webkit-input-placeholder {
		font-size: 28px;
		line-height: 28px;
		font-family: GT-Sectra-Display-Medium, sans-serif;
		color: #000
	}
	.search-wrapper .input-container .search-control::-moz-placeholder {
		font-size: 28px;
		line-height: 28px;
		font-family: GT-Sectra-Display-Medium, sans-serif;
		color: #000
	}
	.search-wrapper .input-container .search-control:-ms-input-placeholder {
		font-size: 28px;
		line-height: 28px;
		font-family: GT-Sectra-Display-Medium, sans-serif;
		color: #000
	}
	.search-wrapper .input-container .search-control:-moz-placeholder {
		font-size: 28px;
		line-height: 28px;
		font-family: GT-Sectra-Display-Medium, sans-serif;
		color: #000
	}
	.search-wrapper .input-container .icon-close {
		width: 15px;
		height: 15px;
		bottom: 20px
	}
}

.icon-close {
	width: 30px;
	height: 30px
}

@media (max-width:1250px) {
	.scroll-up {
		display: none !important
	}
}

div.search-control {
	width: 100% !important
}

/* MULTI-SEARCH RESULTS */
.jump {
	font-size:1rem;
	font-family: $sans-serif;	
}
.space {
	margin-top: -5px;
	margin-bottom: -5px;
}
.space a:hover {
	text-decoration: none;
}
.space:hover {
	border-bottom: 1px solid black;
}
.search {
	padding-top:20px;
}
.inlinesearch {
	width: 150px;
	background-color: $bg-light;
	color: $primary-color;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	border-bottom: 1px solid #000;
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: $font-stack;
	height: 100%;
	font-size: 22px;
}
.inlinesearch:focus {
	border-bottom: 1px solid #000;
}
.multisearch .card-columns {
    column-count: 4;
}

.multisearchFullResultsCard:hover {
	background-color: $primary-color !important;
	color: $bg-light !important;
	
}
.multisearchFullResultsCard {
	max-height: 80px;
	background-color: $bg-light !important;
 	border: 1px solid $primary-color !important;
 	color: $primary-color !important;
}

/* FULL RESULTS - FIND AND FILTER */
.facet {
	display: block;
}
.facetlabel {
	font-size: 10pt;
	color: #666;
	text-transform: capitalize;
}
.facetname {
	font-size: 10pt;
}

.button {
	border: 1px solid $primary-color;
	min-width: 90px;
	min-height: 30px;
	padding: 5px;
	font-family: $sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.button:hover {
	text-decoration: none;
	background-color: $primary-color;
	color: $bg-light;
}

.options-filter-widget {
	font-size: 22px;
	padding-bottom: 10px;
}
.options-filters {
	font-size: 12pt;
	padding-top: 10px;
}
.filters {
	list-style: none;
	padding: 0px !important;
	 .title a {
		font-family: $serif;
		color: $lighter-color;
		text-transform: none;
		font-size: 10pt;
		text-decoration: none;
		font-weight: 300;
	}
	.option-input {
		margin-right: 3px;
	}
	 .number {
		margin-left: -3px;
	}
	label {
		margin-bottom: 0;
	}
}

/* MEDIA BREAKPOINT RESPONSIVE DESIGN */

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-med) {
	h1 {
		font-size: 3rem;		
	}
	.headerwrapper {
		padding-top: 90px;
	}
	.filters li {
	display: inline-block;
	padding-right: 10px;
	}
}
@media (max-width: $breakpoint-sm) {
	h1 {
		font-size: 2rem;
		padding-top: 60px;
		margin-bottom: 0px;
	}
	.navbar {
		padding-top: 0px;
	}
	.headerwrapper {
		width: 100%;
		margin-top: 0px !important;
	}
	h2 {
		font-size: 1.5rem !important;
		font-weight: 600;
	}
	.headerimage img {
	display: none;
	}
	.masonry-title {
		border-bottom: 1px solid $primary-color;
	}
	.filters li {
	display: inline-block;
	padding-right: 5px;
	}
}
