
@font-face {
  font-family: "GT-Sectra-Display-Medium";
  src: url("WebFonts/GT-Sectra-Display-Medium.eot");
  src: url("WebFonts/GT-Sectra-Display-Medium.woff") format('woff'),
	   url("WebFonts/GT-Sectra-Display-Medium.woff2") format('woff2'),
	   url("WebFonts/GT-Sectra-Display-Medium.ttf") format('truetype');
}

@font-face {
	font-family: 'FuturaLTPro-Heavy';
	src: url('WebFonts/3998E0_0_0.eot');
	src: url('WebFonts/3998E0_0_0.eot?#iefix') format('embedded-opentype'),
		 url('WebFonts/3998E0_0_0.woff2') format('woff2'),
		 url('WebFonts/3998E0_0_0.woff') format('woff'),
		 url('WebFonts/3998E0_0_0.ttf') format('truetype');
}


@font-face {
  font-family: "GT-Sectra-Regular";
  src: url("WebFonts/GT-Sectra-Regular.eot");
  src: url("WebFonts/GT-Sectra-Regular.woff") format('woff'),
	   url("WebFonts/GT-Sectra-Regular.woff2") format('woff2'),
	   url("WebFonts/GT-Sectra-Regular.ttf") format('truetype');
}
