@import "~bootstrap/scss/bootstrap";

$assetPath: url(../views/Front/home-image.jpg);

$serif: "GT-Sectra-Regular", serif;
$sans-serif: "FuturaLTPro", sans-serif;
$black: #000;
$bg-main: #d8d8d8;

body {
	background-color: $bg-main;
	scroll-behavior: smooth;
}

a {
	color:$black;
}

.card:focus{
	border: #636363;
}


/*-------------------HEADER---------------------*/
.header-container{
	border-bottom: 1px solid $black;
	padding: 9.5px 15px 8px 16.5px;

	.header-row{
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.navbar {
		font-family: $serif;
		background-color: transparent !important;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	
		.main-logo{
			border: 2px solid transparent;
			margin-right: 100px;
			font-weight: bold;
			padding: 5px;
		}
		.main-logo:focus{
			border: 2px solid #636363;
			outline: none;
			padding: 5px;
		}

		.desktop-menu{
			display: block;
		}

		a:hover {
			text-decoration: none;
		}

		.dropdown-label{
			font-family: $sans-serif;
			font-size: 10pt;
		}

		.browse-dropdown{
			margin-right: 5px;
			font-family: $sans-serif;
			border: 1px solid #636363;

			.dropdown-toggle{
				
				color: #585757;
				font-size: 10pt;
				padding: 6px
			}

			.dropdown-toggle:focus{
				background-color: black;
				color: #ffffff;
				outline: none;
			}

			.show{
				.dropdown-toggle{
					background-color: black;
					color: #ffffff;
					a:hover{
						text-decoration: none;
					}
				}
				.dropdown-menu{
					padding: 0;
					min-width: inherit !important; 
					width: 127px;
					a{
						padding: 8px 0 8px 6px;
					}
					a:hover{
						text-decoration: underline;
					}
				}
			}
	
			.dropdown-menu, .dropdown-divider{
				border-radius: 0;
				background-color: $bg-main;
				a{
					background-color: transparent !important;
					color: $black;
				}
				a:focus{
					background-color: #000 !important;
					color: white;
					border: 2px solid black;
				}
			}
			.dropdown-divider{
				border-top: 1px solid $black;
				margin: 0;
			}
		}

		.search-button{
			border-color: #636363;
			padding: 0;
			p{
				padding-top: 6px;
				padding-bottom: 6px;
				font-size: 10pt;
				font-family: $sans-serif;
			}
		}
		.search-button:focus{
			background-color: #000 !important;
			color: white;
			outline: none;
			.search-icon{
				color: white;
			}
		}
	
		.search-input{
			max-width: 250px;
			height: 34px;
			border: 1px solid #636363;
			border-right: 0; 
			// border-color: #636363;
			background-color: transparent !important;
			color: #636363;
			font-size: 13px;
			font-family: $sans-serif;
		}

		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: #585757;
			opacity: 1; /* Firefox */
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #585757;
		}
		::-ms-input-placeholder { /* Microsoft Edge */
			color: #585757;
		}

		.search-input:focus{
			border: 1px solid #000;
			border-right: 0; 
			// border-color: black;
			color: black;
			outline: none;
		}
		.search-icon{
			color: #000;
		}
	
	}
	// .tablet-mobile-menu {
	// 	display: none;
	// }
}

@media screen and (min-width: 992px) {
	.tablet-mobile-menu {
		background-color: transparent;
		.modal-content{
			display: none;
		
		}
	}
}

@media screen and (max-width: 991px) {
	.header-container{
		.desktop-menu{
			display: none;
		}
		.main-logo:focus{
			border: 2px solid black;
		}
	}

	.tablet-mobile-menu{
			// display: block;
			
			background-color: rgba(0,0,0,0.7);

			.modal-content{
				background-color: transparent; 
				border: none; 
				margin-top: 15px;
			}

			.modal-header{
				border-bottom: 0;
			}

			.close{
				color: #fff;
				text-shadow: none;
				opacity: 1;
			}

			ul{
				list-style-type: none; 
				color: #fff;
				margin-bottom: 20px;
				li{
					text-transform: uppercase;
				}
				li:hover{
					background-color: #fff;
				}
			}

			a{
				color: #fff;
			}

			input{
				background-color: transparent; 
				color: #fff; 
				border-color: #fff;
				border-right: 0;
				height: 42px;
				width: 100%;
			}
			input:focus{
				color: #000;
			}

			::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: #fff;
				opacity: 1; /* Firefox */
			}

			.search-button{
				border-color: #fff;
				p{
					color: #fff;
				}
				.search-icon{
					color:#0286b7;
				}
			}
			.search-button:focus{
				background-color: #fff;
				p{
					color: black;
				}
			}
		}

}




/*----------------------FOOTER----------------------*/
.footer-container {
	margin-top: 40px;
	border-top: 1px solid $black;
	padding: 9.5px 15px 8px 16.5px;

	.row{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 5%;
		margin-right: 5%;
	}

	.footer-title{
		font-family: $serif;
		font-weight: bold;
		font-size: 19px;
		align-self: center;

		a:hover{
			text-decoration: none;
			color: $black;
		}

		.main-logo{
			border: 2px solid transparent;
			padding: 5px;
		}
		.main-logo:focus{
			border: 2px solid #636363;
			outline: none;
			padding: 5px;
		}
	} 

	.list { 
		list-style: none; 
		width: 100%;
		padding: 0;
		margin: 0;
		display:flex;
		.divi {
			margin-left: 10px;
			margin-right: 10px;			
			border-left: 1px solid #000;
			transform: rotate(-45deg);
		}
	}

	.list-item{
		display: list-item;
		// display: inline;
		font-family: $sans-serif;
		background-color: transparent !important;
		align-self: center;
		text-align: center;
		a{
			border: 2px solid transparent;
			padding: 5px;
		}
	}
	.list-item a:focus{
		border: 2px solid #636363;
		padding: 5px;
		outline: none;
	}

	a:hover {
		// display: block;
		// background-color: inherit;
		color: inherit;
		text-decoration: underline;
	}

	.footer-text-notice{
		font-family: $serif;
		font-size: 15px;
		justify-content: center;
		text-align: center;
	}
}

@media screen and (max-width: 769px) {
	.footer-container {

		.footer-title{
			justify-content: start;
			margin-bottom: 10px;
		} 

		.list { 
			padding: 0;
			display: block;
			.divi {			
				border: 0;
			}
		}

		.list-item{
			display: block;
			border-bottom: 1px solid $black;
			padding: 10px 0px 10px 0px;
		  text-align:start;
		}
	
	}
}

/*---------------------FRONT PAGE--------------------*/
.hero-image-container {
	position: relative;
	// text-align: center;
	color: white;
	margin-bottom: 20px;
	width: 100%;
	height: 550px;
	padding: 0 0 62px;
	border: solid 0.5px #979797;
	// background: rgba(0, 0, 0, 0.5);

	img {
		width: 100%;
		height: inherit;
		object-fit: cover;
		filter: brightness(.5);
	}

	.hero-image-caption {
		margin: 0 0 78px;
		font-family: $serif;

		// font-size: 70px;
		font-size: 6vw;

		font-weight: 500;			
		line-height: 1.1;
		text-align: center;
		color: #ffffff;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		// background: rgba(0, 0, 0, 0.75);
	}

	.skip-btn{
		width: 200px;
		height: 35px;
		padding: 2px;
		background-color: $black;
		color: white;
		text-align: center;
		border-radius: 0;
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
	}

	.go-down{
		position: absolute;
		top: 85%;
		left: 50%;
		transform: translate(-50%, -50%);

		.down-icon{
			color: #ffffff;
			font-size: 70px;
		}
	}

	.go-down:focus{
		border: 2px solid black;
	}
	
	.go-down:focus + .skip-btn{
		visibility: visible;
	}

}

.front-page-container {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 5%;
	margin-right: 5%;

	width: fit-content;
	height: fit-content;

	.featured-exhibitions-heading{
		width: 100%;
		margin-bottom: 20px;
		color: $black;
		font-family: $serif;

		.heading{
			font-weight: 500;
		}
		.line-border{
			width: 100%;
			border: solid 1px $black;
			margin-bottom: 20px;
		}

		p{
			font-size: 16px;
			font-family: $serif;
			a:focus{
				border: 2px solid #636363;
				border-radius: 0;
				outline: none;
				padding: 2px;
			}
		}

		a{
			text-decoration: underline;
			color: $black;
		}
	}

	//each featured exhibition item
	.card{
		margin-bottom: 20px;
		background-color: transparent !important;
		border: 0;
		outline: none;

		a img{
			display: block;
			margin: auto;
			width: 100%;
			height: auto;
			border: 2px solid transparent;
		}
		a img:focus{
			border: 2px solid #636363;
			outline: none;
		}
	
		p{
			text-align: center;
			font-family: $sans-serif;
			font-size: 15px;
			font-weight: 900;
			border: 2px solid transparent;
		}
		// a:focus{
		// 	border: 2px solid #636363;
		// 	outline: none;
		// }
		
		// a:hover {
		// 	background-color: inherit;
		// 	color: inherit;
		// 	text-decoration: underline;
		// }

	}
	
	.exhibition-items {
		margin-top: 80px;
		margin-bottom: 80px;


			margin-bottom: 20px;
			background-color: transparent !important;
			border: 0;
			outline: none;

			a img{
				display: block;
				margin: auto;
				width: 100%;
				height: auto;
				border: 2px solid transparent;
			}
			a img:focus{
				border: 2px solid #636363;
				outline: none;
			}
		
			a{
				text-align: center;
				font-family: $serif;
				font-size: 15px;
				border: 2px solid transparent;
			}
			a:focus{
				border: 2px solid #636363;
				outline: none;
			}
			
			a:hover {
				background-color: inherit;
				color: inherit;
				text-decoration: underline;
			}

			.no-image-wrapper{
				a{
					border: none;
				}
				a:hover{
					text-decoration: none;
				}
			}
			.no-image{
				width: 100%;
				height: 200px;
				margin: auto;
				background-color: #c8c8c8;
				text-align: center;
				p{
					padding-top: 85px;
					text-decoration: none;
				}
			}

	}
}



/*----------------BREADCRUMB STYLING-----------------*/
.breadcrumb-nav {
	margin-top: 20px;
	ul.breadcrumb {
		padding: 0%;
		list-style: none;
		background-color: transparent !important;
		a {
			border: 2px solid transparent;
			padding: 2px;
			text-decoration: underline;
		}	
		a:hover {
			color: inherit;
		}
		a:focus{
			border: 2px solid #636363;
			border-radius: 0;
			outline: none;
			padding: 2px;
		}
	}
}

/*------------------EXHIBITION OBJECTS DETAIL PAGE-------------------*/
.exhibition-detail-container {
	padding-bottom: 20px;

	.row{
		margin-left: 5%;
		margin-right: 5%;
	}

	/*-----MediaViewer.js styles-----*/
	#mediaDisplay {
		width: 100%;
		
		.mediaViewer {
			position: relative;
			margin: 0px;
			padding: 0px;
		}

		.viewer {
			width: 100%;
			height: 100%;
		}

		.img-viewer{
			border: 0;
		}

		.react-iiif-viewer{
			button:focus{
				padding: 2px;
				border: 3px solid #fff !important;
				outline: 0;
			}
		} 

		.mediaViewerContainer {
			width: 100%;
			// height: 100%;
			margin: 0px;
			padding: 0px;
		}

		/*image viewer background*/
		// div .openseadragon-canvas {
		// 	background: #dfdfdf !important;
		// 	border: 1px solid darkgray !important;
		// }
		
		.media-viewer-list {
			width: 100px;
			height: 100%;
			margin-right: 10px;

			img{
				border: 3px transparent solid !important;
			}

			img:focus{
				border: 3px #696969 solid !important;
				outline: 0;
			}
		}
	
		.slick-selected {
			img {
				border: 3px #696969 solid !important;
			}
		}
		

		.slick-slide a {
			outline: none;
		}

		.slick-slider{
			padding: 5px;
			color: $black !important;

			.slick-prev, .slick-next{
				left: 36%;
				margin-left: 2px;
				color: $black !important;
				border: 2px solid transparent !important;
				:hover{
					text-decoration: underline;
				}
			}

			.slick-prev{
				/* place button top */
				top: -4%;
			}

			.slick-next{
				/* place button bottom */
				margin-top: 5px;
				top: 100%;
			}

			.slick-prev:before, .slick-next:before{
				/*remove old slick slider buttons*/
				display: none;
			}

			.slick-prev:focus, .slick-next:focus{
				border: 2px #696969 solid !important;
				outline: 0 !important;
			}

			.slick-prev.slick-disabled, .slick-next.slick-disabled{
				color: 	#939393 !important;
				:hover{
					text-decoration: none;
				}
			}
		
		}

		.slick-list .slick-cloned{
			//Removed the duplicate thumbnails that were being shown, don't know why that appeared
			display: none;
		}
	
		.mediaViewerPDFContainer {
			width: 100%;
			height: 100%;
		}
	
		.mediaViewerPDFViewer {
			overflow: scroll;
		}
	
		.mediaViewerPDFViewer .react-pdf__Page__canvas {
			margin: 0 auto;
		}
	}

	.exhibition-label, .details-heading {
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: $serif;
		font-weight: 500;

		.line-border {
			width: 100%;
			border: solid 1px $black;
			margin-bottom: 20px;
		}
	}

	.exhibition-details {

		margin-top: 20px;
		margin-bottom: 20px;
		font-family: $serif;

		a{
			text-decoration: underline;
			border: 2px solid transparent;
			padding: 2px 2px 2px 0px;
		}
		a:hover{
			color: $black;
		}
		a:focus{
			border: 2px solid #636363;
			outline: none;
			padding: 2px 2px 2px 0px;
		}

		.detail-label {
			font-size: 19px;
			font-weight: 900;
		}

		.detail-value {
			font-weight: normal;
		}

		.line-border{
			border: solid .5px darkgray;
		}
	
	}
	
	.related-objects{
		margin-left: 10%;
		margin-right: 10%;

		.card{
			margin-bottom: 20px;
			background-color: transparent !important;
			border: 2px transparent;

			.rel-obj-image{
				a img{
					width:100%;
					height: auto;
				}
			}
			.rel-obj-caption{
				text-align: center;
				font-family: $serif;
				font-size: 15px;

				a:hover {
					background-color: inherit;
					color: inherit;
					text-decoration: underline;
				}
			}
		}
		.card :focus{
			border: 2px solid #636363;
			border-radius: 0;
			outline: none;
			padding: 2px;
		}
	}

}

/*--------------SKIP CONTROLS--------------*/

.skip-controls{
	.skip-btn{
		padding-left: 2px;
		background-color: $black;
		color: white;
		text-align: center;
		// border: 2px solid transparent;
		border-radius: 0;
		display: none;
		visibility: hidden;
	}

	.go-down{
		border: 2px solid transparent;
		.down-icon{
			color: #000;
		}
	}

	.go-down:focus{
		border: 2px solid black;
	}
	
	.go-down:focus + .skip-btn{
		visibility: visible;
		display: inline-block;
	}
}


/*--------------EXHIBITIONS PAGE (OCCURRENCES)--------------*/
.occurrences-container {
	padding-bottom: 20px;

	.row {
		margin-left: 5%;
		margin-right: 5%;
	}

	.hero-image-container {
		// max-width: 40%;
		// height: 500px;
		margin-top: 20px;
		margin-bottom: 20px;
		a img {
			display:block;
			margin:auto;
			width: 100%;
			height: auto;
		}
	}

	.occurrence-label {
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: $serif;
		font-weight: 500;

		h2 {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		.line-border {
			width: 100%;
			border: solid 1px $black;
		}
	}

	.exhibition-items {
		margin-top: 80px;
		margin-bottom: 80px;


		.card{
			margin-bottom: 20px;
			background-color: transparent !important;
			border: 0;
			outline: none;

			a img{
				display: block;
				margin: auto;
				width: 100%;
				height: auto;
				border: 2px solid transparent;
			}
			a img:focus{
				border: 2px solid #636363;
				outline: none;
			}
		
			a{
				text-align: center;
				font-family: $serif;
				font-size: 15px;
				border: 2px solid transparent;
			}
			a:focus{
				border: 2px solid #636363;
				outline: none;
			}
			
			a:hover {
				background-color: inherit;
				color: inherit;
				text-decoration: underline;
			}

			.no-image-wrapper{
				a{
					border: none;
				}
				a:hover{
					text-decoration: none;
				}
			}
			.no-image{
				width: 100%;
				height: 200px;
				margin: auto;
				background-color: #c8c8c8;
				text-align: center;
				p{
					padding-top: 85px;
					text-decoration: none;
				}
			}

		}
	}

	.details-heading {
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: $serif;
		font-weight: 500;
		font-family: $serif;
		display: block;

		.label {
			font-weight: 900;
		}

		.line-border {
			width: 100%;
			border: solid 1px $black;
			margin-bottom: 20px;
		}
	}

	.details-container {
		font-family: $serif;

		a{
			text-decoration: underline;
			border: 2px solid transparent;
			padding: 5px 5px 5px 0px;
			margin-bottom: 5px;
		}
		a:focus{
			border: 2px solid #636363;
			padding: 5px 5px 5px 0px;
			outline: none;
		}
		a:hover {
			color: $black;
		}
		
		.line-border {
			border: solid 1px darkgray;
			margin-bottom: 16px;
		}

		.label {
			font-size: 19px;
			font-weight: 900;
		}
		.value {
			font-weight: normal;
		}

		.exhibitor, .curator, .department, .people {
			display: inline-block;
			text-decoration: underline;
		}

		.location {
			display: inline-block;
		}

	}

}

/*-----------------ENTITIES PAGE------------------*/
.entities-container {
	padding-bottom: 20px;

	.row {
		margin-left: 5%;
		margin-right: 5%;
	}


	.line-border {
		width: 100%;
		border: solid 1px $black;
		margin-bottom: 20px;
	}
	
	.entities-label, .details-heading {
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: $serif;
		font-weight: 500;

		.line-border {
			width: 100%;
			border: solid 1px $black;
			margin-bottom: 20px;
		}
	}

	.exhibition-items {
		.card {
			margin-bottom: 20px;
			background-color: transparent !important;
			border: 0;
			outline: none;
		
			a	img{
				display:block;
				margin:auto;
				width: 100%;
				height: auto;
				border: 2px solid transparent;
			}
			a img:focus{
				border: 2px solid #636363;
				outline: none;
			}

			a{
				text-align: center;
				font-family: $serif;
				font-size: 15px;
				border: 2px solid transparent;
				padding: 2px;
			}
			a:focus{
				border: 2px solid #636363;
				padding: 2px;
				outline: none;
			}
			a:hover {
				text-decoration: underline;
				color: $black;
			}
		}
	}

}

/*-----------------SEARCH RESULTS PAGE------------------*/
.search-results-container {
	padding-bottom: 20px;

	.no-results {
		font-family: $serif;
	}

	.row {
		margin-left: 5%;
		margin-right: 5%;
	}

	.filter-search-heading {
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: $serif;
		font-weight: 500;

		.line-border {
			width: 100%;
			border: solid 1px $black;
			margin-bottom: 20px;
		}
	}

	.sub-list {
		margin-bottom: 50px;

		h2 {
			margin-top: 20px;
			margin-bottom: 20px;
			font-family: $serif;
			font-weight: 500;
			a:hover{
				color: $black;
			}
			a{
				border: 1px transparent;
			}
			a:focus{
				border: 1px solid #636363;
				border-radius: 0;
				outline: none;
				padding: 2px;
			}
		}
		.line-border {
			width: 100%;
			border: solid 1px $black;
			margin-bottom: 20px;
		}
	}

	.card {
		margin: 0px 0px 20px 0px;
		background-color: transparent !important;
		border: 2px transparent;
		// width: 100%;

			a img{
				display:block;
				margin:auto;
				width: 100%;
				height: auto;
				border: 2px solid transparent;
			}
			a img:focus{
				border: 2px solid #636363;
				outline: none;
			}

			a{
				text-align: center;
				font-family: $sans-serif;
				font-size: 15px;
				font-weight: 900;
				border: 2px solid transparent;
				padding: 2px;
			}
			a:focus{
				border: 2px solid #636363;
				padding: 2px;
				outline: none;
			}
			// a:hover{
			// 	text-decoration: underline;
			// 	color: $black;
			// }


		.entities-search {
			border: 1px solid $black;
			padding: 40px 40px 40px 40px;
			color: $black;
		}
	}

	.full-row{
		a{
			border: 2px solid transparent;
			padding: 2px;
		}
		a:focus{
			border: 2px solid #636363;
			padding: 2px;
			outline: none
		}
		.full-results {
			margin: 50px 0px 50px 0px;
			border: 1px solid $black;
			padding: 10px 50px 10px 50px;
		}
	}

}

/*-------------Faceted Browse Container-------------*/
.faceted-browse-container{
	margin-top: 20px;
	padding-bottom: 20px;

	.row {
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.faceted-browse-label {
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: $serif;
		font-weight: 500;

		.line-border {
			width: 100%;
			border: solid 1px $black;
			margin-bottom: 20px;
		}
	}
	
	//--------Faceted-Browse-Results--------
	.faceted-browse-results {

		.fb-results-row{
			margin: 0px 0px 20px 0px;

			.card {
				padding-left: 0;
				margin-bottom: 20px;
				background-color: transparent !important;
				border: none;
				// width: 350px;
	
				img {
					display:block;
					// margin:auto;
					width: 100%;
					height: auto;
					border: 1px transparent;
					padding: 1px;
				}
				
				// .card-text {
				// 	text-align: center;
				// 	font-family: $serif;
				// 	font-size: 15px;
	
				// 	a:hover {
				// 		text-decoration: underline;
				// 		color: $black;
				// 	}
				// }

				a{
					text-align: center;
					font-family: $serif;
					font-size: 15px;

					border: 1px transparent;
					padding: 1px;
					text-decoration: none;
				}
				a:focus{
					border: 1px solid #636363;
					outline: none;
					padding: 1px;
				}
				a:hover {
					// text-decoration: underline;
					color: $black;
				}
			}
		}
		

		button, .fb-results-load-more-button{
			border-radius: 0 !important;
			color: $black;
		}
		button, .fb-results-load-more-button:hover{
			color: white;
		}
		.fb-results-load-more-button:focus{
			background-color: #000;
			color: white;
		}

	}


	/*--------Faceted-Browse-Filters--------*/
	.faceted-browse-filters {
		padding: 5px;
		background-color: #C8C8C8;
		font-family: $serif;

		.sticky-content {
			padding: 10px;
			position: -webkit-sticky;
			position: sticky;
			top: 50px;
 		}

		.filterby-heading{
			margin-bottom: 25px;
			font-family: $serif;		
		}

		.filters-container{
			padding: 0;
			margin: 0px 0px 20px 0px;

			.filter {
				margin: 0px 0px 10px 0px;

				div {
					padding: 5px 5px 5px 5px;
					background-color: #A9A9A9;
					width: 100%;

					p, span {
						display: inline;
						margin: 0;
						color: $black;
						font-size: 12pt;
						font-family: $serif;
					}	
					@media screen and (max-width: 750px) {
						p, span {
							font-size: 10pt;
						}	
					}
				}

				div:hover{
					background-color: #B1B1B1;
					text-decoration: none;
					p{
						text-decoration: none;
					}
					span{
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}

			.remove-all-filters {
				cursor: pointer;
				padding-top: 10px;
				color: $black;
				font-size: 10pt;
			}

			.remove-all-filters:hover {
				color: $black;
				text-decoration: underline;
			}
		}

		#accordion{
			.card{
				border: none;
				border-radius: 0;
				margin-bottom: 5px;

				.card-header{
					padding: 5px 10px;
					background-color: #C8C8C8;
					border: 1px solid #A9A9A9;
					border-radius: 0 !important;
					a{
						p{
							margin: 0;
							font-size: 14pt;
						}
						p::before {
							text-decoration: none;
							content: "▾ ";
							font-size: .75em;
							color: $black;
						}
					}
					a:hover{
						color: $black;
					}
					@media screen and (max-width: 750px) {
						a p{
							font-size: 11pt;
						}
					}
				}

				.card-body{
					background-color: #C8C8C8;
					max-height: 250px; 
					overflow: auto;
					.column-container{
						column-count: 2;
						.facet-value{
							.input-checkbox{
								input{
									background-color: #a3a3a3 !important;
									border: 1px solid #636363;
									border-radius: 0;
									-webkit-appearance: none !important;
									height: 10px;
									width: 10px;
									cursor: pointer;
								}

								label{
									font-family: $serif;
									margin-left: 2px;
									font-size: 10pt;
									cursor: pointer;
								}
								input:checked {
									background-color: $black !important;
								} 
								input[type="checkbox"]:checked + label{
									font-weight: 900;
								}
							}
						}
						.facet-value:hover{
							background-color: #d8d8d8;
						}
					}
					@media screen and (max-width: 750px) {
						.column-container{
							column-count: 1;
						}
					}
				}
				.row{
					background-color: #C8C8C8;
				}

				
			}
		}

		// .facets-list{
		// 	list-style: none;

		// 	.facet-item{
		// 		margin: 0px 0px 20px 0px;
		// 	}

		// 	.facet-item-label{
		// 		background-color: transparent !important;
		// 		padding-left: 0;
		// 		cursor: pointer;
		// 		border: 1px transparent !important;
		// 		p {
		// 			font-size: 14pt;
		// 			margin-bottom: 0;
		// 			font-family: $serif;
		// 		}
		// 	}
		// 	.facet-item-label:hover{
		// 		color: $black;
		// 		text-decoration: none;
		// 	}
			
		// 	@media screen and (max-width: 769px) {
		// 		.facet-item-label{
		// 			p {
		// 				font-size: 11pt;
		// 			}
		// 		}
		// 	}

		// 	p::before {
		// 		text-decoration: none;
		// 		content: "▾ ";
		// 		font-size: .75em;
		// 		color: #76766B;
		// 	}

		// 	.facet-values-container.active {
		// 		padding: 0px 5px 0px 5px;
		// 		margin-bottom: 10px;
		// 		width: auto;

		// 		height: auto;
		// 		max-height: 200px;
		// 		overflow-y: scroll;
				
		// 		.column-container{
		// 			column-count: 2;

		// 			.facet-value {
		// 				padding: 5px 5px 5px 5px;
		// 				color: $black;
		// 				font-family: $serif;
	
		// 				.input-checkbox{
		// 					padding: 0;
		// 					margin: 0;
	
		// 					input{
		// 						background-color: #a3a3a3 !important;
		// 						border: 1px solid #636363;
		// 						margin-right: 2px;
		// 						// padding-right: 2px;
		// 						border-radius: 0;
		// 						-webkit-appearance: none !important;
		// 						height: 10px;
		// 						width: 10px;
		// 						cursor: pointer;
		// 					}
		// 					label{
		// 						font-family: $serif;
		// 						font-size: 10pt;
		// 						cursor: pointer;
		// 					}
		// 					input:checked {
		// 						background-color: $black !important;
		// 					} 
		// 					input[type="checkbox"]:checked + label{
		// 						font-weight: bold;
		// 					}
		// 				}
		// 			}
	
		// 			.facet-value:hover{
		// 				background-color: lightgrey;
		// 			}

		// 		}

		// 		@media screen and (max-width: 550px) {
		// 			.column-container{
		// 				column-count: 1;
		// 				.facet-value {
		// 					break-inside: avoid-column;
		// 				}
		// 			}
		// 		}

		// 	}

		// }
	}

  /*--------Faceted-Browse-Controls--------*/
	.faceted-browse-controls{

		.total-items {
			font-family: $serif;
		}

		a:hover{
			color: $black;
		}
		
		.dropdown-menu.show {
			border-radius: 0;
			border: 1px solid black;
			width: max-content;
			height: max-content;

			form{
				a:hover, a:focus{
					span{
						text-decoration: underline;
					}
				}
			}
		}


	}

}

/*------------Directory Browse Pages (in PHP directory browse pages)--------------*/
.browse-container {
	margin-top: 20px;
	padding: 0px 15px 0px 15px;
	.row{
		margin-left: 5%;
		margin-right: 5%;
	}
	.line-border{
		border: solid 1px $black;
	}
}

/*--------------DirectoryBrowse--------------------*/
.main-browse{
	.skip-btn{
		// width: 200px;
		// height: 35px;
		padding-left: 2px;
		background-color: $black;
		color: white;
		text-align: center;
		border-radius: 0;
		// position: absolute;
		// top: 0;
		// left: 0;
		display: none;
		visibility: hidden;
	}

	.go-down{
		// position: absolute;
		// top: 85%;
		// left: 50%;
		// transform: translate(-50%, -50%);

		.down-icon{
			color: #000;
			// font-size: 70px;
		}
	}

	.go-down:focus{
		border: 2px solid black;
	}
	
	.go-down:focus + .skip-btn{
		visibility: visible;
		display: inline-block;
	}
}




/*--------------Directory BrowseBar----------------*/
.b-bar{
	margin-top: 20px;
	margin-bottom: 20px;

	.slick-slider{
		width: 100%;

		a{
			width: 30px;
			height: 30px;
			border: 2px solid transparent;
		  padding: 2px;
		}
		a:focus{
			border: 2px solid #636363;
			outline: none;
			padding: 2px;
		}

		.slick-prev:before, .slick-next:before {
			display: none;
		}

		.slick-next, .slick-prev {
			color: $black !important;
			:hover{
				text-decoration: underline;
			}
		}

		.slick-prev.slick-disabled, .slick-next.slick-disabled{
			color: 	#939393 !important;
			:hover{
				text-decoration: none;
			}
		}
		
	}

	.browse-bar-item{
		font-family: $sans-serif;
		font-size: 28pt;
		font-weight: 500;
		text-align: center;
		cursor: pointer;
		border: 2px solid transparent;
		padding: 2px;
		// margin-right: 10px;
	}
	
	.disabled {
		color: #696969;
		pointer-events: none;
	}

	.active, .browse-bar-item:hover{
		text-decoration: underline;
		color: $black;
	}

	.browse-bar-item:focus{
		border: 2px solid #636363;
		outline: none;
		padding: 2px;
	}

	.alpha-cont{
		width: 100%;
		display: flex !important;
		justify-content: space-between !important;
		overflow: auto;
		background-color: #d8d8d8;
	}

	.alpha-item{
		margin-right: 10px;
	}

	@media screen and (max-width: 750px) {
		.browse-bar-item{
			font-size: 18pt;
		}
		.slick-slide{
			width: 100px !important;
		}
	}
}

/*---------------Directory Browse-Content-Container---------------*/
.browse-content-container{
	margin-top: 20px;

	a{
		border: 2px solid transparent;
		padding: 2px;
	}
	a:focus{
		border: 2px solid #636363;
		outline: none;
		padding: 2px;
	}

	.column-container{
		margin-left: 5%;
		margin-right: 5%;
		width: 100%;
		column-count: 3;
		.browse-item {
			margin-bottom: 30px;
			font-family: $sans-serif;
			font-weight: 900;
			text-decoration: underline;
			break-inside: avoid-column;
		}
		.browse-item:hover {
			a{
				color: $black;
			}
		}
	}

	@media screen and (max-width: 700px) {
		.column-container{
			column-count: 1;
			.browse-item {
				break-inside: avoid-column;
			}
		}
	}

}
