<h1>{{{title}}}</h1>
<div class="row">
	<div class="col-sm-12 col-md-8">
		<div class="bodytext">
			{{{bodytext}}}
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
		{{{media:1:original}}}
	</div>
</div>