form{
	display:inline;
}

body {
	font-family: "Times New Roman", sans-serif;
	font-size:16px;
	color: #000;
	background-color:#fff;
	margin: 0px 0px 20px 0px;
	padding:0px;
}

/* ------------------------------------- */
/* general styles */
/* ------------------------------------- */

p, div{
	font-family: "Times New Roman", sans-serif;
	color: #000000;
	line-height:1.3em;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1{
	font-family: "Times New Roman", sans-serif;
	font-size:20px;
	font-weight:normal;
	font-style: italic;
	color: #000000;
	margin:0px 0px 7px 115px;
	line-height:1.1em;
}



h2{
	
	font-family: "Times New Roman", sans-serif;
	font-size:16px;
	font-weight:bold;
	color: #000000;
	margin:0px 0px 3px 0px;
	line-height:1.1em;
	font-style: italic;
}
h3{
	font-family: Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #000000;
	margin:0px 0px 3px 0px;
	line-height:1.1em;
}
h3 a{
	tet-decoration:none;
}
a{
	text-decoration:none;
	color: #000000;
}
a:hover{
	text-decoration:underline;
	color: #000000;
}
.formErrors{
	color: #CA1919;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.message{
	color: #CA1919;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
	padding:5px;
	background-color: #E2E2E2;
}
.notificationMessage{
	color: #CA1919;
	font-size:14px;
	font-weight:bold;
	margin:10px 0px 10px 0px;
	padding:5px;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right: auto;
	width: 890px;
}
.divide{
	height:1px;
	background-color:#000;
	margin: 6px 0px 4px 0px;
}
.bg {
	background-color: #F5F5F5;
	border: 1px solid #E2E2E2;
	padding:10px;
}
.caption{
	font-size:11px;
	text-align:left;
}
a.caption{
	font-size:11px;
	color: #999999;
	text-decoration:underline;
}
a.caption:hover{
	color: #000000;
}

/* Menu */

.wclogo {
margin: 4px 0 0 0px
}
#menu {
	position: absolute;
	top: 24px;
	left: 250px;
	width: 600px;
	font-size: 12px;
	line-height: 16px;

}

#menu ul {
	width: 100px;
	line-height: 16px;
}

ul.sublist li a {
	color: #8A8A8A;
}

/* ------------------------------------- */
/* page structure */
/* ------------------------------------- */
#browseHeader {
	font-family: "Times New Roman", sans-serif;
	font-size:20px;
	font-weight:normal;
	font-style: italic;
	color: #000000;
	margin:-30px 0px 20px 0px;
	line-height:1.1em;
}
#pageArea{
	width:775px;
	margin: 0px 0px 0px 0px;
	background-color:#FFFFFF;
	padding:0px 0px 0px 20px;
}
#topBar{
	width:920px;
	margin: 0px auto 0px auto;
	text-align:right;
	padding:3px 0px 3px 0px;
}
#topBar a{
	padding-left:10px;
	color:#EDEDED;
	text-decoration:none;
}
#topBar a:hover{
	color:#cccccc;
}
#lightboxLink{
	position:relative;
	display:inline;
	margin:-5px -7px 0px 0px;
	padding:5px 7px 0px 0px;
}
.lightboxLinkActive{
	-moz-box-shadow: 0px 4px 5px #adadad;
	-webkit-box-shadow: 0px 4px 5px #adadad;
	box-shadow: 0px 4px 5px #adadad;
	background-color:#f5f5f5;
}
#topBar #lightboxList{
	display:none;
	position:absolute;
	top:19px;
	right:0px;
	width:180px;
	text-align:right;
	background-color:#ffffff;
	padding:5px 10px 10px 0px;
	line-height:1.7em;
	color:#828282;
	z-index:10000;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	-moz-box-shadow: 0px 2px 5px #adadad;
	-webkit-box-shadow: 0px 2px 5px #adadad;
	box-shadow: 0px 2px 5px #adadad;
}
#topBar #lightboxList a{
	color:#828282;
	padding-left:0px;
}
#topBar #lightboxList a:hover{
	text-decoration:underline;
}
#header{
	text-align:left;
	padding:10px 0px 0px 0px;
}
#header a{
	text-decoration:none;
}
#header a:hover{
	color:#000000;
	text-decoration:none;
}
#nav{
	text-align:left;
	background-color:#fff;
	padding: 10px 10px 7px 10px;
	margin:126px 0px 25px 65px;
	line-height:1em;
	width: 685px;
	border-bottom: 1px solid #000;
}
#nav a{
	font-size:16px;
	color: #000;
	font-style:italic;
	margin: 0px 29px 0px -10px;
	text-transform: none;
	line-height:1em;
}
#nav a:hover{
	color: #000;
	text-decoration:underline;
}
#nav #search{
	width:250px;
	float:right;
	text-align:left;
	margin-top:-2px;
	margin-right: -10px;
}
#nav #search input {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 2px 2px;
	border: 0px;
	width:185px;
}
#nav #search input[type="text"] {
	font-size:11px;
	font-weight: normal;
	padding: 4px 2px 0px 2px;
	border: 1px solid #000000;
	width:185px;
	margin: 0px -10px 0px 0px;
}
#nav #search a{
	float:right;
	font-size:16px;
	color: #000;
	text-decoration:none;
	margin: 2px 0px 0px 0px;
	font-weight:bold;
	font-style: italic;
	line-height:1em;
}
#nav #search a:hover{
	color: #666;
}
#footer{
	width: 920px;
	margin: 2px auto 10px auto;
	color:#FFFFFF;
	font-size:11px;
}
#footer a{
	color:#FFFFFF;
	font-size:11px;
}
/* -------------------------------------------------*/
/* "Searchlight" autocomplete search results styles */
/* -------------------------------------------------*/
div.searchlight-header{
	size:10px;
	font-weight:bold;
	color:#000;
	background: #fff;
	padding:3px;
	font-style: italic;
	text-decoration: underline;
}
div.searchlight-item{
	size:10px;
	color:#000;
	font-style: italic;
	padding:3px 3px 8px 3px;
	background-color:#FFFFFF;
}
div.searchlight-item a{
	size:10px;
	color:#000;
	text-decoration:none;
}
div.searchlight-item a:hover{
	text-decoration:underline;
}
div.searchlight-results-wrapper {
    color: #333333;
    border: 1px solid #000;
    margin: -1px;
    overflow: hidden;
}

div.searchlight-results div.searchlight-selected {
    text-decoration: underline;
    color: #000;
}

/* -------------------------------------------------*/
/* tooltips / Rollovers */
/* -------------------------------------------------*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #000;
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	/*opacity: 0.9;*/
	text-align: center;
}
.tooltipImage { /* used in image rollovers in results and on detail pages */
	padding: 10px;
	text-align: center;
}

.tooltipCaption { /* used in image rollovers in results and on detail pages */
	margin-top: 10px;
	width: 360px;
	text-align: left;
	font-style: italic;
	font-weight: normal;
}
.tooltipText{ /* used in features */
	text-align:center;
	padding:10px;
	font-size:14px;
}

/* ------------------------------------- */
/*  HOME PAGE */
/* ------------------------------------- */
#hpText{
	width:270px;
	float:right;
	margin-left:15px;
	padding-top:15px;
	line-height:1.5em;
}
#hpFeatured{
	float:left;
	margin: 0px 0px 40px 65px;
	width:400px;
}
#hpFeatured .title{
	font-size:16px;
	font-weight:normal;
	color: #fff;
	margin:0px 0px 0px 0px;
	font-weight:bold;
	
}
#hpFeatured table{
	border: 1px solid #999999;
	width:100%;
	height:400px;
}
.hpRss{
	clear:both;
	padding-top:5px;
}
#quickLinkItems{
	clear:both;
	margin-top: 15px;
	font-size:14px;
}

#quickLinkItems .quickLinkItem{
	float:left;
	margin: 0px 15px 0px 0px;
	width:195px;
}
#quickLinkItems .quickLinkItem .title{
	font-size:14px;
	font-weight:normal;
	color: #000000;
	margin:15px 0px 0px 0px;
	font-weight:bold;
	
}
#quickLinkItems .quickLinkItem a.more{
	font-size:11px;
	font-weight:normal;
	color: #000000;
	margin:2px 0px 0px 0px;
	text-decoration:none;
}
#quickLinkItems .quickLinkItem a.more:hover{
	color: #999999;
}
#quickLinkItems .quickLinkItem table{
	border: 1px solid #999999;
	width:100%;
	height:195px;
}
#quickLinkItems #hpBrowse{
	border: 1px solid #999999;
	padding: 5px;
	line-height:1.5em;
	font-size:12px;
	float:left;
	width:255px;
	margin:34px 0px 0px 15px;
}

/* ------------------------------------- */
/*  free text - about page, browse intro */
/* ------------------------------------- */

#browse .textContent {
margin: 0px 0px 15px 260px;
width: 450px;
}

#browse h1 {
margin-left: 260px;
margin-top: -25px;
}

#featuresContent .textContent {
margin: 100px 0px 15px 110px;
width: 600px;
}	

#featurethumbs {
margin-left: 100px;
width: 640px;
}

.textContent {
	margin: 0px 0px 15px 115px;
	font-size:16px;
	width: 450px;
	text-align: left;
}

.textContent div {
	margin-bottom: 10px;
}

/* ------------------------------------- */
/* Detail pages */
/* ------------------------------------- */
#detailBody #pageNav {
	float:right;
	margin-top:0px;
	text-align:right;
	width: 300px;
	padding:5px 0px 0px 10px;
	font-size:16px;
	color: #000;
	font-weight:normal;
	font-style: italic;
	margin-right: 10px;
	margin-bottom: 20px;
}
#detailBody #pageNav a{
	text-decoration:none;
	color: #000;
}
#detailBody #pageNav a:hover {
	color: #000;
	text-decoration: underline;
}
#detailBody #leftCol{
	float:left;
	width: 700px;
	font-size: 12px;
	text-align:left;
	padding-top: 20px;
	border-top: 1px solid #000;
	font-size: 14px;
}
#objDetailRelObjects td.imageIcon{
	width: 72px;
	padding:10px 10px 10px 0px;

}
#objDetailRelObjects{
width: 175px;
}
#detailBody #leftCol .unit{
	margin-bottom:12px;
}
#detailBody #leftCol #description{
	margin-top:12px;
}
#detailBody #rightCol{
	width:700px;
	text-align:left;
	margin-left: 65px;

	margin-top: 20px;
	
}
#resultbox #rightCol{
width: 700px;
margin-left: 65px;
}
#leftCol #occ{
margin-left: 65px;
width: 700px;
}
.relatedinfo {
float: right;
width: 200px;
border-left: 1px solid #000;
margin-left: 15px;
padding-left: 10px;
}
.primaryinfo {
float: left;
width: 450px;
}
/* nav bar on details with thumbnail grid */
#detailNavBar{
	margin:0px auto 0px auto;
	font-size:16px;
	text-align:center;
	padding:18px 10px 0px 10px;

	text-decoration:none;
	color: #000;
	font-weight:normal;
	font-style: italic;
	width: 700px;
}
#detailNavBar a {
	text-decoration:underline;
	color: #000;
}
#detailNavBar #previous{
float: left;
}
#detailNavBar #next{
float: right;
padding-right: 12px;
}
/* image scroller - object detail */
#objDetailRepScrollingViewer {
	text-align:center;
	position: relative;
	overflow: hidden;
	width: 700px;
	height: 600px;
	padding: 0px;
	background-color: #FFFFFF;
	
}
#objDetailRepScrollingViewer #objDetailRepScrollingViewerImageContainer {
	position: absolute;
	width: 700px;
	height: 600px;
	margin: 0px;
	padding-top: 0px;
	
}

#objDetailImage div .objDetailRepScrollerImage {
	position: absolute;
	margin-top: 0px;
	padding: 0px;
}
#objDetailImageNav {

	margin:-5px 0px 15px 0px;
	font-size:16px;
	text-align:center;
	padding:18px 10px 5px 10px;
	height:10px;

	
}
#objDetailImageNav{
	text-decoration:none;
	font-size:16px;
	color: #000;
	font-weight:normal;
	font-style: italic;
}
#objDetailImageNav a {
	text-decoration:underline;
	color: #000;
}

/* user comment/rank form */
#objUserData #numComments{
	float:right;
	font-size:12px;
	color: #000000;
	font-weight:normal;
	text-transform: none;
}
#objUserData .comment{
	margin: 0px;
	font-size:12px;
	line-height: 1.3em;
}
#objUserData .byLine{
	margin: 4px 0px 20px 30px;
	font-size:11px;
	font-style:italic;
}
#objUserData .formLabel{
	font-weight:bold;
	margin: 10px 0px 3px 0px;
}
#objUserData input {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:574px;
}
#objUserData input[type="text"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:574px;
}
#objUserData textarea {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:574px;
}
#objUserData input[type="textarea"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:100%;
}
#objUserData form a{
	text-transform:uppercase;
	font-size:14px;
	color: #828282;
	font-weight:bold;
	text-decoration:none;
	margin: 5px 0px 0px 0px;
	padding: 0px;
}
#objUserData form a:hover{
	color: #000000;
	text-decoration:none;
}

/* ------------------------------------- */
/*  SEARCH/ BROWSE RESULTS */
/* ------------------------------------- */
#caAdvancedSearchForm{
	background-color: #E6E6E6;
	padding:10px 10px 0px 10px;
	margin:0px 0px 15px 0px;
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px;
}
#caAdvancedSearchForm input {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
}
#caAdvancedSearchForm input[type="text"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	outline-style:none;
	outline-width:0px;
}
#caAdvancedSearchForm textarea {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	outline-style:none;
	outline-width:0px;
}
#caAdvancedSearchForm input[type="textarea"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	outline-style:none;
	outline-width:0px;
}
td.advSearchElement{
	padding:0px 10px 10px 0px;
}
.advSearchLabel{
	font-weight:bold;
	margin-bottom:2px;
	line-height:1em;
}
#caAdvancedSearchForm #buttons{
	float:right;
	text-align:right;
	margin-top:16px;
}
#caAdvancedSearchForm #buttons div{
	margin: 0px 0px 7px 0px;
}
#caAdvancedSearchForm #buttons a{
	text-transform:uppercase;
	font-size:14px;
	color: #828282;
	font-weight:bold;
	text-decoration:none;
}
#caAdvancedSearchForm #buttons a:hover{
	color: #545454;
	text-decoration:none;
}

/* ------------------------------------- */
/*  SEARCH/ BROWSE RESULTS */
/* ------------------------------------- */
#searchNavBg{
	background-color: #fff;
	width: 500px;
	border-bottom: 1px solid #000;
	float: right;
}
.searchNav{
	text-align:center;
	margin-top: 0px;
	padding:6px 10px 5px 10px;
	font-size:13px;
	margin-left: auto;
	margin-right: auto;	
	width: 500px;
	float: right;
}
.searchNav form{
	float:left;
	text-align:left;
	width:160px;
	margin-left:10px;
	display:inline;
}
.searchNav form input[type="text"]{
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #828282;
	padding:0px;
	margin:0px;
	font-weight:normal;
	text-align:center;
}
.searchNav .nav{
	float:right;
	text-align:center;
	width:500px;
}
.searchnav a img{
	vertical-align: middle;
	margin-bottom:2px;
}
.searchNav a{
	font-family: "Times New Roman";
	font-size:14px;
	color: #000000;
	font-weight:bold;
	font-style:italic;
	text-decoration:none;
}
.searchNav a:hover{
	color: #828282;
}
.sectionBox{
	padding-top:10px;
	width: 500px;
	float:right;
	background-color: #fff;
	
}
#noresults {
margin-right: -160px;
margin-left: 160px;
}

.searchsectionbox {
margin-right: 160px;
margin-left: -160px;
}
/* secondary SEARCH results */
.searchSecSpacer{
	float:left;
	width:0%;
}
.searchSec{
	float:left;
	width:60%;
	padding-top:5px;
}

.searchSec h1 {
margin-left: 0px;
}

.searchSecNav{
	clear:both;
	background-color: #fff;
	margin: 0px;
	padding:0px 10px 5px 0px;
	font-size:13px;
	text-align:left;
}
.searchSecNav .nav{
	float:right;
	text-align:right;
	font-weight:bold;
	font-size:14px;
}
.searchSecNav a{
	font-family: Arial, sans-serif;
	font-size:14px;
	color: #000000;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
.searchSecNav a:hover{
	color: #828282;
}
.searchSec .results{
	padding: 10px;
	line-height:1.6em;
}
.searchSec .results a{
	color:#000000;
}


/* thumbnail view  - also used in details with thumbnail grid */
.searchResultTd{
	width:130px;
	
	padding: 0px 0px 10px 0px;
	text-decoration:none;
	font-style: normal;
	
}
.searchThumbBg{
	border:1px solid #999999;
	width:130px;
	position: relative;
	
}
.searchThumbCaption{
	color: #000000;
	padding:3px 0px 0px 0px;
	font-size:11px;
	text-align:left;
	font-style: normal;
}
.searchThumbCaption a{
	color: #000000;
	width:130px;
	padding:3px 0px 0px 0px;
	font-size:11px;
	text-decoration:none;
	font-style: normal;
}
.searchThumbCaption a:hover{
	color: #000;
	font-style: normal;
	text-decoration: underline;
}

/* full results */
.searchFullImageContainer {
	width:250px;
	margin: 10px 20px 10px 0px;
	text-align:left;
	float:left;
	position:relative;
}
.searchFullText{
	float:right;
	width:225px;
	text-align:left;
	margin: 10px 0px 0px 0px;
}
.searchFullTitle, .searchFullTitle a{
	font-size:14px;
	font-weight:bold;
	color: #000000;
	margin:0px 0px 10px 0px;
	text-decoration:none;
	font-style: italic;
}
.searchFullTitle a:hover{
	text-decoration:underline;
}
.searchFullTextTitle{
	font-size:12px;
	color: #000000;
	font-weight: bold;
}
.searchFullTextTextBlock{
	margin-bottom:10px;
}

/* no results */
#recentlyAdded td{
	width: 180px;
}
#recentlyAdded .title{
	background-color:#828282;
	padding:2px;
}
#recentlyAdded .title a{
	color: #ffffff;
	padding:3px;
	font-size:12px;
	text-decoration:none;
}
#recentlyAdded .title a:hover{
	color: #dedede;
}
#recentlyAdded .ImageBg{
	border:1px solid #828282;
	background-color: #F5F5F5;
}

/* search options col */
#searchOptionsCol{
	float:right;
	width: 270px;
	margin: 18px 0px 15px 0px;
}
#searchOptionsCol .title{
	text-transform: uppercase;
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:0px 0px 5px 0px;
	text-decoration:none;
}
#searchOptionsCol .bg{
	background-color: #F5F5F5;
	border: 1px solid #E2E2E2;
	padding:10px;
	margin-bottom:10px;
}
/* search/browse options box - horizontal show hide */
#showOptions{
	float:right;
	margin: -25px 0px 0px 300px;
	padding-right: 10px;
	text-decoration:none;
	font-style: italic;
	color:#000;
	font-size:14px;
	
}
#hideOptions{
	float:right;
	margin: 3px 0px 0px -5px;
	text-decoration:none;
	color:#000;
	font-size:14px;
	font-style: italic;
	
}
#searchOptionsBox{
	float: right;
	width: 500px;
	margin: 0px 0px 0px 0px;
	display:none;
	font-size:11px;
	color:#fff;
}
#browse #searchOptionsBox{	/* need extra space above this box in the browse */
	margin: 0px 0px 0px 0px;
}
#searchOptionsBox .col{
	float:left;
	color:#000;
	font-style: italic;
	font-size: 14px;
	padding-right: 10px;
}
#searchOptionsBox .bg{
	background-color: #fff;
	border:0px;
	padding:10px 10px 10px 10px;
	width: 500px;
}

/* search refine controls - horizontal show hide */
#showRefine{
	float:right;
	margin: 1px 0px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:9px;
	
}
#searchRefineBox{
	clear:both;
	margin: 0px 0px 0px 0px;
	display:none;
	font-size:11px;
	color:#828282;
}
#searchRefineController .col{
	float:left;
	width:206px;
	padding:5px;
	background-color: #E2E2E2;
	margin: 0px 0px 10px 0px;
}
#searchRefineController .spacer{
	float:left;
	width:12px;
	background-color: #FFFFFF;
	margin: 0px 0px 10px 0px;
}
#searchRefineController .col a{
	color: #000000;
	text-decoration:none;
	text-transform:uppercase;
}
#searchRefineController .col a:hover{
	color: #828282;
}
#searchRefineController .col img{
	float: right;
	margin-top:5px;
}
#searchRefineParameters{
	clear:both;
	padding:5px;
	background-color: #E2E2E2;
	margin: 0px 0px 2px 0px;
}
#searchRefineParameters a{
	color: #000000;
	text-decoration:none;
}
#searchRefineParameters a:hover{
	color: #828282;
}
#searchRefineParameters .heading{
	font-style:italic;
	color: #545454;
}
#searchRefineParameters .button{
	float:right;
	margin:-2px 0px 0px 10px;
}
#searchRefineParameters .button a{
	text-transform:uppercase;
	color: #828282;
	font-size:12px;
	text-decoration:none;
	margin:0px;
	padding:0px;
	font-weight:normal;
}
#searchRefineParameters .button a:hover{
	color: #999999;
}
#searchRefineParameters a.close{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size:9px;
	text-decoration:none;
	padding:2px 2px 0px 2px;
	margin:0px 10px 0px 2px;
	background-color:#999999;
	border:1px solid #828282;
	line-height:1em;
}
#searchRefineParameters a.close:hover{
	background-color:#545454;
}

/* entity results */
#entityResults{
	margin-bottom:10px;
	size:14px;
}
#entityResults div{
	padding:5px;
}
#entityResults a{
	font-weight:bold;
	size:14px;
}
#entityResults .resultBg{
	background-color: #F2F2F2;
}

/* collection results */
#collectionResults{
	margin-bottom:10px;
	size:14px;
}
#collectionResults div{
	padding:5px;
}
#collectionResults a{
	font-weight:bold;
	size:14px;
}
#collectionResults .resultBg{
	background-color: #F2F2F2;
}


/* ------------------------------------- */
/* login register */
/* ------------------------------------- */
#loginForm{
	width:270px;
	float:right;
	line-height:1.3em;
}
#registerForm{
	float:left;
	line-height: 1.3em;
	width:600px;
}
#loginForm .bg, #registerForm .bg{
	background-color: #F5F5F5;
	border: 1px solid #E2E2E2;
	padding:10px;
	margin:0px 0px 15px 0px;
}
#loginForm div, #registerForm div{
	margin-top:15px;
}
#loginForm .button, #registerForm a.button, #resetPasswordForm a.button {
	text-transform:uppercase;
	font-size:14px;
	color: #828282;
	font-weight:bold;
	text-decoration:none;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
}
#loginForm a.button:hover, #registerForm a.button:hover, #resetPasswordForm a.button:hover{
	color: #545454;
	text-decoration:none;
}

#loginForm input, #registerForm input, #resetPasswordForm input {
	font-size:12px;
	font-weight: normal;
	padding: 4px;
	margin: 0px;
	border: 1px solid #828282;
}
#loginForm input[type="text"], #registerForm input[type="text"], #resetPasswordForm input[type="text"] {
	font-size:12px;
	font-weight: normal;
	padding: 4px;
	margin: 0px;
	border: 1px solid #828282;
}

/* ------------------------------------- */
/* Features */
/* ------------------------------------- */

/* scrolling navigation */
#hideFeatures{
	float:right;
	margin: 13px 50px 0px 0px;
	text-decoration:none;
	color:#000;
	font-size:14px;
	font-style: italic;
}
#showFeatures{
	float:right;
	margin: 13px 50px 0px 0px;
	text-decoration:none;
	color:#000;
	font-size:14px;
	display:none;
	font-style: italic;
}

#scrollableContainer {
width: 775px;
height: 175px;
}
    
div.scrollable { 
    /* required settings */ 
    position:relative; 
    overflow:hidden; 
    width: 640px; 
    height:180px; 
    background-color: #fff;
    border: 1px solid #000;
    float: left;
    margin: 0px 5px 0px 65px;
} 
 
/* 
    root element for scrollable items. Must be absolutely positioned 
    and it should have a extremely large width to accomodate scrollable items. 
    it's enough that you set width and height for the root element and 
    not for this element. 
*/ 
div.scrollable div.items { 
    /* this cannot be too large */ 
    width:20000em; 
    position:absolute; 
  
} 
 
/* 
    a single item. must be floated in horizontal scrolling. 
    typically, this element is the one that *you* will style 
    the most. 
*/ 
div.scrollable div.items div { 
    float:left; 
} 
 
/* you may want to setup some decorations to active the item */ 
div.items div.active { 
    background-color:#ddd; 
}



.featuresSetTooltip{
	padding:30px;
	font-size:14px;
	width:300px;
}

.setTile {
	width: 160px;
	height: 170px;
	padding: 10px;
	text-align: center;
}

.setTileEmpty {
	width: 0px;
	padding-top: 10px;
	text-align: center;
}

.setTileImage {
	width: 160px;
	height: 160px;
	text-align: center;
}

.setTileTitle {
	color: #000000;
	font-size: 10px;
	margin-top:2px
}

.setTileScrollControl {
	padding: 0px;
	display:block;
	width:20px;
	height:30px;
	margin:70px 0px 0px 0px;
	cursor:pointer;
}

.prevPage {
	float: left;
	margin-right: -50px;
	margin-left: 65px;
	margin-top: 105px;
}
.nextPage {
	float: right;
	

}



/* image scroller on detail page */
#featuresSlideshow {
margin-top: 75px;
margin-left: 30px;
width: 600px;
}

#featuresDescription {
margin: 0px 0px 0px 115px;
}
.settitle{
font-family: "Times New Roman", sans-serif;
	font-size:20px;
	font-weight:normal;
	font-style: italic;
	color: #000000;
	margin:100px 0px -75px 115px;
	line-height:1.1em;
}
.featuresSlideshowScrollControl {
	width: 90px;
	text-align: right;
	padding-top: 240px;
	
}
#featuresSlideshowScrollingViewer {
	width:600px;
	text-align:center;
	padding-left:30px;
	padding-bottom:20px;
	background-color: #fff;
	border:1px solid #000;
}

#featuresSlideshow div #featuresSlideshowScrollingViewerContainer {
	position: relative;
	overflow: hidden;
	width: 600px;
	height: 400px;
	padding-top: 15px;
}

#featuresSlideshow div #featuresSlideshowScrollingViewerImageContainer {
	position: absolute;
	width: 580px;
	height: 400px;
	margin: 0px;
}

#featuresSlideshow div .featuresSlideshowScrollerImage {
	position: absolute;
	margin-top: 0px;
	padding-top: 0px;
		margin-left: -4px;
}

#featuresSlideshowScrollingViewerCounter {
	float: right;
	font-size: 12px;
	padding: 0px;
	margin:60px 0px 0px 0px;
	text-align:right;
}

/* the overlayed element */ 
.featuresOverlay { 			
     
    /* must be initially hidden */ 
    display:none; 
     
    /* place overlay on top of other elements */ 
    z-index:10000; 
     
    /* styling */ 
    background-color:#ffffff; 
    padding:20px 25px 15px 20px;
     
    width:675px;
    min-height:200px; 
    border:4px solid #000000;
    
} 
 
/* close button positioned on upper right corner */ 
.featuresOverlay .close { 
    background-image:url(../graphics/closePanel.gif); 
    position:absolute; 
    right:10px; 
    top:10px; 
    cursor:pointer; 
    height:19px; 
    width:19px; 
    background-repeat:no-repeat;
}

#featuresOverlayImage{   
	text-align:center;
}
.featuresOverlayContent {	
	font-size:11px;
	color:#333333;
	text-align:left;
	margin: 10px auto 0px auto;
}
.featuresOverlayContent div{   
	margin-bottom:10px;
}
.featuresOverlayContent a{	
	text-decoration:underline;
	font-size:11px;
	color:#333333;
}
 
.featuresOverlayContent h3 { 
    color:#aba; 
    font-size:15px; 
    margin:0 0 -10px 0; 
}

/* ------------------------------------- */
/*  FAVORITES PAGE */
/* ------------------------------------- */
.favoritesColumn{
	float:left;
	margin: 0px 0px 15px 0px;
	width:200px;
}
.favoritesSpacerColumn{
	float:left;
	width:32px;
	height:100px;
}
.favoritesColumn .title, .favoritesTextColumn .title{
	text-transform: uppercase;
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:5px 0px 5px 0px;
	text-decoration:none;
}
.favoritesColumn a.title{
	text-transform: uppercase;
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:15px 0px 5px 0px;
	text-decoration:none;
}
.favoritesColumn a.title:hover{
	color: #000000;
}
.favoritesColumn table{
	width:180px;
	height:200px;
	margin: 0px 0px 0px 0px;
}
.favoritesColumn a.more{
	text-transform: uppercase;
	font-size:14px;
	font-weight:bold;
	color: #828282;
	margin:3px 0px 0px 0px;
	text-decoration:none;
	float:right;
}
.favoritesColumn a.title:hover{
	color: #000000;
}
#featuredCol #scrollFeatured, #userFavsCol #scrollUserFavs, #mostViewedCol #scrollMostViewed, #recentlyAddedCol #scrollRecentlyAdded{
	height:600px;
	overflow:hidden;
	position:relative;
}
#featuredCol #scrollFeatured #scrollFeaturedContainer, #userFavsCol #scrollUserFavs #scrollUserFavsContainer, #mostViewedCol #scrollMostViewed #scrollMostViewedContainer, #recentlyAddedCol #scrollRecentlyAdded #scrollRecentlyAddedContainer{
	position:absolute;
}





/* --------------------------------------*/
/*  BROWSE  */
/* --------------------------------------*/

/* - browse formatting for BUTTONS_WITH_OVERLAYS - */
div.scrollableBrowseController { 
    /* required settings */ 
    position:relative; 
    overflow:hidden; 
    width: 775px; 
    height:30px; 
    background-color: #FFFFFF;
    float: left;
    margin: 0px 5px 15px 12px;
} 
 
/* 
    root element for scrollable items. Must be absolutely positioned 
    and it should have a extremely large width to accomodate scrollable items. 
    it's enough that you set width and height for the root element and 
    not for this element. 
*/ 
div.scrollableBrowseController div.items { 
    /* this cannot be too large */ 
    width:20000em; 
    position:absolute; 
} 
 
/* 
    a single item. must be floated in horizontal scrolling. 
    typically, this element is the one that *you* will style 
    the most. 
*/ 
div.scrollableBrowseController div.items div { 
    float:left; 
} 

div.scrollableBrowseScrollControl {
	padding: 5px;
	display:block;
	width:20px;
	height:30px;
	margin:0px 0px 0px 0px;
	cursor:pointer;
}

div.scrollableBrowseController div.items div.facetMenu {
	position: absolute;
	padding:5px;
	background-color: #DEDEDE;
	margin: 0px;
}

div.scrollableBrowseController div.items div.facetMenu a{
	color: #000000;
	text-decoration:none;
	text-transform:uppercase;
}

div.scrollableBrowseController div.items div.facetMenu a.disabled{
	color: #AAAAAA;
	text-decoration:none;
	text-transform:uppercase;
}

div.scrollableBrowseController div.items div.facetMenu a:hover{
	color: #828282;
}

div.scrollableBrowseController div.items div.facetMenu img{
	float: right;
	margin-top:5px;
}

#browseParameters{
	clear:both;
}

#browseParameters a{
	color: #000000;
	text-decoration:none;
}

#browseParameters a:hover{
	color: #828282;
}

#browseParameters .browseByCol{
	float:left;
	width:206px;
	padding:5px 5px 0px 5px;
	background-color: #DEDEDE;
	margin: 0px 0px 10px 0px;
}

#browseParameters .browseByCol img{
	float: right;
	margin-top:5px;
}
#browseParameters .browseForCol{
	padding:5px 5px 5px 0px;
	background-color: #DEDEDE;
	margin: 0px 0px 10px 0px;
}
#browseParameters .spacer{
	float:left;
	width:12px;
	background-color: #FFFFFF;
	margin: 0px 5px 0px 0px;
	padding: 6px 0px 6px 0px;
}
#browseParameters .heading{
	font-style:italic;
	color: #545454;
}
#browseParameters .browseForCol .button a{
	text-transform:uppercase;
	color: #828282;
	font-size:12px;
	text-decoration:none;
	margin:0px;
	padding:0px;
	font-weight:normal;
}
#browseParameters .browseForCol .button a:hover{
	color: #999999;
}
#browseParameters .browseForCol .button{
	float:right;
}
#browseParameters .browseForCol a.close{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size:9px;
	text-decoration:none;
	padding:2px 2px 0px 2px;
	margin:0px 10px 0px 2px;
	background-color:#999999;
	border:1px solid #828282;
	line-height:1em;
}
#browseParameters .browseForCol a.close:hover{
	background-color:#545454;
}
/* - browse formatting for HORIZONTAL_BOXES - */

#browse #browseCriteria{
	margin: 3px auto 13px 65px;
	width: 110px;
	float: left;
}
#browse .browseBox{   /* Used in browse */
	text-align:left;
	float:left;
	width: 150px;
	padding:5px 7px 7px 7px;
	background-color: #fff;
	border:1px solid #000;
	font-size: 14px;
	color: #000;
}
#browse .browseBox .heading{   /* Used in browse */
	font-size: 16px;
	font-weight:bold;
	font-style: italic;
	text-decoration: underline;
	color: #000;
	margin-bottom:3px;
}
#browse .browsingBy{   /* Used in browse */
	font-size: 14px;
	color: #000;
	padding-left:5px;
}
#browse .browsingBy a.close{
	text-transform:uppercase;
	color: #000;
	font-size:9px;
	text-decoration:none;
	padding:1px 2px 1px 2px;
	margin:0px 0px 0px 5px;
	background-color:#fff;
	line-height:1em;
	font-weight:bold;
	font-family: arial;
	border: 1px solid #000000;
}
#browse .browsingBy a.close:hover{
	background-color:#ddd;
}
#browse .browseBoxRefine{   /* Used in browse */
	text-align:left;
	float:left;
	width: 150px;
	margin-left: 5px;
	padding:5px 7px 17px 7px;
	background-color: #FFFFFF;
	border:0px solid #000;
	font-size: 16px;
	font-weight:normal;
	color: #333333;
	
}
#browse .browseBoxRefine .heading{   /* Used in browse */
	font-size: 16px;
	font-weight:bold;
	color: #000;
	margin-bottom:16px;
	text-decoration: underline;
	font-style: italic;
}
#browse .browseBoxRefine .browseFacetLink{
	text-transform:capitalize;
	padding-left:0px;
}
#browse .browseBoxRefine .browseFacetLink a{   /* Used in browse */
	font-size: 14px;
	color: #000;
	text-decoration:none;
	padding-top: 6px;
}
#browse .browseBoxRefine .browseFacetLink a:hover{   /* Used in browse */
	text-decoration: underline;
}
#browse .startOver a{   /* Used in browse */
	text-decoration:underline;
	font-size: 14px;
	font-weight:normal;
	color: #000;
	text-transform: uppercase;
}
#browse .startOver{   /* Used in browse */
	margin-top:25px;
	font-size: 14px;
	font-weight:normal;
	text-transform: uppercase;
	color: #000;

}
#browse .browseArrow{   /* Used in browse */
	float:left;
	padding: 15px 10px 15px 10px;
}
#browse .browseWith{   /* Used in browse */
	float:left;
	padding: 15px 10px 15px 10px;
	font-size: 14px;
	color:#000;
	font-weight:normal;
	text-decoration: underline;
}

#browse .browseTargetSelect {
	font-size: 16px;
	float: left;
	font-style: italic;
	font-weight: bold;
	margin: 0px 0px 10px 65px;
}

#browse .browseTargetSelect select {
	font-size: 9px;
}

/* --- browse pop up panels --- */
.browseSelectPanel, #browse .browseSelectPanel {  /* used in browse and details with browse */
	position: absolute; 
	top: 100px; 
	left: 5%; 
	border: 3px solid #000000; 
	background-color: #FFFFFF; 
	width: 750px; 
	height: 450px; 
	display: none;
	padding: 10px;
}
#browseFacetGroupingControls{ /*  used in browse and details with browse */
	float:right;
	margin: 10px 10px 0px 10px;
	color:#000;
	text-transform:uppercase;
	font-size: 12px;
}
#browseFacetGroupingControls a{ /*  used in browse  and details with browse */
	text-decoration:none;
	color:#000;
	text-transform:uppercase;
	font-weight:bold;
	font-size: 12px;
	font-style: italic;
}
#browseFacetGroupingControls a.selected{ /*  used in browse and details with browse */
	text-decoration:underline;
	color:#000;
	text-transform:uppercase;
	font-size: 12px;
}
.browseSelectPanel #title{ /*  used in browse and details with browse */
	font-size: 28px;
	font-weight:bold;
	font-style: italic;
	color:#000;
	line-height:1em;
	padding-bottom:5px;
	padding-left: 10px;
}

.browseSelectPanelContentArea { /*  used in browse and details with browse */
	border: 1px solid #333333;
	background-color: #FFFFFF;
}

#browseSelectPanelHeader { /*  used in browse and details with browse */
	position: relative;
	margin: 10px;
	text-transform:uppercase;
	font-size:18px;
	color:#000;
	font-weight:bold;
	height: 18px;
	overflow:hidden;
	width: 635px;
}
#browseSelectPanelHeader a { /*  used in browse and details with browse */
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;
	color:#000;
	font-weight:bold;
	padding-right:4px;
}

#browseSelectPanelHeaderContent {
	position: absolute;
}

#browseSelectPanelHeaderScrollButtons {
	float:right;
	margin: 10px 10px 0px 100px;
	color:#000;
	font-size: 14px;
}

.browseSelectPanelList { /*  used in browse and details with browse */
	margin-bottom: 10px;
	width: 715px;
	height: 310px;
	overflow: auto;
	padding: 0px 10px 10px 10px;;
	color:#000;
}


td.browseSelectPanelListCell { /*  used in browse and details with browse */
	padding:3px;
	width:25%;
}


table.browseSelectPanelListTable { /*  used in browse and details with browse */
	width: 100%;
}

.listDivide{ /*  used in browse and details with browse */
	height:1px;
	border-bottom: 1px #000 solid;
	width: 650px;
}

div.browseSelectPanelListGroupHeading { /*  used in browse and details with browse */
	font-size: 26px;
	font-weight: bold;
	padding-top: 5px;
	margin-bottom: 5px;
	color:#000;
}

a.browseSelectPanelListGroupHeading, a.browseSelectPanelListGroupHeading:hover { /*  used in browse and details with browse */
	text-decoration: none;
	color: #000;
}

a.browseSelectPanelButton {   /*  used in browse and details with browse */
	background-image: url("../graphics/closePanel.gif");
	background-repeat:no-repeat;
	float: right;
	margin-left: 15px;
	width:19px;
	height:19px;
	text-decoration:none;
}

a.browseSelectPanelButton:hover {
	background-color: #333333;
}

a.browseSelectPanelLink { /*  used in browse and details with browse */
	font-size: 16px;
	text-decoration:none;
	color:#000;
}

a.browseSelectPanelLink:hover { /*  used in browse and details with browse */
	color:#000;
	font-size: 16px;
	text-decoration: underline;
}


/* overlay (for object representations) */
#caMediaPanel {
	position: fixed; 
	top: 1.5%; 
	left: 1.5%; 
	border: 4px solid #ccc; 
	background-color: #FFFFFF; 
	width: 97%; 
	height: 97%; 
	display: none;
	margin: 0 auto;
	padding: 0px;
	z-index: 31000;			/* needs to be on top of menu bar, which has z-index=30000 */
}
#caMediaPanel #close{
	float: right;
	width:15px;
	height:16px;
	margin:10px;
	background-image:url("../graphics/buttons/x.png");
}
#caMediaPanel #close a{
	text-decoration:none;
	font-size:16px;
}
#caMediaPanelContentArea {
	width: 100%; 
	height: 100%; 
}

#caMediaOverlayContent {
	margin-top: 5px;
	margin-left: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
}

div.caMediaOverlayControls {
	background-color: #FFFFFF;
	padding: 3px;
	font-size: 9px;
	margin-left: 0px;
	height: 25px;
	border-bottom:2px solid #ededed;
}

select.caMediaOverlayControls {
	font-size: 9px;
}
#caMediaOverlayThumbnails{
	padding: 10px 0px 0px 0px;
	text-align:center;
	height:90px;
	width:840px;
	overflow:auto;
}
#caMediaOverlayThumbnails img{
	margin:0px 1px 0px 1px;
}
#caMediaOverlayThumbnails div{
	margin:0px auto 0px auto;
}


/*** HIERARCHY BROWSER ***/
div.hierarchyBrowser {
	width: 100%;
	height: 350px;
	margin: 0px;
}

div.hierarchyBrowserSmall {
	border: 1px solid #ccc;
	width: 98%;
	height: 180px;
	margin: 5px 0px 2px 6px;
}

div.hierarchyBrowserLarge {
	border: 1px solid #000000;
	width: 100%;
	height: 400px;
	margin: 0px 0px 10px 0px;
}
div.hierarchyBrowserContainer {
	position: relative;
	overflow: auto;
	overflow-y: hidden;
	height: 100%;
}

div.hierarchyBrowserLevel {
	position: absolute;
	top: 0px;
	width: 230px;
	height: 100%;
	padding: 0px;
	margin: -2px;
	border: 1px solid #cccccc; 
	background: #FFFFFF;
	overflow: auto;
}

ul.hierarchyBrowserLevel {
	padding: 3px;
	margin: 3px;
}

li.hierarchyBrowserLevel {
	margin: 0px 0px 5px 0px;
	padding:5px 0px 5px 0px;
	border-bottom: 1px solid #EDEDED;
	list-style-type: none;
	text-align: left;
}
a.hierarchyBrowserLevel {
	text-decoration: none;
	font-weight: normal;
}

a.hierarchyBrowserLevelSelected {
	color: #00000;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
}

a.hierarchyBrowserLevelEditButton {
	text-decoration: none;
	font-weight: bold;
}

div.hierarchyBrowseTab {
	height: 245px;
	width: 712px;
	overflow: hidden;
	font-weight: normal;
	margin-left:-10px;
}

#objectInfoRepresentationOverlay div.close {
	background:url(../graphics/close.png) no-repeat; 
	position:absolute; 
	top:10px; 
	right:10px;
	width:36px;
	height:36px;
	cursor:pointer;
}

#objectInfoRepresentationOverlayContent {
	position: absolute;
	top: 38px;
	left: 38px;
	width: 825px;
	height: 550px;
	overflow: auto;
	
	text-align: center;
}





