<div class="row">
	<div class="col-sm-12">
		<H1>{{{title}}}</H1>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<p>{{{bodytext}}}</p>
	</div>
	<div class="col-sm-3 col-sm-offset-1 aboutContact">
		<div class="text-left">{{{media:1:original}}}</div>
		{{{contactinfo}}}
	</div>
</div>