/* blue: #004BB4; green: #078071; */

@font-face {font-family:"sofia-pro"; src:url("fonts/sofiapro-light-webfont.woff2") format("woff2"); font-weight:300;}
@font-face {font-family:"sofia-pro"; src:url("fonts/sofiapro-semibold-webfont.woff2") format("woff2"); font-weight:600;}
@font-face {font-family:"sofia-pro"; src:url("fonts/sofiapro-medium-webfont.woff2") format("woff2"); font-weight:500;}
@font-face {font-family:"sofia-pro"; src:url("fonts/sofiapro-regular-webfont.woff2") format("woff2"); font-weight:400;}

@font-face {font-family:"GT Sectra"; src:url("fonts/GT-Sectra-Book.woff") format("woff");font-weight:300;font-style:normal}
@font-face {font-family:"GT Sectra"; src:url("fonts/GT-Sectra-Medium.woff") format("woff");font-weight:600;font-style:normal}
@font-face {font-family:"GT Sectra"; src:url("fonts/GT-Sectra-Regular.woff") format("woff");font-weight:400;font-style:normal}



body, html{
	font-family:"sofia-pro";
	font-weight:300;
	color:#000;
}
body{
	margin-bottom:375px;
}
a, .detail a {
	color:#078071;
}
.btn-default, .browse .btn-default, .lightbox .btn-default{
	background-color: #004BB4;
	color:#FFF;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #004BB4;
}
label{
	font-family:"sofia-pro";
	font-weight:400;
	color:#000;
}
.container{
	max-width:1440px;
}
a img, .btn, .grayBg{
	transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
a:hover img, a img:hover, .btn:hover{
	opacity:.6;
}
H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6 {
    font-family: "GT Sectra";
    font-weight:600;
    text-transform:none;
}
.blueBg{
	background-color:#004BB4;
}
.navbar-default .navbar-brand {
    width:400px;
    font-family: "sofia-pro";
	font-size: 21px;
	font-weight: 300;
	color:#000;
	text-align:center;
}
.navbar-default .navbar-brand div{
	padding-left:2px;
}
.navbar {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 50px;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: "sofia-pro";
    font-size: 16px;
    font-weight:400;
    border-bottom:4px solid #FFFFFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover{
	color: #004BB4;
	border-bottom:4px solid #004BB4;
}
.nav > li.dropdown > a.icon{
	padding-top:0px;
	padding-bottom:1px;
}
.navbar-default .navbar-nav > li > a{
	padding:0px 0px 1px 0px;
	margin:10px 15px 10px;
}
.navbar-default .navbar-nav, .navbar-default .navbar-right{
	margin-top:45px;
}
@media(min-width: 768px) and (max-width: 1200px) {
	ul.menuItems {
		width:100%;
		border-top:solid 1px #ddd;
		border-bottom:solid 1px #ddd;
		margin-top:10px !important;
		text-align:center;
	}
	ul.menuItems > li{
		display:inline-block;
		float:none;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right:0px;
	}
	.container.menuBar {
		padding:0px;
	}
	.navbar > .container .navbar-brand {
		margin-left:0px;
	}
	.navbar{
		margin-bottom:35px;
	}
}
#footer{
	background-color: #004BB4;
	color: #FFF;
	text-align:center;
	padding:75px 0px 0px 0px;
	font: "sofia-pro";
	font-weight:300;
	height:300px;
}
#footer img{
	width:100%;
	height:auto;
}
#footer a, #footer ul a{
	color: #FFF;
}
#footer .footerLogo img{
	width:300px;
	height:auto;
}
#footer .footerLogo {
	margin-bottom:50px;
}
/* front */
#pageArea.front{
	margin-top:-35px;
}
.front H1 {
    color: #000;
    line-height: 1em;
    font-family: "GT Sectra";
    font-weight:600;
    text-transform:none;
    font-size:36px;
    text-align:center;
}
.front H2{
	font-size: 30px;
    text-align:center;
}
.front .heroSearch {
	position:relative;
	text-align:center;
	color:#FFF;
	margin-top: 150px;
	margin-bottom: 200px;
	font-size: 36px;
	font-family: "sofia-pro";
	font-weight: 300;
	background-color: rgba(0,0,0,.7);
	padding: 70px 0px 100px 0px;
}
.heroSearch H1{
	font-family: "GT Sectra";
	font-size: 70px;
	color: #FFF;
	text-align: center;
	line-height: 1em;
	margin-top:0px;
	margin-bottom:20px;
	padding-top:0px;
	font-weight: 600;
}
.heroSearch .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
    margin-top:25px;
    font-size:14px;
}
.heroSearch .form-group{
    width:80%;
}
.front .heroSearch .formOutline{
	display: inline-block;
	background-color:#FFF;
}
.front .heroSearch .form-group {	
    width: 400px;
    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.front .heroSearch .form-control, .front .heroSearch .form-control:focus{
	border:0px;
	box-shadow:none;
	font-size:18px;
	height:44px;
}
#heroSearchButton{
	color:#000;
	font-size: 20px;
}
.hpIntro{
	font-family: 'sofia-pro', serif;
	font-size: 28px;
	color: #000;
	font-weight:300;
	margin: 40px 0px 40px 0px;
	text-align:center;
}
.hpIntro b{
	font-family: 'sofia-pro', serif;
	font-weight:600;
	font-size: 50px;
}
.hpIntro a{
	text-decoration:underline;
}
@media(max-width: 900px) {
	.hpIntro {
		font-size:22px;
	}
}
.hpExplore{
	margin-top: 60px;
	margin-bottom: 60px;
	text-align:center;
}
.hpExplore img{
	width:100%;
	max-width:250px;
	height:auto;
	margin-bottom:5px;
}
.hpExplore .row{
	margin-bottom:30px;
}
.hpExplore a.hpExploreTitle{
	font-size:22px;
	line-height: 1em;
	text-transform:uppercase;
}
.hpExplore a.hpExploreTitle:hover{
	text-decoration:none;
}
@media(min-width: 768px) and (max-width: 992px) {
	.hpExplore a.hpExploreTitle{
		font-size:18px;
	}
}
@media(max-width: 768px) {
	.hpExplore .hpExploreTitle{
		margin-bottom:25px;
		display:block;
		text-align:center;
	}
}
.hpExploreBrowseAll{
	padding-top:80px;
	font-family: "GT Sectra";
    font-weight:600;
    display:inline-block;
}
@media (min-width:768px) and (max-width:1160px){
	.hpExploreBrowseAll{
		padding-top:50px;
	}
}
.hero {
	position:relative;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero1 {
    background-image: url("../graphics/heroImages/hall-of-african-peoples-landing_fullbleed_2880.jpg");
}
.hero2 {
    background-image: url("../graphics/heroImages/hall-of-asian-peoples-landing_fullbleed_2880.jpg");
}
.hero3 {
    background-image: url("../graphics/heroImages/hall-of-eastern-woodlands-indians-landing_fullbleed_2880.jpg");
}
.hero4 {
    background-image: url("../graphics/heroImages/hall-of-human-origins-landing_fullbleed_2880.jpg");
}
.hero5 {
    background-image: url("../graphics/heroImages/hall-of-mexico-and-central-america-landing_fullbleed_2880.jpg");
}
.hero6 {
    background-image: url("../graphics/heroImages/hall-of-pacific-peoples-landing_fullbleed_2880.jpg");
}
.hero7 {
    background-image: url("../graphics/heroImages/hall-of-plains-indians-landing_fullbleed_2880.jpg");
}
.hero8 {
    background-image: url("../graphics/heroImages/hall-of-south-american-peoples-landing_fullbleed_2880.jpg");
}
.hero9 {
    background-image: url("../graphics/heroImages/nwc-hall-dl-test.jpg");
}

.frontGallerySlideCaption{
	text-transform:uppercase;
}



/* results */
.bResultItem .bResultItemText a, .bResultListItem a{
	font-weight:bold;
	font-size:13px;
	line-height:1.2em;
}
.resultCollectionDesc{
	text-transform:capitalize;
	margin-bottom:5px;
	font-size:12px;
	line-height:1.2em;
}
.resultDesc div{
	margin-bottom:2px;
	line-height:1.2em;
}
.bResultListItemContent {
    height: 122px;
    overflow: hidden;
}
.bResultListItemCol {
    height: 172px;
}
.bResultListItem:hover{
	height: 162px;
}
.bResultListItem img {
    width: auto;
    height: 120px;
}
.bResultListItem .bResultListItemImg {
    max-height: 150px;
}
.bResultListItemImg .bResultItemImgPlaceholder {
    padding: 40px;
}
.bResultItemContent {
    height: 260px;
    overflow: hidden;
}
.bResultItemCol {
    height: 310px;
}
.bResultItem:hover{
	min-height:320px;
}

/* detail */
.detailImgPlaceholder{
	background-color: #f2f2f2;
	color: #858585;
	padding: 150px 5px 140px;
	text-align: center;
	width: 100%;
	font-size:48px;
}
.componentIcon{
	float:left;
	width:72px;
	margin-right:10px;
}
.componentIcon img{
	width:100%;
	height:auto;
}
.object-info-col{
	margin-top: 50px;
	margin-bottom: 50px;
}


/* gallery */
.gallery .unit{
	margin-bottom:15px;
}