/* fonts to change */

body, .detail, .gallery, label, b, strong{
	font-family: "Tahoma", sans-serif;
	font-weight:400;
	color:#000;
}
b, strong{
	font-family: "Tahoma", sans-serif;
	font-weight:600;
}
H1, h1, h2, H2, H3, h3, H4, h4, H5, h5, #footer a.orgLink{
	color:#000;
	font-family: 'Tahoma', sans-serif;
	font-weight:600;
	text-transform:capitalize;
}
.collectionsList H1, .contact H1, .advancedSearch H1, .staticPage h1{
	font-size:28px;
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color:#D23929;
	border-radius: 4px;
}
.btn-default:hover{
	background-color:#D23929;
	box-shadow: 0 0px 6px 0 rgba(0,0,0,.5);
	text-decoration: none;
}
a{
	color:#D23929;
}
a:hover{
	color:#D23929;
	text-decoration:underline;
}
hr {
	border-color: #000;
}
.underline{
	text-decoration:underline;
}
.bgLightGray{
	background-color:#f2f2f2;
}
/* header */
.navbar{
	background-color: #ffffff;
}
.navbar .formOutline{
	border-radius:0px;
	background-color:#fff;
	border: 1px solid #000;
}
.headerAdvancedSearch{
	text-align:right;
}
.headerAdvancedSearch a{
	font-size:13px;
}
#headerSearchButton{
	color:#000000;
}
.navbar-brand{
	width:175px;
	padding-top: 0px;
}
@media (min-width:768px){
	.navbar-brand{
		width: 200px;
		padding-top: 8px;
	}
}
@media (min-width:768px){
	.navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.navbar-form{
		margin-top:26px;
	}
	.nav > li.dropdown > a.icon{
		padding-top: 11px;
		padding-bottom: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.nav > li.dropdown > a.icon .glyphicon-user{
		padding-left:5px;
	}
}
@media (max-width:767px){
	.navbar-nav{
		margin:0px;
	}
	.navbar .formOutline{
		border: 1px solid #dedede;
	}
}
@media(max-width:1010px){
	.yamm .nav.navbar-right.menuItems .dropdown-menu {
		left: 0;
		right: auto;
	}
}

.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: "Tahoma", sans-serif;
    font-weight:600;
    font-size:13px;
}
.navbar-default .navbar-nav > li > a{
	color:#000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:transparent;
	color:#000; /* highlight color */
	/* underline on hover or active */
	/*text-decoration: underline;
  	text-decoration-color: #dedede;
  	text-decoration-thickness: 2px;
  	text-underline-position: under;*/
  	/* change background color on hover or active */
  	background-color: #eee;
}
.navbar-nav > li > .dropdown-menu{
	background-color:#ffffff;
	border:0px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}
.navbar-nav > li > .dropdown-menu a{
	color:#000000;
	font-family:"Tahoma", sans-serif;
    font-weight:600;
}
.navbar-nav > li > .dropdown-menu a:hover{
	background-color:#fff;
	color:#000; /* highlight color */
	/* background-color on hover */
	background-color:#eee;
	
}
.navbar-nav > li.dropdown-container .fa {
  position: relative;
  top: -1px;
  font-size: 10px;
  font-size:10px;
}
.userIconLabel{
	display:block;
	font-size:10px;
	font-weight:normal;
	line-height: .7em;
}
/* header mobile icons navigation */
.navbar-default .navbar-toggle{
	border-color:#000;
	color:#000;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#000;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
	background-color:#FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#000;
	color:#FFF;
}
/* footer */
/* offset needed for fixed footer */
body{
	margin-bottom:400px;
	-moz-osx-font-smoothing: grayscale;
}

.bg_beige_eye{
	background-color: #DBD5CD;
	background-image: url("../graphics/bg_final.png");
	background-repeat: repeat;
	background-size: contain;
}
.bg_dark_eye{
	background-color: #BBBBBB;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url("../graphics/Event-pattern-3.jpg");
	background-size: cover;
}
#footer{
	background-color: #D23929;
	padding-top:75px;
	height: 350px;
	margin-top:50px;
	padding-bottom:0px;
	border:0px;
	color:#FFF;
	font-weight:normal;
	font-size: 16px;
	font-weight: 400;
	line-height:1.5em;
	font-family: "Tahoma", sans-serif;
}
@media(max-width:480px){
	/* CHANGE - does the footer height need to change for smaller screen sizes? */
	/*#footer{
		height:430px;
	}*/
	/* CHANGE - does the footer offset need to change for smaller screen sizes? */
	/*body{
		margin-bottom:480px;
	}*/
}
#footer .logo{
	margin:0px 70px 0px 10px;
}
#footer .logo img{
	width:100%;
	height:auto;
}
#footer a{
	color:#FFF;
	text-decoration:none;
	font-family: "Tahoma", sans-serif;
}
#footer .orgLink{
	color:#FFF;
	font-weight:700;
	font-size:18px;
	margin-bottom:20px;
}
#footer .social a{
	font-size: 20px;
	color:#FFF;
	font-size:25px;
	background-color: rgba(255,255,255,0.21);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	padding: 10px 12px;
	width: 45px;
	height: 45px;
	text-align: center;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
#footer .social a:hover{
	color:#001c38;
	background-color: #ffffff;
}
#footer ul {
    margin-top: 0px;
}
#footer ul.social li {
  padding: 0px 2px 0px 2px;
}
#footer .copyright{
	font-size:13px;
	font-weight:300;
	padding:70px 0px 10px 10px;
}

/* search / browse results */
.bResultItemSetLink {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
	display:none;
}
.bResultListItem .bResultItemSetLink{	
	bottom: 25px;
	right: 12px;
}
.bResultItem:hover .bResultItemSetLink, .bResultListItem:hover .bResultItemSetLink{
	display:inline-block;
}
.bResultItem:hover .bResultItemText, .bResultListItem:hover .bResultListItemText{
	padding-bottom:20px;
}
.bResultItem .bResultItemText, .bResultListItemCol .bResultListItemText{
  font-size: 12px;
}
@media(max-width:768px){
	.results .bSearchWithinContainer{
		display:none;
	}
}
.results .bSearchWithinContainer{
	clear:both;
	padding:15px 0px 15px 0px;
	text-align:center;
}
.results .btn-search-refine, .results .btn-search-refine:hover{	
	font-size: 14px;
	cursor: pointer;
	background-color: #fff;
	color:#000;
	font-size: 14px;
	line-height:1em;
	padding: 9px;
	
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border:0px;
	border-radius: 0px;
	margin-left: -30px;
}
.bSearchWithin, .bSearchWithin:focus {
    width: 80%;
    box-shadow: none;
    border: 0px;
    border: 0px;
    border-radius: 0px;
    height: 35px;
    font-size: 14px;
    line-height: 26px;
    background-color: #FFF;
	font-size: 14px;
	display: inline-block;
	display:inline-block;
	padding-right: 30px;
}
.browseRemoveFacet, .browseRemoveFacet .btn{
	display:block;
	width:100%;
	font-size:11px;
	margin:0px 0px 5px 0px;
}
.browseRemoveFacet .btn{
	white-space: normal;
}
.browseRemoveFacet:hover, .browseRemoveFacet .btn:hover{
	text-decoration:none;
}
a.browseRemoveFacet .glyphicon{
	color:#fff !important;
}
#bRefine {
  background-color: #DBD5CD;
  color:#000
}
#bRefine H2, #bRefine H3{
	color:#000;
	text-transform:capitalize;
}
#bRefine a {
	color: #000;
	font-size: 14px;
}
#bRefine H3{
	cursor: pointer;
}
#bRefine H3:hover{
	text-decoration:underline;
}
#bRefine H3 .fa{
	font-size: 12px;
}
.bResultItemContent .bResultItemImgPlaceholder {
	background-color: #F5F5F5;
	border: 2px solid #EDEDED;
	color: #858585;
	margin-bottom: 10px;
	padding: 60px 20% 72px;
	text-align: center;
	width: 100%;
}
.bResultListItemContent .bResultItemImgPlaceholder img{
	width:72px;
	height:auto;
}
.bResultListItemImg .bResultItemImgPlaceholder {
	padding: 20px 10px;
}
.multisearchImgPlaceholder {
	padding: 20px 20%;
}
/* front */
html.frontContainer {
    height: 100%;
    padding:0px -15px 0px -15px;
}
body.frontContainer {
	margin-bottom:0px;
	height: 100%;
}
body.frontContainer #footer{
	position:relative !important;
}
#pageArea.front{
	top:-20px;
	position: relative;
}
.parallax {
	position:relative;
    background-image: url("../graphics/hero1.jpg");

    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-left: -15px;
	margin-right: -15px;
}
.parallax.hero1 {
	background-image: url("../graphics/hero1.jpg");
}
.parallax.hero2 {
	background-image: url("../graphics/Squamish_hero1.jpg");
}

@media(max-width:420px), (max-height:420px){
	.front .heroSearch .form-group{
		width:300px;
	}
}
.front .heroSearch {
	position:relative;
	text-align:center;
	color:#FFF;
	margin-top: 18vh;
	padding-top:50px;
	padding-bottom:50px;
	font-size:16px;
	text-shadow: 0px 0px 3px #000000;
	background-color: #484848;
	background-color: rgb(36, 36, 36, .9);
	box-shadow:0 2px 14px 0 rgba(0,0,0,.3);
	margin-left:40px;
	margin-right:40px;
}
@media(max-width:1024px){
	.parallax .heroSearch{
		margin-top: 17vh;
	}
}
@media(max-width:768px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
@media(max-height:420px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
@media (max-device-width:1024px){
	/* ipad and mobile disable background-attachment: fixed; fallback to no parallax so at least see image */
	.parallax {
		background-attachment: scroll;
	}
}



.heroSearch H1{
	color: #FFF;
	text-align: center;
	line-height: 1.1em;
	margin:0px;
	padding:0px 15px 0px 15px;
}
.heroSearch H1 .line1, .heroSearch H1 .line3 {
    font-size: 28px;
    text-transform: none;
    font-family: "Tahoma", sans-serif;
    font-weight: 100;
}
.heroSearch H1 .line3 {
    font-size: 20px;
}
.heroSearch H1 .line2{
	font-size: 43px;
	font-weight: 500;
	text-transform:none;
	color:#FFF;
	padding-top:20px;
	padding-bottom:20px;
	font-family: "Tahoma", sans-serif;
}
.heroSearch .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
    margin-top:20px;
}
.front .heroSearch .formOutline{
	display: inline-block;
	background-color:#FFF;
}
.front .heroSearch .form-group {	
    width: 400px;
    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.front .heroSearch .form-control, .front .heroSearch .form-control:focus{
	border:0px;
	box-shadow:none;
	font-size:18px;
	height:44px;
}
#heroSearchButton{
	color:#000;
	font-size: 20px;
}
.heroSearchAdvancedSearch{
	width: 400px;
	display: inline-block;
	font-size:16px;
	font-weight:300;
	text-align:right;
}
.heroSearchAdvancedSearch a{
	font-size:16px;
	font-weight:300;
}
@media(max-width: 1355px) {
	.heroSearch H1 .line1, .heroSearch H1 .line3 {
		font-size:24px;
	}
	.heroSearch H1 .line2 {
		font-size:35px;
	}
}

@media(max-width: 570px) {
	.heroSearch H1 .line1, .heroSearch H1 .line3{
		font-size:20px;
	}
	.heroSearch H1 .line2 {
		font-size:25px;
	}
	.heroSearch H1 .line2 {	
		padding-top:10px;
		padding-bottom:15px;
		line-height: 1.3em;
	}
	.front .heroSearch .form-group {
		width: 80%;
	}
	.heroSearchAdvancedSearch{
		width: 80%;
	}
}

.hpIntro .callout{
	text-align:center;
	font-size: 24px;
	color: #000;
	margin: 70px 0px 120px 0px;
	font-family: "Tahoma", sans-serif;
	font-weight: 300;
	line-height: 1.8em;
}
.hpIntro .calloutTitle{
	text-align:center;
	font-size: 28px;
	color: #000;
	margin-bottom:15px;
	font-family: "Tahoma", sans-serif;
	font-weight:600;
}
@media(max-width:767px){
	.hpIntro .callout{
		font-size: 20px;
	}
	.hpIntro .calloutTitle{
		font-size: 24px;
	}
}

#hpScrollBar{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: rgba(227, 230, 232, 0.3);
	color:#000;
	text-align:center;
	font-size:30px;
	padding:10px 0px 10px 0px;
	opacity:.8;
	left: 0px;
}
.front h2, .front h3{
	text-align: center;
	text-transform:capitalize;
	font-size:24px;
	padding-bottom:15px;
}
.front h2.highlights{
	padding-bottom:30px;
}

.front #frontTimelineContainer {
    height: 500px;
    margin-top:80px;
    margin-bottom:80px;
}
/* hp explore */
.bg_side_pattern{
	padding: 0px 10px 0px 10px;
	background-color: #FFFFFF;
	background-image: url("../graphics/bg-red-border.png");
	background-position: -74px 0px;
	background-repeat: no-repeat;
	background-size: contain;
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
	margin-bottom: 30px;
}
.bg_side_pattern.hpExploreBox a{
	display: block;
	padding: 92px 0;
	font-size: 20px;
	line-height: 27px;
	font-weight: 500;
	font-family: "Tahoma", sans-serif;
	text-align:center;
	color:#000;
}
.hpExplore{
	padding-top:45px;
	margin-bottom: 45px;
}
/*
.hpExploreBox{
	margin-bottom: 45px;
}
.hpExploreBox .hpExploreBoxImage {
	height:240px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.3);
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage1{
	background-image: url('../graphics/hero_1.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage2{
	background-image: url('../graphics/hero_1.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage3{
	background-image: url('../graphics/hero_1.jpg');
}
.hpExploreBox .hpExploreBoxDetails {
	padding: 15px 13px 22px;
	text-align:center;
}
.hpExploreBox .hpExploreBoxTitle, .hpExploreBox .hpExploreBoxTitle a {
	font-size:20px;
	line-height:28px;
	color:#000;
	text-transform:uppercase;
	margin-bottom:6px;
	font-family: "Tahoma", sans-serif;
}
.hpExploreBox .hpExploreBoxTitle a:hover {
	text-decoration:none;
}
*/
/* gallery */
@media(max-width:768px){
	.galleryList{
		text-align:center;
	}
	.gallery H1{
		text-align:center;
	}
}
.galleryList{
	margin-bottom:30px;
}
.galleryList img{
	width:100%;
	height:auto;
	max-width:250px;
}
.galleryList label {
    display: block;
    font-size: 15px;
    text-transform: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1.1em;
    margin-top: 5px;
    font-weight: bold;
}
.gallery .setDescription {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.8em;
}
.gallery .unit{
	margin-bottom: 12px;
	font-size:14px;
}
.gallery .galleryViewRecord{
	padding-top:15px;
}
.gallery .galleryDetailBottom {
	border: 0px;
	background-color: #f0f0f0;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0px;
}
.gallery #galleryDetailImageGrid img {
  background-color: #fff;
}
/* collections */
.collectionIntro {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.8em;
}
.collectionsList a{
	text-decoration:none;
}
.collectionTile:hover{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.collectionTile {
  font-size: 14px;
  line-height: 1.8em;
}
@media(min-width:768px){
	.collectionTile {
		min-height: 240px;
	}
}

.form-control:focus {
	border-color: #000;
}
.front .notificationMessage, .front .notificationInfo {
	position: absolute;
	z-index: 5;
	left: 10%;
	width: 80%;
	text-align: center;
}

#collectionLoad div.hierarchyObjects{
	margin-left:10px;
}
#collectionLoad div.hierarchyObjects label{
	cursor: pointer;
}

#collectionLoad div.hierarchyObjects a{
	font-weight:normal;
	font-size:13px;
}
/* Header with background image like on Browse All and External Resources */
.pageHeaderRow{
	padding-top:30px;
	padding-bottom:15px;
	margin-top:-20px;
	margin-bottom:40px;
	line-height: 1.8;
	font-size: 16px;
	font-weight:400;
	color:#FFF;
}
.pageHeaderRow H1{
	color: #FFF;
	font-size:28px;
	text-transform:capitalize;
}

.pageHeaderRow.dark, .pageHeaderRow.dark H1{
	color:#000;
}
.exploreRow p, .exploreRow .text-center{
	margin-bottom:40px;
}
/* browse all */
.landingBox{
	margin-bottom: 45px;
}
.landingBox .landingBoxImage {
	height:240px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.3);
}
.landingBox .landingBoxImage.landingBoxImage1{
	background-image: url('../graphics/hero_1.jpg');
}
.landingBox .landingBoxImage.landingBoxImage2{
	background-image: url('../graphics/hero_1.jpg');
}
.landingBox .landingBoxImage.landingBoxImage3{
	background-image: url('../graphics/hero_1.jpg');
}
.landingBox .landingBoxImage.landingBoxImageArchives{
	background-image: url('../graphics/Archival_Item_sm.jpg');
}
.landingBox .landingBoxImage.landingBoxImageCollections{
	background-image: url('../graphics/Archival_Collection_sm.jpg');
}
.landingBox .landingBoxDetails {
	padding: 15px 13px 22px;
	text-align:center;
}
.landingBox .landingBoxTitle, .landingBox .landingBoxTitle a {
	font-size:20px;
	line-height:28px;
	color:#000;
	text-transform:capitalize;
	margin-bottom:6px;
	font-family: "Tahoma", sans-serif;
}
.landingBox .landingBoxTitle a:hover {
	text-decoration:none;
}
/* listing */
.listing{
	padding-bottom:40px;
}
.listingContainer{
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
}
.listingContainerImgContainer{
	max-height:400px;
	overflow:hidden;
}
.listingContainerResources{
	margin-bottom:45px;
}
.listingContainerResources .listingContainerImgContainer img{
	width:100%;
	height: auto;
}
.listingContainerResources .listingContainerImgContainer {
	max-height:650px;
}
.listingContainer .listingContainerDesc {
	background-color:#DBD5CD;
	/*background-color:#e8e6e3;*/
	color:#000;
	padding:20px;
	font-size:16px;
	font-weight:300;
}
.listingContainer .listingContainerDesc .listingTitle{
	text-transform:none;
	color:#000;
	margin-bottom:5px;
}
.listingContainer .listingContainerDesc .listingTitle a{
	text-transform:none;
	color:#000;
	font-size:20px;
	font-weight:600;
}
.listingContainer .listingContainerDesc .listingTitle a:hover{
	text-decoration:none;
	color:#D23929;
}
.listingContainer .listingContainerDesc small{
	margin-bottom:25px;
	display:inline-block;
	font-size:12px;
}
.listingContainer .listingContainerDesc small a{
	color:#000;
}
.listingContainer .listingContainerDesc .text-center{
	margin:40px 0px 30px 0px;
}
/* detail */
.detail h1{
	font-size: 18px;
	color:#000;
}
.detail h2 {
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	padding-bottom: 0px;
	margin: 10px 0px 5px 0px;
	font-weight: 400;
}
.detail .unit a{
	color:#D23929;
	text-decoration:underline;
}
.detail .unit{
	font-size: 14px;
	color: #000;
}
.detail label {
	font-size: 13px;
	color: #000;
	text-transform: capitalize;
	font-weight:600;
	margin-bottom: 0px;
}
.detail #detailTools{
	margin-top:0px;
}
.detail a, .detail .detailTool, .detail .detailTool .glyphicon {
	color: #000;
}
.detail a:hover, .detail .detailTool a:hover .glyphicon, .detail .detailTool a:hover   {
	color: #D23929;
}
.detail .detailPlaceholderContainer{
	background-color: #F5F5F5;
	border: 2px solid #EDEDED;
	color: #000;
	padding: 60px 30px 72px;
	text-align: center;
	width: 100%;
	font-size: 18px;
}
.detail .unit a.btn{
	color:#FFF;
	text-decoration:none;
}
div.caMediaOverlayControls .objectInfo {
	width: auto;
	float: right;
	padding-top: 4px;
}
div.caMediaOverlayControls, div.caMediaOverlayControls:hover {
	top: 30px;
	width: auto;
	right: 0px;
	left: auto;
	background-color:transparent;
}
/* advanced Search */
.advancedSearchField .formLabel {
	text-transform: capitalize;
	color: #000;
	font-size: 14px;
	font-family: Tahoma;
}
.advancedSearch H2{
	font-size:18px;
	margin-top:0px;
}

/* collections */

.collectionTile .title {
  padding-bottom: 10px;
  font-family: Tahoma;
  font-weight:400;
  font-size:18px;
}
.collectionsContainer a .fa, .collectionsContainer .fa, #collectionLoad a .fa, #collectionLoad .fa {
	color: #000;
}
.unit .collectionsContainer a, #collectionLoad a {
	text-decoration:none;
	color: #000;
}
.unit .collectionsContainer a:hover, #collectionLoad a:hover {
	text-decoration:none;
	color: #D23929;
}
.unit .collectionsContainer a.active:hover{
	color: #FFF;
}
.collectionsContainer small {
	padding-left: 10px;
}
#collectionLoad div a, #collectionLoad div .nonLinkedCollection {
  font-size: 14px;
  font-weight: 600;
}
/* timeline */
.front #frontTimelineContainer {
    height: 500px;
    margin-top:80px;
    margin-bottom:80px;
}
.front #frontTimelineContainer h2{
	text-align:left;
}
.front .tl-timeline h2.tl-headline-title{
	color:#D23929;
	text-align:left;
}
/*.front .tl-timeline h2{
	padding-top:15px !Important;
}*/
.front .tl-timemarker-content-small h2{
	padding-top:0px !Important;
}

.tl-media-content img{
	max-height:auto !important;
	height:auto !important;
	width:auto !important;
}
.galleryTimelineDate{
	font-size:.75em;
	color:#959595;
}
.tl-slidenav-title .galleryTimelineDate{
	color:#000;
}
.tl-slidenav-content-container .galleryTimelineDate{
	font-size:1em;
}
.tl-timemarker-content h2.tl-headline {
	text-transform:none;
	font-size:12px !important;
}
.tl-slidenav-description{
}
.tl-timemarker-text .tl-headline{
	padding-top:0px;
}
h2.tl-headline{
	padding-top:0px;
}
.tl-slidenav-previous .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-description{
	opacity: .8 !important;
	font-family: Tahoma !important;
}
.tl-headline.tl-headline-fadeout{
	color:#777777 !important;
}
.tl-timemarker-media{
	opacity:.5 !important;
}
.tl-menubar-button{
	color:#999 !important;
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick{
	color:#333 !important;
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick{
	color:#999 !important;
}
.tl-timeline {
    font-family: Tahoma !important;
    font-weight:600;p
}
.tl-text-content{
    font-family: Tahoma !important;
}
.tl-timeline h2, .tl-timeline h3{
	font-family: Tahoma !important;
}
.tl-text-content, .tl-timeline p, .tl-text p {
	font-family: Tahoma !important;
	color: #000 !important;
}
.tl-timeline .tl-caption, .tl-timeline .tl-credit{
	font-family: Tahoma !important;
	color: #000 !important;
	opacity:1 !Important;
}
.tl-timeline em {
	font-family: Tahoma !important;
}
.tl-timeline .tl-headline-date, .tl-timeline h3.tl-headline-date{
	font-family: Tahoma !important;
	color: #000 !important;
	font-weight: 600 !important;
	text-align:left !important;
}
.tl-timenav {
	background-color: #DBD5CD !important;
}
.tl-timemarker .tl-timemarker-content-container{
	background-color: #fff !important;
	border:0px !important;
}

/* User Guide */

.userGuideBody H2{
	clear:both;
}
.userGuideBody H3{
	text-transform:none;
	clear:both;
}
.userGuideBody{
	font-size:16px;
	border-left:1px solid #dedede;
	margin-top: -15px;
	padding-top:15px;
}
@media(min-width:1010px){
	.userGuideBody{
		padding-left:55px;
	}
}
.userGuideBody ul{
	line-height:1.8em;
	font-size:16px;
}
.userGuideBody img{
	height:auto;
	max-width:80%;
}
.userGuideBody .imgSmall, .userGuideBody .imgMed, .userGuideBody .imgLarge, .userGuideBody .imgFull{
	text-align:center;
}
.userGuideBody .imgSmall img{
	height:auto;
	width:25%;
	max-width:100%;
}
.userGuideBody .imgMed img{
	height:auto;
	width:50%;
	max-width:100%;
}
.userGuideBody .imgLarge img{
	height:auto;
	width:75%;
	max-width:100%;
}
.userGuideBody .imgFull img{
	height:auto;
	width:100%;
	max-width:100%;
}
@media(min-width:768px){
	.userGuideSideNav{
		position:fixed;
		width: 15%;
	}
}
.userGuideSideNav{
	margin-top: -15px;
	padding-top:15px;
}
.userGuideSideNav a{
	font-size:15px;
	color:#454545;
	text-decoration:none;
}
.userGuideSideNav ul{
	padding-left: 0px;
	list-style: none;
}
.userGuideSideNav ol{
	padding-left: 15px;
}
.userGuideSideNav H2{
	margin-top: 40px;
	color:#000;
}
.userGuideAnchor{
	position: relative;
	top: -95px;
}
.userGuideBody .video-js{
	width:100% !important;
	height:500px !important;
}
/* static pages */
.staticPage{
	font-size:16px;
	line-height:1.8em;
}
.staticPage h1{
	color:#000;
}
/*@media (min-width:768px){
	.colText{
		-webkit-columns: auto 2;
		-moz-columns: auto 2;
		columns: auto 2;
		-webkit-column-gap: 50px;
		-moz-column-gap: 50px;
		column-gap: 50px;
	}
}*/

.multisearch .authorityResult {
	margin-bottom: 5px;
	height: 74px;
}