
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400&display=swap');

@import  "_bs_variables";
@import "~bootstrap/scss/bootstrap";

a{
	text-underline-offset: .25rem;
}

.img-fluid img{
	width:100%;
	height:auto;
}
.object-fit-contain img{
	object-fit: contain !important;
}

.dropdown-menu{
	box-shadow: 0 .35rem .25rem rgba(#000, .075);
}
a.bg-body-tertiary:hover {
    filter: brightness(95%);
}
.btn-white{
	color: $primary;
	background-color:#FFF;
}
.btn-white:hover{
	text-decoration:underline;
}
/* ------------------------- Front ------------------------- */
.parallax {
    position: relative;
    background-image: url("../assets/graphics/hero_1.jpg");

    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero1, .hero2, .hero3 {
        background-image: url("../assets/graphics/hero_1.jpg");
    }
}
.hpExplore{
	img{
		height:250px;
	}
}

@media (max-device-width:1024px) {
    /* ipad and mobile disable background-attachment: fixed; fallback to no parallax so at least see image */
    .parallax {
        background-attachment: scroll;
    }
}


/* ------------------------- Details ------------------------- */
.detail{
	.detailPrimaryImage{
		img{
			height:450px;
			width:100%;
		}
	}
}
//.detail-container{
  //  margin-top: 20px;

    //.row{
    //    margin-bottom: 20px;
    //}

    // trial clamping
    // .trim.collapse{
    //     height: 200px;
    //     display: -webkit-box;
    //     -webkit-box-orient: vertical;
    //     // -webkit-line-clamp: 5;
    //     overflow: hidden;
    // }
    // .trim.collapse.show{
    //     height: 100%;
    //     display: block;
    //     -webkit-line-clamp: unset;
    //     overflow: unset;
    // }
    // .trim.collapsing{
    //     transition: .5s;
    // }
    // .trim.collapsing[aria-expanded="false"] {
    //     transition: .5s;
    //     height: 200px;
    // }
    // .read-more-btn.collapsed:after{
    //     content: '+ Read More';
    // }
    // .read-more-btn:not(.collapsed):after{
    //     content: '- Read Less';
    // }
//}

/* ------------------------- browse results ------------------------- */
#browseResultsContainer{
	.card{
		img.object-fit-cover{
			object-position:middle center;
		}
		img, .ca-placeholder{
			height:200px;
			width:100%
		}
	}
}
#bRefine{
	z-index:999;
}
@media(max-width:767px) {
	#bRefine{
		position:fixed;
		top: 0px;
		width: 100%;
		left: 0px;
		display:none;
	}	
	#bRefine.show{
		display:block !important;
	}
}
@media(min-width:768px) {
	#bRefine{
		display:block !important;
	}
}

/* ------------------------- Collections ------------------------- */
.collections{
	.card{
		img.object-fit-cover{
			object-position:middle center;
		}
		img{
			height:200px;
			width:100%
		}
	}
}
/* ------------------------- Gallery ------------------------- */
.gallery{
	.card{
		img.object-fit-cover{
			object-position:middle center;
		}
		img{
			height:200px;
			width:100%
		}
	}
	#galleryDetailItemInfo{
		min-height:450px;
		#galleryDetailImageWrapper{
			img{
				height:450px;
				width:100%;
			}
		}
	}
}