body {

}

.container {

}


h1,h2,h3,h4,h5,h6,h7,h8.h9 {

}

h1 {

}

h6{

}

a {

}

a:hover {

	
}
.svaMenu li.active a {
	color:red;
}

.svaMenu a:hover, .about a:hover {
	border-bottom: 3px solid #ccc;
}

.svaMenu li:first-child {
	font-size: 12px;
	letter-spacing: 1px;
	padding-top: 5px;
}



.detail ul {
	padding:0px;
	margin:0px;
	margin-bottom:10px;
}
.detail ul li {
	list-style-type:none;
}
.objectContents td{
	padding:5px 10px 5px 10px; 
}
.navbar-default .navbar-brand {
	font-size:17px;
	color:#000;
	width:350px;
	padding-top:15px;
}
.navbar-brand .red {

	color:red;
}

.navbar {
	background-color: #f0f0f0;
}

#user-navbar {

}

.navbar-brand a {
	color:#000;
}
.navbar-brand a:hover {
	text-decoration:none;
}

.navbar .formOutline {
	border-radius: 0;
	border-color: black;
	background-color: white;
	margin-left: 0
}

.navbar a:hover {
	border: 0
}

.navbar-right {

}

.btn-search {
	float: right;
	margin-top: -27px;
	background: none;
	border: 0;
}

.svaMenu {
	margin-top:10px;
	height:25px;
	float: left;
}

ul.svaMenu  {

	margin-left:0px;
	padding-left:0;
}

.svaMenu li {
	list-style-type:none;
	float:left;
	margin-right:20px;
	font-size:15px;
	
}
}
.svaMenu li a{
	color:#000;
}

h2.about {
	font-size:14px;
	margin-top: 13px;
}



.front H1 {

}
.splashImage {

}
.exGrid {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	width:200px;
	height:220px;
}	
.fullListing {
	float:right;
	clear:both;
}
div.advancedSearchField {
	width:90%;
	clear:both;
	float:none;
	padding-bottom:20px;
}
.advSearch h1 {
	padding-bottom:20px;
}
.advTitle {
	width:20%;
	display:inline-block;
	
}
.advField {
	width:70%;
	display:inline-block;
}
.advField textarea {
	height: 25px !important;
	border-color:#ddd;
}
.advsubmit, .advreset {
	float:right;
	margin:0px 10px 0px 10px;
}
.detailImage img, #caMediaDisplayContentMedia {
	width:100%;
	height:auto;
}


.detailLabel {
	vertical-align: top;
	width:20%;
	border-top:1px solid #ccc;
	display:inline-block;
}
.detailInfo {
	width:80%;
	padding-left: 20px;
	border-top:1px solid #ccc;
	display:inline-block;
}
.detailLabel, .detailInfo {
	line-height:1.7em;
	padding: 5px 0;
}
.detail #bViewButtons {
	padding-top:20px;
}
.detailPlaceholder {
	background-color:#eee;
	width:100%;
	height:250px;
}
.fa-reply.collection {
	-ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
}
.navbar-right .glyphicon.glyphicon-list {
	font-size: 17px;
	padding-top: 3px;
	margin-left:-5px;
}

/* Browse */

.nextNav {
	float:right;
}
.prevNav {
	float:left;
}
.results a.prevNav .fa, .results a.nextNav .fa {
  color: red; 
}
.alpha a {
	text-transform:uppercase;
}
.results strong {
	font-weight:bold;
	color:red;
	font-size:14px;
}
#browseResultsContainer {

}
.currentLetter {
	clear:both;
	font-size:28px;
	width:100%;
	text-transform:uppercase;
	border-top:1px solid #000;
	padding-left:10px;
	padding-top:10px;
	margin-top:10px;
}
.exhibitions .bResultItem {
	padding:0;
	margin: 0;
	max-height: 200px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

.exhibitions .bResultItemCol {
	height: 150px;
}

.exhibitions .bResultItem:hover {

}
.exhibitions .bResultItem:hover .bResultItemContent {

}
.exhibitions .bResultItem .bResultItemImg {
	float:left;
	min-height:0px;
	width:100%;
	background-color: #fefefe;
}
.exhibitions .bResultItemContent {
	height:150px;
	margin:10px 0 0 0;
	padding: 0;
}
.occurrences.browse.results .bResultItemCol  {
	height:150px;
}
.exhibitions .bResultItem {
	font-size:12px;
	box-shadow:none;
	-webkit-box-shadow: none;
}
.extitles {
	padding:5px 0px 5px 0px;
	border-bottom:1px solid #ccc;
}
#bRefine {
	padding-left:3px;
}
#bRefine a{
	color:#000;
}
#bRefine div {
	float:left;
	padding-right:10px;
}
#bRefine h3, #bRefine h5 {
	float:left;
	margin-top:0px;
	font-size:14px;
	padding-right:10px;
	color:#000;
}
.exhibitions .bResultItemImgPlaceholder {
	padding: 25px 40px 25px;
	background-color: #efefef;
}
.bResultListItemContent {

}
.bResultListItem:hover {

}
.bResultListItem {
	-webkit-box-shadow: none;
	box-shadow:none;
}
.bResultListItemCol {
	height: 40px;
}
.clearRefine {
	width:100%;
	clear:both;
	border-top:1px solid #ccc;
	padding:0px;
}
.bResultItem:hover {

}
.bResultItem {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.ca_objects.browse .bResultItemImgPlaceholder {
	border:0px;
}
.ca_objects.browse .bResultItemImgPlaceholder .fa {
	display:none;
}
.bResultItemCol {

}
.bResultItemContent {

}
.bResultItem:hover .bResultItemContent {

}
.bResultItem .bResultItemImg {
	max-height:none;
}

/* Finding Aid */
.findingAidScope {
	font-weight:200; 
	margin: 0 0 10px 30px;
	text-indent: 0px;
	font-size:11px;
}

.collHeader {
	line-height: 2em;
	margin-top: 5exttipx;
}



#findingAidCont .collHeader div a {
	font-size: 16px;
	font-weight: bold;
	margin: 40px 0 0 0;	
}

#findingAidCont .collHeader i {
	display: none;
}


.collHeader i {
	float: left;
	line-height: 2em;
	margin: 0 5px 0 0;
}

.collHeader>div {

}

.findingaid table {
	margin-left:25px;
	width:95%;
	table-layout: fixed;
}

.findingaid tr {
	border: 0;
}
.findingaid th {
	letter-spacing: 2px;
	font-weight: normal;
	border: 0;
	font-size: .9em;
	text-align:left;
}
.findingaid td { 

}

ol#table_of_contents  {
	list-style-type: none;
	padding-left: 0px;
	line-height: 30px;
	padding-bottom: 40px;
}

ol#table_of_contents li.subseries {
	padding-left: 20px;
}

ol#table_of_contents li.level-1 {
	padding-left: 20px;
}

ol#table_of_contents li.level-2 {
	padding-left: 40px;
}

.col_box_drawer, .col_folder_item {
	width: 30px;
}

.col_title {
	width: 100%;
}

.col_date {
	width: 100px;
}


ol#table_of_contents a {
	border-bottom: 1px solid black;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    font-size: 150%;
    color: #ccc;
    content: "\2192";
    vertical-align: -1px;
}
.breadcrumb > .active {
    color: #999999;
}
.hierarchyLevel a {
	border-bottom:1px solid #000 !important;
}
.hierarchyLevel {
	margin-bottom:10px;
}
.findingaid th {
    letter-spacing: 2px;
    font-weight: normal;
    border: 0;
    font-size: .8em;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
.table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #dddddd;
}
.findingaid thead > tr > th {
    border: 0;
    padding-left: 8px;
    text-align: left;
}
.toc-series{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 0px;
    text-decoration: none;
}


