/* 
NHM Blue #0072C6
Teal Blue #00aeef
Navy Blue #005a93
Gray #bcbec0
Collections purple #4e2f91
*/

/*@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir-Medium.ttf');
  font-weight: regular;
  font-style:normal;
}
@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir-MediumOblique.ttf');
  font-weight: regular;
  font-style:italic;
}
@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir-Black.ttf');
  font-weight: bold;
  font-style:normal;
}
@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir-BlackOblique.ttf');
  font-weight: bold;
  font-style:italic;
}
*/
@font-face {
  font-family: Futura;
  src: url('fonts/FuturaPTMedium.ttf');
  font-weight: 400;
  font-style:normal;
}
@font-face {
  font-family: Futura;
  src: url('fonts/FuturaPTBold.ttf');
  font-weight: bold;
  font-style:normal;
}
@font-face {
  font-family: Futura;
  src: url('fonts/FuturaPTBook.ttf');
  font-weight: 300;
  font-style:normal;
}
body {
	font-family:Futura;
	color:#000;
	font-size:18px;
	line-height: 24px;
	font-weight:300;
}
.clearfix {
	width:100%;
	clear:both;
}
@media (min-width:1000px){
	.container {
	    max-width: 970px;
	}
}
@media (min-width:1200px){
	.container {
		max-width: 1170px;
	}
}
h1, h2 h3, h4, h5, h6 {
	font-family: Nunito;
	font-weight:700;
	color:#4e2f91;
}
h1{
	color:#000;
}
h2 {
	color:#4e2f91;
}
.browse .btn, .sets .btn, .btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
	background-color:#4e2f91;
}
a, a:hover, a.readmore-js-toggle, a.readmore-js-toggle:hover {
	color:#4e2f91;
}
a:hover {
	text-decoration:underline;
}
#pageArea.contact, #pageArea.staticPage{
	padding-top:28px;
}
#pageArea.contact h1, #pageArea.staticPage h1{
	margin-top:10px;
}
.detail hr {
	clear: both;
    color: #ccc;
}
.verytop {height: 51px;background: #e3e3e3; padding: 0 0 10px 0; text-align: right;}
.verytop .menu-top-menu-container {display: inline-block;}
.verytop .menu-top-menu-container {margin-top: 12px;}
.verytop ul li {display: inline-block; padding: 0 8px; }
.verytop ul li a, .verytop ul li a:hover {color: black; text-transform: uppercase; text-decoration:none;}

@media all and (min-width: 992px) and (max-width: 1199px) {
	.verytop > .container, header > .container {width: calc(100% - 60px); padding: 0;}
}
@media all and (max-width: 991px) {
	.verytop > .container, header > .container {width: 100%; padding: 0;}
}
@media all and (max-width: 768px) {
	.verytop ul li {padding: 0 5px;}
	.verytop ul li a { font-size: 14px;}
	.verytop ul li {display:none;}
	.verytop ul li:first-child {display: inline-block;}
}
.navbar-brand {
	width:auto;
	margin-top: -51px;
	padding:0px 14px 0px 0px;
}
.navbar-brand img{
	width:87px;
	height:auto;
}
@media all and (max-width: 768px) {
	.navbar-brand{
		margin-left:-15px;
	}
}
.nav .caret, .nav a:hover .caret {
    border-top-color: #333;
    border-bottom-color: #333;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    margin-top: -2px;
    margin-left:10px;
}

@media (max-width: 1010px) {
	ul.menuItems {
		width:auto;
		border-top:none;
	}
}
@media(max-width:768px){
	.navbar-collapse {
		width:100%;
		margin:10px 0px 0px 0px;
		padding-left:30px;
		padding-right:0px;
		border-top:0px;
		max-height:500px;
	}
	.navbar-nav{
		padding-left:15px;
	}
	.navbar-form.navbar-right{
		margin:0px;
		padding:0px;
	}
	.navbar-toggle-user{
		margin-right: -15px;
	}
}

.container > .navbar-header, .container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-toggle, button.navbar-toggle:hover{
	margin-bottom:0px;
	border:0px;
	color:#333;
	background-color:#fff
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none repeat scroll 0 0 #e3e3e3;
    margin-bottom:0px;
}
.navbar-header {
	background-color:#ffffff;
	float:none;
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    text-transform: uppercase;
	font-weight:300;
    height: 51px;
    line-height:54px;
	font-family:Futura;
	padding-top:0px;
	padding-bottom:0px;
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;	
    color: #333333;
}
.nav > li > a{
	padding-left:10px;
	padding-right:10px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color:#fff;
	color: #333333;
}
.nav > li.dropdown > a.icon {
	padding-top:0px;
	padding-bottom:0px;
	line-height:49px;
}
.nav .dropdown-menu li {
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Futura;
}
.nav .dropdown-menu {
	margin:0px;
	padding:0px;
	box-shadow:none;
	border:0px;
	background-color:#4e2f91;
}
@media(min-width:768px){
	.nav li .dropdown-menu {
		display: block;
		height:0px;
		overflow:hidden;
	}
	.nav li:hover .dropdown-menu {
		height:auto;
	}
	.nav li .dropdown-menu > li:first-child{
		 webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;margin-top:10px;
		margin-top:10px;
	}
	.nav li:hover .dropdown-menu > li:first-child{
		margin-top:5px;
	}
}
.nav .dropdown-menu > li > a {
   border: 0 none;
    background-color: #fff;
    line-height: 1.5;
    padding: 5px 10px;
    width: auto;
    color: #333333;
    font-size: 16px; 
    font-weight: 300; 
    letter-spacing: 0px;   
}
.nav .dropdown-menu > li:hover {
	background-color:#d6d6d6;
}
.nav .dropdown-menu .dropdown-header, .nav .dropdown-menu .nav-divider{
	background-color:#ffffff;
}
.navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:focus, .navbar .dropdown-menu > .active > a, .navbar .dropdown-menu > .active > a:hover, .navbar .dropdown-menu > .active > a:focus {
	background-color:#ddd;
	color: #333;
}
.navbar-default .navbar-form {
	margin-bottom:0px;
	margin-top:7px;
}
.navbar .formOutline {
	border:0px;
	border-radius:0px;
	background-color:#f2f2f2;
	box-shadow:none;
	-webkit-box-shadow:none;
	-webkit-transition:none;
}
.form-control {
	font-size:14px;
}
.navbar #user-navbar .dropdown-menu .nav-divider {
	padding:0px;
}
.banner {
	background-color:#4e2f91;
	color:#fff;
	clear:both;
	width:100%;
	padding-top:48px;
	padding-bottom:48px;
	font-size:32px;
	line-height:1em;
	font: bold 32px 'Nunito', 'futura-pt', sans-serif;
	text-transform: uppercase;
}
.banner a, .banner a:hover{
	color:#fff;
	font-size:32px;
	line-height:1em;
	font: bold 32px 'Nunito', 'futura-pt', sans-serif;
	text-transform: uppercase;
	text-decoration:none;
}
.bannerImg {
	background-image:url('../graphics/collections-museum.jpg');  
	min-height: 270px;
	background-size: cover !important;
	background-position: center center;
	width: 100%;
	text-align: left;
	margin-bottom: 55px;
}
.bannerImg img{
	width:100%;
	height:auto;
}
.btn-search {
	background-color:transparent;
	padding-top:7px;
	padding-right:7px;
}
.disabled {
    pointer-events: auto !important;
}
#footer {
	background-color:#0072C6;
	color:#fff;
	height:320px;
	font-size:16px;
	padding:50px 0px 75px 0px;
	font-family: Futura;
	margin-top:20px;
	text-align:center;
	font-weight:300;
	line-height:28px;
	border:0px;
}
body {
	margin-bottom:360px;
}
@media(max-width:500px){
	#footer {
		height:500px;
	}
	body{
		margin-bottom:560px;
	}
}
#footer a {
	color:#fff;
	text-decoration:none;
}
#footer a:hover{
	opacity: .8;
	text-decoration:none;
}
#footer .socialLinks i {
	background: none;
    font-size: 26px;
	margin: 24px 10px;
    padding: 8px;
    color: #fff;
}
#footer .tp div {
	display:inline-block;
	padding:0px 10px;
}
.container.bottom {
	border-bottom: 3px solid #FFEC4F;
	width: 968px;
    padding: 0 20px 24px 20px;
    margin: 0 auto;	
}
#footer .acknowledgement{
	padding-top:40px;
}
#footer .acknowledgement img{
	width:200px;
	height:auto;
	display:block;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
}
@media(min-width:600px){
	#footer .acknowledgement{
		text-align:left;
	}
	#footer .acknowledgement img{
		float:left;
		margin-right:25px;
		margin-bottom:0px;
		display:inline;
	}
}
/* Front */

.front .jcarousel {
	background-color:#333;
}
.nomax {
	max-width:none;
	padding:0px;
}
.frontSlide {
	opacity:.5;
}
.activeSlide .frontSlide {
	opacity:1;
}
.activeSlide .frontSlideCaption {
	opacity:.9;
}
.container.purple, .row.purple {
	background-color: #4e2f91;
	color:#fff;
	padding-top:40px;
	padding-bottom:40px;
	font-size:20px;
	margin-bottom:25px;
}
.row.purple {
	padding:0px;
}
.row.purple img{
	width:100%;
	height:auto;
}
.front H1{
	font-family:Futura;
	font-weight:bold;
	padding-top:10px;
	letter-spacing:1px;
	font-size:24px;
	line-height:28px;
	color:#000;
}
.gallery h1 a {
	color:#000;
}
.featured a{
	color:#000;
}
.row .gray {
	background-color:#f3f3f3;
	margin-bottom:25px;
	padding:20px;
	padding-bottom:40px;
	padding-top:40px;
}
.row .white {
	margin-bottom:25px;
	padding:20px;
}
.front .title {
	padding-top:35px;
	padding-bottom:15px;
}
.front .description {
	font-size:16px;
	line-height:1.8em;
}
.setButton {
	background-color:#fff;
	color:#4e2f91;
	display:inline-block;
	text-transform:uppercase;
	font-size:12px;
	padding:6px 10px;
	margin:30px auto 0px auto;
}
.block {
	display:block;
	text-align:center;
}
.tile {
	border-bottom:1px solid #eeeeee;
	padding-bottom:25px;
	clear:both;
}
.homeHeader {
	font-weight:700;
	margin-bottom:20px;
	font-family:nunito;
	font-size:24px;
	line-height:24px;
}
.homeText {
	margin-bottom:35px;
}
.homeIcon {
	text-align:center;
	margin-bottom:10px;
}
.homeLink {
	background-color:#4e2f91;
	color:#fff;
	display:inline-block;
	text-transform:uppercase;
	font-weight:bold;
	padding:8px 12px 6px 12px;
	font-size:13px;
	margin-top:20px;
}
.homeLink a {
	color:#fff;
}
.homeLink a:hover {
	text-decoration:underline;
}

/* Detail */

.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color:transparent;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small, .detail .detailNavBgLeft a, .detail .detailNavBgRight a{
	color:#333;
	font-size:22px;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small {
	font-size:11px;
	font-family:Futura;
	line-height:1.5em;
}
.detail h6 {
	line-height: 1.5;
    color: #333333;
    font-family: Nunito;
    font-size: 16px;
    font-weight:600;
}
.detail, .detail .detailTool {
    text-align: justify;
    line-height: 1.5;
    color: #333333;
    font-family: 'Futura',sans-serif;
    font-size: 16px;    
}
.detail .detailTool a, 
.detail .detailTool span {
	text-transform:none;
	color:#333;
}
.detail .detailTool span{
	padding-right:5px;
}
#detailTools {
	padding-bottom:50px;
}
.homeIcon img {
	max-width:400px;
	width:100%;
	height:auto;
}
.detail .unit {
	border-bottom:1px solid #eeeeee;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:4px;
}
.unit h6 {
	display:inline-block;
	width:40%;
	vertical-align:top;
	text-align:left;
	margin-top:0px;
}
.unit .data {
	display:inline-block;
	width:60%;
	margin-top:0px;
}
.unit.text h6 {
	display:block;
}
.unit.text {
	padding-bottom:10px;
}
#detailRepNav {
	display:none;
}
.jcarousel-wrapper, .jcarousel {
    width: 100% !important;
}
.detail .detailMediaToolbar {
	padding-right:12px;
}


/* Search */

.attributeListItem {
	width:100%;
}
.bResultItem .bResultItemText, .multisearch .multisearchResult, .multisearch .authorityResult a{
	font-size:13px;
}
.multisearch #browseResultsContainer {
	margin-left:-13px;
	margin-right:-13px;
}
.bResultItem:hover {
	margin:0px;
}
.bResultItemContent {
	height:300px;
}
.bResultItemCol {
    height: 350px;
}
.fa-2x {
	font-size:28px;
}
.multisearch .multisearchResult {
	width:200px;
	height: 175px;
}
.multisearch #collectionsBlock .blockResults {
    height: 200px;
}
.multisearch #collectionsBlock .scrollButtonNext, .multisearch #collectionsBlock .scrollButtonPrevious {
    height: 180px;
    padding-top:80px;
}
.multisearch .multisearchResult img {
	margin-bottom:10px;
}
.bResultItem {
	box-shadow:none;
	border:1px solid #ccc;
}
.bResultItemImgPlaceholder {
	border:0;
	margin-bottom:0px;
}	
.advancedSearchField .formLabel {
	color:#000;
	font-size:14px;
}

.bResultItem .bResultItemText, .multisearch .multisearchResult, .multisearch .authorityResult a {
	font-size:15px;
	line-height:20px;
}
.bResultItem .bResultItemText .browseTitle a{
	color:#4e2f91;
	font-family:Nunito;
	font-weight:600;
}
#bRefine a {
	font-size:15px;
	color:#000;
}
#bRefine H3 {
	color:#000;
}
#bRefine H5 {
	font-size:15px;
	text-transform:capitalize;
}
#bMorePanel #bScrollList a, #bMorePanel .bFilterCount {
	color:#000;
	font-size:15px;
}
h1#bScrollListLabel {
	margin-left:8px;
}
.results a .glyphicon, .results a .fa {
	color:#333 !important;
}
.results a .fa.fa-gear {
    color: #333 !important;
    padding-top:4px;
}
.results button .glyphicon {
	color: #fff !important;
}
.results strong, .sets H5 strong {
	font-size:14px;
}
.browse .btn {
	margin-top:-4px;
}
.browse .dropdown-menu {
	font-size: 14px;
}
.browse .dropdown-header {
	font-size:14px;
	color:#333;
}
.multisearch .authorityResult {
	height:75px;
}
.multisearch .blockResultsScroller {
	height:250px;
}
.multisearch .authoritySet {
	height:250px;
}
.multisearch .blockResults {
	height:250px;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious {
	font-size:26px;
}
.multisearch #entitiesBlock .scrollButtonNext, .multisearch #entitiesBlock .scrollButtonPrevious {
	padding-top:100px;
	height:240px;
}
.multisearchFullResults a, .multisearch H3 a, .multisearch H3 a:hover, .multisearchSort ul li a {
	color:#333;
}
.advancedSearchField input, .advancedSearchField textarea, .advancedSearchField select {
	font-size:14px;
}	



/* Collection */

.collectionsContainer .label, #collectionLoad .label {
	white-space:nowrap !important;
	text-align:left !important;
}
.collectionsContainer a, .collectionsContainer .listItem {
    font-size: 16px;
    color: #000;
    font-weight: 300;
}
.collectionsContainer small{
	padding-left:7px;
}
#collectionLoad .label a {
	font-weight:400;
	color:#000;
}
#collectionLoad p {
	font-size: 14px;
}

#collectionLoad div a, #collectionLoad div .nonLinkedCollection {
    font-size: 15px;
    color:#000;
}
.detail a, .detail a:hover {
    color:#000;
}
#collectionsWrapper .unit {
	border:0px;
}
.dlButton {
	display:none;
}

/* Gallery */

.gallery {
	font-size:18px;
}
.gallery .gray h1 {
    font-family: Futura;
    font-weight: bold;
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 28px;
    color: rgb(0, 0, 0);
    text-transform:none;	
}
.gallery h6 {
	font-size:15px;
	text-transform:none;
}
.galleryArea {
	margin-top:30px;
}
.galleryTile {
	font-size:15px;
	line-height:20px;
	margin-bottom:20px;
    border: 1px solid #ccc;
    padding: 15px;	
}
.galleryTile img {
	width:100%;
	height:auto;
}
.gallery .tileText {
	max-height:100px;
	overflow:hidden;
}
.readMore {
	font-weight:500;
	text-transform:uppercase;
	font-size:12px;
	margin-top:10px;
}
.gallery .galleryItem {
	box-shadow:none;
	margin:0px;
	padding:0px;
}

/* About */

.considering {
	color:#0072C6;
	font-weight:500;
	font-size:24px;
	margin-bottom:5px;
}
.process {
	color:#4e2f91;
	font-weight:500;
	font-size:24px;
	margin-bottom:25px;
}
label {
	font-size:14px;
}

#sidebar {
	background: #fff;
	margin-bottom: 48px;
}
@media all and (min-width: 992px) {
	#sidebar {padding: 0px 24px 0px 0px;}
}
#sidebar h5 {
	font: bold 16px 'futura-pt', 'futura-pt', helvetica, sans-serif;
	display: block;
	margin: 16px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#sidebar ul.menu {background: #f3f3f3; padding:0px;}
#sidebar ul.menu li {
	font: normal 21px 'futura-pt', helvetica, sans-serif;
	display: block;
	padding: 16px;
	margin: 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	list-style: none;
	border-bottom: 1px solid #e4e4e4;
}
#sidebar ul.menu li a {color: black; text-decoration: none; font-family: 'futura', helvetica, sans-serif; font-size:21px; font-weight:300;}
#sidebar ul.menu li.current_page_item, #sidebar ul.menu li:hover {
	background: #e4e4e4;
}

/* Finding Aid */

.collectionTile .title a {
	font-family:futura;
	font-size:18px;
}

.form-control:focus {
    border-color: #000;
}

/* static pages */
.bodytextImg{
	text-align:center;
	margin-top:30px;
}
.bodytextImg img{
	width:100%;
	height:auto;
	max-width:300px;
}