/* 
NHM Blue #0072C6
Teal Blue #00aeef
Navy Blue #005a93
Gray #bcbec0
Collections purple #4e2f91
*/

/*@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir-Medium.ttf');
  font-weight: regular;
  font-style:normal;
}
@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir-MediumOblique.ttf');
  font-weight: regular;
  font-style:italic;
}
@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir-Black.ttf');
  font-weight: bold;
  font-style:normal;
}
@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir-BlackOblique.ttf');
  font-weight: bold;
  font-style:italic;
}
*/
@font-face {
  font-family: Futura;
  src: url('fonts/FuturaPTMedium.ttf');
  font-weight: 400;
  font-style:normal;
}
@font-face {
  font-family: Futura;
  src: url('fonts/FuturaPTBold.ttf');
  font-weight: bold;
  font-style:normal;
}
@font-face {
  font-family: Futura;
  src: url('fonts/FuturaPTBook.ttf');
  font-weight: 300;
  font-style:normal;
}
body {
	font-family:Futura;
	margin-bottom:210px;
	color:#000;
}
.container {
	max-width:968px;
}
h1, h2 h3, h4, h5, h6 {
	font-family: Nunito;
	font-weight:700;
	color:#4e2f91;
}
.browse .btn, .sets .btn, .btn-default {
	background-color:#4e2f91;
}
a, a:hover {
	color:#4e2f91;
}
a:hover {
	text-decoration:underline;
}
.detail hr {
	clear: both;
    color: #ccc;
}
.navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: solid 7px #FFEC4F;
    background: none repeat scroll 0 0 #DBDBDB;
}
.navbar-header {
	background-color:#eee;
	float:none;
	margin-top:40px;
}
.navbar-brand {
	width:95px;
	margin-top:-47px;
	padding:0px 14px 0px 0px;
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    position: relative;
    display: inline-block;
    float: left;
    text-transform: uppercase;
	font-weight:300;
    height: 48px;
    line-height:49px;
	font-family:Futura;
	padding-top:0px;
	padding-bottom:0px;
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;	
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color:#ccc;
}
.nav > li.dropdown > a.icon {
	padding-top:0px;
	padding-bottom:0px;
	line-height:49px;
}
.nav .dropdown-menu li {
    font-size: 16px;
    position: relative;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-height: 38px;
    font-family: Futura;
}
.nav .dropdown-menu {
	padding:0px;
	margin:0px;
	box-shadow:none;
	border:0px;
	background-color:#e6e6e6;
}
.nav li:hover .dropdown-menu {
	display: block;
}
.nav .dropdown-menu > li > a {
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 12px;  
	border: 0 none;
    background: #e6e6e6 ;
    line-height: 1.5;
    padding: 10px 10px;
    width: 200px;
    margin-right: 0 !important;
    z-index: 99999;
    color: #333333 ;
    font-size: 12px;     
}
.nav .dropdown-menu > li:hover {
	background-color:#d6d6d6 ;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color:transparent;
	padding:10px 5px 10px 15px;
	color: #275AAA;
}
.navbar-default .navbar-form {
	margin-bottom:0px;
	margin-top:7px;
}
.navbar .formOutline {
	border:0px;
	border-radius:0px;
	background-color:#ccc;
}
.banner {
	background-color:#4e2f91;
	color:#fff;
	font-family:Nunito;
	font-weight:700;
	clear:both;
	width:100%;
	padding-top:35px;
	padding-bottom:35px;
	font-size:36px;
	line-height:34px;
}
.btn-search {
	background-color:transparent;
	padding-top:7px;
	padding-right:7px;
}
.disabled {
    pointer-events: auto !important;
}
#footer {
	background-color:#333;
	color:#fff;
	height:140px;
	font-size:11px;
	padding-bottom: 50px;
	line-height:12px;
	font-family: Futura;
	margin-top:20px;
}
.footer_left_top {
    border-bottom: 1px solid #000000;
    height: 31px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight:bold;
}
#footer ul li {
    padding: 0px;
}
#footer .social-icons {
    height: 28px;
    margin: 5px 0px 0 5px;
    text-align: right;
    line-height: 0;
}
#footer .social-icons a, #footer .social-icons a {
    margin: 2px 5px 0 0;
}
#footer .social-icons img {
    width: 28px;
    height: 25px;
}
.footer-menu {
    border-top: 1px solid #000000;
    margin-top: 10px;
    padding-top: 10px;
    text-align: right;
}
.footer-menu li {
    display: inline-block;
    list-style-type:none;
}
#footer .footer-menu ul li a {
    font-weight: bold;
    color: #0099FF;
    font-size: 12px;
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: underline;
}
.container.bottom {
	border-bottom: 3px solid #FFEC4F;
	width: 968px;
    padding: 0 20px 24px 20px;
    margin: 0 auto;	
}

/* Front */

.front .jcarousel {
	background-color:#333;
}
.nomax {
	max-width:none;
	padding:0px;
}
.frontSlide {
	opacity:.5;
}
.activeSlide .frontSlide {
	opacity:1;
}
.activeSlide .frontSlideCaption {
	opacity:.9;
}
.container.purple, .row.purple {
	background-color: #4e2f91;
	color:#fff;
	padding-top:40px;
	padding-bottom:40px;
	font-size:20px;
	margin-bottom:25px;
}
.row.purple {
	padding:0px;
}
.row.purple img{
	width:100%;
	height:auto;
}
.front H1 {
	font-family:Futura;
	font-weight:bold;
	padding-top:10px;
	letter-spacing:1px;
	font-size:20px;
}
.featured a{
	color:#000;
}
.row .gray {
	background-color:#f3f3f3;
	margin-bottom:25px;
	padding:20px;
	padding-bottom:40px;
	padding-top:40px;
}
.row .white {
	margin-bottom:25px;
	padding:20px;
}
.front .title {
	padding-top:35px;
	padding-bottom:15px;
}
.front .description {
	font-size:16px;
	line-height:1.8em;
}
.setButton {
	background-color:#fff;
	color:#4e2f91;
	display:inline-block;
	text-transform:uppercase;
	font-size:12px;
	padding:6px 10px;
	margin:30px auto 0px auto;
}
.block {
	display:block;
	text-align:center;
}
.tile {
	border-bottom:1px solid #eeeeee;
	padding-bottom:25px;
	clear:both;
}
.homeHeader {
	font-weight:700;
	margin-bottom:20px;
	font-family:nunito;
	font-size:18px;
}
.homeText {
	margin-top:35px;
	margin-bottom:35px;
}
.homeIcon {
	margin-bottom:10px;
}
.homeLink {
	background-color:#4e2f91;
	color:#fff;
	display:inline-block;
	text-transform:uppercase;
	font-weight:bold;
	padding:8px 12px 7px 12px;
	font-size:11px;
	margin-top:20px;
}
.homeLink a {
	color:#fff;
}
.homeLink a:hover {
	text-decoration:underline;
}

/* Detail */

.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color:transparent;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small, .detail .detailNavBgLeft a, .detail .detailNavBgRight a{
	color:#333;
	font-size:22px;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small {
	font-size:11px;
	font-family:Futura;
	line-height:1.5em;
}
.detail h6 {
	line-height: 1.5;
    color: #333333;
    font-family: 'Futura',sans-serif;
    font-size: 16px;
}
.detail, .detail .detailTool {
    text-align: justify;
    line-height: 1.5;
    color: #333333;
    font-family: 'Futura',sans-serif;
    font-size: 16px;    
}
.detail .detailTool a, 
.detail .detailTool span {
	text-transform:none;
	color:#333;
}
#detailTools {
	padding-bottom:50px;
}
.homeIcon img {
	width:100%;
	height:auto;
}
.detail .unit {
	border-bottom:1px solid #eeeeee;
	margin-bottom:0px;
}
.unit h6 {
	display:inline-block;
	width:40%;
	vertical-align:top;
	text-align:left;
}
.unit .data {
	display:inline-block;
	width:60%;
	margin-top:10px;
}
.unit.text h6 {
	display:block;
}
.unit.text {
	padding-bottom:10px;
}
#detailRepNav {
	display:none;
}


/* Search */

.attributeListItem {
	width:100%;
}
.bResultItem .bResultItemText, .multisearch .multisearchResult, .multisearch .authorityResult a{
	font-size:13px;
}
.multisearch #browseResultsContainer {
	margin-left:-13px;
	margin-right:-13px;
}
.bResultItem:hover {
	margin:0px;
}
.fa-2x {
	font-size:28px;
}
.multisearch .multisearchResult {
	width:200px;
	height: 175px;
}
.multisearch #collectionsBlock .blockResults {
    height: 200px;
}
.multisearch #collectionsBlock .scrollButtonNext, .multisearch #collectionsBlock .scrollButtonPrevious {
    height: 180px;
    padding-top:80px;
}
.multisearch .multisearchResult img {
	margin-bottom:10px;
}
.bResultItem {
	box-shadow:none;
	border:1px solid #ccc;
}
.bResultItemImgPlaceholder {
	border:0;
}	

/* Collection */

.collectionsContainer .label, #collectionLoad .label {
	white-space:normal !important;
	text-align:left !important;
}