
html {
	font-size:100%;
}
body {
	color: #333333;
	font: 15px/1 'Merriweather', arial, sans-serif;
	margin-bottom:371px;
	font-weight:400 !important;
}
a {
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
a, a:hover {
    color: #6e416c;
}
a.purpleLink{
	color:#6e416c;
}
b, strong {
    font-family: 'Merriweather';
    font-weight:bold;
}
.form-control:focus {
    border-color: #6e416c;
}
h1 {
	font-family: 'Montserrat';
	color:#333;
	font-size: 28px;
	text-transform:none;
} 
@media (max-width: 768px) {
	h1 {
		font-size: 20px;
	}
}
h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
}
h3, h2 {
	color:#000;
}
h4 {
	font-size:26px;
}
h5 {
	color:#000;
}
h6 {
	letter-spacing:1px;
	font-size:15px;
	color:#000;
}
p {
	line-height:1.5em;
}

.navbar-form.big {
	position:absolute;
	width:95%;
	padding-top: 5%;	
	box-shadow:none;
}
.navbar-form.big .formOutline {
	background-color:white;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	text-align:center;
	margin:auto;
	width:40%;
}
.navbar-form.big  .form-group {
    width: 80%;
}    
.navbar-form.big  .form-control {
	border:0px;
	box-shadow:none;
	font-size:20px;
	margin-bottom: 3px;
}
.navbar-form.big .btn-search {
    font-size: 24px;
    color: #aaa;
    padding: 8px 6px 4px 6px;
    background-color:transparent;
} 
.navbar-nav > li.bigGlass > a{ 
	padding-top: 35px; 
	padding-bottom: 9px;
}	

.navbar-nav > li.bigGlass {
	margin-top: 10px;
}

#pageArea.front{
	margin-top:-20px;
}
.front h1 {
	color:#000;
	padding-top:0px;
	text-align:center;
}
.front .members h1 { 
	color: #333;
	text-align:center;
}
.front .grayBg h1 { 
	color: #333;
	text-align:center;
}
.front .grayBg{
	bottom: -42px;
	position:relative;
}
.front .frontSearchCollage{
	background-image: url("../graphics/hpCollage.jpg");
	background-repeat: no-repeat;
	/* background-repeat: repeat-x; */
	background-position: center;
	height:240px;
	margin-bottom:25px;
	text-align:center;
	padding-top:100px;
}
.frontSearchCollage .frontSearchCollageOutline{
	border-radius:0px;
	box-shadow:none;
	border:2px solid #eee;
	height:46px;
	width:40%;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
}
.frontSearchCollage  input.form-control::placeholder, .frontSearchCollage input.form-control {
	color:#333333;
	font-size:18px;
	font-family: 'Montserrat';
	margin: 5px 0 0 0 ;
}
.frontSearchCollageOutline button{
	float:right;
	margin-top: 7px;

    padding: 6px;
    margin-bottom: 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    outline: 0;
    background-color: #FFF;
    border: 0px;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.homeText {
	text-align: center;
}

.frontSearchCollageOutline .form-group{
	float:left;
	width:85%;
}
.frontSearchCollageOutline input, .frontSearchCollageOutline input:focus{
	border:0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
}
.hpAboutText {
	color:#333;
}
@media (min-width: 992px) {
	.hpAboutText .col-lg-6.col-left p {
		padding-right:30px;
	}
	.hpAboutText .col-lg-6.col-right p, .hpAboutText .col-lg-6.col-right H2 {
		padding-left:30px;
	}
}
.front H2{
    font-family: 'Montserrat';
    font-weight:bold;
    text-align: center;
}
.browse .btn, .sets .btn, .btn-default, .btn-default:hover {
	background-color:#6e416c;
}
.containerWrapper {
	max-width: 1200px;  /* was 1050px */
	margin-left:auto;
	margin-right:auto;
}  
.purple {
	background-color:#6e416c;
	color:#fff;
	padding-bottom:20px;
	padding-top:20px;
} 
.grayBg{
	background-color:#d9d9d9;
	color:#333;
	padding-bottom:20px;
	padding-top:20px;
}
#wsite-title {    
    display: block;
    color: inherit;
   /* font-family: 'Josefin Sans';
    font-size: 27.5px;
    line-height:27px;
    font-weight: bold;
    padding-left:0px;
    padding-top:10px;
    letter-spacing:.2px; */
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 35px;
    line-height:35px;
    padding-left:0px;
    padding-top:20px;
    text-transform: uppercase;
    padding-bottom:10px;
    letter-spacing:.4px;
}
@media (min-width: 1010px) and (max-width: 1100px) {
	#wsite-title {
		font-size: 27px;
		line-height:35px;
	}
}
@media (max-width: 768px) {
	#wsite-title {
		font-size: 23px;
		line-height:28px;
		padding-top:15px;
	}
}
#wsite-title a {
	color:#333;
}
#wsite-title a:hover {
	color:#000;
	text-decoration:none;
}
@media (max-width: 1230px) {
	#wsite-title {
    	padding-left:15px;	
	}
}
.navbar-toggle {
    padding: 8px 10px 7px 10px;
}
.navbar-toggle-user {
    padding: 6px 10px 6px 10px;
}
.navbar-toggle .icon-bar {
    width: 15px;
}
.attributeListItem {
	width:100%;
}
.navbar-default .navbar-nav > li > a {
	font-family: 'Montserrat';
	text-transform:uppercase;
}
.navbar-nav > li.bigGlass > a{ 
	padding-top: 35px; 
	padding-bottom: 9px;
}	
ul.socialRow {
	margin-bottom:0px;
}
ul.socialRow li {
	float:right;
	list-style-type:none;
	display: inline-block;
	margin: 10px 8px;
	font-size:17px;
	color:#fff;
	line-height:15px;
	font-weight:400;
}
ul.socialRow li a{
	color:#fff;
}
ul.socialRow li .connect{
	font-size:14px;
	font-family: 'Montserrat';
	color:#fff;
	padding-left:20px;
}
@media (max-width: 768px) {
	ul.socialRow {
		padding:0px;
	}
	ul.socialRow li {
		padding:0px;
		margin: 10px 7px;
	}
	ul.socialRow li .connect {
		padding-left: 25px;
	}
}
.grayBack {
	background-color:#333333;
}
.navbar {
	box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.15);
}
.navbar .formOutline {
	border-radius:0px;
	box-shadow:none;
	border:2px solid #eee;
}
.navbar  input.form-control::placeholder, .navbar input.form-control {
	color:#333333;
	font-size:14px;
	font-family: 'Montserrat';
}
@media (min-width: 768px) {
	.navbar-nav > li.bigGlass > a {
		padding-top:6px;
		padding-bottom:0px;
	}
	.nav > li.bigGlass:hover {
		background-color: transparent;
	}
	.navbar-nav > li > a {
		padding-top:25px;
		padding-bottom: 22px;
	}
}
@media (max-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
@media (min-width:768px) {
	.yamm .nav.navbar-right .dropdown-menu li{
		text-align:right;
	}
}
.navbar-default .navbar-form {
	margin-top:20px;
}
.nav > li.dropdown > a.icon {
	padding-top:27px;
}
.menuBar {
	padding-left:0px;
	padding-right:0px;
}
@media (max-width:768px) {
	.navbar-nav {
		margin: 7.5px 0px;
	}
}
/* make dropdowns appear on mouse over */
@media (min-width:768px) {
	.dropdown:hover .dropdown-menu {
	  display: block;
	}
}
/* Footer */
#footer {
    background: #333333;
    color:#fff;
    height:331px;
	font:13px/1 'Merriweather', arial, sans-serif; 
	font-weight:100;
    font-size: .8em;
    line-height: 2;
    padding-top:2.5em;
}
/*#footer .containerWrapper{
	max-width:1055px;
}*/
#footer a {
	color: #808080;
}
/*#footer .col-sm-4 {
	padding-left:25px;
	padding-right:25px;
}*/
#footer h2 {
	color:#fff;
	font-weight:normal;
	font-family:'Montserrat';
	margin-bottom:1.2em;
	margin-top: 35px;
}
#footer img {
	width:100%;
	height:auto;
}
#footer .paragraph{
	padding-left:25px;
}
.social {
	text-align:right;
}
.socialFooter {
	margin: 0 8px 10px;
	font-size:1.6em;
}
#footer .socialFooter a{
	color:#fff;
}
.copy {
	font-size: 10px;
	margin-bottom:4em;
}
#footer .clean img{
	width:171px;
	height:auto;
	margin-bottom:20px;
}
#footer .logo img {
	max-width:305px;
}
@media (max-width:992px) {
	#footer .pull-right{
		text-align:center;
		width:100%;
		border-top:1px solid #fff;
		padding-top:10px;
		margin-top:10px;
	}	
	body {
		margin-bottom:650px;
	}
	#footer {
		height:615px;
		padding-top:1em;
	}
}
@media (max-width:768px) {
	body {
		margin-bottom:910px;
	}
	#footer {
		height:870px;
	}
	#footer .paragraph{
		margin-top:20px;
		margin-bottom:20px;
	}
}

/* Front */

.front .row.members {
	padding-top: 0px;
	padding-bottom:30px;
}
.front .members h1{
	margin-bottom:30px;
}
.front .members .jcarousel {
	height:300px; 
}
.front .members.jcarousel-control-next, .front .members.jcarousel-control-prev {
    margin-top: -110px;
}
.memberTile {
	width:250px;
	float:left;
	margin-right:20px;
	padding-bottom:15px;
}
.memberTile img{
	width:100%;
	height:auto;
}
.memberCaption {
	padding-top:10px;
}
.memberCaption a{
	color:#6e416c;
}

.front .membersjcarousel-pagination a.active {
    background: #666;
    color: #666;
    opacity: 1;
    text-shadow: none;
    text-decoration: none;
}
.front .membersjcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    line-height: 1em;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background: #fff;
    color: #fff;
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #666;
    opacity: .75;
}
.front .membersjcarousel-control-next, .front .membersjcarousel-control-prev {
    background-color: transparent;
    height: 45px;
    margin-top: -30px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    width: 45px;
    border-radius: 0px;
    box-shadow: 0 0 0px #999999;
    text-shadow: 0px 0px 10px #000000;
}
.front .membersjcarousel-control-next {
    right: 0px !important;
}
.front .membersjcarousel-control-prev {
    left: 0px !important;
}
.membersjcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}
.membersjcarousel-wrapper, .membersjcarousel {
    width: 100% !important;
}
.membersjcarousel-wrapper {
    position: relative;
}
/* default */
.membersjcarousel {
    position: relative;
    overflow: hidden;
}
.membersjcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}
.membersjcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}
.membersjcarousel-wrapper {
   position: relative;
}
.membersjcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}
.membersjcarousel-wrapper .photo-credits a {
    color: #fff;
}
.membersjcarousel-control-prev,
.membersjcarousel-control-next {
    position: absolute;
    top: 120px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #6e416c;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}
.membersjcarousel-control-prev:hover,
.membersjcarousel-control-next:hover,
.membersjcarousel-control-prev:active,
.membersjcarousel-control-next:active {
	color:#fff;
}
.membersjcarousel-control-prev:hover span,
.membersjcarousel-control-next:hover span {
    display: block;
}
.membersjcarousel-control-prev.inactive,
.membersjcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}
.membersjcarousel-pagination {
    position: relative;
    padding: 0px;
    margin: 0px auto 0px auto;
    text-align: center;
}
.membersjcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}
.membersjcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}


/* Collections */

#pageArea.collections {
	max-width:1055px;
	margin-left:auto;
	margin-right:auto;
}
.collectionsList p {
    margin-bottom: 20px;
    line-height:26px;
}
.collectionTile {
	box-shadow:none;
	border:2px solid #eee;
}
.exportCollection {
	font-family:'Montserrat';
	margin-top:15px;
	margin-bottom:15px;
}

/* Detail */

.detail {
	font-size:13px;
}
.detail a {
	color: #808080;
}
.detail .exportCollection .fa, .detail .exportCollection .glyphicon, .detail .exportCollection a {
	color: #808080 !important;
}
.bResultItemExpandedInfo a {
	color:#6e416c;
}
.detail .unit {
	line-height:2em;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color:#fff;
	font-family:'Montserrat';
	margin-top:0px;
	margin-bottom:-10px;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small, .detail .detailNavBgLeft a, .detail .detailNavBgRight a {
	color:#222;
	display:inline;
	text-transform: none;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 10px;
    color:#6e416c;
}
.detail .navLeftRight {
	text-align:right;
}
.detail .detailNavBgLeft {
	position:relative;
	float:right;
	width:auto;
	height:auto;
	padding-bottom:12px;
	padding-top:10px;
}
.detail .detailTool a, .detail .detailTool span, .detail .detailTool i {
	color:#6e416c;
}
.detail .detailTool {
	font-size:13px;
}
.detail .repViewerCont:hover .detailMediaToolbar {
	opacity:.7;
}
.detail .repViewerCont:hover .detailMediaToolbar:hover {
	opacity:.9;
}
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
	font-size:15px;
	padding-top:4px;
}
.detail .instLink {
	background-color:#555;
	color:#fff;
	font-family:'Montserrat';
	font-size:15px;
	padding:8px;
	text-align:center;
	line-height:1.2em;
	margin-bottom:25px;
}
.detail .instLink small {
	font-size:11px
}
.detail .instLink a {
	color:#fff;
}
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
	padding-right:10px;
}
.detail #map_map{
	margin-bottom:15px;
}
/* Search */

#caAdvancedSearch {
	margin-top:30px;
}
.advancedSearchField .formLabel {
	font-family:'Montserrat';
	font-size:14px;
	margin-bottom:5px;
}
.advancedSearchField input, .advancedSearchField textarea, .advancedSearchField select {
	margin-top:10px;
	margin-bottom:10px;
}
.results h1 {
	text-transform:capitalize;
}
@media (max-width: 768px) {
	.results .dropdown-menu > li > a{
		white-space:normal;
	}
	.browse .btn {
		font-size: 10px;
	}
}

/* Multisearch */

.multisearch h1 {
	margin-bottom:25px;
}
.objects .multisearchResult {
	width:220px;
	height:235px;
}
.multisearch .objects.blockResults {
	height:250px;
}
.jumpLinks a {
	color:#6e416c;
}
.multisearchImgPlaceholder {
	padding-top:42px;
	padding-bottom:42px;
	margin-bottom:5px;
}
.objects .multisearchResult p {
	margin-bottom:4px;
}
#objectsBlock #browseResultsContainer {
	margin-left:-13px;
	margin-right:-13px;
}
.multisearch #objectsBlock {
	overflow:visible;
}
.multisearchFullResults a, .multisearchSort ul li a, .sortValues a, .multisearch H3 a, .multisearch H3 a:hover {
	color:#6e416c;
}
.bResultItem .bResultItemText p {
	margin-bottom:3px;
}
.multisearch #collectionsBlock .multisearchResult, .multisearch #entitiesBlock .multisearchResult {
	width:200px;
	height:195px;
	margin-left:2px;
	margin-right:15px;
}
.multisearch #collectionsBlock .blockResults, .multisearch #entitiesBlock .blockResults {
	height:220px;
}
.multisearch #collectionsBlock .multisearchResult.collectionsResult, .multisearch #entitiesBlock .multisearchResult.entitiesResult {
	line-height:1.5em;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious {
	height:200px;
	padding-top:90px;
}

/* Gallery */

.gallery a {
	font-family:'Montserrat';
	color:#6e416c;
}
.caption {
	color:#333;
	font-size:13px;
}
.gallery .setDescription {
	font-size:13px;
	line-height:2.4em;
	font-weight:normal;
}

/* Browse */

#bRefine {
	background-color:#FFF;
}
.bResultItemImgPlaceholder {
	border:0px;
}
.bResultItem .bResultItemText small {
	font-family:'Montserrat';
	line-height: 2.4em;
	font-size:95%;
}
.bResultItem .bResultItemText {
	font-size:12px;
}
.bResultItem .bResultItemImg {
	width:100%;
}
.bResultItem .bResultItemImg img {
	object-fit: contain;
	max-height:160px;
}
.bResultItem:hover .bResultItemImg, .bResultItem .bResultItemImg {
	height:160px;
	display:table;
}
.bResultItem .bResultItemImg .imgContainer {
	display:table-cell;
	text-align:center;
}
.bResultItemImgPlaceholder, .bResultItem:hover .bResultItemImgPlaceholder{
	font-size:18px;
}
.bResultItemCol {
    height: 320px;
}
.bResultItemContent {
	height:270px;
}
/*
#browseResultsContainer {
	margin-left:-13px;
	margin-right:-13px;
}
@media (max-width: 768px) {
	#browseResultsContainer {
		margin-left: -15px;
		margin-right: 15px;
	}
}
*/
.refineGroup{
	display:none;
}
#bRefine H5{
	cursor: pointer;
}
/* placeholder */
.bResultItemImgPlaceholder{
	padding:0px;
	background-color:#fff;
}
.placeholderGraphic{
	background-repeat:no-repeat;
	background-position: top left;
	background-size: 100%; 
	width:100%;
	min-height: 120px;
	max-width:200px;
	margin-left:auto;
	margin-right:auto;
}
.detail .placeholderGraphic{
	min-height: 150px;
}
.placeholderGeology{
	background-image: url("../graphics/industry.png");
}
.placeholderNatHistory{
	background-image: url("../graphics/fishing.png");
}
.placeholderObject{
	background-image: url("../graphics/household_life.png");
}
.placeholderArt{
	background-image: url("../graphics/art.png");
}
.placeholderFilm{
	background-image: url("../graphics/film.png");
}
.placeholderAudio{
	background-image: url("../graphics/audio.png");
}
.placeholderTypewriter{
	background-image: url("../graphics/communications.png");
}

/* placeholder on list results */
.bResultListItemImg .bResultItemImgPlaceholder {
    padding: 0px;
    min-width:72px;
}
/* static pages */
.staticPage p, .staticPage li {
    margin-bottom: 25px;
    line-height: 1.8em;
    
    color: #555;
	font-size: .9em;
	line-height: 2;
	margin: 0 auto 1em;
}
.staticPage H1{
	margin-bottom:20px;
}

.staticPage H2{
	padding-bottom:0px;
	margin-bottom:10px;
	color:#6e416c;
}

/* contributor map + mapped results */
#pageArea.results #browseResultsContainer #map_map {
    margin-left: 15px;
}
.mapText{
	font: 13px/1 'Merriweather';
	line-height:1.5em;
	font-weight:normal;
	max-height:100px;
	overflow-y:scroll;
	max-width:500px;
}
.mapLink{
	margin-bottom:10px;
	max-width:500px;
}
.mapLink a{
	color:#6e416c;
	font: 20px/1 'Merriweather';
	text-transform:uppercase;
}
/* timeline */
.tl-timeline p{
	font: 11px/1 'Merriweather';
	line-height:1.5em;
	font-weight:normal;
}



/* Lightbox */
.gallery {
    font-size: inherit;
}
.gallery .galleryBack {
    margin: 0px 5px 0px 0px;
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 0px 5px 3px 5px;
    text-align: center;
    float: left;
}
.gallery .galleryBack a {
    color: #000000 !important;
    line-height: .3em;
    font-size: 14px;
    text-decoration: none;
}
.gallery .galleryBack a .small {
    font-size: 7px;
    color: #000000;
    padding-top: 0px;
    padding-bottom: 5px;
}
.gallery h2 {

	margin-top:10px;
}
.gallery .jcarousel {
	height:275px;
}
.gallery .setTile {
    width: 301px;
    padding-right: 5px;
    background-color: #fff;
    margin-right: 5px;
    margin-left:5px;
    padding-top: 10px;
    padding-left: 10px;
    height: 265px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-top:3px;
}
.gallery .setTile.oneItem {
	width:205px;
}
.gallery .imgPreview {
	width:87px;
	height:87px;
	float:left;
	margin-left:10px;
	margin-bottom:10px;
	background-color:#f5f5f5;
}
.gallery .jcarousel-control-prev {
	left:10px;
}
.gallery .jcarousel-control-next {
	right:10px;
}
.gallery .jcarousel-control-prev, .gallery .jcarousel-control-next {
	top:100px;
	background:transparent;
	border:0px;
	text-shadow: 0px 0px 8px #999;
	font-size:32px;
	box-shadow:none;
}
.gallery .jcarousel-control-prev:hover, .gallery .jcarousel-control-next:hover,
.gallery .jcarousel-control-prev:active, .gallery .jcarousel-control-next:active,
.gallery .jcarousel-control-prev:focus, .gallery .jcarousel-control-next:focus {
	color:#fff;
}
.setTile img {
	width:100%;
	height:auto;
}
.gallery .setImage {
	background-color:#eee;
	height:185px;
	width:185px;
	float:left;
	margin-bottom:5px;
}
.gallery .setCascade {
	display:inline-block;
	margin-bottom:20px;
}
.gallery .setCascade img {
	width:100%;
	height:auto;
	margin-bottom:5px;
}
.gallery .lightboxDescription {
	padding-left:15px;
	padding-bottom:15px;
	line-height: 1.4em;
}
.gallery .jcarousel-pagination a.active {
    background: #666;
    color: #666;
    opacity: 1;
    text-shadow: none;
    text-decoration: none;
}
.gallery .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    line-height: 1em;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background: #fff;
    color: #fff;
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #666;
    opacity: .75;
}
.gallery .jcarousel-pagination {
    position: relative;
    padding: 0px;
    margin: 0px auto 0px auto;
    text-align: center;
}
.gallery .jcarousel-control-prev{
	left:-10px;
}
.gallery .jcarousel-control-next{
	right:-15px;
}
.gallery .jcarousel-control-prev:hover, .gallery .jcarousel-control-next:hover, .gallery .jcarousel-control-prev:focus, .gallery .jcarousel-control-next:focus{
	color:#6e416c;
}
.gallery .name {
	font-weight:bold;
	font-size:13px;
	padding-bottom:2px;
	clear:both;
}
.gallery .name small {
	font-size:75%;
}
.gallery .leader img{
	width:100%;
	height:auto;
	margin-bottom:20px;
}
.gallery .btn-default {
	margin:auto;
	text-align:center;
}
.gallery .galleryDetail .setTile {
	width:100%;
	margin-bottom:20px;
}
.gallery .galleryDetail .setImage {
	width:60%;
	background-color:#fff;
	overflow:hidden;
}
.gallery .galleryDetail .imgPreview {
	width:30%;
	background-color:#fff;
	overflow:hidden;
}
.gallery h2 small {
	color: #6e416c;
	font-size:14px;
}
.gallery H4, .gallery H4 a {
	color:#444;
}
.gallery .unit .name {
	color:#222;
	font-weight:normal;
}
.gallery .setCascade, .lightbox{
    color: #555;
	font-size: .9em;
	line-height: 1.5;
}
.gallery .curatedByTitle{
	margin-left:35px;
	margin-top:5px;
	font-size:.75em;
}

.browseSearchBar {
	background-color:#333333;
	color:#fff;
	font-weight:bold;
	clear: both;
    margin-bottom: 30px;
    height: 42px;
    padding-top: 10px;
    margin-top: 20px;	
}

.browseSearchBarHeading {
	font-size: 18px;
	margin: 0 0 0 10px;
}

.detailSearch {
    float: right;
    margin-top:-4px;
}
.detailSearch .formOutline {
    border: 1px solid #fff;
    background-color: #fff;
    height: 30px;
    margin-right: 5px;
}
.detailSearch .formOutline .btn-search {
    padding-top: 5px;
}
.detailSearch .formOutline .btn-search {
    float: right;
    background-color: transparent;
}
.detailSearch .form-control {
    width: 180px;
    float: right;
    border: 0px;
    box-shadow: none;
    font-size: 13px;
    background-color:transparent;
    padding-top:1px;
}
.resultCount {
    font-size: 14px;
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px;
}
a.filterCollection {
    font-weight: 400;
    color: #fff;
    float: right;
    font-size: 14px;
    padding-right: 15px;
    padding-top: 5px;
}
a.filterCollection:hover {
	color:#fff;
	text-decoration:none;
}

.navbar-form.big.notFront {
	border:8px solid #eee;
	margin-top:-20px;
	position:relative;
	width:100%;
	padding-top:0px;
	display:none;
	z-index: 1000;
	position:absolute;
	left:0px;
}
.navbar-form.big.notFront .formOutline {
	box-shadow:none;
}
.navbar-form.big.notFront {
	padding:0px;
}
.navbar-form.big.notFront .form-control {
	text-align:center;
	height:44px;
}
.navbar-form.big.notFront .btn-search {
	float:right;
}
.navbar-form.big.notFront .formOutline {
	width:100%;
}

/* Detail gallery list */

.detail .jcarousel {
	height:275px;
}
.detail .setTile {
    width: 301px;
    padding-right: 5px;
    background-color: #fff;
    margin-right: 5px;
    margin-left:5px;
    padding-top: 10px;
    padding-left: 10px;
    height: 265px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-top:3px;
}
.detail .setTile.oneItem {
	width:205px;
}
.detail .imgPreview {
	width:87px;
	height:87px;
	float:left;
	margin-left:10px;
	margin-bottom:10px;
	background-color:#f5f5f5;
}
.detail .jcarousel-control-prev {
	left:10px;
}
.detail .jcarousel-control-next {
	right:10px;
}
.detail .jcarousel-control-prev, .detail .jcarousel-control-next {
	top:100px;
	background:transparent;
	border:0px;
	text-shadow: 0px 0px 8px #999;
	font-size:32px;
	box-shadow:none;
}
.detail .jcarousel-control-prev:hover, .detail .jcarousel-control-next:hover,
.detail .jcarousel-control-prev:active, .detail .jcarousel-control-next:active,
.detail .jcarousel-control-prev:focus, .detail .jcarousel-control-next:focus {
	color:#fff;
}
.setTile img {
	width:100%;
	height:auto;
}
.detail .setImage {
	background-color:#eee;
	height:185px;
	width:185px;
	float:left;
	margin-bottom:5px;
}
.detail .setCascade {
	display:inline-block;
	margin-bottom:20px;
}
.detail .setCascade img {
	width:100%;
	height:auto;
	margin-bottom:5px;
}
.detail .lightboxDescription {
	padding-left:15px;
	padding-bottom:15px;
	line-height: 1.4em;
}
.detail .jcarousel-pagination a.active {
    background: #666;
    color: #666;
    opacity: 1;
    text-shadow: none;
    text-decoration: none;
}
.detail .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    line-height: 1em;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background: #fff;
    color: #fff;
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #666;
    opacity: .75;
}
.detail .jcarousel-pagination {
    position: relative;
    padding: 0px;
    margin: 0px auto 0px auto;
    text-align: center;
}
.detail .jcarousel-control-prev{
	left:-10px;
}
.detail .jcarousel-control-next{
	right:-15px;
}
.detail .jcarousel-control-prev:hover, .detail .jcarousel-control-next:hover, .detail .jcarousel-control-prev:focus, .detail .jcarousel-control-next:focus{
	color:#6e416c;
}

.archivalCollections {
	
}

.archivalCollectionWrapper {
	padding: 5px;
	
}

.archivalCollection {
	font-size: 14px;
	line-height: 16px;
	background: #f0f0f0;
	
	height: 60px;
	padding: 5px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}