html {
	font-size:100%;
}
body {
	color: #333333;
	font: 15px/1 'Merriweather', arial, sans-serif;
	margin-bottom:471px;
	font-weight:400 !important;
}
a {
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
h1 {
	font-family: 'Montserrat';
	color:#333;
	font-size: 28px;
	text-transform:none;
} 
h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
}
h3 {
	color:#000;
}
h4 {
	font-size:26px;
}
h5 {
	color:#000;
}
h6 {
	letter-spacing:1px;
	font-size:15px;
	color:#000;
}
p {
	line-height:1.5em;
}
.front h1 {
	color:#fff;
	padding-top:0px;
}
.front .members h1 { 
	color: #333;
	text-align:center;
}
.browse .btn, .sets .btn, .btn-default, .btn-default:hover {
	background-color:#6e416c;
}
.containerWrapper {
	max-width: 1050px;
	margin-left:auto;
	margin-right:auto;
}  
.purple {
	background-color:#6e416c;
	color:#fff;
	padding-bottom:20px;
	padding-top:20px;
} 
#wsite-title {    
    display: block;
    color: inherit;
    font-family: 'Josefin Sans';
    font-size: 27.5px;
    line-height:27px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top:8px;
    padding-left:0px;
    padding-top:10px;
    padding-bottom:10px;
    letter-spacing:.2px;
}
#wsite-title a {
	color:#333;
}
#wsite-title a:hover {
	color:#000;
	text-decoration:none;
}
@media (max-width: 1010px) {
	#wsite-title {
    	padding-left:15px;	
	}
}
.attributeListItem {
	width:100%;
}
.navbar-default .navbar-nav > li > a {
	font-family: 'Montserrat';
	text-transform:uppercase;
}
ul.socialRow {
	margin-bottom:0px;
}
ul.socialRow li {
	float:right;
	list-style-type:none;
	display: inline-block;
	margin: 10px 8px;
	font-size:17px;
	color:#fff;
	line-height:15px;
	font-weight:400;
}
ul.socialRow li a{
	color:#fff;
}
ul.socialRow li .connect{
	font-size:14px;
	font-family: 'Montserrat';
	color:#fff;
	padding-left:20px;
}
.grayBack {
	background-color:#333333;
}
.navbar {
	box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.15);
}
.navbar .formOutline {
	border-radius:0px;
	box-shadow:none;
	border:2px solid #eee;
}
.navbar  input.form-control::placeholder, .navbar input.form-control {
	color:#333333;
	font-size:14px;
	font-family: 'Montserrat';
}
.navbar-nav > li > a {
	padding-top:25px;
	padding-bottom: 22px;
}
.navbar-default .navbar-form {
	margin-top:20px;
}
.nav > li.dropdown > a.icon {
	padding-top:27px;
}
.menuBar {
	padding-left:0px;
	padding-right:0px;
}

/* Footer */
#footer {
    background: #333333;
    color:#fff;
    height:431px;
	font:13px/1 'Merriweather', arial, sans-serif; 
	font-weight:100;
    font-size: .8em;
    line-height: 2;
    padding-top:2.5em;
}
#footer .containerWrapper{
	max-width:1055px;
}
#footer a {
	color: #808080;
}
#footer .col-sm-4 {
	padding-left:25px;
	padding-right:25px;
}
#footer h2 {
	color:#fff;
	font-weight:normal;
	font-family:'Montserrat';
	margin-bottom:1.2em;
}
#footer img {
	width:100%;
	height:auto;
}
.social {
	text-align:right;
}
.socialFooter {
	margin: 0 8px 10px;
	font-size:1.6em;
}
#footer .socialFooter a{
	color:#fff;
}
.copy {
	font-size: 10px;
	margin-bottom:4em;
}
#footer .clean img{
	width:171px;
	height:auto;
	margin-bottom:20px;
}
#footer .logo img {
	max-width:305px;
}
@media (max-width:768px) {
	#footer {
		height:686px;
		padding-top:1em;
	}
	#footer .pull-right{
		text-align:center;
		width:100%;
		border-top:1px solid #fff;
		padding-top:10px;
		margin-top:10px;
	}	
	body {
		margin-bottom:706;
	}
}



/* Front */

.front .row.members {
	padding-top:30px;
	padding-bottom:30px;
}
.front .members h1{
	margin-bottom:30px;
}
.front .members .jcarousel {
	height:300px; 
}
.front .members.jcarousel-control-next, .front .members.jcarousel-control-prev {
    margin-top: -110px;
}
.memberTile {
	width:250px;
	float:left;
	margin-right:20px;
	padding-bottom:15px;
}
.memberTile img{
	width:100%;
	height:auto;
}
.memberCaption {
	padding-top:10px;
}
.memberCaption a{
	color:#6e416c;
}

.front .membersjcarousel-pagination a.active {
    background: #666;
    color: #666;
    opacity: 1;
    text-shadow: none;
    text-decoration: none;
}
.front .membersjcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    line-height: 1em;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background: #fff;
    color: #fff;
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #666;
    opacity: .75;
}
.front .membersjcarousel-control-next, .front .membersjcarousel-control-prev {
    background-color: transparent;
    height: 45px;
    margin-top: -30px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    width: 45px;
    border-radius: 0px;
    box-shadow: 0 0 0px #999999;
    text-shadow: 0px 0px 10px #000000;
}
.front .membersjcarousel-control-next {
    right: 0px !important;
}
.front .membersjcarousel-control-prev {
    left: 0px !important;
}
.membersjcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}
.membersjcarousel-wrapper, .membersjcarousel {
    width: 100% !important;
}
.membersjcarousel-wrapper {
    position: relative;
}
/* default */
.membersjcarousel {
    position: relative;
    overflow: hidden;
}
.membersjcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}
.membersjcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}
.membersjcarousel-wrapper {
   position: relative;
}
.membersjcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}
.membersjcarousel-wrapper .photo-credits a {
    color: #fff;
}
.membersjcarousel-control-prev,
.membersjcarousel-control-next {
    position: absolute;
    top: 120px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #6e416c;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}
.membersjcarousel-control-prev:hover,
.membersjcarousel-control-next:hover,
.membersjcarousel-control-prev:active,
.membersjcarousel-control-next:active {
	color:#fff;
}
.membersjcarousel-control-prev:hover span,
.membersjcarousel-control-next:hover span {
    display: block;
}
.membersjcarousel-control-prev.inactive,
.membersjcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}
.membersjcarousel-pagination {
    position: relative;
    padding: 0px;
    margin: 0px auto 0px auto;
    text-align: center;
}
.membersjcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}
.membersjcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}


/* Collections */

#pageArea.collections {
	max-width:1055px;
	margin-left:auto;
	margin-right:auto;
}
.collectionsList p {
    margin-bottom: 20px;
    line-height:26px;
}
.collectionTile {
	box-shadow:none;
	border:2px solid #eee;
}
.exportCollection {
	font-family:'Montserrat';
	margin-top:15px;
	margin-bottom:15px;
}

/* Detail */

.detail {
	font-size:13px;
}
.detail a {
	color: #808080;
}
.detail .exportCollection .fa, .detail .exportCollection .glyphicon, .detail .exportCollection a {
	color: #808080 !important;
}
.bResultItemExpandedInfo a {
	color:#6e416c;
}
.detail .unit {
	line-height:2em;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color:#fff;
	font-family:'Montserrat';
	margin-top:0px;
	margin-bottom:-10px;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small, .detail .detailNavBgLeft a, .detail .detailNavBgRight a {
	color:#222;
	display:inline;
	text-transform: none;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 10px;
    color:#6e416c;
}
.detail .navLeftRight {
	text-align:right;
}
.detail .detailNavBgLeft {
	position:relative;
	float:right;
	width:auto;
	height:auto;
	padding-bottom:12px;
	padding-top:10px;
}
.detail .detailTool a, .detail .detailTool span, .detail .detailTool i {
	color:#6e416c;
}
.detail .detailTool {
	font-size:13px;
}
.detail .repViewerCont:hover .detailMediaToolbar {
	opacity:.7;
}
.detail .repViewerCont:hover .detailMediaToolbar:hover {
	opacity:.9;
}
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
	font-size:15px;
	padding-top:4px;
}
.detail .instLink {
	background-color:#555;
	color:#fff;
	font-family:'Montserrat';
	font-size:15px;
	padding:8px;
	text-align:center;
	line-height:1.2em;
	margin-bottom:25px;
}
.detail .instLink small {
	font-size:11px
}
.detail .instLink a {
	color:#fff;
}
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
	padding-right:10px;
}

/* Search */

#caAdvancedSearch {
	margin-top:30px;
}
.advancedSearchField .formLabel {
	font-family:'Montserrat';
	font-size:14px;
	margin-bottom:5px;
}
.advancedSearchField input, .advancedSearchField textarea, .advancedSearchField select {
	margin-top:10px;
	margin-bottom:10px;
}
.results h1 {
	text-transform:capitalize;
}

/* Multisearch */

.multisearch h1 {
	margin-bottom:25px;
}
.objects .multisearchResult {
	width:220px;
	height:235px;
}
.multisearch .objects.blockResults {
	height:250px;
}
.jumpLinks a {
	color:#6e416c;
}
.multisearchImgPlaceholder {
	padding-top:42px;
	padding-bottom:42px;
	margin-bottom:5px;
}
.objects .multisearchResult p {
	margin-bottom:4px;
}
#objectsBlock #browseResultsContainer {
	margin-left:-13px;
	margin-right:-13px;
}
.multisearch #objectsBlock {
	overflow:visible;
}
.multisearchFullResults a, .multisearchSort ul li a, .sortValues a, .multisearch H3 a, .multisearch H3 a:hover {
	color:#6e416c;
}
.bResultItem .bResultItemText p {
	margin-bottom:3px;
}
.multisearch #collectionsBlock .multisearchResult, .multisearch #entitiesBlock .multisearchResult {
	width:200px;
	height:195px;
	margin-left:2px;
	margin-right:15px;
}
.multisearch #collectionsBlock .blockResults, .multisearch #entitiesBlock .blockResults {
	height:220px;
}
.multisearch #collectionsBlock .multisearchResult.collectionsResult, .multisearch #entitiesBlock .multisearchResult.entitiesResult {
	line-height:1.5em;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious {
	height:200px;
	padding-top:90px;
}

/* Gallery */

.gallery a {
	font-family:'Montserrat';
	color:#6e416c;
}
.caption {
	color:#333;
	font-size:13px;
}
.gallery .setDescription {
	font-size:13px;
	line-height:2.4em;
	font-weight:normal;
}

/* Browse */

#bRefine {
	background-color:transparent;
}
.bResultItemImgPlaceholder {
	border:0px;
}
.bResultItem .bResultItemText small {
	font-family:'Montserrat';
	line-height: 2.4em;
	font-size:95%;
}
.bResultItem .bResultItemText {
	font-size:12px;
}
.bResultItem .bResultItemImg {
	width:100%;
}
.bResultItem .bResultItemImg img {
	object-fit: contain;
	max-height:160px;
}
.bResultItem:hover .bResultItemImg, .bResultItem .bResultItemImg {
	height:160px;
	display:table;
}
.bResultItem .bResultItemImg .imgContainer {
	display:table-cell;
	text-align:center;
}
.bResultItemImgPlaceholder, .bResultItem:hover .bResultItemImgPlaceholder{
	font-size:18px;
}
.bResultItemCol {
    height: 320px;
}
.bResultItemContent {
	height:270px;
}
#browseResultsContainer {
	margin-left:-13px;
	margin-right:-13px;
}


