<?php
	$vs_tab = strToLower($_REQUEST["tab"]);
?>
<div class="row">
	<div class="col-sm-12 col-md-10 col-md-offset-1 tabModuleContent">
		<h1>{{{title}}}</h1>
		
	<article class="tabModuleContentInner float100">	
		<section class="tabsTitle float100">
			<ul role="tablist" class="tablist">
				<li role="presentation" id="tababout"<?php print (!$vs_tab || ($vs_tab == "about")) ? " class='active'" : ""; ?>><a href="#about" aria-controls="About" role="tab" data-toggle="tab">About</a></li>
				<li role="presentation" id="tabfaq"<?php print ($vs_tab == "faq") ? " class='active'" : ""; ?>><a href="#faq" aria-controls="FAQ" role="tab" data-toggle="tab">FAQ</a></li>
				<li role="presentation" id="tabnewsletter"<?php print ($vs_tab == "newsletter") ? " class='active'" : ""; ?>><a href="#newsletter" aria-controls="FAQ" role="tab" data-toggle="tab">Quarterly Newsletters</a></li>
				<!--<li role="presentation"><a href="#guide" aria-controls="guide" role="tab" data-toggle="tab">Guide to Use</a></li>-->
			</ul>
		</section>
        <section class="tabsContent float100">

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane tabContent float100 <?php print (!$vs_tab || ($vs_tab == "about")) ? "active" : ""; ?>" id="about">
					{{{AboutText}}}
				</div>
				<div role="tabpanel" class="tab-pane tabContent float100 <?php print ($vs_tab == "faq") ? "active" : ""; ?>" id="faq">
					{{{FAQText}}}
				</div>
				<div role="tabpanel" class="tab-pane tabContent float100 <?php print ($vs_tab == "newsletter") ? "active" : ""; ?>" id="newsletter">
					{{{NewsletterText}}}
				</div>
				<!--<div role="tabpanel" class="tab-pane tabContent float100" id="guide">
					{{{GuideToUseText}}}
				</div>-->
			</div>
		</section>
	</article>
	</div>
</div>