/* orange: #E77500; */
/* fonts to change */
/*
body, .detail, .gallery, label, b, strong{
	font-family: "xxx";
	font-weight:400;
}
b, strong{
	font-family: "xxx";
	font-weight:600;
}
H1, h1, h2, H2, H3, h3, H4, h4, H5, h5, #footer a.orgLink{
	color:#000;
	font-family: 'xxx';
	font-weight:600;
}
*/
body{
	color: #000;
}
a{
	color: #000;
}
a:hover{
	color:#E77500;
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color:#595959;
	text-decoration: none;
}
.btn-default:hover{
	background-color:#777;
	text-decoration: none;
}
.bgLightGray{
	background-color:#f2f2f2;
}
/* header */
.menuBar{
	border-top:2px solid #E77500;
}
.navbar{
	background-color: #ffffff;
}
.navbar .formOutline{
	border-radius:0px;
	background-color:#fff;
	border: 1px solid #dedede;
}
.headerAdvancedSearch{
	text-align:right;
}
.headerAdvancedSearch a{
	font-size:13px;
}
#headerSearchButton{
	color:#000000;
}
.departmentLogo{
	float:left;
	padding-top: 0px;
	padding-bottom: 00px;
	padding-right:0px;
}
.departmentLogo img{
	width: 80px;
	height: auto;
}
@media (max-width:1350px){
	.departmentLogo{
		margin-left:10px;
	}
}
.navbar-default .navbar-brand{
	width: auto;
	color: #616260;
	margin-left: 20px !Important;
	padding-left: 0px;
	font-size: 26px;
	padding-top: 15px;
	margin-top: 15px;
	padding-bottom: 12px;
	text-transform: uppercase;
	text-decoration: none;
}
.navbar-brand span{
	text-transform: uppercase;
	font-size: 22px;
}
@media (min-width:768px){
	.navbar-brand{
		width: auto;
		padding-top: 8px;
	}
}
@media (min-width:768px){
	.navbar-nav > li > a {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.navbar-form{
		margin-top:14px;
	}
	.nav > li.dropdown > a.icon{
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
@media (max-width:767px){
	.navbar-nav{
		margin:0px;
	}
	.navbar .formOutline{
		border: 1px solid #dedede;
	}
}
@media(max-width:1010px){
	.yamm .nav.navbar-right.menuItems .dropdown-menu {
		left: 0;
		right: auto;
	}
}
@media (max-width: 1350px) {
	ul.menuItems {
		width:100%;
		border-top:solid 1px #ddd;
	}
	.menuItems.navbar-nav > li > a {
		padding-top:5px;
		padding-bottom:5px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right:0px;
	}
	.container.menuBar {
		padding:0px;
	}
	.navbar > .container .navbar-brand {
		margin-left:0px;
	}
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: lato;
}
.navbar-default .navbar-nav > li > a{
	color:#595959;
	letter-spacing:1px;
	text-decoration: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:transparent;
	color:#595959; /* highlight color */
	/* underline on hover or active */
	text-decoration: underline;
  	text-decoration-color: #E77500;
  	text-decoration-thickness: 2px;
  	text-underline-position: under;
  	/* change background color on hover or active */
  	/*background-color: #f3f3f3;*/
}
.navbar-nav > li > .dropdown-menu{
	background-color:#ffffff;
	border:0px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}
.navbar-nav > li > .dropdown-menu a{
	letter-spacing:1px;
	color:#595959;
	font-family:lato;
	text-decoration: none;
}
.navbar-nav > li > .dropdown-menu a:hover{
	background-color:#fff;
	color:#595959; /* highlight color */
	/* background-color on hover */
	background-color:#efefef;
	
}
.dropdown-toggle .fa{
	font-size:10px;
}
/* header mobile icons navigation */
.navbar-default .navbar-toggle{
	border-color:#000;
	color:#000;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#000;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
	background-color:#FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#000;
	color:#FFF;
}
/* footer */
/* offset needed for fixed footer */
body{
	margin-bottom:210px;
}
#footer{
	border-top:2px solid #E77500;
	background-color: #fff;
	color:#000;
	padding-top:30px;
	height: 160px;
	font-size:14px;
	font-weight:normal;
	margin-top:50px;
	padding-bottom:50px;
}
@media(max-width:991px){
	#footer{
		height:350px;
	}
	body{
		margin-bottom:400px;
	}
}
#footer a{
	color: #595959;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}
#footer a:hover{
	color:#000;
}
#footer a.orgLink{
	/*font-family: 'Lato', serif;*/
	font-size:28px;
	color:#000;
	font-weight:400;
}
#footer .address{
	font-size: 18px;
	font-family: latolight;
	color: #595959;
	text-align: left;
	line-height:1.2em;
	padding-left:50px;
	padding-top: 8px;
}
#footer img{
	width:100%;
	height:auto;
}
@media(min-width:992px){
	#footer .AAlogo, #footer .address{
		float:left;
	}
	.princetonLogo{
		float:right;	
	}
}
#footer .AAlogo{
	width:150px;
}
.princetonLogo{
	padding-top:25px;
	width:300px;
	height:auto;
}
@media(max-width:992px){
	#footer .AAlogo, .princetonLogo{
		text-align:center;
		margin-left:auto;
		margin-right:auto;
	}
	#footer .address{
		text-align:center;
		padding:30px 0px 0px 0px;
	}
}
#footer .list-inline a{
	font-size: 14px;
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
}
#footer .social a{
	font-size: 20px;
	color:#333;
	font-size:25px;
}
#footer ul {
    margin-top: 10px;
}
#footer ul.social li {
  padding: 0px 5px 0px 5px;
}
#footer .funder{
	text-align:center;
	margin-top:25px;
}
#footer .funder img{
	width:100%;
	height:auto;
	max-width:250px;
}
/* search / browse results */
#bRefine H2, #bRefine H3, #bRefine H5{
	color:#000;
}
#bRefine a {
	color: #595959;
	font-size: 14px;
	line-height: 146%;
}
.bResultItemSetLink {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
	display:none;
}
.bResultListItem .bResultItemSetLink{	
	bottom: 25px;
	right: 12px;
}
.bResultItem:hover .bResultItemSetLink, .bResultListItem:hover .bResultItemSetLink{
	display:inline-block;
}
.bResultItem:hover .bResultItemText, .bResultListItem:hover .bResultListItemText{
	padding-bottom:20px;
}
.bResultItem .bResultItemText, .bResultListItemCol .bResultListItemText{
  font-size: 12px;
}

@media(max-width:768px){
	.results .bSearchWithinContainer{
		display:none;
	}
}
.results .bSearchWithinContainer{
	clear:both;
	padding:15px 0px 15px 0px;
	text-align:center;
}
.results .btn-search-refine, .results .btn-search-refine:hover{	
	font-size: 14px;
	cursor: pointer;
	background-color: #fff;
	color:#000;
	font-size: 14px;
	line-height:1em;
	padding: 9px;
	
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border:0px;
	border-radius: 0px;
	margin-left: -30px;
}
.bSearchWithin, .bSearchWithin:focus {
    width: 80%;
    box-shadow: none;
    border: 0px;
    border: 0px;
    border-radius: 0px;
    height: 35px;
    font-size: 14px;
    line-height: 26px;
    background-color: #FFF;
	font-size: 14px;
	display: inline-block;
	display:inline-block;
	padding-right: 30px;
}
.browseRemoveFacet, .browseRemoveFacet .btn{
	display:block;
	width:100%;
	font-size:11px;
	margin:0px 0px 5px 0px;
}
.browseRemoveFacet .btn{
	white-space: normal;
}
.browseRemoveFacet:hover, .browseRemoveFacet .btn:hover{
	text-decoration:none;
}
a.browseRemoveFacet .glyphicon{
	color:#fff !important;
}
.bResultListItem .bResultListItemText a {
	line-height: 1.2em;
	color: #000;
	font-size: 16px;
}

.multisearch .authoritySet a {
	font-size: 15px;
	color: #000;
}
.multisearch .multisearchResult a {
	color: #000;
	font-size: 13px;
	line-height: 1.1em;
}
/* front */
html.frontContainer {
    height: 100%;
    padding:0px -15px 0px -15px;
}
body.frontContainer {
	margin-bottom:0px;
	height: 100%;
}
body.frontContainer #footer{
	position:relative !important;
}

.parallax {
	position:relative;
    background-image: url("../graphics/hero_2.jpg");

    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-left: -15px;
	margin-right: -15px;
	top:-20px;
}
.parallax.hero1 {
	background-image: url("../graphics/hero_2.jpg");
}
.parallax.hero2 {
    background-image: url("../graphics/hero_3.jpg");
}
.parallax.hero3 {
    background-image: url("../graphics/hero_4.jpg");
}
.parallax.hero4 {
    background-image: url("../graphics/hero_5.jpg");
}
.parallax.hero5 {
    background-image: url("../graphics/hero_6.jpg");
}
@media(max-width:420px), (max-height:420px){
	.front .heroSearch .form-group{
		width:300px;
	}
}
.front .heroSearch {
	position:relative;
	text-align:center;
	color:#FFF;
	margin-top: 18vh;
	padding-top:50px;
	padding-bottom:50px;
	font-size:28px;
	text-shadow: 0px 0px 3px #000000;
	background-color: #484848;
	background-color: rgb(36, 36, 36, .9);
	box-shadow:0 2px 14px 0 rgba(0,0,0,.3);
	margin-left:40px;
	margin-right:40px;
}
@media(max-width:1024px){
	.parallax .heroSearch{
		margin-top: 17vh;
	}
}
@media(max-width:768px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
@media(max-height:420px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
@media (max-device-width:1024px){
	/* ipad and mobile disable background-attachment: fixed; fallback to no parallax so at least see image */
	.parallax {
		background-attachment: scroll;
	}
}



.heroSearch H1{
	color: #FFF;
	text-align: center;
	line-height: 1.1em;
	margin:0px;
	padding:0px 15px 0px 15px;
}
.heroSearch H1 .line1, .heroSearch H1 .line3 {
    font-size: 28px;
    text-transform: none;
    font-family: latolight;
}
.heroSearch H1 .line2{
	font-size: 43px;
	font-weight: 500;
	text-transform:none;
	color:#FFF;
	padding-top:20px;
	padding-bottom:20px;
	font-family: "Lato";
}
.heroSearch .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
    margin-top:20px;
}
.front .heroSearch .formOutline{
	display: inline-block;
	background-color:#FFF;
}
.front .heroSearch .form-group {	
    width: 400px;
    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.front .heroSearch .form-control, .front .heroSearch .form-control:focus{
	border:0px;
	box-shadow:none;
	font-size:18px;
	height:44px;
}
#heroSearchButton{
	color:#000;
	font-size: 20px;
}

@media(max-width: 1355px) {
	.heroSearch H1 .line1, .heroSearch H1 .line3 {
		font-size:24px;
	}
	.heroSearch H1 .line2 {
		font-size:35px;
	}
}

@media(max-width: 570px) {
	.heroSearch H1 .line1, .heroSearch H1 .line3{
		font-size:20px;
	}
	.heroSearch H1 .line2 {
		font-size:25px;
	}
	.heroSearch H1 .line2 {	
		padding-top:10px;
		padding-bottom:15px;
		line-height: 1.3em;
	}
	.front .heroSearch .form-group {
		width: 80%;
	}
}

.hpIntro .callout{
	text-align:center;
	font-size: 28px;
	color: #000;
	margin:120px 0px 150px 0px;
	font-family: "Latolight";
	font-weight:300;
	line-height:1.8em;
}
.hpIntro .calloutTitle{
	text-align:center;
	font-size: 28px;
	color: #000;
	margin-bottom:15px;
	font-family: "Lato";
	font-weight:600;
}
@media(max-width:767px){
	.hpIntro .callout{
		font-size: 20px;
	}
	.hpIntro .calloutTitle{
		font-size: 24px;
	}
}

#hpScrollBar{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: rgba(66, 66, 66, 0.3);
	color:#E77500;
	text-align:center;
	font-size:30px;
	padding:10px 0px 10px 0px;
	opacity:.8;
	left: 0px;
}
.front h2, .front h3{
	text-align: center;
	text-transform:capitalize;
	font-size:24px;
	padding-bottom:15px;
}
.front h2 a{
	color: #000;
	text-decoration:underline;
}
.front h2 a:hover{
	color: #E77500;
	text-decoration:underline;
}
.front h2.highlights{
	padding-bottom:30px;
}
/* hp explore */
.hpExplore{
	padding-top:45px;
	margin-bottom: 45px;
}
.hpExploreBox{
	margin-bottom: 45px;
}
.hpExploreBox .hpExploreBoxImage {
	height:240px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.3);
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage1{
	background-image: url('../graphics/hero_3.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage2{
	background-image: url('../graphics/hero_4.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage3{
	background-image: url('../graphics/hero_1.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage4{
	background-image: url('../graphics/hero_2.jpg');
}
.hpExploreBox .hpExploreBoxDetails {
	padding: 15px 13px 22px;
	text-align:center;
}
.hpExploreBox .hpExploreBoxTitle, .hpExploreBox .hpExploreBoxTitle a {
	font-size:20px;
	line-height:28px;
	color:#000;
	margin-bottom:6px;
	font-family: Lato;
	text-decoration: none;
}
.hpExploreBox .hpExploreBoxTitle a:hover {
	text-decoration:none;
}

/* gallery */
@media(max-width:768px){
	.galleryList{
		text-align:center;
	}
	.gallery H1{
		text-align:center;
	}
}
.galleryList{
	margin-bottom:30px;
}
.galleryList img{
	width:100%;
	height:auto;
/*	max-width:250px;*/
}
.galleryList label {
    display: block;
    font-size: 15px;
    text-transform: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1.1em;
    margin-top: 5px;
    font-weight: bold;
}
.galleryList label a{
    text-decoration: none;
}
.gallery .setDescription {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 30px;
}
.gallery .unit{
	margin-bottom: 12px;
	font-size:14px;
}
.gallery .unit a {
	color: #000;
	font-size: 15px;
	text-decoration:underline;
	text-decoration-color: #E77500;
}
.gallery .galleryViewRecord{
	padding-top:15px;
}
.gallery .galleryDetailBottom {
	border: 0px;
	background-color: #f0f0f0;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0px;
}
.gallery #galleryDetailImageGrid img {
  background-color: #fff;
}

.gallery .leaflet-popup-content-wrapper {
  min-width: 250px;
  min-height: 102px;
  padding-bottom: 20px;
}
/* collections */
.collectionTile {
	font-size: 15px;
	line-height: 1.8em;
}
.collectionIntro {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 30px;
}
.collectionsList a{
	text-decoration:none;
}
.collectionTile:hover{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.collectionImage img{
	width:100%;
	height:auto;
}
.collectionTile .title {
  padding-bottom: 10px;
  font-family: lato;
  margin-top: 10%;
  font-size: 18px;
}

.form-control:focus {
	border-color: #000;
}
.front .notificationMessage, .front .notificationInfo {
	position: absolute;
	z-index: 5;
	left: 10%;
	width: 80%;
	text-align: center;
}
.frontGrid a{
	text-decoration: none;
}
a .frontGridCaption{
	color:#000;
	font-size:15px;
	font-family: lato;
	text-decoration: none;
}

/* detail */
.detailFilter{
	font-size: 13px;
	font-family: lato;
	padding-bottom: 15px;
}
.detailFilter .btn-group{
	margin-right:30px;
}
.detailFilter .btn-group button{
	font-size:12px;
	background-color:#efefef;
	color:#000;
}
.detail .unit {
	color: #000;
	font-size: 15px;
}
.detail .unit a {
	color: #000;
	font-size: 15px;
	text-decoration:underline;
	text-decoration-color: #E77500;
}
.detail label {
	display: block;
	font-size: 13px;
	color: #000;
}
.inquireCol .btn, .inquireCol .btn:hover{
	color:#FFF;
	text-decoration:none;
}
@media(min-width:992px){
	.inquireCol{
		text-align:right;	
	}
}
@media(max-width:991px){
	.inquireCol{
		margin-bottom:15px;	
	}
}
.copyRightIcon{
	width:100px;
}
.featuredObject{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	padding:10px;
	margin-bottom:30px;
}
.featuredObject:hover, .featuredObject:focus{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.featuredObjectsCaption{
	padding-top:5px;
}
.featuredObjectsCaption{
	color: #000;
	font-size: 15px;
	text-decoration:none;
	line-height:1.2em;
	height:5.1em;
	overflow:hidden;
}
a:hover .featuredObjectsCaption, a:focus .featuredObjectsCaption{
	text-decoration:underline;
}
.featuredObjectImage{
	text-align:center;
}
.featuredObjectImage img{
	object-fit:contain;
	height:200px;
	width:100%;
}
.detail a.btn, .detail a.btn:hover{
	color:#FFF;
	text-decoration:none;
}

/* types */
.typesIntro {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 30px;
}
.typesTile {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	margin-bottom:15px;
	font-size:13px;
	line-height:1.8em;
	display: flex;
    align-items: center;
    transition: all .4s;
}
.typesImage{
	float:left;
	width:30%;
	padding-right:15px;
}
.typesImage img{
	width:100%;
	height:auto;
	max-width: 250px;
}
.typesTile a.typesBrowse {
	font-size:34px;
	color:#000;
	text-decoration:none;
	padding:30px;
	float:right;
	display:block;
	text-align:center;
	width:20%;
}
.typesTile .title {
	width:80%;
	text-decoration:none;
	color:#000;
	text-decoration:none;
	padding:15px;
	font-family: lato;
	font-size: 18px;
}
.typesTile .titleWithImage{
	width:50%;
	text-decoration:none;
	color:#000;
	padding:15px;
	font-family: lato;
	font-size: 18px;
}
a .typesTile .title {
	text-decoration:none;
}
.typesTile .title a, .typesTile .titleWithImage a {
	text-decoration:none;
	color:#000;
	padding:15px;
	font-family: lato;
	font-size: 18px;
	
}
.typesTile:hover{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.typesBrowseLabel{
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	padding-top: 10px;
	line-height: 1.2em;
	font-family: lato;
}
@media(max-width:700px){
	.typesTile {
		display: block;
		text-align: center;
	}
	.typesTile .titleWithImage{
		width:100%;
	}
	.typesTile .title {
		width:100%;
	}
	.typesImage{
		float:none;
		width:100%;
		padding-right:0px;
	}
	.typesFeaturedList img{
		max-width:none;
	}
	.typesTile a.typesBrowse {
		float:none;
		width:100%;
		text-align:center;
	}
}
@media(min-width:1200px){
	.typesImage{
		width:45%;
	}
	.typesImage img {
		max-width: 350px;
	}
	.typesTile .titleWithImage {
		width:55%;
	}
	.typesTile a.typesBrowse{
		width:23%;
	}
}
.popover-content {
    min-width: 125px;
    font-size:14px;
}
.typesTile:hover .popover-content{
	color:#000;
}

.staticPage{
	font-size:16px;
}
.staticPage a{	
	color:#000;
	text-decoration:underline;
	text-decoration-color: #E77500;
}
.staticPage a:hover{	
	text-decoration-color: #E77500;
}
@media(max-width:767px){
	.userGuideBody H1{
		margin-top:30px;
	}	
}
.userGuideBody H2{
	clear:both;
}
.userGuideBody H3{
	text-transform:none;
	clear:both;
}
.anchor{
	position:relative;
	top:-100px;
}
.userGuideBody label{
	text-transform:none;
	font-size:18px;
	font-weight:600;
}
.userGuideBody{
	font-size:16px;
	border-left:1px solid #dedede;
	margin-top: -15px;
	padding-top:15px;
}
@media(min-width:1010px){
	.userGuideBody{
		padding-left:55px;
	}
}
.userGuideBody ul{
	line-height:1.8em;
	font-size:16px;
}
.userGuideBody img{
	height:auto;
	max-width:80%;
}
.userGuideBody .imgSmall, .userGuideBody .imgMed, .userGuideBody .imgLarge, .userGuideBody .imgFull{
	text-align:center;
}
.userGuideBody .imgSmall img{
	height:auto;
	width:25%;
	max-width:100%;
}
.userGuideBody .imgMed img{
	height:auto;
	width:50%;
	max-width:100%;
}
.userGuideBody .imgLarge img{
	height:auto;
	width:75%;
	max-width:100%;
}
.userGuideBody .imgFull img{
	height:auto;
	width:100%;
	max-width:100%;
}
@media(min-width:768px){
	.userGuideSideNav{
		position:sticky;
		top: 95px;
	}
}
.userGuideSideNav{
	margin-top: -15px;
	padding-top:15px;
}
.userGuideSideNav a{
	font-size:15px;
	color:#000;
	text-decoration:none;
}
.userGuideSideNav ul{
	padding-left: 0px;
	list-style: none;
}
.userGuideSideNav ol{
	padding-left: 15px;
}
.userGuideSideNav H2{
	margin-top: 40px;
	color:#000;
}
.userGuideAnchor{
	position: relative;
	top: -95px;
}
.userGuideBody .video-js{
	width:100% !important;
	height:500px !important;
}