.material-symbols-outlined{
	vertical-align:middle;
	font-size:inherit !important;
}
/* fonts to change */
body{
	color:#000;
	font-size:16px;
}
body, .detail, .gallery, label, b, strong{
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
}
label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	text-transform: none;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
}
b, strong{
	font-family: 'Work Sans', sans-serif;
	font-weight:500;
}
a{
	color:#000;
	font-weight:500;
}
a:hover{
	color:#333;
}

H1, h1, h2, H2, H3, h3, H4, h4, H5, h5, #footer a.orgLink{
	color:#000;
	font-family: 'Work Sans', sans-serif;
	font-weight:600;
	text-transform:none;
}
h2, H2, h3, H3{
	font-size:24px;
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color:#000;
	border-radius:2px;
	text-transform:none;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-size:15px;
	letter-spacing: 0px;
}
.btn-default:hover{
	background-color:#333;
}

.container{
	max-width: 1500px;
}

.container.wideContainer{
	max-width: 5000px;
}
.row.lessGutter{
	margin-left:-8px;
	margin-right:-8px;
}
.row.lessGutter .col-xs-1, .row.lessGutter .col-xs-2, .row.lessGutter .col-xs-3, .row.lessGutter .col-xs-4, .row.lessGutter .col-xs-5, .row.lessGutter .col-xs-6, .row.lessGutter .col-xs-7, .row.lessGutter .col-xs-8, .row.lessGutter .col-xs-9, .row.lessGutter .col-xs-10, .row.lessGutter .col-xs-11, .row.lessGutter .col-xs-12, .row.lessGutter .col-sm-1, .row.lessGutter .col-sm-2, .row.lessGutter .col-sm-3, .row.lessGutter .col-sm-4, .row.lessGutter .col-sm-5, .row.lessGutter .col-sm-6, .row.lessGutter .col-sm-7, .row.lessGutter .col-sm-8, .row.lessGutter .col-sm-9, .row.lessGutter .col-sm-10, .row.lessGutter .col-sm-11, .row.lessGutter .col-sm-12, .row.lessGutter .col-md-1, .row.lessGutter .col-md-2, .row.lessGutter .col-md-3, .row.lessGutter .col-md-4, .row.lessGutter .col-md-5, .row.lessGutter .col-md-6, .row.lessGutter .col-md-7, .row.lessGutter .col-md-8, .row.lessGutter .col-md-9, .row.lessGutter .col-md-10, .row.lessGutter .col-md-11, .row.lessGutter .col-md-12, .row.lessGutter .col-lg-1, .row.lessGutter .col-lg-2, .row.lessGutter .col-lg-3, .row.lessGutter .col-lg-4, .row.lessGutter .col-lg-5, .row.lessGutter .col-lg-6, .row.lessGutter .col-lg-7, .row.lessGutter .col-lg-8, .row.lessGutter .col-lg-9, .row.lessGutter .col-lg-10, .row.lessGutter .col-lg-11, .row.lessGutter .col-lg-12{
	padding-left:8px;
	padding-right:8px;
}
.bgLightGray{
	background-color:#EEE;
}
.bgLightGrayBody{
	background-color:#f6f6f6;
}
.bgWhite{
	background-color:#FFF;
}
.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
/* header */
.navbar{
	background-color: #333;
	position:fixed;
	width:100%;
	top:0px;
}
.navbar .formOutline{
	border-radius:2px;
	border: 0px;
}
.navbar-form .form-group {
	background-color: #D9D9D9;
}
.navbar .formOutline .form-control#headerSearchInput{
	height:32px;
}
.headerAdvancedSearch{
	text-align:right;
}
.headerAdvancedSearch a{
	font-size:13px;
}
#headerSearchButton{
	color:#FFF;
	border-radius:0px 2px 2px 0px;
	background-color:#000;
	padding: 5px 8px 5.5px 8px;
}
#headerSearchButton .material-symbols-outlined {
	font-size: 20px !important;
}
#headerSearchButton:focus{
	background-color: #555555;
	border-radius: 0px;
}
#headerSearchInput:focus{
	border: 1px dashed #999;
	border-radius: 0px;
}
.navbar-brand{
	width:175px;
	padding-top: 0px;
}
@media (min-width:768px){
	.navbar-brand{
		width: 211px;
		padding-top: 17px;
	}
	.navbar-brand.brandVideoOut {
  		width: 82px;
  		padding-top: 10px;
	}
}
@media (min-width:768px){
	.navbar-nav > li > a {
		padding-top: 23px;
		padding-bottom: 24px;
		padding-left:20px;
		padding-right:20px;
	}
	.navbar-form{
		margin-top:20px;
	}
	.nav > li.dropdown > a.icon{
		padding-top: 23px;
		padding-bottom: 24px;
	}
	.menuItems{
		margin-left:20px;
	}
	.navbar-nav li.bgBlack{
		background-color:#000;
		border-radius:2px;
	}
}
@media (max-width:767px){
	.navbar-nav{
		margin:0px;
	}
	.navbar .formOutline{
		border: 1px solid #dedede;
	}
}
@media(max-width:1010px){
	.yamm .nav.navbar-right.menuItems .dropdown-menu {
		left: 0;
		right: auto;
	}
}

.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: 'Work Sans', sans-serif;
	font-weight:300;
    text-transform:none;
    font-size:15px;
}
.navbar-default .navbar-nav > li > a{
	color:#FFF;
	letter-spacing:auto;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:transparent;
	color:#DEDEDE; /* highlight color */
	/* underline on hover or active */
	/*text-decoration: underline;
  	text-decoration-color: #FFF;
  	text-decoration-thickness: 1px;
  	text-underline-position: under;*/
  	/* change background color on hover or active */
  	/*background-color: #f3f3f3;*/
}
.navbar-nav > li > .dropdown-menu a:hover, .navbar-nav > li > .dropdown-menu a:focus{
	background-color:#000;
	color:#DEDEDE; /* highlight color */
	/* background-color on hover */
	/*background-color:#efefef;*/
	
}
@media(min-width:768px){
	.navbar-nav > li > .dropdown-menu{
		border:0px;
		box-shadow: none;
		width: 100%;
		position: fixed;
		top: 0px;
		left: 0px;
		padding-left: 230px;
		margin-top: 74px;
		background-color:#000;
		
		-webkit-transition: all .4s;
		-o-transition: all .4s;
		transition: all .4s;
	}
	#user-navbar.navbar-nav > li > .dropdown-menu{
		padding-right:263px;
	}
	.navbar-nav > li > .dropdown-menu a{
		text-transform:none;
		letter-spacing:0px;
		color:#FFF;
		font-family: 'Work Sans', sans-serif;
		font-weight:300;
		font-size:14px;
	}
	.navbar-nav > li > .dropdown-menu li{
		float:left;
	}
	#user-navbar.navbar-nav > li > .dropdown-menu li{
		float:right;
	}
	.navbar-nav > li.dropdown > .dropdown-menu{
		opacity:0;
		-webkit-transition: all 1s linear;
		-moz-transition: all 1s linear;
		-o-transition: all 1s linear;
		transition: all 1s linear;
	}
	
	.navbar-nav > li.dropdown.open > .dropdown-menu{
		opacity:1;
	}
}
.vidOutArchiveSwitch{
	float:right;
	margin:20px 10px 0px 20px;
}
.vidOutArchiveSwitch .btn-default{
	font-weight:300;
}
.vidOutArchiveSwitch .btn-default:hover{
	font-weight:300;
}
.vidOutArchiveSwitch .material-symbols-outlined{
	font-size:20px !Important;
}
/* header mobile icons navigation */
.navbar-default .navbar-toggle{
	border-color:#000;
	color:#000;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#000;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
	background-color:#FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#000;
	color:#FFF;
}
/* footer */
/* offset needed for fixed footer */
body{
	margin-bottom:435px;
	margin-top: 94px; /* offset fixed header */
}
#footer{
	background-color: #333;
	color:#FFF;
	padding-top:40px;
	height: 385px;
	border:0px;
	margin-top:50px;
	padding-bottom:50px;
	font-size:16px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
}
@media(max-width:480px){
	/* CHANGE - does the footer height need to change for smaller screen sizes? */
	/*#footer{
		height:430px;
	}*/
	/* CHANGE - does the footer offset need to change for smaller screen sizes? */
	/*body{
		margin-bottom:480px;
	}*/
}
#footer a, #footer ul a{
	color:#FFF;
	text-decoration:none;
	font-size:16px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	line-height:1.2em;
}
#footer a .material-symbols-outlined{
	font-size: 18px !Important;
}
#footer ul li.title{
	font-weight:400;
}
#footer .orgLink{
	display:inline-block;
	width:auto;
	line-height:1.2em;
}
#footer .orgLink, #footer .orgLink a{
	font-size:28px;
	color:#FFF;
	font-weight:400;
	font-size:24px;
	font-family: 'Work Sans', sans-serif;
}
#footer hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#footer ul li{
	padding: 0px 0px 15px 0px;
	margin:0px;
	line-height:1em;
}
@media(max-width: 768px) {
	#footer .text-right{
		text-align:left;
	}
}
#footer .list-inline a{
	font-size: 14px;
	color: #FFF;
	font-weight: 400;
	text-transform: uppercase;
}
#footer .social a{
	font-size: 20px;
	color:#FFF;
	font-size:25px;
}
#footer ul {
    margin-top: 10px;
}
#footer ul.social li {
  padding: 0px 5px 0px 5px;
}
#footer .funder{
	text-align:center;
	margin-top:25px;
}
#footer .funder img{
	width:100%;
	height:auto;
	max-width:250px;
}
/* search / browse results */
.detailFilter{
	padding-bottom:10px;
}
@media(min-width:769px){
	.detailFilter{
		float: right;
		margin-top: -60px;
	}
}
#bRefine {
  background-color: #fff;
}
#bViewButtons{
	padding:0px;
}
.resultCol{
	padding:15px;
}
#bSortByList ul li strong{
	text-transform:none;
}
.results H1{
	font-weight:400;
	font-size:32px;
	text-transform:capitalize;
}
.results a .fa.fa-gear {
  color: #000 !important;
  font-size:20px;
}
.results H1 .material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 24px !important;
	margin-top: -10px;
}
#bRefine H2 {
	font-size: 16px;
	text-transform: none;
	color: #000;
	margin-top: 0px;
}
#bRefine H5, #bRefine H3 {
	margin-bottom: 8px;
	margin-top: 20px;
	text-transform: capitalize;
	padding: 0px;
	color: #000;
	font-size: 16px;
}
#bRefine a {
	color: #000;
	font-size: 14px;
	line-height: 146%;
	font-weight: 300;
}
.bResultItemSetLink {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
	display:none;
}
.bResultListItem .bResultItemSetLink{	
	bottom: 25px;
	right: 12px;
}
.bResultItem:hover .bResultItemSetLink, .bResultListItem:hover .bResultItemSetLink{
	display:inline-block;
}
.bResultItem:hover .bResultItemText, .bResultListItem:hover .bResultListItemText{
	padding-bottom:20px;
}
.bResultItem .bResultItemText, .bResultListItemCol .bResultListItemText{
  font-size: 12px;
}
#bSortByList ul li.selectedSort {
  color: #000;
  font-weight:500;
}
#bSortByList li a {
  text-decoration: underline;
  color: #000;
  font-weight:400;
}
@media(max-width:768px){
	.results .bSearchWithinContainer{
		display:none;
	}
}
.results .bSearchWithinContainer{
	clear:both;
	padding:15px 0px 15px 0px;
	text-align:center;
}
.results .btn-search-refine, .results .btn-search-refine:hover{	
	font-size: 20px !important;
	cursor: pointer;
	background-color: #fff;
	color:#000;
	font-size: 14px;
	line-height:1em;
	padding: 0px;
	
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border:0px;
	border-radius: 0px;
	margin-left: -30px;
	height: 35px;
	width: 30px;
	background-color:#000;
	color:#FFF;
}
.bSearchWithin, .bSearchWithin:focus {
    width: 100%;
    box-shadow: none;
    border: 0px;
    border: 0px;
    border-radius: 0px;
    height: 35px;
    font-size: 14px;
    line-height: 26px;
    background-color: #FFF;
	font-size: 14px;
	display: inline-block;
	display:inline-block;
	padding-right: 30px;
	background-color: #EEE;
}
.bSearchWithin:focus, .btn-search-refine:focus{
	border: 1px dashed #555555 !important;
	border-radius:0px;
}
.browseRemoveFacet, .browseRemoveFacet .btn{
	display:block;
	width:100%;
	font-size:11px;
	margin:0px 0px 5px 0px;
}
.browseRemoveFacet .btn{
	white-space: normal;
	text-align:left;
	width:auto;
}
.browseRemoveFacet .btn.clearAll{
	background-color:#D9D9D9;
	color:#000;
}
.browseRemoveFacet:hover, .browseRemoveFacet .btn:hover{
	text-decoration:none;
}
a.browseRemoveFacet .glyphicon{
	color:#fff !important;
}
.bResultItemImgPlaceholder{
	border:0px;
	margin-bottom:0px;
	padding-top:70px;
}
.placeholderImage{
	opacity:.3;
}
.resultTile{
	margin-bottom:30px;
	position:relative;
}
.lessGutter .resultTile{
	margin-bottom:16px;
}
.resultTile img{
	width:100%;
	height:auto;
}
.resultTile .caption{
	height:72px;
	padding:10px;
	font-size:16px;
	font-weight:400;
	line-height:1.2em;
	background-color:#EEE;
}
.results .resultTile .caption{
	font-size:14px;
	background-color:#fff;
}
.resultTile a .caption{
	color:#000;
	text-decoration:none;
	font-weight:400;
}
.resultTile .tools{
	position:absolute;
	top: 15px;
	right:20px;
}
.resultTile .tools .setLink{
	display:inline-block;
	background-color:#FFF;
	margin-right:5px;
	border-radius:3px;
	padding: 0px 5px 0px 5px;
	font-size: 13px;
}
.resultTile .tools .setLink .material-symbols-outlined {
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48 !important;
	font-size: 18px !important;
	margin-top: -1px;
}
.resultTile .tools .identifier{
	display:inline-block;
	background-color:#EEE;
	border-radius:3px;
	padding:3px;
	font-size:13px;
	line-height:1em;
}
.resultTile .tools .identifier a{
	font-weight:400;
}

.resultListTile{
	margin-bottom:30px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.resultListTile img{
	width:100%;
	height:auto;
}
.resultListTile .resultListTileText{
	padding-top:15px;
	padding-right:30px;
	line-height: 1.1em;
	font-weight:500;
	font-size:16px;
}
.resultListTile .resultListTileText small{
	font-size:14px;
	font-weight:400;
}
a:hover .resultListTile{
	background-color: #dedede;
}
.resultListSimple{
	padding-bottom:10px;
}
.resultListSimple a{
	font-size:16px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
}
#bLetterBar{
	background-color: #FFF;
	display: inline-block;
	padding: 1px 5px 3px 5px;
	border-radius: 3px;
}
#bLetterBar a{
	font-size:14px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
}
/* front */
html.frontContainer {
    height: 100%;
    padding:0px -15px 0px -15px;
}
body.frontContainer {
	margin-bottom:0px;
	height: 100%;
}
body.frontContainer #footer{
	position:relative !important;
}
.hero {
	background-image: url("../graphics/Archivehero.jpg");

    height: 640px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-left: -15px;
	margin-right: -15px;
	top:-20px;
	position:relative;
	margin-bottom:25px;
}
.heroFront {
	background-image: url("../graphics/Archivehero.jpg");
}
.heroCollections {
	background-image: url("../graphics/CollectionsHero.jpg");
}
.heroVideoOut {
	background-image: url("../graphics/VideoOutHero.jpg");
}
.hero .heroIntroContainer{
	max-width: 1530px;
	position: relative;
  	bottom: 0px;
  	margin-right: auto;
  	margin-left: auto;
  	width: 100%;
	height: 100%;
	padding-right: 30px;
	padding-left: 30px;
}
.hero .heroIntro {
	position:absolute;
	color:#FFF;
	padding:20px;
	font-size:28px;
	background-color: #000;
	background-color: rgb(0, 0, 0, .85);
	font-size:24px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	text-align:left;
	bottom:40px;
	right: 30px;
	width: 49%;
}
.heroIntro H1{
	color: #FFF;
	font-size:32px;
	font-family: 'Work Sans', sans-serif;
	font-weight:500;
	text-align:left;
	text-transform:none;
	padding-top:0px;
	margin-bottom:20px;
}
@media(max-width:1024px){
	.hero .heroIntro {
		width: auto;
		font-size: 24px;
		left: 30px;
		right: 30px;	
	}
	.heroIntro H1{
		font-size:32px;
	}
}
@media(max-width:768px){
	.hero .heroIntro {
		width: auto;
		font-size: 24px;
		left: 30px;
		right: 30px;
	}
	.heroIntro H1{
		font-size:32px;
	}
}
@media(max-height:420px){
	.hero .heroIntro {
		width: auto;
		font-size: 24px;
		left: 30px;
		right: 30px;
	}
	.heroIntro H1{
		font-size:32px;
	}
}
.videoout h2{
	margin-top: 70px;
	margin-bottom: 30px;
}


#hpScrollBar{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: rgba(227, 230, 232, 0.3);
	color:#000;
	text-align:center;
	font-size:30px;
	padding:10px 0px 10px 0px;
	opacity:.8;
	left: 0px;
}
.front h2{
	text-align: left;
	text-transform:none;
	font-size:40px;
	padding-bottom:35px;
	padding-top:15px;
	line-height:1em;
	font-weight: 400;
	margin:0px;
}
.frontGrid{
	padding:0px;
	margin:0px;
}
/* hp explore */
.hpExplore{
	padding-top:45px;
	margin-bottom: 45px;
}
.hpExploreBox{
	margin-bottom: 45px;
}
.hpExploreBox .hpExploreBoxImage {
	height:240px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.3);
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage1{
	background-image: url('../graphics/hero_1.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage2{
	background-image: url('../graphics/hero_1.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage3{
	background-image: url('../graphics/hero_1.jpg');
}
.hpExploreBox .hpExploreBoxDetails {
	padding: 15px 13px 22px;
	text-align:center;
}
.hpExploreBox .hpExploreBoxTitle, .hpExploreBox .hpExploreBoxTitle a {
	font-size:20px;
	line-height:28px;
	color:#000;
	text-transform:uppercase;
	margin-bottom:6px;
	font-family: 'Work Sans', sans-serif;
}
.hpExploreBox .hpExploreBoxTitle a:hover {
	text-decoration:none;
}

/* gallery */
.gallery h2{
	margin-bottom: 30px;
	text-transform:none;
	font-size:24px !Important;
}
@media(max-width:768px){
	.galleryList{
		text-align:center;
	}
	.gallery H1{
		text-align:center;
	}
}
.galleryList{
	margin-bottom:30px;
}
.galleryList img{
	width:100%;
	height:auto;
	max-width:250px;
}
.galleryList label {
    display: block;
    font-size: 15px;
    text-transform: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1.1em;
    margin-top: 5px;
    font-weight: bold;
}
.gallery .setDescription {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.8em;
}
.gallery .unit{
	margin-bottom: 12px;
	font-size:14px;
}
.gallery .galleryViewRecord{
	padding-top:15px;
}
.gallery .galleryDetailBottom {
	border: 0px;
	background-color: #f0f0f0;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0px;
}
.gallery #galleryDetailImageGrid img {
  background-color: #fff;
}
.gallery .video-js {
	min-height: 300px;
}
@media (min-width: 768px) {
  	.gallery .video-js {
    	min-height: 400px;
	}
}
.gallery .plyr__video-wrapper{
	min-height:250px;
	width:auto;
}
@media (min-width: 768px) {
	.gallery .plyr__video-wrapper{
		height:400px;
		width:auto;
	}
}
.gallery #galleryDetailImageArea #galleryDetailImageWrapper:hover .detailMediaToolbar {
  display: none;
}
/* collections */
.highlightImg img{
	width:100%;
	height: 500px;
	object-fit: cover;
}
@media(max-width:991px){
	.highlightIntroContainer{
		padding:0px 20px 20px 20px;
	}
}
.highlightIntro{
	padding-right:15px;
	padding-bottom:15px;
	font-weight:400;
}
.highlightIntroNoTitle{
	margin-top:20px;
}


.imgTile{
	margin-bottom:30px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.imgTile img{
	width:100%;
	height:auto;
}
.imgTile .imgTileText{
	padding-top:30px;
	line-height: 1.1em;
	font-size:14px;
	font-weight:400;
}
.imgTile .imgTileText .imgTileTextTitle{
	font-weight:600;
	font-size:20px;
	margin-bottom:20px;
}
.imgTile .imgTileText label{
	font-size:14px;
}
a:hover .imgTile{
	background-color: #dedede;
}
.collections h3 {
	margin-top:50px;
	margin-bottom:30px;
}

.form-control:focus {
	border-color: #000;
}
.front .notificationMessage, .front .notificationInfo {
	position: absolute;
	z-index: 5;
	left: 10%;
	width: 80%;
	text-align: center;
}


.staticPage .bodyTextCol{
	background-color:#F6F6F6;
	border-radius:3px;
	padding:10px 15px;
	font-size:16px;
	font-weight:400;
	font-family: 'Work Sans', sans-serif;
}
.staticPage .bodyTextCol H1{
	font-size:24px;
}
.staticPage .bodyTextCol H2{
	font-size:18px;
	margin-top:40px;
}
.staticPage .bodyTextCol .form-control{
	border:0px;
}
.staticPage .bodyTextCol b, .staticPage .bodyTextCol strong{
	font-weight:600;
	font-size:18px;
	font-family: 'Work Sans', sans-serif;
}
.staticPage img {
	display:inline-block;
	margin-bottom:15px;
	width:100%;
	height:auto;
	border-radius:3px;
}
.detail .bgLightGrayDetail{
	background-color:#EEE;
	padding:15px 15px 0px 15px;
	border-radius:3px;
	margin-bottom:25px;
}
.detail .bgDarkGray{
	background-color:#DADADA;
	padding:15px 15px 15px 15px;
	border-radius:3px;
	margin-bottom:25px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.detail a .bgDarkGray{
	font-size:15px;
	font-weight:500;
}
.detail a .bgDarkGray small{
	font-size:14px;
	font-weight:400;
}
.detail a:hover .bgDarkGray{
	color:#000;
	background-color:#EEE;
	text-decoration:nonel
}
.detail a .bgDarkGray .material-symbols-outlined{
	font-size:18px !important;
}
.detail .bgLightPink{
	background-color:#FFE3E3;
	padding:15px 15px 0px 15px;
	border-radius:3px;
	margin-bottom:25px;
}
.detail a{
	color:#000;
}
.detail .btn, .detail .btn:hover{
	color:#FFF;
}
.detail H1{
	font-size:32px;
	font-weight:600;
	color:#000;
	text-transform:none;
	margin-bottom:25px;
}
.detail H2{
	font-size:14px;
	font-weight:500;
	color:#000;
	background-color:#DADADA;
	text-transform:uppercase;
	width:auto;
	display:inline-block;
	border-radius:3px;
	padding:5px;
	margin:0px 0px 25px 0px;
}
.detail H3{
	margin-top:30px;
}
.detail .unit{
	font-family: 'Work Sans', sans-serif;
	font-size:14px;
	font-weight:400;
	padding-bottom:30px;
	margin-bottom:0px;
	color:#000;
}
.detail .unitLessPadding{
	padding-bottom:15px;
}
.detail label{
	font-family: 'Work Sans', sans-serif;
	font-size:16px;
	font-weight:600;
	color:#000;
	text-transform:none;
	margin: 0px 0px 0px 0px;
}
.detail .unit a{
	color:#000;
	text-decoration:underline;
	font-weight:400;
}
.detail .detailTool span, .detail .detailTool i {
	color:#FFF;
	margin-right:0px;
	font-size: 20px !important;
}
.detail .detailTool{
	display:inline;
	padding-left:0px;
	padding-right:15px;
}
.detail #detailTools {
	clear: both;
	padding-top: 0px;
	margin-top: 15px;
	font-family: 'Work Sans', sans-serif;
}
/* multisearh */
.multisearch H1{
	font-weight: 400;
	font-size: 32px;
	text-transform: capitalize;
}
.multisearch H3 a, .multisearch H3 a:hover, .multisearch H2 a, .multisearch H2 a:hover {
  text-decoration: none;
  color: #000;
}
.multisearchFullResults a {
	text-transform: none;
	color: #000;
}
.multisearch .authorityResult{
	background-color:#EEE;
}
.multisearch .authoritySet a {
  color: #000;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}
.multisearch .multisearchResult{
	box-shadow:none;
	padding:0px;
	background-color:#EEE;
}
.multisearch .multisearchResult .multisearchResultCaption{
	padding:10px;
}
.multisearch .multisearchResult .multisearchResultCaption a {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height:1.1em;
}