<?php
	$vn_num_media = 0;
	if ($t_page = $this->getVar("page")) {
		$va_media = $t_page->getPageMedia(array("large", "medium"));
		if(is_array($va_media) && sizeof($va_media)){
			$vn_num_media = sizeof($va_media);
		}
	}
?>
<div class="row">
	<div class="col-sm-12">
		<h1>{{{title}}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-<?php print ($vn_num_media) ? "6" : "12"; ?> bodytext">
		{{{bodytext}}}
	</div>
<?php
	switch($vn_num_media){
		case 1:
?>
			<div class="col-sm-6 image">{{{media:1:page}}}</div>
<?php
		break;
		case 2:
?>
			<div class="col-sm-6 image">{{{media:1:page}}}<br/>{{{media:2:page}}}</div>
<?php
		break;
		case 3:
?>
			<div class="col-sm-6 image">
				<div class="row">
					<div class="col-sm-12 image">{{{media:1:page}}}</div>
				</div>
				<div class="row">
					<div class="col-sm-6 image">{{{media:2:medium}}}</div>
					<div class="col-sm-6 image">{{{media:3:medium}}}</div>
				</div>
			</div>
<?php
		break;
		case 4:
?>
			<div class="col-sm-6 image">
				<div class="row">
					<div class="col-sm-6 image">{{{media:1:medium}}}</div>
					<div class="col-sm-6 image">{{{media:2:medium}}}</div>
				</div>
				<div class="row">
					<div class="col-sm-6 image">{{{media:3:medium}}}</div>
					<div class="col-sm-6 image">{{{media:4:medium}}}</div>
				</div>
			</div>
<?php
		break;
	}
?>
</div>
