html {
    position: relative;
    min-height: 100%;
}
body {
	font-family:"Open Sans";
	margin-bottom: 150px;
}
h1, h2, h3, h4, h5, h6 {
	font-family:"Open Sans";
}
h1 {
	color: #282828;
	font-size:40px;
	line-height:1.3em;
}
.front H1, .contact h1, h1 { 
	color: #282828;
	font-size:28px;
	padding-left:0px;
	padding-top:0px;
	text-transform:none;
}
h2 {
	color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
h2 a {
	color: #000;
}
h6 {
	font-weight:600;
	margin-bottom:4px;
}
a, a:hover {
	color: #428BCA;
}
.btn-default {
	font-size:12px;
	margin-left:5px;
	background-color: rgba(0, 0, 0, 0.6);
}
.btn-default:hover{
	background-color: rgba(0, 0, 0, 0.8);
}
.navbar {
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow:none;
}

.navbar-default .navbar-brand {
	color: #fff;
}
.navbar > .container a.navbar-brand {
    padding:15px;
    color: #ffffff;
    background-color: #080808;
    line-height:20px;
    position: relative;
    display: block;
    width:auto;
    text-transform:uppercase;
    font-family:"Open Sans";
    font-size:16px;
    margin-left:0px;
}
.navbar-default .navbar-nav > li > a {
	color: #999999;
	padding-top: 16px;
    padding-bottom: 15px;
    line-height: 20px;
    display: block;
    font-family:"Open Sans";
    font-size:16px; 
}
.navbar-default .navbar-nav > li > a:hover {
	color:#fff;
}
.navbar-default .navbar-form {
	margin-bottom:0px;
}
.navbar .navbar-form .form-control {
	border-radius:0px;
	background-color: #999999;
}
.navbar .formOutline {
	border-radius:0px;
	background-color: #999999;
	border:0px;
}
.navbar .formOutline .btn-search {
	border-radius:0px;
	background-color: #999999;
	color:#fff;	
}
.objCount {
	color:white;
	padding-top:16px;
}
::-webkit-input-placeholder {
   color: white !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: white !important;  
}
::-moz-placeholder {  /* Firefox 19+ */ 
   color: white !important;  
}
:-ms-input-placeholder {  
   color: white !important;  
}
#pageArea {
	margin-bottom:20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding-left:15px;
    padding-top:15px;
}

#footer img {
	width:100%;
	height:auto;
}
@media (max-width: 768px) {
	.footer {
		height:50px;
		padding-bottom:10px;
	}
}

/* Front */

a.copyright {
	color:#000;
	text-decoration:underline;
}
.frontSlide .frontSlideCaption, .frontSlide:hover .frontSlideCaption {
	font-weight:normal;
}
.front .jcarousel-wrapper {
    margin-bottom: 20px;
    margin-top: -20px;
    margin-right: -15px;
    margin-left: -15px;
}
.front .jcarousel-control-prev {
	left:0px !important;
}
.front .jcarousel-control-next {
	right:0px !important;
}
.platform  {
	background-image: url('../graphics/platforms.jpg');
	background-repeat:no-repeat;
	background-size:100% auto;
	height:200px;
}
.platformLink {
	padding:10px 20px 10px 35px;
	background-color:#666;
	color:#000 !important;
	margin: 5px 0 5px 0;
	display:block;
	text-transform:uppercase;
	
	background-color:#f5f5f5;
	border-left:4px solid #fff;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;	
	font-size:12px;
	
	text-decoration:none;
    
    break-inside: avoid;
    
    text-indent: -1.5em;
}

/*
.OLDplatformLink {
	padding:10px 20px;
	background-color:#666;
	color:#fff;
	margin-bottom:5px;
	display:block;
	text-transform:uppercase;
	background: #666; 
    background: -webkit-linear-gradient(#333, #555); 
    background: -o-linear-gradient(#333, #555); 
    background: -moz-linear-gradient(#333, #555);
    background: linear-gradient(#333, #555); 
    
    break-inside: avoid;
}
*/

.platformLink:hover {
	background-color: #e7e7e7;
	color:#000;
	text-decoration:none;
}
.leaderText {
	text-align:left;
}
.spotlight {
	background-color:#fff;
	text-align:center;
	padding-top:15px;
}
.spotlight .slide {
	width:100%;
}
.spotlight .slide img {
	width:100%;
	height:auto;
}
.spotlight .slideCaption {
	position:absolute;
	left:0px;
	bottom:0px;
	background-color: rgba(0, 0, 0, 0.5);
	color:#fff;
	padding:15px;
	width:85%;
	text-align:left;
	font-size:20px;
}
.spotlight .slideCaption a {
	color:#fff;
}
.spotlight .example-pager span{
    color: #fff;
    border: 2px solid #666;
    height: 10px;
    background-color: #666;
    width: 10px;
    margin-right: 5px;
    padding-top: 4px;
    display: inline-block;
    cursor: pointer;
    line-height: 14px;
    margin-top: 10px;
}
.spotlight .example-pager span.cycle-pager-active {
    background-color: #000;
    border: 2px solid #000;
}
.cycle-next, .cycle-prev {
    opacity: 1;
    font-size: 40px;
    height: 60px;
    width: 40px;
    background-color: rgba(51, 69, 13, 0.5);
    position:absolute;
    z-index:200000;
    top:35%;
    padding-top:8px;
}
.cycle-next .fa, .cycle-prev .fa{
	color:#fff;
}
.cycle-prev {
	left:0px;
}
.cycle-next {
	right:0px;
}

/* Browse */
.filterMenuResults div div.row {
    overflow: auto;
    max-height: 415px;
}
.filterbylabel {
	font-size:12px;
}
#browse-menu {
	border-top:0px;
	padding-top:2px;
}
.filterMenuFacetList li.active {
	background-color:#f5f5f5;
	border-radius:0px;
	margin-left: -15px;
    padding-left: 18px;
    margin-right: -18px;
}
.filterMenuFacetList li.active a{
    color:#000;
}
.browseMenuFacet {
	margin-bottom:0px;
	padding-bottom:0px;
}
.filterMenuResults {
	padding-top:0px;
}
div.browseFacetItem a {
    font-size: 12px;
    text-transform: capitalize;
    color:#000;
}
div.browseFacetItem a:hover {
    color: #000;
}
.filterText {
	font-size:16px;
}
.collectionDescription {
	border:1px solid #eee;
	margin-top:10px;
	margin-bottom:10px;
	padding:8px;
	background-color:#fbfbfb;
	border-radius:2px;
}
.browse .btn, .sets .btn {
    background-color: rgba(0, 0, 0, 0.6);
}
/* MultiSearch */

.multisearch .multisearchResult {
	width: 220px;
	height:220px;
}
.multisearch #objectsBlock .blockResults {
	height:250px; 
}
.multisearch .multisearchResult img {
	height:120px;
}
.multisearch #collectionsBlock .blockResults {
	height:270px;
}
.multisearch #objectsBlock .scrollButtonNext, .multisearch #objectsBlock .scrollButtonPrevious,
.multisearch #collectionsBlock .scrollButtonNext, .multisearch #collectionsBlock .scrollButtonPrevious {
	height:225px;
	padding-top:90px;
}

/* Detail */

.dlButton {
	display:none;
}
.detail .detailMediaToolbar {
	padding:7px;
}

/* Contribute */

.contributeField {
	margin-bottom:20px;
}
.contributeField .title {
	font-weight:bold;
}
.contributeSubmit {
	float:right;
}
.contributeSubmit a {
	background-color:#333;
	color:#fff;
	padding:5px 10px;
	border-radius:4px;
}
.submitButtons {
	clear:both;
	height:50px;
}

@media (min-width: 768px) {
	#caFormOverlay {
		width: 400px;
		margin: 40px auto 0px auto;
	}
}


.vco-slider .slider-item .content .pad-left .text .container {
    padding-left: 0px !important;
}
.slider-item .text {
	width:60% !important;
	font-size:12px;
	padding-left:10px;
}
.vco-storyjs p {
	font-size:13px !important;
}
.vco-slider .slider-container-mask {
	height: 350px !important;
}

/* Analytics */
.analytics {
    color: #454545;
    font-size: 12px;
}
.analytics a {
    color: #999;
    text-decoration: none;
}
.analytics a:hover {
	color: #454545;
    text-decoration: underline;
}
.analytics a.platformLink, .analytics a.platformLink:hover {
	color:#FFF;
	text-decoration: none;
}
.analyticsBody{
	position:relative;
}
.analyticsBody img{
	width:100%;
	height:auto;
}
.analyticsBody a{
	position:absolute;
	height:2%;
}
.analyticsBody a:hover{
	text-decoration:none;
}
.analyticsFacetBlock{
	max-height:300px;
	overflow-y:scroll;
}
.analyticsHierChild{
	padding-left:15px;
}

/* charts */
@media (min-width: 768px) {
	.analyticsChartCol{
		margin-left:40px;
	}
}
.ct-bar{
	stroke:#828282 !important;
}

.detailToolSocial{
	font-size:25px !important;
	padding-bottom:0px !Important;
}
.detailToolSocial i{
	margin-right:25px;
}

/* Sitewide socail tools */
.generalToolSocial{
	font-size:25px !important;
	padding-bottom:0px !Important;
}
.generalToolSocial a{
	color: #999;
    text-decoration: none;
}
.generalToolSocial a:hover {
	color: #454545;
}
.generalToolSocial i{
	margin-right:5px;
}

/*  hiding the links to chose the browse target.  This lets us hide the analytics browse */
.browseHeadernav{
	display:none;
}

.form-control:focus {
    border-color: #000;
}