/*
	highlight: #00cfb7
	Loden:#879999
	gray green: #464D4B
	khaki:#afa376
	dark gray:#181818
	light gray:#828282
	lighter gray:#f9f9f9
*/

input:focus{
	border-color:#00cfb7 !important;
}
/*  RESULTS */
/* list results */
.bBAMResultListItem{
	font-size:12px;
	line-height:1em;
	padding:10px 0px 10px 0px;	
	border-bottom:2px solid #DDDDDD;
	position:relative;
}
.bBAMResultListItem:hover{
	background-color:#f9f9f9;
}
.bBAMResultListItem a{
	display:block;
	color:#00cfb7 !important; 
	text-decoration:none;
	font-size:14px;
	line-height:1em;
	height:1em;
	overflow:hidden;
	font-family: "News Gothic Roman";
}
.bBAMResultListItem.occItem a{
	height:2.5em;
	line-height:1.2em;
}
.bBAMResultListItem span{
	color:#00cfb7 !important;
}
.bBAMResultListItem a:hover{
	color:#00cfb7; 
	text-decoration:none;
}
.bBAMResultListItem span.series{
	text-transform:uppercase;
	color:#999999 !important;
	font-size:14px;
	padding-top:4px;
	display:inline-block;
	font-family: "News Gothic Condensed";
}
/* image results */
.icon-heart-filled{
	color: #00cfb7 !Important;
}
.bBAMResultItemImg a:hover{
	text-decoration:none;
}
.bBAMResultItem{
	border-bottom:2px solid #DDDDDD;
	height:307px;
	margin-bottom:35px;
	position:relative;
}
.bSetsSelectMultipleCheckbox{
	position:absolute;
	right:3px;
	top:3px;
	z-index:10;
}
.bBAMResultListItem .bSetsSelectMultipleCheckbox{
	right:0px;
	top:5px;
}
/*.bBAMResultItem .bBAMResultItemImg img{
	height:240px;
	width:auto;
}*/
.bBAMResultItem .bBAMResultItemImgContainer{
	text-align:center;
	display:table;
	width:100%;
}
.bBAMResultItem .bBAMResultItemImgContainer .bBAMResultItemImg{
	text-align:center;
	overflow:hidden;
	height:240px;
	position:relative;
	display:table-cell;
	vertical-align: middle;
}
.bBAMResultItemImg .bBAMResultLB{
	position:absolute;
	text-align:right;
	right:10px;
	display:block;
	font-size:30px;
	color:#FFFFFF !important;
	top:5px;
}
.bBAMResultItemImg:hover .bBAMResultLB{
	display:block;
}
.bBAMResultItemImg .bBAMResultLB a span{
	color: #fff;
}
.bBAMResultItemImg .bBAMResultLB a:hover span{
	/*color:#00cfb7 !important;*/
	text-decoration:none;
	color:#fff !important;
}
.bBAMResultItemImg .bBAMResultLB a:active span, .bBAMResultItemImg .bBAMResultLB a:focus span{
	color:#00cfb7 !important;	
}
.bBAMResultItem .bBAMResultItemText, .bBAMResultItemOccCircle .bBAMResultItemText{
	margin-top:8px;
	font-size:14px;
	line-height:1.1em;
	overflow:hidden;
	max-height:3.3em;
	position:absolute;
	bottom:10px;
	width:100%;
}
#occHeight{
	max-height:430px;
	overflow:hidden;
}
.bBAMResultItemOccCircle .bBAMResultItemText{
	height:6em;
	max-height:6em;
}
.bBAMResultItem .bBAMResultItemText a, .bBAMResultItemOccCircle .bBAMResultItemText a{
	color:#000;
}
.bBAMResultItem .bBAMResultItemText a:hover, .bBAMResultItemOccCircle .bBAMResultItemText a:hover{
	color:#00cfb7;
	text-decoration:none;
}
.bBAMResultItemText .bBAMIcon{
	margin-left:15px;
	float:right;
	font-size:14px;
	padding-top:18px;
}
.bBAMResultItemOccCircle{
	height:280px;
	margin-bottom:20px;
	position:relative;
	max-width:240px;
	margin-left:auto;
	margin-right:auto;
}
.bBAMResultItemOccCircle a:hover {
	text-decoration:none;
	color: transparent;
}
.bBAMResultItemImgContainerOccCircle{
	text-align:center;
	overflow:hidden;

}
.bBAMResultItemImgContainerOccCircle img {
	border-radius:50%;
}
.bBAMResultItemImgContainerOccCircle img{
	width:100%;
	height:auto;
	max-width:170px;
}
.bBAMResultItemImgContainerOccCircleLabel{
	padding-bottom:5px;
}
h1.detailResults{
	margin-bottom:0px;
}
.resultsLeader{
	text-transform:uppercase;
	font-family: "News Gothic";	
	font-size: 14px;
	font-weight: bold;
	color: #a5a5a5;
	margin-bottom:25px;
}
.bNavOptions{
	margin-top:0px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	border-bottom:2px solid #DDDDDD;
	
}
.bNavOptions a{
	color:#000000;
}
.bNavOptions a:hover{
	text-decoration:none;
}
.bNavOptions > div{
	border-right:2px solid #DDDDDD;
	padding-top:15px;
	padding-bottom: 15px;
	text-align:center;
	font-size:14px;
	min-height:51px;
}
.bNavOptions > div:last-child{
	border-right:none;
	text-align:right;
	padding-right:0px;
}
.bNavOptions > div:first-child{
	text-align:left;
	padding-left:0px;
}
.bNavOptions > div.noBorder{
	border-right:0px;
}
.bNavOptions > div a:first-child span, .bNavOptions .fa{
	margin-left:20px;
	margin-right:5px;
}
.bNavOptions .fa{
	margin-left:10px;
}
.bNavOptions .fa{
	color:#00cfb7 !important;
}
.bNavOptions a span{
	color:#a5a5a5 !important;
	font-size:18px;
	line-height:5px;
}
.bNavOptions a .icon-menu2{
	font-size:22px;
	position:relative;
	top:2px !important;
}
.bNavOptions a.active span{
	color:#00cfb7 !important;
}
.bNavOptions.fullBrowse .btn-group{
	width:100%;
}
.bNavOptions.detailBrowse .btn-group.filter{
	padding-left:25px;
}

.bNavOptions.detailBrowse .btn-group.filterSelected{
	padding-left:25px;
}
.bNavOptions.detailBrowse .btn-group.filterSelected a{
	color:#454545;
}
.bNavOptions.detailBrowse .btn-group.filterSelected span{
	color:#454545;
	font-size:14px;
	margin-left:5px;
	padding-left:0px;
}
.bNavOptions.detailBrowse .dropdown-menu{
	top:33.5px;
}
.bNavOptions.fullBrowse .dropdown-menu{
	top:34px;
	padding-left:15px;
	padding-right:15px;
	box-shadow:none;
    border-right: 2px solid #DDDDDD;
    border-left: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    border-top: 0px;	
    right: -17px;
    left:-17px;
}
.bNavOptions .dropdown-menu{
	box-shadow:none;
    border-right: 2px solid #DDDDDD;
    border-left: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    border-top: 0px;
}
.bNavOptions a highlight{
	color:#00cfb7 !Important;
}
.bNavOptions input.bSearchWithin{
	border:0px;
	padding:0px 20px 0px 25px !important;
	box-shadow:none;
	height:auto;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	color: #000000 !important;
	width:85%;
}
.bNavOptions input::-webkit-input-placeholder{
	color: #000000 !important;
	opacity:1;
}
.bNavOptions input:-moz-placeholder{
	color: #000000 !important;
	opacity:1;
}
.bNavOptions input::-moz-placeholder{
	color: #000000 !important;
	opacity:1;
}
.bNavOptions input:-ms-input-placeholder{
	color: #000000 !important;
	opacity:1;
}
.bNavOptions .btn-search {
	padding:0px 0px 0px 0px !important;
	margin:-3px 0px 0px 0px !important;
	font-size:18px;
	line-height:1em;
	height:auto;
	border-radius:0px;
	color: #00cfb7;
}
.bNavOptionsFilterList a{
	font-weight:normal;
	color:#00cfb7;
	text-decoration:underline;
	text-transform:capitalize !important;
	padding-left:25px;
	font-size:13px;
}
#bRefineContainer{
	min-height:200px;
	margin-top:-2px;
	/*display:none;*/
	position:absolute;
	background-color:#FFFFFF;
	z-index:10;
	width:100%;
  -webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
  border-top:0px solid #ddd;
}
#bRefineContainer .borderTop{
	border-top:2px solid #DDDDDD;
}
#bRefineContainer .nav-tabs{
	border:0px;
}
#bRefineContainer .nav-tabs li a{
	text-align:left;
	padding:20px 30px 10px 0px;
	border:0px;
}
#bRefineContainer .nav-tabs li a:hover{
	background-color:#FFFFFF;
	color:#00cfb7;
}
#bRefineContainer .nav-tabs, #bRefineContainer .nav-tabs a{	
	font-family: 'News Gothic' !important;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	color:#828282;
}
#bRefineContainer .tab-content .bFacetItem{
	padding-top:5px !important;
	padding-bottom:5px !important;
}
#bRefineContainer .tab-content a{
	font-size:14px;
}
#bRefineContainer .tab-content a:hover{
	text-decoration:underline;
	color:#00cfb7;
}
#bRefineContainer .nav-tabs li.active a{	
	color:#000000;
}
.results H5{
	margin-top:5px;
	margin-bottom:5px;
}
.results H5 .bGear{
	margin-left:15px;
}
.results strong, .sets H5 strong {
	font-size:14px;
}

.bResultItemImgPlaceholder {
	border: 0px;
    background-color: transparent;
    background-image: url('../graphics/bgcircle.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position:top;
	padding:0px;
	margin:0px;
	position: relative;
    height: 0px;
    padding-top:0px;
    padding-bottom: 100%;
	margin-left:auto;
	margin-right:auto;
}
.bResultItemImgPlaceholder i, .bResultItemImgPlaceholder span {
	margin:40px;
	display:inline-block;
	font-size:80px !important;
}
.detail .bBAMResultItemOccCircle .icon-stage, .bResultItemImgPlaceholder .icon-stage{
	font-size:50px !important;
}
.bResultItemImgPlaceholder .icon-stage{
	margin-top:50px;
}
.bBAMResultItemImgContainerOccCircle .bResultItemImgPlaceholder {
	max-width:170px;
}
.bBAMResultItemImgContainerOccCircle .bResultItemImgPlaceholder span {
	position:absolute;
	width:100%;
	top:35%;
	left:0px;
	padding:0px;
	margin:0px;
}
.bResultItemImgPlaceholder span, .bResultItemImgPlaceholder i{
	color: #FFFFFF !important;
}
#bRefine{
	background-color:#FFF;
	border-right:2px solid #DDDDDD;
	margin:15px 0px 0px 0px;
	padding-right:30px;
	padding-left:0px;
}
#bRefine H3{	
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
	border-bottom:2px solid #DDDDDD;
	padding-bottom:15px;
}
#bRefine H5{	
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	color:#7c7c7c;
}
#bRefine .icon-folder-download {
	font-size: 22px;
}
#bRefine a{
	color: #00cfb7;
	font-family:"News Gothic Roman";
	font-size:14px;
}
.refineFilterBlock{
	border-bottom:2px solid #DDDDDD;
	padding:0px 15px 15px 0px;
}
.results .bCriteria{
	width:100%;
	text-align:left;
	background-color:#dddddd !important;
	border:0px !important;
	margin-bottom:2px;
}
.results button.bCriteria{
	background-color:#dddddd !important;
	border:0px;
	border-radius:0px !important;
	margin:0px 15px 4px 0px;
	padding:4px 5px 2px 5px;
	color:#7c7c7c;
	font-size:14px;
	line-height:1em;
	font-weight:normal;
}
.results button.bCriteria span{
	font-size:10px;
}
/* FRONT PAGE */
.front H3{
	font-weight:bold;
	color:#000;
	font-size:14px;
	text-transform:uppercase;
	border-bottom:2px solid #DDD;
	margin:50px 0px 30px 0px;
	padding-bottom:10px;
	
}
.hero{
	margin-top:-20px;
	max-height:380px;
	overflow-y:hidden;
	margin-bottom:40px;
	background-color:#000000;
	position:relative;
	clear:both;
}
.hero img{
	width:100%;
	max-width:1800px;
	height:auto;
}
.frontNav{
	margin:0px 0px 0px 0px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	border-bottom:2px solid #FFF;
	position:absolute;
	z-index:60;
	width:90%;
	color:#FFFFFF;
	max-width:1200px;
}
.frontNav .highlight{
	color:#FFFFFF;
}
.frontNav a{
	color:#FFFFFF;
}
.frontNav a:hover{
	text-decoration:none;
}
.frontNav > div{
	border-right:2px solid #FFFFFF;
	padding-top:15px;
	padding-bottom: 15px;
	text-align:left;
	font-size:14px;
}
.frontNav > div:last-child{
	border-right:none;
}
.frontNav > div:first-child{
	padding-left:0px;
}
.frontNav .caret, .frontNav a:hover .caret, .frontNav a:focus .caret {
	color:#FFFFFF !important;
    border-top-color: #FFFFFF !Important;
    border-bottom-color: #FFFFFF !Important;
}
.frontNav .btn-group{
	width:100%;
}
.front .detailHead {
	max-width:900px;
	margin-left:auto;
	margin-right:auto;
}
.front .detailHead p.subtitle{
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
	font-size:18px;
	margin-bottom:25px;
}
.front .hpOverWhite{
	position:relative;
	height:380px;
	margin-top:-380px;
	z-index:50;
}
.front .hpOverWhite .detailHead, .front .hpOverWhite .detailHead p.subtitle, .front .hpOverWhite .detailHead H2{
	max-width:auto !important;
	
	margin-left:-5px;
	margin-right:0px;
}
.hpOverWhite .col-sm-12{
	position:absolute;
	bottom:60px;
}
.front .hpOverWhite .detailHead H2{
	margin-bottom:10px;
}
.front .hpOverWhite .detailHead, .front .hpOverWhite .detailHead .leader, .front .hpOverWhite .detailHead H2, .front .hpOverWhite .detailHead p.subtitle {
	color:#ffffff !important;
	text-align:left;
}
/* Multisearch */

.multisearch .authoritySet a {
	font-size:14px;
}
.multisearch .pull-right {
	font-size:14px;
}
.multisearch .leader{
	clear:right;
}
.multisearch h2{
	margin-bottom:20px;
}
.multisearch h3, .multisearch h3 a{
	color:#000000;
	font-family: 'News Gothic' !important;
	text-transform:uppercase;
	font-weight:bold;
	border-bottom:2px solid #DDDDDD;
	padding-bottom:10px;
	padding-left:2px;
	margin-bottom:0px !important;
}
.multisearch .multisearchFullResults a{
	color:#000000;
	font-family: 'News Gothic' !important;
	text-transform:uppercase;
	font-weight:bold;
}
.multisearch .multisearchFullResults a span{
	color:#00cfb7;
}
.multisearch .authoritySet {
	float:left;
	width:383px;
	height:170px;
	margin-right:25px;
	overflow:hidden;
	padding-top:0px;
}
.multisearch .blockResults{
	margin-bottom:25px;
}
.multisearch .scrollButtonPrevious{
	left: -30px;
}
.multisearch .scrollButtonNext{
	right: -30px;
}
.multisearch .resultBlock {
	overflow-y:visible;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious{
	background-color:transparent;
	position:absolute;
	z-index:100;
	height:145px;
	opacity:.7;
	padding:55px 10px 0px 10px;
	color:#181818;
	font-size:25px;
	margin:0px 0px 10px 0px;
	width:30px;
	text-align:center;
}
.multisearch .scrollButtonNext:hover, .multisearch .scrollButtonPrevious:hover{
	background-color:#f9f9f9;
	cursor:pointer;
	color:#000;
}
/* PROGRAMING HISTORY */
.program a:active, .program a:focus{
	color: #00cfb7;
}
.program .detailHead p{
	margin-top:15px;
	font-size:18px;
}
.children{	
	color:#454545;
	font-size:16px;
	min-height:500px;
	padding-top:20px;
}
.children .introText {
	margin-top:20px;
	margin-left:60px;
	margin-right:60px;
}
.children .toStart {
	margin-top:30px;
	margin-bottom:50px;
	font-weight:bold;
}
.children .toStart .fa{
	margin-left:60px;
}
.program .leader{
	margin-right:-30px;
	border-bottom: 2px solid #DDDDDD;
	padding:0px 0px 8px 0px;
}
.program .leader.lastLeader{
	margin-right:0px;
}
.phSeasonsList, .phChildrenList, .phSeriesDescription{
	max-height:500px;
	overflow-y:auto;
}
.phChildrenList{
	padding-top:15px;
}
.phSeasonsList > div{
	border-bottom: 2px solid #DDDDDD;
	padding:10px 0px 10px 0px;
}
.phSeasonsList > div a{
	font-size:16px;
}
.phSeasonsList > div .fa{
	float:right;
	font-size:16px;
	line-height:1.3em;
}
.seriesChildren{
	display:none;
	border-bottom: 2px solid #DDDDDD;
	padding:10px 15px 10px 15px !important;
}
.seriesChildren div{
	padding: 5px 0px 5px 0px;
}
.seriesChildren a{
	font-size:14px !important;
}
.phSeriesDescription, .phChildrenList{
	padding:15px 0px 0px 15px;
}
.leftPadding .leader {
	padding-left:15px;
}
a.seasonLinkActive, a.seriesLinkActive, a.seasonLinkActiveTemp{
	color:#000 !important;
}

/* iPhone Styles */

@media (max-width: 767px) {
	.bNavOptions > div{
		border-right:0px;
		font-size:12px;
		padding:10px 0px 10px 0px;
		min-height:0px;
		text-align:left;
	}
	.bNavOptions.fullBrowse .dropdown-menu{
		margin-left:15px;
		top:25.5px;
	}
	#bRefine{
		display:none;
	}
	.bNavOptions input.bSearchWithin{
		font-size:12px;
		padding-left:0px !important;
	}
	.bNavOptions .btn-search {
		padding-top:14px !important;
	}
	.bNavOptions div.blankSpace {
		display:none;
	}
	.bNavOptions.detailBrowse .dropdown-menu{
		top:25px;
	}
	h1.detailResults{
		font-size:24px;
	}
	#occHeight{
		max-height:460px;
	}
	.bBAMResultItemImgContainerOccCircle .bResultItemImgPlaceholder span {
    	top: 25%;
    }
    .detailOverlayImgCaption .text-right{
    	text-align:left;
    	margin-top:5px;
    }
    h1.profileForm{
    	text-align:left;
    }
    /*  program history */
    .phSeasonsList{
		max-height:140px;
		border-bottom: 2px solid #DDDDDD;
	}
	.children .introText {
		margin-top:20px;
		margin-left:0px;
		margin-right:0px;
	}
	.children .toStart {
		margin-top:0px;
		margin-bottom:15px;
	}
	.children .toStart .fa{
		margin-left:0px;
	}
	.program .leader.lastLeader{
		border:0px;
	}
	.program .leader{
		margin-right:0px;
	}
	.findingAidContainer {
		height:200px;
		border-bottom:2px solid #DDD;
	}
	#collectionLoad {
		border-left:0px;
	}
	.detail .portraitRepContainer img{
		max-width:320px;
	}
}

/* Ipad Styles */
/* ipad portrait */
@media (min-width: 768px) AND (max-width:991px) {
	
	.bNavOptions.fullBrowse > div:first-child {
		border-right:0px !important;		
	}
	.bNavOptions.fullBrowse > div:last-child {
		text-align:center;
		padding-right:15px;
	}
	.bNavOptions div.blankSpace {
		display:none;
	}
	.bNavOptions > div a:first-child span, .bNavOptions .fa {
		margin-left:5px;
	}
	.results button.bCriteria {
		margin-top:5px;
	}
	.results button.bCriteria span {
		font-size: 24px;
	}	
	.bNavOptions.detailBrowse .btn-group.filter, .bNavOptions.detailBrowse .btn-group.filter { 
		padding-left:5px;
	}
	.detail .entityRep.portraitRepContainer img {
		max-height:none;
	}
	#occHeight{
		max-height:460px;
	}	
	.results button.bCriteria span {
		padding-top:0px;
		margin-top: 0px;  
	}
	.detail .bBAMResultItemImg img{
		width: 100%;
		height:auto;
	}
}
/* ipad landscape */
@media (min-width:992px) AND (max-width:1199px) {
	.bNavOptions.fullBrowse > div:last-child {
		text-align:center;
	}
	.bNavOptions div.blankSpace {
		display:none;
	}	
	.results button.bCriteria span {
		font-size: 24px;
	}	
	.results button.bCriteria {
		padding-top:8px;
	}
	.results button.bCriteria span {
		padding-top:0px;
		margin-top: -4px;  
	}
	.detail .bBAMResultItemImg img{
		width: 100%;
		height:auto;
	}
	.bBAMResultItemOccCircle{
		height:265px;
	}
}

/* Other Responsive Styles */

.bBAMResultItemImg img {
	width: 100%;
    height: auto;
}
@media (max-width: 405px) {
	.navbar-brand {
		width:290px;
		margin-top:10px;
	}
}
@media (max-width: 475px) {
	.front .hpOverWhite .detailHead H2 {
		font-size:22px;
	}
	.front .detailHead p.subtitle {
		font-size:14px;
	}
	.hpOverWhite .col-sm-12 {
		bottom:40px;
	}
	.multisearch .btn-default {
		font-size:11px;
		padding-top:3px;
		padding-bottom:2px;
		display: inline-block;
    	margin-top: -5px;
   		margin-bottom: 10px;
	}
	.detailOverlayNav {
		font-size:30px;
	}
	.detailOverlayClose {
		font-size:30px; 
	}
}
@media (max-width: 767px) {
	.frontNav > div {
		border-right:0px;
	}
	.frontNav .col-sm-5 {
		display:none;
	}
	.detail .portraitRepContainer .repViewerCont img {
		max-height:none;
	}
	.landscapeRepContainer, .portraitRepContainer {
		margin-bottom:20px;
	}
	.bBAMResultItem {
		max-width:300px;
		margin-right:auto;
		margin-left:auto;
	}	
	.bBAMResultItem .bBAMResultItemImgContainer .bBAMResultItemImg {
		/*display:block;*/
	}
}
@media (max-width: 848px) {
	.navbar-form .form-group {
		width: 90px;
	}
	.navbar-default .navbar-nav > li > a {
		padding-left:8px;
		padding-right:8px;
	}
	#user-navbar .dropdown {
		border-right:0px !important;
		margin-right:-15px;
	}
	.bNavOptions > div a:first-child span {
		margin-left:10px;
	}		
}
@media (max-width: 991px) {
	.entities.detail .blankSpace {
		display:none;
	}
	.bNavOptions div.blankSpace {
		display:none;
	}
/*	.bResultItemImgPlaceholder i, .bResultItemImgPlaceholder span {
		padding:30px;
	}	*/
}
@media (max-width: 1238px) {
	.multisearch .scrollButtonNext {
		padding-left:0px;
	}
	.multisearch .scrollButtonPrevious {
		padding-right:0px;
	}	
}

	#lbViewButtons {
		display:none;
	}
