
/* General Styles */
body {
	max-width: 960px;
	margin: 0 auto;
}
a {
	color: #00539F;
	font-family: Georgia, 'Times New Roman', Serif;
	font-style: italic;
}
h1, h2, h3, h4, h5, h6{
	font-family: Georgia, 'Times New Roman', Serif;
	color: #515151;
}

h1 {
	font-size: 28px;
}
/* header styles */
.navbar-brand{
	width: 100%;
}
.subtitle{
	font-size: 18px;
	font-family: Georgia, 'Time New Roman', Serif;
	color: #00539F;
}
.searchBox{
	padding: 0 !important;
	margin: 0 !important;
}
/* Navbar styles */
.navbar-default .navbar-nav > li > a{
	text-align: center;
	font-weight: bold;
	color: #000;
	font-size: 18px;
	line-height: 24px;
	font-family: Georgia, 'Times New Roman', Serif;
	font-style: normal;
}
.navbar-default .navbar-nav > li > a:hover{
	text-align: center;
	font-weight: bold;
	color: #a92022;
	font-size: 18px;
}
.navbar{
	border-top: 3px solid #000;
	border-bottom: 2px solid gray;
	box-shadow: none;
	-webkit-box-shadow: none;
}
/* Footer */
#footer{
	border-top: 2px solid gray;
}
#footer > ul{
	text-align: center;
	margin-top: 10px;
}
#footer >  ul > li > a{
	color: #666;
	font-style: italic;
}
#footer >  ul > li > a:hover{
	text-decoration: underline;
}
.footer_tag{
	text-align: center;
}
/* Front Page, including intro gallery/slideshow" */
.welcome_box{
	background-color: #f7f7f7;
	border: 1px solid #dedede;
}
.welcome_box > h1{
	padding: 20px;
	color: #515151;
}
.welcome_text{
	padding: 20px;
}
.license_button{
	white-space: normal;
	width: 75%;
	margin: 0 12%;
	font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
}
.frontSlide img {
	margin: 0 auto;
	display: block;
}
/* Browse mega-menu */
.filterMenuFacetList li.active{
	background-color: #c6e4ff; 
}
/* Popover Object Preview */
.obj_popover{
	z-index: 1000;
}

/*Object Detail Page*/
.detail a{
	color: #00539F;
}
.detail h1, h6{
	color: #515151;
}
.obj_popover{
	max-width: 100vw;
	display: none;
}
.purchaseLink{
	text-align: center;
}
.purchaseLink a{
	font-weight: bold;
}
#moreChildren{
	display: none;
}
/* multisearch Customizations */
.collectionMultisearchResult{
	width: 320px !important;
	height: auto !important;
}
.resultBlock{
	overflow-y: visible !important;
}
.multisearch .multisearchResult{
	height: 175px;
}
.multisearch .blockResults, .multisearch .blockResultScroller{
	height: 200px;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious{
	height: 180px;
}
/* Set link color in Search/Browse containers */
.multisearch h3 a, .multisearchFullResults a, .multisearchSort ul li a, .multisearch .multisearchResult a, .multisearch .entitiesResult a, .bResultItem .bResultItemText a, .bResultItemExpandedInfo a, .bREsultItemContent .bResultItemText a{
	color: #00539F;
}
.multisearch h3 a:hover{
	color: #00539F;
	text-decoration: underline;
}
/* But set lightbox link color back to gray */
.bResultItemExpandedInfo a{
	color: #515151;
}
/* Lightbox item details */
.lbItemContainer{
	min-width: 0;
}
.lbItem a{
	color: #00539F;
}
.lbExpandedInfo a{
	color: #666;
}
.lbExpandedInfo a:hover, .lbSetExpandedInfo a:hover{
	text-decoration: none;
}
