/* fonts to change */
/*
body, .detail, .gallery, label, b, strong{
	font-family: "xxx";
	font-weight:400;
}
b, strong{
	font-family: "xxx";
	font-weight:600;
}
H1, h1, h2, H2, H3, h3, H4, h4, H5, h5, #footer a.orgLink{
	color:#000;
	font-family: 'xxx';
	font-weight:600;
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color:#004c52;
}
.btn-default:hover{
	background-color:#f18e00;
}
a{
	color:#004c52;
}
a:hover{
	color:#f18e00;
}
*/

/* .bgLightGray{
	background-color:#f2f2f2;
} */

footer {
	position: relative;
	z-index: 500;
}


.collapse-toggle .collapsed {
	content: 'More Search Options +';
}

.browse-collapse-btn{
	background-color: transparent;
	border: none;
	outline: none;

	color: #222;
	text-align: right;
	font-family: Helvetica Neue;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.browse-collapse-btn:focus, #btn-coll:focus{
	background-color: transparent;
	border: none;
	outline: none;

	color: #222;
	text-align: right;
	font-family: Helvetica Neue;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}


.adv-search-select{
	font-size: 14px;
}

.browse-border{
	border-bottom: 1px solid lightgray;
	margin: 30px 0px;
}

.browse-view-button{
	width: 36px;
	height: 27px;
	border-radius: 10px;
	border: 1px solid #BDBDBD;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.bResultItem{
	/* height: 200px; */
	margin: 10px 0px;
}

.bResultItemPlaceholder {
	aspect-ratio: 4/3;
	position: relative;
	overflow: hidden;
}
.bResultItemPlaceholder img{
	inset: 0;
	position: absolute;
	object-fit: cover;
}

.bResultItemImg a img{
	object-fit: contain;
	width: 100%;
	height: 250px;
}

.bResultItemText{
	margin: 5px 0px;
	text-align: center;
}

.bListItem{
	/* height: 120px; */
	height: auto;
	margin: 20px 0px;
}

.bListItemRow .bListItemImage a img{
	height: 100px;
	object-fit: contain;
	width: 100%;
	max-width: 160px;
}

.bListItemRow .bListItemText a{
	text-align: left;
}

.filter-name{
	color: #767676;
	/* text-align: center; */
	font-family: Helvetica Neue;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.filter-value a{
	color: var(--Dark-Gray, #222);
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.filter-more{
	font-size: 12px;
}

.filter-border{
	border-bottom: 1px solid lightgray;
	margin: 15px 0px;
}

.accordion-button:not(.collapsed) {
	background-color: transparent !important;
}

.accordion-button .collapsed{
	border-radius: 20px;
}
.accordion-button:focus{
	outline: none !important;
	box-shadow: none !important;
}
.accordion-item:not(:first-of-type) {
	border-top: 1px solid #dee2e6 ;
}

.accordion-button::after {
	background-size: 16px !important;
}

.browse-img-caption-coll, .browse-list-caption-coll{
	color: #828282;
	text-align: center;
	/* Eyebrow */
	font-family: Helvetica Neue;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	/* 150% */
	letter-spacing: 1.2px;
	text-transform: uppercase;
	margin-bottom: 3px;
}

.browse-img-caption-label, .browse-list-caption-label{
	color: #222;
	text-align: center;
	/* PromoTxt4 */
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	/* 128.571% */
}

.browse-list-caption-coll, .browse-list-caption-label{
	text-align: left !important;
}

.browse-list-caption-abs{
	color: #767676;
	/* Body4 */
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	/* 142.857% */
	text-align: left;
}

.browse-result-amount, .browse-share-link, .watch-topics{
	color: #222;
	/* text-align: center; */
	font-family: Helvetica Neue;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.browse-page-label{
	color: #222;
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 44px;
	/* 122.222% */
	letter-spacing: 0.36px;
}


/* Collections */

.collItemImg a img {
	object-fit: contain;
	width: 100%;
	height: 200px;
	max-height: 300px;
}

.collItemImgPlaceholder{
	width: 100%;
	height: 200px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
	color: #767676;
	background-color: transparent;
	border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #000;
	background-color: transparent;
	border: none;
}

.link-orange {
	border-bottom: 1px solid #E26C2F;
	transition: color 0.3s ease-out, border-color 0.3s ease-out;
}
.link-orange a{
	text-decoration: none !important;
}

.link-orange:hover {
	border-bottom: 1px solid transparent;
	transition: color 0.3s ease-out, border-color 0.3s ease-out;
}

.collection-grid {
	height: 280px;
	overflow: hidden;
}

.view-more-btn {
	display: block;
	cursor: pointer;
}



/* -------- Media Carousel -------- */

.carousel-inner{
	height: 480px;
	margin-bottom: 10px;
}


/* Specific to collection media */
.carousel-inner-coll{ 
	height: unset; 
}

/* Specific to collection media */
.carousel-coll-item img {
	aspect-ratio: 4/3 !important;
	border-radius: 20px;
	height: unset;
}

.carousel-item {
	height: inherit;
}

.carousel-item img {
	width: 100%;
	height: inherit;
	object-fit: contain;
}

.carousel-indicators {
	position: absolute;
	right: 0;
	bottom: -10px;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-right: 35%;
	margin-top: 1rem;
	margin-left: 35%;
}

.carousel-indicators button {
	width: 6px !important;
	height: 6px !important;
	border-radius: 100% !important;
	background-color: #dedede !important;
	position: relative !important;
	bottom: -40px !important;
}

.carousel-control-next,
.carousel-control-prev {
	position: absolute;
	top: unset;
	bottom: unset;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	padding: 0;
	color: #fff;
	text-align: center;
	background: 0 0;
	border: 0;
	opacity: .5;
	transition: opacity .15s ease;
	margin-top: 5px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
	height: 15px !important;
}

.carousel-control-next{
	left: 55%;
}
.carousel-control-prev{
	left: 30%;
}


.related-items-img a img{
	object-fit: contain;
	width: 100%;
	height: 180px;
}

.series-thumbnail img{
	width: 80px;
	height: 60px;
	object-fit: contain;
	border-radius: 10px;
}

.collection-data-links a, .object-data-links a{
	text-decoration: underline !important;
	text-underline-offset: 2px !important;
}


.browseRemoveFacet,
.browseRemoveFacet .btn {
	margin: 0px 5px 5px 0px;
	display: inline;
	/* align-items: center; */
	/* justify-content: center; */
	/* width: 100%; */
	/* display: flex; */
}

.browseRemoveFacet .btn {
	white-space: normal;
	border: 1px solid #dee2e6 ;
	border-radius: 50px;
}

.browseRemoveFacet .btn .filter-icon i{
	font-size: 12px;
}

.browseRemoveFacet .btn .filter-val{
	font-size: 14px;
	margin-right: 5px;
}

.browseRemoveFacet:hover,
.browseRemoveFacet .btn:hover {
	text-decoration: none;
}

a.browseRemoveFacet .glyphicon {
	color: #fff !important;
}


.unit a{
	text-decoration: none !important;
}

.subseries-grid{
	display: grid !important;
	grid-template-columns: 50% 50% !important;/* Two columns of equal width */
	gap: 10px;
}

.subseries-grid-item{
	padding: 10px;
}

.subseries-placeholder{
	height: 60px;
	width: 80px;
	border-radius: 10px;
	background-image: url('/themes/cfa/assets/pawtucket/graphics/placeholder.png');
	background-size: 100%;
}


/* search / browse results */
/* 

.bResultItemImg{
	width: fit-content;
	height: 200px;
}

.bResultItemSetLink {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
	display:none;
}
.bResultListItem .bResultItemSetLink{	
	bottom: 25px;
	right: 12px;
}
.bResultItem:hover .bResultItemSetLink, .bResultListItem:hover .bResultItemSetLink{
	display:inline-block;
}
.bResultItem:hover .bResultItemText, .bResultListItem:hover .bResultListItemText{
	padding-bottom:20px;
}
.bResultItem .bResultItemText, .bResultListItemCol .bResultListItemText{
  font-size: 12px;
} 

@media(max-width:768px){
	.results .bSearchWithinContainer{
		display:none;
	}
}
.results .bSearchWithinContainer{
	clear:both;
	padding:15px 0px 15px 0px;
	text-align:center;
}
.results .btn-search-refine, .results .btn-search-refine:hover{	
	font-size: 14px;
	cursor: pointer;
	background-color: #fff;
	color:#000;
	font-size: 14px;
	line-height:1em;
	padding: 9px;
	
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border:0px;
	border-radius: 0px;
	margin-left: -30px;
}

.bSearchWithin, .bSearchWithin:focus {
    width: 80%;
    box-shadow: none;
    border: 0px;
    border: 0px;
    border-radius: 0px;
    height: 35px;
    font-size: 14px;
    line-height: 26px;
    background-color: #FFF;
	font-size: 14px;
	display: inline-block;
	display:inline-block;
	padding-right: 30px;
}
.browseRemoveFacet, .browseRemoveFacet .btn{
	display:block;
	width:100%;
	font-size:11px;
	margin:0px 0px 5px 0px;
}
.browseRemoveFacet .btn{
	white-space: normal;
}
.browseRemoveFacet:hover, .browseRemoveFacet .btn:hover{
	text-decoration:none;
}
a.browseRemoveFacet .glyphicon{
	color:#fff !important;
}  */


/* collections */
/* .collectionIntro {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.8em;
}
.collectionsList a{
	text-decoration:none;
}
.collectionTile:hover{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

/* collection detail */

/* .flush{
	line-height: 1.15;
	font-family: "Helvetica Neue";
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: 100%;
	text-align: left;
	font-size: 18px;
	font-style: normal;
	color: #222;
	box-sizing: inherit;
	display: block;
	margin: 0;
} */

#logo {
	width: 300px;
}

#header { 
	overflow: hidden
}

#header .row #menu-extra {
	position: relative;
	left: -9px;
}


#bLetterBar a{
	padding:3px;
	text-transform:uppercase;
	font-size:14px;
}
#bLetterBar a:hover, #bLetterBar a.selectedLetter{
	font-weight:bold;
	background-color:#EDEDED;
	text-decoration:none;
}

#bRefine {
	background-color: none;
    line-height: 0.75em;
    padding: 15px 10px;
    position: relative;
    z-index: 10;
    overflow-y: auto;
    display:block;
    color: #666;
}
#bRefine p{
	line-height:1.1em;
}
#bRefine H2 {
	font-size: 18px;
	text-transform: uppercase;
	color: #666;
	margin-top:0px;
}
#bRefine H5, #bRefine H3 {
	margin-bottom:8px;
	margin-top:20px;
	text-transform:uppercase;
	padding:0px;
	color: #666;
}
/* #bRefine a {
	color: #000;
    font-size: 14px;
    line-height: 146%;
} */
#bRefine a.more {
	color:#707070;
	text-decoration:underline;
}
#bRefine div {
	margin-bottom:5px;
}
@media (min-width: 768px) {
	#bRefine.fixed {    
		position: fixed;     
		top: 0px; 
		margin-top:0px;
	} 
}
#bRefineButton, #bRefineClose{
	display:none;
}
@media (max-width: 767px) {
	#bRefine {
		display:none;
		position: fixed; 
		z-index:10000;    
		top: 0px; 
		left:0px;
		right:0px;
		margin-top:0px;
		overflow:auto !important;
		height:100% !important;
		margin:0px;
		width:100%
	}
	#bRefineButton{
		display:inline;
	}
	#bRefineButton .fa{
		color:#666 !important;
		top:-2px;
		position:relative;
	}
	#bRefineClose{
		display:block;
		font-size:20px !Important;
	}
}

#bMorePanel{
	position:fixed;
	right:0px;
	top:0px;
	bottom:0px;
	background-color:#FFFFFF;
	-webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
	padding:10px;
	display:none;
	z-index:10001;
	min-width:450px;
}
#bMorePanel .bFilterCount{
	color:#454545;
	font-weight:normal;
	font-size:.8em;
	padding-left:10px;
}
#bMorePanel #bAncestorList{
	padding:10px 0px 10px 0px;
	margin-bottom:10px;
	max-width:400px;
}
#bMorePanel #bAncestorList span{
	font-size:14px;
	color: #454545;
}
#bMorePanel #bAncestorList a{
	color:#454545;
	padding:0px 5px 0px 5px;
	font-weight:bold;
	font-size:14px;
}
#bMorePanel #bAncestorList a span{
	font-size:14px;
}
#bMorePanel #bScrollList{
	overflow-y:auto;
	padding-left:10px;
	height:95%;
	float:left;
	margin-top:5px;
	width:250px;
}

@media (min-width: 992px) {
	#bMorePanel #bScrollList{
		width:350px;
	}
}
#bMorePanel #bScrollList.bScrollListHierarchy{
	height:85%;
	padding-left:25px;
}
#bMorePanel #bScrollList a{
	color:#000;
	line-height:1.1em;
	font-size:14px;
}
#bMorePanel #bScrollList div{
	padding-bottom:8px;
}
#bMorePanel #bLetterBar{
	float:right;
	margin:0px 40px 0px 10px;
	text-align:center;
}
#bMorePanel #bLetterBar a{
	text-decoration:none;
	font-weight:bold;
}
#bMorePanelClose{
	display:none;
}
@media (max-width: 767px) {
	#bMorePanel{
		min-width:100px;
		left:0px;
	}
	#bMorePanel #bScrollList{
		width:200px;
	}
	#bMorePanelClose{
		display:inline;
	}
}


/* Advanced Search */

.advancedContainer {
	margin-top: 10px;
}

.advancedSearchField {
	margin-bottom: 10px;
}

.advancedSearchField .formLabel {
	text-transform: uppercase;
	color: #454545;
	font-size: 11px;
}

.advancedFormSubmit {
	margin-bottom: 20px;
	margin-right: 20px;
}

.advancedFormSubmit a:hover {
	text-decoration: none;
	/* color: #fff; */
}

.advancedFormSubmit span {
	display: inline-block;
}

.advancedSearchField input,
.advancedSearchField textarea,
.advancedSearchField select {
	width: 100% !important;
	resize: none;
	line-height: 1.5;
	border-radius: 3px;
	border: 1px solid #767676 !important;
	padding: 5px 10px;
	color: #555555;
}

.advancedSearchField select {
	height: 30px;
}

.advancedSearch table.attributeListItem {
	width: 100%;
}

input.browseMoreSearchOptsField {
	border: 1px solid lightgray !important; 
	border-radius: 10px; 
	padding: 10px; width: 200px; 
	height: 40px;
}




/* div.detailNavigation {
	max-width: 500px;
}

div.detailNavigation a {
	padding: 5px;
	margin: 0px 5px 5px 0px;
} */

div.detailNavigation {
	display: flex;
	width: 100%;
	margin: 15px 0 7px 0;
}

div.detailNavigation a{
	padding: 17px 0 14px 0;
	flex: 1;
	text-align: center;
}

div.detailNavigation a:hover {
	text-decoration: underline;
}

div.detailNavigation a:first-child {
	text-align: left;
}

div.detailNavigation a:last-child {
	text-align: right;
}



.browseMoreSearchOptsField {
	height: 40px;
	line-height: 40px;
	background: #fff;
	border: 1px solid lightgray !important;
}



@media (min-width: 1720px){
	 .wrap {
		padding-right: 40px !important;
		width: 100% !important;
		padding-left: 40px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}


.hero-single-collection .layout .item {
	aspect-ratio: unset !important;
}

.readmore-js-toggle {
	/* text-decoration: underline !important; */
	width: fit-content !important;
	border-bottom: 1px solid #000 !important;
	transition: color 0.3s ease-out, border-color 0.3s ease-out !important;
}

.row {
	--bs-gutter-x: 0 !important;
}