/* yellow: #e4a01b;  gray: rgb(83, 88, 90) or #53585a; redish-link: #6e3a5d; redish-link hover: #a5578c;*/
@font-face {
  font-family: "Calluna Sans";
  src: url("calluna/CallunaSans-LightIt.woff2") format("woff2"), url("calluna/CallunaSans-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Calluna Sans";
  src: url("calluna/CallunaSans-Regular.woff2") format("woff2"), url("calluna/CallunaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Calluna Sans";
  src: url("calluna/CallunaSans-SemiBold.woff2") format("woff2"), url("calluna/CallunaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Calluna Sans";
  src: url("calluna/CallunaSans-BoldIt.woff2") format("woff2"), url("calluna/CallunaSans-BoldIt.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Calluna";
  src: url("calluna/Calluna-Light.woff2") format("woff2"), url("calluna/Calluna-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("calluna/Calluna-Regular.woff2") format("woff2"), url("calluna/Calluna-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("calluna/Calluna-RegularIt.woff2") format("woff2"), url("calluna/Calluna-RegularIt.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Calluna";
  src: url("calluna/Calluna-Semibold.woff2") format("woff2"), url("calluna/Calluna-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("calluna/Calluna-SemiboldIt.woff2") format("woff2"), url("calluna/Calluna-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
.container{
	max-width:1200px;
}
body{
	margin-bottom:230px;
}
body, p, div{
	font-family: "Calluna", times, serif;
	font-size:18px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	line-height: 1.6666;
}
H1, h1, H2, h2, H3, h3, H4, H4, H5, h5{
	color:#000000;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:600;
}
H6, h6{
	color:#000000;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:600;
	font-size:16px;
}
label{
	font-family: "Calluna Sans", verdana, sans-serif;
}
.detail label{
	display:block;
	color:#000000;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:600;
	font-size:16px;
	text-transform:uppercase;
}
a{
	color: #6e3a5d;
	text-decoration:underline;
}
a:hover{
	color: #a5578c;
	text-decoration:underline;
}
.btn, .btn a{
    text-decoration:none;
}
.btn-default, .btn-default:active, .btn-default:focus{
	background-color:#e4a01b;
	color:#000;
	text-shadow: none;
}
.btn-default:hover{
	background-color:#000;
	color:#e4a01b;
}
.bgGray{
	background-color: #53585a;
	color:#FFF;
	position:relative;
}
.topNav{
	background-color:#000;
	color:#e4a01b;
}
.topNav a{
	font-weight: 700;
	font-size: 16px;
	color:#e4a01b;
	text-decoration:none;
	display:inline-block;
	padding:10px 0px 10px 0px;
}
.topNav .glyphicon{
	margin-right:8px;
	font-size:14px;
}
#user-navbar{
	background-color: #e4a01b;
}
#user-navbar > li.dropdown > a.icon{
	padding: 10px 10px 10px 13px;
}
#user-navbar .dropdown-menu{
	z-index: 2000;
}
.topNav .navbar-form{
	margin-top:7px;
	position:relative;
}
.topNav .navbar-form .form-group {
    width: 200px;
}
.topNav .navbar-form .form-control{
	background-color: #2f2c2c;
	border: 1px solid #2f2c2c;
	border-radius: 2px;
	padding-left:30px;
	color:#FFFFFF;
	height:auto;
}
.topNav .navbar-form .form-control::placeholder{
	color:#99a1a4;
	opacity:1;
}
.topNav .navbar-form .form-control:focus{
	border: 1px solid #e4a01b;
}
#headerSearchButton{
	position:absolute;
	left: 15px;
	top: -2px;
	background-color:transparent;
	color:#979696;
}
.topNav .glyphicon {
    margin-right: 7px;
    font-size: 16px;
}
.navbar{
	margin-bottom:0px;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: "Calluna Sans", verdana, sans-serif;
    font-size:18px;
    text-transform:uppercase;
    font-weight:700;
    text-decoration:none;
    background-color:transparent;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > li > a{
	display:inline-block;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    padding:0px 0px 5px 0px;
    line-height:1em;
    margin:0px 12px 0px 12px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a {
    color: #000000;
    background-color: transparent;
    border-bottom-color: #e4a01b;
	transition: all .15s ease-in-out;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffffff;
}
.navbar-brand {
    width: 290px;
    margin:25px 0px 25px 0px;
}
.navbar-collapse{
	padding-top:35px;
}
.pattern--background {
    -webkit-mask-image: url("../graphics/pattern-a.svg");
    mask-image: url("../graphics/pattern-a.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: center left;
    mask-position: center left;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: currentColor;
    width: 100%;
	height: 100%;
}
.u-fc-blue-light {
    color: #83dbe0;
    fill: currentColor;
    --fc: #83dbe0;
}
.hero__pattern {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
#mainTitleContainer{
	margin-bottom:20px;
}
.mainTitle{
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:400;
	font-size:32px;
	color:#FFFFFF;
	padding:35px 0px 35px 0px;
	line-height:1.2em;
}
#footer{
	background-color: #242121;
	border-top:0px;	
	color:#FFFFFF;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:300;
	padding: 50px 0px 50px 0px;
	height: 200px;
}
#footer div{
	color:#FFFFFF;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:300;
	font-size:18px;
}
#footer a{
	color: #e4a01b;
}

@media (min-width:500px) {
	.multisearch .authoritySet {
		width: 275px;
	}
}
.hpTiles img{
	width:100%;
	height:auto;
}
.hpTiles {
	text-align:center;
}
.hpTiles .btn-default{
	width:100%;
}
.hpCallout{
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:400;
	font-size:36px;
	color: #53585a;
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
	line-height:1.2em;
}
@media(max-width:768px){
	.hpCallout{
		font-size:24px;
		padding-top:20px;
		padding-bottom:20px;
	}
}
.collectionTile .title a{
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:400;
	font-size:18px;
}
.detail .unit {
    margin-bottom: 20px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight{
	line-height:.3em;
	height:130px;
}

.exportCollection{
	float:right;
}
.detail .exportCollection a, .detail .exportCollection a .glyphicon{
	color:#000 !important;
}
.detail .exportCollection a:hover,  .detail .exportCollection a .glyphicon:hover{
	color:#FFF !important;
}
a.readmore-js-toggle, .detail a {
    color: #999;
    color: #6e3a5d;
}
a.readmore-js-toggle:hover {
    color: #a5578c;
}

#bRefine div, #bRefine{
	line-height:.75em !important;
}