/* yellow: #e4a01b;  gray: rgb(83, 88, 90) or #53585a; redish-link: #6e3a5d; redish-link hover: #a5578c;*/
@font-face {
  font-family: "Calluna Sans";
  src: url("calluna/CallunaSans-LightIt.woff2") format("woff2"), url("calluna/CallunaSans-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Calluna Sans";
  src: url("calluna/CallunaSans-Regular.woff2") format("woff2"), url("calluna/CallunaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Calluna Sans";
  src: url("calluna/CallunaSans-SemiBold.woff2") format("woff2"), url("calluna/CallunaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Calluna Sans";
  src: url("calluna/CallunaSans-BoldIt.woff2") format("woff2"), url("calluna/CallunaSans-BoldIt.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Calluna";
  src: url("calluna/Calluna-Light.woff2") format("woff2"), url("calluna/Calluna-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("calluna/Calluna-Regular.woff2") format("woff2"), url("calluna/Calluna-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("calluna/Calluna-RegularIt.woff2") format("woff2"), url("calluna/Calluna-RegularIt.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Calluna";
  src: url("calluna/Calluna-Semibold.woff2") format("woff2"), url("calluna/Calluna-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("calluna/Calluna-SemiboldIt.woff2") format("woff2"), url("calluna/Calluna-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
.container{
	max-width:1200px;
}
body{
	margin-bottom:280px;
}
@media (max-width:990px){
	body{
		margin-bottom: 330px;
	}
}
body, p, div{
	font-family: "Calluna", times, serif;
	font-size:18px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	line-height: 1.6666;
}
b, strong {
    font-family: "Calluna Sans", verdana, sans-serif;
    font-weight: 600;
}
H1, h1, H2, h2, H3, h3, H4, H4, H5, h5{
	color:#000000;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:600;
}
H6, h6{
	color:#000000;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:600;
	font-size:16px;
}
label{
	font-family: "Calluna Sans", verdana, sans-serif;
}
.detail label{
	display:block;
	color:#000000;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:600;
	font-size:16px;
	text-transform:uppercase;
}
a{
	color: #6e3a5d;
	text-decoration:underline;
}
a:hover{
	color: #a5578c;
	text-decoration:underline;
}
.form-control:focus {
    border-color: #6e3a5d;
}
.btn, .btn a{
    text-decoration:none;
}
.btn-default, .btn-default:active, .btn-default:focus, .sets .btn, .browse .btn, .browse .btn:focus, .sets .btn:focus, .browse .btn:active, .sets .btn:active{
	background-color:#e4a01b;
	color:#000;
	text-shadow: none;
}
.btn-default:hover, .browse .btn:hover, .sets .btn:hover{
	background-color:#000;
	color:#e4a01b;
}
.browse .btn .glyphicon{
	color:#000 !important;
}
.browse .btn:hover .glyphicon{
	color:#e4a01b !important;
}
.bgGray{
	background-color: #53585a;
	color:#FFF;
	position:relative;
}
.topNav{
	background-color:#000;
	color:#e4a01b;
}
.topNav a{
	font-weight: 700;
	font-size: 16px;
	color:#e4a01b;
	text-decoration:none;
	display:inline-block;
	padding:10px 0px 10px 0px;
}
.topNav img{
	width:250px;
	height:auto;
}
.topNav .glyphicon{
	margin-right:8px;
	font-size:14px;
}
#user-navbar{
	background-color: #e4a01b;
}
#user-navbar > li.dropdown > a.icon{
	padding: 10px 10px 10px 13px;
	font-size:13px;
	font-family: "Calluna Sans", verdana, sans-serif;
}
@media(max-width:768px){
	.navbar-toggle-user {
   		padding: 7px 10px 4px 10px;
		font-family: "Calluna Sans", verdana, sans-serif;
		text-transform:uppercase;
		font-size: 13px;
		color: #666;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #666;
	}
	ul.menuItems {
    	border-top: none;
    }
    .navbar-default .navbar-nav > li{
    	text-align:center;
    }
    .navbar-nav{
    	margin-right:0px;
    	margin-left:0px;
    }
}
#user-navbar .dropdown-menu{
	z-index: 2000;
}
.topNav .navbar-form{
	margin-top:7px;
	position:relative;
}
.topNav .navbar-form .form-group {
    width: 200px;
}
.topNav .navbar-form .form-control{
	background-color: #2f2c2c;
	border: 1px solid #2f2c2c;
	border-radius: 2px;
	padding-left:30px;
	color:#FFFFFF;
	height:auto;
}
.topNav .navbar-form .form-control::placeholder{
	color:#99a1a4;
	opacity:1;
}
.topNav .navbar-form .form-control:focus{
	border: 1px solid #e4a01b;
}
#headerSearchButton{
	position:absolute;
	left: 15px;
	top: -2px;
	background-color:transparent;
	color:#979696;
}
.topNav .glyphicon {
    margin-right: 4px;
    font-size: 16px;
}
.navbar{
	margin-bottom:0px;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: "Calluna Sans", verdana, sans-serif;
    font-size:18px;
    text-transform:uppercase;
    font-weight:700;
    text-decoration:none;
    background-color:transparent;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > li > a{
	display:inline-block;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    padding:0px 0px 5px 0px;
    line-height:1em;
    margin:0px 12px 0px 12px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a {
    color: #000000;
    background-color: transparent;
    border-bottom-color: #e4a01b;
	transition: all .15s ease-in-out;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffffff;
}
.navbar-brand {
    width: 290px;
    margin:10px 0px 10px 0px;
    text-decoration: none;
}
.navbar-brand .brandSubtitle{
	padding-left: 31px;
	font-size: 26px;
	color: #53585a;
	line-height: 1em;
	font-family: "Calluna Sans", verdana, sans-serif;
}
@media(max-width:450px){
	.navbar-brand .brandSubtitle{
		font-size: 20px;
		position:relative;
		left:-15px;
	}
	.navbar-brand{
		padding-left:0px;
		margin-left:0px;
		width:auto;
	}
}
.navbar-collapse{
	padding-top:18px;
}
.pattern--background {
    -webkit-mask-image: url("../graphics/pattern-a.svg");
    mask-image: url("../graphics/pattern-a.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: center left;
    mask-position: center left;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: currentColor;
    width: 100%;
	height: 100%;
}
.u-fc-blue-light {
    color: #83dbe0;
    fill: currentColor;
    --fc: #83dbe0;
}
.hero__pattern {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
#mainTitleContainer{
	margin-bottom:15px;
}
.mainTitle{
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:400;
	font-size:32px;
	color:#FFFFFF;
	padding:35px 0px 35px 0px;
	line-height:1.2em;
}
@media(max-width:767px){
	.hero__pattern {
		display:none;
	}
	.mainTitle{
		font-size:28px;
		text-align:center;
		padding:15px 0px 15px 0px;
	}
}
@media(max-width:450px){
	.mainTitle{
		font-size:20px;
	}
}
.heroSearch {
	position: relative;
	text-align: center;
	padding: 0px;
	margin:0px 0px 20px 0px;
}
.heroSearch .formOutline {
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #53585a;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
    text-align: center;
	color: #FFF;
	font-size: 36px;
	text-shadow: 0px 0px 3px #000000;
	line-height:1em;
	width: 500px;
}
@media (max-width:500px) {
	.heroSearch .formOutline {
		width: 300px;
	}
}
.heroSearch .form-group{
	margin:0px;
}
#heroSearchButton {
    color: #000;
    font-size: 20px;
	position: absolute;
	top: 6px;
	right: 5px;
	margin:0px;
	padding:0px;
}
.heroSearch .form-control, .heroSearch .form-control:focus {
    border: 0px;
    box-shadow: none;
    font-size: 18px;
    height: 44px;
    padding-right: 40px;
}

#footer{
	background-color: #242121;
	border-top:0px;	
	color:#FFFFFF;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:300;
	padding: 50px 0px 50px 0px;
	height: 250px;
}
@media (max-width:990px){
	#footer{
		height: 300px;
	}
}
#footer div{
	color:#FFFFFF;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:300;
	font-size:18px;
}
#footer a{
	color: #e4a01b;
	text-decoration:none;
}
.footerHighlight{
	color: #e4a01b;
	font-weight:600;
	font-family: "Calluna", verdana, sans-serif;
}
/*
@media (min-width:500px) {
	.multisearch .authoritySet {
		width: 275px;
	}
}
*/
.multisearch .authorityResult {
    height: 65px;
    line-height: 1.2em;
}
.multisearch .authoritySet, .multisearch .blockResultsScroller, .multisearch .blockResults, .multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious, .multisearch .scrollButtonNext, .multisearch .scrollButtonNext {
    height: 210px;
}
.authorityResult{
	font-size:12px;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious{
	padding-top:90px;
}
.hpTiles img{
	width:100%;
	height:auto;
}
.hpTiles {
	text-align:center;
}
.hpTiles .btn-default{
	width:100%;
}
.hpCallout{
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:400;
	font-size:36px;
	color: #53585a;
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
	line-height:1.2em;
}
@media(max-width:768px){
	.hpCallout{
		font-size:24px;
		padding-top:20px;
		padding-bottom:20px;
	}
	.hpTiles .btn-default{
		margin-bottom:30px;
	}
}
.collectionTile .title a{
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:400;
	font-size:18px;
}
.detailNavBgLeft, .detailNavBgRight{
	top:-61px;
}
.detail .unit {
    margin-bottom: 20px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight{
	line-height:.3em;
	height:130px;
}


@media(max-width:991px){
	.exportCollection, .inquireButtonCollection{
		float:left;
	}
	.exportCollection .btn, .inquireButtonCollection .btn{
		margin-right:5px;
	}
}
@media(min-width:991px){
	.exportCollection, .inquireButtonCollection{
		float:right;
	}
	.exportCollection .btn, .inquireButtonCollection .btn{
		margin-left:5px;
	}
}
@media(min-width:768px){
	.inquireButton{
		text-align:right;
	}
}
.detail .exportCollection a, .detail .exportCollection a .glyphicon, .detail .inquireButton a, .detail .inquireButton a .glyphicon, .detail .inquireButtonCollection a, .detail .inquireButtonCollection a .glyphicon{
	color:#000 !important;
	font-size: 11px;
}
.detail .exportCollection a:hover,  .detail .exportCollection a:hover .glyphicon, .detail .inquireButton a:hover,  .detail .inquireButton a:hover .glyphicon{
	color:#FFF !important;
	text-decoration:none;
	font-size: 11px;
}
a.readmore-js-toggle, .detail a {
    color: #999;
    color: #6e3a5d;
}
a.readmore-js-toggle:hover {
    color: #a5578c;
}
.detail.ca_collections #detailTools{
	margin-top:0px;
}
.detail .detailTool a{
	color:#6e3a5d;
	font-family: "Calluna Sans", verdana, sans-serif;
	font-weight:600;
	font-size:14px;
	text-transform:uppercase;
}
.detail .detailTool a .glyphicon{
	color:#6e3a5d;
	font-size:14px;
	top:3px;
}
.detail label.inline{
	display:inline;
}
.detail h1 {
    font-size: 20px;
}
#bRefine div, #bRefine{
	line-height:.75em !important;
}
.collectionsContainer a, .collectionsContainer .listItem {
    width: 100%;
    display: inline-block;
    padding: 5px 30px 5px 5px;
    font-size: 14px;
}
#collectionsWrapper .glyphicon{
	font-size:10px;
}
.collectionLoad a{
	padding-right:5px;
}
#collectionsWrapper .linkoutRight{
	position:absolute;
	right:0px;
	z-index:100;
	width:auto;
	display:inline;
	background-color: #efefef;
	padding:5px;
	margin:0px
}
#collectionsWrapper a, #collectionsWrapper a:visited {
    color: #242121;
    text-decoration: none;
}
#collectionsWrapper a:active, #collectionsWrapper a:focus, #collectionsWrapper a:hover {
    text-decoration: underline;
    color: #ca870d;
}
#collectionsWrapper .collectionsContainer a.openCollection:focus{
	color:#242121;
}
#collectionsWrapper .collectionsContainer a.active, #collectionsWrapper .collectionsContainer a.active:focus, #collectionsWrapper .collectionsContainer a.active:visited, #collectionsWrapper .collectionsContainer a.active:active{
	text-decoration:none;
	color:#FFF;
}
#collectionsWrapper .collectionLoad a{
	display:inline;
}
#collectionsWrapper .collectionLoad img{
	width:auto;
	height:auto;
}
#collectionsWrapper .collectionLoad .nonLinkedCollection{
	color: #242121;
	font-size:14px;
}
#collectionsWrapper .collectionLoad a:hover{
	background-color:transparent;
}
#collectionsWrapper{
	background-color:#efefef;
}
@media(max-width:767px){
	#collectionsWrapper{
		margin-top:20px;
	}
}
.detail .unit.sponsorImage{
	text-align:center;
}
.detail .unit.sponsorNote{
	font-size:16px;
	padding:10px;
}
.detail .unit.sponsorImage img{
	width:auto;
	height:auto;
}
/* browse list results */
.bResultItemText, .bResultItemText a {
    font-size: 15px;
    text-decoration:none;
}

.bResultListItem .bResultListItemText, .bResultListItem .bResultListItemText a {
    font-size: 17px;
    text-decoration:none;
    color:#454545;
}
.bResultListItemText .bResultListItemTextDate, .bResultListItemText .bResultListItemTextDate a {
	font-size: 15px;
    text-decoration:none;
    line-height: 1.3em;
    color:#666;
}

.url {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
