body{
	font-family:inherit;
}
.container{
	max-width:1010px;
}

/* red: #AC143A; gray blue #6C869E;*/
.tm-navbar .tm-logo > * {
    max-height: 180px;
    width: 134px;
    height: auto;
}

/* fixing the double border on nav */
@media(min-width:768px){
	.tm-navbar {
		border-bottom: 3px solid #fff !important;
		box-shadow: 0px 4px 4px #646464;
		height:123px !important;
	
	}
	.navbar-overhang {
		border-bottom: 2px solid #000 !important;
		box-shadow:none !important;
	}
}
.tm-nav.uk-hidden-small{
	text-align: right;
	width: 100%;
}
.uk-navbar-nav.uk-hidden-small{
	float:right;
}
.tm-logo-small img{
	width:92px;
	height:auto;
}
.tm-navbar-fixed .tm-toolbar + .tm-navbar, .tm-toolbar {
    z-index: 10000 !important;
}
.fullWidthImg img{
	width:100%;
	height:auto;
}
.fullWidthImg.maxWidth img{
	max-width:400px;
	height:auto;
}
.bg_sand{
	background-color: #D9D4C2;
}
.bg_gray{
	/*background-color: #999999;*/
	background-color: #BDBDBD
}
#pageArea{
	margin-top:30px;
}
body{
	color:#000;
}
h1, .front h1{
	/*color:#AC143A;*/
	
	color: #000;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top:0px;
}
/*
.front .content-area, .browse.institutions .content-area, .browse.words .content-area, .browse.ca_objects, .search.ca_objects, .content-area .subNav, .staticPage .content-area, .search .content-area {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
*/
@media(min-width:768px){
	.flex{
		display: flex;
		align-items: center;
	}
}
#pageArea{
	padding-bottom:75px;
}
.subNav{
	padding-top:12px;
}
.subNavJumpTo{
	margin-top:5px;
}
@media(min-width:600px) and (max-width:767px){
	.subNavJumpTo{
		margin-top:-20px
	}
}
@media(min-width:768px){
	.subNavJumpTo{
		text-align:right;
	}
}
.subNavJumpTo a, .uk-breadcrumb a{
	color: #497b94;
}
/* home page */
.hpIntroTop{
	padding-top:15px;
	padding-bottom:15px;
	margin-top:30px;
}
.hpIntroTopDesc{
	padding-right:5px;
	text-align:left;
}
@media(max-width:768px){
	.hpIntroTopDesc{
		margin-top:15px;
	}
}
.hpIntroTopDescTitle{
	font-weight:500;
	font-size:16px;
	margin-bottom:20px;
	
}
.hpIntroTopDesc a{
	color:#000;
	text-decoration:underline;
}
.hpIntroTopDesc .btn{
	margin-top:25px;
}
.hpCallOut{
	font-size: 18px;
	line-height: 1.5em;
	font-weight: 300;
	margin-bottom:30px;
}
.hpCallOutTitle{
	font-size: 20px;
	font-weight:500;
	margin-bottom:30px;
}
.front .hpCaption{
	padding-top:5px;
	line-height:1.2em;
	font-size:12px;
}
.hpFindBox{
	background-color:#6C869E;
	color:#fff;
	text-align: center;
	padding:40px;
	margin-top:80px;
	margin-bottom:80px;
}
a .hpFindBox{
	color:#fff;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0px;
	line-height: 28px;
	text-transform:uppercase;
}
.hpImages{
	padding:30px 15px 30px 15px;
	margin-bottom:50px;
	margin-top:60px;
}

a:hover .hpFindBox{
	background-color:#999999;
}
/* browse */
.results .uk-divider-small{
	padding-top:30px;
}
.browse .btn, .sets .btn, .search .btn {
    background-color: #000;
}
.bResultListItem .bResultListItemText a, a .bResultListItem .bResultListItemText {
    line-height: 1.2em;
    color: #000;
    font-size: 17px;
    font-weight: 400;
}
#bRefine H2{
	color:#000;
}
#bRefine H3{
	color: #000;
	font-size: 16px;
	text-transform: capitalize;
}
#bRefine a {
    color: #000;
    font-size: 14px;
}
.results .bSearchWithinContainer{
	clear:both;
	margin-top:15px;
	margin-bottom:10px;
}
.browse .btnAboutWord{
	width:100%;
	margin:5px 0px 5px 0px !important;
	text-transform: none;
	background-color:#497b94;
}
.results .btn-search-refine{	
	float: right;
	font-size: 18px;
	padding-top: 0px 0px 0px 0px;
	width: 26px;
	text-align: left;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border: 0px;
}
.results .btn-search-refine .glyphicon{
	margin-top:5px;
}
.bSearchWithin, .bSearchWithin:focus {
    float: left;
    width: 80%;
    box-shadow: none;
    border: 0px !Important;
    border-bottom: 1px solid #989697 !important;
    border-radius: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
    height: 30px;
    font-size: 14px;
    line-height: 26px;
    background-color: transparent;
    margin: 0px 0px 0px 10px;
}
a.browseRemoveFacet .glyphicon {
	color: #000 !important;
	position:relative;
	top:3px;
}
/* detail */
.detail h1{
	margin-bottom: 0px;
}
.detail h2{
	color:#000;
	font-weight: 500;
	text-transform:none;
}
.detail h2 a{
	text-decoration:underline;
	color: #497b94;
}
.detail a{
	color: #497b94;
}
.detail, .detail .unit{
	font-size: inherit;
	line-height: 150%;
	color:#000;
}
.detailImgPlaceholder {
    background-color: #F5F5F5;
    border: 2px solid #EDEDED;
    color: #858585;
    margin-bottom: 10px;
    padding: 80px 5px 85px;
    text-align: center;
    width: 100%;
    font-size: 40px;
}
.detail label{
	color: #000;
	font-family: "mr-eaves-xl-modern",sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-transform: none;
}
.bResultItem .bResultItemText {
    font-size: 14px;
    color:#000;
}
#bRefine.fixed {
    padding-top: 150px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	margin-top: -30px;
	background-color: #f2f4f5;
	height:auto;
}
.detail.external .detailNavBgLeft, .detail.external .detailNavBgRight, .detail.institution .detailNavBgLeft, .detail.institution .detailNavBgRight {
	margin-top: -63px;
}
.detail .detailNavBgRight{
	right:15px;
}
.detail .detailNavBgLeft{
	left:15px;
}
.detail .detailNavBgLeft a, .detail .detailNavBgRight a{
	color:#000;
}
#playPronunciation{
	color: #000;
	cursor: pointer;
	font-size: 18px;
	margin-left: 5px;
}
.detail #playPronunciation{
	position:relative;
	top: -5px;
}
/* word */
/*.word .btn-default{
	background-color:#990000;
	text-decoration:none;
	color:#FFF;
	padding: 13px;
	border-radius: 10px;
	font-size: 15px;
}
.word .btn-default:hover{
	background-color:#000;
	text-decoration:none;
	color:#FFF;
}
.btn-default.btn-gray{
	background-color:#BDBDBD;
	color:#000;
}
.wordFindBox{
	background-color:#6C869E;
	color:#fff;
	text-align: center;
	padding:25px;
	margin-top:40px;
	margin-bottom:10px;
}
a .wordFindBox{
	color:#fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0px;
	line-height: 24px;
	text-transform:uppercase;
	display:inline-block
}
a:hover .wordFindBox{
	background-color:#000;
}
.wordResources a .wordFindBox{
	display:block;
	margin-top:20px;
}
*/
.wordFeaturedLesson{
	padding:30px;
	background-color: rgba(213,219,221,.3);
}
.wordFeaturedLesson a{
	color:#000;
}
.uk-link svg{
	color: #497b94;
}
.word.front .unit{
	padding-top:10px;
	padding-bottom:20px;
}
.word.front .unitLarge{
	padding-top:35px;
	padding-bottom:35px;
}
.word.front .player{
	margin-top:30px;
	margin-bottom:0px;
}
.word.front .uk-card{
	margin-top:80px;
}
/*.front.word .hpIntroTopDescTitle{
	font-weight:500;
	font-size:20px;
	margin-bottom:20px;	
}
.front.word .hpIntroTop{
	margin-top:50px;
}
.front.word .funderImg img{
	width:100%;
	height:auto;
	max-width:300px;
}
.front.word .formoutline{
	border:0px;
	position:relative;
}
.front.word #heroSearchInput{
	border:1px solid #666;
	border-radius:0px;
	padding-right:40px;
	font-size:16px;
}
.front.word #heroSearchInput:focus{
	border:1px solid #000;
}
.front.word #heroSearchButton{
	position: absolute;
	right: 20px;
	top: 1px;
	font-size: 16px;
	background-color:transparent;
}*/
.results a .glyphicon, .results a .fa {
  color: #000 !important;
}
#bViewButtons{
	padding-top:10px;
}
@media(max-width:768px){
	#bViewButtons{
		text-align:left;
	}
}
#bLetterBar a{
	line-height:1.1em;
	font-size:20px;
	border-radius:10px;
}
#bLetterBar a:hover, #bLetterBar a.selectedLetter{
	background-color:#497b94;
	color:#FFF;
	font-weight:normal;
}
.bCriteria{
	margin-bottom:10px;
}
.a2a_kit{
	margin-top:40px;
}
.detail .detailTool, .detail .detailTool a, .detail .detailTool span, .detail .detailTool i {
    color: #000;
    font-size: 14px;
}
.detail h2{
	font-size: 40px;
	font-family: "mr-eaves-xl-modern",sans-serif;
	text-transform: none;
	color: #000;
}
.word.detail .sentence{
	font-size:22px;
}
.word.detail .caAudioPlayer{
	padding-top:0px;
}
.detail.institution h1{
	font-size: 40px;
	font-family: "mr-eaves-xl-modern",sans-serif;
	text-transform: none;
	color: #000;
}
.detail.institution h2{
	font-size: 22px;
}
.detail .link{
	font-size:22px;
}
.small{
	font-size:.7em; 
	line-height:1.1em;
}
.bResultListItemInstitution{
	background-color:rgba(213,219,221,.3);
	height:72px;
	margin-bottom:20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
a .bResultListItemInstitution{
	color:#000000;
	font-size: 20px;
	font-weight: 400;
}
a:hover .bResultListItemInstitution{
	color:#FFF;
	background-color:#6C869E;
}
.leaflet-container a {
    color: #AC143A;
}
a.readmore-js-toggle {
    color: #AC143A;
}
.staticPage .btn-default{
	margin-bottom:25px;
}
label.control-label{
	font-family: mr-eaves-xl-modern,sans-serif;
	text-transform: none;
	font-size:19px;
}