/* --- background color: #E2EAED, turq links: #21B1E7, blue from logo: #009AD9, gray nav links: #555555, blue footer bg: #003F69, light gray bg: #F0F4F6, yellow highlight: #FDB813
*/
/*@font-face{
	font-family:'gotham-medium';
	src:url(www.911memorial.org/sites/all/themes/national911/fonts/gothmmed-webfont.eot);
	src:url(www.911memorial.org/sites/all/themes/national911/fonts/gothmmed-webfont.eot?#iefix) format('embedded-opentype'),url(https://www.911memorial.org/sites/all/themes/national911/fonts/gothmmed-webfont.woff2) format('woff2'),url(https://www.911memorial.org/sites/all/themes/national911/fonts/gothmmed-webfont.woff) format('woff'),url(https://www.911memorial.org/sites/all/themes/national911/fonts/gothmmed-webfont.ttf) format('truetype'),url(https://www.911memorial.org/sites/all/themes/national911/fonts/gothmmed-webfont.svg#gotham-mediumgotham-medium) format('svg');
	font-weight:normal;
	font-style:normal;
}
*/
@font-face{
	font-family:'gotham-book';
	src:url(gotham-book-1361523257.ttf);
	src:url(gotham-book-1361523257.ttf) format('truetype'), url(gotham-book-1361523257.woff) format('woff'),url(gotham-book-1361523257.svg) format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'gotham-medium';
	src:url(GOTHMMED.TTF);
	src:url(GOTHMMED.TTF) format('truetype'), url(GOTHMMED.otf) format('otf'),url(GOTHMMED.svg) format('svg');
	font-weight:normal;
	font-style:normal;
}

.container{
	max-width:970px;
}
body {
	font-family: arial;
	color:#000000;
	background-color:#E2EAED;
}
a {
	color:#21B1E7;
}
H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6{
	font-family: arial;
	color:#000000;
}
H1, h1{
	font-size:28px;
}
#pageArea{
	background-color:#FFFFFF;
}
.navbar {
  -webkit-box-shadow:none;
  box-shadow:none;
}
.navbarTop{
	background-color:#E2EAED;
	margin:0px;
	padding:0px;
	z-index:2000;
}

nav, .navbar, .navbar-default{
	min-height:auto !important;
}
.navbarTop .navbar-left{
	border-right:1px solid #FFFFFF;
}
.navbarTop .navbar-nav li a{
	line-height:1em;
	padding:13px 20px 16px 0px;
}
.navbarTop .navbar-left li a{
	padding-right:15px;
}
.navbarMain .navbar-nav li a{
	line-height:1em;
	padding:29px 20px 0px 0px;
}
.navbar .nav > li > a, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
	font-family: gotham-medium;
	font-size:15px;
	text-transform:uppercase;
	color:#000000;
	font-weight:normal;
}
.navbarTop .nav > li > a, .navbarTop .nav > li > a:hover, .navbarTop .nav > li > a:focus, .navbarTop #user-navbar ul.dropdown-menu > li > a {
	font-family: gotham-medium;
	font-size:11px;
	text-transform:uppercase;
}
.navbarTop .nav > li > a{
	color: #555555;
}
.navbarTop .navbar-left > li > a{
	color:#21B1E7;
}
.navbar .navbar-nav > .active > a {
    color: #FDB813;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
  	background-color: #FFFFFF;
}
.navbar.navbarTop .navbar-nav > .active > a, .nav > li.dropdown > a.icon:focus {
  	background-color: #E2EAED;
}
.nav > li > a:hover, .nav > li > a:focus {
	color: #FDB813 !important;
}
.navbar-nav > li > a {
    line-height: 12px;
} 
.navbarTop #user-navbar{
	border-left:1px solid #FFFFFF;
}
.nav > li.dropdown > a.icon{
	font-size:11px;
	padding:13px 0px 15px 23px;
	color:#21B1E7;
}
nav, .navbar-nav{
	z-index:1;
}
.navbarTop #user-navbar ul.dropdown-menu{
	border:0px;
}
.navbarTop #user-navbar ul.dropdown-menu > li > a{
	text-align:right;	
}
.navbarTop #user-navbar ul.dropdown-menu > li > a:hover{
	color:#FDB813;
	background-color:#FFFFFF;
}
.navbar-brand {
	width:auto;
	padding-top:3px;
	padding-bottom:0px;
}
.navbarMain{
	padding-bottom:18px;
	padding-top:25px;
}
.navbarMain .subTitle{
	float:right;
	font-family:gotham-book;
	font-size:23px;
	text-transform:uppercase;
	color:#009AD9;
}
.navbarMain .navbar-form{
	clear:right;
	padding-right:0px;
	margin-bottom:0px;
	margin-top:15px;
}
.navbar .form-control {
	padding: 0px 7px;
  	border: 0px;
  	border-radius: 0px;
	background-color:#F0F4F6;
}
.navbar .form-control:focus {
	border: 0px;
	outline: 0;
	-webkit-box-shadow: none;
          box-shadow: none;
}
.navbar .formOutline{
	border:none;
	border-radius: 0px;
	position:relative;
	background-color:#F0F4F6;
}
.navbar .btn-search .glyphicon{
	color:#21B1E7;
}
.navbar .btn-search{
	background-color:#F0F4F6;
	display: inline-block;
	padding: 4px 5px 0px 5px;
	margin:0px;
	font-size: 21px;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border:0px;
	border-radius: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.navbarMain li.dropdown > a, .navbarMain li.dropdown > a:active{
	background-color:#FFFFFF !important;
}