    <main id="main" role="main" class="ca archive archive_text_based nomargin">

<?php
		print $this->render("pageFormat/archive_nav.php");
?>

        <div class="wrap">

            <section class="block block-large-top">
                <div class="wrap-max-content">
                    <div class="block">    
                        <h1 class="headline-s text-align-center">{{{title}}}</h1>
                    </div>
                    <div class="block-half body-text-l">
                        {{{topContent}}}
                    </div>
                </div>
            </section>

            <section class="block border">
                <div class="wrap-max-content">

                    <div class="columns">

                        <div class="col">

                            <div class="block-half">
                                {{{col1Content}}}
                            </div>

                        </div>
                        <div class="col">

                            <div class="block-half">
                                {{{col2Content}}}
                                <div id="contactForm">here</div>
                            </div>

                        </div>

                    </div>

                </div>
            </section>

        </div>
    </main>
<script type="text/javascript">	
	pawtucketUIApps['contact'] = {
        'selector': '#contactForm',
        'data': {
            'sectionName': 'Test'
        }
    };
</script>
<script type="text/javascript">
	var gCaptchaRender = function(){
		grecaptcha.render('reCaptcha', {'sitekey': '<?php print __CA_GOOGLE_RECAPTCHA_KEY__; ?>'});
	};
</script>
<script src='https://www.google.com/recaptcha/api.js?onload=gCaptchaRender&render=explicit' async defer></script>
