<?php
MetaTagManager::setWindowTitle("The Isamu Noguchi Catalogue Raisonné");
?>

    <main class="ca cr cr_text_based nomargin">
<?php
		print $this->render("pageFormat/cr_nav.php");
?>
        <section class="wrap block block-large-top">
            <div class="wrap-text-wide">
                <div class="block">    
                    <h1 class="headline-s text-align-center">{{{title}}}</h1>
                </div>
            	<div class="columns">
            		<div class="col half">
            			{{{col1Content}}}
            		</div>
            		<div class="col half">
            			{{{col2Content}}}
            		</div>
            	</div>
            </div>
        </section>

    </main>