/* COLORS
 * Gold: #f5c135
*/


/*
 * GENERAL STYLES
*/

@font-face {font-family: 'opensans'; src: url('opensans/OpenSans-Regular-webfont.eot');src: url('opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('opensans/OpenSans-Regular-webfont.woff') format('woff'),url('opensans/OpenSans-Regular-webfont.ttf') format('truetype');}

*, h1, h2, h3, h4, h5, h6, label, .navbar .form-control {
    font-family: 'opensans';
}

a, h1, h2 {
    color: #f5c135;
}

a:hover{
    color: #f5c135;
    text-decoration: underline;
}

hr{
    color: #999;
}

p{
    margin: 0;
}

.colBorderLeft{
    border-left: 1px solid #999;
}

.btn-default {
	font-family: 'opensans';
	background-color: #f5c135;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
	text-decoration: underline;
	background-color: #f5c135;
}

/*
 * HEADER
*/

.tempImg {
    padding-bottom: 10px;
}

.tempImg img{
    width: 100%;
}

.navbar{
    color: #fff;
    background-color: #000;
    border-bottom: 5px solid #f5c135;
}

.navbar-brand{
    width: 240px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #f5c135;
	color: #fff;
}

.navbar-default .navbar-nav > li > a{
    font-family: 'opensans';
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #f5c135;
}

.navbar .formOutline {
    border: none;
}

.navbar-form {
    border-bottom: 1px solid #454545;
    margin-left: 30px;
    padding-left: 0;
}

.navbar-form > .form-group {
    width: 100px;
}

.navbar-form > .form-group > .form-control, .navbar-form > .btn-search {
    background-color: #000;
}

.navbar-form > .form-group > .form-control{
    border-radius: 0;
    padding: 0;
    margin-top: 6px;
    font-size: 14px;
    height: 22px;
    color: #fff;
}

.navbar-form > .btn-search{
    color: #fff;
    padding: 0;
    margin-top: 6px;
    font-size: 12px;
}
.navbar-form > .btn-search:hover{
    color: #f5c135;
}

#user-navbar >  .open > a{
    background: none;
    color: #f5c135;
}

#user-navbar > .open > ul.dropdown-menu{
    background-color: #000;
    min-width: 75px;
    text-align: right;
    margin-top: -1px;
}

#user-navbar >  .open > ul.dropdown-menu > li > a{
    padding: 3px 10px;
    color: #fff;
}

#user-navbar >  .open > ul.dropdown-menu > li > a:hover{
    background: none;
    color: #f5c135;
}

.navbar-nav > li > .dropdown-menu{
	margin-top: 5px;
}

/*
 * FOOTER
*/

#footer{
    border-top: 5px solid #f5c135;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    line-height: 1.9em;
}

#footer ul a{
    color: #fff;
}

#footer ul a:hover{
    color: #f5c135;
}

/*
 * FRONT PAGE
*/

.frontContainer{
    margin-top: -20px;
}

.front h1{
    padding-top: 20px;
}

.frontLower {
    border-top: 1px solid #999;
}

.frontThird {
    margin-top: 10px;
    border-right: 1px solid #999;
    min-height: 400px;
}

.frontThirdRight {
    margin-top: 10px;
    min-height: 400px;
}

/*
 * DETAIL PAGE
*/

.detailRow{
	padding: 5px 0;
	margin: 5px 0;
	min-height: 40px;
}

.detailRow:nth-child(odd){
	background-color: #f9f9f9;
	padding: 5px 0;
	margin: 5px 0;
	
}

.detailRow h6{
	margin: 0;
}

.mapSection{
    min-height: 160px;
}

.detailDivider{
    border-bottom: 1px solid #999;
    margin: 10px 0;
}

.colBorderRight{
    border-right: 1px solid #999;
}

#appendPublications{
	border: none;
	background-color: #fff;
	font-size: 14px;
	color: #999;
}

#appendPublications:hover{
	text-decoration: underline;
}

.additionalPublications{
	display: none;
}

.detail #detailTools{
	margin-top: 0;
	padding-top: 0;
	text-align: right;
}

#detailTools .detailTool{
	padding: 0;
}

/*
 * BROWSE
*/

.filterMenuFacetList li.active{
	background-color: #f5c135
}

/*
 * SETS
*/

.setDetail {
	margin-bottom: 0;
}

.sets .btn{
	background-color: #f5c135;
}

/*
 * BROWSE RESULTS
*/

.browse .btn{
	background-color: #f5c135;
	padding: 2px 6px;
	font-size: 12px;
}

.bResultItemContent{
	height: 260px;
}

.results strong{
	font-size: 11px;
}

/*
 * FORMS
 */
 
 .form-control:focus{
 	border-color: #f5c135;
 }
 
 .attributeListItem{
 	width: 100% !important;
 }
 