<div class="row">
	<div class="col-sm-12">
		<H1>{{{title}}}</H1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-8 col-lg-7 mb-2">
		<div class="mb-5">
			{{{bodytext}}}
		</div>
	</div>
	<div class="col-sm-12 col-md-4 col-lg-4 offset-lg-1 img-fluid mb-5">
		{{{media:1:original}}}
	</div>
</div>