html{
	font-size:16px;
}
.container{
	max-width:1430px;
}
#pageArea{
	margin-bottom:180px;
}
h1{
	text-transform:none;
}
/* carleton blue bar */
#bannerSearchImage{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
/* header image */
#bannerAndMeat{
	max-width:1400px;
	margin:0px auto 0px;
}
.banner__bg-img {
 background-image:url(../graphics/1384293_orig.jpg?resize=400,250);
}
@media all and (min-width:420px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=523,200);
 }
}
@media all and (min-width:550px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=665,225);
 }
}
@media all and (min-width:700px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=855,200);
 }
}
@media all and (min-width:900px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=1045,175);
 }
}
@media all and (min-width:1100px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=1235,150);
 }
}
@media all and (min-width:1300px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=1400,150);
 }
}
@media (min-width:900px){
	.banner--columns{box-sizing:border-box}
	.banner--columns .banner__primary-content{
		display:block;*zoom:1;width:100%;margin-left:0;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center
	}
	.banner--columns .banner__primary-content:after,.banner--columns .banner__primary-content:before{
		content:"";
		display:table
	}
	.banner--columns .banner__primary-content:after{
		clear:both
	}
	.banner--columns .site-name-wrapper{
		width:22.22222222%
	}
	.banner--columns .site-name-wrapper,.banner--columns .site-name-wrapper-news{
		display:inline;float:left;margin-right:0;margin-left:0;box-sizing:border-box;text-align:right
	}
	.banner--columns .site-name-wrapper-news{
		width:41.11111111%
	}
	.banner--columns .site-name{
		margin:0;padding-right:10%
	}
	.banner--columns .site-name-news{
		font-family:Surveyor Display A,Surveyor Display B,Georgia,Times New Roman,serif;font-size:1.385em;font-style:italic;margin:0;padding-right:5%;position:relative
	}
	.banner--columns .site-name-news:after{
		content:"";height:30%;width:3px;background-color:#666;position:absolute;top:45%;right:0
	}
	.banner--columns .pageTitleWrap{
		width:77.77777778%
	}
	.banner--columns .pageTitleWrap,.banner--columns .pageTitleWrapNews{
		display:inline;float:left;margin-right:0;margin-left:0;box-sizing:border-box
	}
	.banner--columns .pageTitleWrapNews{
		padding-top:.5em;width:48.88888889%
	}
	.banner--columns .pageTitle{
		border-left:3px solid #f3b61d;padding-left:2.85714286%;padding-left:false;padding-left:calc(2.85714% + -3px)
	}
}
@media (min-width:800px){
	#banner.bannerXtra .site-name{
		float:left;width:66%
	}
	#bannerXtra{
		float:right;width:32%
	}
}
.banner__primary-content{position:relative;z-index:20}

h1.page_title, .pageTitle--Main{
	font-size: 44px;
}
/* browse */
.bResultListItemCol, .bResultListItem:hover{
	height:202px;
}
.bResultListItemContent {
	height:152px;
	overflow:hidden;
}

.accessions .bResultListItemCol, .accessions .bResultListItem:hover{
	height:122px;
}
.bResultListItemContent {
	height:72px;
	overflow:hidden;
}

.bResultListItem .bResultListItemText a{
	color:#000;
}
.bResultListItem .bResultListItemText, .bResultItemText .objectTitle{
	font-weight:bold;
	font-size:16px;
}
.collectionID, .collectionPath{
	font-weight:normal;
	font-size:12px;
}
.bResultListItemTextDesc{
	font-size:12px;
	padding-top:8px;
	font-weight: normal;
}
.multisearch .authorityResult{
	margin-bottom:5px;
	height:145px;
	line-height:1.1em;
	background-color:#f5f5f5;
	padding:5px 10px 5px 10px;
	overflow:hidden;
}
.bResultListItem .bResultListItemText {
	line-height: 1em;
}
#bRefine H2{
	font-size:18px;
	color:#000;
}
#bRefine H3{
	font-size:16px;
	color:#000;
}
#bRefine{
	background-color:#cdddec;
}
#bRefine a{
	color:#000;
}


.navbar{
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom:25px;
}
@media (min-width:768px){
	#topNavigation {
		font-size:0.85em;
		display:table;
		width:100%;
		background:#f6cc61;
		padding: 0px;
	}
	#topNavigation .set {
		display:table-row;
	}
	#topNavigation li {
		text-decoration:none;
		text-align:center;
		color:#21557e;
		display:table-cell;
		border:none;
		border-right:1px solid #fff;
		vertical-align:middle;
		float:none;
	}
	*+html #topNavigation li {
		display:inline-block;
		width:14.4%;
		padding:9px 1% 8px 1%;
		float:none;
	}
	#topNavigation strong {
		color:#000;
		background-color:#FBE6B0;
	}
	#topNavigation .servicePage, #topNavigation .col2 {
		border-right:0;
	}
	#topNavigation strong {
		font-weight:normal;
	}
	#topNavigation a{
		text-decoration:none;
		text-align:center;
		color:#21557e;
		display:block;
		padding:13px 13px 12px 13px;
	}
	#topNavigation a:hover, #topNavigation a:focus, #topNavigation a:active, #topNavigation li.active a {
		background:#f9d989;
		outline:none;
	}
	#postBanner {
		margin-bottom:4%;
	}
	#topNavigation .formOutline {
	  background-color: #fff;
	}
	.navbar .formOutline{
		border:0px;
	}
	#topNavigation #headerSearchInput {
	  border: none;
	  border-radius:0px;
	  background-color:#FFF;
	  box-shadow:none;
	  color:#000;
	}
	#topNavigation .btn-search {
	  padding: 9px;
	  border-radius:0px;
	  background-color:#306aa2;
	  color:#FFF;
	}
	#topNavigation.navbar-collapse .navbar-nav.navbar-right:last-child {
	  margin-right: 0px;
	}
}




.front .jcarousel-wrapper{
	margin-top:0px;
}
.frontSlide img {
  height: 300px;
}
.front H1, .front H2{
	color:#000;
	font-size: 22px;
	font-family: Gotham SSm A, Gotham SSm B, Helvetica Neue, Helvetica, Arial, sans-serif;
	padding-top: 15px;
	font-weight:bold;
	line-height:1.3em;
	text-align:center;
}
.frontIntro{
	color: #000;
	font-size: 18px;
	font-family: Gotham SSm A, Gotham SSm B, Helvetica Neue, Helvetica, Arial, sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: normal;
	line-height: 1.3em;
	text-align: center;
}

.detail .detailNavBgRight{
	margin-right:15px;
}
.detail .detailNavBgLeft{
	margin-left:15px;
}
.contact H1, .advancedSearch H1{
	font-size:24px;
	font-weight:bold;
}

.btn-default, .browse .btn, .sets .btn {
	background-color: #0b5091;
}
.btn-default:hover, .browse .btn:hover, .sets .btn:hover {
	background-color: #3676b3;
}
#footer{
	background-color:#3676b3;
	color:#FFF;
	height:150px;
	text-align:center;
	padding-top:25px;
}
#footer img{	
	width:200px;
}
#footer .libraryTitle{
	font-family:Surveyor Display A,Surveyor Display B,Georgia,Times New Roman,serif;
	padding-top:20px;
	font-size:24px;
}
.frontClassificationCol a, .frontClassificationCol a:hover{
	text-decoration:none;
}
.frontClassification{
	text-align:center;
	padding:10px;
	background-color:#f3b61d;
	color: #000;
	margin-bottom:10px;
	text-decoration:none;
}
a:hover .frontClassification{
	background-color:#f9db8e;
}
a .frontClassification, a:hover .frontClassification{
	text-decoration:none;
	text-decoration-color:none;
}

.multisearch H1{
	font-size:30px;
}
.multisearch H3 a, .multisearch H3 a:hover, .multisearch H2 a, .multisearch H2 a:hover {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}