html{
	font-size:16px;
}
.container{
	max-width:1430px;
}
#pageArea{
	margin-bottom:220px;
}
@media(min-width:990px){
	#pageArea{
		margin-bottom:180px;
	}
}
h1{
	text-transform:none;
}
/* carleton blue bar */
#bannerSearchImage{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
/* header image */
#bannerAndMeat{
	max-width:1400px;
	margin:0px auto 0px;
}
.banner__bg-img {
 background-image:url(../graphics/1384293_orig.jpg?resize=400,250);
}
@media all and (min-width:420px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=523,200);
 }
}
@media all and (min-width:550px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=665,225);
 }
}
@media all and (min-width:700px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=855,200);
 }
}
@media all and (min-width:900px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=1045,175);
 }
}
@media all and (min-width:1100px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=1235,150);
 }
}
@media all and (min-width:1300px) {
 .banner__bg-img {
  background-image:url(../graphics/1384293_orig.jpg?resize=1400,150);
 }
}
@media (min-width:900px){
	.banner--columns{box-sizing:border-box}
	.banner--columns .banner__primary-content{
		display:block;*zoom:1;width:100%;margin-left:0;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center
	}
	.banner--columns .banner__primary-content:after,.banner--columns .banner__primary-content:before{
		content:"";
		display:table
	}
	.banner--columns .banner__primary-content:after{
		clear:both
	}
	.banner--columns .site-name-wrapper{
		width:22.22222222%
	}
	.banner--columns .site-name-wrapper,.banner--columns .site-name-wrapper-news{
		display:inline;float:left;margin-right:0;margin-left:0;box-sizing:border-box;text-align:right
	}
	.banner--columns .site-name-wrapper-news{
		width:41.11111111%
	}
	.banner--columns .site-name{
		margin:0;padding-right:10%
	}
	.banner--columns .site-name-news{
		font-family:Surveyor Display A,Surveyor Display B,Georgia,Times New Roman,serif;font-size:1.385em;font-style:italic;margin:0;padding-right:5%;position:relative
	}
	.banner--columns .site-name-news:after{
		content:"";height:30%;width:3px;background-color:#666;position:absolute;top:45%;right:0
	}
	.banner--columns .pageTitleWrap{
		width:77.77777778%
	}
	.banner--columns .pageTitleWrap,.banner--columns .pageTitleWrapNews{
		display:inline;float:left;margin-right:0;margin-left:0;box-sizing:border-box
	}
	.banner--columns .pageTitleWrapNews{
		padding-top:.5em;width:48.88888889%
	}
	.banner--columns .pageTitle{
		border-left:3px solid #f3b61d;padding-left:2.85714286%;padding-left:false;padding-left:calc(2.85714% + -3px)
	}
}
@media (min-width:800px){
	#banner.bannerXtra .site-name{
		float:left;width:66%
	}
	#bannerXtra{
		float:right;width:32%
	}
}
@media (min-width:761px){
	.navbar-form .form-group {
  		width: 90px;
	}
}
@media (min-width:825px){
	.navbar-form .form-group {
  		width: 140px;
	}
}
@media (min-width:940px){
	.navbar-form .form-group {
  		width: 250px;
	}
}
.banner__primary-content{position:relative;z-index:20}

h1.page_title, .pageTitle--Main{
	font-size: 44px;
}
.pageTitle--Main a{
	text-decoration:none;
	background-image:none !important;
}
@media (max-width: 768px){
	ul.menuItems {
		border-top: 0px;
		padding-left: 30px;
	}
}
/* browse */
.results H1{
	text-transform: capitalize;
}
.bResultListItemCol, .bResultListItem:hover{
	height:202px;
}
.bResultListItemContent {
	height:152px;
	overflow:hidden;
}

.accessions .bResultListItemCol, .accessions .bResultListItem:hover{
	height:122px;
}
.accessions .bResultListItemContent {
	height:72px;
	overflow:hidden;
}

.bResultListItem .bResultListItemText a{
	color:#000;
}
.bResultListItem .bResultListItemText, .bResultItemText .objectTitle{
	font-weight:bold;
	font-size:14px;
}
.collectionID, .collectionPath{
	font-weight:normal;
	font-size:12px;
	padding-bottom: 3px;
}
.resultClassification{
	font-size: 14px;
	font-family: Surveyor Display A,Surveyor Display B,Georgia,Times New Roman,serif;
	font-weight: 600;
	padding-bottom: 7px;
	color: #666;
}
.multipleMediaIcon{
	position:absolute;
	top: 5px;
	right: 20px;
	z-index:10;
	background-color:#FFF;
	padding:5px;
	font-size:18px;
	color:#777;
}
.bResultItemContent:hover .multipleMediaIcon {
	right: 5px;
}
.bResultListItemText .multipleMediaIcon {
	right: auto;
	left:20px;
}
.bResultListItem:hover .multipleMediaIcon{
	left:5px
	right:auto;
}
.searchIntro{
	font-size:14px;
	font-family: 'Gotham SSm A,Gotham SSm B,Helvetica Neue,Helvetica,Arial,sans-serif';
}
/* browse  multiple select */
.facetItem .glyphicon-chevron-down, .facetItemHier .glyphicon-chevron-down {
	font-size:10px;
}
.facetContainer{
	position:relative;
	padding-bottom:20px;
}
#bRefine .facetItem, #bRefine .facetItemHier {
	padding-left:20px; 
	margin-bottom:10px;
}
#bRefine .facetItem[facet_item_selected="1"], #bRefine .facetItemHier[facet_item_selected="1"] {
	padding-left:20px;
}
[facet_item_selected="1"]::before {
	font-family: FontAwesome;
	content: "\f067"; 
	padding-right:6px;
	position:absolute;
	left:7px;
	top:4px;
	font-size:11px;
}
.facetApply, .facetApplyHier {
	clear:both;
	right:15px;
	display:block;
	text-align: center;
    margin-top: 20px;

}
a.facetApply, a.facetApplyHier {
    background-color: #306aa2;
    color:#FFF !important;
    font-size: 13px;
    border-radius: 3px;
    width:50px;
    padding-top:4px;
    padding-bottom:4px;
    margin-left: auto;
    margin-right: auto; 
    position:absolute;
    bottom:0px;
    left:0px;
}
#bRefine a.more {
  color: #306aa2;
}
/* ---------- Search Within -------------------- */
@media(max-width:768px){
	.results .bSearchWithinContainer{
		display:none;
	}
}
.results .bSearchWithinContainer{
	clear:both;
	padding:15px 0px 15px 0px;	
	background-color: #cdddec;
	text-align:center;
}
.results .btn-search-refine, .results .btn-search-refine:hover{	
	font-size: 14px;
	cursor: pointer;
	background-color: #306aa2;
	color:#FFF;
	font-size: 14px;
	line-height:1em;
	padding: 9px;
	
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border:0px;
	border-radius: 0px;
}
.bSearchWithin, .bSearchWithin:focus {
    width: 80%;
    box-shadow: none;
    border: 0px;
    border: 0px;
    border-radius: 0px;
    height: 35px;
    font-size: 14px;
    line-height: 26px;
    background-color: #FFF;
	font-size: 14px;
	display: inline-block;
	display:inline-block;
}
/* collections results in list are full width so have auto height and no roll over margin change */
a .bResultListItemCol{
	color:#000;
}
a:hover {
	color:#000;
	text-decoration:none;
}
.ca_collections .bResultListItemCol, .ca_collections .bResultListItemContent, .ca_collections .bResultListItemCol, .bResultListItem:hover {
	height:auto;
}
.ca_collections .bResultListItemCol {
	margin-bottom: 30px;
}
.ca_collections .bResultListItem:hover{
	margin:0px;
	padding:10px;
}
.ca_collections .bResultListItemTextDesc{
	max-height:208px;
}
.ca_collections .bResultListItemCol:hover .bResultListItemTextDesc{
	max-height:none;
}
#collectionLoad div{
	clear:left;
}
.bResultListItemTextDesc{
	font-size:12px;
	padding-top:8px;
	font-weight: normal;
}
.multisearch .authorityResult{
	margin-bottom:5px;
	height:145px;
	line-height:1.1em;
	background-color:#f5f5f5;
	padding:5px 10px 5px 10px;
	overflow:hidden;
}
.multisearch .authorityResult.collectionsResult {
  margin-bottom: 5px;
  height: 200px;
  line-height: 1.1em;
  background-color: #f5f5f5;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
}
.multisearch .authoritySet.collections_allSet, #collections_allResults .blockResultsScroller, .multisearch .blockResults.collections_all_authorityBlock, .multisearch .collections_all_authorityBlock .scrollButtonPrevious, .multisearch .collections_all_authorityBlock .scrollButtonNext{
	height:200px;
}
.bResultListItem .bResultListItemText {
	line-height: 1em;
}
.bResultCollectionListItemImg{
	float:left;
	width:120px;
	padding:0px 10px 10px 0px;
}
.bResultCollectionListItemImg img{
	width:100%;
	height:auto;
}
@media(min-width:768px){
	#bRefine{
		display:block !Important;
	}
}
#bRefine H2{
	font-size:18px;
	color:#000;
	padding-left:15px;
}
#bRefine H3{
	font-size:16px;
	color:#000;
	padding-left:15px;
	cursor:pointer;
}
#bRefine H3::after {
	content: "\25bc";
	font-family: 'bb';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	color: #000;
	vertical-align: 1px;
	margin-left: 3px;
	font-size: 9px;
}
#bRefine{
	background-color:#cdddec;
}
#bRefine a{
	color:#000;
}

#bMorePanel{
	left:0px;
	right:auto;
}
.browseRemoveFacet, .browseRemoveFacet .btn{
	display:block;
	width:100%;
	font-size:11px;
	margin:0px 0px 5px 0px;
}
.browseRemoveFacet .btn{
	white-space: normal;
}
.browseRemoveFacet:hover, .browseRemoveFacet .btn:hover{
	text-decoration:none;
}
.navbar{
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom:25px;
}
@media (min-width:768px){
	#topNavigation {
		font-size:0.85em;
		display:table;
		width:100%;
		background:#f6cc61;
		padding: 0px;
	}
	#topNavigation .set {
		display:table-row;
	}
	#topNavigation li {
		text-decoration:none;
		text-align:center;
		color:#21557e;
		display:table-cell;
		border:none;
		border-right:1px solid #fff;
		vertical-align:middle;
		float:none;
	}
	*+html #topNavigation li {
		display:inline-block;
		width:14.4%;
		padding:9px 1% 8px 1%;
		float:none;
	}
	#topNavigation strong {
		color:#000;
		background-color:#FBE6B0;
	}
	#topNavigation .servicePage, #topNavigation .col2 {
		border-right:0;
	}
	#topNavigation strong {
		font-weight:normal;
	}
	#topNavigation a{
		text-decoration:none;
		text-align:center;
		color:#21557e;
		display:block;
		padding:13px 13px 12px 13px;
	}
	#topNavigation a:hover, #topNavigation a:focus, #topNavigation a:active, #topNavigation li.active a {
		background:#f9d989;
		outline:none;
	}
	#postBanner {
		margin-bottom:4%;
	}
	#topNavigation .formOutline {
	  background-color: #fff;
	}
	.navbar .formOutline{
		border:0px;
	}
	#topNavigation #headerSearchInput {
	  border: none;
	  border-radius:0px;
	  background-color:#FFF;
	  box-shadow:none;
	  color:#000;
	}
	#topNavigation .btn-search {
	  padding: 9px;
	  border-radius:0px;
	  background-color:#306aa2;
	  color:#FFF;
	}
	#topNavigation.navbar-collapse .navbar-nav.navbar-right:last-child {
	  margin-right: 0px;
	}
}




.front .jcarousel-wrapper{
	margin-top:0px;
}
.frontSlide img {
  height: 300px;
}
.front H1, .front H2{
	color:#000;
	font-size: 22px;
	font-family: Gotham SSm A, Gotham SSm B, Helvetica Neue, Helvetica, Arial, sans-serif;
	padding-top: 15px;
	font-weight:bold;
	line-height:1.3em;
	text-align:center;
}
.frontIntro{
	color: #000;
	font-size: 18px;
	font-family: Gotham SSm A, Gotham SSm B, Helvetica Neue, Helvetica, Arial, sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: normal;
	line-height: 1.3em;
	text-align: center;
}

.detail .detailNavBgRight{
	margin-right:15px;
}
.detail .detailNavBgLeft{
	margin-left:15px;
}
.detail .collectionHierarchyPath{
	padding-top:10px;
}
.detail .collectionHierarchyPath, .detail .collectionHierarchyPath a{
	font-size:14px;
	color:#000;
}
.detail H2{
	text-transform:none;
	color:#000
}
.detail.collections .unit{
	clear:left;
}
.detail.collections a.showHide{
	color:#0b5091;
	font-weight:bold;
	text-transform:uppercase;
}
.detail.collections .hierLevel1{
	font-size:16px;
}
.detail.collections .hierLevel2{
	font-size:15px;
}
.detail.collections .hierLevel3{
	font-size:14px;
}
.detail .btn-default, .detail .btn-default:hover{
	color:#FFF;
	text-decoration:none;
	background-color: #306aa2;
}
.detail .unit .caption{
	line-height:1.2em;
	margin-bottom:15px;
	height:4em;
	overflow:hidden;
	
}
.detail .unit a{
	text-decoration:underline;
}
.detail .accessionsNote{
	margin-bottom:20px;
	padding:20px;
	background-color:#EDEDED;
}
.collection-form .formOutline {
	float: right;
	top: 30px;
}
.collection-form .formOutline{
	border:0px;
}
.collection-form input {
  width:250px;
  border:1px solid #888;
  border-radius:0px;
  background-color:#FFF;
  box-shadow:none;
  color:#000;
  padding-right:30px;
  padding: 7px 12px;
}
.collection-form #collectionSubmit {
  padding: 9px;
  border-radius:0px;
  color:#306aa2;
  background-color:transparent;
  position:absolute;
  right:0px;
  top:0px;
}
#collectionSearch{
	clear:both;
	display:none;
	top: 30px;
    position: relative;
	padding-top:30px;
	padding-bottom:40px;
	border-top:2px solid #000;
}
.contact H1, .advancedSearch H1{
	font-size:24px;
	font-weight:bold;
}

.btn-default, .browse .btn, .sets .btn {
	background-color: #0b5091;
	color: #fff;
}
.btn-default:hover, .browse .btn:hover, .sets .btn:hover {
	background-color: #3676b3;
}
#footer{
	background-color:#3676b3;
	color:#FFF;
	height:170px;
	text-align:center;
	padding-top:25px;
	z-index:10;
}
@media(min-width:990px){
	#footer{
		height:150px;
	}
}
#footer img{	
	width:200px;
}
#footer .libraryTitle{
	font-family:Surveyor Display A,Surveyor Display B,Georgia,Times New Roman,serif;
	padding-top:20px;
	font-size:24px;
}
@media(min-width:990px){
	#footer .footerLogin{
		position:absolute;
		bottom:20px;
		right:30px;
	}
}
#footer .footerLogin a{
	color: #fff;
	font-size:12px;
}
.front .jcarousel-control-next, .front .jcarousel-control-prev {
  margin-top: -80px;
}
.frontClassificationCol a, .frontClassificationCol a:hover{
	text-decoration:none;
}
.frontClassification{
	text-align:center;
	padding:10px;
	background-color:#f3b61d;
	color: #000;
	margin-bottom:10px;
	text-decoration:none;
}
a:hover .frontClassification{
	background-color:#f9db8e;
}
a .frontClassification, a:hover .frontClassification{
	text-decoration:none;
	text-decoration-color:none;
}

.multisearch H1{
	font-size:30px;
}
.multisearch H3 a, .multisearch H3 a:hover, .multisearch H2 a, .multisearch H2 a:hover {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

a.readmore-js-toggle {
  padding-top: 10px;
  color: #306aa2;
}
.form-control:focus {
  border-color: #000000;
}