@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("//fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic");

body {
	font-family:"Lato";
	line-height: 28px;
	font-size:14px;
	color: #515151;
	font-weight:400;
}
a, a:hover, a:active {
	color: #fe5000;
}
h1, h2, h3, h4, h5, h6 {
	font-family:"Lato";
}
h1 {
	color: #fe5000;
}
h6 {
	margin-bottom:5px;
	margin-top:14px;
	font-weight:600;
	font-size:13px;
}
.navbar-brand {
    width: 175px;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 30px;
}
.navbar-nav > li > a {
	padding-bottom:13px;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family:"Lato";
	font-size: 16px;
	font-style:italic;
	letter-spacing:1px;
	color: #292929;
}
.navbar-default .navbar-nav > li > a {
	color: #292929;
	border-bottom:2px solid #fff;
	transition: all 0.5s ease;
}
.navbar .navbar-nav > .active > a {
    background-color: #fff;
    color: #292929;
    border-bottom:2px solid #fe5000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color:#fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #fff;
	border-bottom:2px solid #fe5000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	border-bottom:2px solid #fe5000;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	border-color: #fe5000;
}
.nav > li.dropdown > a.icon {
	padding-bottom:10px;
}
.navbar-form .form-group {
	width: 140px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #333;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.navbar .formOutline {
    border: 2px solid #555;
    border-radius: 0px;
    position: relative;
}
.btn-search {
	padding:4px;
}
@media (min-width: 992px) {
	.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
		font-size: 18px;
	}
}
.front H1 {
	color:#000;
	padding:0px;
	font-family:"Lato";
	font-weight:700;
	font-size:36px;
	text-transform:uppercase;
}

/* Browse Panel */

div.browseFacetItem {
	line-height: 1.4em;
}
.browseMenuFacet {
    clear: both;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.filterMenuResults div div.row {
    overflow: auto;
    max-height: 350px;
}
.filterMenuFacetList li a {
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}
.filterMenuFacetList li.active a {
    color: #fff;
}
.filterMenuFacetList li.active {
    background-color: #333;
    color: #fff;
}
.filterbylabel {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 3px;
    padding-left: 4px;
    text-transform: uppercase;
    font-weight: 800;
}

/* Detail */

.detail {
	font-size:14px;
}
.detail a {
	color: #fe5000;
}
.detail .unit {
	line-height:22px;
}
a.readmore-js-toggle {
	padding-top:0px;
	color: #fe5000;
}
.detail .detailTool {
	line-height:1em;
}
.detail .related {
	line-height:1.8em;
}
.videoContainer iframe {
	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videoContainer {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

/* Advanced Search */

div.advancedSearchField {
	float:none;
	width:100%;
}
.advancedSearchField input, .advancedSearchField textarea, .advancedSearchField select, .advancedSearchField table.attributeListItem {
	width:100% !important;
	resize:none;	
}
.advancedSearchField textarea{
	-webkit-appearance: textfield;
}


