/* grey button text: #68696a */
/* gotham medium used for bold text in most cases */
@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf')  format('truetype');
}
@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-BookItalic.woff') format('woff'), url('fonts/Gotham-BookItalic.ttf')  format('truetype');
	font-style:italic;
}
@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Medium.woff') format('woff'), url('fonts/Gotham-Medium.ttf')  format('truetype');
	font-weight:bold;
}
@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-MediumItalic.woff') format('woff'), url('fonts/Gotham-MediumItalic.ttf')  format('truetype');
	font-weight:bold;
	font-style:italic;
}
@font-face {
    font-family: 'Gotham-light';
    src: url('fonts/Gotham-Light.woff') format('woff'), url('fonts/Gotham-Light.ttf')  format('truetype');
}
@font-face {
    font-family: 'Gotham-light';
    src: url('fonts/Gotham-LightItalic.woff') format('woff'), url('fonts/Gotham-LightItalic.ttf')  format('truetype');
	font-style:italic;
}
@font-face {
    font-family: 'Gotham-medium';
    src: url('fonts/Gotham-Medium.woff') format('woff'), url('fonts/Gotham-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'Gotham-medium';
    src: url('fonts/Gotham-MediumItalic.woff') format('woff'), url('fonts/Gotham-MediumItalic.ttf')  format('truetype');
	font-style:italic;
}



body {
	font-family: 'Gotham', arial;
	color:#000;
 	padding-top: 103px;
 	font-size:12px;
 	margin-bottom:0px;
}
body.initial{
 	padding-top: 119px !important;
}
.container, .heroContainer {
	max-width:1500px;
}
a, a:hover {
	color:#000;
}
a, a:active, a:focus {
   outline: 0;
   text-decoration:none;
}
.scaleimg img, img.scaleimg{
	width:100%;
	height:auto;
}
.circleImg{
	text-align:center;
}
.circleImg img{
	border-radius:50%;	
	max-width:300px;
}
H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6{
	font-family: 'Gotham';
	font-weight: normal;
	font-style: normal;
}
H1, h1{
	font-size: 22px;
	color:#000;
	text-transform:uppercase;
	margin-top:0px;
	font-family: 'Gotham-medium';
	text-transform:none;
}
H2, h2{
	font-size: 26px;
	color:#000;
	font-family: 'Gotham-medium';
	text-transform:none;
}
H3, h3{
	font-size: 16px;
	text-transform:uppercase;
	color:#000;
}
H4, h4{
	font-size: 18px;
	color:#000;
	line-height:135%;
	text-transform:none;
}
/* h5, h6 are headings on details */
H5, h5{
	font-size: 14px;
	color:#000;
	text-transform:none !Important;
	font-family: 'Gotham-medium';
}
H6, h6{
	font-size: 12px;
	color:#000;
	text-transform:none;
	font-weight:bold;
	padding-bottom:0px;
	margin:10px 0px 5px 0px;
}
.caption {
	font-size:11px; 
	font-weight:bold;
	color:#000;
	padding-top:5px;
}
.btn-default {
    background: none;
    border: 1px solid #000;
    color: #000 !important;
    text-shadow: 0 0px 0 #FFFFFF;
    font-size: 11px;
    text-transform: uppercase;
    padding: 6px 7px 5px 7px;
    box-shadow: 0 0px 0 rgba(255, 255, 255, 0.15) inset, 0 0px 0px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border-radius: 0px;
    letter-spacing: 0px;
    font-family: 'Gotham-medium';
}
.btn-default a{
	color: #000;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color: #FFF;
	color: #6e6e6e;
	text-decoration:none !important;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.grey{
	color: #939598 !important;
}
.border{
	border-bottom:1px solid #939598;
}
/* navbar */

.navbar {
  border-radius:0px;
  background-image:none;
  background-color:#000;
  border-top:0px;
  border:0px;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.navbar .navbar-nav > .active > a {
  	background-color: #000;
    color: #FFF;
    text-shadow: 0px 0px 4px #888;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #000;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family: gotham;
	color:#fff;
	text-shadow: 0px 0px 4px #888;
	text-transform:uppercase;
	font-size:12px;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}
.navbar-nav > li > a {
    line-height: 27px;
}   
   
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #000;
  background-image: none;
  filter: none;
  color:#fff;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff !important;
  text-shadow: 0px 0px 4px #888;
}

.navbar-right{
	padding-top:15px;
}
/* navbar logo */

.navbar-header{
	color:#FFF;
	font-family: gotham;
	font-size:10.75px;
	text-transform:uppercase;
	width:325px;
	line-height:1.4em !important;
	padding-left: 15px;
}
.navbar-header a{
	color:#FFF;
	font-family: gotham;
	font-size:10.75px;
	text-transform:none;
	line-height:1.4em !important;
	text-transform:uppercase;
}
.navbar-header a:hover{
	text-decoration:none;
}
.navbar-header a strong{
	font-weight:bold;
	padding-top:29px;
	display:inline-block;
}
.navbar-brand img {
  	width:100%;
  	height:auto;
}
.navbar-brand, .navbar-brand.initialLogo {
	width:38px;
  	float:left;
  	padding:0px;
	margin:10px 13px 10px 0px !important;
}
.navbar-brand.initialLogo {
	width:52px;
	margin:15px 13px 15px 0px !important;
}
.headerText{
	display:none;
}
body.initial .headerText{
	display:inline;
}
.navbar-nav > li > a{
	padding-top: 8px;
	padding-bottom: 8px;
}
body.initial .navbar-nav > li > a{
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-form {
	margin-top:3px;
}
body.initial .navbar-form {
	margin-top:10px;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
/* search form */
.navbar-form{
	margin-left:20px;
}
.navbar .form-control {
	font-family:Gotham;
	color:#FFF;
	text-transform:uppercase;
	padding-left:5px;
	font-size:12px;
}
.navbar .form-control::-webkit-input-placeholder{
	color: #FFFFFF !important;
	opacity:1 !important;
}
.navbar .form-control:focus::-webkit-input-placeholder{
	color: #999 !important;
	opacity:1 !important;
}
.navbar .form-control:-ms-input-placeholder{
	color: #FFFFFF !important;
	opacity:1 !important;
}
.navbar .form-control:focus:-ms-input-placeholder{
	color: #999 !important;
	opacity:1 !important;
}
.navbar .form-control::-moz-placeholder, .form-control:-moz-placeholder {
	color: #FFFFFF !important;
	opacity:1 !important;
}
.navbar .form-control:focus::-moz-placeholder, .form-control:-moz-placeholder {
	color: #999 !important;
	opacity:1 !important;
}
.navbar .form-control:-moz-placeholder {
	color: #FFFFFF !important;
	opacity:1 !important;
}
.navbar .form-control:focus:-moz-placeholder {
	color: #999 !important;
	opacity:1 !important;
}


.form-control:focus {
    border-color: #000;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.navbar .formOutline{
	border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
	position:relative;
	border-radius: 0px;
}
.navbar-form .form-group {
	width:100px;
}
.btn-search{
	background-color:transparent;
	color:#fff !important;
	padding-right:0px;
	font-size:12px;
	text-shadow: 0px 0px 6px #888;
}

@media (max-width: 1010px) {
	body.initial{
		padding-top:103px !Important;
	}
	.navbar-brand, .navbar-brand.initialLogo {
		width:38px;
		margin:10px 13px 10px 0px !important;
	}
	.navbar-header .headerText{
		display:none !important;
	}
	.container.menuBar {
		padding-right: 15px;
		padding-left: 15px !important;
	}
	.container > .navbar-header{
		margin-left:0px;
	}
	.navbar-default .navbar-toggle{
		display:block;
		border: 0px;
		color:#FFF;
		margin-top: 18px;	
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #000;
		color:#FFF;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
		border-radius:0px;
	}
	.navbar-collapse {
    	padding-right:0px;
    	padding-left:0px;
	}
	.navbar-toggle .icon-bar + .icon-bar {
		margin-top: 5px;
	}
	.navbar-toggle .icon-bar{
		height:1px;
		width:25px;
	}
	.navbar-collapse.in {
		overflow-y: auto;
	}
	.navbar-collapse.collapse {
	   display: none !important;
	}
	ul.menuItems {
		width: 100%;
		border-top: none;
		padding-top:10px;
		margin-left: 0px;
		margin-top:0px;
		margin-bottom:15px;
		text-align:center;
	}
	.navbar-nav > li{
		float:none;
	}
	body.initial .navbar-nav > li > a{
		padding-top:5px;
		padding-bottom:5px;
	}
	.navbar-collapse {
		width: 100%;
		clear:both;
		background-color: #000;
	}
	.navbar-header{
		width:100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form, body.initial .navbar-form{
		border-top:0px;
		border-bottom:0px;
		border-color:#000;
		text-align: center;
		margin-top:0px;
	}
	.navbar-form{
		box-shadow:none;
		-webkit-box-shadow:none;
		display: inline-block;
		margin-left: 0px;
		float:none !important;
		padding-right: 10px;
	}
	.navbar-form .btn-search{
		position:relative;
		right:auto;
	}
	
}

/* hero images */
.heroContainerContainer{
	position:relative;
	top:-120px;
}
.heroContainer{
	position: absolute;
	top: 0px;
	width:100%;
	
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.heroContainer img{
	width:auto;
	height:400px;
}
@media (min-width: 992px) {
	.heroContainer img{
		height:auto;
		width:100%;
	}
}
.frontTopContainer, .heroContainer, .heroGradient, .heroContainer img{
	min-height:400px;
}
.heroContainer .heroGradient{
	position:absolute;
	width:100%;
	background: rgba(0,0,0,1);
	z-index:2;
}
@media (max-width: 992px) {
	.frontTopSlideCaption, .jcarousel-paginationHero{
		display:none;
	}
}
@media (min-width: 992px) {
	.heroContainer .heroGradient{
		background: -moz-linear-gradient(-90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 60%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 60%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
		
	}
}
.initial .navbar.transparent{
	background: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 75%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 75%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	max-width:1500px;
	margin-left:auto;
	margin-right:auto;
}

.jcarousel-paginationHero{
	text-align:left;
	padding-top:10px;
	padding-left: 25px;
}
.jcarousel-paginationHero a{
    text-decoration: none;
    display: inline-block;
    font-size: 3px;
    line-height: 3px;
    min-width: 50px;
    background: #fff;
    color: #FFF;
    border-radius: 0px;
    padding: 0px;
    text-align: center;
    margin-right: 5px;
    opacity: 1;
	
}
.jcarousel-paginationHero a.active{
    background: #989898;
    color: #989898;
}

/* footer */
#footer{
	position:relative;
	bottom:auto;
	height:auto;
}
@media (min-width: 1010px) {
	#footer{
		position:fixed;
		bottom:0px;
		z-index:5000;
		height:80px;
	}
	body {
		margin-bottom:100px;
	}
}
#footer{
	background-color: #ebebeb;
	color: #000;
	font-family:Gotham;
	text-transform:uppercase;
	font-size:9px;
	
}
#footer li a{
	color:#000;
	font-size:11px;
	text-transform:none;
}
#footer ul {
	margin-right:35px;
	padding-top:30px;
}
#footer ul li {
    padding: 2px 5px 0px 2px;
	border-right: 1px solid #000;
	line-height: 1em;
}
#footer ul li.last {
    border-right:0px;
}
#footer .footerText{
	padding-top:30px;
	padding-left:50px;
}
#footer .footerLogo{
	padding-top:15px;
}
#footer .footerLogo img{
	height:50px;
	width:auto;
}
/*#footer .footerLogo img:first-child {
	margin-right:20px;
}*/
#footer .footerLogo img{
	margin-right:20px;
}
#footer .footerLogo img:last-child {
	margin-right:0px;
}

@media (max-width: 1010px) {
	#footer .pull-right{
		float:none !important;
	}
	#footer .footerText{
		clear:both;
		text-align:center;
		padding-left:0px;
		padding-top: 15px;
		padding-bottom: 20px;
	}
	#footer{
		text-align:center;
		padding-top:20px;
	}
	#footer ul{
		margin-right:0px;
		padding-top:40px;
	}
}

/* front page */

.frontTop{
	margin-top:-120px;
	padding-top:130px;
	padding-bottom:15px;
	height: auto;
	margin-bottom:30px;
}
.frontTop img{
	width:auto;
	height:100%;
}
@media (max-width: 1200px) {
	.frontTop img{
		width:100%;
		height:auto;
		top:50px;
		position:relative;
	}
}
@media (max-width: 991px) {
	.frontTop img{
		display:none;
	}
}
.frontTop H1, .frontTop p{
	color:#FFF;
	font-family: Gotham-light;
	font-size:14px;
}
.frontTop p{
	max-height: 175px;
	overflow-y: auto;
}
.frontTop H1{
	font-size:25px;
	padding-top:0px;
	margin-top: -10px;
}
.frontTop H2{
	font-size:16px;
	text-transform:none;
	color:#FFFFFF;	
}
.frontTop H1, .frontTop H2, .frontTop p{
	padding-left: 20px;
	padding-right: 15px;
}
/*@media (min-width: 768px) and (max-width: 1200px) {*/
@media (min-width: 768px) {
	.frontTop H1{
		font-size:35px;
		margin-top: 0px;
	}
	.frontTop H1, .frontTop H2, .frontTop p{
		padding-left:40px;
		padding-right:30px;
	}
}
@media (max-width: 992px) {
	.frontTop H1 br{
		display:none;
	}
}

@media (min-width: 1010px) {
	.frontTop H1, .frontTop H2, .frontTop p{
		padding-left:40px;
		padding-right:30px;
	}
	.frontTop H1{
		padding-top:20px;	
	}
	.frontTop H2{
		font-size:25px;
	}
}
@media (min-width: 1280px) {
	.frontTop H1{
		font-size:45px;
		padding-top:50px;	
	}
}

.frontTop H1, .frontTop p, .frontTop H2, .frontTop .jcarousel-paginationHero{
	position:relative;
	z-index: 3;
}
.frontTopSlideCaption{
	font-family:gotham;
	font-weight:bold;
	font-size:10px;
	text-align:right;
	padding-top:10px;
	text-align:right;
	padding-right:30px;
}

/* front page bottom slideshows */
.frontGalleries{
	padding-top:40px;
}
.frontGallerySlideLabel{
	font-size:26px;
	font-family: 'Gotham-medium';
	padding-left:3px;
	padding-bottom:5px;
}
.frontGallerySlideLabelSub{
	font-size:15px;
	font-family: 'Gotham-medium';
	color:#939598;
}
@media (max-width: 768px) {
	.frontGallerySlideLabelSub{
		display:block;
	}
}

.frontGallerySlideLabel .btn-default{
	float:right;
}
.frontGallerySlideLabel a.allButton{
	float:right;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	color:#68696a;
	border:1px solid #68696a;
	padding:3px;
	text-decoration:none;
	position:relative;
	top:-4px;
	left:15px;
}
@media(min-width:768px){
	.slide{
		margin-right:20px;
	}
}
.front .slide, .detail.student_project .slide{
	width:330px;
	position:relative;
}
.slide img{
	width:100%;
	height:auto;
}
.front .slideCaption, .detail.student_project .slideCaption{
	position:absolute;
	z-index:10;
	background-color: rgba(0,0,0,.5);
	display:none;
	bottom:0px;
	width:100%;
	padding-bottom:10px;
	padding-top:10px;
}
.front .slideCaption a, .front .slideCaption a:hover, .detail.student_project .slideCaption a, .detail.student_project .slideCaption a:hover{
	color:#FFF;
}
.front .slide:hover .slideCaption, .detail.student_project .slide:hover .slideCaption{
	display:block;
}
#browseResultsContainer .slideCaption{
	margin-bottom: 30px;
	height: 3.8em;
	overflow: hidden;
}
.slideCaption{
	/*font-weight:bold;*/
	padding-left:10px;
	padding-top:20px;
	font-size:15px;
	text-transform:capitalize;
	line-height:1.2em;
	font-family: 'Gotham-medium';
}
.slideCaption a{
	color:#000;
}
.slideCaption a:hover{
	color:#000;
}
/* front galleries are also used on project detail page */
.frontGalleries .jcarousel-wrapper {
    margin-bottom: 65px;
    margin-top: 0px;
}
.frontGalleries .jcarousel-control-next, .frontGalleries .jcarousel-control-prev{
	width:45px;
	background-color:rgba(0, 0, 0, 0.5);
	height:100%;
	top:0px;
	padding:0px;
	margin:0px;
	opacity:0;
	border-radius:0px;
	box-shadow:none;
	font-size:50px;
	color:#FFF;
}
.frontGalleries .jcarousel-control-next:hover, .frontGalleries .jcarousel-control-prev:hover{
	color:#FFF;
}
.frontGalleries .jcarousel-control-next{
	right:0px;
}
.frontGalleries .jcarousel-control-prev{
	left:0px;
}
.frontGalleries .jcarousel-wrapper:hover .jcarousel-control-next, .frontGalleries .jcarousel-wrapper:hover .jcarousel-control-prev{
	opacity:1;
}
.frontGalleries .jcarousel-control-next i, .frontGalleries .jcarousel-control-prev i{
	margin-top:90px;
}
.detail{
	color: #000;
}
.detail a {
    color: #000;
}
.detail .detailImages{
	margin-bottom:65px;
}
.detail .detailImagesThumbs img{
	height:72px;
	width:auto;
}
.detail .detailImagesThumbs a{
	display:inline-block;
	padding-right:15px;
}
.detail .detailImagesThumbs{
	height:72px;
	overflow-y:hidden;
	overflow-x:auto;
	white-space: nowrap;
	margin-bottom:15px;
}

@media (min-width: 768px) {
	.detail .detailImagesThumbs img{
		width:100%;
		height:auto;
	}
	.detail .detailImagesThumbs a{
		display:block;
		margin-bottom:15px;
		padding-right:0px;
	}
	.detail .detailImagesThumbs{
		height:auto;
		max-height:520px;
		overflow-y:auto;
		white-space: normal;
		margin-bottom:none;
	}
}
.detail .detailImagesThumbs a img{
	border-left:3px solid #ffffff;
}
.detail .detailImagesThumbs a{
	border-left:2px solid #ffffff;
}
.detail .detailImagesThumbs a:hover, .detail .detailImagesThumbs a.active{
	border-left:2px solid #858585;
}

.detail .detailImagesMain{
	display:none;
	height:630px;
	text-align:center;
}
.detailImagesMain img{
	width:670px;
	height:600px;
	object-fit:contain;
}
/*
.detail #detailObjectImageLarge{
	display:table-cell;
	width:100%;
	vertical-align:middle;
	text-align:center;
}*/
.detail #detailObjectImageLarge{
	text-align:center;
}
@media(min-width:768px){
	.detail #detailObjectImageLarge{
		height:526px;
	}
	#detailObjectImageLarge img{
		width:100%;
		height:526px;
		object-fit:contain;
	}
}
.detail .navTop {
	text-align:center;
	display:block;
}
@media (min-width: 768px) {
	.detail .navTop {
		text-align:right;
	}
}
.detail .navTop a{
	background-color:#FFF;
}
.detail .navTop a:hover{
	background-color:#ebebeb;
	text-decoration:none;
}
.detail .detailMediaToolbar{
	width:100%;
	text-align:center;
	background:transparent;
	font-size:30px;
	top: 45%;
	padding: 0px;
	margin: 0px;
}
.detail .detailMediaToolbar a .glyphicon{
	text-shadow: 5px 5px 10px #FFFFFF;
	color:#000;
}
.detail .repViewerContCont img{
	border:#DEDEDE;
}
.detail .repViewerContCont .small{
	text-align:center;
	padding-top: 8px;
	max-width: 90%;
    padding-left: 10%;
}
/*@media (min-width: 768px) {
	.detail .repViewerContCont .small{
		padding-left:21%;
	}
}*/
@media (max-width: 768px) {
	.detail .zoomButton{
		pointer-events: none;
		cursor: default;
	}
	.detail .zoomButton .glyphicon{
		display:none;
	}
}
.detail .detailImageNav{
	position:relative;
	z-index:500;
	float:right;
	padding-right:5px;
}
@media (min-width: 768px) {
	.detail .detailImageNav{
		top:-22px;
	}
}
.detail .detailImageNav a{
	font-size:20px;
	text-transform: uppercase;
	padding:5px;
}
.detail .detailImageNav a:hover{
	color:#737373;
/*	background-color: #ebebeb; */
	text-decoration: none;
}
/*
.detailImagesMain img.horizontal{
	width:100%;
	height:auto;
}
.detail .detailImagesMain img.vertical{
	width:auto;
	height:100%;
}
*/
/*.detailCaption{
	padding-top:3px;
	text-align:right;
	width:700px;
}*/
.detail H6{
	font-weight:bold;
	font-size:14px;
	text-transform:capitalize;
	padding:0px;
	margin:0px;
}
.detail H7{
	font-family:"Gotham-medium";
	font-size:14px;
	text-transform:capitalize;
	padding:0px;
	margin:0px;
}
.detail .unitTop{
	font-family:Gotham-light;
	font-size:18px;
	padding-bottom:25px;
}
.detail .unitBottom{
	font-size:14px;
	padding-bottom:25px;
}
.detail .unitAbstract{
	font-size:15px;
	padding-bottom:20px;
	max-height:20em;
	overflow-y:auto;
	padding-right: 15px;
	line-height:1.35em;
}
.detail .bottomRow{
	margin-top:20px;
}
/*.detail .topRow, .detail .bottomRow{
	margin-left:40px;
	margin-right:40px;
}*/
.nav-tabs {
    border-bottom:1px solid #000;
}
.browse .nav-tabs {
    border-bottom:1px solid #939598;
    margin-right:15px;
}
.nav-tabs > li{
	border-left: 1px solid #000;
}
.nav-tabs > li{
	border-left: 1px solid #939598;
}
.detail .nav-tabs > li > a, .browse .nav-tabs > li > a{
	font-size:14px;
	color:#000;
	text-transform:none;
	border-left: 0px;
	border-right:0px;
	border-top:0px;
	border-radius:0px;
	padding: 0px 10px 5px 10px;
	text-transform:capitalize;
	text-shadow: none;
}
.detail .nav-tabs > li > a:hover, .detail .nav-tabs > li > a:focus,
.browse .nav-tabs > li > a:hover, .browse .nav-tabs > li > a:focus{
	background-color:#FFF;
	border-left: 0px;
	border-right:0px;
	border-top:0px;
	text-shadow: none;
}
.detail .nav-tabs > li a:hover,
.browse .nav-tabs > li a:hover{
	border-bottom:0px;
	text-shadow: none;
}
.detail .nav-tabs > li.active, .detail .nav-tabs > li.active:hover,
.browse .nav-tabs > li.active, .browse .nav-tabs > li.active:hover{
	background-color:#FFF !important;
}
.detail .nav-tabs > li.active > a, .detail .nav-tabs > li.active > a:hover,
.browse .nav-tabs > li.active > a, .browse .nav-tabs > li.active > a:hover{
	font-weight:bold;
	color:#000;
	text-transform:none;
	border-left: 0px;
	border-right:0px;
	border-top:0px;
	border-radius:0px;
	background-color:#FFF;
	border-bottom:1px solid #FFF;
	text-transform:capitalize;
}
.detail .tab-content, .browse .tab-content{
	padding-top:30px;
}
.nav-tabs li:first-child{
	border-left: 0px solid #fff !important;
}
.nav-tabs li:first-child a{
	padding-left:0px !important;
}
.detail .tab-pane H7.responsiveLabel{
	display:none;
}
@media(max-width:500px){
	.detail .nav-tabs{
		display:none;
	}
	.detail .tab-content > .tab-pane{
		display:block;
	}
	.detail .tab-pane H7.responsiveLabel{
		display:block;
	}
}
@media(max-width:992px){
	.detail .nav-tabs{
		margin-top:40px;
	}
}
.browse .nav-tabs{
	margin-top:50px;
}
.listing H2{
	margin-bottom:55px;
}
.listing H2 .resultCount{
	color:#929292;
	font-size:15px;
}
.listingResult{
	margin-bottom:70px;
	padding-right:30px;
}
@media (min-width:992px){
	.listingResult{
		min-height: 200px;
	}
}
.listingTitle, .listingTitle a{
	font-family: 'Gotham-medium';
	font-size:22px;
	color:#000;
	line-height:1.1em;
}
.listingSubtitle, .listingSubtitle a{
	font-family: 'Gotham-medium';
	font-size:14px;
	color:#6e6e6e;
}
.listingDesc{
	margin-bottom:10px;
	font-size:14px;
}
.listingIcon img{
	width:100%;
	height:auto;
	margin-top:5px;
}
/* BROWSE */
@media(min-width:1010px){
	#pageArea.results{
		padding-top:40px;
	}
}
.results H1 {
    margin: 0px 0px 55px 0px;
    padding: 0px;
    font-size:26px;
    font-family: 'Gotham-medium';
    text-transform:capitalize;
}
.results H1 .resultCount {
    font-size:15px;
    font-family: 'Gotham-medium';
    color:#939598;
}
@media (max-width: 768px) {
	#bSortByList{
		float:none;
		margin-bottom:10px;
	}
}
#bRefine {
    background-color: #FFF;
   /* width: 275px; */
   width:100%;
    border-right:1px solid #939598;
    padding-right:30px;
    padding-left:3px;
}
#bRefine H3 {
    margin: 0px;
    font-size:14px;
    text-transform:capitalize;
    padding-bottom:30px;
    border-bottom:1px solid #939598;
}
#bRefine H5 {
    margin-top: 0px;
}
@media (min-width: 768px) {
	#bRefine.fixed {    
		position: fixed;     
		top: 80px; 
		margin-top:0px;
	} 
}
#bRefine a {
    color: #000;
    font-size: 15px;
    line-height: 146%;
}
.bRefineFacet{
    padding-bottom:15px;
    padding-top: 20px;
    border-bottom:1px solid #939598;
}
.bRefineFacet H5 span{
	float:right;
	color: #000;
	font-size:24px;
	line-height:1em;
	margin-top:-5px;
}
.bRefineFacet H5{
	cursor:pointer;
}
.bRefineFacet > div{
	display:none;
	margin-top:15px !important;
	margin-bottom:15px !important;
}
.bRefineFacet > div a span{
	color: #939598;
	float:right;
	font-family: 'Gotham-medium';
}
.bRefineFacet > div a, .bRefineFacet > div a span{
	line-height:1.2em !important;
}
.search .btn, .browse .btn, .sets .btn {
    background-color: #000;
    color: #fff !important;
    margin-left: 0px;
    margin-right: 0px;
    letter-spacing: 0px;
    font-size: 12px;
    font-family: 'Gotham';
    font-weight:normal;
    text-transform:none;
    margin-top:10px;
    width:100%;
    text-align:left;
    border:0px;
}
.browse .btn.responsiveFilter, .search .btn.responsiveFilter{
	width:auto;
	margin-top:-10px;
}
.search .btn:hover, .browse .btn:hover, .sets .btn:hover {
    border:0px;
}
.search .btn span, .browse .btn span, .sets .btn span{
	float:right;
}
.responsiveFacetCriteria .btn{
	width:auto;
}
@media(min-width:768px){
	.responsiveFacetCriteria{
		display:none;
	}
}
.bFacetContextHeader{
	padding-bottom:25px;
	margin-bottom:25px;
}
@media(min-width:768px){
	.bFacetContextHeader{
		border-bottom:1px solid #939598;
		margin-right: 15px;
	}
}
.bFacetDescription{
	max-height:290px;
}
.facultyTextScroll{
	max-height:200px;
	overflow-y:auto;
}
.bResultList{
	font-size:15px;
	font-family: 'Gotham-light';
	line-height:1.8em;
	/*max-height: 1.8em;*/
	height: 1.8em;
	overflow: hidden;
}
.bResultLetterDivide{
	font-size:22px;
	border-bottom:1px solid #939598;
	margin-bottom:30px;
	margin-top:25px;
	line-height: 1.3;
}
#bLetterBar{
	margin-left:-6px;
	margin-bottom:-15px;
	line-height: 3em;
}
#bLetterBar a {
    padding: 6px 8px 5px 8px;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 23px;
	line-height: 1em;
}
#bLetterBar a:hover, #bLetterBar a.selectedLetter {
    font-weight: normal;
    background-color: #000;
    color:#FFF;
    text-decoration: none;
}
.bResultItemImgPlaceholder {
    background-color: #F5F5F5;
    border: 0px;
    color: #858585;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    position:relative;
}
.bResultItemImgPlaceholder i{
	position:absolute;
	top:40%;
	left:0px;
	width:100%;
	text-align:center;
}
.resultCount .btn-group{ /* hide gear */
	display:none;
}
/* map */
.leaflet-popup-content{
	max-height:300px;
	overflow-y:auto;
	padding:10px;
}
.leaflet-popup-content a{
	font-size: 13px;
	font-family: 'Gotham-medium';
	color:#000;
	text-decoration:none;
}
.leaflet-popup-content a:hover{
	color:#000;
}
.location.results H1 {
    margin: 0px 0px 20px 0px;
}
#map_map{
	margin-left:15px;
}
.detail #map_map{
	margin-left:0px;
}
.mapImage{
	margin-top:5px;
	min-width:250px;
}
.mapImage img{
	width:100%;
	height:auto;
}

.leaflet-marker-icon{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* course detail */
.courseEntityList, .textsList{
	padding:30px 30px 50px 30px;
}
.detail .textsList{
	padding:0px 30px 50px 30px;
}
.browse .textsList {
    border-bottom: 1px solid #939598;
    margin-right: 15px;
}
.courseEntityListOverflow{
	max-height:600px;
	overflow-y:auto;
}
@media(max-width:768px){
	.browse .textsList {
		margin-right: 0px;
		margin-left:0px;
	}
	.textsList .grey{
		display:block;
		line-height:1.3em;
	}
}
@media(max-width:992px){
	.courseEntityListOverflow{
		max-height:400px;
		overflow-y:auto;
	}
}
.courseEntityListScroll, .textsListScroll{
	max-height:110px;
	overflow-y:auto;
}
@media(max-width:768px){
	.courseEntityListScroll, .textsListScroll{
		max-height:220px;
	}
}
.courseEntityList a, .textsList a, .textsListScroll a{
	font-size:15px;
	font-family: 'Gotham-light';
	padding-top:15px;
	color:#000;
	display: inline-block;
}
.detail .border{
	margin:0px 0px 50px 0px;
}
.detail H5 grey{
	text-transform: none;
}
H1.courseProjects{
	font-size:24px;
}
@media(min-width:768px){
	H1.courseProjects{
		font-size:36px;
	}
}
H1.courseProjects .grey{
	font-size:15px;
}
@media(max-width:768px){
	H1.courseProjects .grey{
		display:block;
	}
}
.seeAll{
	margin-right:15px;
	float:right;
	overflow:visible;
}
#caMediaPanel {
	background-color: rgba(0, 0, 0, 0.7);
}
div.caMediaOverlayControls .close {
    margin: 0px 10px 0px 20px;
    position: fixed;
    top: 5px;
    left: 25px;
}
div.caMediaOverlayControls .close a .caIcon{
    font-size: 30px !important;
}
div.caMediaOverlayControls{
	 opacity: .8;
}
#app{
	background-color: #211f1f !important;
}
.tileviewerControlZoomOut, .tileviewerControlZoomIn, .tileviewerControlZoomOut:hover, .tileviewerControlZoomIn:hover{
	color:#FFF;
}
.staticPage {
	font-size:14px;
}
