<div class="row">
	<div class="col-sm-12 col-lg-8 offset-lg-2 fs-4">
		<h1>{{{title}}}</h1>
		<p>{{{bodytext}}}</p>
		<p class="text-center pt-3 pb-5"><a href="{{{glossaryurl}}}" class="btn btn-primary">Download Glossary</a></p>
	</div>
</div>