/*@import url("//hello.myfonts.net/count/2c209b");*/
 
@font-face {font-family: 'Futura';src: url('fonts/2C209B_0_0.eot');src: url('fonts/2C209B_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2C209B_0_0.woff') format('woff'),url('fonts/2C209B_0_0.ttf') format('truetype');}

@font-face {
	font-family: 'Futura Bold';
	src: url('fonts/futura_bold.eot');
	src: url('fonts/futura_bold.eot?#iefix') format('embedded-opentype'),url('fonts/futura_bold.woff') format('woff'),url('fonts/futura_bold.ttf') format('truetype');
}
 
body {
	font-family:"futura", "sans serif";
	color: #4C4C4E;
	font-size: 13px;
	letter-spacing:1px;
	line-height:1.5em;
}
h1, h2, h3, h4, h5, h6 {
	color: #33450D;
	font-family:"futura", "sans serif";
}
h1, .advancedSearch.results h1 {
	margin-top:15px;
	margin-bottom:15px;
	font-size:24px;
	font-family: "futura bold";
	letter-spacing:2px;
}
h3 {
	font-size: 18px;
}
h5 {
	text-transform:uppercase;
	font-size: 12px;
	color: #333;
}
h6 {
	font-size: 16px;
	text-transform:none;
	margin-bottom:10px;
}
h7 {
	font-size: 16px;
	text-transform:uppercase;
	margin-bottom:15px;
	font-family:"futura bold";
	letter-spacing:1px;
}
h8 {
	clear:both;
	font-family:"futura bold";
	text-transform:uppercase;
	display:block;
}
h9 {
	margin-top:5px;
	margin-bottom:5px;
	text-decoration:underline;
	display:block;
	font-weight:bold;
}
a {
	color: #778459;
}
a:hover {
	text-decoration:none;
}
textarea {
	resize: none;
}
.navbar {
	min-width:958px;
}	
.divide {
	border-top: 1px solid #e3e3e3;
}
.breadcrumb {
    background-color: #f5f5f5;
    margin-top: -18px;
    padding-left: 15px;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 8px;
    border-radius: 0px;
}
#pageArea {
	margin-top:10px;
}
.highlight {
	background-color: #f7f7f7;
	padding:5px 15px 5px 15px;
}
.btn-default {
	background-color: #f1f1f1;
	border:0px;
	padding:8px;
	text-transform:capitalize;
	font-weight:bold;
	letter-spacing:1px;
	border-radius:0px;
	font-size: 13px;
}
.green {
	color: #33450D;
}
.lightgreen {
	color: #778459;
}
.grey {
	color: #4C4C4E;
}
.navbar {
	margin-bottom:0px;
}
.navbar-brand {
	width: 235px;
	padding-bottom:0px;
	padding-top:15px;
}
.navbar .formOutline {
	border-radius:2px;
	border-color: #aaa;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family:"futura", "sans serif";
	padding-top: 18px;
	color: #4C4C4E;
	padding-right:10px;
	padding-left:25px;
	font-size:13px;
}
.navbar-form {
	margin-bottom:0px;
	margin-left:10px;
}
.nav > li.dropdown > a.icon {
    padding-bottom: 18px;
    padding-right: 8px;
    padding-left: 8px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color:#f5f5f5;
}
.navbar .navbar-collapse .dropdown-menu {
	border-top:0px;
	top: 62px;
}
.navbar .navbar-collapse .dropdown.open .dropdown-toggle, .navbar .navbar-collapse .dropdown.open .dropdown-menu {
	background-color: #f5f5f5;
}
.dropdown-menu > li > a {
	font-size: 12px;
	font-weight:bold;
	color: #4C4C4E;
	padding-top:7px;
	padding-bottom: 7px;
	letter-spacing:1px;
	text-transform:uppercase;
	padding-left:15px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #fff;
	color: #000;
}
.detail .navTop {
	margin-top:5px;
}
@media (min-width: 768px){
	.navbar-nav > li > a {
		padding-top: 18px;
		padding-bottom: 17px;
	}
}
@media (max-width: 767px){
	.breadcrumb {
		display:none;
	}
}
@media (max-width:1133px) {
	.navbar-brand {
		width: 220px;
	}
	.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
		font-size:13px;
		padding-left:10px;
	}
	.navbar .formOutline {
		margin-left:0px;
	}
}
@media (max-width:998px) {
	.navbar-brand {
		width: 190px;
	}
}
@media (max-width:1000px) {
	.navbar-form .form-group {
		width:100px;
	}
}
@media (max-width:1155px) {
	.navbar-form .form-group {
		width:120px;
	}
}

/* submenus */

.submenu {
	background-color:#f7f7f7;
}
.submenu .nav > li > a {
	padding-top:5px;
	padding-bottom:5px;
	color: #33450D;
	font-weight:bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;	
}
.submenu .caret {
	border-top-color: #33450D;
	border-bottom-color: #33450D;
}
.submenu ul.dropdown-menu {
	background-color: #eee;
	border-top:0px;
}
.submenu ul.dropdown-menu li a {

}
.submenu .dropdown-menu > li > a:hover, .submenu .dropdown-menu > li > a:focus, .submenu .dropdown-menu > .active > a, .submenu .dropdown-menu > .active > a:hover, .submenu .dropdown-menu > .active > a:focus {
	background-color: #eee;
	color: #33450D;
}

/* Overlays */

#caFormOverlay h1 {
	letter-spacing:2px;
	padding-left:20px;
}
#caFormOverlay .glyphicon-remove-circle {
	font-size:20px;
}

/* Footer */

#footer {
	line-height: 1.4em;
	font-size:11px;
	margin-bottom:25px;
}
#footer ul.social {
	line-height: 1.4em;
	font-size:11px;	
	margin-top:20px;
	padding-top:0px;
}
.footerLeft {
	float:left;
	width:180px;
	margin-top:20px;
}
.footerRight {
	float:left;
	width:180px;
	margin-top:20px;
}
#footer p {
	margin-bottom: 2px;
}
#footer a, #footer ul a {
	color: #778459;
}

/* Front Page */

.front H1 {
	padding-left:0px;
	padding-top:0px;
	color: #33450D;
	margin-top:0px;
	text-transform:uppercase;
}
.front .jcarousel-wrapper {
	margin-top:-20px;
}
.front .jcarousel-control-next, .front .jcarousel-control-prev {
	opacity:1;
	font-size: 40px;
	height:60px;
	width: 40px;
	background-color: rgba(51, 69, 13, 0.5);
}
.frontSlide:hover .frontSlideCaption {
	background-color: rgba(0, 0, 0, 0.5);
}
.frontSlideCaption, .frontSlideCaption a {
    color: #FFF;
    font-size: 16px;
    letter-spacing: 1px;
}
.homeTile {
	margin-bottom:30px;
	margin-top:25px;
}
.featuredHome {
	background-color: rgba(51, 69, 13, 0.5);
	max-height:250px;
	overflow:hidden;
}
.featuredHome h1 {
	padding:10px 10px 0px 15px;
}
.featuredHome img {
	width:100%;
	height:auto;
}
.featuredHome .caption {
	position:absolute;
	top:20px;
	font-size:18px;
	text-transform:none;
	color: #fff;
	background-color: rgba(51, 69, 13, 0.5);
	padding:10px 20px 10px 25px;
	left:0px;
}
.homeTile p {
    font-size: 12px;
    padding-top: 10px;
    font-weight: bold;
    background-color: #f5f5f5;
    padding:10px;
}
.homeTile .strongCaption {
	text-transform:uppercase;
	color: #000;
	letter-spacing:1px;
	color: #33450D;
	font-family:"futura bold";
	font-size:14px;
}

/* Alt Front Page */

.frontSlides .row {
	height:300px;
	overflow: hidden;
	margin-bottom:20px;
	background-color: #f5f5f5;
}
.frontSlides .row img{
	width:100%;
	height:auto;
	margin-left:-15px;
	margin-top:-100px;
}
.frontSlides .textRight {
	padding:15px 15px 15px 0px;
}
.frontSlides .text {
	position:absolute;
	top:240px;
	left:0px;
}
.frontSlides .strongCaption {
	text-transform:uppercase;
	color: #000;
	letter-spacing:1px;
	color: #33450D;
}

/* Museum Landing */

.timeline {
	background-color: #fff;
	border:1px solid #eee;
	text-align:center;
	min-height:400px;
	padding-top:100px;
	margin-bottom:15px;
}
.featuredObj {
	margin-top:15px;
	background-color: #f5f5f5;
	padding:15px 15px 10px 15px;
	min-height:400px;
	font-weight:bold;
	letter-spacing:1px;
}
.featuredObj img {
	width:100%;
	height:auto;
	margin-bottom:15px;
}
.featuredObj .caption {
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    color: #33450D;
    font-size:13px;
    font-family:"futura bold";
}
.featuredObj span {
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
}

/* Advanced Search */

.advancedContainer {
	width: 300px;
}
.advSearch {
	float:right;
	clear:right;
	line-height:10px;
	margin-bottom:2px;
	margin-top:2px;
}
.advSearch a {
	font-size:10px;
	color: #33450D;
}
div.advancedSearchField {
    float: left;
    width: 100%;
    height: 60px;
}
div.advancedSearchField input {
	width: 220px;
}
div.advancedSearchField input, div.advancedSearchField textarea {
	border: 1px solid #ddd;
	width: 300px;
}
.caAdvancedSearchFormSubmit, .caAdvancedSearchFormReset {
	background-color: #f1f1f1;
	padding:10px;
	margin-bottom:30px;
}


/* Browse */

#bRefine {
	background-color: #f9f9f9;
}
#bRefine a{
	letter-spacing:1px;
}
#bRefine H5 {
	font-size:13px;
	letter-spacing: 1px;
	font-weight:bold;
	margin-bottom:5px;
}
.results h1 {
	font-size:16px;
}
.results h1 i {
	padding-bottom:5px;
}
.bResultItem .bResultItemImg {
	min-height: 140px;
}
.bResultItem .bResultItemText {
	font-size:12px;
}
.bResultItem .bResultItemText p{ 
	margin-bottom:5px;
}
.bResultItem {
	box-shadow: none;
	background-color: #f5f5f5;
}
.bResultItemExpandedInfo {
	background-color: #f5f5f5;
}
.bResultItemImgPlaceholder {
	background-color: #fbfbfb;
	color: #ddd;
}
.bResultItemText a {
	font-size: 14px;
	padding-bottom:10px;
	display:inline-block;
}
.resultType {
	text-transform:uppercase;
	font-family:"futura bold";
}
.bResultItemExpandedInfo .collectionInfo {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
}
.addToSetLink {
	float:right !important;
	margin-top:-10px;
}

/* Results */

.bResultItemImgPlaceholder {
	border:0px;
	padding: 40px 5px 40px;
}
.results a .fa {
	color: #ddd;
}
.results .bResultItemExpandedInfo a .fa {
	color: #999;
}
.results a .fa-2x {
	font-size: 4em;
}

/* Map */

.mapPin {
	max-width:300px;
}
.mapImage {
	text-align:center;
	margin-bottom:10px;
}
.mapPin p a {
	font-family:"futura", "sans serif";
	font-weight:bold;
	margin-top:10px;
}

/* Timeline */

.vco-storyjs, .vco-storyjs p, .vco-storyjs blockquote, .vco-storyjs blockquote p, .vco-storyjs .twitter blockquote p, .vco-storyjs .vco-feature h1, .vco-storyjs .vco-feature h2, .vco-storyjs .vco-feature h3, .vco-storyjs .vco-feature h4, .vco-storyjs .vco-feature h5, .vco-storyjs .vco-feature h6 {
	font-family:"futura", "sans serif" !important;
}
.vco-timeline .vco-navigation .timenav .content .marker.active .flag .flag-content h3, .vco-timeline .vco-navigation .timenav .content .marker.active .flag-small .flag-content h3 {
	color: #33450D !important;
}
.vco-timeline .vco-navigation .timenav-background .timenav-line, .vco-timeline .vco-navigation .timenav .content .marker.active .dot {
	background-color: #33450D !important;
}

/* Multisearch Results */

.multisearch H3 {
	letter-spacing:1px;
}
.multisearchSort, .multisearchFullResults {
	letter-spacing:1px;
}
.multisearchSort ul li a, .multisearchFullResults a {
	color: #778459;
}
.multisearch .blockResults {
	height: 200px;
	margin-bottom:25px;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious {
    height: 195px;
    padding: 75px 10px 0px 10px;
    font-size: 25px;
}
.multisearch .multisearchResult {
	width: 200px;
	height: 188px;
	font-size:13px;
	background-color:#f5f5f5;
	box-shadow:none;
}
.multisearch .multisearchResult img {
	margin-bottom:10px;
}
.multisearch .authoritySet {
	height:220px;
}
.multisearch .authorityResult {
	background-color: #f5f5f5;
}
.multisearch .authorityResult a {
	font-size:13px;
}
.multisearchImgPlaceholder {
	border:0px;
	background-color: #fbfbfb;
	color: #ddd;
	padding: 30px 20px;
	margin-bottom:10px;
}
.multisearchImgPlaceholder .fa-2x {
	font-size:4em;
}
.objType {
	text-transform:uppercase;
	letter-spacing:1px;
	color: #33450D;
	font-size:11px;
	margin-bottom:5px;
}


/* Detail */

.detail {
	font-size:12px;
	color:#333;
}
.detail .unit {
	margin-bottom:12px;
}
.detail .unit.trimText {
	margin-bottom:0px;
}
a.readmore-js-toggle {
	padding-top:0px;
	color:#000;
	text-transform:lowercase;
	text-decoration:underline;
	padding-bottom:12px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color: #f5f5f5;
}
.detail .detailNavBgLeft a, .detail .detailNavBgRight a {
	color: #33450D;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small {
	color: #33450D;
}
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
	background-color:#fff;
	display:block;
	border-bottom: 1px solid #ddd;
	position:relative;
	font-size:15px;
}
.detail #detailTools {
	margin-top:0px;
}
.detail #detailAnnotations {
	margin:0px;
}
.detail .unit.document img {
	border:1px solid #ddd;
}
.detail .map {
	margin-top:15px;
}
#relationshipTable.ui-tabs {
	padding:0px;
	min-height:201px;
	margin-top:10px;
}
#relationshipTable.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding-top:0px;
}
#relationshipTable.ui-widget-content {
	background-image:none;
	background-color:#fff;
	border-radius:0px;
	border: 4px solid #f5f5f5;
}
#relationshipTable .ui-widget-header {
	background-color:#f5f5f5;
	background-image:none;
	border:0px;
	border-radius:0px;
	text-transform:uppercase;
	font-family:"futura bold";
}
#relationshipTable .ui-state-active, #relationshipTable .ui-widget-content .ui-state-active, #relationshipTable .ui-widget-header .ui-state-active {
	border:0px;
	background-color:#f5f5f5;
	font-weight:normal;
	background-image:none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border:0px;
	background-color:#f5f5f5;
	background-image:none;
}
#relationshipTable .ui-state-default a, #relationshipTable .ui-state-default a:link, #relationshipTable .ui-state-default a:visited {
	color: #999;
	font-weight:normal;
}

#relationshipTable .ui-state-active a, #relationshipTable .ui-state-active a:link, #relationshipTable .ui-state-active a:visited {
	color: #333;
}
.entityThumb {
	background-color:#f5f5f5;
	height:75px;
	padding:10px;
	margin-bottom:15px;
}
.detail .entityThumb a{
	color: #333;
}
.relatedThumb {
    background-color: #f5f5f5;
    padding: 10px 10px 15px 10px;
    font-size: 12px;
    height: 200px;
    margin-bottom: 20px;
}
.relatedThumb img{
	width:100%;
	height:auto;
	margin-bottom:10px;
}
.relatedThumb a{
	color: #333;
	line-height:1em;
}
.subjectBlock {
	background-color:#f5f5f5;
	min-height:100px;
	margin-top:20px;
	padding:15px 15px 20px 15px;
}
.rightsBlock {
	background-color:#f5f5f5;
	padding:15px 15px 20px 15px;
	margin-top:20px;
}
.rightsBlock a{
	color:#333;
}
.subjectBlock a {
	color: #778459;
}
.subjectHidden {
	display:none;
}
.subjectBlock a.seeMore {
	color:#999;
	font-style:italic;
	text-decoration:underline;
}
a.components  {
	color:#000;
}	



/* Gallery */

.gallery .galleryItem {
	box-shadow:none;
	background-color: #f5f5f5;
}

/* Static contents */

.donate .block {
	border:1px solid #eee;
	margin-bottom:20px;
	padding:10px;
}