/*@import url("//hello.myfonts.net/count/2c209b");*/
 
@font-face {font-family: 'Futura';src: url('fonts/2C209B_0_0.eot');src: url('fonts/2C209B_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2C209B_0_0.woff') format('woff'),url('fonts/2C209B_0_0.ttf') format('truetype');}

@font-face {
	font-family: 'Futura Bold';
	src: url('fonts/futura_bold.eot');
	src: url('fonts/futura_bold.eot?#iefix') format('embedded-opentype'),url('fonts/futura_bold.woff') format('woff'),url('fonts/futura_bold.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

html {
	min-height:100%;
	position:relative;
} 
body {
	font-family: 'Open Sans', sans-serif;
	/* font-family:"futura", "sans serif"; */
	/*color: #4C4C4E;*/
	color:#000;
	font-size: 14px;
	letter-spacing:1px;
	line-height:1.5em;
	margin-bottom:125px;
	height:100%;
	font-weight:400;
}
h1, .findingaid h1 {
	color: #000;
	font-family:"futura", "sans serif";
}
h2, h3, h4, h5, h6 {
	color: #33450D;
	font-family:"futura", "sans serif";
}
h1, .advancedSearch.results h1, .findingaid h1 {
	margin-top:60px;
	margin-bottom:25px;
	font-size:25px;
	font-family: "futura bold";
	letter-spacing:2px;
}
h1.hero{
	margin-botton:60px;
	margin-top:25px;
}
h3 {
	font-size: 18px;
}
h5 {
	text-transform:uppercase;
	font-size: 12px;
	color: #333;
}
h6 {
	font-size: 16px;
	text-transform:none;
	margin-bottom:10px;
}
h7 {
	font-size: 16px;
	text-transform:uppercase;
	margin-bottom:15px;
	font-family:"futura bold";
	letter-spacing:1px;
}
h8 {
	clear:both;
	font-family:"futura bold";
	text-transform:uppercase;
	display:block;
}
h9 {
	margin-top:5px;
	margin-bottom:5px;
	display:block;
	font-weight:bold;
}
a {
	color: #778459;
}
a:hover {
	text-decoration:none;
	color:#33450D;
}
b, strong{
	font-family:inherit;
}
.form-control:focus {
    border-color: #778459;
}
textarea {
	resize: none;
}
.clearfix {
	width:100%;
	clear:both;
}
.navbar {
	/*min-width:958px;*/
	webkit-box-shadow:none;
	box-shadow:none;
	border-bottom:1px solid #DEDEDE;
}	
.divide {
	border-top: 1px solid #e3e3e3;
}
.breadcrumb {
    background-color: #f5f5f5;
    margin-top: -8px;
    padding-left: 15px;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 8px;
    border-radius: 0px;
}
.hero img{
	margin-top:60px;
	width:100%;
	height:auto;
	max-width:1500px;
}
#pageArea {
	padding-left:20px;
	padding-right:20px;
}
#pageArea.results {
	padding-top:10px;
}
#pageArea.advancedSearch{
	padding-top:0px;
}
#pageArea.detail {
	padding-left:0px;
	padding-right:0px;
}
.highlight {
	background-color: #f7f7f7;
	padding:5px 15px 5px 15px;
}
.btn-default {
	background-color: #f1f1f1;
	border:0px;
	padding:8px;
	text-transform:capitalize;
	font-weight:bold;
	letter-spacing:1px;
	border-radius:0px;
	font-size: 13px;
	color:#666;
	font-family:"futura", "sans serif";
}
.browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color: #f1f1f1;
	color:#666;
}
.green {
	color: #33450D;
}
.lightgreen {
	color: #778459;
}
.grey {
	color: #4C4C4E;
}
.navbar {
	margin-bottom:0px;
	font-family:"futura", "sans serif";
}
.nav{
	font-family:"futura", "sans serif";
}
.navbar-brand {
	width: 400px;
	padding-bottom:0px;
	padding-top:0px;
	margin-top:50px;
	margin-bottom:50px;
	margin-left:5px !important;
}
@media (max-width: 767px){
	.navbar-brand {
		width: 300px;
		margin-top:15px;
		margin-bottom:15px;
	}
}

.navbar .formOutline {
	border-radius:2px;
	border-color: #aaa;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family:"futura", "sans serif";
	padding-top: 15px;
	color: #33450D !important;
	padding-right:25px;
	padding-left:20px;
	font-size:13px;
	text-transform: uppercase;
}
.navbar-form {
	margin-bottom:0px;
	margin-left:10px;
}
.nav > li.dropdown > a.icon {
    padding-bottom: 18px;
    padding-right: 8px;
    padding-left: 8px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color:#f5f5f5;
}
.navbar .navbar-collapse .dropdown-menu {
	/*border-top:0px;*/
	top: 52px;
}	
.nav .dropdown-menu{
	box-shadow: none;
	border: none;
	border-top:1px solid #dedede;
}
.navbar .navbar-collapse .dropdown.open .dropdown-toggle, .navbar .navbar-collapse .dropdown.open .dropdown-menu {
	background-color: #f5f5f5;
}
.collapse.navbar-collapse {
	clear:both;
}
.navbar-default .navRightSide{
	margin-top:-47px;
	margin-right:15px !Important;
}
.navbar-default .navbar-form {
	margin-top:-43px;
}
.navbar .collections {
    display: inline-block;
    margin-top: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color:#888;
}
#user-navbar {
	margin-top:-53px;
}
.dropdown-menu > li > a {
	font-size: 12px;
	color: #33450D;
	padding-top:7px;
	padding-bottom: 7px;
	letter-spacing:1px;
	padding-left:20px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #fff;
	color: #33450D;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #33450D;
}
.navbar-nav > .dropdown > a:hover .caret, .navbar-nav > .dropdown > a:focus .caret, .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #33450D;
    border-bottom-color: #33450D;
    opacity:1;
}


.detail .navTop {
	margin-top:5px;
}
.nav .selected{
	background-color: #f5f5f5;
}
.dropdown-menu{
	background-color: #f5f5f5;
}
@media (min-width: 768px){
	.navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 10px;
	}
}
@media (max-width: 767px){
	.breadcrumb {
		display:none;
	}
}
@media (max-width:1133px) {
	.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
		font-size:13px;
		/*padding-left:10px;*/
	}
	.navbar .formOutline {
		margin-left:0px;
	}
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	padding-left:20px;
}

@media (max-width:1000px) {
	.navbar-form .form-group {
		width:100px;
	}
}
@media (max-width:1155px) {
	.navbar-form .form-group {
		width:120px;
	}
}

@media (min-width: 768px) {
	#info-navbar-toggle{
		display:none !important;
	}
}
#smallSearchForm{
	margin-top:15px;
}
@media (min-width: 768px) {
	#smallSearchForm{
		display:none !important;
	}
}

/* submenus */

.submenu {
	background-color:#f7f7f7;
}
.submenu .nav > li > a {
	padding-top:5px;
	padding-bottom:5px;
	color: #33450D;
	text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 2px;	
}
.submenu .caret {
	border-top-color: #33450D;
	border-bottom-color: #33450D;
}
.submenu ul.dropdown-menu {
	background-color: #eee;
}
.submenu ul.dropdown-menu li a {

}
.submenu .dropdown-menu > li > a:hover, .submenu .dropdown-menu > li > a:focus, .submenu .dropdown-menu > .active > a, .submenu .dropdown-menu > .active > a:hover, .submenu .dropdown-menu > .active > a:focus {
	background-color: #FFF;
	color: #33450D;
}

/* Overlays */

#caFormOverlay h1 {
	letter-spacing:2px;
	padding-left:20px;
}
#caFormOverlay .glyphicon-remove-circle {
	font-size:20px;
}

/* Footer */

#footer {
	line-height: 1.4em;
	font-size:14px;
	margin-bottom:25px;
	height:75px;
	position:absolute;
	bottom:0px;
	width:100%;
	padding-left: 35px;
	padding-right: 30px;
	color:#000;
}
#footer ul.social {
	line-height: 1.4em;	
	margin-top:30px;
	padding-top:0px;
	margin-right:5px;
	font-size:15px;
}
#footer ul.social a{
	color:#FFF;
	background-color:#33450D;
	border-radius:15px;
	padding:6px 5px 5px 5px;
}
#footer ul.social i{
	width:16px;
	text-align:center;
}
#footer div.ca {
	clear:right;
	line-height: 1.4em;
	font-size:11px;	
	margin-top:20px;
	padding-top:0px;
}
#footer div.ca a{
	text-decoration:none;
}
.footer-left {
	margin-top:20px;
}
#footer p {
	margin-bottom: 2px;
}
#footer a, #footer ul a {
	color: #33450D;
}

/* Front Page */

.front H1 {
	padding-left:0px;
	padding-top:0px;
	color: #33450D;
	margin-top:0px;
	text-transform:uppercase;
}
.front .jcarousel-wrapper {
	margin-top:-20px;
}
.front .jcarousel-control-next, .front .jcarousel-control-prev {
	opacity:1;
	font-size: 40px;
	height:60px;
	width: 50px;
	background-color: rgba(51, 69, 13, 0.5);
}
.front .jcarousel-control-next{
	margin-right:-20px;
}
.front .jcarousel-control-prev{
	margin-left:-20px;
}
.frontSlide:hover .frontSlideCaption {
	background-color: rgba(0, 0, 0, 0.5);
}
.frontSlideCaption, .frontSlideCaption a {
    color: #FFF;
    font-size: 16px;
    letter-spacing: 1px;
}
.front .homeDesc{
	font-size:18px;
	color:#000;
}
.homeTile {
	margin-bottom:30px;
	margin-top:25px;
}
.featuredHome {
	background-color: rgba(51, 69, 13, 0.5);
	max-height:270px;
	overflow:hidden;
	position:relative;
}
.featuredHome h1 {
	padding:10px 10px 0px 15px;
}
.featuredHome img {
	width:100%;
	height:auto;
}
.featuredHome .caption {
	position:absolute;
	bottom:0px;
	font-size:18px;
	text-transform:uppercase;
	color: #fff;
	background-color: rgba(51, 69, 13, 0.5);
	padding:15px;
	left:0px;
	width:100%;
	font-weight:normal;
	line-height:1em;
}
.homeTile p {
    font-size: 12px;
    padding-top: 10px;
    font-weight: bold;
    background-color: #f5f5f5;
    padding:10px;
    height:90px;
}
.homeTile.large p {
	height:120px;
}
.homeTile .strongCaption {
	text-transform:uppercase;
	color: #000;
	letter-spacing:1px;
	color: #33450D;
	font-family:"futura bold";
	font-size:14px;
}
.homeTile a:hover, .homeTile a:active, .homeTile a:focus {
	color:#778459;
}
.jcarousel .frontSlide img{
	/*opacity:.5;*/
}
.jcarousel li.activeSlide .frontSlide img{
	opacity:1;
}
.front .jcarousel {
	background-color:#000;
	width:100%;
}

/* Alt Front Page */

.frontSlides .row {
	height:300px;
	overflow: hidden;
	margin-bottom:20px;
	background-color: #f5f5f5;
}
.frontSlides .row img{
	width:100%;
	height:auto;
	margin-left:-15px;
	margin-top:-100px;
}
.frontSlides .textRight {
	padding:15px 15px 15px 0px;
}
.frontSlides .text {
	position:absolute;
	top:240px;
	left:0px;
}
.frontSlides .strongCaption {
	text-transform:uppercase;
	color: #000;
	letter-spacing:1px;
	color: #33450D;
}

/* Museum Landing */

.featuredLanding h6 {
	margin-top:5px;
	margin-bottom:15px;
}
.featuredObj {
	background-color: #f5f5f5;
	padding:15px 15px 10px 15px;
	min-height:350px;
	font-weight:bold;
	letter-spacing:1px;
}
.featuredObj img {
	width:100%;
	height:auto;
	margin-bottom:15px;
}
.featuredObj .caption {
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    color: #33450D;
    font-size:13px;
    font-family:"futura bold";
}
.featuredObj span {
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
}
.spotlight {
	background-color:#fff;
	border:1px solid #e3e3e3;
	text-align:center;
	padding-top:15px;
}
.spotlight .slide {
	width:100%;
}
.spotlight .slide img {
	width:100%;
	height:auto;
}
.spotlight .example-pager span{
    color: #fff;
    border: 2px solid #666;
    height: 10px;
    background-color: #666;
    width: 10px;
    margin-right: 5px;
    padding-top: 4px;
    display: inline-block;
    cursor: pointer;
    line-height: 14px;
    margin-top: 10px;
}
.spotlight .example-pager span.cycle-pager-active {
    background-color: #000;
    border: 2px solid #000;
}
.cycle-next, .cycle-prev {
    opacity: 1;
    font-size: 40px;
    height: 60px;
    width: 40px;
    background-color: rgba(51, 69, 13, 0.5);
    position:absolute;
    z-index:200000;
    top:42%;
    padding-top:8px;
}
.cycle-next .fa, .cycle-prev .fa{
	color:#fff;
}
.cycle-prev {
	left:0px;
}
.cycle-next {
	right:0px;
}

/* Advanced Search */
.searchHints{
	padding-left:30px;
}
.searchHints strong{
	font-weight:bold;
	text-transform:none;
	font-size:18px;
}
.searchHints ul{
	padding-left: 15px;
}
.searchHints ul li{
	padding-bottom: 5px;
}
.advancedContainer {
	width: 100%;
}
.advSearch {
	float:right;
	clear:right;
	line-height:10px;
	margin-bottom:2px;
	margin-top:2px;
}
.advSearch a {
	font-size:10px;
	color: #33450D;
}
div.advancedSearchField {
    float: left;
    width: 100%;
    height: 60px;
}
div.advancedSearchField input {
	width: 220px;
}
div.advancedSearchField input, div.advancedSearchField textarea {
	border: 1px solid #ddd;
	width: 300px;
}
.caAdvancedSearchFormSubmit, .caAdvancedSearchFormReset {
	background-color: #f1f1f1;
	padding:10px;
	margin-bottom:30px;
}
.advancedSearch textarea, .advancedSearch input, .advancedSearch table, .advancedSearch select{
	width:100% !important;
}
.advancedContainer textarea {
	height:29px !important; 
}


/* Browse */

#bRefine {
	background-color: #f9f9f9;
}
#bRefine a{
	letter-spacing:1px;
}
#bRefine H5 {
	font-size:13px;
	letter-spacing: 1px;
	font-weight:bold;
	margin-bottom:5px;
}
.dropdown-menu.browseOptions > li > a{
	font-weight:normal;
	font-family: futura;
}
.dropdown-menu.browseOptions > li > a em{
	font-style:normal;
	font-family:"futura bold";
}
.dropdown-menu.browseOptions .dropdown-header{
	color:#000;
	font-size:14px;
	text-transform:uppercase;
	padding-left:15px;
}
.results h1 {
	font-size:16px;
}
.results h1 i {
	padding-bottom:5px;
}
.bResultItemCol {
	height:380px;
}
.bResultItemContent {
	height: 330px;
}
.bResultItem:hover .bResultItemContent {
	min-height: 310px;
}
.bResultItem .bResultItemImg {
	min-height: 140px;
}
.bResultItem .bResultItemText {
	font-size:12px;
}
.bResultItem .bResultItemText p{ 
	margin-bottom:5px;
}
.bResultItem {
	box-shadow: none;
	background-color: #f5f5f5;
}
.bResultItemExpandedInfo {
	background-color: #f5f5f5;
}
.bResultItemImgPlaceholder {
	background-color: #fbfbfb;
	color: #ddd;
}
.bResultItemText a {
	font-size: 14px;
	padding-bottom:10px;
	display:inline-block;
}
.resultType {
	text-transform:uppercase;
	font-family:"futura bold";
}
.bResultItemExpandedInfo .collectionInfo {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
}
.addToSetLink {
	float:right !important;
	margin-top:-10px;
}
.bResultListItem {
	box-shadow:none;
	border-bottom:3px solid #f9f9f9;
	height:112px;
}
.bResultListItem:hover {
	box-shadow:none;
	padding:10px;
	margin:0px;
	font-size:13px;
}
.bResultListItem .bResultListItemImg {
	width:120px;
	margin-right:15px;
}
.bResultListItemText p {
	margin-bottom:5px;
}
.bResultListItemContent {
	height:auto;
}
.bResultListItemExpandedInfo {
	display:block !important;
}
.addToSet {
	position:absolute;
	right:20px;
	bottom:20px;
}
.results a .bResultItemImgPlaceholder .fa {
	font-size:2em;
}
.vco-storyjs p {
	font-size:12px;
}
.browseChoice {
	margin-bottom:30px;
	background-color: #f5f5f5;
    min-height: 140px;
}
.browseChoice img {
	width:100%;
	height:auto;
}
.browseChoice .title {
	text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    padding-right: 30px;
    font-family: "futura bold";
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.browseChoice .title a {
	color:#fff;
	line-height: 1.3;
}
#browseTable.ui-widget-content {
	background:none;
	border:0px;
	font-family:"futura", "sans serif";
	margin:-3px -35px 0px -35px;
}
#browseTable .ui-widget-header {
	background:none;
	border:0px;
	text-align:center;
	margin-top:-10px;
	margin-bottom:10px;
	background-color:#f5f5f5;
	border-radius:0px;
	padding: 10px 10px 10px 10px;
}
#browseTable ul li {
	color:#333;
}
#browseTable.ui-tabs .ui-tabs-nav li {
	display:inline-block;
	float:none;
}
#browseTable .ui-state-default a, #browseTable .ui-state-default a:link, #browseTable .ui-state-default a:visited, #browseTable .ui-tabs-nav div a {
	color:#999;
	padding-top:0px;
	padding-bottom:0px;
	background-color:#f5f5f5;
	border-bottom:2px solid #f5f5f5;
	margin-bottom:-5px;

}
#browseTable .ui-tabs-nav div {
	display:inline-block;
	vertical-align: top;
    padding-top: 1px;
    padding-left:10px;
}
#browseTable .ui-state-active a, #browseTable .ui-state-active a:link, #browseTable .ui-state-active a:visited {
	color:#333;
	border-bottom:2px solid #000;
	
}
#browseTable .ui-state-default, #browseTable .ui-widget-content .ui-state-default, #browseTable .ui-widget-header .ui-state-default {
	background-color:transparent;
}
.browse .btn a, .browse .btn .glyphicon, .sets .btn a, .sets .btn .glyphicon {
    color: #8c8c8c !important;
}
#bRefine .caSubItems::after {
	padding-right:4px;
	padding-left:4px;
	content: "\e114";
	font-family: 'Glyphicons Halflings';
	font-size:8px;
}


/* Results */

.bResultItemImgPlaceholder {
	border:0px;
	padding: 40px 5px 40px;
}
.results a .fa {
	color: #ddd;
}
.results .bResultItemExpandedInfo a .fa {
	color: #999;
}
.results a .fa-2x {
	font-size: 4em;
}


/* Map */

.mapPin {
	max-width:300px;
}
.mapImage {
	text-align:center;
	margin-bottom:10px;
}
.mapPin p a {
	font-family:"futura", "sans serif";
	font-weight:bold;
	margin-top:10px;
}

/* Timeline */

.vco-storyjs, .vco-storyjs p, .vco-storyjs blockquote, .vco-storyjs blockquote p, .vco-storyjs .twitter blockquote p, .vco-storyjs .vco-feature h1, .vco-storyjs .vco-feature h2, .vco-storyjs .vco-feature h3, .vco-storyjs .vco-feature h4, .vco-storyjs .vco-feature h5, .vco-storyjs .vco-feature h6 {
	font-family:"futura", "sans serif" !important;
}
.vco-timeline .vco-navigation .timenav .content .marker.active .flag .flag-content h3, .vco-timeline .vco-navigation .timenav .content .marker.active .flag-small .flag-content h3 {
	color: #33450D !important;
}
.vco-timeline .vco-navigation .timenav-background .timenav-line, .vco-timeline .vco-navigation .timenav .content .marker.active .dot {
	background-color: #33450D !important;
}

/* Multisearch Results */

.multisearch H3 {
	letter-spacing:1px;
}
.multisearchSort, .multisearchFullResults {
	letter-spacing:1px;
}
.multisearchSort ul li a, .multisearchFullResults a {
	color: #778459;
}
.multisearch .blockResults {
	height: 220px;
	margin-bottom:25px;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious {
    height: 210px;
    padding: 75px 10px 0px 10px;
    font-size: 25px;
}
.multisearch .multisearchResult {
	width: 220px;
	height: 210px;
	font-size:11px;
	line-height:1.3em;
	background-color:#f5f5f5;
	box-shadow:none;
}
.multisearch .multisearchResult img {
	margin-bottom:5px;
}
.multisearch .authoritySet {
	height:220px;
}
.multisearch .authorityResult {
	background-color: #f5f5f5;
}
.multisearch .authorityResult a {
	font-size:13px;
}
.multisearchImgPlaceholder {
	border:0px;
	background-color: #fbfbfb;
	color: #ddd;
	padding: 38px 20px;
	margin-bottom:5px;
}
.multisearchImgPlaceholder .fa-2x {
	font-size:4em;
}
.objType {
	text-transform:uppercase;
	letter-spacing:1px;
	color: #33450D;
	font-size:11px;
	margin-bottom:3px;
}


/* Detail */

.detail {
	font-size:12px;
	color:#333;
}
.detail .unit {
	margin-bottom:12px;
}

a.readmore-js-toggle {
	padding-top:0px;
	color:#000;
	text-transform:lowercase;
	text-decoration:underline;
	padding-bottom:12px;
	margin-top:-12px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color: #f5f5f5;
}
.detail .detailNavBgLeft a, .detail .detailNavBgRight a {
	color: #33450D;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small {
	color: #33450D;
}
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
	background-color:#fff;
	display:block;
	border-bottom: 1px solid #ddd;
	position:relative;
	font-size:15px;
}
.detail #detailTools {
	margin-top:0px;
}
.detail #detailAnnotations {
	margin:0px;
}
.detail .unit.document img {
	border:1px solid #ddd;
}
.detail .map {
	margin-top:15px;
	width:100%;
}
.detail .component {
	width:100%;
	clear:both;
	padding-top:10px;
}
.detail .component div {
	width:50%;
	float:left;
}
.detail .component div.status {
	text-align:right;
	float:right;
}
.detail .component div.status .available {
	color:green;
}
.detail .component div.clearfix {
	width:100%;
	float:none;
}
.places.detail .map {
	margin-top:0px;
}
.detail .map #map {
	width:100% !important;
}
.detail HR {
	clear:both;
}
.jscroll-next {
	display:none;
}
#relationshipTable.ui-tabs {
	padding:0px;
	min-height:201px;
	margin-top:10px;
}
#relationshipTable.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding-top:0px;
}
#relationshipTable.ui-widget-content {
	background-image:none;
	background-color:#fff;
	border-radius:0px;
	border: 4px solid #f5f5f5;
}
#relationshipTable .ui-widget-header {
	background-color:#f5f5f5;
	background-image:none;
	border:0px;
	border-radius:0px;
	text-transform:uppercase;
	font-family:"futura bold";
}
#relationshipTable .ui-state-active, #relationshipTable .ui-widget-content .ui-state-active, #relationshipTable .ui-widget-header .ui-state-active {
	border:0px;
	background-color:#f5f5f5;
	font-weight:normal;
	background-image:none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border:0px;
	background-color:#f5f5f5;
	background-image:none;
}
#relationshipTable .ui-state-default a, #relationshipTable .ui-state-default a:link, #relationshipTable .ui-state-default a:visited {
	color: #999;
	font-weight:normal;
}

#relationshipTable .ui-state-active a, #relationshipTable .ui-state-active a:link, #relationshipTable .ui-state-active a:visited {
	color: #333;
}
.entityThumb {
	background-color:#f5f5f5;
	height:75px;
	padding:10px;
	margin-bottom:15px;
}
.detail .entityThumb a{
	color: #333;
}
.relatedThumb {
    background-color: #f5f5f5;
    padding: 10px 10px 15px 10px;
    font-size: 12px;
    height: 200px;
    margin-bottom: 20px;
}
@media (min-width:1350px) {
	.relatedThumb {
		height:250px;
	}
}
.relatedThumb img{
	width:100%;
	height:auto;
	margin-bottom:10px;
}
.relatedThumb a{
	color: #333;
	line-height:1em;
}
.subjectBlock {
	background-color:#f5f5f5;
	min-height:100px;
	margin-top:20px;
	padding:15px 15px 20px 15px;
}
.rightsBlock {
	background-color:#f5f5f5;
	padding:15px 15px 20px 15px;
	margin-top:20px;
}
.rightsBlock a{
	color:#333;
}
.subjectBlock a {
	color: #778459;
}
.subjectHidden {
	display:none;
}
.subjectBlock a.seeMore {
	color:#999;
	font-style:italic;
	text-decoration:underline;
}
a.components  {
	color:#000;
}
#repViewerCarousel {
	width:100%;
}
.detail #detailRepNav {
	position:absolute;
	top:45%;
	width:100%;
}
.detail #detailRepNavPrev {
	font-size:30px;
	margin-left:-15px;
}	
.detail #detailRepNavNext {
	right:0px;
	font-size:30px;
	margin-right:-15px;
}
.detail #detailRepNav a:hover {
	text-decoration:none;
	color:#000;
}
.jcarousel-wrapper-thumb {
	position:relative;
}
.jcarousel-thumb {
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}
.jcarousel-thumb ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel-thumb ul {
	margin:0px;
	padding:0px;
}
.jcarousel-thumb li{
	width:72px !important;
	margin:5px;
	float:left;
	list-style-type:none;
}
.thumbControl {
    position: absolute;
    top: 30px;
    font-size: 30px;
}	
a.thumbControl:hover {
	text-decoration:none;
	color:#000;
}
.jcarousel-control-prev-thumb {
	left:0px;
}
.jcarousel-control-next-thumb {
	right:0px;
}

/* Library Request */

.libraryRequest {
	background-color:#fff;
    width: 90%;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #ccc;	
}
.libraryRequest .close {
	position:relative;
	margin:0px;
	color:#333;
	opacity:1;
}
.libraryRequest .close a {
	color:#666;
}
.libraryRequest p {
	margin-bottom:5px;
}
.requestInfo {
	background-color:#f5f5f5;
	padding:10px;
	margin-bottom:10px;
}
.status.unavailable {
	color: red;
}

/* Gallery */

.gallery .galleryItem {
	box-shadow:none;
	background-color: #f5f5f5;
}
.gallery #galleryDetailImageArea {
    height: 454px;
}
.featuredGallery {
	margin:0px;
	margin-bottom:20px;
}
.featuredGallery img{
	width:100%;
	height:auto;
}
.featuredCaption {
	background-color:#f5f5f5;
	padding:10px;
}
.featuredCaption p{
	font-family:"futura bold";
	text-transform:uppercase;
	font-size:16px;
}
.featuredCaption p a {
	color: #4C4C4E;
}
.featuredGallery .featuredImage {
	height:auto;
	overflow:hidden;
}
.featuredGallery .featuredTitle {
	text-transform:uppercase;
	color:#fff;
	font-size:22px;
	position:absolute;
	top:165px;
	width:100%;
	text-align:center;
	padding-right:30px;
	font-family:"futura bold";
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.featuredGallery .featuredTitle a {
	color:#fff;
}

/* Static contents */

.donate .block {
	border:1px solid #eee;
	margin-bottom:20px;
	padding:10px;
}

.researchGuide a, .researchGuide a:hover, .donate a, .donate a:hover {
	color: #33450D;
}
.staticPage .toc{
	margin-top:60px;
	color: #778459;
}
.staticPage .toc ol, .staticPage .toc ul{
	padding-left: 15px;
}
.staticPage .userguide{
	border-left:1px solid #ddd;
	padding-left:30px;
}
.staticPage .userguide strong{
	font-size:16px;
}
.staticPage h6 a {
	color: #33450D;
}
.staticPage p, .staticPage div, .staticPage strong, .staticPage b{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.staticPage .image img{
	width:100%;
	height:auto;
	max-width:800px;
	text-align:center;
	margin-bottom:30px;
}
.connectSocial {
	margin-top:70px;
}
.connectSocial H4, .connectSocial H5{
	margin:0px;
}
.connectSocial H4{
	margin-bottom:15px;
}
.connectSocial .border{
	border:1px solid #dedede;
}
@media (min-width: 768px){
	.connectSocial .col-sm-4 {
		padding-right: 50px;
	}
	.connectSocial .col-sm-4:last-child {
		padding-right: 15px;
	}
}
.websiteScreenshot{
	max-height:552px;
	overflow:hidden;
}
.websiteScreenshot img{
	width:100%;
	height:auto;
}

.staticPage h6 a {
	color: #33450D;
}

/* Finding Aids */

.collectionsBlock {
	margin-bottom:25px;
}
.collectionsBlock a.readmore-js-toggle {
	margin-top:0px;
}
.collectionsBlock {
	margin-bottom:20px;
}
.collectionsBlock a.readmore-js-toggle {
	margin-top:0px;
}
.collHeader a {
	font-family: 'Open Sans', sans-serif;
	color:#000;
	font-weight:bold;
	font-size:18px;
}
.colContents a {
	font-family: 'Open Sans', sans-serif;
	color:#000;
	font-size: 12px;
    text-decoration: none;
    margin-left:-5px;
}
.colContents div {
	font-family: 'Open Sans', sans-serif;
	margin-bottom:10px;
}
a.faDownload {
	background-color: #33450D;
	color:#fff;
	padding:5px;
	text-align:right;
	float:right;
	margin-right:-15px;
	font-family:"futura", "sans serif";
}
a.faDownload:hover {
	background-color:#333;
	color:#fff;
}
.borderlevel {
	border-left:1px solid #333;
}
.borderlevel .fa {
	font-size: 15px;
    margin-left: -21px;
    vertical-align: bottom;
    display: inline-block;
    line-height: 1.1em;
}
.borderlevel a {
	padding-left:10px;
	margin-left:5px;
}
.collLevels a.readmore-js-toggle {
	text-align:right;
	font-size:12px;
	margin-top:-10px;
}
.colspacer {
    width: 5px;
    display: inline-block;
}
.showme {
    background-color: #ddd;
    padding: 5px 15px 5px 15px;
}

.mirador-btn {
	letter-spacing: 0px;
}



