	<div class="row">
		<div class="col-sm-12">
			<H1>{{{title}}}</H1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			{{{bodytext}}}
		</div>
		<div class="col-sm-4 staticPageImg">
			{{{media:1:mediumlarge}}}
		</div>
	</div>