/* red text: #D20000; red bg and icons (darker):#8a0000; tan: #e0d7ba; charcoal: #605b4b; stone:#f0ede4; */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@font-face {
  font-family:"WhitneySalishan";
  src: url("WhitneySalishan-Medium.otf") format("opentype");
  font-display:swap;
  font-style:normal;
  font-weight:400;
  font-stretch:normal
}
@font-face {
  font-family:"WhitneySalishan";
  src: url("WhitneySalishan-Bold.otf") format("opentype");
  font-display:swap;
  font-style:normal;
  font-weight:700;
  font-stretch:normal
}
body{
	color: #454545;
	size:14px;
}
.red, a, a:hover{
	color: #d20000;
}
a.black{
	color: #000000;
}
.darkRed{
	color: #8a0000;
}
.redBg{
	background-color:#8a0000;
}
.darkRedBg{
	background-color:#360000;
}
.blackBg{
	background-color:#000000;
}
.tanBg{
	background-color:#e0d7ba;
}
.grayBg{
	background-color:#605b4b;
}
.stoneBg{
	background-color:#f0ede4;
}
.uppercase{
	text-transform:uppercase;
}
.form-control{
	border-radius:0px !important;
}
.form-control:focus{
	border:1px solid #000;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #8a0000;
    color: #fff;
}
.btn-default{
	background-color:#8a0000;
}
.btn-default:hover{
	text-decoration:none;
	background-color:#000000;
}
.btn-default.outline{
	background-color:transparent;
	border:2px solid #D20000;
	color: #D20000;
	text-shadow:none;
	text-decoration:none;
}
.btn-default.outline:hover{
	background-color:#D20000;
	color:#000;
	text-decoration:none;
}
.btn-lg {
    padding: 15px 27px !important;
    font-size:14px;
    font-weight:normal
}
.btn-md {
    padding: 10px 18px !important;
    font-size:14px;
    font-weight:normal
}
.btn-sm {
    padding: 5px 10px !important;
    font-size:12px;
    font-weight:normal
}
.filterMenuFacetList li.active {
    background-color: #000000;
}
.browse .btn, .sets .btn, .results .btn {
    background-color: #000000;
    color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	letter-spacing: 1px;
	font-size: 13px;
}
@media (max-width: 767px) {
	.results ul.dropdown-menu{
		left:auto;
		right:0px;
	}
}
.results a .fa.fa-gear{
	color:#666 !important;
}
.results H5 {
    text-transform: capitalize;
}
H1, h1, H2, h2 {
    color: #d20000;
}
.blackBg H1, .blackBg h1, .blackBg H2, .blackBg h2, .blackBg H3, .blackBg h3, .blackBg p, .blackBg div{
	color:#FFF;
}
body{
	margin-top:85px;
	margin-bottom:550px;
}
@media (min-width: 768px) {
	body{
		margin-top:139px;
		margin-bottom:400px;
	}
}
/*@media (min-width: 1244px) {*/
@media (min-width: 1340px){
	body{
		margin-top:100px;
	}
}
.fullWidth img{
	width:100%;
	height:auto;
}
/* navbar */
.navbar-default{
	border-top:2px solid #d20000;
}
.navbar-default .navbar-brand{
	font-family: lato;
	color:#000;
	line-height:1.3em;
	text-transform:uppercase;
}
/*.navbar-default .navbar-brand b{
	font-weight:900;
}*/
.navbar-default .navbar-brand{
	/*font-weight:bold;*/
	text-transform:uppercase;
}
@media (max-width: 767px){
	.navbar-default .navbar-brand{
		font-size:12px;
		padding-top:13px;
	}
}
@media (min-width: 768px) {
	.navbar-default .navbar-brand{
		font-size:16px;
		width: 300px;
		padding-top:13px;
	}
}
/*@media (min-width: 1245px){*/
@media (min-width: 1340px){
	.navbar-default .navbar-brand{
		font-size:22px;
		font-size:16px;
		width: 360px;
	}
}
/*@media (min-width: 1245px){*/
@media (min-width: 1340px){
	.nav > li > a {
		padding-top: 28px !important;
		padding-bottom: 28px !important;
	}
}
.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}
.navbar-default .navbar-nav > .open > a span, .navbar-default .navbar-nav > .open > a:hover span, .navbar-default .navbar-nav > .open > a:focus span, .navbar-default .navbar-nav > .active > a span, .navbar-default .navbar-nav > .active > a:hover span, .navbar-default .navbar-nav > .active > a:focus span,
.navbar-default .navbar-nav > .active > a span, .navbar-default .navbar-nav > .active > a:hover span, .navbar-default .navbar-nav > .active > a:focus span,
.navbar-default .navbar-nav > li > a:hover span, .navbar-default .navbar-nav > li > a:focus span {
    border-bottom: 2px solid #d20000;
}
/*@media (min-width: 1245px){*/
@media (min-width: 1340px){
	.navbar-default .navbar-nav > li.navLinkBorder > a > span{
		border: 2px solid #d20000;
		padding:10px;
	}
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
}
@media (min-width: 992px) {
	.nav > li.dropdown > a.icon {
		font-size:18px;
	}
}
/*@media (min-width: 1245px) {*/
@media (min-width: 1340px){
	.nav > li > a, .nav > li > a:hover, .nav > li > a:focus{
		font-size:16px;
	}
}
/*@media (min-width: 1245px) {*/
@media (min-width: 1340px){
	.navbar-default .navbar-form {
		margin-top: 22px;
	}
}
.yamm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: auto;
}
#user-navbar .dropdown-menu {
    right: 0px;
}
@media (max-width: 767px) {
	.navbar-nav{
		margin:0px;
	}
}
@media (min-width: 768px) and (max-width: 1339px) {
	#user-navbar.nav > li.dropdown > a.icon{
		padding-top:28px;
		padding-bottom:30px;
	}
	.navbar-form{
		padding-top:12px;
	}
}
.menuBar .dropdown-menu > li > a {
    color: #000000;
    font-family: lato;
}
/*@media (min-width: 768px) and (max-width: 1244px) {*/
@media (min-width: 768px) and (max-width: 1339px) {
	ul.menuItems {
		width:100%;
		border-top:solid 1px #ddd;
	}
	.menuItems.navbar-nav > li > a {
		padding-top:5px;
		padding-bottom:5px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right:0px;
	}
	.container.menuBar {
		padding:0px;
	}
	.navbar > .container .navbar-brand {
		margin-left:0px;
	}
}
.dropdown-menu {
    font-size: 14px;
}
#footer{
	background-color:#000;
	color:#ffffff;
	padding:0px;
	height:auto;
	border:0px;
	font-family: LatoLight;
}
#footer > div{
	padding:40px 15px 40px 15px;
}
#footer a, #footer ul a{
	color: #fff;
}
#footer .footerBottom{
	clear:both;
}
#footer .footerBottom img{
	width:300px;
	height:auto;
}
#footer .footerAddress{
	margin-left:40px;
	line-height:1.5em;
	margin-top:-5px;
}
#footer .list-inline.footerLinks{
	/*padding-top:10px;*/
	padding-right:5px;
}
#footer .list-inline.footerLinks{
	margin-top:30px;
	text-align:center;
}
@media (min-width: 767px) {
	#footer .list-inline.footerLinks{
		text-align:right;
		margin-top:0px;
	}
}
#footer .list-inline.footerLinks li{
	padding:0px 5px 0px 5px;
}
#footer .darkRedBg{
	font-size:13px;
}
@media (min-width: 768px) {
	#footer .darkRedBg{
		font-size:16px;
	}
}
#footer .darkRedBg strong{
	font-weight:normal;
	font-family: Lato;
}
/* front */
.front{
	margin-bottom:80px;
}
.front H1, .front h1{
	color:#000;
	text-align:center;
}
.front .welcome{
	font-size: 16px;
	text-align: justify;
}
.front H2, .front h2{
	font:lato;
	font-size:24px;
	color:#820000;
	padding-top:80px;
}
.front .tanBg{
	margin-top:40px;
}
.front img{
	width:100%;
	height:auto;
}
.byline{
	text-align:right;
	font-size:22px;
}
.frontSearchRow{
	background-image: url("../graphics/centre.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	margin-top:-15px;
}
.frontSearchCol{
	padding-top:120px;
	padding-bottom:150px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.2);
}
.frontSearchCol .formOutline{
	background-color:none;
	position: relative;
}
.frontSearchCol .formOutline input, .frontSearchCol .formOutline input:focus{
	border:0px;
	font-size:24px;
	padding:10px 50px 10px 20px;
	height:auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	background-color:#FFFFFF;
	border-radius:none;
}
.frontSearchCol .btn-search{
	border-radius:0px;
	font-size:24px;
	margin-left:-45px;
	color: #d20000;
	margin-top:5px;
}
a .frontIconButton{
	background-color:#000;
	padding: 0px 30px 0px 30px;
	text-transform:uppercase;
	color:#FFF !Important;
	text-align:center;
	font-family:lato;
	margin-bottom:15px;
	vertical-align: middle;
	line-height:100px;
}
a .frontIconButton span{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
a:hover .frontIconButton{
	background-color:#8a0000;
	text-decoration:none;
}
.front .bleed{
	padding:0px;
}
.front .blackBg H2 a, .front .blackBg H2 a:hover{
	color:#FFFFFF;
}

@media (max-width: 1300px) {
	.front .blackBg.primer H2{
		padding-top:40px;
	} 
}
@media (max-width: 1100px) {
	.front .blackBg.primer H2{
		padding-top:20px;
	} 
}
@media (max-width: 768px) {
	.front .blackBg.primer .text-center{
		margin-bottom:30px; /* --- space below more button */
	}
	.front .hpFeaturesText{
		padding:0px 30px 0px 30px;
	}
}
.hpFeaturesText a{
	color:#FFF;
	text-decoration:underline;
}
.hpFeaturesText H2 a{
	text-decoration:none;
}
.hpFeaturesText a:hover{
	color:#FFF;
	text-decoration:underline;
}
.front #frontTimelineContainer {
    height: 500px;
    margin-top:80px;
    margin-bottom:80px;
}
.front .tl-timeline h2.tl-headline-title{
	color:#d20000;
}
/*.front .tl-timeline h2{
	padding-top:15px !Important;
}*/
.front .tl-timemarker-content-small h2{
	padding-top:0px !Important;
}

.tl-media-content img{
	max-height:auto !important;
	height:auto !important;
	width:auto !important;
}
.galleryTimelineDate{
	font-size:.75em;
	color:#959595;
}
.tl-slidenav-title .galleryTimelineDate{
	color:#000;
}
.tl-slidenav-content-container .galleryTimelineDate{
	font-size:1em;
}
.tl-timemarker-content h2.tl-headline {
	text-transform:none;
	font-size:12px !important;
}
/* replaceing the default date with one in the label template so can format date */
.tl-headline-date{
	display:none;
}
.tl-slidenav-description{
	display:none;
}
/* hide the date in the marker */
.tl-timemarker-text .galleryTimelineDate{
	display:none;
}
.tl-timemarker-text .tl-headline{
	padding-top:0px;
}
h2.tl-headline{
	padding-top:0px;
}
.tl-slidenav-previous .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-description{
	opacity: .6 !important;
}
.tl-headline.tl-headline-fadeout{
	color:#777777 !important;
}
.tl-timemarker-media{
	opacity:.5 !important;
}
.tl-menubar-button{
	color:#999 !important;
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick{
	color:#333 !important;
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick{
	color:#999 !important;
}
.tl-timeline {
    font-family: Lato !important;
}
.tl-text-content{
    font-family: LatoLight !important;
}
/*@media (max-width: 767px) {
	.frontSearchCol .btn-search {
		position:relative;
		right:inherit;
		top:inherit;
	}
}*/
.front .tanBg h1{
	color: #8a0000;
	font-size: 28px;
	text-transform: capitalize;
	font-family: lato;
}
.front .repositoryTile {
	width:250px;
	padding-right:30px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}
.front .repositoryTile img{
	width:100%;
	height:auto;
	padding-bottom:5px;
}
.front .repositoryTile a{
	font-weight:bold;
	color: #8a0000;
}
.front .jcarousel-wrapper{
	margin-top:0px;
	margin-bottom:20px;
}
.front .jcarousel-control-next, .front .jcarousel-control-prev {
    margin-top: -70px;
}
.frontNarrativeThreads{
	margin-bottom:80px;
}
.frontNarrativeThreadsAllLink{
	padding-top: 30px;
	text-align: center;
	clear: both;
}
.frontNarrativeThreadContainer{
	margin-bottom:15px;
	border:1px solid #333;
}
.frontNarrativeThreadContainer img{
	width:100%;
	height:auto;
}
.frontNarrativeThreadContainer .frontNarrativeThreadDesc {
	background-color:#605b4b;
	color:#fff;
	padding:10px;
	display:table;
	width:100%;
}
.frontNarrativeThreadContainer .frontNarrativeThreadDesc H2, .frontNarrativeThreadContainer .frontNarrativeThreadDesc H2 a{
	text-transform:none;
	color:#FFF;
	font-size:14px;
	line-height:1.2em;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
	padding-top:0px;
}
.frontNarrativeThreadContainer .frontNarrativeThreadDesc H2 a:hover{
	text-decoration:none;
	color:#d20000;
}
.frontNarrativeThreadContainer .frontNarrativeThreadDesc H2{
	height:3.6em;
	vertical-align: middle;
	display: table-cell;
}



/* front resources slideshow */
.front .mainSlideNav{
	top:60%
}
.front .jcarousel-wrapper{
	margin-top:0px;
	margin-bottom:0px;
}
@media (min-width:768px){	
	.mainSlide .imgCol{
		text-align:right;
		overflow:hidden;
	}
	.mainSlide .imgCol img{
		height:100%;
		width:auto;
	}
	.mainSlide .imgCol img{
		height:100%;
		width:100%;
		object-fit:cover;
	}
}

.mainSlide H2{
	padding-top: 120px;
}
.mainSlide .imgCol{
	height:300px;
}
@media (min-width:768px){
	.mainSlide .imgCol{
		height:450px;
	}
}
@media (min-width:1625px){
	.mainSlide .imgCol{
		height:500px;
	}
}

/* browse panel */

div.browseFacetItem a:hover {
    color: #8a0000;
}
#bRefine.fixed {
    top: 95px;
}
.browseRemoveFacet button.btn-default{
	text-transform:none;
}
.results .bResultItemExpandedInfo a .fa{
	color: #8a0000 !important;
}
.results .bGear{
	font-size:18px;
}
/* multisearch */
.addTo a .fa{
	color:#8a0000;
}
.multisearch H3 a, .multisearch H3 a:hover, .multisearch H2 a, .multisearch H2 a:hover {
    text-decoration: none;
    color: #d20000;
    font-size:18px;
}
.multisearch .collectionsResult.authorityResult{
	height:145px;
}
/* details */
.detail{
	padding-bottom:40px;
	font-size:16px;
}
.detail .navTop a{
	background-color:transparent;
}
@media (max-width: 767px) {
	.detailNavFull{
		display:none;
	}
}
.detail H2{
	color:#605b4b;
	font-size:12px;
	text-transform:uppercase;
	font-family:latoLight;
}
.detail H4{
	margin-bottom:10px;
}
.detail H6{
	text-transform:none;
	margin: 15px 0px 2px 0px;
	font-size:16px;
	line-height: 1.3em;
}
.detail H6.inline{
	display:inline;
}
.detail H3, .detail H3 a{
	font-size:14px;
	color:#605b4b;
	margin:0px;
	padding:0px;
}
.detail H3 .fa{
	font-size:12px;
}
.detail a, .detail a:hover {
    color: #8a0000;
}
.detail .breadcrumbTrail{
	padding-bottom:10px;
}
.detail .collapseBlock, .detail .block, .detail .relatedBlock{
	border-color:#efefef;
	border-top:1px solid #efefef;
	padding:10px 0px;
	clear:both;
}
.detail .collapseBlock.last{
	border-bottom:1px solid #efefef;
	margin-bottom:15px;
}
.detail .collapseBlock .collapseContent{
	padding-left:10px;
	padding-right:10px;
	display:none;
}
.detail .collapseBlock H3, .detail H3.collapseBlock  a{
	cursor:pointer;
}
.detail .collapseBlock .collapseContent.open{
	display:block;
}
.detail .collapseBlock.discussion{
	padding-left:5px;
	padding-right:5px;
}
.detail .collapseBlock.discussion{
	padding-left:5px;
	padding-right:5px;
}
.detail .collapseBlock.discussion .collapseContent{
	padding-left:0px;
	padding-right:0px;
}
.detail .collapseBlock .unitTopPadding{
	padding-top:10px;
}
.detail .blockContent{
	margin:8px 10px 0px 10px;
}
.detail .block a{
	font-family:latoLight;
	text-transform:uppercase;
	font-size:11px;
	font-family: lato;
}
.detail .block div span{
	font-size:11px;
	text-transform:none;
	color:#454545;
	font-family: latoLight;
}
.detail .block a.moreLess{
	padding-left:10px;
}
.detail .relatedBlock .relatedBlockContent a, .detail .relatedBlock .relatedBlockContent .placePlaceholder{
	display:inline-block;
	background-color:#ececec;
	font-size:14px;
	margin-bottom:2px;
	font-family:latoLight;
	padding:10px 10px 0px 10px;
	width: 100%;
	text-decoration: none;
	color:#454545;
}
.detail .relatedBlock .relatedBlockContent a:hover{
	background-color:#f0ede4;
}
.detail .relatedBlock .relatedBlockContent img{
	width:100%;
	height:auto;
	display:block;
}
.detail .relatedBlock .relatedBlockContent span{
	height:2.4em;
	overflow:hidden;
	display:block;
	line-height: 1.2em;
	text-align:center;
	margin:20px 0px 20px 0px;
}
.detail .relatedBlockContent{
	clear:both;
	margin-top:10px;
	position:relative;
}
.detail .relatedBlock .relatedBlockContent a{
	margin-bottom:15px;
	color:#000;
}
.detail .detailMap{
	text-align:right;
	font-size:12px;
}
.detail .detailMap .glyphicon{
	padding-top: 5px;
}
.relTabButton{
	display:inline-block;
	padding-right:30px;
	cursor: pointer;
	color:#b6b3a7;
}
@media (max-width: 767px) {
	.relTabButton{
		padding-right:12px;
		font-size:12px;
	}
}
.relTabButton:hover{
	color:#605b4b;
}
.relTabButton.selected{
	color:#605b4b;
}
.detail .relatedBlockContent .relTab{
	display:none;
}
.detail .stoneBg{
	padding:10px;
	margin-bottom:20px;
	color:#000;
}
@media (max-width: 767px) {
	.detail .stoneBg{
		margin-top:20px;
	}
}
a.readmore-js-toggle {
    color: #d20000;
}
.detail .tab-pane{
	padding:30px;
}
.detail a.btn-default{
	color:#FFF;
}
.detail .unit.icon img {
    width: auto;
    height: auto;
}
.detail .nav-tabs > li > a{
	text-align:center;
}
.detail .transcription img{
	display:none;
}
.detail #detailTools{
	margin-top:0px;
	padding-top:0px;
}
.detail .detailTools{
	border-bottom:#EDEDED;
}
.detail #detailTools a, .detail #detailTools span{
	size:11px;
}
.detail #detailTools a, .detail #detailTools span, .detail .detailTool i{
	color:#8a0000;
}
.detail a.noUnderline{
	text-decoration:none !important;
}
.detail #detailTools div.small{
	display:inline;
}
.detail #detailTools .detailTool{
	clear:left;
}
.detail #detailTools .detailTool.detailToolInline{
	padding:0px 1px 0px 1px;
	float:left;
	margin-right:0px;
	clear:none;
}
.detail #detailTools .detailTool.detailToolInline i{
	display:none;
}
@media (min-width: 1075px) {
	.detail #detailTools .detailTool.detailToolInline{
		
		padding:0px 2px 0px 2px;
	}
	.detail #detailTools .detailTool.detailToolInline i{
		display:inline;
	}
}
.detail #detailTools .detailTool.detailToolInline .btn-small{
	padding: 4px 3px 3px 3px;
	font-size: 8px;
	margin-bottom:5px;
}
.detail .detailToolInline i{
	color:#FFF;
	padding:0px;
	margin:0px;
}

.mediaViewerCaption{
	font-size:12px;
	margin-top:0px;
	margin-left: 35px;
	margin-right: 35px;
}
.detail .detailMediaToolbar, .detail .repViewerCont:hover .detailMediaToolbar {
    background-color: #ebebeb;
    padding: 2px 5px 7px 5px;
    font-size: 12px;
    position: relative;
    display: block;
    z-index: 200;
    text-align: center;
    background-color: transparent;
    margin-left:auto;
    margin-right:auto;
    width:150px;
}
.detail #detailRepNav {
    margin-top: -40px;
}
.detail .detailMediaToolbar .readOnline{
	text-transform:uppercase;
	font-size:11px;
	left: -5px;
	padding-right: 0px;
	position: relative;
}
.detail .detailPlaceholderContainer{
	background-color: #F5F5F5;
	border: 2px solid #EDEDED;
	color: #858585;
	padding: 60px 5px 72px;
	text-align: center;
	width: 100%;
	font-size: 30px;
}
.detail.school .detailPlaceholderContainer{
	padding: 75px 5px 85px 5px;
	font-size: 40px;
}
.detail .caAudioPlayer{
	padding-top:0px;
}
.detail .noToolBar .detailMediaToolbar, .detail .noToolBar .repViewerCont:hover .detailMediaToolbar{
	display:none;
}
/* archival collections */
@media(min-width:768px){
	#detailTools.archival{
		text-align:right;
	}
}
.detail #detailTools.archival .detailTool.detailToolInline{
	float:right;
	margin-right: 5px;
}
#detailTools.archival .detailTool{
	clear:right;
}
.detail .detailArchivalCollections H1, .detail .detailArchivalCollections H2{
	font-size: 18px;
	color: #262626;
	line-height: 135%;
	text-transform: none;
	margin-bottom:10px;
	font-family: lato;
	font-weight: normal;
	font-style: normal;
}
.detailArchivalCollections img{
	border-radius:10px !Important;
}
.detailArchivalCollections .repViewerCont{
	text-align:center;
}
.detailArchivalCollections .repViewerCont img{
	width: auto !important;
	height: auto !important;
	max-height: 500px;
	max-width:100%;
	object-fit:unset !important;
}
.detail .collectionContentsGridItem{
	padding-bottom:15px;
}
.detail .collectionContentsGridItem a{
	color:#000;
	font-size:14px;	
}
.detail .detailArchivalCollections H6{
	margin: 0px 0px 2px 0px;
}
.collectionContentsGridItem img{
	width: 100%;
	height:200px;
	object-fit: cover;
	border-radius:10px;
	margin-bottom:10px;
	display:block;
}
.collectionContentsGridItem .placeholder{
	width: 100%;
	height:200px;
	background-color:#f0ede4;
	border-radius:10px;
	margin-bottom:10px;
}
.waysToEngage{
	padding: 10px;
	
}
.detail .detailArchivalCollections .collapseBlock.discussion{
	padding-left:10px;
	padding-right:10px;
	padding-top:0px;
}
.jumpTop{
	position: fixed;
	right:0px;
	bottom: 0px;
	z-index:1000;
}
.detail .detailArchivalCollections .collapseBlock H3{
	margin-bottom:10px;
}
#collectionsWrapper .btn-small{
	text-transform: none;
    font-weight: normal;
    background-color: #fff;
	color: #454545;
    font-size: 11px !important;
    padding: 3px 4px;
    display: inline-block;
    margin-left: 10px;
    font-family: lato;
    
}
#collectionsOverview .btn-default{
	text-transform: none;
    font-weight: normal;
    background-color: #ededed;
    color: #757575;
    font-size: 14px !important;
    padding: 8px 9px;
    display: inline-block;
    margin: 7px 10px 7px 10px;
    font-family: lato;   
}
#collectionsOverview .hierarchyPath{
	font-size: 15px;
}
#collectionsOverviewHierarchyPath HR {
	border-top: 2px solid #454545 !important;
	margin-bottom:0px;
	margin-top:3px;
}
#collectionsOverviewHierarchyPath .rightCol{
	border-left: 2px solid #454545;
	margin-top: 10px;
	margin-bottom:10px;
}
#collectionsOverviewHierarchyPath .leftCol{
	margin-top: 10px;
	margin-bottom:10px;
}
#collectionsOverviewHierarchyPath .btn-default{
	text-transform: none;
    font-weight: 600;
    background-color: #FFF;
    color: #454545;
    font-size: 15px !important;
    padding: 8px 0px 0px 0px;
    display: inline-block;
    margin: 7px 0px 0px 0px;
    font-family: LatoLight;   
}
#collectionsOverviewHierarchyPath .leftCol .btn-default{
	color:#8a0000;
	font-size: 18px !important;
}
.hier-indent-2{
	padding-left:25px;
}
.hier-indent-3{
	padding-left:50px;
}
.hier-indent-4{
	padding-left:75px;
}
.hier-indent-5{
	padding-left:100px;
}
.hier-indent-6{
	padding-left:125px;
}
.hier-indent-7{
	padding-left:150px;
}

.hier-indent-file-1{
	padding-left:25px;
}
.hier-indent-file-2{
	padding-left:50px;
}
.hier-indent-file-3{
	padding-left:75px;
}
.hier-indent-file-4{
	padding-left:100px;
}
.hier-indent-file-5{
	padding-left:125px;
}
.hier-indent-file-6{
	padding-left:150px;
}
.hier-indent-file-7{
	padding-left:175px;
}
/* remove ? */
.detail a .narrativeThreadLink{
	margin-top:10px;
	margin-bottom:10px;
	padding:20px 5px 18px 10px;
	border:1px solid #837e6e;
	background:
		linear-gradient(
		  rgba(240, 237, 228, 1), 
		  rgba(240, 237, 228, 0.6)
		),
		url("../graphics/buttonBg.jpg"),
		no-repeat;
	background-size: cover;
	text-align:left;
	font-family: lato;
	color:#605b4b;
	font-size:14px;
	text-decoration:none !important;
}
.detail a:hover .narrativeThreadLink{
	border:1px solid #8a0000;
	text-decoration:none;
	color:#8a0000;
}
.detail .narrativeThreadLink .fa{
	float: right;
	margin-top: 2px;
	margin-left: 5px;
}
/* end remove block */

.detail H6 a, .detail H6 a:hover{
	padding:0px;
	color: #8a0000;
}
#pageArea.resource .detailMediaToolbar{
	display:none;
}
#detailDiscussion, #detailComments{
	border-top:0px;
	display:block;
}
#detailDiscussion .btn-default, #detailComments .btn-default, #transcriptLink .btn-default{
	padding: 3px 5px 3px 5px;
	font-size:10px;
	margin-top:10px;
}
.detailArchivalCollections #detailDiscussion .btn-default{
	padding: 6px 7px 5px 7px;
	font-size:13px;
}
.detail #detailDiscussion, .detail #detailComments {
    font-family: latoLight;
    color: #454545;
    padding: 10px 0px 10px 0px;
}
#detailComments{
	margin-left:10px;
	font-size:12px;
}
#detailComments blockquote{
	margin-top:10px;
	padding-top:0px;
}
.detail #tags a{
	display:inline !important;
	padding: 0px;
	width: auto;
	text-transform: none;
	font-family:latoLight;
	font-size:13px;
}
.detail #tags a:hover{
	text-decoration:underline;
	background-color:#FFF;
}
.detail .redLink{
	color:#8a0000;
	text-transform:uppercase;
	font-family:lato;
	text-decoration:none;
	font-size:11px;
}
.detail a.readmore-js-toggle {
    padding-top: 3px;
    font-size:11px;
    text-transform:none !important;
    font-family:latoLight;
}
.popover{
	z-index:100000;
}
.popover.top{
	left:20px !Important;
}
.popover.left .arrow{
	left:auto !important;
}
.popover-title {
    font-size: 12px;
    text-transform:none;
    padding:3px 15px 3px 15px !important;
}
h3.popover-title{
	margin-top:0px !important;
}
.popover-content {
    font-size: 12px !important;
    text-transform:none;
}
@media (max-width: 992px) {
	[data-toggle="popover"] {
	  cursor: pointer;
	}
}
#transcriptLink{
	margin-bottom:5px;
}
.detail #detailAnnotations .detailAnnotationList{
	max-height:600px;
}
.detail #detailAnnotations ul li{
	background-color: #f5f5f5;
}
.detail #detailAnnotations ul li:hover{
	background-color: #ededed;
	curson:arrow;
}
.detail #detailAnnotations li.active {
    font-weight: normal;
    font-style: inherit;
}
.detailAnnotation .annotationMD{
	display:none;
	padding:10px;
}
.detailAnnotation.active .annotationMD{
	display:block;
	background-color: #fff;
}
.detailAnnotation .detailAnnotationTitle{
	curson:pointer;
	font-weight:normal;
	font-family: lato;
}
.detailAnnotation .detailAnnotationTitle span{
	font-weight:normal;
	font-size:11px;
	font-family: latoLight;
}
.detailAnnotation.active .detailAnnotationTitle{
	color:#8a0000;
}
.detailAnnotation .detailAnnotationTitle .fa-play-circle{
	display:none;
}
.detailAnnotation .detailAnnotationTitle .fa-play-circle-o{
	display:inline;
}
.detailAnnotation.active .detailAnnotationTitle .fa-play-circle{
	display:inline;
	color:green;
}
.detailAnnotation.active .detailAnnotationTitle .fa-play-circle-o{
	display:none;
}
.annotationTranscription{
	max-height:250px;
	overflow:auto;
}
.annotationLinks a{
	text-transform:uppercase;
	font-size:11px;
	font-family: lato;
}
.annotationLinks span{
	font-size: 11px;
	text-transform: none;
	color: #454545;
	font-family: latoLight;
}
.school .trimText p{
	margin-bottom:15px;
}
/* archival collection browser */
#collectionsWrapperArchival .collectionsContainer{
	padding-bottom:20px;
}
#collectionsWrapperArchival .collectionsContainer label{
	font-size: 18px;
	color: #262626;
	line-height: 135%;
	text-transform: none;
}
.collectionsContainer a, .collectionsContainer .listItem {
    width: 100%;
    display: inline-block;
    padding: 5px 30px 5px 5px;
    font-size: 18px;
    font-weight:bold;
}
.collectionsContainer a.openCollection.active, .collectionsContainer a.openCollection.active small {
	color: #fff;
	background-color: #757575;
}
#collectionsWrapperArchival .glyphicon{
	font-size:10px;
}
.collectionLoad a{
	padding-right:5px;
}
.collectionsContainer .label, #collectionLoad .label {
	padding-left: 0px;
	white-space: normal !important;
	font-family: lato;
	font-weight: normal;
	font-size: 18px;
	color: #262626;
}
.subCollectionName{
	font-weight: 600;
	font-size: 15px;
}
.collectionsContainer .label a.openCollectionContents, #collectionLoad .label a.openCollectionContents {
	white-space: normal !important;
	font-family: lato;
	font-weight: normal;
	font-size: 18px;
	color: #262626;
	display:inline;
	padding:0px;
}
#collectionLoad div a{
	font-weight:600;
	font-size:15px;
	color: #454545;
}
#collectionLoad p{
	font-size:15px;
}
#collectionLoad .label a{
	font-weight:normal;
}
.collectionsContainer .label a.openCollectionContents .glyphicon{
	top:-1px;
}
.collectionsContainer a .glyphicon, .collectionsContainer .glyphicon, #collectionLoad a .glyphicon, #collectionLoad .glyphicon {
  color: #757575;
}
.collectionsContainer .label a.openCollectionContents.active{
	font-weight:normal !important;
}
.collectionsContainer .label a.openCollectionContents:hover, .collectionsContainer .label a.openCollectionContents:active, .collectionsContainer .label a.openCollectionContents:focus{
	text-decoration:none !important;
}
#collectionsWrapperArchival .collectionsContainer a:hover{
	background-color: transparent;
}
#collectionsWrapperArchival .linkoutRight {
	position: relative;
	right: 0px;
	z-index: 100;
	width: auto;
	display: block;
	background-color: transparent;
	padding: 5px 5px 5px 15px;
	margin: 0px;
}
/*@media(min-width:1450px){
	#collectionsWrapperArchival .linkoutRight{
		position:absolute;
		right:0px;
		z-index:100;
		width:auto;
		display:inline;
		background-color: transparent;
		padding:5px;
		margin:0px
	}
}*/
#collectionsWrapperArchival a, #collectionsWrapperArchival a:visited {
    text-decoration: none;
    color:#000;
}
#collectionsWrapperArchival a:active, #collectionsWrapperArchival a:focus, #collectionsWrapperArchival a:hover {
    text-decoration: underline;
}
#collectionsWrapperArchival .collectionsContainer a.openCollection:focus{
	color:#242121;
}
#collectionsWrapperArchival .collectionsContainer a.active, #collectionsWrapperArchival .collectionsContainer a.active:focus, #collectionsWrapperArchival .collectionsContainer a.active:visited, #collectionsWrapperArchival .collectionsContainer a.active:active{
	text-decoration:none;
	color:#000;
	font-weight:bold;
	background-color: transparent;
}

#collectionsWrapperArchival a.openCollection:hover, #collectionsWrapperArchival a.openCollection.active:hover{
	background-color: #f0ede4;
	text-decoration: none;
}
.collectionsContainer a.openCollection.active small {
  color: #FFF;
}
#collectionsWrapperArchival .collectionLoad a{
	display:inline-block;
}
#collectionsWrapperArchival .collectionLoad img{
	width:auto;
	height:auto;
}
#collectionsWrapperArchival .collectionLoad .nonLinkedCollection{
	color: #242121;
	font-size:14px;
}

@media(max-width:767px){
	#collectionsWrapperArchival{
		margin-top:20px;
	}
}
#collectionsWrapperArchival .collectionLoad{
	padding-left:30px;
}
/* browse filters on repository and school pages */
.detailFilter{
	padding: 0px 15px 20px 15px;
	font-family:lato;
}
.detailFilter .btn-group{
	padding-left:5px;
	padding-right:20px;
}
.detailFilter .btn-group .btn-default {
    background-color: #f0ede4;
    color: #000000;
}
@media (max-width: 767px) {
	.detailFilter .btn-group{
		display:block;
		margin-bottom:20px;
	}
	.detailFilter .btn-group .btn-default, .detailFilter .btn-group ul.dropdown-menu, .detailFilter .resultsLightbox .btn {
		width:100%;
	}
	.detailFilter .resultsLightbox .btn {
		margin-bottom:10px;
	}
}
@media (min-width: 767px) {
	.detailFilter .resultsLightbox{
		float: right;
	}
}
/* EXPLORE */

.narrativeThreadContainer{
	margin-bottom:30px;
	border:1px solid #333;
}
.narrativeThreadImgContainer{
	max-height:400px;
	overflow:hidden;
}
.narrativeThreadContainer img{
	width:100%;
	height:auto;
}
.narrativeThreadContainer .narrativeThreadDesc {
	background-color:#605b4b;
	color:#fff;
	padding:20px;
}
@media (min-width: 768px) {
	.narrativeThreadContainer .narrativeThreadDesc {
		min-height: 400px;
	}
}
@media (min-width: 1010px) {
	.narrativeThreadContainer .narrativeThreadDesc {
		min-height: 350px;
	}
}
.narrativeThreadContainer .narrativeThreadDesc H2{
	text-transform:none;
	color:#FFF;
	margin-bottom:30px;
}
.narrativeThreadContainer .narrativeThreadDesc H2 a{
	text-transform:none;
	color:#FFF;
}
.narrativeThreadContainer .narrativeThreadDesc H2 a:hover{
	text-decoration:none;
	color:#d20000;
}
.narrativeThreadContainer .narrativeThreadDesc .text-center{
	margin:40px 0px 30px 0px;
}
.narrativeThreadRow{
	background:
		linear-gradient(
		  rgba(224, 215, 186, .95), 
		  rgba(224, 215, 186, 0.75)
		),
		url("../graphics/centre5.jpg"),
		no-repeat;
}
.exploreSchoolsRow{
	background:
		linear-gradient(
		  rgba(224, 215, 186, .95), 
		  rgba(224, 215, 186, 0.75)
		),
		url("../graphics/centre3.jpg");
}
.exploreRow{
	background-repeat: no-repeat;
	background-position:center center;
	background-size:cover;
	padding-top:30px;
	padding-bottom:15px;
	margin-top:-15px;
	margin-bottom:40px;
	font-family: LatoLight;
	line-height: 1.8;
	font-size: 16px;
	font-weight:600;
}
.exploreRow H1{
	color: #8a0000;
	font-size:28px;
	text-transform:capitalize;
}
.exploreRow H2{
	color:#000;
	text-transform:capitalize;
	margin-top:0px;
}
.exploreRow H2 a, .exploreRow H2 a i{
	color: #8a0000;
}
.exploreRow H2 a:hover{
	text-decoration: none;
	color:#d20000;
}
@media (min-width: 768px) {
	.exploreRow p {
		-webkit-columns: auto 2; /* Chrome, Safari, Opera */
		-moz-columns: auto 2; /* Firefox */
		columns: auto 2;
		-webkit-column-gap: 50px; /* Chrome, Safari, Opera */
		-moz-column-gap: 50px; /* Firefox */
		column-gap: 50px;
	}
}
.exploreRow p, .exploreRow .text-center{
	margin-bottom:40px;
}
.explore #featured_set{
	margin:0px 0px 100px 0px;
}
.gallery H4, .gallery H4 a {
	text-transform:none;
    font-size: 14px !important;
}
.gallery H6{
	margin-bottom:0px;
}
.gallery .galleryDetailBottom{
	border:0px;
}
.galleryDetailBottomRow{
	background-color:#605b4b;
	padding:20px;
	color:#FFF;
}
.gallery #galleryDetailImageGrid img {
    border-color: #FFFFFF;
}
.gallery #galleryDetailImageGrid img:hover {
    border-color: #8a0000;
}
.gallery #galleryDetailImageGrid .galleryIconActive img {
    background-color: #8a0000;
    border-color: #8a0000;
}
.gallery #galleryDetailImageGrid #moreLink a{
	color:#FFFFFF;
}
.gallery .setDescription{
	font-size:13px;
	padding-top:10px;
}
.gallery .setDescription a{
	color:#FFFFFF;
	text-decoration:underline;
}
.gallery #galleryDetailObjectInfo{
	padding:25px;
	background-color:#f0ede4;
}
.gallery .galleryTombstoneScroll{
	max-height:325px;
	overflow-y:auto;
}
.gallery .unit{
	margin-top:10px;
}
.gallery .galleryPrevious, .gallery .galleryNext{
	margin-bottom:45px;
}
.gallery #gallerySetInfo .gallerySetInfoDesc a{
	text-decoration:underline;
	text-transform:none;
}
.gallery .detailPlaceholderContainer{
	color: #858585;
	padding: 60px 5px 72px;
	text-align: center;
	width: 100%;
	font-size: 30px;
}
.gallery .detailPlaceholderContainer a{
	color: #858585;
	font-size: 30px;
}
@media (min-width: 768px) {
	.gallery .detailPlaceholderContainer{
		padding: 120px 5px 72px;
	}
}
.galleryIconPlaceholderWrapper{
	position: relative;
}
.galleryIconPlaceholderWrapper img{
	background-color:#dedede !important;
	border:none !important;
	padding:0px !important;
}
a .galleryIconPlaceholderWrapper .galleryIconPlaceholder{
	position:absolute;
	width:100%;
	text-align:center;
	top:30%;
	color: #858585;
}
a:hover .galleryIconPlaceholderWrapper .galleryIconPlaceholder, a.galleryIconActive .galleryIconPlaceholderWrapper .galleryIconPlaceholder{
	color:#8a0000;
}
@media (max-width:767px){
	a .galleryIconPlaceholderWrapper .galleryIconPlaceholdern .fa-4x{
		font-size:3em;
	}
}
.schoolBottom{
	margin-bottom:100px;
}
.schoolBottom .noPadding{
	margin-right:0px;
	margin-left:0px;
	padding-right:0px;
	padding-left:0px;
}
.schoolBottom a.schoolTabButton .glyphicon{
	position:relative;
	top:4px;
}
.schoolBottom a.schoolTabButton .grayBg, .schoolBottom a.schoolTabButton:hover{
	font-size:30px;
	color:#FFF;
	text-decoration:none !important;
}
.schoolBottom a.schoolTabButton:hover .grayBg{
	background-color:#888375;
	cursor: pointer;
}
.schoolBottom a.selected .grayBg{
	background-color:#888375;
}
.schoolBottom .grayBg{
	padding-top:20px;
	padding-bottom:20px;
}
.schoolBottom .schoolTabContainer{
	height:500px;
	position:relative;
}
.schoolBottom .schoolTab{
	height:500px;
	width:100%;
	background-color:#FFF;
	position:absolute;
	z-index:1;
	overflow-y:auto;
	overflow-x:hidden;
}
#exploreSchoolListContainer{
	z-index:10;
}
.schoolBottom #exploreSchoolListContainer img{
	width:100%;
	height:auto;
}
.schoolBottom #exploreSchoolListContainer img:hover{
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.schoolBottom #exploreSchoolListContainer .schoolLink{
	margin:5px 0px 20px 2px;
	height: 2.2em;
	line-height: 1.1em;
}
.schoolBottom #exploreSchoolListContainer .schoolLink a{
	font-size: 14px;
	font-family: lato;
}
#exploreMapBalloonContainer {
    max-height: 170px;
    width: 400px;
    overflow-y: auto;
}
#exploreMapBalloonContainer .mapItem{
	margin-bottom:15px;
	clear:both;
}
.mapImage{
	float:left;
	width:35%;
	margin-right:20px;
}
.mapImage img{
	width:100%;
	height:auto;
}
#exploreMapBalloonContainer h6{
	margin-bottom:0px;
}
.leaflet-container a{
	color:#d20000;
}
.leaflet-container a.btn-default{
	color:#FFF;
}

/* listing */
.exploreResourcesRow, .exploreRow{
	background:
		linear-gradient(
		  rgba(224, 215, 186, .95), 
		  rgba(224, 215, 186, 0.75)
		),
		url("../graphics/centre2.jpg");
	background-position: center; 
}
.listing{
	padding-bottom:40px;
}
.listingContainer{
	/*margin-bottom:45px;*/
	border:1px solid #333;
}
.listingContainerImgContainer{
	max-height:400px;
	overflow:hidden;
}
.listingContainerExhibitions .listingContainerImgContainer img, .listingContainerEduRes .listingContainerImgContainer img{
	width:100%;
	height: 250px;
	object-fit: cover;
}
.listingContainerResources{
	margin-bottom:45px;
}
.listingContainerResources .listingContainerImgContainer img{
	width:100%;
	height: auto;
}
.listingContainerResources .listingContainerImgContainer {
	max-height:650px;
}
.listingContainer .listingContainerDesc {
	background-color:#605b4b;
	color:#fff;
	padding:20px;
}
.listingContainer .listingContainerDesc H2{
	text-transform:none;
	color:#FFF;
	margin-bottom:5px;
}
.listingContainer .listingContainerDesc H2 a{
	text-transform:none;
	color:#FFF;
}
.listingContainer .listingContainerDesc H2 a:hover{
	text-decoration:none;
	color:#d20000;
}
.listingContainer .listingContainerDesc small{
	margin-bottom:25px;
	display:inline-block;
	font-size:12px;
}
.listingContainer .listingContainerDesc small a{
	color:#FFF;
}
.listingContainer .listingContainerDesc .text-center{
	margin:40px 0px 30px 0px;
}




.listingContainerExhibitions.coverImg, .listingContainerEduRes.coverImg{
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	min-height: 275px;
}
.listingContainerExhibitions.coverImg H2, .listingContainerEduRes.coverImg H2{
	margin-bottom: 20px;
	font-size: 24px;
	line-height:1.3em;
	width:100%;
}
.listingContainerExhibitions.coverImg b, .listingContainerEduRes.coverImg b{
	font-family: latolight;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}	
.listingContainerExhibitions.coverImg .listingContainerDesc, .listingContainerEduRes.coverImg .listingContainerDesc{
	background-color:transparent;
	background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.4), rgba(0,0,0,.4), rgba(0,0,0,0));
	text-shadow: 2px 2px 4px #000000;
	padding:40px;
  	min-height: 275px;
}
.listingContainerEduRes.coverImg .listingContainerDesc{
	display: flex;
	align-items: center;
	text-align:center;
	width:100%
}
.listingContainerExhibitions.coverImg .listingContainerDesc:hover, .listingContainerEduRes.coverImg .listingContainerDesc:hover{
	background: rgba(0,0,0,.5);
}
h2.exhibitionSection{
	text-transform:uppercase;
	font-size:24px;
	font-family:Lato;
	color:#D20000;
}
.listingExhibitionsImageLink:hover, .listingEduResImageLink:hover{
	text-decoration:none;
}
.currentExhibition .listingContainerExhibitions.coverImg .listingContainerDesc, .currentExhibition .listingContainerEduRes.coverImg .listingContainerDesc{
	padding: 70px 60px 60px 60px;
}
.currentExhibition .listingContainerExhibitions.coverImg H2, .currentExhibition .listingContainerEduRes.coverImg H2{
	font-size: 28px;
}

/* styles for uniform col height in exhibiton list */
.aligned-row {
    display: flex;
    flex-flow: row wrap;
}
.aligned-row::before {
	display: block;
}
.aligned-row > div{
	margin-bottom:45px;
}
.listingContainerExhibitions.coverImg .listingContainerDesc{
	height:100%;
}
.listingContainer{
	height:100%;
}
.listingExhibitionsImageLink, .listingEduResImageLink{
	display:block;
	height:100%;
}

/* About page */
.staticPage H1.quote{
	font-size: 28px;
	font-family: LatoLight;
	padding-top: 15px;
	color:#000;
	text-transform:none;
	margin-bottom:30px;
	text-align:center;
	line-height:1.3em;
}
@media (max-width: 767px) {
	.staticPage H1.quote{
		font-size: 18px;
	}
}
.staticPage H1{
	margin-top:40px;
}
.staticPage p{
	font-size:16px;
	margin-bottom:20px;
}
.staticPage p, .staticPage div {
    line-height: 1.8em;
    font-size:16px;
}
.staticPage b{
	font-family: lato;
	font-weight: normal;
}
.aboutLogo{
	margin-bottom:25px;
}
.aboutLogo img{
	width:100%;
	height:auto;
}
.staticPage .video-js{
	width:100% !important;
	height:500px !important;
}

/* User Guide */

.userGuideBody H2{
	clear:both;
}
.userGuideBody H3{
	text-transform:none;
	clear:both;
}
.userGuideBody{
	font-size:16px;
	border-left:1px solid #dedede;
	margin-top: -15px;
	padding-top:15px;
}
@media(min-width:1010px){
	.userGuideBody{
		padding-left:55px;
	}
}
.userGuideBody ul{
	line-height:1.8em;
	font-size:16px;
}
.userGuideBody img{
	height:auto;
	max-width:80%;
}
.userGuideBody .imgSmall, .userGuideBody .imgMed, .userGuideBody .imgLarge, .userGuideBody .imgFull{
	text-align:center;
}
.userGuideBody .imgSmall img{
	height:auto;
	width:25%;
	max-width:100%;
}
.userGuideBody .imgMed img{
	height:auto;
	width:50%;
	max-width:100%;
}
.userGuideBody .imgLarge img{
	height:auto;
	width:75%;
	max-width:100%;
}
.userGuideBody .imgFull img{
	height:auto;
	width:100%;
	max-width:100%;
}
@media(min-width:768px){
	.userGuideSideNav{
		position:fixed;
		width: 15%;
	}
}
.userGuideSideNav{
	margin-top: -15px;
	padding-top:15px;
}
.userGuideSideNav a{
	font-size:15px;
	color:#454545;
	text-decoration:none;
}
.userGuideSideNav ul{
	padding-left: 0px;
	list-style: none;
}
.userGuideSideNav ol{
	padding-left: 15px;
}
.userGuideSideNav H2{
	margin-top: 40px;
	color:#000;
}
.userGuideAnchor{
	position: relative;
	top: -95px;
}
.userGuideBody .video-js{
	width:100% !important;
	height:500px !important;
}
/* contact form */
.form-control-static.securityQuestion{
	color:#000;
}

/* overlay */
#caFormOverlay {
    width: 500px;
    margin: 50px auto 0px auto;
}
@media (max-width: 767px) {
	#caFormOverlay {
		 margin: 0px auto 0px auto;
		 width: 100%;
	}
}

/*#caMediaPanelContentArea{
	padding-top:40px;
}*/
div.caMediaOverlayControls, div.caMediaOverlayControls:hover{
	top:0px;
	bottom:auto;
	background-color:#000;
	opacity:1;
}
/*
.caMediaOverlayControls div.close {
	background-color:red;
	padding:0px 3px 3px 3px;
}*/
div.caMediaOverlayControls .objectInfo, div.caMediaOverlayControls .repNav {
    font-size: 15px;
    height: 1.4em;
	overflow: hidden;
}
div.caMediaOverlayControls {
    padding: 10px 0px 5px 0px;
}
/* font support test */


@font-face {
	font-family: 'first_nations_unicoderegular';
	src: url('first_nations_unicode_regular.woff2') format('woff2'),
			url('first_nations_unicode_regular.woff') format('woff');
    src: url('FirstNationsUnicodeROSx.ttf')  format('truetype'); /* Safari, Android, iOS */
}
.fn_unicodereg{
	font-family:first_nations_unicoderegular;
}
@font-face {
	font-family: 'aboriginalsansregular';
	src: url('aboriginalsansregular.woff2') format('woff2'),
			url('aboriginalsansregular.woff') format('woff');
    src: url('AboriginalSansREGULAR.ttf')  format('truetype'); /* Safari, Android, iOS */
}
.aboriginalsansregular{
	font-family:aboriginalsansregular;
}

/* digital exhibitions */
@media(min-width:992px){
	#pageArea.digital_exhibition.detail{
		padding-bottom:800px;
	}
}
.exploreDigitalExhibitionsRow, .exploreEduResRow{
	background:
		linear-gradient(
		  rgba(224, 215, 186, .95), 
		  rgba(224, 215, 186, 0.75)
		),
		url("../graphics/centre2.jpg");
	background-position: center; 
}
.digExhHeroImg{
	background-position: center;
	background-size:cover;
	margin-top:-15px
}
.digExhHeroContent{
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.6), rgba(0,0,0,0));
	padding-top:100px;
	padding-bottom: 100px;
	text-align:center;
}
.digExhHeroContent H1{
	font-size:36px;
	color:#FFF;
	text-transform:uppercase;
}
.digExhContent H1{
	font-size:30px;
	color:#000;
	text-transform:uppercase;
}
@media (min-width: 992px) {
	.digExhRightCol.fixed, .digExhSideNav.fixed{
		position:fixed;
		/*top:113px;*/
		top:87px;
		z-index:100;
		width:100%;
		overflow-y: auto;
	}
}
.detail .digExh #detailTools {
	margin-top: 10px;
}
.detail .digExhSideNav a:hover{
	text-decoration:none;
}
.digExhSideNavLink{
	background-color: #f0ede4;
	padding-top:40px;
	padding-bottom:40px;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
}
.digExhSideNavLink.digExhSideNavLinkNoImg{
	padding-top:20px;
	padding-bottom:20px;
}
.digExhSideNavLinkImg{
	background-position: center;
	background-size:cover;
}
a .digExhSideNavLink{
	color:#000;
	font-size:14px;
	text-transform:uppercase;
	font-family: Lato;
}
.detail a:hover .digExhSideNavLink{
	background-color: #e0d7ba;
	-webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    color:#000;
    text-decoration:none;
}
a .digExhSideNavLinkImg .digExhSideNavLink{
	color:#FFF;
	background-color: transparent;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5), rgba(0,0,0,0));
}
/*a.currentSection .digExhSideNavLink:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f0da";
    padding-right:5px;
}*/

.detail a:hover .digExhSideNavLinkImg .digExhSideNavLink{
	color:#FFF;
	background-color: transparent;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.6), rgba(0,0,0,0));
	-webkit-transition: background 2000ms;
    -ms-transition: background 2000ms;
    transition: background 2000ms;
}
.detail .digExhSideNavLinkOut{
	text-align:center;
	margin-top:15px;
	margin-bottom:25px;
}
.detail .digExhSideNavLinkOut a{
	display:block;
	margin-bottom:10px;
}
.digExhContentBlock{
	margin-bottom:40px;
	position:relative;
}
a.digExhAnchors{
	display:inline-block;
	position:absolute;
	top:-110px;
}
a.digExhAnchors.offset{
	display:inline-block;
	position:absolute;
	top:-40px;
}
.digExhContentBlock .digExhUnit{
	padding-bottom:45px;
	padding-top:30px;
	font-size:15px;
}
.digExhUnitSet{
	margin-top:25px;
}
.detail .digExhContentBlock, .detail .digExhContentBlock .digExhUnit p{	
	font-size:15px;
}
@media(min-width:1200px){
	.digExhContentBlock .digExhUnit, .detail .digExhContentBlock .digExhUnit p{
		font-size:18px;
	}
}
.digExhContentBlock h2{
	font-weight:normal;
	font-size:28px;
	text-transform:none;
	color:#000;
	font-family:lato;
	margin-top:25px;
	margin-bottom:25px;
}
.digExhContentBlock HR{
	border-color: #f0ede4;
    border-bottom: 2px solid #f0ede4;
    margin-bottom:40px;
}
.digExhContentBlock .contentBlockSubTitle{
	font-weight: normal;
	font-size: 22px;
	text-transform: none;
	color: #000;
	font-family: lato;
	margin-top: 15px;
	margin-bottom: 25px;
}
.digExhContentBlock .quoteMargin{
	font-size:25px;
	text-align:center;
	margin-top:30px;
	margin-bottom:40px;
/*	margin-top:90px;
	margin-bottom:110px;*/
	padding:40px;
}
.digExhContentBlock .quote{
	font-size:25px;
	text-align:center;
	padding:40px;
}
@media(max-width:767px){
	.digExhContentBlock .quote{
		padding-bottom:120px;
		padding-top:0px;
	}
}	
.digital_exhibition .mediaViewerCaption{
	font-size:14px;
	padding-top: 5px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.digExhUnit img{
	max-width: 100%;
	height: auto;
}
.digExhUnit.digExhUnitOneColImage img{
	max-height:600px;
	width:auto;
}
@media(max-width:575px){
	.digExhUnit.digExhUnitOneColImage img{
		height:400px;
		width: 100%;
		object-fit:contain;
	}
}
.digExhContentBlock .imgCol img{
	width: 100%;
	height: auto;
}
.digExhContentBlock .detailMediaToolbar, .digExhContentBlock .repViewerCont:hover .detailMediaToolbar{
	display:none;
}
.digExhRelated H1{
	display:none;
}
.digExhLinks a{
	font-family:Lato;
}
.digExhLinks{
	line-height:2em;
}

#digExhTimeline {
    height: 500px;
}
#digExhTimeline .tl-slider-container-mask{
	background-color:#fafafa;
}
#digExhTimeline .tl-slide-content{
	padding-right:0px !important;
	width: 85% !Important;
}
#digExhTimeline .tl-slide .tl-slide-scrollable-container{
	width:100%;
}
#digExhTimeline .tl-timeline h2.tl-headline-title, #digExhTimeline .tl-text-content-container h2.tl-headline{
	font-size:17px !important;
	line-height: 17px !important;
}
@media(min-width:1450px){
	#digExhTimeline .tl-timeline h2.tl-headline-title, #digExhTimeline .tl-text-content-container h2.tl-headline{
		font-size:19px !important;
		line-height: 19px !important;
	}
}
.tl-text-content, .tl-timeline p, .tl-text p{
	font-size:15px !important;
}
/* vertically center the image adjustments */
.tl-text-content-container{
	margin-right:-100px;
}
@media(min-width:890px){
	.tl-slide-content{
		align-items: center;
		display: flex !important;
		justify-content: center;
	}
}
@media(min-width:680px){
	.tl-text-content-container{
		margin-right:-160px;
	}
	.digital_exhibition .tl-text-content-container{
		margin-right:-60px;
	}
}
/* end vertical center image adjustments */
@media(min-width:1450px){
	.tl-text-content, .tl-timeline p, .tl-text p{
		font-size:16px !important;
	}
}
.tl-text h2.tl-headline{
	padding-bottom:5px;
}
.tl-text-content{
	max-height:240px;
	overflow-y:auto;
}
.tl-timeline .tl-text-content > p{
	margin:0px !Important;
}
.sectionNavigationLinks .btn-default{
	margin-bottom:10px;
	font-size: 16px;
}
.tl-timeline .tl-caption {
  font-family: lato !important;
}
/* storymap */
.vco-storymap h2.vco-headline-title, .vco-storymap h2 {
	font-size: 17px !important;
	line-height: 17px !important;
	margin-bottom: 14px;
}
@media(min-width:1200px){
	.vco-storymap h2.vco-headline-title, .vco-storymap h2 {
		font-size: 19px !important;
		line-height: 19px !important;
		margin-bottom: 12px;
	}
}
.storymapContainer{
	width: 100%;
	height: 500px;
}
.vco-text-content p, .vco-text-content{
	font-family:LatoLight;
	font-size:15px !important;	
}
@media(min-width:1200px){
	.vco-text-content p, .vco-text-content{
		font-size:16px !important;	
	}
}
.vco-map .leaflet-container .leaflet-control-minimap{
	display:none;
}
/* carousel */
/*.digital_exhibition .jcarousel-pagination a{
	font-size:15px;
	padding:5px;
}*/
.digExhSlideContainer{
	position:relative;
}
.digExhSlide{
	text-align: center;
}
.digExhSlide{
	min-height:445px
}
.digExhSlide img{
	max-height:400px;
	width:auto;
}
@media(max-width:575px){
	.digExhSlide img{
		height:400px;
		width: 100%;
		object-fit:contain;
	}
}

a.digExhDetailPrev, a.digExhDetailNext{
	background-color: #EFEFEF;
    color: #666666;
    font: 33px/1em Arial,sans-serif;
    top: 45%;
    padding: 2px 12px 5px 12px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    z-index:100;
}
.digExhDetailNext{
	padding-left:14px;
}
.digExhDetailPrev{
	padding-right:14px;
}
@media (max-width: 768px) {
  	a.digExhDetailNext, a.digExhDetailPrev{
		top:100%;
  	}
}
.digExhDetailNext{
	right:5px;
}
.digExhDetailPrev{
	left:5px;
}

.digExhDetailNext.inactive, .digExhDetailPrev.inactive{
	opacity: .5;
    cursor: default;
    display:inline;
}
.digExhPagination{
	width: 100%;
	text-align: center;
	bottom: -30px;
	position:relative
}
.digExhSlide .video-js, .digExhUnit .video-js{
	width:100% !important;
	height:400px;
}
.digExhSlide .caAudioPlayer{
	padding-top:150px;
}
.digExhSlideLoader{
	padding-top:150px;
}




.digExhPagination a.active{
	background: #4E443C;
	color: #fff;
}
.digExhPagination a{
	font-size: 15px;
	padding: 5px;
	color:#d20000;
	opacity: 1;
	text-decoration: none;
	display: inline-block;
	line-height: 14px;
	min-width: 14px;
	background: #fff;
	border-radius: 14px;
	text-align: center;
	margin-right: 2px;
}








#detailDiscussion button.btn{
	white-space: normal !important;
}
.digExhContentBlock #detailComments .btn-default{
	display:none;
}
.digExhSideNavMobile{
	display:none;
}
@media(max-width:1024px){
	.storymapContainer{
		height: 400px;
	}
}
@media(max-width:991px){
	.digExhSideNav{
		display:none;
	}
	.digExhSideNavMobile{
		display:block;
	}
	.digExhSideNavMobile .dropdown, .digExhSideNavMobile .dropdown button, .digExhSideNavMobile .dropdown .dropdown-menu{
		width:100%;
		text-align:center;
	}
	.digExhSideNavMobile .dropdown{
		margin-bottom:10px;
	}
	.digExhSideNavMobile .dropdown li > a{
		font-family:Lato;
		font-size:16px;
		padding-top: 10px;
		padding-bottom:10px;
		color:#777;
		text-transform:uppercase;
	}
	.digExhSideNavMobile .dropdown li.redLink > a{
		color: #8a0000;
		font-family:LatoLight;
		text-transform:none;
	}
}
@media(max-width:767px){
	.vcenter{
		width: 100%;
		padding-bottom:45px;
	}
	.digExhContentBlock .contentBlockSubTitle{
		margin-bottom:0px;
	}
	.digExhContentBlock .quoteMargin{
		/*margin-top:45px;
		margin-bottom:55px;*/
		margin-top:30px;
		margin-bottom:40px;
	}
	.storymapContainer{
		height: 450px;
	}
	.vco-mobile.vco-skinny .vco-media .vco-media-image{
		max-height:125px !important;
	}
}

::selection {
    background: rgba(0, 112, 255, 0.3);
}

/* browse */
.browse.schools #browseResultsContainer #map_map{
	margin-top:-20px;
}
/*.results .leaflet-popup-content{
	width:auto !important;
}*/

/* green #24420E */
.disclaimerAlert{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
	height:100vh;
	z-index:2000;
	background-image: url("../graphics/RSHDCLandscape-warning.jpg"); 
	background-color: #e0d7ba;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.disclaimerAlert div.disclaimerAlertMessage{
	font-size: 28px;
    font-weight: 400;
	color: #FFF;
	text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
	text-align:center;	
	padding: 30px 50px 40px 50px;
	background-color: rgba(36, 66, 14, 0.65);
	font-family: "WhitneySalishan";
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width:85%;
	left:0px;
	right:0px;
	max-height:100%;
	overflow-y:auto;

	margin-left: auto;
	margin-right: auto;line-height:1.4em
}
.disclaimerAlert div.disclaimerAlertMessage em{
	font-style:normal;
	display:inline-block;
	background-color:#24420E;
	padding:10px 25px 10px 25px;
	color:#FFF;
}
.disclaimerAlert div.disclaimerAlertMessage em a{
	color:#FFF;
}
.disclaimerAlert div.disclaimerAlertMessage strong, .disclaimerAlert div.disclaimerAlertMessage b{
	font-size: 25px;
}
.disclaimerAlert .enterButton{
	text-align:center;
	margin-top:35px;
	margin-bottom:10px;
}
.disclaimerAlert .enterButton .btn{
	background-color:#24420E;
	font-family: "WhitneySalishan";
	font-size:32px;
	font-weight:700;
	text-transform:uppercase;	
	display:inline-block;
	width:100%;
	padding:15px;
	border-radius:10px;
	text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}
.disclaimerAlert .rshdcLogo{
	margin-top:39px;
}
.disclaimerAlert .rshdcLogo img{
	width:80%;
	height:auto;
}

@media(max-width:768px), (max-height: 550px){
	.disclaimerAlert div.disclaimerAlertMessage{
		font-size: 18px;
		width:100%;
		padding: 30px 20px 30px 20px;
	}
	.disclaimerAlert .enterButton .btn{
		font-size: 20px;
	}
}
@media (min-width: 769px) and (min-height: 551px){
	.disclaimerAlert div.disclaimerAlertMessage{
		font-size: 20px;
		width:85%;
	}
	.disclaimerAlert .enterButton .btn{
		font-size: 24px;
	}
}
@media (min-width: 1245px) and (min-height: 700px){
	.disclaimerAlert div.disclaimerAlertMessage{
		font-size: 24px;
	}
	.disclaimerAlert .enterButton .btn{
		font-size: 28px;
	}
}
/*@media (min-width: 1479px) and (min-height: 700px){
	.disclaimerAlert div.disclaimerAlertMessage{
		font-size: 28px;
	}
	.disclaimerAlert .enterButton .btn{
		font-size: 32px;
	}
}*/