html {
	position:relative;
	min-height:100%;
}
body {
	margin-bottom:250px;
    font-size: 15px;
    font-size: 1.5rem;
    color: #444;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow-x: hidden;	
}
a, a:hover, a:active, a:focus { 
	color: #9a2513;
}
h1 {
	font-size: 24px;
    font-size: 2.4rem;
    color: #444;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform:none;
}
h1 i {
	font-size: 20px;
	color: #444;
}
h2 {
    color: #444;
    font-family: 'Montserrat', sans-serif;
}
h3, .multisearch h3 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color:#444;
}
h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
}
h5 {
	color:#444;
	font-size:13px;
}
h6 {
	font-weight:bold;
	padding-bottom:2px;
}
.page {
  margin: 0
}
.wrapper {
  /*max-width: 1160px;*/
  margin: 0 auto;
  position: relative;
}

.content-wrapper {
  float: right;
  width: 100%;
  margin-bottom:250px;
}
.content-inner {
  margin-left: 250px;
  clear: both;
  overflow: auto;
  min-height: 700px;
  background-color:#f2ede8;
}
.content-inner > .container {
    background-color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom:20px;
    min-height:645px;
}
.sidebar {
  position: relative;
  width: 250px;
  margin-right: -250px;
  float: left;
  overflow: hidden;
  color: #eee;
  min-height: 700px;
  /*box-shadow: 1px 0px 7px #ccc;*/
}
#footer {
	width:100%;
	padding-left:15px;
	padding-right:15px;
	bottom:0px;
	position:absolute;
	height:250px;
	border:0px;
	background-color:#fff;
	margin-bottom:0px;
    border-top: 7px solid #444;
    padding-top: 30px;
    padding-bottom: 40px;
    color:#444;
}
#footer p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 24px;
    line-height: 2.4rem;
}
.col.flush-left, .mcol.flush-left, .scol.flush-left, .column.column-number-1 {
    margin: 0 3% 0 0;
}
.two {
    width: 13.66667%;
}
.three {
    width: 22%;
}
.five {
    width: 38.66667%;
}
.col, .mcol, .scol, .column {
    position: relative;
    float: left;
    margin: 0 1.5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.footer-col.three {
    padding-left: 4%;
}
.footer-col strong {
    color: #9a2513;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 15px;
    font-size: 1.5rem;
    display: block;
    font-family: 'Lato', sans-serif;
}
#footer ul.social-links {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
}
ul.social-links li {
    display: inline-block;
    font-size: 25px;
    font-size: 2.5rem;
    color: #9b9b9b;
    transition: color .1s;
    list-style-type:none;
}
ul.social-links li .fa {
	color:#fff;
	background-color: #9a2513;
	padding:5px;
	font-size: 16px;
    border-radius: 14px;
    width: 26px;
}
ul.social-links li .fa.fa-facebook {
	padding-left:8px;
}
ul.social-links li .fa.fa-youtube {
	padding-left:6px;
}
ul.social-links li.join a {
    font-size: 12px;
    font-size: 1.2rem;
    margin-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #9a2513;
    color: #ffffff!important;
    padding: 5px;
}
.footer-col img {
    max-width: 75%;
    max-height: 25px;
    margin-bottom: 15px;
} 
.navbar {
	box-shadow:none;
	margin-right:7px;
	margin-bottom:0px;
}
@media (min-width: 768px) {
	.navbar-nav > li {
		float: none;
	}
}
.sidebar .searchForm {
	clear:both;
	padding-top:20px;
}
.sidebar .formOutline  {
	clear:both;
	padding-top:0px;
	background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: white;
    margin-left:25px;
    margin-right:25px;
    
}
.sidebar .form-group {
	margin-bottom:5px;
}
.sidebar .form-control {
	box-shadow:none;
	border:0px;
	width: calc(100% - 26px);
	float:left;
	height: 32px;
}
.sidebar .searchForm .btn-search {
    padding-top: 8px;
    padding-bottom: 0px;
}
.sidebar .nav a, .sidebar .nav a:hover, .sidebar .nav a:active, .sidebar .nav a:focus {
    color: #444;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: block;
    padding: 20px 0px 0px 0px;
    background-color:transparent;
}
.sidebar .menuLinks {
	padding-left:25px;
	margin-top:15px;
}

/* Front */

.front H1 {
	font-size:20px;
	color:#444;
}

/* Search */

.multisearch #objectsBlock .multisearchResult {
	font-size:12px;
	box-shadow:none;
	border:2px solid #eee;
	width:220px;
	height:205px;
	line-height:1.3em;
}
.multisearch h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #9a2513;
}
.multisearch H3 a, .multisearch H3 a:hover {
    text-decoration: none;
    color: #9a2513;
}
.multisearchFullResults a, .multisearchSort ul li a {
	color: #9a2513;
	text-transform:none;
}
.multisearchImgPlaceholder {
	border:0px;
	padding-top:35px;
	padding-bottom:35px;
}
.multisearch #objectsBlock .blockResults {
	height:230px;
}


/* Advanced Search */

.advancedContainer {
	margin-top:10px;
}
.advancedSearchField {
	margin-bottom:10px;
}
.advancedSearchField .formLabel {
	text-transform:uppercase;
	color:#454545;
	font-size:11px;
	font-weight:bold;
}
.advancedFormSubmit {
	margin-bottom:20px;
	margin-right:20px;
	text-align:right;
}
.advancedFormSubmit a:hover {
	text-decoration:none;
	color: #fff;
}
.advancedFormSubmit span {
	display: inline-block;
}
.advancedSearchField input, .advancedSearchField textarea, .advancedSearchField select {
	width:100% !important;
	resize:none;
	line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
    font-size: 12px;   
    padding: 5px 10px;
    color: #555555;
} 
.advancedSearchField select {
	height:30px;
}
div.advancedSearchField {
	width:100%;
}
.advancedSearchField .attributeListItem {
	width:100%;
}
.btn-default, .btn-default:hover, .browse .btn, .sets .btn {
    font-size: 12px;
    font-size: 1.2rem;
    margin-top: 2px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #9a2513;
    color: #ffffff!important;
    padding: 3px 5px 3px 5px;
    border-radius:0px;
    border:0px;
    font-family:lato;
}	
.btn-default a, .btn-default:hover a {
	color: #ffffff!important;
}
.results a .btn .glyphicon {
	color: #ffffff!important;
}

/* Browse */
.browseMenuFacet {
	padding-bottom:0px;
	margin-bottom:0px;
}
.filterMenuResults div div.row {
	max-height:none;
	padding-right:15px;
}
.filterMenuResults {
	padding:0px;
}
.filterMenuFacetList {
	padding-left:5px;
}
.filterMenuFacetList li a {
	text-transform:uppercase;
	color:#444;
	font-family:montserrat;
	font-size:13px;
}
.filterMenuFacetList li.active {
    background-color: #eee;
}
.filterMenuFacetList li {
	margin-left:-5px;
}
@media (min-width: 768px) {
	div.browseFacetItem a {
		display: block;
		height: 50px;
	}
}
div.browseFacetItem a:hover {
	color: #9a2513;
}
#bRefine {
	background-color:#f5f5f5;
}
.bResultItem {
	box-shadow:none;
	border:2px solid #eee;
}
.bResultItemImgPlaceholder {
	border:0px;
}
div.browseFacetItem.letterHeader {
	background-color:#e7e7e7;
}	

/* detail */

.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color:transparent;
}
.detail a h4 {
	margin-top:20px;
	border-top:1px solid #ededed;
	padding-top:7px;
}
.detail a h4 .fa {
	color:#ccc;
	font-size:13px;
}
.drawer {
	display:none;
	margin-bottom:20px;
}
.notes p {
	line-height:1.8em;
}

/* Lightbox */

.lbSet {
	box-shadow:none;
	border:2px solid #ededed; 
}
.lbSet h5 {
	font-weight:bold;
}
.lbItem, .bResultListItem {
	box-shadow:none;
	border:2px solid #eee;
}
.bResultListItem:hover {
	box-shadow:none;
}
.lbItem p, .bResultItemText p, .bResultListItemContent p {
	padding-bottom:3px;
	margin-bottom:0px;
}
.lbSetImgPlaceholder {
	border:0px;
}
.bResultListItemContent:hover .fa-2x, .bResultListItemContent .fa-2x{
    font-size: 18px;
}
.bResultListItem:hover .bResultListItemContent, .bResultListItem:hover {
	height:auto;
}	
.bResultListItemExpandedInfo {
	box-shadow:none;
}
.bResultListItemCol:hover {
    z-index: 100000;
}
#bRefine a {
	color:#444;
}
.bResultListItem .bResultListItemText a, .bResultItem .bResultItemText a {
	color:#444;
}

/* static page */

.staticPage p {
	line-height:1.8em;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #000 !important;
    background: #ddd !important;
    font-weight: bold !important;
    color: #333 !important;
}
.ui-state-hover, .ui-widget-content {
	font-size:12px;
}

h6 .teachingpoint {
	text-transform:none;
	font-weight:normal;   
}

