<div role="main" id="main">
<h1>{{{title}}}</h1>
<h2>{{{subtitle}}}</h2>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="bodytext">
            {{{bodytext}}}
        </div>
    </div>
</div>
</div>
