body {
	font-family:"franklin gothic";
	color:#000;
}
a {
	color:red;
}
a:hover {
	color:#333;
}
h1, h2, h3, h4, h5 {
	font-family:"franklin gothic";
}
h1{
	color:red;
}
h2 {
	color:black;
}
h4 {
	font-size:18px;
	color:#000;
}
h6 {
    color: #000;
    font-family: "franklin gothic";
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom:8px;
}
label {
	font-size:13px;
	color:#000;
}
.notificationMessage, .notificationInfo, .alert-danger {
	border:0px;
	background-color:#f5f5f5;
	color:red;
}
.notificationMessage a, .notificationInfo {
	color:red;
}
.btn-default, .browse .btn, .sets .btn {
	padding:5px 7px 4px 7px;
	border:2px solid #000;
	color: #000;
	text-transform:uppercase;
	border-radius:0px;
	font-size:14px;
}
.btn-default:hover {
	background-color:#fff;
	border:2px solid red;
	color:red;
}
.form-control {
	border:2px solid black;
	border-radius:0px;
}
.form-control:focus {
	border:2px solid red;
}
.navbar {
	box-shadow:none;
	border-bottom:2px solid #000;
}
.navImage img{
    height: 62px;
    width: auto;
    padding-top: 5px;
    margin-left: 15px;
}
.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:active, .navbar-nav > li > a:focus {
	padding-right:25px;
	padding-top:20px;
	font-family:"franklin gothic";
	font-size:18px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color:red;
}
.nav > li.dropdown > a.icon {
	padding:12px;
}
.navbar-brand {
	width: 150px;
	padding-bottom:3px;
}
.navbar-nav > li > .dropdown-menu {
	border:2px solid #000;
	box-shadow:none;
	border-top:0px;
	margin-top:0px;
}
.navText {
	text-transform:uppercase;
	font-size:18px;
	display:inline-block;
	padding-top:20px;
}
a .navText {
	color:#000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color:#fff;
	color:red;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color:#fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color:red;
	background-color:transparent;
}
.dropdown-header {
	color:#000;
}
.user-button {
	margin-right:20px;
}
/*
.user-button {
	height:40px;
	width:55px;
	background-image:url('../graphics/haring_baby.jpg');
	background-size: 55px 40px ;
}
.user-button:hover {
	background-image:url('../graphics/haring_baby_red.jpg');
}
*/
#pageArea {
	min-height:600px;
}


/* Homepage */

.banner img {
	width:100%;
	height:auto;
}
.front h1 {
	padding-top: 20px;
	color:#000;
	padding-left:0px;
	font-size:22px;
}
.userSets a {
	font-size:16px;
	font-weight:bold;
}
.myBoxes {
	background-color:#f5f5f5;
	min-height:300px;
	margin-right:15px;
	padding:5px 15px 15px 15px;
}
.setDescription {
	font-weight:normal;
	margin-bottom:10px;
}

/* Login */

.loginreg #LoginForm{
    margin: 0px auto;
    max-width: 800px;
    margin-top:50px;
    padding: 20px;
    margin-bottom: 50px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color:#fff !important;
}
#footer {
    color: #000;
    border-top: 2px solid #000;
	padding:10px 15px 20px 15px;
	margin-left:0px;
	margin-right:0px;
}
#footer a {
	color:red;
}
#footer .powered {
	font-weight:normal;
}

/* Lightbox */

.sets .warning {
	background-color:#f5f5f5;
	border-radius:0px;
	color:#000;
	font-size:14px;
	margin-bottom:20px;
}
.lbItem {
	box-shadow:none;
	border:2px solid #000;
}
.lbItem hr {
	border-top:2px solid #000;
	margin-bottom: 5px;
	margin-top:10px;
}
.lbItem .lbExpandedInfo a{
	font-size:14px;
	color:#000;
}
.lbItem .caption {
	font-size:13px;
	color:#000;
}
.lbSet.readSet {
	background-color:#fff;
	box-shadow:none;
	border:2px solid #000;
}
.lbSet h5 {
	font-size:16px;
}
.lbSet h5 a {
	color:#000;
}
.lbSetThumbPlaceholder {
	border:0px;
}
.lbItemContainer .lbExpandedInfo, .lbSetExpandedInfo, .lbSetExpandedInfo a {
	color:#000;
	font-size:14px;
}
.lbSetImgPlaceholder {
	border:0px;
}
.lbSetItemComment {
	box-shadow:none;
	border-right:2px solid #000;
	border-bottom:2px solid #000;
	border-top:2px solid #000; 
	margin-top:-2px;
}
.lbItemContainer .lbSetItemComment {
    padding-top: 25px;
    padding-bottom: 245px;
}
.lbItem .closecomment a, .lbSet .closecomment a {
	color:#000;
	font-size:14px;
}
.lbItemContainer .lbItem:hover .lbSetItemComment{
	padding-bottom: 289px;
}
blockquote {
	border-left:0px;
	padding-left:0px;
}
.lbSetCommentHeader {
	border-top:0px;
}
blockquote small:before {
	content: '\00A0';
}
.lbSetCommentHeader {
    padding-left: 4px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0px;
}
.lbSetCount {
	color:#000;
}
h1 i {
	color:#000;
}
.info {
	padding-left:30px;
}

/* Detail */

.unit {
	font-size:13px;
	line-height:20px;
	margin-bottom:20px;
}
.detail HR {
	border-top:2px solid #000;
}
.typename {
	font-size: 13px;
    padding-top: 5px;
}
.detailMediaToolbar {
	display:none !important;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color:#000;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small {
	color:#fff;
	font-size:12px;
}
.detail .detailNavBgLeft a, .detail .detailNavBgRight a {
	color:#fff;
	font-size: 24px;
}

