html {
	min-height:100%;
	position:relative;
}
body {
	margin-bottom:150px;
	font-family:"Source sans pro";
	line-height:1.6em;
	background-color:#fff;
}
#pageArea {
	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family:"Source sans pro";
	text-transform:uppercase;
}
h1 {
	letter-spacing:1px;
	color:#444;
	font-weight:bold;
	margin-bottom:15px;
}
h2 {
	font-size: 20px;
    color: #333;
    margin-top: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
h6 {
	padding-bottom:3px;
	color:#444;
	font-weight:bold;
	font-size:13px;
}
img {
	width:100%;
	height:auto;
}
a {
	color: #000;
}
a:hover {
	color: #444;
}
.form-control:focus {
    border-color: #000000;
}
#footer {
	height:100px;
	width:100%;
	padding-left:15px;
	padding-right:15px;
	bottom:0px;
	position:absolute;
	margin-bottom:0px;
	background-color:#444;
	margin-top:40px;
	color:#fff;
}
#footer ul a, #footer a {
	color: #fff;
}
#footer .homeLink{
	font-size:16px;
	margin-top:10px;	
}
#footer .homeLink a{
	text-decoration:none;
}
#footer .homeLink a:hover{
	text-decoration:underline;
}
.navbar {
	background-color: #444;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family:"Source sans pro";
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:1px;
}
.dropdown-menu > li > a {
	letter-spacing:1px;
	font-weight:bold;
	text-transform:uppercase;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color:#f7f7f7;
	color:#444;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar .formOutline {
	border:0px;
	border-radius:0px;
	border: 2px solid #fff;
	color:#fff;
	background-color:#fff;
}
.navbar .form-control {
	background-color:transparent;
}
.navbar .form-control input {
	color:#fff;
}
.navbar::placeholder {
	color:#fff !important;
}
.navbar .btn-search{
	background-color:transparent;
	color:#444;
}
.nav > li.infoLink > a {
	font-size:20px;
	padding-right:0px;
	padding-top:16px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #FFF;
    font-size:24px;
    width:auto;
    padding-top:15px;
}
/* Slideshow */

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}
.frontSlideCaption a {
	color: #000;
}

/* ------------------- Carousel Styling ------------------- */


.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
#myCarousel .carousel-control {
	width: 5%;
}
#myCarousel .glyphicon-chevron-left, #myCarousel .carousel-control .glyphicon-chevron-right {
	top: 45%;
}
.carousel-control.right {
	right:20px;
}	


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}
.carousel {
	margin-top:-20px;
}
.carousel-inner {
	max-height:500px;
	overflow:hidden;
}
.front hr {
	background-color: #eee;
	height:2px;
	width:100%;
}
.frontTile {
	padding:0px;
	background-color: #aaa;
	margin-bottom:30px;
	height:268px;
}
.tileCaption {
	color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
}
.newTile {
	padding:0px;
	background-color: #efefef;
	margin-bottom:20px;
	height:388px;
}
.newTile .tileCaption, .newTile .tileCaption a {
	color:#444;
}
.newTile .tileCaption a:hover {
	text-decoration:none;2
}
.newTile .tileCaption p {
	text-transform:none;
	font-size:12px;
	font-weight:normal;
}
.front .pageText {
	font-size: 16px;
    line-height: 1.8em;
}
.tileImageWrapper {
	margin-bottom:10px;
	height: 150px;
    width: 100%;
}
.tileImage {
	vertical-align: middle;
	height: 150px;
	overflow: hidden;
}
.titleCaption {
	padding-left:10px;
	padding-right:10px;
}
.titleCaption a{
	color:#fff;
	font-weight:bold;
	font-size:16px;

}
/* Browse */

.filterbylabel {
    color: #444;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing:1px;
}
.browseMenuFacet {
	padding-bottom:0px;
	margin-bottom:0px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
	margin-top:2px;
	border-top:0px;
	background-color: rgba(255, 255, 255, 1);
}
.filterMenuFacetList li a {
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:bold;
}	
.filterMenuFacetList li a:hover {
	text-decoration:none;
}
div.browseFacetItem {
	background-color: #f5f5f5;
	font-size:13px;
}
div.browseFacetItem a {
	font-size:13px;
}
.filterMenuFacetList ul {
	margin-left:-5px;w
}
.filterMenuFacetList li {
	margin-bottom:10px;
	border-radius:0px;
}
.filterMenuFacetList li a {
	color:#444;
}
.filterMenuFacetList li.active {
	background-color:#444;
}
.filterMenuFacetList li.active a {
    color: #fff;
}
@media (min-width: 768px) {
	.browsedivider {
		padding-bottom: 12px;
	}
}
.browseMenuBrowseSearch .form-control, .browseMenuBrowseSearch .form-control:active, .browseMenuBrowseSearch .form-control:focus {
	font-size:14px;
}
.browseMenuBrowseAll .btn-default, .btn-default, .btn-default:hover, .browse .btn, .btn-default:active, .btn-default:focus {
	background-color:#444;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	letter-spacing:1px;
	border:0px;
	border-radius:0px;
}
.browse .btn, .sets .btn {
    background-color: #444;
}
.btn-default a {
	color:#fff;
}
div.browseMenuBrowseAll {
	bottom:0;
	margin-bottom:1px;
}
.filterMenuResults div div.row {
	max-height:445px;
}
.bResultItem .bResultItemText small, .bResultItem .bResultItemText small a {
	text-transform:uppercase;
	color:#999;
	font-weight:bold;
}
.bResultItem .bResultItemText {
	font-size:13px;
}

/* Advanced Search */

.advancedContainer {
	margin-top:10px;
}
div.advancedSearchField {
	margin-bottom:10px;
	width:100%;
	float:none;
}
.advancedSearchField .formLabel {
	text-transform:uppercase;
	color:#454545;
	font-size:11px;
	font-weight:bold;
}
.advancedFormSubmit {
	margin-bottom:20px;
	margin-right:20px;
	text-align:right;
}
.advancedFormSubmit a:hover {
	text-decoration:none;
	color: #fff;
}
.advancedFormSubmit span {
	display: inline-block;
}
.advancedSearchField input, .advancedSearchField textarea, .advancedSearchField select {
	width:100% !important;
	resize:none;
	line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
    font-size: 12px;   
    padding: 5px 10px;
    color: #555555;
} 
.advancedSearchField select {
	height:30px;
}
.attributeListItem {
	width:100%;
}
.results h1 {
	margin-bottom:15px;
}

/* Gallery */

.gallery {
	font-size:14px;
}
.gallery .galleryItem {
	background-color:#f5f5f5;
}
.galleryWindow {
	background-color:#f5f5f5;
	padding-top:15px;
	margin-bottom:25px;
}
.gallery .galleryItem {
	box-shadow:none;
}
.gallery .unit {
    margin-bottom: 12px;
}
.gallery H2{
	margin-bottom:20px;
}

/* Detail */

#collectionLoad img {
	width:auto;
	height:auto;
}
.collectionsContainer .label, #collectionLoad .label, #collectionLoad .label a,
.collectionsContainer a .fa, .collectionsContainer .fa, #collectionLoad a .fa, #collectionLoad .fa {
	color:#444;
}
.detail a {
	color:#444; 
	text-decoration:underline;
}
.detail {
    font-size: 14px;
}
.collectionsContainer a.openCollection.active {
	background-color:#aaa;
}
.detail H6 a {
	color:#444;
	font-size:13px;
}
.singleImage {
	background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    line-height: 1em;
    padding: 10px;
}
.singleImage img {
	margin-bottom:10px;
}
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
	font-size:16px;
	padding-top:5px;
}
.detail .detailMediaToolbar {
	padding-right:12px;
}
