/* green #00AE58, dark green #009447 green link: #00964c; very light green #C1EAD4; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,400italic);
html, body {
    font-size: 100%;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
#stickyFooter{
	position: absolute;
  	bottom: 0px;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 60px;
}
.clearfix {
	width:100%;
	clear:both;
}
.btn-default, .btn-default:hover, .browse .btn, .sets .btn{
	background-color:#009447;
}
.black{
	color:#000;
}
.green{
	color:#00AE58;
}
i.trefoilPlaceholder{
	display: inline-block;
	background-image:url("../graphics/trefoilPlaceholder.png");
	background-size:cover;
}
i.trefoilPlaceholder.largePlaceholder{
	width:154px;
	height:150px;
}
@media (min-width: 768px) {
	i.trefoilPlaceholder.largePlaceholder{
		width:308px;
		height:300px;
	}
}
i.trefoilPlaceholder.smallPlaceholder{
	width:105px;
	height:102px;
}
.bResultItemImgPlaceholder {
    background-color: #ffffff;
    border: 0px;
    padding-top: 40px
}
.bResultListItemImg .bResultItemImgPlaceholder{
	padding:0px 5px 0px 0px;
}
.bResultListItemImg i.trefoilPlaceholder.smallPlaceholder {
    width: 75px;
    height: 72px;
}
.detail .detailMediaPlaceholder {
    padding-top: 75px;
    padding-bottom: 75px;
}
.container, .navbar{
	max-width:960px;
}
#pageArea{
	padding-top:20px;
}
#pageArea.front{
	padding-top:0px;
}
.navbar{
	box-shadow:none;
	border:0px;
	margin-left:auto;
	margin-right:auto;
	min-height:auto;
	margin-bottom:0px;
	background-color:#009447;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 80px;
}
.topHeader{
	background-color:#00AE58;
	padding-top:22px;
	padding-left:7px;
	padding-bottom:22px;
}
@media (max-width: 768px) {
	.topHeader{
		padding-left:0px;
	}
	.topHeader div{
		text-align:center;
	}
}
.navbar-brand {
	max-width:168px;
	margin:0px;
	padding:0px;
	float:left
}
@media (max-width: 768px) {
	.navbar-brand {
		float:none;		
	}
	.navbar-brand img{
		max-width:168px;
		margin-bottom:10px !important;
	}
	.subTitle{
		margin-top:10px;
	}
}

.subTitle{
	font-size:17px;
	color:#FFFFFF;
	text-transform:uppercase;
	line-height:1.3em;
}
body {
	color: #222;
	cursor: auto;
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
}
a, .detail a {
	color:#00AE58;
}
a:hover, a:focus, .detail a:hover {
	color:#00AE58;
}

H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6{
    color: #222222;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    text-rendering: optimizeLegibility;
    text-transform:none !important;
}
h1 {
    font-size: 2rem;
}
.staticPage h1 {
    font-size: 2.75rem;
}



.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family: "Open Sans", Arial, sans-serif;
    font-size:1rem;
	color:#C1EAD4;
	text-transform:uppercase;
}
.nav > li > a:hover, .nav > li > a:focus{
	color:#FFFFFF !important;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}
.navbar-nav > li > a {
    line-height: 1.875rem;
	padding: 0 0.625rem;
}   
   
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #009447 !important;
  color:#FFFFFF;
}
.navbar-default .navbar-nav > .open > a {
  background-color: #009447 !important;
  color:#FFFFFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #009447;
}
.navbar-default .navbar-nav > li > a {
  color: #C1EAD4;
}
.navbar .navbar-nav > .active > a {
    background-color: #009447;
    color: #FFFFFF;
}
.navbar-form .formOutline{
	border:0px;
	background-color:#FFFFFF;
	border-radius:none;
	display:inline-block;
}
.navbar .formOutline{
	border-radius:0px !important;
}
.navbar-form .formOutline input{
	border:0px;
	box-shadow:none;
	font-family: "Open Sans", Arial, sans-serif;
}
.headerForm.navbar-form{
	margin-right:0px;
	padding-right:0px;
	margin-bottom:0px;
}
.headerForm input.form-control{
	padding:0px 5px 5px 5px !Important;
	height:auto;
}
.headerForm .btn-search{
	padding:0px 5px 0px 5px !Important;
	height:auto;
}
.headerForm{
	display:none;
}
.navbarForm{
	display:block;
}
@media (min-width: 768px) {
	.headerForm{
		display:block;
	}
	.navbarForm{
		display:none;
	}
}
.navbar-header button{
	border:0px;
	margin:0px !important;
}
.icon-bar{
	background-color:#FFFFFF !important;
}
.navbar-header button:hover{
	background-color:#009447 !important;
}
#footerGreen{
	border:0px;
	background-color:#00AE58;
	color:#C1EAD4;
	font-size: 12px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}
#footerGreen a, #footerGreen ul a{
	color:#C1EAD4;
	font-size: 12px;
}
#footerGreen a:hover, #footerGreen ul a:hover{
	color:#FFFFFF;
}
@media (min-width: 768px) {
	#footerGreen .footerRight{
		float:right;
		text-align:right;
	}
	#footerGreen, #footerGreen a, #footerGreen ul a{
		font-size: 13px;
	}
	#footerGreen{
		text-align:left;
	}
}

/* FRONT */
.front .jcarousel-wrapper{
	margin-left:-15px;
	margin-right:-15px;
	margin-bottom:40px;
}
.front .jcarousel-control-prev{
	left:0px !important;
}
.front .jcarousel-control-next{
	right:0px;
}
.front .jcarousel-control-next, .front .jcarousel-control-prev, .gallery .galleryDetailPrevious, .gallery .galleryDetailNext{
	opacity: .5;
	background-color:#000;
	height:auto;
	padding-top:18px;
	padding-bottom:18px;
	width:50px;
}
.frontSlideCaption, .frontSlideCaption a{
	font-weight:normal;
	font-size:12px;
	line-height:1.2em;
}
.force_break{
	display:none;
}
@media (max-width: 767px) {
	.force_break{
		display:block;
	}
	.frontSlideCaption{
		background-color:transparent !important;
		color:#000;
		position:relative !important;
		opacity:1 !important;
		display:inline !important;
		width:auto !important;
	}
	.frontSlideCaption a{
		color:#00964c;
	}
}
.front H1{
	color:#222222;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1.6rem;
	padding:0px !important;
}
.front .nav-pills > li > a {
    background-color: #009447;
    padding: 10px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size:1rem;
	color:#C1EAD4;
}
.front .nav-pills > li > a:hover {
    background-color: #00AE58;
    padding: 10px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size:1rem;
	color:#FFFFFF;
}

.lbSet h5{
	height:1.2rem;
}

#caFormOverlay H1{
	font-size:1rem;
	background-color:#00AE58;
	color:#FFFFFF;
	padding:15px;
	margin:-20px -15px 15px -15px;
	text-transform:uppercase !important;
}
#caFormOverlay .glyphicon-remove-circle {
	color:#FFF;
}
.detail {
    color: #222222;
}
.detail .detailTool span, .detail .detailTool i {
    color: #00AE58;
}
.detail H4{
	font-size:16px;
}
.detail H6{
	text-transform:uppercase !important;
	margin-bottom:0px;
	margin-top:10px;
	font-size:12px;
}
.detail HR {
	border-top:1px solid #222;
}
.detail .component{
	margin-bottom:10px;
	clear:left;
}
.detail .componentThumbnail{
	float:left;
	margin: 0px 10px 10px 0px;
	
}
.detail .component .small{
	font-size:10px;
}
.detail .componentDescSpacer{
	margin-top:5px !important;
}
.popover{
	max-width:1000px !important;
	width:auto !important;
}
.navLeftRight{
	text-align:right;
	margin-top:-20px;
	height:25px;
	padding-right:0px;
}
.navLeftRight a{
	text-transform:uppercase;
	font-size:11px;
	text-decoration:none;
    padding-left:10px;
}
.detail .navTop a {
    background-color: #009447;
    color: #FFF;
    padding-right:12px;
    padding-left:12px;
}
.form-control:focus{
	border:1px solid #00AE58;
}


a.readmore-js-toggle{
	padding-top:0px;
}
/* Collections/Finding Aid */
.collectionsList a{
	font-size:16px;
    font-weight: bold;
    color: #00AE58;
    text-decoration: none;
}
.collectionsList{
	font-size:13px;
}
#collectionLoad div a, #collectionLoad div .nonLinkedCollection{
	font-size:16px;
}
.collectionsContainer a, .collectionsContainer .listItem{
	font-size:16px;
}
.collectionsContainer p{
	font-size:13px;
}
#collectionLoad p{
	font-size:13px;
}
.collectionsContainer a.openCollection.active{
	background-color:#009447 !important;
}
.detail.collections .detailTool{
	padding-left:0px;
}

/* About */
address{
	font-size:13px;
}

/* timeline */
h2.tl-headline a, h2.tl-headline {
	color:#00AE58 !important;
	font-size:14px !important;
	line-height:1.1em !important;
}
h2.tl-headline {
	color:#000 !important;
}
.tl-text-content{
	font-size:12px !important;
}
/* gallery */
.gallery H4, .gallery H4 a {
    text-transform: none !important;
}