/* green #00AE58, dark green #009447 green link: #00964c; very light green #C1EAD4; */
/* magenta: #ec008b; navy: #004e9a; blue (daisies): #00abe6; gsgreen: #00ae58, purple (junior cookie) #6e298d, red: #ee3124, orange ambassador: #faa61a */
@font-face {
 font-family: Trefoil;
 src: url("fonts/TrefoilSans-Regular.eot") format("embedded-opentype"),
        url("fonts/TrefoilSans-Regular.woff") format("woff"),
        url("fonts/TrefoilSans-Regular.woff2") format("woff2");
}
@font-face {
 font-family: Trefoil;
 src: url("fonts/TrefoilSans-Bold.eot") format("embedded-opentype"),
        url("fonts/TrefoilSans-Bold.woff") format("woff"),
        url("fonts/TrefoilSans-Bold.woff2") format("woff2");       
 font-weight: bold;       
}
@font-face {
 font-family: Trefoil;
 src: url("fonts/TrefoilSans-RegularIt.eot") format("embedded-opentype"),
        url("fonts/TrefoilSans-RegularIt.woff") format("woff"),
        url("fonts/TrefoilSans-RegularIt.woff2") format("woff2");     
 font-style: italic;       
}
@font-face {
 font-family: Trefoil;
 src: url("fonts/TrefoilSans-BoldIt.eot") format("embedded-opentype"),
        url("fonts/TrefoilSans-BoldIt.woff") format("woff"),
        url("fonts/TrefoilSans-BoldIt.woff2") format("woff2");      
 font-style: italic;
 font-weight: bold;        
}
@font-face {
 font-family: Trefoil;
 src: url("fonts/TrefoilSans-Light.eot") format("embedded-opentype"),
        url("fonts/TrefoilSans-Light.woff") format("woff"),
        url("fonts/TrefoilSans-Light.woff2") format("woff2");      
 font-weight: 200;        
}
@font-face {
 font-family: Trefoil;
 src: url("fonts/TrefoilSans-SemiBold.eot") format("embedded-opentype"),
        url("fonts/TrefoilSans-SemiBold.woff") format("woff"),
        url("fonts/TrefoilSans-SemiBold.woff2") format("woff2");      
 font-weight: 500;        
}

html, body {
    font-size: 100%;
}
html {
  position: relative;
  min-height: 100%;
  letter-spacing:1px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

#stickyFooter{
	position: absolute;
  	bottom: 0px;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 60px;
}
#pageArea{
	padding-top:190px;
}
.initial #pageArea{
	padding-top:0px;
}
.initial #pageArea.detail, .initial #pageArea.results, .initial #pageArea.front{
	padding-top:40px;
}
@media (max-width: 768px) {
	#pageArea, .initial #pageArea{
		padding-top:0px;
	}
}
.clearfix {
	width:100%;
	clear:both;
}
.container{
	max-width:950px;
}
.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus, .browse .btn, .sets .btn{
	background-color:#009447;
	font-family:Trefoil;
	font-size:20px;
	font-weight:200;
	text-decoration:none;
}
.btn-sm, .btn-sm:hover, .btn-sm:active, .btn-sm:focus{
	font-size:14px;
}
.results .btn, .results strong {
	font-size:12px;	
	line-height: 1rem;
	margin:1px 5px 1px 0px; 
	padding:4px 5px 5px 5px;  
}
.results strong {
	vertical-align: middle;
}
.black{
	color:#000;
}
.green{
	color:#00AE58;
}
.bgRed{
	background-color: #ee3124;
}
.bgGreen{
	background-color: #00ae58;
}
.bgDarkBlue{
	background-color: #004e9a;
}
.bgLightBlue{
	background-color: #00abe6;
}
.bgPurple{
	background-color: #6e298d;
}
.bgPink{
	background-color: #ec008b;
}

.navbar{
	box-shadow:none;
	border:0px;
	min-height:auto;
	margin-bottom:0px;
	background-color:#00ae58;
}
/*.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 80px;
}*/
.headerContainer{
	max-width:none;
	position: fixed;
	z-index: 1000;
	width: 100%;
	background-color:#2fb56a;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	padding-left:0px;
	padding-right:0px;
}
.initial .headerContainer{
	position:relative;	
	-webkit-box-shadow:none;
	padding-left:15px;
	padding-right:15px;
}
.topHeader{
	background-color:#2fb56a;
	padding-top:10px;
	padding-left:7px;
	padding-bottom:10px;
	width:100%;
}
.initial .topHeader { 
	position: relative;
	width:auto;
	padding-top:22px;
	padding-bottom:22px;
}
@media (max-width: 768px) {
	.topHeader{
		padding-left:0px;
		padding-bottom:0px;
		width:50%;
		float:left;
		position:relative;
		z-index:3000;
	}
	.topHeader div{
		text-align:center;
	}
}
.navbar-brand {
	max-width:108px;
	margin:0px 0px 0px 0px;
	padding:0px;
	float:left;
	z-index: 4000;
    position: relative;
}
.navbar-brand.initialLogo {
	max-width:168px;
}
@media (max-width: 768px) {
	.navbar-brand img{
		max-width:108px;
		margin-bottom:5px;
	}
	.navbar-brand.initialLogo {
		max-width: 108px;
	}
	.subTitle{
		margin-top:10px;
	}
}

.subTitle{
	font-size:17px;
	color:#FFFFFF;
	text-transform:uppercase;
	line-height:1.3em;
}
body {
	color: #222;
	cursor: auto;
	font-family: Trefoil, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
}
a, .detail a {
	color:#00AE58;
}
a:hover, a:focus, .detail a:hover {
	color:#00AE58;
}

H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6{
    color: #222222;
    font-family: Trefoil, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    text-rendering: optimizeLegibility;
    text-transform:none !important;
}
h1 {
    font-size: 2rem;
    font-weight:200;
}
.gallery h1, .contact h1, .sets h1, .collections.landing h1, h1.discover, .staticPage h1 {
    font-size: 3rem;
    font-weight:500;
}
@media (max-width: 768px) {
	h1 {
		font-size: 1rem;
		font-weight:200;
	}
	.staticPage h1, .gallery h1, .contact h1, .sets h1, .collections.landing h1, .staticPage h1 {
		font-size: 1.5rem;
		font-weight:500;
	}
}
.staticPage p {
	font-size:1.0625rem;
	letter-spacing:0px;
	line-height:1.5625rem;
}
.staticPage address a.btn-default span.glyphicon{
	font-size:15px;
}
.staticPage address {
    font-size: .9rem;
}


/* nav bar */
/* links */
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family: Trefoil, Arial, sans-serif;
    font-size:.9rem;
	color:#C1EAD4;
	text-transform:uppercase;
}
.initial .nav > li > a, .initial .nav > li > a:hover, .initial .nav > li > a:focus {
	font-size:1rem;
}
.nav > li > a:hover, .nav > li > a:focus{
	color:#FFFFFF !important;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}
.navbar-nav > li > a {
    line-height: 1.875rem;
	padding: 0 0.4rem;
}
.initial .navbar-nav > li > a {
    line-height: 1.875rem;
	padding: 0 0.625rem;
}      
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #009447 !important;
  color:#FFFFFF;
}
.navbar-default .navbar-nav > .open > a {
  background-color: #009447 !important;
  color:#FFFFFF;
}
.navbar-default .navbar-nav > li > a {
  color: #C1EAD4;
}
.initial .navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
@media(max-width:768px){
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #FFFFFF;
	}
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #2fb56a;
}
.navbar .navbar-nav > .active > a {
    background-color: #2fb56a;
    color: #FFFFFF;
}
.initial .navbar-default .navbar-nav > .active > a, .initial .navbar-default .navbar-nav > .active > a:hover, .initial .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #009447;
}
.initial .navbar .navbar-nav > .active > a {
    background-color: #009447;
    color: #FFFFFF;
}
.dropdown-menu {
	font-size:14px;
}
.nav .dropdown .dropdown-menu {
	text-align:left;
}
.navbar-form .formOutline{
	border:0px;
	background-color:#daeddd;
	border-radius:none;
	display:inline-block;
	z-index: 4000;
	position: relative;
}
.navbar .formOutline{
	border-radius:0px !important;
}
.navbar-form .formOutline input{
	border:0px;
	box-shadow:none;
	font-family: Trefoil, Arial, sans-serif;
}
.navbar-nav {
	float:none;
	text-align:center;
}
@media (min-width: 400px) {
	.navbar-nav > li {
		float: none;
		display: inline-block;
	}
}
nav{
	background-color: transparent !Important;
}
@media (min-width: 768px) {
	.initial nav{
		background-color:#00AE58 !Important;
	}
}
.main-nav {
    position: relative !important;
	top: -45px;
	left:0px;
}
@media (max-width: 1000px) {
	.navbar-default .navbar-nav > li > a {
		font-size:12px;
		padding: 0 0.25rem;
	}
	.initial .navbar-default .navbar-nav > li > a {
		font-size:.8rem;
		padding: 0 0.25rem;
	}
}
.main-nav .navbar-nav{
	height:1px;
}
@media (max-width: 768px) {
	.main-nav .navbar-nav{
		height:auto;
	}
	.main-nav{
		top:0px;
		margin-top: -15px;
	}
	.initial .main-nav{
		margin-top: -60px;
	}
}
.initial .main-nav .navbar-nav{
	height:auto;
}
.initial .main-nav {
	position:relative !important;
	top:0px;
	width:auto;
	left:0px;
	margin-left: -15px;
	margin-right: -15px;
}
.navbar-form .form-group{ /* phone */
	width:100%;
	max-width:400px;
}
@media (min-width: 768px) {
	.navbar-form .form-group{
		width:80px;
	}
}
@media (min-width: 850px) {
	.navbar-form .form-group{
		width:100px;
	}
}
.initial .navbar-form .form-group{
	width:140px;
}
.headerForm.navbar-form{
	margin-right:-25px;
	padding-right:0px;
	margin-bottom:0px;
}
.navbar-form{
	webkit-box-shadow:none;
	box-shadow:none;
}
.initial .headerForm.navbar-form{
	margin-right:0px;
}
.headerForm input.form-control{
	padding:0px 5px 5px 5px !Important;
	height:auto;
	background-color:transparent;
}
.headerForm .btn-search{
	padding:0px 5px 0px 5px !Important;
	height:auto;
	background-color:transparent;	
    margin-top: -2px;
}
.headerForm .btn-search img {
	width:22px;
}
.headerForm{
	display:none;
}
.navbarForm{
	display:block;
}
@media (min-width: 768px) {
	.headerForm{
		display:block;
	}
	.navbarForm{
		display:none;
	}
}
.navbar-header button{
	border:0px;
	margin:15px 0px 0px 0px !important;
}
.initial .navbar-header button{
	margin:35px 0px 0px 0px !important;
}
#user-navbar {
	display:inline-block;
	width:auto;
}
.nav > li.dropdown > a.icon {
	padding-top:0px;
	padding-bottom:0px;
}
.nav > li.dropdown > a.icon img{
	width:24px;
	height:auto;
}
.icon-bar{
	background-color:#FFFFFF !important;
}
.navbar-header button:hover{
	background-color:#009447 !important;
}

/* small screens */
.navbar-header button.navbar-toggle-user {
    margin-right:15px !important;
    color: #ffffff;
}
.navbar-default .navbar-toggle:focus {
    background-color: #2fb56a;
}
@media (max-width: 768px) {
	.navbar-collapse{
		text-align:center;
	}
	.navbar-form .formOutline{
		background-color:#FFF;
	}
	.dropdown-header{
		color:#FFF;
	}
}

/* footer */
#footerGreen{
	border:0px;
	background-color:#2fb56a;
	color:#fff;
	font-size: 12px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	line-height:2em;
	font-weight:200;
}
#footerGreen a, #footerGreen ul a{
	color:#fff;
	font-size: 12px;
}
#footerGreen a:hover, #footerGreen ul a:hover{
	color:#FFFFFF;
}
#footerGreen .smallText {
	font-size:10px;
	padding-top:20px;
}
#socialFooter {
	background-color:#00ae58;
	padding-top:25px;
	padding-bottom:25px;
}
#socialFooter ul {
	margin:0px;
	padding:0px;
}
@media (min-width: 768px) {
	#socialFooter ul {
		margin-left:-15px;
		margin-right:0px;
	}
}
#socialFooter li {
	display:inline-block;
	float:left;
	padding-left:10px;
}
#socialFooter li img {
	width:36px;
	height:36px;
}
#socialFooter .keep {
	color:#fff;
	text-transform:uppercase;
	padding-right:15px;
}
#socialFooter input {
	border:0px;
}
#socialFooter .go {
	color:#fff;
	background-color:#8acc9c;
	padding:5px;
	margin-left:5px;
	padding-top:3px;
}
#footerGreen{
	text-align:left;
}
@media (min-width: 768px) {
	#footerGreen .footerRight{
		float:right;
		text-align:right;
	}
	#footerGreen, #footerGreen a, #footerGreen ul a{
		font-size: 13px;
	}
}

/* FRONT */


.front H1{
	font-family: Trefoil, Arial, sans-serif;
	font-size: 1.5rem;
	padding:0px !important;
	font-weight: 500;
}
@media (max-width: 1000px) {
	.frontBand H1{
		font-size: 1.2rem;
	}
}
.front .nav-pills > li > a {
    background-color: #009447;
    padding: 10px;
    font-family: Trefoil, Arial, sans-serif;
    font-size:1rem;
	color:#C1EAD4;
}
.front .nav-pills > li > a:hover {
    background-color: #00AE58;
    padding: 10px;
    font-family: Trefoil, Arial, sans-serif;
    font-size:1rem;
	color:#FFFFFF;
}
.front img{
	width:100%;
	height:auto;
}
.front .frontBand .noPaddingLeft{
	padding-left:0px;
	text-align:left;
}
.front .frontBand .noPaddingRight{
	padding-right:0px;
	text-align:right;
}
@media (max-width: 768px) {
	.front .frontBand .noPaddingLeft{
		padding-right:0px;
		text-align:center;
	}
	.front .frontBand .noPaddingRight{
		padding-left:0px;
		text-align:center;
	}
}
@media (min-width: 768px) {
	.front .frontBand .noPaddingLeft img{
		margin-left:-.4px; /* hack for tiny background color showing as right border on image in chrome */
	}
	.front .frontBand .noPaddingRight img{
		margin-right:-.4px; /* hack for tiny background color showing as right border on image in chrome */
	}
}
.front .frontBand {
	margin-bottom:40px;
	text-align:center;
}
.frontBand.about {
	background-color:#004e9a;
}
.frontBand.galleryFront {
	background-color:#00abe6;
}
.frontBand.browse {
	background-color:#6e298d;
}
.frontBand.collections {
	/*background-color:#c7c8ca;*/
	background-color:#faa61a;
}
.frontBand.about, .frontBand.galleryFront, .frontBand.browse, .frontBand.collections{
	color:#fff;
}
.frontBand.about h1, .frontBand.galleryFront h1, .frontBand.browse h1, .frontBand.collections h1{
	color:#fff;
}
.front .textRight {
	padding-right:25px;
	padding-top:20px;
	padding-bottom:20px;
}
.front .textLeft {
	padding-left:25px;
	padding-top:20px;
	padding-bottom:20px;
}
.front .btn-default {
	display:inline-block;
	margin-top:10px;
	padding: 3px 7px 4px 7px;
}
.lbSet h5{
	height:1.2rem;
}

#caFormOverlay H1{
	font-size:1rem;
	background-color:#00AE58;
	color:#FFFFFF;
	padding:15px;
	margin:-20px -15px 15px -15px;
	text-transform:uppercase !important;
}
#caFormOverlay .glyphicon-remove-circle {
	color:#FFF;
}
.detail {
    color: #222222;
    font-size:14px;
}
.detail .detailTool span, .detail .detailTool i {
    color: #00AE58;
}
.detail H4{
	font-size:22px;
}
.detail H6{
	text-transform:none;
	margin-bottom:0px;
	margin-top:10px;
	font-size:1.09rem;
	font-weight:bold;
	padding-bottom:5px;
}
.detail HR {
	border-top:1px solid #222;
}
.detail .component{
	margin-bottom:10px;
	clear:left;
}
.detail .componentThumbnail{
	float:left;
	margin: 0px 10px 10px 0px;	
}
.detail .component .small{
	font-size:10px;
}
.detail .componentDescSpacer{
	margin-top:5px !important;
}
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
	background-color:#00ae58;
	font-size:14px;
}
.detail .detailMediaToolbar a, .gallery .detailMediaToolbar a{
	color:#fff;
}
.detail .detailTool {
	font-size:13px;
}
.detail .relatedObjects .caption{
	font-size: 14px;
    line-height: 1.5em;
}
.detail .relatedObjects .caption a:hover {
	text-decoration:none;
}
.detail .unit.restriction {
	margin-top:25px;
	font-size:14px;
	line-height:1.5em;
}
.popover{
	max-width:1000px !important;
	width:auto !important;
}
.navLeftRight{
	text-align:right;
	margin-top:-20px;
	height:25px;
	padding-right:0px;
}
.navLeftRight a{
	text-transform:uppercase;
	font-size:11px;
	text-decoration:none;
    padding-left:10px;
}
.detail .navTop a {
    background-color: #009447;
    color: #FFF;
    padding-right:12px;
    padding-left:12px;
}
.form-control:focus{
	border:1px solid #00AE58;
}
.detail .unit {
	font-family: inherit;
    font-size: 1.0625rem;
    font-weight: normal;
    line-height: 1.5625rem;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}


a.readmore-js-toggle{
	padding-top:0px;
}
/* Collections/Finding Aid */
.collections.landing h2{
	font-size:20px;
	font-weight: 500;
}
.collectionsLeftCol .collectionBlock{
	background-color: #00ae58;
}
.collectionsRightCol .collectionBlock{
	background-color: #00abe6;
}
.collectionsRightCol .collectionBlock, .collectionsLeftCol .collectionBlock{
	color:#FFF;
	padding:25px 20px 5px 20px;
	margin-bottom:25px;
}
.collectionsRightCol .collectionBlock a, .collectionsLeftCol .collectionBlock a{
	font-size:1.2rem;
	color:#FFF;
	font-weight: 500;
    text-decoration: none;
    line-height:1.1rem;
}
.collectionBlock p{
	line-height: 1.1rem;
	padding-bottom:20px;
	margin-bottom:0px;
}
.collectionBlock div{
	padding-bottom:20px;
}
#collectionLoad div a, #collectionLoad div .nonLinkedCollection{
	font-size:16px;
}
.collectionsContainer a, .collectionsContainer .listItem{
	font-size:16px;
}
.collectionsContainer p{
	font-size:13px;
}
#collectionLoad p{
	font-size:13px;
}
.collectionsContainer a.openCollection.active{
	background-color:#009447 !important;
}
.detail.collections .detailTool{
	padding-left:0px;
}

/* browse landing */

.browseTile, .collectionLandingTile {
	background-color: #efecdf;
	margin-bottom:25px;
}
.browseText, .collectionText {
	float:left;
	font-size:14px;
}
@media (min-width: 992px) {
	.browseText, .browseImg {
		width:50%;
		float:left;
	}
}
@media (min-width: 992px) {
	.collectionText, .collectionImg {
		width:50%;
		float:left;
	}
}
@media (max-width: 768px) {
	.collectionText, .collectionImg {
		width:50%;
		float:left;
	}
}
@media (min-width: 768px) and (max-width: 1000px) {
	.browseText, .collectionText {
		height:150px;
	}
}

.browseImg img, .collectionImg img {
	width:100%;
	height:auto;
}
.browseText h3, .collectionText h3 {
	font-weight:bold;
	font-size:18px;
	padding-bottom:0px;
	color:#fff;
	margin-bottom:5px;
}
.browseText, .collectionText {
	padding-bottom:50px;
    padding: 15px;
    color:#fff;
}
@media (max-width: 992px) {
	.browseText h3, .collectionText h3 {
		font-size:14px;
	}
}
.browseText a{
	color:#fff;
}
.collectionText a{
	color:#000;
	font-weight: 500;
}
.collectionLink{
	background-color:#009447;
	color:#fff;
	text-align:right;
	padding:5px 10px 5px 0px;
}
.collectionLink a{
	color:#FFF;
	text-transform:uppercase;
}
.collectionLink a .fa{
	font-size:12px;
}
.band {
	background-color:#004e9a;
	color:#fff;
	padding:10px;
	font-size:22px;
	margin-top:0px;
	margin-bottom:45px;
}
/*.bannerImg {
	margin-bottom:60px;
}*/
.bannerImg img{
	width:100%;
	height:auto;
}
.staticImage img{
	width:100%;
	height:auto;
}

.hero img{
	width:100%;
	height:auto;
}
.hero, .hero h1 {
	text-align:left;
	color:#fff;
}
.hero.discover {
	background-color:#004e9a;
	color:#fff;
}
.quote{
	margin-bottom:35px;
}
.quote .quoteCredit{
	margin-top:25px;
	font-style:italic;
	font-size:12px;
}
.quote .quoteText {
	font-size:16px;
}
@media (min-width: 768px) {
	.quote .quoteCredit{
		margin-left:45%;
	}
	.quote .quoteText .quoteTextCenter {
		font-size:16px;
		width:50%;
		margin-left:auto;
		margin-right:auto;
	}
}

/* timeline */
h2.tl-headline a, h2.tl-headline {
	color:#00AE58 !important;
	font-size:14px !important;
	line-height:1.1em !important;
}
h2.tl-headline {
	color:#000 !important;
}
.tl-text-content{
	font-size:12px !important;
}
/* gallery */
.gallery H4, .gallery H4 a {
    text-transform: none !important;
}

/* Contact */

textarea.form-control, .contact .form-control, .contributeForm .form-control, #CommentForm .form-control, #LoginForm .form-control, #AddItemForm .form-control {
    height: auto;
    background-color: #daeddd;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    width: 100% !important;
    font-size:15px;
}
.contact label, .contributeForm label {
	font-family:Trefoil;
	font-size:16px;
	text-transform:none;
}
.contributeForm table {
	width:100%;
}

#caFormOverlay.contribute {
    width: 75%;
    margin: 5% auto 0px auto;
}
/* Browse */
/* placeholder */
i.trefoilPlaceholder{
	display: inline-block;
	background-image:url("../graphics/gray_trefoil.png");
	background-size:cover;
}
i.trefoilPlaceholder.largePlaceholder{
	width:154px;
	height:150px;
}
@media (min-width: 768px) {
	i.trefoilPlaceholder.largePlaceholder{
		width:308px;
		height:300px;
	}
}
i.trefoilPlaceholder.smallPlaceholder{
	width:110px;
	height:102px;
	opacity: .3;
}
.bResultItemImgPlaceholder {
    background-color: #ffffff;
    border: 0px;
    padding-top: 20px;
    padding-bottom:20px;
}
.bResultListItemImg .bResultItemImgPlaceholder{
	padding:0px 5px 0px 0px;
	opacity: .3;
}
.bResultListItemImg i.trefoilPlaceholder.smallPlaceholder {
    width: 80px;
    height: 72px;
    opacity: .7;
}
.detail .detailMediaPlaceholder {
    padding-top: 75px;
    padding-bottom: 75px;
}
.results H1 {
	display:inline-block;
}
#bViewButtons {
	display:inline;
	float:right;
}
.results a .glyphicon, .results a .fa {
	color:#222 !important;
}
.results .btn .glyphicon {
	color:#fff !important;
}
.results h1 i {
	color:#222 !important;
}

.bResultItem {
	background-color:#fff;
	border:1px solid #ccc;
	box-shadow:none;
}
.bResultItem .bResultItemText {
	font-size:12px;
	line-height:1.0em;
}
@media (min-width: 768px) {
	#bRefine.fixed {    
		top: 50px; 
	} 
}
#bRefine {
	background-color:#fff;
}	
#bRefine a {
    color: #333 !important;
    line-height: 1.2em;
    display: block;
    padding: 0.5rem 0 0rem 0rem;
    font-size:1rem;
    font-weight:400;
}
#bRefine div a {
	padding-bottom:0px;
	line-height: 1em;
	font-weight:200;
	font-size:.9rem;
}
#bRefine a.more {
	color: #00AE58 !important;
	font-size:.9rem;
	font-style:normal;
}
#bRefine H5 {
	font-size:14px;
	font-weight:500;
}
#bRefine H3 {
	font-size:22px;
	font-weight:500;
}
#bMorePanel {
	left:0px;
	right:auto;
}
#bMorePanel h1{
	display:block;
}
#bLetterBar a {
	font-size:16px;
}
#bLetterBar a:hover {
	font-weight:normal;
}
#bLetterBar a.selectedLetter:hover {
	font-weight:bold;
}

/* Gallery */

.gallery p {
	font-size: 1.0625rem;
    letter-spacing: 0px;
    line-height: 1.5625rem;
}
.gallery #gallerySetInfo {
	background-color: #00abe6;
	color:#fff;
	padding-bottom:0px;
}
.gallery #gallerySetInfo a {
	color:#fff;
	font-size:14px;
}
.gallery .caption {
	color:#fff;
	line-height:1.3em;
	padding-top:30px;
}
.gallery h4 {
	font-weight:500;
	margin-top:15px;
}
.gallery h4 a{
	font-size:24px !important;
}
.gallery #gallerySetInfo {
	font-size:14px;
	font-weight:200;
	padding-right:40px;
}
.gallery .trefoil img, .gallery #gallerySetInfo .trefoil img{
	width:18px;
	height:18px;
}
.galleryBanner {
	background-color: #ccdf78;
    color: #fff;
    padding: 10px;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;	
}
.gallery .galleryItem {
	box-shadow:none;
	padding:0px;
	color:#fff;
	height:auto;
}
.gallery .noPaddingLeft{
	padding-left:0px;
}
.gallery .noPaddingRight{
	padding-right:0px;
}
@media (max-width: 1000px) {
	.gallery .noPaddingLeft{
		padding-right:0px;
	}
	.gallery .noPaddingRight{
		padding-left:0px;
	}
}
.gallery .galleryItem .galleryItemImg {
	width:auto;
	margin-right:0px;
	float:none;
}
.gallery .galleryItem .galleryItemImg.right {
	text-align:right;
}
.gallery .galleryItem .galleryText {
	padding:15px;
	width: auto;
}
@media (min-width: 768px) and (max-width: 1000px) {
	.gallery .galleryItem .setDesc {
		height:140px;
	}
}
.gallery .galleryItem .galleryText.right {
	text-align:right;
}
.gallery .galleryItem .galleryItemImg img{
	width:100%;
	height:auto;
}
@media (max-width: 768px) {
	.gallery .galleryItem {
		max-width:100%;
	}
}
.gallery .container.galleryContainer {
	padding:0px;
}
.gallery .galleryItem.item1{
	background-color: #00ae58;
}
.gallery .galleryItem.item2{
	background-color: #00abe6;	
}
.gallery .galleryItem.item3{
	background-color: #004e9a;	
}
.gallery .galleryItem.item4{
	background-color: #6e298d;
}
.gallery .galleryItem.item5{
	background-color: #ec008b;
}
.gallery .galleryItem a {
	color:#fff;
	font-size:20px;
	font-weight:500;
}
.gallery .galleryItem .count {
	font-size:12px;
	margin-bottom:0px;
}	
.gallery .setInformation {
	padding:20px;
	margin-top:20px;
	margin-bottom:60px;
}
.gallery .setInformation p{
	color:#fff;
	font-weight: 400;
}
.gallery #galleryDetailImageGrid img {
	border:5px solid transparent;
	margin:0px;
	padding:0px;
}
.gallery #galleryDetailImageGrid .galleryIconActive img {
	background-color:transparent;
	border: 5px solid #3eb7ea;
}
.gallery .galleryDetailNext, .gallery .galleryDetailPrevious {
    top: 170px;
}
.gallery .galleryItem a.smallLink {
	font-size:15px;
}
.multisearch H1{
	clear:right;
}
.aboutLandingBlocks{
	padding:10px 15px 20px 15px;
}
.aboutLandingBlocks a{
	font-size: 1.25rem;
	font-weight:bold;
	color:#000;
}
.aboutLandingBlocks .fa{
	color:#00AE58;
	margin-right:15px;
}
.aboutSideNav{
	line-height:1.1rem;
}
.aboutSideNav a{
	color:#000;
	font-weight: 500;
}
.aboutSideNav div{
	padding-bottom:15px;
	text-indent: -10px;
	margin-left: 25px;
}
.aboutSideNav .fa{
	color:#00AE58;
	margin-right:5px;
}