<div class="row">
	<div class="col-sm-12">
		<H1>{{{title}}}</H1>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<h2>{{{subtitle}}}</h2>
		<p>{{{bodytext}}}</p>
	</div>
	<div class="col-sm-3 col-sm-offset-1">
		<address>{{{address}}}</address>
		<address>{{{contact_info}}}</address>
	</div>
</div>