@font-face {
	font-family: 'Pitch sans';
	src: url('pitch-sans-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Pitch sans';
	src: url('pitch-sans-regular-italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Pitch sans';
	src: url('pitch-sans-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Pitch sans';
	src: url('pitch-sans-bold-italic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDkv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDlv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDrv_1i4_D2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDkv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDlv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDrv_1i4_D2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDkv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDlv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDrv_1i4_D2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDkv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDlv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDrv_1i4_D2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDkv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDlv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDrv_1i4_D2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDkv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDlv_1i4_D2E4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYqz_wNahGAdqQ43Rh_eZDrv_1i4_D2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_c6DptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_c6DptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_c6DptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_c6DptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_c6DptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_c6DptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* fonts to change */
body, .detail, .gallery, label, b, strong{
	font-family: 'Pitch sans';
	font-weight:400;
}
hr {
	border-top: 1px solid #000;
}
b, strong{
	font-family: 'Pitch sans';
	font-weight:700;
}
H1, h1, h2, H2, H3, h3, H4, h4, H5, h5, #footer a.orgLink{
	color:#000;
	font-family: 'Work Sans';
	font-weight:500;
	text-transform:capitalize;
}
H1, .front H1{
	font-family: 'Work Sans',sans-serif;
	font-size: 32px;
	line-height: 1.1;
	font-weight: 500;
	color:#000;
}
H2, H3{
	font-family: 'Work Sans',sans-serif;
	font-size: 22px;
	line-height: 1.1;
	font-weight: 500;
}
body{
	background-color: #f2f2f2;
	color:#000;
	margin-left:19px;
	margin-right:19px;
}

.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .detail .btn-default {
	background-color:#000000;
	font-family: 'Work Sans';
	font-weight: 500;
	text-transform: capitalize;
	color:#FFF;
	text-decoration:none;
}
.btn-default:hover{
	background-color:#666;
}
a{
	color:#000;
}
a:hover{
	color:#666;
}
.bgLightGray{
	background-color:#f2f2f2;
}
.container, .navbar{
	max-width: 1470px;
	margin-left:auto;
	margin-right:auto;
}
/* header */
.navbar{
	background-color: #f1f1f1;
	-webkit-box-shadow: none;
	box-shadow:none;
	border-bottom:none;
}
.navBarBorder{
	border-bottom:1px solid #333;
}
.navbar .formOutline{
	border-radius:0px;
	background-color:#fff;
	border: 1px solid #333;
	margin-left:0px;
}
.headerAdvancedSearch{
	text-align:right;
}
.headerAdvancedSearch a{
	font-size:13px;
}
.navbar-form{
	padding-left:0px;
	padding-right:0px;
	width:25%;
	position:relative;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	display:flex;
}
#headerSearchInput{
	height: 32px;
	margin-bottom: 0;
	padding: 7px 12px 7px 12px;
	border: 1px solid #333;
	background-color:#FFF;
	line-height: 1.42857143;
	color: #333;
	border-radius:0px;
	display:block;
	width:auto;
	font-size: 14px;
	font-family: 'Pitch sans';
	width: 100%;
}
#headerSearchInput:focus{
	border-color: #3898ec;
	outline: 0;
}
#headerSearchButton{
	border-radius:0px;	
	display: block;
	padding: 7px 12px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: rgba(56,152,236,0);
	-webkit-transition: background-color .2s,color .2s;
	transition: background-color .2s,color .2s;
	color: #333;
	line-height: 1;
	font-size: 14px;
	height: 32px;
}
#headerSearchButton:hover{
	background-color: #333;
	color: #f2f2f2;
	-webkit-transition: background-color .2s,color .2s;
	transition: background-color .2s,color .2s;
}
.form-control::placeholder {
	color: #000;
	font-family: 'Pitch sans';
}
.navbar-header {
	float: right;
}
.navbar-brand{
	width:195px;
	padding-top: 0px;
}
@media (min-width:768px){
	.navbar-brand{
		width: 195px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (min-width:768px){
	.navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
		font-size:14px;
	}
	.navbar-form{
		margin-top:48px;
	}
	.nav > li.dropdown > a.icon{
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
@media (max-width:767px){
	.navbar-nav{
		margin:0px;
	}
	.navbar-form{
		margin-top:48px;
	}
}
@media(max-width:1010px){
	.yamm .nav.navbar-right.menuItems .dropdown-menu {
		left: 0;
		right: auto;
	}
}
ul.menuItems {
	width: 100%;
	border-top: solid 1px #333;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: Pitch sans;
    text-transform:capitalize;
}
.navbar-default .navbar-nav > li > a{
	color:#000000;
	letter-spacing:auto;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:transparent;
	color:#000; /* highlight color */
	/* underline on hover or active */
	/*text-decoration: underline;
  	text-decoration-color: #dedede;
  	text-decoration-thickness: 2px;
  	text-underline-position: under;*/
  	/* change background color on hover or active */
  	background-color: #ffffff;
}
.navbar-nav > li > .dropdown-menu{
	background-color:#ffffff;
	border:0px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}
.navbar-nav > li > .dropdown-menu a{
	color:#000000;
	font-family: Pitch sans;
    text-transform:capitalize;
	letter-spacing:auto;
}
.navbar-nav > li > .dropdown-menu a:hover{
	background-color:#fff;
	color:#000; /* highlight color */
	text-decoration:underline;
	/* background-color on hover */
	/*background-color:#efefef;*/
	
}


.subTitle{
	width:25%;
	text-align:center;
}
.nav > li.subTitle > a, .nav > li.subTitle > a:hover, .nav > li.subTitle > a:focus{
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 15px;
}
/* header mobile icons navigation */
.navbar-default .navbar-toggle{
	border-color:#000;
	color:#000;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#000;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
	background-color:#FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#000;
	color:#FFF;
}

/* sub navigation */
ul.sectionSubNav{
	padding-left:0px;
}
ul.sectionSubNav li{
	list-style: none;
	display: block;
	width: 100%;
	padding: 10px 12px;
	background-image: linear-gradient(155deg,#ccc,#f2f2f2);
}
ul.sectionSubNav li a{
	font-size:14px;
	font-family: "Pitch sans", Arial, sans-serif;
	text-decoration: none;
}
ul.sectionSubNav li a:hover{
	text-decoration:underline;
}
/* footer */
/* offset needed for fixed footer */
body{
	margin-bottom:640px;
}
#footer{
	padding-top:50px;
	height: 600px;
	border:0px;
	font-size:14px;
	font-weight:normal;
	margin-top:50px;
	padding-bottom:50px;
	

  background-image: linear-gradient(160deg,#111,#333);
  color: #ccc;
  line-height: 1.2;
  color: #ccc;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Pitch sans';
	margin-left:-19px;
	text-align:left;
}
@media(max-width:480px){
	/* CHANGE - does the footer height need to change for smaller screen sizes? */
	/*#footer{
		height:430px;
	}*/
	/* CHANGE - does the footer offset need to change for smaller screen sizes? */
	/*body{
		margin-bottom:480px;
	}*/
}
#footer a{
	color:#ccc;
	font-weight:normal;
	transition: color .2s;
	color: #ccc;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Pitch sans';
}
.footer-logo {
	width: 250px;
	margin-bottom: 50px;
}
.footer-logo img{
	width:100%;
	height:auto;
}
#footer .footerUnit{
	text-transform: none;
	font-size: 14px;
	text-align: left;
	margin-bottom:20px;
}
@media(max-width: 768px) {
	#footer .text-right{
		text-align:left;
	}
}
#footer .list-inline a{
	font-size: 14px;
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
}
#footer .social a{
	font-size: 20px;
	color:#333;
	font-size:25px;
}
#footer ul {
    margin-top: 10px;
}
#footer ul.social li {
  padding: 0px 5px 0px 5px;
}
.footer-title {
  font-family: 'Work Sans',sans-serif;
  color: #f2f2f2;
  font-weight: 500;
  margin-bottom:20px;
}
.footnote-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top:30px;
}
@media screen and (max-width: 991px){
.footnote-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 25px;
}
}
.funding{
	width:50%;
}
@media screen and (max-width: 991px){
	.funding {
	  width: auto;
	}
}
.copyright{
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	text-align: right;
}
.link-icon {
	width: 15px;
	height: 15px;
	background-image: url("https://global-uploads.webflow.com/621732e50337f769589ac5db/6225a613b4180e3150be1452_open_in_new_black_24dp.svg");
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	display:inline-block;
}
#footer .link-icon {
	top: 4px;
	position: relative;
	left: 4px;
}
.landAck{
	padding-top:30px;
	font-family:latolight;
}
/* search / browse results */
.bResultItemSetLink {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
	display:none;
}
.bResultListItem .bResultItemSetLink{	
	bottom: 25px;
	right: 12px;
}
.bResultItem:hover .bResultItemSetLink, .bResultListItem:hover .bResultItemSetLink{
	display:inline-block;
}
.bResultItem:hover .bResultItemText, .bResultListItem:hover .bResultListItemText{
	padding-bottom:20px;
}
.bResultItem .bResultItemText, .bResultListItemCol .bResultListItemText{
  font-size: 12px;
}
@media(max-width:768px){
	.results .bSearchWithinContainer{
		display:none;
	}
}
.results .bSearchWithinContainer{
	clear:both;
	padding:15px 0px 15px 0px;
	text-align:center;
}
.results .btn-search-refine, .results .btn-search-refine:hover{	
	font-size: 14px;
	cursor: pointer;
	background-color: #fff;
	color:#000;
	font-size: 14px;
	line-height:1em;
	padding: 9px;
	
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border:0px;
	border-radius: 0px;
}
.bSearchWithin, .bSearchWithin:focus {
    width: 80%;
    box-shadow: none;
    border: 0px;
    border: 0px;
    border-radius: 0px;
    height: 35px;
    font-size: 14px;
    line-height: 26px;
    background-color: #f7f7f7;
	font-size: 14px;
	display: inline-block;
	display:inline-block;
}
.browseRemoveFacet, .browseRemoveFacet .btn{
	display:block;
	width:100%;
	font-size:11px;
	margin:0px 0px 5px 0px;
}
.browseRemoveFacet .btn{
	white-space: normal;
}
.browseRemoveFacet:hover, .browseRemoveFacet .btn:hover{
	text-decoration:none;
}
a.browseRemoveFacet .glyphicon{
	color:#fff !important;
}
#bRefine{
	background-color:#FFF;
}
.bResultListItem .bResultListItemText a {
  line-height: 1.2em;
  color: #333;
  font-family: 'Work Sans',sans-serif;
  font-weight: 500;
  font-size:14px;
}
#bRefine H2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #333;
  margin-top: 0px;
  font-family: 'Work Sans',sans-serif;
	text-transform:capitalize;
}
#bRefine H5, #bRefine H3{
	font-family: 'Work Sans',sans-serif;
	color:#333;
	text-transform:capitalize;
	font-size: 16px;
}
#bRefine a{
	color:#333;
	font-size:14px;
}
/* front */
html.frontContainer {
    height: 100%;
    padding:0px -15px 0px -15px;
}
body.frontContainer {
	margin-bottom:0px;
	height: 100%;
}
body.frontContainer #footer{
	position:relative !important;
}


.front .frontIntro{
	font-size:16px;
	font-family: latolight;
}
.btn-front{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9d9d9),to(#f2f2f2));
	background-image: linear-gradient(180deg,#d9d9d9,#f2f2f2);
	display:block;
	width:100%;
	font-size: 24px;
	padding: 20px;
	color:#333;
	font-weight:500;
}
.btn-front:hover{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d3d3d3),to(#f2f2f2));
	background-image: linear-gradient(180deg,#d3d3d3,#f2f2f2);
	color:#000;
}

#hpScrollBar{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: rgba(227, 230, 232, 0.3);
	color:#000;
	text-align:center;
	font-size:30px;
	padding:10px 0px 10px 0px;
	opacity:.8;
	left: 0px;
}
.front h2, .front h3{
	text-align: center;
	text-transform:capitalize;
	font-size:24px;
	padding-bottom:15px;
}
.front h2.highlights{
	padding-bottom:30px;
}


.front-form{ /* also used on video out landing page */
	padding-left:0px;
	padding-right:0px;
	width:50%;
	position:relative;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	display:flex;
	margin:30px auto 30px auto;
}
#frontSearchInput{
	height: 32px;
	margin-bottom: 0;
	padding: 7px 12px 7px 12px;
	border: 1px solid #333;
	background-color:#FFF;
	line-height: 1.42857143;
	color: #333;
	border-radius:0px;
	display:block;
	width:auto;
	font-size: 14px;
	font-family: 'Pitch sans';
	width: 100%;
}
#frontSearchInput:focus{
	border-color: #3898ec;
	outline: 0;
}
#frontSearchButton{
	border-radius:0px;	
	display: block;
	padding: 7px 12px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: rgba(56,152,236,0);
	-webkit-transition: background-color .2s,color .2s;
	transition: background-color .2s,color .2s;
	color: #333;
	line-height: 1;
	font-size: 14px;
	height: 32px;
}
#frontSearchButton:hover{
	background-color: #333;
	color: #f2f2f2;
	-webkit-transition: background-color .2s,color .2s;
	transition: background-color .2s,color .2s;
}
.frontGridCaption {  /* also used on video out landing page */
  padding: 10px;
  margin-bottom: 30px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#d9d9d9),to(#f2f2f2));
  background-image: linear-gradient(180deg,#d9d9d9,#f2f2f2);
  display: block;
  width: 100%;
}
/* hp explore */
.hpExplore{
	padding-top:45px;
	margin-bottom: 45px;
}
.hpExploreBox{
	margin-bottom: 45px;
}
.hpExploreBox .hpExploreBoxImage {
	height:240px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.3);
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage1{
	background-image: url('../graphics/hero1.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage2{
	background-image: url('../graphics/Guadalupe-Martinez.jpeg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage3{
	background-image: url('../graphics/archive-1500H.jpeg');
}
.hpExploreBox .hpExploreBoxDetails {
	padding: 0px;
	text-align:center;
}
.hpExploreBox .hpExploreBoxTitle a {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9d9d9),to(#f2f2f2));
	background-image: linear-gradient(180deg,#d9d9d9,#f2f2f2);
	display:block;
	width:100%;
	font-size: 24px;
	padding: 20px;
	color:#333;
	font-weight:500;
}
.hpExploreBox .hpExploreBoxTitle a:hover {
	text-decoration:none;
}

/* gallery */
@media(max-width:768px){
	.galleryList{
		text-align:center;
	}
	.gallery H1{
		text-align:center;
	}
}
.galleryList{
	margin-bottom:30px;
}
.galleryList img{
	width:100%;
	height:auto;
	max-width:250px;
}
.galleryList label {
    display: block;
    font-size: 15px;
    text-transform: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1.1em;
    margin-top: 5px;
    font-weight: bold;
}
.gallery .setDescription {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.8em;
	margin-bottom:30px;
}
.gallery .unit{
	margin-bottom: 12px;
	font-size:14px;
}
.gallery .galleryViewRecord{
	padding-top:15px;
}
.gallery .galleryDetailBottom {
	border: 0px;
	background-color: #f0f0f0;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0px;
}
.gallery #galleryDetailImageGrid img {
  background-color: #fff;
}
/* collections */
.collectionIntro {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.8em;
}
.collectionsList a{
	text-decoration:none;
}
.collectionTile:hover{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}


.link-icon.invert {
  -webkit-filter: invert(80%);
  filter: invert(80%);
}

/* detail */
.detail {
	color: #333;
	font-size: 14px;
}
.detail h2 {
	font-size: 14px;
	color: #333;
	text-transform: none;
	padding-bottom: 0px;
	margin: 10px 0px 5px 0px;
}
.detail .unit label {
	color: #333;
	font-family: 'Work Sans';
	font-weight: 500;
	text-transform: capitalize;
	font-size: 14px;
	margin-bottom: 0px;
	margin-top:15px;
}
.detail HR {
	margin: 5px 0px 5px 0px;
	border-color: #333;
}
.detail .detailTool span, .detail .detailTool i {
	color: #333;
}
.detail a {
	color: #333;
	text-decoration:underline;
}
.detail #detailTools {
	padding-top: 15px;
	margin-top:0px;
}
.detail .detailTool {
	text-transform: capitalize;
	font-size:14px;
	color:#333;
	font-family: 'Work Sans',sans-serif;
}
.repViewerContCont{
	margin-top:15px;
}
.detail H1{
	color:#000;
}
.activations .activations-intro{
	font-size:16px;
}
.activations H2{
	margin-top:60px;
}
.activations .btn-activations{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9d9d9),to(#f2f2f2));
	background-image: linear-gradient(180deg,#d9d9d9,#f2f2f2);
	display:block;
	width:100%;
	font-size: 24px;
	padding: 20px;
	color:#333;
	font-weight:500;
}
.browseAllCollection, .exportCollection{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9d9d9),to(#f2f2f2));
	background-image: linear-gradient(180deg,#d9d9d9,#f2f2f2);
	padding:7px;
	text-align:center;
}
.detail .exportCollection .fa, .detail .exportCollection .glyphicon, .detail .exportCollection a, .browseAllCollection a, .browseAllCollection .fa {
	color: #000 !important;
	font-size: 15px;
	text-transform: none;
	text-decoration: none;
}
#browseResultsContainer {
	margin-top: 10px;
}
.detailFilter{
	font-size: 13px;
	font-family: 'Work Sans';
	font-weight: 500;
	text-transform: capitalize;
	padding-bottom: 15px;
}
.detailFilter .btn-group{
	margin-right:30px;
}
.detailFilter .btn-group button{
	font-size:12px;
}
/* used for collections and activations listings */
.activation-block-wrapper {
	margin-bottom:30px;
	height: 150px;
	background-image: linear-gradient(300deg,#e6e6e6,#f2f2f2);
}
.activation-block-wrapper img{
	width: 150px;
	height: 150px;
	-o-object-fit: cover;
	object-fit: cover;
	float: left;
	margin-right:15px;
}
.activation-info-block {
	padding: 15px;
}
.activation-info-block label{
	font-family: 'Work Sans',sans-serif;
	line-height: 1.3;
	font-weight: 500;
	font-size:14px;
	text-transform:none;
}
.collectionIntro{
	margin-bottom:40px;
}
.sves-block-wrapper {
	margin-bottom:30px;
	background-image: linear-gradient(300deg,#e6e6e6,#f2f2f2);
	padding:15px;
}
.sves-img img{
	width:100%;
	height:auto;
}
.sves-info-block label{
	font-family: 'Work Sans',sans-serif;
	line-height: 1.3;
	font-weight: 500;
	font-size:14px;
	text-transform:none;
}
.btn-sves{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9d9d9),to(#f2f2f2));
	background-image: linear-gradient(180deg,#d9d9d9,#f2f2f2);
	display:block;
	width:100%;
	font-size: 24px;
	padding: 20px;
	color:#333;
	font-weight:500;
  	margin-top: 80%;
}
@media (min-width:991px){
	.btn-sves{
  		margin-top: 80%;
  	}
}
.collectionChildren{
	margin-bottom:30px;
}
.detail a .collectionChildren, .detail a .collectionChildren label{
	font-family: 'Work Sans',sans-serif;
	line-height: 1.3;
	font-weight: 500;
	font-size:14px;
	text-decoration:none;
	text-transform:none;
	color:#333;
}
a label{
	cursor: pointer;
}
.fullWidth img{
	width:100%;
	height:auto;
}
/* Multisesarch */
.multisearch H3 a, .multisearch H3 a:hover, .multisearch H2 a, .multisearch H2 a:hover {
  text-decoration: none;
  color: #000;
}
.multisearchFullResults a {
  text-transform: capitalize;
  color: #000;
}
.multisearch .authorityResult{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9d9d9),to(#f2f2f2));
	background-image: linear-gradient(180deg,#d9d9d9,#f2f2f2);
}



.form-control:focus {
  border-color: #000;
}