/* ------------------------- Navbar ------------------------- */
.navbar-brand {
    width: 300px !important;
}

#nav-search-input, #nav-search-btn{
    background-color: #505150;
    border: none;
    box-shadow: none;
    color: #EDEDEB;
}

#nav-search-input::placeholder {
    color: #EDEDEB;
}


/* Front Page */

.carousel-item a img{
    height: 375px;
    width: auto;
}

#heroSearchInput {
    background-color: #EDEDEB;
    border: 0px;
    box-shadow: none;
    font-family: "Raleway", sans-serif;
    color: #414141;
}