/* ------------------------- Navbar ------------------------- */
.navbar-brand {
    width: 220px !important;
}

@media (min-width: 768px) {
    .navbar-brand {
        width: 300px !important;
    }
}

@media (min-width: 992px) {
    .navbar-brand img {
        max-width: 200px;
    }
}

@media (min-width: 1200px) {
    .navbar-brand img {
        max-width: 300px;
    }
}


#nav-search-input, #nav-search-btn{
    background-color: #505150;
    border: none;
    box-shadow: none;
    color: #EDEDEB;
}

#nav-search-input::placeholder {
    color: #EDEDEB;
}

/* ------------------------- Footer ------------------------- */

#footer{
    height: 250px;
}

/* ------------------------- Front Page ------------------------- */

.carousel-item {
    height: 375px;
    // width: auto;
}
.carousel-item a img{
    height: 375px;
    // width: auto;
}

#heroSearchInput {
    background-color: #EDEDEB;
    border: 0px;
    box-shadow: none;
    color: #414141;
}

/* ------------------------- Detail Pages ------------------------- */

// READMORE READLESS Collapse Styles
#readMoreCollapse {
    display: block; // Override Bootstrap's display:none
    height: 150px; // Initial height to show some content
    overflow: hidden;
    transition: height 0.7s ease;

    &.show {
        height: unset; // Expand to show full content
    }
}

a[href="#readMoreCollapse"] {
    .expand-text {
        display: inline; // Show "Read more" by default
    }

    .collapse-text {
        display: none; // Hide "Read less" by default
    }

    &[aria-expanded="true"] .expand-text {
        display: none; // Hide "Read more" when expanded
    }

    &[aria-expanded="true"] .collapse-text {
        display: inline; // Show "Read less" when expanded
    }
}



/*------------------------------------
 Styles for Metabolic Import Uploader
------------------------------------*/
.importUploaderDropZone {
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 0px;
}

.importUploaderDropZoneInput {
    height: 100%;
    width: 100%;
    cursor: default !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.importUploaderDropZoneInput:focus {
    outline: none !important;
}

.importCheckboxList div.checkboxes {
    column-count: 3;
}

.importCheckboxList div.checkboxes label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.importCheckboxList div.checkboxes label input {
    margin-right: 5px;
}

#root__title {
    font-weight: bold;
}

#root__description {
    margin-bottom: 2.5rem;
}

.control-label {
    font-weight: bold;
}

.form-group.field {
    margin-bottom: 2.5rem;
}

.field-description {
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
}

.error-detail {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0px;
    font-weight: bold;
}

/*------------------------------------
 Styles for Metabolic Chronology
------------------------------------*/

.chronology-list {

    // .main-title {
    //     margin: 75px 0px 75px 0px;
    // }

    // padding-left: 10%;
    // padding-right: 10%;
    // padding-bottom: 5%;

    // .card-horizontal {
    //   display: flex;
    //   flex: 1 1 auto;
    // }

    .card {
        min-height: 200px;
        width: 100%;

        .list-img {
            max-height: 250px;
            width: 100%;
            object-fit: cover;
        }

        .list-img-rr {
            margin: auto;
            max-height: 250px;
            width: 70%;
            object-fit: cover;
        }

        .card-title {
            font-size: 18px;
            font-family: "Raleway", sans-serif;
            text-decoration: none;
            line-height: 2em;
        }
    }

}

.metabolic-chronology {

    margin: 30px 0px 30px 0px;

    .chronology-title {
        margin-bottom: 40px;
    }

    #media-div,
    #info-div {
        overflow: auto;

        // padding-left: 10px;
        // padding-right: 10px;
        a {
            text-decoration: none;
        }
    }

    #media-div {
        background-color: #f1f1f1;
    }

    img {
        min-height: 150px;
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .disable-scrollbars::-webkit-scrollbar {
        background: transparent;
        /* make scrollbar transparent */
    }

    .text-container {
        min-height: 250px;
    }

    #action {
        padding: 10px;
        // display: flex;
        // align-items: center;
    }

    #curr-action {
        padding: 10px;
        // display: flex;
        // align-items: center;

        -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }

    p {
        margin: 0
    }

    #year-bar {
        background-color: #F1F1F1;
        padding-bottom: 5px;
        height: auto;
        width: 75px;
        position: fixed;
        z-index: 1;
        // top: 300px; 
        right: 10px;
        overflow-x: hidden;

        .year-bar-cont {
            margin: 10px 0px 10px 0px;

            .curr-year {
                font-weight: bold;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 5px 0px 5px 0px;
                    cursor: pointer;
                }
            }
        }
    }

}

@media only screen and (max-width: 767px) {

    .metabolic-chronology {
        margin: 15px 0px 15px 0px;

        .chronology-title {
            margin-bottom: 10px;
        }
    }

    @media (orientation: landscape) {
        .metabolic-chronology {
            #year-bar {
                display: none;
            }
        }
    }

    @media (orientation: portrait) {
        .metabolic-chronology {
            .portrait {
                width: 100%;
            }

            #media-div,
            #year-bar {
                display: none;
            }
        }
    }

}

// Lightbox

.lb-detail-img-link img{
    max-height: 120px;
    min-height: 10px;
    width: -webkit-fill-available;
}