/* red text: #D20000; red bg:#8a0000; tan: #e0d7ba; charcoal: #605b4b; stone:#f0ede4; */
body{
	color: #000000;
}
.red, a, a:hover{
	color: #d20000;
}
a.black{
	color: #000000;
}
.darkRed{
	color: #8a0000;
}
.redBg{
	background-color:#8a0000;
}
.darkRedBg{
	background-color:#360000;
}
.blackBg{
	background-color:#000000;
}
.tanBg{
	background-color:#e0d7ba;
}
.grayBg{
	background-color:#605b4b;
}
.stoneBg{
	background-color:#f0ede4;
}
.uppercase{
	text-transform:uppercase;
}
.form-control{
	border-radius:0px !important;
}
.form-control:focus{
	border:1px solid #000;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #8a0000;
    color: #fff;
}
.btn-default{
	background-color:#8a0000;
}
.btn-default:hover{
	text-decoration:none;
	background-color:#000000;
}
.btn-default.outline{
	background-color:transparent;
	border:2px solid #D20000;
	color: #D20000;
	text-shadow:none;
}
.btn-default.outline:hover{
	background-color:#D20000;
	color:#000;
}
.btn-lg {
    padding: 15px 27px !important;
    font-size:14px;
    font-weight:normal
}
.btn-md {
    padding: 10px 18px !important;
    font-size:14px;
    font-weight:normal
}
.btn-sm {
    padding: 5px 10px !important;
    font-size:12px;
    font-weight:normal
}
.filterMenuFacetList li.active {
    background-color: #000000;
}
.browse .btn, .sets .btn {
    background-color: #000000;
}
H1, h1, H2, h2 {
    color: #d20000;
}
.blackBg H1, .blackBg h1, .blackBg H2, .blackBg h2, .blackBg H3, .blackBg h3, .blackBg p, .blackBg div{
	color:#FFF;
}
body{
	margin-top:72px;
	margin-bottom:300px;
}
@media (min-width: 768px) {
	body{
		margin-top:117px;
	}
}
@media (min-width: 1010px) {
	body{
		margin-top:100px;
	}
}
/* navbar */
.navbar-default{
	border-top:2px solid #d20000;
}
.navbar-default .navbar-brand{
	font-family: lato;
	color:#000;
	line-height:1.3em;
	text-transform:uppercase;
}
@media (max-width: 767px){
	.navbar-default .navbar-brand{
		font-size:12px;
		padding-top:13px;
	}
}
@media (min-width: 768px) {
	.navbar-default .navbar-brand{
		font-size:16px;
		width: 300px;
		padding-top:13px;
	}
}
@media (min-width: 1010px) {
	.navbar-default .navbar-brand{
		font-size:22px;
		width: 360px;
	}
}
@media (min-width: 1010px) {
	.nav > li > a {
		padding-top: 28px !important;
		padding-bottom: 28px !important;
	}
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}
.navbar-default .navbar-nav > .open > a span, .navbar-default .navbar-nav > .open > a:hover span, .navbar-default .navbar-nav > .open > a:focus span, .navbar-default .navbar-nav > .active > a span, .navbar-default .navbar-nav > .active > a:hover span, .navbar-default .navbar-nav > .active > a:focus span,
.navbar-default .navbar-nav > .active > a span, .navbar-default .navbar-nav > .active > a:hover span, .navbar-default .navbar-nav > .active > a:focus span,
.navbar-default .navbar-nav > li > a:hover span, .navbar-default .navbar-nav > li > a:focus span {
    border-bottom: 2px solid #d20000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
}
@media (min-width: 1010px) {
	.navbar-default .navbar-form {
		margin-top: 22px;
	}
}
#footer{
	background-color:#000;
	color:#ffffff;
	padding:0px;
	height:300px;
	border:0px;
}
#footer > div{
	padding:40px 15px 40px 15px;
}
#footer a, #footer ul a{
	color: #fff;
}
#footer .footerBottom{
	clear:both;
}
#footer .footerBottom img{
	width:300px;
	height:auto;
}

/* front */
.front H1, .front h1{
	color:#000;
}
.front H2, .front h2{
	font:lato;
	font-size:24px;
}
.front img{
	width:100%;
	height:auto;
}
.frontSearchRow{
	background-image: url("../graphics/centre.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	margin-top:-15px;
}
.frontSearchCol{
	padding-top:120px;
	padding-bottom:150px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.2);
}
.frontSearchCol .formOutline{
	background-color:none;
}
.frontSearchCol .formOutline input, .frontSearchCol .formOutline input:focus{
	border:0px;
	font-size:24px;
	padding:10px 50px 10px 20px;
	height:auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	background-color:#FFFFFF;
	border-radius:none;
}
.frontSearchCol .btn-search{
	border-radius:0px;
	font-size:24px;
	margin-left:-45px;
	color: #d20000;
	margin-top:5px;
}
a .frontIconButton{
	background-color:#000;
	padding: 0px 30px 0px 30px;
	text-transform:uppercase;
	color:#FFF !Important;
	text-align:center;
	font-family:lato;
	margin-bottom:15px;
	vertical-align: middle;
	line-height:100px;
}
a .frontIconButton span{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
a:hover .frontIconButton{
	background-color:#8a0000;
	text-decoration:none;
}
.front .bleed{
	padding:0px;
}
.front #frontTimelineContainer {
    height: 500px;
    margin-top:50px;
    margin-bottom:50px;
}
.front .tl-timeline h2.tl-headline-title{
	color:#d20000;
}
/*@media (max-width: 767px) {
	.frontSearchCol .btn-search {
		position:relative;
		right:inherit;
		top:inherit;
	}
}*/
.front .tanBg h1{
	color: #8a0000;
	font-size: 28px;
	text-transform: capitalize;
	font-family: lato;
}
.front .repositoryTile {
	width:300px;
	padding-right:30px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}
.front .repositoryTile img{
	width:100%;
	height:auto;
	padding-bottom:5px;
}
.front .repositoryTile a{
	font-weight:bold;
	color: #8a0000;
}
.front .jcarousel-wrapper{
	margin-top:0px;
	margin-bottom:20px;
}
.frontNarrativeThreads .frontNarrativeThreadsAllLink{
	margin-top:100px;
	text-align:center;
}
.frontNarrativeThreadContainer{
	margin-bottom:15px;
	border:1px solid #333;
}
.frontNarrativeThreadContainer img{
	width:100%;
	height:auto;
}
.frontNarrativeThreadContainer .frontNarrativeThreadDesc {
	background-color:#605b4b;
	color:#fff;
	padding:10px;
	display:table;
	width:100%;
}
.frontNarrativeThreadContainer .frontNarrativeThreadDesc H2, .frontNarrativeThreadContainer .frontNarrativeThreadDesc H2 a{
	text-transform:none;
	color:#FFF;
	font-size:14px;
	line-height:1.2em;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
}
.frontNarrativeThreadContainer .frontNarrativeThreadDesc H2 a:hover{
	text-decoration:none;
	color:#d20000;
}
.frontNarrativeThreadContainer .frontNarrativeThreadDesc H2{
	height:3.6em;
	vertical-align: middle;
	display: table-cell;
}
/* browse panel */

div.browseFacetItem a:hover {
    color: #d20000;
}

/* details */
.detail{
	padding-bottom:40px;
}
.detail H4{
	margin-bottom:10px;
}
.detail H6{
	text-transform:none;
	margin: 15px 0px 5px 0px;
}
.detail H6.inline{
	display:inline-block;
}
.detail H3, .detail H3 a{
	font-size:14px;
	color:#605b4b;
	margin:0px;
	padding:0px;
	cursor:pointer;
}
.detail H3 .fa{
	font-size:12px;
}
.detail .collapseBlock{
	border-color:#efefef;
	border-top:1px solid #efefef;
	padding:10px;
}
.detail .collapseBlock.last{
	border-bottom:1px solid #efefef;
}
.detail .collapseBlock .collapseContent{
	padding-left:10px;
	padding-right:10px;
	display:none;
}
.detail .collapseBlock .collapseContent.open{
	display:block;
}

.detail .stoneBg{
	padding:10px;
	margin-bottom:20px;
}
a.readmore-js-toggle {
    color: #d20000;
}
.detail .tab-pane{
	padding:30px;
}
.detail a.btn-default{
	color:#FFF;
}
.detail .unit.icon img {
    width: auto;
    height: auto;
}
.detail .nav-tabs > li > a{
	text-align:center;
}
.detail .transcription img{
	display:none;
}
.detail #detailTools{
	margin-top:0px;
	padding-top:0px;
}
.detail #detailTools a, .detail #detailTools span{
	color:#8a0000;
}
.detail .narrativeThreadLink{
	margin-top:10px;
	margin-bottom:10px;
	padding:10px 5px 10px 10px;
	border:1px solid #333;
	background:
		linear-gradient(
		  rgba(96, 91, 75, 1), 
		  rgba(96, 91, 75, 0.3)
		),
		url("../graphics/buttonBg.jpg"),
		no-repeat;
	background-size: cover;
	text-align:left;
}
.detail .narrativeThreadLink:hover{
	cursor:pointer;
	border:1px solid #8a0000;	
	background:
		linear-gradient(
		  rgba(0, 0, 0, 1), 
		  rgba(0, 0, 0, 0.3)
		),
		url("../graphics/buttonBg.jpg"),
		no-repeat;
	background-size: cover;
}
.detail .narrativeThreadLink a{
	font-family: lato;
	color:#FFF;
	font-size:12px;
}
.detail .narrativeThreadLink a:hover{
	text-decoration:none;
	color:#FFF;
}
.detail .narrativeThreadLink .fa{
	float: right;
	margin-top: 2px;
	margin-left: 5px;
}


/* EXPLORE */

.narrativeThreadContainer{
	margin-bottom:30px;
	border:1px solid #333;
}
.narrativeThreadImgContainer{
	max-height:400px;
	overflow:hidden;
}
.narrativeThreadContainer img{
	width:100%;
	height:auto;
}
.narrativeThreadContainer .narrativeThreadDesc {
	background-color:#605b4b;
	color:#fff;
	padding:20px;
}
.narrativeThreadContainer .narrativeThreadDesc H2{
	text-transform:none;
	color:#FFF;
	margin-bottom:30px;
}
.narrativeThreadContainer .narrativeThreadDesc H2 a{
	text-transform:none;
	color:#FFF;
}
.narrativeThreadContainer .narrativeThreadDesc H2 a:hover{
	text-decoration:none;
	color:#d20000;
}
.narrativeThreadContainer .narrativeThreadDesc .text-center{
	margin:40px 0px 30px 0px;
}
.narrativeThreadRow{
	background:
		linear-gradient(
		  rgba(224, 215, 186, .95), 
		  rgba(224, 215, 186, 0.75)
		),
		url("../graphics/centre5.jpg"),
		no-repeat;
}
.exploreSchoolsRow{
	background:
		linear-gradient(
		  rgba(224, 215, 186, .95), 
		  rgba(224, 215, 186, 0.75)
		),
		url("../graphics/centre3.jpg");
}
.exploreRow{
	background-repeat: no-repeat;
	background-position:center center;
	background-size:cover;
	padding-top:30px;
	padding-bottom:15px;
	margin-top:-15px;
	margin-bottom:40px;
	font-family: LatoLight;
	line-height: 1.8;
	font-size: 16px;
	font-weight:600;
}
.exploreRow H1{
	color: #8a0000;
	font-size:28px;
	text-transform:capitalize;
}
.exploreRow H2{
	color:#000;
	text-transform:capitalize;
	margin-top:0px;
}
.exploreRow H2 a, .exploreRow H2 a i{
	color: #8a0000;
}
.exploreRow H2 a:hover{
	text-decoration: none;
	color:#d20000;
}
@media (min-width: 768px) {
	.exploreRow p {
		-webkit-columns: auto 2; /* Chrome, Safari, Opera */
		-moz-columns: auto 2; /* Firefox */
		columns: auto 2;
		-webkit-column-gap: 50px; /* Chrome, Safari, Opera */
		-moz-column-gap: 50px; /* Firefox */
		column-gap: 50px;
	}
}
.exploreRow p, .exploreRow .text-center{
	margin-bottom:40px;
}
.explore #featured_set{
	margin:0px 0px 100px 0px;
}
.gallery H4, .gallery H4 a {
	text-transform:none;
    font-size: 14px !important;
}
.gallery H6{
	margin-bottom:0px;
}
.gallery .galleryDetailBottom{
	border:0px;
}
.galleryDetailBottomRow{
	background-color:#605b4b;
	padding:20px;
	color:#FFF;
}
.gallery #galleryDetailImageGrid img {
    border-color: #FFFFFF;
}
.gallery #galleryDetailImageGrid img:hover {
    border-color: #8a0000;
}
.gallery #galleryDetailImageGrid .galleryIconActive img {
    background-color: #8a0000;
    border-color: #8a0000;
}
.gallery .setDescription{
	font-size:13px;
	padding-top:10px;
}
.gallery #galleryDetailObjectInfo{
	padding:25px;
	background-color:#f0ede4;
}
.gallery .galleryTombstoneScroll{
	max-height:325px;
	overflow-y:scroll;
}
.gallery .unit{
	margin-top:10px;
}
.schoolBottom{
	margin-bottom:100px;
}
@media (min-width: 768px) {
	.schoolBottom .noPadding{
		margin-right:0px;
		margin-left:0px;
		padding-right:0px;
		padding-left:0px;
	}
}
.schoolBottom a.schoolTabButton .grayBg, .schoolBottom a.schoolTabButton:hover{
	font-size:30px;
	color:#FFF;
	text-decoration:none !important;
}
.schoolBottom a.schoolTabButton:hover .grayBg{
	background-color:#888375;
	cursor: pointer;
}
.schoolBottom a.selected .grayBg{
	background-color:#888375;
}
.schoolBottom .grayBg{
	padding-top:20px;
	padding-bottom:20px;
}
.schoolBottom .schoolTabContainer{
	height:500px;
	position:relative;
}
.schoolBottom .schoolTab{
	height:500px;
	width:100%;
	background-color:#FFF;
	position:absolute;
	z-index:1;
	overflow-y:scroll;
	overflow-x:hidden;
}
#exploreSchoolMapContainer{
	z-index:10;
}
.schoolBottom #exploreSchoolListContainer img{
	width:100%;
	height:auto;
}
.schoolBottom #exploreSchoolListContainer img:hover{
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.schoolBottom #exploreSchoolListContainer .schoolLink{
	padding:5px 0px 20px 2px;
}
.schoolBottom #exploreSchoolListContainer .schoolLink a{
	font-size: 16px;
	font-family: lato;
}
#exploreMapBalloonContainer {
    max-height: 160px;
    width: 400px;
    overflow-y: auto;
}
#exploreMapBalloonContainer .mapItem{
	margin-bottom:15px;
	clear:both;
}
.mapImage{
	float:left;
	width:35%;
	margin-right:20px;
}
.mapImage img{
	width:100%;
	height:auto;
}
#exploreMapBalloonContainer h6{
	margin-bottom:0px;
}