<div class="row">
	<div class="col-sm-12">
		<h1>{{{title}}}</h1>
	</div>
	<div class="row">
		<div class="col-12 col-md-8">
			<p>{{{bodytext}}}</p>
		</div>
		<div class="col-12 col-md-4">
			<div class="img-fluid mb-5">
				{{{media:1:original}}}
			</div>
			<div class="img-fluid mb-5">
				{{{media:2:original}}}
			</div>
			<div class="img-fluid mb-5">
				{{{media:3:original}}}
			</div>
		</div>
	</div>
</div>