<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">

<h1>{{{title}}}</h1>

<div class="bodytext">
	{{{bodytext}}}
</div>

		</div>
		<div class="col-sm-1"></div>
	</div>
</div>	
		