body{
	background-color:#E6EFF6;
}
.container{
	max-width:1054px;
}
body {
	font-family: 'Gudea', sans-serif;
	color:#000000;
}
a {
	color:#717B67;
}
H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6{
	font-family: 'Gudea', sans-serif;
	font-weight: normal;
	font-style: normal;
}
H1, h1{
	font-size: 20px;
	color:#717B67;
	text-transform:uppercase;
	margin-top:0px;
}
.headerTitle img{
	height:auto;
	width:100%;
	max-width:830px;
	padding:20px 0px 20px 0px;
}
.navbar-header .headerTitle a, .navbar-header headerTitle a:focus, .navbar-header headerTitle a:visited{
	font-size:22px;
	font-weight:normal;
	font-family: 'Gudea', sans-serif;
	color:#19bed1;
	width:auto;
	text-transform:uppercase;
}
.frontSlide img{
	height:400px;
	width:auto;
}
.detailTool a{
	padding-right:80px;
}
a.btn-default{
	text-decoration:none;
}

.btn-default {
    background-color:#717B67;
    border: 0px;
    color:#FFF !important;
    text-shadow: none;
     font-size: 20px;
    text-transform: uppercase;
	font-family: 'Gudea', sans-serif;
    padding:3px 5px;
    box-shadow: none;
    width:100%;
}
.btn-default:hover, .btn-default:active, .btn-default:visited {
    background-color:#717B67;
    border: 0px;
    color:#E6EFF6 !important;
    text-decoration:none !important;
}
.viewAll .btn-default, .viewAll .btn-default:hover, .viewAll .btn-default:active, .viewAll .btn-default:visited {
    background-color:transparent;
    border: 0px;
    color:#717B67 !important;
    text-decoration:underline;
}
div.btn-default:hover {
	color:#FFF !important;
	background-color:#717B67;
    text-decoration:none !important;
    cursor:default;
}
div.btn-default{
    margin:20px 0px 20px 0px;
}
@media (max-width: 768px) {
	.btn-default{
		font-size:14px;
	}
}
.btn-blue {
    background-color:#006E9D;
    border: 0px;
    color:#FFF !important;
    text-shadow: none;
    font-size: 20px;
    text-transform: uppercase;
	font-family: 'Gudea', sans-serif;
    padding:2px 7px;
    box-shadow: none;
    width:auto;
    line-height:1em;
    margin:-5px 10px 15px 0px;
}
/* header */
.headerContainer{
	background-color:#FFF;
}
.headerContainer .navbar-form{
	margin-top:40px;
	width:190px;
	margin-right:-5px;
}
.headerContainer .navbar-form button, .navbar .navbar-form button{
	height:17px;
	padding:0px;
	margin:4px 0px 4px 0px !important;
	color: #9E8E89;
}
.headerContainer .form-group {
	width:125px;
	padding:0px;
	height:auto;
}
@media (max-width: 960px){
	.headerContainer .navbar-form{
		margin-top:40px;
		width:160px;
	} 
	.headerContainer .form-group {
		width:95px;
	}
	.headerContainer .navbar-form button, .navbar .navbar-form button{
		height:14px;
	}
	.headerContainer .navbar-form button, .navbar .navbar-form button{
		height:14px;
		margin:0px 0px 4px 0px !important;
	}
}
@media (max-width: 900px){
	.headerContainer .navbar-form{
		margin-top:35px;
	} 
}
.headerContainer .form-control, .navbar .form-control {
	padding: 0px 5px;
  	border: 0px;
  	border-radius: 5px;
	-webkit-box-shadow: none;
		  box-shadow: none;
	-webkit-transition: none;
		  transition: none;
	height:auto;
}
.headerContainer .form-control:focus, .navbar .form-control:focus {
	border: 0px;
	outline: 0;
	-webkit-box-shadow: none;
          box-shadow: none;
} 
.headerContainer .formOutline, .navbar .formOutline{
	border:1px solid #9E8E89;
	border-radius: 5px;
	position:relative;
	background-color:#FFFFFF;
}
@media (min-width: 768px) {
	.headerContainer .formOutline{
		margin-left:20px;
	}
}
.btn-search{
	color: #9E8E89;
}
/* display the search box in the navbar for smaller sizes */
@media (min-width: 768px) {
	.navbar .navbar-form{
		display:none;
	}
}
@media (max-width: 768px) {
	.headerContainer .navbar-form{
		display:none;
	}
}
@media (max-width: 767px) {
	.navbar .navbar-form, .navbar .form-group {
		width:80%;
	}
	.navbar .navbar-form{
		float:left;
		padding:0px;
		margin-left:0px;
	}
	.navbar .navbar-form button{
		margin-top:0px !important;
	}
	.navbar .form-control{
		margin-top:2px;
	}
}
.navbar-header .icon-bar{
	width:15px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 2px;
}
.navbar-toggle {
  padding: 5px 6px;
}
.navbar-toggle:hover{
	background-color: #E6EFF6 !important;
}
/* navbar */
.navbar{
	background-color:#717B67;
  	border: 0px;
	-webkit-box-shadow: none;
		  box-shadow: none;
	-webkit-transition: none;
		  transition: none;
}
nav, .navbar, .navbar-default{
	min-height:10px !important;
}
.nav li a{
	padding:0px;
	margin:0px 50px 0px 0px;
	text-transform:uppercase;
	font-size:15px;
	color:#FFFFFF !important;
	font-family: 'Gudea', sans-serif !important;
}
@media (max-width: 768px) {
	.nav li a{
		margin:0px 25px 0px 25px;
	}
}
.navbar{
	min-height:auto;
}
/*
.nav li.active a, .nav li a:hover, .nav li a:active, .nav li a:visited{
	color:#DDEAF3 !important;
	font-size:15px !important;
	font-family: 'Gudea', sans-serif !important;
}
.navbar .navbar-nav > .active > a {
	background-color:#717B67 !important;
}
.nav ul{
	background-color: #006E9D;
	padding:0px;
}
.nav li.dropdown a, .nav li.dropdown a:active, .nav li.dropdown:active a{
	background-color:#717B67 !important;
}
*/

.dropdown-menu{
	font-size:12px;
	padding:5px 0 5px 0;
	border-radius: 0px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.176);
}
.nav .dropdown-menu li.objects {
	display:none;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > li > a:hover {
  	background-color: #717B67;
    color: #DDEAF3;
}
.navbar .navbar-nav li.dropdown > a, .navbar .navbar-nav li.dropdown a:focus, .navbar .navbar-nav li.dropdown a:active, .navbar .navbar-nav li.dropdown a:visited {
	background-color: #717B67 !important;
	color: #FFFFFF;
}
.nav > li > a {
	font-family: 'Gudea', sans-serif !important;
	font-size:15px;
	color:#FFFFFF;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a:focus, .nav > li.active > a {
	font-family: 'Gudea', sans-serif !important;
	font-size:15px;
	color:#DDEAF3 !important;
}
.nav > li.dropdown > a:hover {
	color:#DDEAF3 !important;
}
.nav > li.dropdown > a:focus {
	font-family: 'Gudea', sans-serif !important;
	font-size:15px;
	color:#ffffff !important;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}
.navbar-nav > li > a {
    line-height: 27px;
}   
   
.navbar .navbar-nav li.dropdown .dropdown-menu li a:visited,
.navbar .navbar-nav li.dropdown .dropdown-menu li a:active,
.dropdown-menu > li > a,
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:visited,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:active,
.dropdown-menu > .active > a:visited {
  background-color: #006E9D !important;
  background-image: none;
  filter: none;
  font-family: 'Gudea', sans-serif !important;
  font-size:13px;
}
@media (max-width: 768px) {
	.navbar .navbar-nav li.dropdown .dropdown-menu li a:visited,
	.navbar .navbar-nav li.dropdown .dropdown-menu li a:active,
	.dropdown-menu > li > a,
	.dropdown-menu > li > a:active,
	.dropdown-menu > li > a:visited,
	.dropdown-menu > li > a:focus{
	  background-color: #717B67 !important;
	}
}
.dropdown-menu > li > a:hover{
	color:#DDEAF3 !important;
}
.dropdown-menu {
  background-color: #006E9D;
  padding:0px 5px 5px 5px;
  margin-left:-5px;
}
.dropdown-menu li{
	border-bottom:1px solid #FFFFFF;
	padding:5px 0px 5px 0px;
}
.dropdown-menu li a span{
	font-size:10px;
	margin-right:5px;
}
/* home page */
.hpBrowseImage img{
	width:100%;
	height:auto;
}
.hpBrowseImage{
	overflow:hidden;
	margin:15px 0px 15px 0px;
	position:relative;
}
.hpText{
	position:absolute;
	top:0px;
	left:15px;
	right:15px;
	bottom:0px;
	background-color:#9E8E89;
	color:#FFFFFF;
	font-family: 'Gudea', sans-serif !important;
	font-size:26px;
	line-height:1.4em;
	padding:7px 30px 17px 17px;
}
@media (max-width: 1000px) {
	.hpText{
		font-size:18px;
	}
}
@media (max-width: 768px) {
	.hpBrowseImageSpacer{
		display:none;
	}
	.hpText{
		position:static;
		
	}
}
.hpBrowseTitle{
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	padding:5px 0px 5px 8px;
	color:#FFFFFF;
	font-family: 'Gudea', sans-serif !important;
	font-size:15px;
	background: #000000; 
    background: rgba(0, 0, 0, .5);
}
/* footer */
#footer{
	margin:15px 0px 65px 0px;
	padding-top:20px;
	border-top: 1px solid #717B67;
	font-size:11px;
	color: #717B67;
	line-height:2.2em;
	font-family: 'Gudea', sans-serif !important;
}
#footer a{
	text-decoration:none;
	color:#717B67;
}

/* browse results */
.browse .btn{
	background-color:#006E9D;
    border: 0px;
    color:#FFF !important;
    text-shadow: none;
    font-size: 20px;
    text-transform: uppercase;
	font-family: 'Gudea', sans-serif;
    padding:2px 7px 2px 7px !important;
    box-shadow: none;
    width:auto;
    line-height:1em !important;
    margin:-2px 10px 15px 0px;
}
.browse a .btn, .browse a .btn i, .browse .btn a, .browse .btn .glyphicon{
	color:#FFF !important;
}	

.bResultItemCol{
	height:auto;
	position:relative;
	margin-bottom:30px;
}
@media (max-width: 768px) {
	.bTitleBlockContainer{
		display:none;
	}
}
.bResult{
	overflow:hidden;
	height:auto;
	position:relative;
}
.bResult a{
	color:#FFFFFF;
	font-family: 'Gudea', sans-serif !important;
}
.bResult img{
	width:100%;
	height:auto;
	max-width:235px;
	position:relative;
}
.bResultText, .detailCaptionText{
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	padding:5px 8px 5px 8px;
	color:#FFFFFF;
	font-family: 'Gudea', sans-serif !important;
	font-size:15px;
	background: #000000; 
    background: rgba(0, 0, 0, .5);
    min-height:53px;
    margin-bottom:0px;
}
.bResultText{
	max-width:235px;
}
.bTitleBlock{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:#9E8E89;
	color:#FFFFFF;
	font-family: 'Gudea', sans-serif !important;
	font-size:48px;
	line-height:1.4em;
	padding:7px 30px 17px 17px;
	text-transform:uppercase;
	z-index:1;
}
.bStretchSpacer{
	z-index:0;
}

/* detail */
.detail, .detail p{
	font-family: 'Gudea', sans-serif !important;
	font-size:15px !important;
	color:#000000 !important;
}
.detail p{
	line-height:1.6em !important;
}
.detailSlide{
	position:relative;
}
.detailCaptionText{
	min-height:auto;
}
.detailCaptionText a{
	color:#FFFFFF;
	font-family: 'Gudea', sans-serif !important;
	font-size:15px;
}
.detailTitle{
	background-color:#9E8E89;
	color:#FFFFFF;
	font-family: 'Gudea', sans-serif !important;
	font-size:30px;
	line-height:1.4em;
	text-transform:uppercase;
	padding:7px 30px 17px 17px;
	min-height:250px;
}
.detailTitleSmall{
	background-color:#9E8E89;
	color:#FFFFFF;
	font-family: 'Gudea', sans-serif !important;
	font-size:20px;
	line-height:1.4em;
	text-transform:uppercase;
	padding:7px 30px 17px 17px;
	display:none;
	margin-bottom:15px;
}
@media (max-width: 768px) {
	.detailTitleSmall{
		display:block;
	}
	.detailTitle{
		display:none;
	}
}
div.detailRelatedTitle{
	font-family: 'Gudea', sans-serif !important;
	font-size:18px !important;
	font-weight:700;
	color:#006E9D !important;
	margin-bottom:10px !important;	
	line-height:1em;
	padding:0px;
}
.detailRelatedTitle a{
	font-family: 'Gudea', sans-serif !important;
	font-size:18px !important;
	font-weight:700;
	color:#006E9D !important;
	margin:0px;
	line-height:1em;
	padding:0px;
}
.detailMoreInfo a, a.detailMoreInfo{
	font-family: 'Gudea', sans-serif !important;
	font-size:14px !important;
	font-weight:700;
	color:#006E9D !important;
	margin:0px;
	line-height:1em;
	padding:0px;
}
.detailMoreInfo a .glyphicon, a.detailMoreInfo .glyphicon{
	font-size:12px !important;
	font-weight:normal;
}
.detail HR{
	background-color:#717B67;
	height:1px;
	margin:20px 0px 20px 0px;
}
.detailRelatedThumb img{
	width:100%;
	height:auto;
	max-width:200px;
}
.detailRelatedThumb{
	text-align:center;
}
@media (max-width: 768px) {
	.detailRelatedThumb{
		padding-bottom:15px;
	}
}
.detailBlueText{
	font-family: 'Gudea', sans-serif !important;
	font-size:14px !important;
	font-weight:700;
	color:#006E9D !important;
}
.detailCoverObject{
	position:relative;
}
.detailCoverObject img{
	width:100%;
	height:auto;
}

/* multisearch */
.multisearch H3{
	color:#006E9D;
	font-family: 'Gudea', sans-serif !important;
	font-weight:700;
	font-size:18px !important;
}
.multisearch H3 a, .multisearch H3 a:hover{
	text-decoration:none;
	color:#006E9D;
	font-family: 'Gudea', sans-serif !important;
	font-weight:700;
	font-size:18px !important;
}
.multisearchFullResults a{
	color:#717B67;
	font-family: 'Gudea', sans-serif !important;
}



.multisearch .multisearchResult {
	float:left;
	width:125px;
	height:140px;
	margin:10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color:none;
	line-height:1em;
	padding:0px;
	font-size:11px;
	overflow:hidden;
	font-family: 'Gudea', sans-serif !important;
	position:relative;
}
.multisearch .multisearchResult a  {
	color:#454545;
}
.multisearch .multisearchResult img {
	width:100%;
	height:auto;
	margin-bottom:5px;
}
.multisearchResultText{
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	padding:5px 8px 5px 8px;
	color:#FFFFFF;
	font-family: 'Gudea', sans-serif !important;
	font-size:10px;
	line-height:1.3em;
	background: #000000; 
    background: rgba(0, 0, 0, .5);
    min-height:25px;
    margin-bottom:0px;
}
.multisearchResultText a{
	color:#FFFFFF !important;
	font-family: 'Gudea', sans-serif !important;
}