<div class="row">
	<div class="col-sm-12 col-md-4 col-md-offset-1">
		<H1>{{{title}}}</H1>
		<p>{{{bodytext}}}</p>
	</div>
	<div class="col-sm-12 col-md-6 col-md-offset-1">
		{{{media:1:page}}}
	</div>
</div>