<div class="row">
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		<H1>{{{title}}}</H1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		<div class="staticPageImages">{{{media:1:page}}}<div class='staticPageCaption'>{{{media:1:caption}}}</div></div>
		{{{bodytext}}}
		<div class="funder">
			<a href="https://www.clir.org/" target="_blank"><img src="/lankton/themes/lankton/assets/pawtucket/graphics/CLIR_red_w_wordmark.jpg" alt="Council on Library and Information Resources"></a>
		</div>
		
	</div>
</div>