.card {
  cursor: pointer;
  /* max-height: 200px !important; */
}

.panel-item{
  max-width: 300px;
  max-height: 350px !important; /* properly sizes image and metadata within panel */
}

div.panel{
  height: 0px;
  overflow: hidden;
  transition: all .5s ease-out;
}

div.panel.active {
  /* height: auto; */ /* doing this messes with the transition*/
  height: 500px;
  overflow-y: scroll;
  transition: all .5s ease-in;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

@media (max-width: 770px) {

  /* .panel-item{
    max-height: 300px !important;
  } */

  div.panel.active {
    /* height: auto; */ /* doing this messes with the transition*/
    height: 850px;
    transition: all .5s ease-in;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
}
