<li>
	<div class='frontSlide'>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-5">
				{{{media:1:original}}}
			</div>
			<div class="col-xs-12 col-sm-7 col-md-7">
				<div class="slideTextRight">
					<h2>
						{{{title1}}}
					</h2>
					<p>
						{{{description1}}} 
					</p>
					<p class="text-center">
						<a href="{{{link1}}}" class="btn-default">Get Started</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</li>
<li>
	<div class='frontSlide'>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-5">
				{{{media:2:original}}}
			</div>
			<div class="col-xs-12 col-sm-7 col-md-7">
				<div class="slideTextRight">
					<h2>
						{{{title2}}}
					</h2>
					<p>
						{{{description2}}} 
					</p>
					<p class="text-center">
						<a href="{{{link2}}}" class="btn-default">Get Started</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</li>
<li>
	<div class='frontSlide'>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-5">
				{{{media:3:original}}}
			</div>
			<div class="col-xs-12 col-sm-7 col-md-7">
				<div class="slideTextRight">
					<h2>
						{{{title3}}}
					</h2>
					<p>
						{{{description3}}} 
					</p>
					<p class="text-center">
						<a href="{{{link3}}}" class="btn-default">Get Started</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</li>