/*
	Teal: #00768e; Yellow: #f4e511; Pink: #ee726b;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	margin-bottom:120px;
}
b, strong {
    font-family: 'Open Sans', serif;
	font-weight:700;
}
a, a:hover {
    color: #00768e;
}
h1, H1, h2, H2, h3, H3, h4, H4, H5, h5, button, div, label{
	font-family: 'Open Sans', sans-serif;	
}
h1, H1{
	color:#ee726b;
}
.btn-default, .btn-default:hover, .browse .btn, .browse .btn:hover, .sets .btn, .sets .btn:hover{
	background-color: #f4e511;
	color: #00768e;
	border-radius: 14px;
	padding: 5px 13px;
}
.btn-default a, .btn-default:hover a{
	color: #00768e;
}
a.browseRemoveFacet .glyphicon {
    color: #00768e !important;
}
.form-control:focus {
    border-color: #00768e;
}
.container{
	max-width:1140px;
}
.teal{
	color:#00768e;
}
.pink{
	color:#ee726b;
}
.yellow{
	color:#f4e511;
}
.navbar-brand{
	padding-top: 14px;
}
.navbar-brand{
	width:120px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin-left:0px;
	display:block;
}
@media (min-width: 768px) {
	.navbar-brand{
		width:200px;
		padding-left: 0px;
	}
}
.navbar-toggle {
    margin-top: 25px;
}
.navbar-collapse{
	clear:both;
	text-align:center;
	background-color:#00768e;
}
/*
@media (min-width: 1010px) {
	.navbar-collapse{
		margin-left:-15px;
		margin-right:-15px;
	}
}
*/
.menuItems{
	float:none !important;
	display:table;
	border:0px;
	margin-bottom:0px !important;
	margin-top:17px;
}
ul.menuItems{
	border:0px;
}
@media (min-width: 768px) {
	ul.menuItems{
		width:auto;
	}
}
.navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a{
	color:#FFF !important;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:14px;
	line-height:1em;
	background-color:transparent !important;
	text-transform:uppercase;
}
@media (max-width: 768px) {
	.navbar-default .navbar-nav > li {
		text-align:center;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #FFFFFF;
	}
	.navbar-nav .open .dropdown-menu > li {
		text-align: center;
	}
}
.navbar-form{
	box-shadow:none;
	-webkit-box-shadow:none;
}
.navbar-form .form-group{
	width:140px;
}
.navbar-default .navbar-nav.menuItems > li > a:hover, .navbar-default .navbar-nav.menuItems > li > a:focus, .navbar-default .navbar-nav.menuItems > li > a:active, .navbar-default .navbar-nav.menuItems > li.active > a{
	color:#FFF !important;
}
.navbar-nav > li.active > a, .navbar-default .navbar-nav.menuItems > li > a:active, .navbar-default .navbar-nav.menuItems > li.active > a{
	color:#f4e511 !important;
}
.nav > li > a{
	padding-top:20px;
}

.nav.menuItems > li > a{
	padding-left:12px;
	padding-right:12px;
	padding-top:0px;
	padding-bottom:0px;
}
@media (max-width: 768px) {
	.nav.menuItems > li > a{
		padding-top:10px;
		padding-bottom:10px;
	}
}
@media (min-width: 890px) {
	.nav.menuItems > li > a{
		padding-left:20px;
		padding-right:20px;
	}
}
@media (min-width: 1030px) {
	.nav.menuItems > li > a{
		padding-left:30px;
		padding-right:30px;
	}
}
.navbar-default .navbar-nav.menuItems > li{
	margin-right:1px;
}
.navbar-default .navbar-nav.menuItems > li:hover, .navbar-default .navbar-nav.menuItems > li:focus, .navbar-default .navbar-nav.menuItems > li:active, .navbar-default .navbar-nav.menuItems > li.active, .navbar-default .navbar-nav.menuItems > li.active:hover{
	background-color:#00768e !important;
}
@media (max-width: 768px) {
	.navbar-default .navbar-nav.menuItems > li:hover, .navbar-default .navbar-nav.menuItems > li:focus, .navbar-default .navbar-nav.menuItems > li:active, .navbar-default .navbar-nav.menuItems > li.active, .navbar-default .navbar-nav.menuItems > li.active:hover{
		background-color:#00768e !important;
	}
}
.nav > li.dropdown > a.icon{
	font-size:18px !Important;
}
#user-navbar{
	margin-top:-2px;
}
.navbar-toggle-user{
	padding: 6px 10px 5px 10px;
}
.navbar-form{
	margin-top:10px;
}
.navbar .formOutline{
	border:0px;
	background-color:#FFF;
	border-radius: 14px;
	padding-right: 5px;
	padding-left: 5px;
}
#headerSearchInput{
	height:12px;
}
.navbar-form .formOutline{
	line-height:1em;
}
@media (max-width: 768px) {
	
	#headerSearchInput{
		height:20px;
		font-size:20px;
		margin-top:5px;
		margin-bottom:5px;
		width:100%;
	}
	.navbar-form .form-group{
		width:90%
	}
}
.yamm .nav.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}
.yamm #user-navbar.nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 17px;
    text-align:left;
}
#user-navbar.navbar-nav > li > .dropdown-menu{
	margin-top: 0px;
}
#footer{
	background-color:#FFFF;
	border-top:2px solid #ee726b;
	color:#00768e;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	text-align:center;
	font-size:14px;
	height:65px;
	padding-top:10px;
}
#footer a, #footer ul a{
	color:#00768e;
}
#footer ul li{
	text-align:center;
}
#footer ul li{
	padding:0px 15px 0px 15px;
}
#footer .fa{
	color: #ee726b;
	margin-right:5px;
}
#footer img{
	height:45px;
	width:auto;
}
.heroBg1{
	background-image: url("../graphics/hp3a.jpg");
	background-size: cover;
	background-position: center bottom;
	margin-top:-20px;
}
.heroBg2{
	background-image: url("../graphics/hp2.jpg");
	background-size: cover;
	background-position: center center;
	margin-top:-20px;
}
.heroBg3{
	background-image: url("../graphics/hp_sample.jpg");
	background-size: cover;
	background-position: center bottom;
	margin-top:-20px;
}
.frontSearch{
	background-color:rgba(255, 255, 255, .2);
	/*padding-top:125px;
	padding-bottom:125px;*/
	padding-top:142px;
	padding-bottom:142px;
}
.heroBg1 .frontSearch{
	background-color:rgba(255, 255, 255, .1);
}
.heroBg2 .frontSearch{
	background-color:rgba(255, 255, 255, .2);
}
.heroBg3 .frontSearch{
	background-color:rgba(255, 255, 255, .4);
}
.frontFormOutline{
	background-color:#FFF;
	width:250px;
	margin-left:auto;
	margin-right:auto;
	border-radius: 18px;
	padding-right: 12px;
	padding-left: 12px;
}
.frontFormOutline input{
	width:80%;
	border:0px;
	box-shadow:none;
	font-size:16px;
	color: #00768e;
}
.frontFormOutline button{
	float:right;
}
.frontFormOutline .front-btn-search{
	font-size: 16px;
	padding: 6px;
	margin-bottom: 0;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	background-color: #FFF;
	border: 0px;
	border-radius: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color:#ee726b;
}
.front H1{
	font-weight:bold;
	color: #00768e;
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
	font-family: 'Open Sans', sans-serif;
}
.front H2{
	color: #ee726b;
}
/* detail */
a.readmore-js-toggle {
    color: #00768e;
}
.repViewerCont .small{
	text-align:center;
}
.detail .detailTool span{
	color:#ee726b;
}
.detail a {
    color: #00768e;
}
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
    background-color: transparent;
    padding: 2px 5px 7px 5px;
    font-size: 12px;
    position: absolute;
    display: block;
    bottom: -35px;
    top:auto;
    z-index: 2000;
	width: 50%;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}
.detail .detailMediaToolbar a, .gallery .detailMediaToolbar a{
	color:#00768e;
	font-size:15px;
}
.repViewerContCont{
	padding-bottom:30px;
}
.detail #detailRepNav {
    top: -25px;
    position: relative;
    z-index: 300;
}
.detail #detailComments button{
	display:none;
}
.detail #detailComments button.translatedButton{
	display:inline;
}
.detail .unit .copyrightLogo img{
	height:50px !important;
	width:auto !important;
}
.detail .unit .copyrightLogoBg img{
	height:30px !important;
	width:auto !important;
}
.copyrightLogo {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.copyrightLogoBg {
	background-color: #318ac7;
	padding: 10px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* cookie notice */
#cookieNotice{
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	color: #00768e;
	background-color: #FFF;
	padding: 30px 0px 30px 0px;
	font-size: 16px;
	z-index: 9999;
	box-shadow: rgba(0,0,0,.5) 0px 5px 50px;
	border-top:2px solid #ee726b;
}
#cookieNotice .acceptCookie{
	display:inline-block;
	background-color:#00768e;
	color:#FFF;
	padding:10px;
	cursor: pointer;
	font-size:14px;
}
#cookieNotice a{
	font-weight:bold;
	text-decoration:underline;
}

/* gallery */
.gallery #gallerySetInfo a.btn, #confirm-delete .glyphicon {
	color: #00768e !important;
}
.gallery .galleryList{
	margin-bottom:30px;
}
.gallery .galleryList img{
	width:100%;
	height:auto;
}
.gallery .galleryList label{
	padding-top:5px;
	display:block;
}
.gallery .galleryList label a{
	font-weight:bold;
	font-size:14px;
	text-transform:none;
}
.gallery #galleryDetailImageArea {
	margin-bottom: 40px;
}
#galleryDetailObjectInfo .unit{
	margin-top:15px;
}
#galleryDetailObjectInfo .infoScroll{
	max-height:365px;
	overflow-y:scroll;
}
.gallery .readmore-js-toggle{
	color: #00768e;
	padding: 5px 13px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
	margin-bottom:10px;
	text-align:center;
}
/* collections/list browse */
.bResultListItemText{
	display: flex;
	justify-content: left;
	align-items: center;
	height: 72px;
}
.bResultListItem .bResultListItemImg{
	margin-right:10px;
}
.bResultListItem .bResultListItemText a {
    line-height: 1.2em;
    color: #00768e;
    font-size: 14px;
	font-weight:bold;
}
