/* header gray: 4d4a47; offwhite: efebe7 or f1f1e9; */

/*
@import url('https://fonts.googleapis.com/css?family=Cinzel');
*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

/*
	font-family: 'Cormorant', serif;
*/
body{
	margin-top:57px;
	margin-bottom:300px;
	font-size: 13px;
	color: #000;
}
@media(max-width:595px){
	body{
		margin-top:66px;
	}
}
@media(min-width:768px) and (max-width:1500px){
	body{
		margin-top:93px;
	}
}
.container{
	max-width:2000px;
}
a img, .btn, .grayBg{
	transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
a:hover img, a img:hover, .btn:hover{
	opacity:.6;
}

/* notifications */
.front .notificationMessage{
    position: absolute;
    top: 75px;
    z-index: 1;
    width: 50%;
    margin-left: 25%;
}
.notificationMessage{
    width: 50%;
    margin-left: 25%;
}
@media(max-width:768px){
	.notificationMessage{
		width: 100%;
		margin-left: 0px;
	}
}

.navbar{
	background-repeat:repeat-x;
	background-color: #4d4a47;
	position: fixed;
	width: 100%;
	top:0px;
	-moz-box-shadow: inset 0 0 20px rgba(0,0,0, 0.4);
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0, 0.4);
	box-shadow: inset 0 0 20px rgba(0,0,0, 0.4);
}
a.navbar-brand, a.navbar-brand:hover {
    font-size: 26px;
    text-transform: none;
    color: #FFF;
    font-weight: 600;
	padding-top: 10px;
    font-family: Cormorant;
    text-transform:uppercase;
    padding-top: 14px;
	line-height: 1em;
	width:auto;
}
@media(max-width:595px){
	a.navbar-brand, a.navbar-brand:hover {
		width: 300px;
		font-size: 22px;
	}
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #FFF;
    font-family: Cormorant;
}
.navbar .formOutline{
	background-color:#FFF;
	border-color:#FFF;
	border-radius: 0px;
	box-shadow:none;
}
.nav > li > a {
    padding-left: 13px;
    padding-right: 13px;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    margin-left:1px;
}
.navbar-default .navbar-nav > li > a:hover{
    background-color: #333333;
    font-family:Lato;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow:none;
    text-transform:uppercase;
    font-family:Lato;
	letter-spacing:1px;
}
.navbar-nav .dropdown-menu > li > a {
	font-family: Lato;
	font-size: 13px;
    text-transform: uppercase;
}
.dropdown-menu{
	min-width: 100%;
}
.yamm .nav.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #333333;
	color:#FFF;
    font-family:Lato;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-collapse{
	max-height:500px;
}
@media(max-width:767px){
	.navbar-form{
		margin-left:5px;
		margin-right:5px;
	}
	.navbar-nav {
		margin: 7.5px 0px 7.5px 0px;
	}
	.container > .navbar-collapse {
		margin-right: -30px;
		margin-left: -30px;
	}
	.navbar-nav .dropdown-menu > li > a {
		text-align:left;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color:#FFF;
		text-transform:capitalize;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
		color:#dedede;
	}
	.navbar-nav .open .dropdown-menu{
		background-color: rgba(0, 0, 0, 0.3);
	}
}
.navbar-form{
	-webkit-box-shadow:none;
	box-shadow:none;
}
@media(min-width: 768px) and (max-width: 1500px) {
	ul.menuItems {
		width:100%;
		border-top:solid 1px #ddd;
	}
	.menuItems.navbar-nav > li > a {
		padding-top:5px;
		padding-bottom:5px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right:0px;
	}
	.container.menuBar {
		padding:0px;
	}
	.navbar > .container .navbar-brand {
		margin-left:0px;
	}
}
@media(min-width: 1500px) and (max-width: 1550px) {
	.navbar-form{
		padding-left:0px;
	}
	.navbar-form .form-group {
		width: 110px;
	}
}
H1, h1, h2, H2, H3, h3{
	color:#333;
/*    font-family: Cormorant;
    text-transform:none; */
}
a, a:hover{
	color:#757575;
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .detail .btn-default, .detail .btn-default:hover, .detail .btn-default:focus, .detail .btn-default:active {
	background-color:#454545;
	color:#FFF;
}
.btn-default:hover{
	background-color:#000;
	color:#FFF;
}

/* footer */
#footer{
	/*background-color: #f7f7f7; */
	background-color: #f1f1e9;
	color:#000;
	padding-top:50px;
	height: 240px;
	border:0px;
	font-size:14px;
	font-weight:normal;
	margin-top:50px;
}
#footer a{
	color:#000;
	font-weight:bold;
	font-size:16px;
	text-decoration:none;
}
#footer a.museumLink{
	font-family: 'Cormorant', serif;
	font-size:28px;
	color:#000;
	font-weight:400;
}
#footer .address{
	text-transform: uppercase;
	font-size: 14px;
}
@media(max-width: 768px) {
	#footer .text-right{
		text-align:left;
	}
}
#footer .list-inline a{
	font-size: 14px;
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
}
#footer .social a{
	font-size: 20px;
	color:#333;
	font-size:25px;
}
#footer ul {
    margin-top: 25px;
}
#footer ul li{
	padding: 0px 10px 0px 10px;
}
#footer ul.social li {
    padding: 0px 5px 0px 5px;
}

/* forms */
.form-control:focus {
	border-color: #000;
}
.attributeListItem{
	width:100%;
}

#gallerySetInfo .caption{
	display:none;
}

#pageArea{
	padding-top:20px;
}
#pageArea.front{
	padding-top:0px;
}

/* front */
.front{
	margin-top:-15px;
}
.jcarousel-pagination{
	display:none;
}
.front .jcarousel-pagination{
	width:80%;
}
.front .jcarousel-wrapper{
	margin-top:0px;
}
.front H1{
	text-align:center;
	color:#104d73;
	font-weight:bold;
}

.front H1{
	font-family: 'Cormorant', serif;
	font-size: 40px;
	color: #000;
	font-weight:400;
}
.front H2, .front .frontGallerySlideCaption a{
	color: #104d73;
}
.front H3, .front H2.frontSubHeading{
	font-family: 'Cormorant', serif;
	font-size: 40px;
	color: #000;
	font-weight:500;
	text-transform:none;
	margin-top:60px;
}
.front .bgLtGray{
	padding-left:30px;
	padding-right:30px;
}

.front .heroSearch {
	position:relative;
	text-align:center;
	color:#FFF;
	padding-top:250px;
	padding-bottom:450px;
	font-size:28px;
	text-shadow: 0px 0px 3px #000000;
	font-family: LatoLight;
	font-weight: 400;
	text-transform:uppercase;
}
.heroSearch H1{
	font-family: 'Cormorant', sans-serif;
	font-size: 68px;
	color: #FFF;
	text-align: center;
	line-height: 1.1em;
	margin-top:0px;
	padding-top:0px;
	font-weight: 400;
}
.heroSearch .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
}
.heroSearch .form-group{
    width:80%;
}
.front .heroSearch .formOutline{
	display: inline-block;
	background-color:#FFF;
}
.front .heroSearch .form-group {	
    width: 400px;
    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.front .heroSearch .form-control, .front .heroSearch .form-control:focus{
	border:0px;
	box-shadow:none;
	font-size:18px;
	height:44px;
}
#heroSearchButton{
	color:#000;
	font-size: 20px;
}

/*@media(min-width: 480px) and (max-width: 768px) {
	.front .heroSearch{
		padding-left:100px;
	}
}*/
/*@media(min-width: 900px) and (max-width: 992px) {
	.front .heroSearch{
		padding-top:100px;
	}
}*/
@media(max-width: 992px) {
	.heroSearch H1{
		font-size:40px;
	}
	.heroSearch H2{
		font-size:24px;
	}
	.front .heroSearch .form-group {
		width: 250px;
	}
}
.hpIntro .callout, .hpIntro .callout i{
	font-family: 'Cormorant', serif;
	font-size: 35px;
	color: #000;
	font-weight:400;
}
.hpIntro .callout b{
	font-family: 'Cormorant', serif;
	font-weight:600;
	font-size: 50px;
}
.hpIntro{
	color:#333;
	text-align:center;
	font-size:18px;
}
.hpIntro a{
	text-decoration:underline;
}
@media(max-width: 900px) {
	.hpIntro H1, .hpIntro H1 i{
		font-size:24px;
	}
	.hpIntro {
		font-size:14px;
	}
}
/*.hpExplore{
	margin-top: 60px;
}*/
.hpExplore img{
	width:100%;
	height:auto;
	margin-bottom:5px;
}
.hpExplore .col-sm-6{
	position:relative;
}
/*
.hpExplore .col-sm-6 a.hpExploreTitle{
	position:absolute;
	top:40%;
	text-align:center;
	width:100%;
	left:0px;
	color:#FFF;
}
.hpExplore a.hpExploreTitle{
	font-size:42px;
	font-family: 'Cormorant', serif;
	color:#000;
	text-shadow: 1px 1px 2px #000000;
	line-height: 1em;
}
*/
.hpExplore a.hpExploreTitle{
	font-size:24px;
	color:#000;
	line-height: 1em;
}
.hpExplore .exploreTile:hover img{
	opacity:.4;
	transition:opacity .75s;
	-webkit-transition:opacity .75s;
}
.hpExplore .exploreTile:hover a{
	text-decoration:underline;
}
.hpExplore .exploreTile{
	margin-bottom:29px;
}
#hpScrollBar{
	position:fixed;
	bottom:0px;
	width:100%;
	background-opacity:.7;
	background-color:#2F2E2D;
	color:#b4b4b4;
	text-align:center;
	font-size:30px;
	padding:10px 0px 10px 0px;
	opacity:.8;
}
@media(min-width: 768px) and (max-width: 992px) {
	.hpExplore a.hpExploreTitle{
		font-size:24px;
	}
}
@media(min-width: 992px) {
	.hpExplore a.hpExploreTitle{
		font-size:18px;
	}
}
@media(min-width: 1350px) {
	.hpExplore a.hpExploreTitle{
		font-size:24px;
	}	
	.hpExplore .exploreTile{
		margin-bottom:26px;
	}
}
@media(min-width: 1430px) {
	.hpExplore .exploreTile{
		margin-bottom:30px;
	}
}

/* parallax frontpage styles */
html.frontContainer {
    height: 100%;
    padding:0px -15px 0px -15px;
}
body.frontContainer {
	margin-bottom:0px;
	height: 100%;
}
body.frontContainer #footer{
	position:relative;
}

.parallax {
	position:relative;
    background-image: url("../graphics/hero5.jpg");

    /* Full height */
    /*height: 100%;*/
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center -210px;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-left: -15px;
	margin-right: -15px;
}
.parallax .heroSearch{
	background-color: rgba(0, 0, 0, 0);
	padding-top: 40px;
	padding-bottom: 50px;
	margin-top: 220px;
	margin-bottom: 450px;
	font-weight:400;
}
/*
@media(max-height:834px){
	.parallax{
		background-position: center -90px;
	}
}*/
/*
@media(max-width:1112px){
	.parallax{
		background-position: center -134px;
	}
}
@media(max-height:834px){
	.parallax .heroSearch{
		margin-top: 150px;
	}
}
@media(max-width:420px) and (max-height:812px){
	.parallax .heroSearch{
		margin-top: 175px;
	}
}
*/
@media(max-width:420px), (max-height:420px){
	.heroSearch H1{
		font-size:50px;
	}
	.front .heroSearch .form-group{
		width:300px;
	}
	.hpIntro .callout b{
		font-size:40px;
	}
	.hpIntro .callout, .hpIntro .callout i{
		font-size:24px;
	}
}
/*
@media(max-width:1120px){
	.parallax {
		background-position: center -110px;
	}
}
@media(max-width:420px){
	.parallax {
		background-position: center 0px;
	}
	.parallax .heroSearch{
		margin-top: 200px;
	}
}
@media(max-width:1440px){
	.parallax .heroSearch{
		margin-top: 200px;
	}
}
@media(max-width:1280px){
	.parallax .heroSearch{
		margin-top: 160px;
	}
}
@media(max-height:420px){
	.parallax .heroSearch{
		margin-top: 20px;
		margin-bottom:70px;
	}
}
*/
.parallax .heroSearch{
	margin-top: 25vh;
}
@media(max-height:420px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
.parallax {
    background-position: center center;
}

@media (max-device-width:1024px){
	/* ipad and mobile disable background-attachment: fixed; fallback to no parallax so at lest see image */
	.parallax {
		background-attachment: scroll;
	}
}
.hpIntro{
	padding-top:70px;
	padding-bottom:70px;
}
.hpTimeline{
	text-align:center;
	margin: 60px 0px 60px 0px;
}
#frontTimelineContainer{
	margin-left:-15px;
	margin-right:-15px;
}
.hpTimeline .tl-slide{
	background-color: #f4f4f1;
}
.hpTimeline .tl-timenav{
	background-color: #d2d0c9;
}
.hpTimeline .tl-timemarker .tl-timemarker-content-container{
	box-shadow: 1px 1px 1px 0px rgba(100,100,100, .1);
}
.tl-text h2.tl-headline-title, .tl-text h2.tl-headline{
	font-family: Cormorant;
	font-size: 28px;
	line-height: 28px;
	font-weight:400;
	text-transform:none;
}
.tl-slide, .tl-slide-content, .tl-text-content, .tl-text-content > p, .tl-text > p{
	color:#000000 !important;
}
.tl-credit, .tl-headline-date {
    color: #4d4d4d !important;
}
.tl-slidenav-previous .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-description, .tl-slidenav-previous .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-description{
	opacity:.8 !important;
}
.tl-slidenav-previous .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-description{
	color:#4d4d4d !important;
}
.tl-attribution a{
	color:#4d4d4d !important;
}
.tl-timemarker-content-container, tl-timemarker-content-container-long, tl-timemarker-content-container-small{
	background-color:#FEFEFE !important;
	color:#4d4d4d !important;
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline, h2.tl-headline{
	background-color:#FEFEFE !important;
	color:#4d4d4d !important;
}
.tl-timeaxis-minor > .tl-timeaxis-tick:nth-child(4) > .tl-timeaxis-tick-text.tl-animate-opacity{
	color:#4d4d4d !important;
}
.tl-timeaxis-tick-text.tl-animate-opacity{
	background-color:#FFF !important;
}
.tl-timeaxis-major{
	top:5px;
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick, .tl-timeaxis-tick-text.tl-animate-opacity{
	color:#4d4d4d !important;
	opacity:1 !important;
}
.tl-text-content-container h2.tl-headline{
	background-color:transparent !important;
	color:#000 !important;
}
.tl-menubar-button{
	color:#4d4d4d !important;
}
@media(max-width:420px){
	.tl-slide-content{
		width:100% !important;
	}
}
.tl-timeline p{
	font-family: LatoLight !important;
	font-weight: 400;
	text-transform:none;
	color:#000;
}
.tl-slidenav-title, .tl-slidenav-description, .tl-timeline .tl-timenav-slider .tl-timeaxis, .tl-timeline .tl-caption, .tl-timeline .tl-credit, .tl-headline-date{
	font-family: Lato !important;
	font-weight: 400;
	text-transform:none;
	color:#000;
}
.tl-text-content-container h3, .tl-text-content-container h3.tl-headline-date, .tl-timeline .tl-headline-date, .tl-timeline h3.tl-headline-date{
	font-family: Lato !important;
	font-weight:normal;
}
h3.tl-headline-date, .tl-text .tl-headline-date, .tl-text h3.tl-headline-date, .tl-timeline .tl-headline-date, .tl-timeline h3.tl-headline-date{
	font-family: LatoLight !important;
}
.tl-timemarker-media-container{
	display:none;
}
/* browse */
@media(max-width:530px){
	.results H1{
		clear:both;
	}
}
.results ul.dropdown-menu {
    left: auto;
    right: auto;
}
#bViewButtons {
    float: right;
}
.bIntroduction{
	font-size:16px;
}
#bRefine.fixed {
    padding-top: 65px;
}
#bMorePanel{
	left:0px;
	right:auto;
}
@media(min-width:768px) and (max-width:1500px){
	#bRefine.fixed {
    	padding-top: 105px;
	}
}
#bRefine H2{
	color:#333;
	font-size:20px;
}
#bRefine H3[type="button"]{
	cursor: pointer;
	color:#666;
}
#bRefine a{
	font-size:14px;
	color:#333333;
}
#bRefine hr {
	margin-bottom:0px;
}
#bRefine blockquote{
	border:0px;
	line-height:1.3em;
	display:none;
}
#bRefine .facetDescButton{
	padding-left:5px;
}
.advancedSearchLink{
	margin-top: -8px;
	margin-bottom: 5px;
	text-align: left;
	margin-left: 35px;
}
.advancedSearchLink a{
	color:#000;
}
@media(max-width:768px){
	.advancedSearchLink{
		text-align:center;
		margin:5px 0px 10px 0px;
	}
}
.bCriteria .btn {
	margin:0px 0px 5px 0px;
	display:block;
	width:100%;
}
a.browseRemoveFacet .glyphicon {
    color: #333 !important;
}
.bCriteria .btn{
	color:#333;
	background-color:#FFF;
}
.bCriteria .btn:hover, .bCriteria .btn-default:hover, .bCriteria button:hover{
	text-decoration:none !important;
	border-color:#FFF !important;
}
.facetGroup.panel {
	width:250%;
	border: 1px solid #e5e5e5;
	min-height:250px;
	max-height:400px;
	overflow:hidden
}
.facetGroup.panel .container {
	overflow-y:auto;
	/*max-height:320px;*/
}
#bRefine .open .dropdown-toggle.btn-default, #bRefine .dropdown-toggle.btn-default {
	background-color:transparent;
	border-bottom:1px solid #fff;
	border-radius:0px;
	margin-left:0px;
}
#bRefine .open .dropdown-toggle.btn-default {
	font-weight:800;
	border-bottom:1px solid #333;
}
#bRefine .facetGroup li .facetItem {
    margin-bottom: 12px;
}
#bRefine .row, #bRefine .container {
	margin-bottom:0px;
}
#bRefine .row {
	max-height:250px;
	overflow-y:auto;
	margin-bottom:10px;
}
#bRefine  #bHierarchyList_place_facet {
	width:100%;
	padding-left: 15px;
}
#bRefine li .hierarchicalList .facetItem {
	margin-bottom: 22px;
}
#facetGroupplace_facet h1 {
	display:none;
}
#bAncestorList {
	font-weight:bold;
	clear:both;
}
.bScrollListHierarchy {
	clear:left;
}
#bAncestorList {
	position:absolute;
	height:20px;
	background-color:#fff;
	width:100%;
	top: 40px;
}
.facetItem .glyphicon-chevron-down {
	font-size:10px;
}
.facetContainer{
	position:relative;
	padding-bottom:20px;
}
#bRefine .facetItem {
	padding-left:20px; 
	margin-bottom:10px;
}
#bRefine .facetItem[facet_item_selected="1"] {
	padding-left:20px;
}
[facet_item_selected="1"]::before {
	font-family: FontAwesome;
	content: "\f067"; 
	padding-right:6px;
	position:absolute;
	left:7px;
	top:4px;
	font-size:11px;
}
.facetApply {
	clear:both;
	right:15px;
	display:block;
	text-align: center;
    margin-top: 20px;

}
a.facetApply {
    background-color: #ddd;
    color: #333;
    font-size: 13px;
    border-radius: 3px;
    width:50px;
    padding-top:4px;
    padding-bottom:4px;
    margin-left: auto;
    margin-right: auto; 
    position:absolute;
    bottom:0px;
    left:0px;
}

#bSortByList {
    float: right;
    margin-top: 3px;
    margin-right: 15px;
}
#bExportMenu {
    float: right;
    margin-right: 15px;
    font-size: 18px;
}
/* search within */
@media(max-width:768px){
	.results .bSearchWithinContainer{
		display:none;
	}
}
.results .bSearchWithinContainer{
	clear:both;
	margin-top:15px;
	margin-bottom:10px;
}
.results .btn-search-refine{	
	float: left;
	font-size: 18px;
	padding-top: 0px 0px 0px 0px;
	width: 26px;
	text-align: left;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border: 0px;
}
.results .btn-search-refine .glyphicon{
	margin-top:5px;
}
.bSearchWithin, .bSearchWithin:focus {
    float: left;
    width: 80%;
    box-shadow: none;
    border: 0px;
    border-bottom: 1px solid #989697;
    border-radius: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 0px;
    height: 30px;
    font-size: 14px;
    line-height: 26px;
    background-color: transparent;
    margin: 0px 0px 0px 10px;
    font-size: 15px;
}
/* image results */
.resultItemColImg, .resultItemColList{
	margin-bottom:30px;
}
.resultContentImg, .resultContentList{
	padding:10px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
.resultContentImg:hover, .resultContentList:hover{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.6);
}
.resultImageImg{
	height:240px;
	text-align: center;
}
.resultImageImg img{
	object-fit:contain;
	width:100%;
	height:240px;
}
.resultImageList {
	float:left;
	margin-right:15px;
	
	height:72px;
}
.resultImageList img{
	object-fit:contain;
	width:72px;
	height:72px;
}
.resultTextImg, .resultTextList{
	margin-top:10px;
	line-height:1.2em;
	height:4.8em;
	-webkit-line-clamp:4;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	overflow:hidden;
	margin-right:16px;
}
.resultItemDetailExtended .resultImageList img{
	object-fit:contain;
	width:140px;
	height:200px;
}
.resultItemDetailExtended .resultTextList{
	margin-top:0px;
	line-height:1.2em;
	height:200px;
	-webkit-line-clamp:none;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	overflow-y:auto;
}
.resultItemDetailExtended .resultTextList b{
	font-family: lato;
	font-weight:normal;
}
.resultItemDetailExtended .resultContentList {
	height:220px;
}
.resultTextImg, .resultTextList {
	color: #000;
	font-size:14px;
}

/* detail Preview */
.height100{
	height:100%;
}
.detailPreviewContainer{
	position:absolute;
	width:100%;
	height:100%;
}
.detailPreview{
	position:relative;
	height:100%;
	background-color:#fff;
	text-align:center;
	padding:30px;
	/*margin-top:50px;*/
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
@media(min-width:768px){
	.detailPreviewContainer{
		padding: 25px 10% 25px 10%;;
	}
}
@media(min-width:992px){
	.detailPreviewContainer{
		padding:50px 25% 50px 25%;
	}
}
.detailPreview .detailPreviewContent{
	height:75%;
}
.detailPreview .detailPreviewContent .repViewerContCont, .detailPreview .detailPreviewContent .repViewerContCont .repViewerCont > div, .detailPreview .detailPreviewContent .repViewerContCont .repViewerCont > div > div{
	height:100% !important;
}
.detailPreview .detailPreviewContent img{
	width:100%;
	height:100%;
	object-fit:contain;
}
.detailPreview .detailPreviewPreviousLink, .detailPreview .detailPreviewNextLink{
	margin-top:25px;
	text-align:center;
	background-color: #F2F2F2;
	padding:5px;
}
.detailPreview a:hover .detailPreviewPreviousLink, .detailPreview a:hover .detailPreviewNextLink{
	background-color: #F5F5F5;
}
.detailPreviewClose{
	text-align:right;
	font-size:18px;
}
.detailPreviewImgPlaceholder{
	background-color: #f2f2f2;
	color: #858585;
	text-align: center;
	width: 100%;
	height:100%;
	font-size:48px;
}
.detailPreviewImgPlaceholder .fa{
	top:35%;
	position:relative;
}

/* detail */
.detail {
    font-size: 15px;
    color:#000;
}
.detail h1, .detail h1 i {
    font-size: 20px;
    color: #262626;
    line-height: 135%;
    text-transform: none;
}
@media(max-width: 991px) {
	.detail h1{
		margin-top:30px;
	}
}
.detail a, .detail label{
    color: #000;
}
.detail a:hover {
    color: #737373;
    text-decoration: none;
}
.detail .unit a{
    text-decoration: underline;
}
.detail .unit a:hover {
    text-decoration: underline;
}
.detail .unit {
    padding-bottom: 12px;
    margin-bottom: 0px;
}
.detail label {
    font-size: 15px;
    margin: 13px 0px 0px 0px;
}
.detail label.noTopMargin {
    margin-top: 0px;
}
.detail .previewLabelNoIdentifier {
	margin: 13px 0px 0px 0px;
}
.detail .grayBg{
	/*background-color: #f2f1ec;*/
	background-color: #F2F2F2;
	padding:3px 15px 3px 15px;
	margin-bottom:15px;
}
.detail .grayBg.paddingTop{
	padding-top:15px;
}
.detail a .grayBg .unit, .detail a .grayBg, .detail a:hover .grayBg .unit, .detail a:hover .grayBg{
	text-decoration:none !important;
}
.detail a:hover .grayBg{
	background-color:#f9f9f9;
}
.detail a:hover .grayBg{
	color:#454545;
}
.detail .relatedArtObject img{
	width:100%;
	height:auto;
}
.detail .relatedArtObject div{
	height:3em;
	overflow:hidden;
	margin-bottom:15px;
}
.detailImgPlaceholder{
	background-color: #f2f2f2;
	color: #858585;
	padding: 150px 5px 140px;
	text-align: center;
	width: 100%;
	font-size:48px;
}
/*
.detail .detailMediaToolbar, .gallery .detailMediaToolbar {
    background-color: transparent;
    padding: 2px 5px 7px 5px;
    font-size: 12px;
    position: absolute;
    display: block;
    bottom: -35px;
    top:auto;
    z-index: 2000;
	width: 50%;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}
.detail .detailMediaToolbar a, .gallery .detailMediaToolbar a{
	color:#4d4a47;
	font-size:15px;
}
.repViewerContCont{
	padding-bottom:30px;
}
.detail #detailRepNav {
    top: -25px;
    position: relative;
    z-index: 300;
}
*/
.detail .detailMediaToolbar, .detail .repViewerCont:hover .detailMediaToolbar {
    display: none;
}
.detail #detailTools{
	margin-top:0px;
}
.detail #detailTools a, .detail .detailTool span, .detail .detailTool i{
	color: #000;
}
.detail .detailTool{
	font-size: 13px;
}
.detail #detailTools #permalink{
	height:7em;
}
.popover{
	z-index:100000;
}
.popover.top{
	left:20px !Important;
}
.popover.left .arrow{
	left:auto !important;
}
.popover-title {
    font-size: 12px;
    text-transform:none;
    padding:3px 15px 3px 15px !important;
}
.popover-content {
    font-size: 12px !important;
}
@media (max-width: 992px) {
	[data-toggle="popover"] {
	  cursor: pointer;
	}
}
a.readmore-js-toggle {
    padding-top: 10px;
    color: #454545;
}
.detail hr, .detail HR{
	margin:30px 0px 30px 0px;
}
/* detail object results - uses browse */
.detail .results h1{
	text-transform:uppercase;
}

/* site pages */
.staticPage, .staticPage div, .staticPage p {
	font-size:17px;
    font-weight:600;
}
.staticPage p {
	margin-bottom:25px;
}
.staticPage a{
	text-decoration:underline;
}
.staticPage a:hover{
	color:#000;
}

/* multisearch */
.multisearch .objectsResult img{
	object-fit:contain;
	width:100%;
	height:120px;
}
.multisearchObjectImg{
	text-align:center;
	margin-bottom:3px;
}
.multisearch .multisearchResult {
    line-height: 1.1em;
    font-size: 13px;
	height:155px;
}
.objects .multisearchResult {
    width: 200px;
    height: 220px;
}
.objects .blockResultsScroller {
    height: 245px;
}
.multisearch .objects.blockResults {
    height: 235px;
}
.multisearch .authoritySet a {
    font-size: 14px;
}
.multisearch .authorityResult {
    height: 50px;
}
.multisearch .blockResultsScroller {
    height: 185px;
}
.multisearch .objects .scrollButtonNext, .multisearch .objects .scrollButtonPrevious {
    height: 225px;
}
.multisearch .scrollButtonNext, .multisearch .scrollButtonPrevious{
	height:165px;
}
.multisearchImgPlaceholder{
	margin-bottom:0px;
}
/* contact */
.contact p{
	font-size:17px;
}




/* Mirador */

h3.window-manifest-title {
	text-transform:none;
	font-weight:normal;
	font-size:13px;
	color:#eee;
}
.manifest-info {
	background-color:#000;
}
#comparison_viewer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-top: -10px;
    padding-top:5px;
}
#comparison_viewer .mirador-main-menu a{
	opacity:1;
}
.mirador-osd-annotation-controls {
	display:none;
}
.mirador-osd-annotation-controls {
	display:none;
}
.mirador-viewer a{
	color:#ffffff;
}
.compareDrawer {
	/*display:none;*/
	background-color:#f5f5f5;
	width:100%;
	position:fixed;
	bottom:0px;
	right:0px;
	z-index:1000;
	padding-top:5px;
	
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
@media(min-width:768px){
	.compareDrawer {
		width:50%;
	}
}
@media(min-width:992px){
	.compareDrawer {
		width:30%;
	}
}
.compareDrawer div.comparisonList {
	padding-left:25px;
	padding-right:25px;
}
.compareDrawer a, .compareDrawer a:visited {
	color:#4D4D4D;
	font-weight:bold;
}
.compareDrawer a:hover, .compareDrawer a:active {
	text-decoration:none;
	color:#000;
}
.compareDrawer .items {
	/*display:none;*/
	clear:both;
	font-size:13px;
	padding-top:10px;
	border-top:1px solid #828282;
}
.compareDrawer .items p {
	clear:both;
}
.listTitle {
	font-size:14px;
}
.compareDrawer p {
	margin-bottom:5px;
	float:left;
}
.openItems {
	float:right;
	padding-top:5px;
}
.results a.compare_link .fa{
	color:#FFF !important;
}
.compare_link.btn{
	position:absolute;
	bottom:3px;
	right: 13px;
	padding: 3px 3px 1px 4px;
	border-radius: 4px;
	background-color:#777777;
}
.results.search .compare_link.btn, #browseResultsDetailContainer .compare_link.btn{
	right: 18px;
}

/* image viewer */
.tileviewer div.viewerControls{
	opacity:1 !important;
}
.tileviewerControlZoomIn, .tileviewerControlZoomOut, .tileviewerToolbarZoomSlider{
	opacity:1 !important;
}
.tileviewerToolbarZoom a{
	color:#333333;
	text-shadow: 0 1px 3px #FFF;
}
.caMediaOverlayControls .close .caIcon{
	color:red !important;
	opacity:1 !important;
	text-shadow: 0 1px 0 #000000;
}
div.caMediaOverlayControls, div.caMediaOverlayControlsMinimal {
    opacity: 1.0;
    background-color: rgba(0,0,0,0.3);
}
.tileviewerToolbarZoomSlider .ui-state-default, .tileviewerToolbarZoomSlider .ui-widget-content .ui-state-default{
	border: 1px solid #555 !important;
	background: #dedede !important;
}


/* IE styles to fix object fit not being supported - sigh - for IE 9 and above */
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    /* IE9+ CSS to fix object-fit not being supported.*/
    .resultImageImg img{
		object-fit:none;
		width: 65%;
		height: auto;
	}
	.resultImageImg{
		overflow:hidden;
	}
	.resultImageList img{
		object-fit:none;
		width:auto;
		height:72px;
	}
	.resultItemDetailExtended .resultImageList img{
		object-fit:none;
		width: 65%;
		height: auto;
	}
	.resultItemDetailExtended .resultImageList {
		text-align:center;
	}
	.multisearch .objectsResult img{
		object-fit:none;
		width:35%;
		height:auto;
	}
	.detail .repViewerCont img {
    	width: 40%;
   		height: auto;
   		object-fit:none;
   	}
	.detail .repViewerCont  {
    	text-align: center;
   	}
}

* --------------------------------- */
/* BANS */
/* --------------------------------- */
div.banHeadline {
	text-align: center;
	margin: 48px 0 8px 0;
}

div.banHeadline h1 {
	font-size: 30px;
}

div.banDescription {
	text-align: center;
	margin: 0 0 24px 0;
	font-size: 18px;
}

div.banContinue {
	text-align: center; 
	display: none;
	margin: 48px 0 0 0;
}
