<?php
	$vn_num_media = 0;
	if ($t_page = $this->getVar("page")) {
		$va_media = $t_page->getPageMedia(array("large", "medium"));
		if(is_array($va_media) && sizeof($va_media)){
			$vn_num_media = sizeof($va_media);
		}
	}
?>
<div class="row">
	<div class="page-title bibtype large inset">
		<H1>→&thinsp;{{{title}}}</H1>
	</div>
	<div class="top-text inset">
		<p>{{{topText}}}</p>
	</div>
</div>
<?php
	if($vn_num_media){
?>
<div class="row staticPageSpacing">
<?php
		switch($vn_num_media){
			case 1:
?>
	<div class="col-sm-12 col-md-6 col-md-offset-3 fullWidthImg">
		{{{media:1:large}}}
		<div class="caption small">{{{media:1:caption}}}</div>
	</div>
	
<?php			
			break;
			# ---------------------
			case 2:
?>
	<div class="col-sm-12 col-md-6 full fullWidthImg">
		{{{media:1:large}}}
		<div class="caption small">{{{media:1:caption}}}</div>
	</div>
	<div class="col-sm-12 col-md-6 fullWidthImg">
		{{{media:2:large}}}
		<div class="caption small">{{{media:2:caption}}}</div>
	</div>
	
<?php						
			break;
			# ---------------------
		}
?>
</div>
<?php
	}
?>
<div>
	<div class="inset">
		<p>{{{bottomText}}}</p>
		<p></p>
		
		<div class="section-start">
			<div class="col-sm-6">
				<p class="arrow-indent">→ Team</p>
				<p>Erin McGuirl, Executive Director</p>
				<p>Scott Ellwood</p>
			</div>
			<div class="col-sm-6 fullWidthImg">
			<p class="arrow-indent">→ With Generous Support from the Delmas Foundation</p>
			<img src="/themes/bibsite/assets/pawtucket/graphics/delmas2.png">
			</br><br/><br/>
			<p class="arrow-indent">→ Additional Credits</p>
			<p>Web Design<br/>
			Julia Novitch and Ghazaal Vojdani</p>
			<p>Web Development<br/>
			Julia Novitch and Whirl-i-Gig</p>
			</div>
		</div>
	</div>
</div>