<?php
	$vn_num_media = 0;
	if ($t_page = $this->getVar("page")) {
		$va_media = $t_page->getPageMedia(array("large", "medium"));
		if(is_array($va_media) && sizeof($va_media)){
			$vn_num_media = sizeof($va_media);
		}
	}
	
	MetaTagManager::setWindowTitle("BibSite | ".$this->getVar("title"));
?>
<div class="row">
	<div class="col-md-12 col-lg-10 col-lg-offset-1">
		<div class="page-title bibtype large"><H1>→ {{{title}}}</H1></div>
		<p>{{{topText}}}</p>
	</div>
</div>
<?php
	if($vn_num_media){
?>
<div class="row staticPageSpacing">
<?php
		switch($vn_num_media){
			case 1:
?>
	<div class="col-sm-12 col-md-6 col-md-offset-3 fullWidthImg">
		<p>{{{media:1:large}}}</p>
		<div class="caption">{{{media:1:caption}}}</div>
	</div>
	
<?php			
			break;
			# ---------------------
			case 2:
?>
	<div class="col-sm-12 col-md-6 full fullWidthImg">
		<p>{{{media:1:large}}}</p>
		<div class="caption">{{{media:1:caption}}}</div>
	</div>
	<div class="col-sm-12 col-md-6 fullWidthImg">
		<p>{{{media:2:large}}}</p>
		<div class="caption">{{{media:2:caption}}}</div>
	</div>
	
<?php						
			break;
			# ---------------------
		}
?>
</div>
<?php
	}
?>
<div class="row staticPageSpacing">
	<div class="col-md-12 col-lg-10 col-lg-offset-1">
		<p>{{{bottomText}}}</p>
	</div>
</div>