/* gray */
body, .detail, .gallery, label, b, strong{
	color:#000;
}
body{
	margin-bottom: 130px;
	font-family:Lato;
	margin-bottom:150px;
}
@media(max-width:767px){
	body{
		margin-bottom:180px;
	}
}
a{
	color:#000;
	text-decoration:none;
	/*border-bottom:1px dashed #000;*/
}
a, a:hover {
    color: #000;
}
hr{
	border-top: 2px solid #000;
}
.browse .btn, .sets .btn, .btn-default, .browse .btn:hover, .sets .btn:hover, .btn-default:hover{
	background-color:#000;
}
.menuBar{
	background-color: #C11B17;
}
.navbar > .container .navbar-brand {
    width: 203px;
    padding:0px;
    margin-left: 9px;
	margin-top: 21px;
}
@media(max-width:767px){
	.navbar > .container .navbar-brand{
		margin-top:8px;
	}
}
.navbar{
	background-color:transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.navbar-default .navbar-nav > li > a{
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	text-transform:uppercase;
}
@media(min-width:768px){
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a {
		color: #000;
		border-bottom: 1px dashed #FFF;
		top:-1px;
	}
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:focus{
	background-color:transparent;
	padding:0px;
	color:#ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:transparent;
	color:#FFF;	
}
.navbar-default .navbar-nav > li{
	margin: 27px 30px 0px 10px;
}
.navbar-default .navbar-toggle{
	border-color:#FFF;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-toggle-user{
	color:#FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
/*.yamm .nav.navbar-right .dropdown-menu{
	border:0px;
	text-align:center;
}*/
/*.yamm .nav.navbar-right .dropdown-menu a{
	color:#000;
	font-size:16px;
	display:inline;
	padding:0px;
}
.yamm .nav.navbar-right .dropdown-menu a:hover{
	background-color:#FFF;
	border-bottom:1px dashed #000;
}
.yamm .nav.navbar-right .dropdown-menu li{
	padding-top:8px;
	padding-bottom:8px;
}*/
.yamm .nav.navbar-right .dropdown-menu{
	border:0px;
	margin-top:32px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.yamm .nav.navbar-right .dropdown-menu a{
	color:#000;
	font-size:16px;
	text-align:right;
	border-bottom:1px dashed #fff;
}
.yamm .nav.navbar-right .dropdown-menu a:hover{
	background-color:#FFF;
	border-bottom:1px dashed #000;
}
.navbar .formOutline{
	border-radius:0px;
	background-color: #C11B17;
	border:0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
}
@media(min-width:768px){
	.navbar-form{
		margin-top:20px;
	}
}
@media(max-width:767px){
	.navbar-nav{
		margin:0px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #FFF;
		text-align: center;
	}
	.yamm .nav.navbar-right .dropdown-menu {
		border: 0px;
		margin-top: 0px;
		box-shadow: none;
    }
    ul.menuItems{
    	border:0px;
    }
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form, ul.menuItems {
    border-color: #fff;
}
@media(max-width:1010px){
	.navbar-default .navbar-nav.menuItems > li, #user-navbar-toggle li {
		margin: 5px 30px 5px 10px;
	}
	.yamm .nav.navbar-right.menuItems .dropdown-menu {
		margin-top:5px;
	}
}
#headerSearchInput{
	border-radius:0px;
	border:none;
	background-color:#FFF;
}
.form-control::placeholder, .navbar .form-control:focus{
	color:#000;
}
#headerSearchButton{
	color:#ffffff;
	font-size:20px;
	top: 2px;
	position: relative;
	background-color:#C11B17;
	border-radius:0px;
}
.headerAdvancedSearch{
	text-align:left;
	padding-left:21px;
}
.headerAdvancedSearch a{
	font-size:13px;
	color:#FFF;
}
.nav > li.dropdown > a.icon{
	padding-top:0px;
	padding-bottom:0px;
}
@media(min-width:769px){
	#pageArea{
		margin: 0vh 6vw 6vh;
	}
}
.back-menu{
	margin-bottom:40px;
    line-height: 1em;
    font-size: 15px;
}
.front .back-menu{
	margin-bottom:0px;
}
.back-menu a {
    margin: 0px;
    color:#000;
    border-bottom:1px solid transparent;
    font-family:Lato;
    font-size: 18px;
    margin-right:15px;
    position:relative;
    line-height: 1em;
}
.back-menu a:hover {
    color:#000;
    border-bottom:1px dashed #000;
    text-decoration:none;
    font-family:Lato;
}
#footer{
	background-color:#454c58;
	color:#FFF;
	padding: 20px 3vw 20px 3vw;
	text-align:right;
	height:90px;
}
@media(max-width:767px){
	#footer{
		height:120px;
	}
}
#footer a{
	color:#FFF;
}
#footer ul{
	padding-top:15px;
}
#footer ul a{
	font-size:16px;
	text-transform:uppercase;
	color:#FFF;
}
#footer .footerLogo{
	width:230px;
	text-align:left;
}
@media(min-width:1024px){
	#footer .footerLogo{
		width:260px;
	}
}
#footer .footerLogo img{
	width:100%;
	height:auto;
}
@media(max-width:767px){
	#footer .list-inline li{
		float:left;
		margin-left:5px;
	}
}
.front h1 {
	font-weight:700;
	/*font-size:111px;
	margin-top:13vh;
	text-transform:uppercase;*/
	font-size:45px;
	color:#000;
	font-family:Lato;
	margin-top: 2vh;
}
.front img{
	width:100%;
	height:auto;
}
.front h2{
	border-bottom: 3px solid #000;
	font-size: 22px;
	line-height: 40px;
	font-family:lato;
	text-transform:none;
	padding-bottom:40px;
	margin-bottom:60px;
	margin-top:20px;
}

.staticPage, .staticPage p{
	font-family: Lato, sans-serif;
	color: #000;
	font-size: 20px;
	line-height: 1.6em;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	text-transform: none;
}
@media(max-width:1024px){
	.staticPage, .staticPage p{
		font-size: 18px;
	}
}
.staticPage p{
	margin: 0 0 30px;
}
.staticPage h1{
	text-align:center;
	font-weight:700;
	font-size:45px;
	color:#000;
	font-family:Lato;
	margin-top:13vh;
	margin-bottom:13vh;
	text-transform:none;
}
.staticPage H2{
	text-transform:uppercase;
	border-top: 3px solid #000;
	font-size: 22px;
	font-weight:700;
	line-height: 40px;
	font-family:lato;
	padding-top:10vh;
	margin-top:5vh;
}
/* detail */
.detail{
	font-size: 14px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight, .detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small, .detail .detailNavBgLeft a, .detail .detailNavBgRight a, .detail .navTop a .small, .detail .navTop a {
	background-color:#FFF;
	color:#000;
}
.detail label, .detail .unit{
	color:#000;
	font-size:17px;
}
.detail label{
	margin: 25px 0px 0px 0px;
}
.detail h1 {
	font-size:30px;
	font-weight:700;
}
.detail h2 {
    font-size: 24px;
    color: #000;
	margin-bottom:30px;
}
.detail .description{
	font-size:20px;
	margin-bottom:30px;
}
@media(max-width:1024px){
	.detail h1 {
   		font-size: 24px;
   	}
   	.detail h2 {
   		font-size: 20px;
   	}
   	.detail .description{
		font-size:18px;
	}
}
.detail .unit a {
    color: #000;
	text-decoration:none;
}
.detail .unit a:hover {
	border-bottom:1px dashed #000;
}
.detail a.readmore-js-toggle, .detail a.readmore-js-toggle:hover{
	border:0px;
}
/* browse */
.browse H1{
	font-size:22px
}
#bRefine H2, #bRefine H3, #bRefine a{
	color:#000;
}
#bRefine H2{
	font-size:22px;
}
#bRefine H3, #bRefine a{
	font-size:18px;
}
#bRefine a{
	font-size:16px;
}
.bResultListItem .bResultListItemText a, .bResultItem .bResultItemText a {
    color: #000;
    font-size: 14px;
}
.bResultListItem .bResultListItemText a{
	font-size: 17px;
}
.bResultListItem .bResultListItemText small{ /* used for dates on entity results */
	color:#000;
}
.bResultListItem .bResultListItemText small a, .bResultItem .bResultItemText small a{
	font-size:12px;
	line-height:1.6em;
	color: #787878;
}
#bLetterBar a{
	font-size:14px;
}
#bLetterBar a:hover{
	color:#000;
}
/* collections */
.collectionsList h1{
	text-align:center;
	font-weight:700;
	font-size:45px;
	color:#000;
	font-family:Lato;
	margin-top:13vh;
	margin-bottom:30px;
	padding-bottom:30px;
	text-transform:none;
	border-bottom:2px solid #000
}
.collectionsList p.collectionIntro{
	font-family: Lato, sans-serif;
	color: #000;
	font-size: 20px;
	line-height: 30px;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	text-transform: none;
	margin-bottom:50px;
}
.collectionTile .title a{
	font-family: Lato, sans-serif;
	color: #000;
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
	font-weight: 400;
}
.multisearch H3 a, .multisearch H3 a:hover, .multisearch H2 a, .multisearch H2 a:hover {
    text-decoration: none;
    color: #000;
    font-weight:400;
    font-family:Lato;
}
.multisearch H1{
	font-size: 24px;
	font-weight: 700;
}
.multisearchFullResults a {
    text-transform: uppercase;
    color: #000;
}
.multisearch .multisearchResult a {
    color: #000;
    font-size: 14px;
    line-height: 1.1em;
}
.multisearch .authoritySet a {
    font-size: 14px;
    color: #000;
}
/* advanced search */
.advancedSearch h1{
	text-align:center;
	font-weight:700;
	font-size:45px;
	color:#000;
	font-family:Lato;
	margin-top:13vh;
	margin-bottom:30px;
	padding-bottom:30px;
	text-transform:none;
	border-bottom:2px solid #000
}
.advancedSearchField .formLabel{
	color:#000;
	font-size:15px;
}
.form-control:focus {
    border-color: #000000;
    box-shadow: none;
    outline: 0 none;
}

@media(max-width:1024px){
	.front h1 {
		font-size:30px;
		margin-top: 40px;
	}
	.front h2{
		font-size: 20px;
	}
	.collectionsList h1{
		font-size:30px;
		margin-top: 40px;
	}
	.collectionsList p.collectionIntro{
		font-size: 18px;
		line-height: 27px;
	}
	.advancedSearch h1{
		font-size:30px;
		margin-top: 40px;
	}	.staticPage h1 {
		font-size: 30px;
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
}