#bookmarksEditor {
	background: #FFFFFF;
}
#bookmarksEditor #rightCol{
	clear:right;
	float:right;
	background-color: #E2E2E2;
	width: 200px;
	padding: 0px 10px 10px 10px;
	margin: 0px 0px 15px 0px;
}
#bookmarksEditor #rightCol H2{
	padding-top:10px;
	color:#828282;
	font-size:16px;
}

#bookmarksEditor #leftCol{
	width:500px;
}
#bookmarksList .bookmark {
	padding:5px 10px 5px 10px;
	font-size:13px;
}
#bookmarksList .bookmark a{
	font-size:13px;
	text-decoration:none;
}
#bookmarksList .bookmark a:hover{
	text-decoration:underline;
	color:#828282;
}
#bookmarksList .bookmarkBg {
	background-color: #EDEDED;
}
#bookmarksList .bookmark:hover {
	background-color: #dedede;
}

#bookmarksList a.removeBookmark{
	float:right;
	width:15px;
	height:15px;
	margin: 0px 0px 0px 20px;
	text-decoration:none;
	background-image:url("../graphics/x.gif");
}
#bookmarksList a.removeBookmark:hover{
	text-decoration:none;
}

#helpTips ul{
	margin: 0px 0px 0px 5px;
	padding:5px 5px 0px 22px;
}

#helpTips li{
	list-style-image: url(../graphics/arrow_right_gray.gif);
	margin: 0px 0px 10px 0px;
	padding:0px;
}
.optionsList{
	margin-top:5px;
	margin-left:10px;
}
.optionsList a{
	text-decoration:none;
}
.foldersList{
	margin-top:5px;
	margin-left:10px;
}
.foldersListCurrent{
	color:#828282;
	margin-top:5px;
	margin-left:10px;
}
.foldersList a{
	text-decoration:none;
}
div.folderInfo{
	margin-left:10px;
}
a.hide{	
	text-decoration:none;
	float:right;
	font-size:12px;
	color: #828282;
}
a.hide:hover{	
	color:none;
}
div.edit{
	text-align:right;
}
div.edit a{	
	text-decoration:none;
	font-size:12px;
	color: #828282;
}
div.edit a:hover{	
	color:none;
}

/*  FORMS */
#newFolderForm .formLabel, #editFolderForm .formLabel{
	font-weight:bold;
	margin: 10px 0px 2px 0px;
}
#newFolderForm input, #editFolderForm input {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px 0px 3px 0px;
	border: 1px solid #828282;
	width:190px;
}
#newFolderForm input[type="text"], #editFolderForm input[type="text"] {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px 0px 3px 0px;
	border: 1px solid #828282;
	width:190px;
}
#newFolderForm textarea, #editFolderForm textarea {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:190px;
}
#newFolderForm input[type="textarea"], #editFolderForm input[type="textarea"] {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:190px;
}
#newFolderForm a, #editFolderForm a{
	text-transform:uppercase;
	font-family: Arial, sans-serif;
	font-size:14px;
	color: #545454;
	font-weight:bold;
	text-decoration:none;
	margin: 0px;
	padding: 5px 0px 0px 0px;
}
#newFolderForm a:hover, #editFolderForm a:hover{
	color: #828282;
	text-decoration:none;
}