/* background tan: #a89f8e ---   */

form{
	display:inline;
}
input:focus{
	outline-width: 0;
}

body {
	font-family: Helvetica, sans-serif;
	font-size:12px;
	color: #4b4b4b;
	background-color:#F1F1F3;
	margin: 0px 0px 0px 0px;
	padding:0px;
}

/* ------------------------------------- */
/* general styles */
/* ------------------------------------- */

p, div{
	font-family: Helvetica, sans-serif;
	color: #4d4d4d;
	line-height:1.3em;
}
h1{
	font-family: Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color: #4d4d4d;
	margin:0px 0px 7px 0px;
	line-height:1.1em;
}
h2{
	font-family: Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	color: #787878;
	margin:4px 0px 12px 0px;
	line-height:1.1em;
}
h3{
	font-family: Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #4d4d4d;
	margin:0px 0px 3px 0px;
	line-height:1.1em;
}
h3 a{
	text-decoration:none;
}
a{
	text-decoration:underline;
	color: #4d4d4d;
}
a:hover{
	text-decoration:underline;
	color: #999999;
}
.formErrors{
	color: #990000;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.notificationMessage, .message{
	position:absolute;
	z-index:10000;
	width:350px;
	top:100px;
	left:350px;
	font-size:14px;
	font-weight:bold;
	margin:0px;
	padding:30px;
	background-color: #FFFFFF;
	border:2px solid #a89f8e;
	color: #828282;
	text-align:center;
}
.divide{
	height:3px;
	background-color:#E2E2E2;
	margin: 2px 0px 2px 0px;
}
.bg {
	background-color: #F5F5F5;
	border: 1px solid #E2E2E2;
	padding:10px;
}
.caption{
	font-size:11px;
	text-align:left;
}
a.caption{
	font-size:11px;
	color: #999999;
	text-decoration:underline;
}
a.caption:hover{
	color: #000000;
}

/* ------------------------------------- */
/* page structure */
/* ------------------------------------- */
#pageArea{
	width:1024px;
	margin: 0px 0px 0px 0p;
	background-color:#FFFFFF;
	padding:0px;
	border-right: 1px solid #E0E0E0;
}
#leftBar{
	float:left;
	width: 191px;
	padding: 0px 14px 0px 0px;
}
#logo{
	padding:22px 0px 27px 0px;
}
#nav ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#nav ul li{
	list-style-type:none;
	border-bottom:1px solid #D3D3D3;
	padding: 8px 0px 0px 26px;
}
#nav ul li.last{
	border-bottom:0px;
}

#subNav{
	margin:245px 0px 0px 26px;
	border-top:1px solid #D3D3D3;
	padding: 7px 0px 0px 0px;
}
#subNav ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#subNav ul li{
	list-style-type:none;
	padding: 6px 0px 0px 0px;
}

#subNav ul li a{
	text-decoration:none;
	color:#a2a2a2;
	font-size:13px;
}
#subNav ul li a:hover{
	text-decoration:underline;
}
#subNav ul ul{
	list-style-type:none;
	margin-left:20px;
	padding:0px;
}

#contentArea{
	float:left;
	border-left: 1px solid #E0E0E0;
	width:818px;
	margin-bottom:15px;
}
#footer{
	border-top: 1px solid #E0E0E0;
	padding: 20px 0px 75px 32px;
	text-align:left;
	color:#8b8b8b;
	font-size:11px;
	clear:both;
	line-height:1.3em;
}
#footer a{
	color:#8b8b8b;
	font-size:11px;
	text-decoration:none;
}

#pagePadding{
	padding:30px 45px 30px 30px;
	min-height:500px;
}
#pageHeading{
	margin: 0px 0px 20px 0px;
	border-bottom: 1px solid #E0E0E0;
	text-align:right;
}
#pageHeadingResultsPage{
	margin: 0px 0px 0px 0px;
	border-bottom: 0;
	text-align:right;
}
/* -------------------------------------------------*/
/* "Searchlight" autocomplete search results styles */
/* -------------------------------------------------*/
div.searchlight-header{
	size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#333333;
	background-color:#E4E4E4;
	padding:3px;
}
div.searchlight-item{
	size:12px;
	color:#333333;
	padding:3px 3px 8px 3px;
	background-color:#FFFFFF;
}
div.searchlight-item a{
	size:12px;
	color:#333333;
	text-decoration:none;
}
div.searchlight-item a:hover{
	text-decoration:underline;
}
div.searchlight-results-wrapper {
    color: #333333;
    border: 1px solid #333333;
    margin: -1px;
    overflow: hidden;
}

div.searchlight-results div.searchlight-selected {
    background: #333;
    color: #fff;
}

/* -------------------------------------------------*/
/* tooltips / Rollovers */
/* -------------------------------------------------*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 4px solid #ccc;
	/*border: 3px solid #323232;*/
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	/*opacity: 0.9;*/
	text-align: center;
}
.tooltipImage { /* used in image rollovers in results and on detail pages */
	padding: 10px;
	text-align: center;
}

.tooltipCaption { /* used in image rollovers in results and on detail pages */
	margin-top: 10px;
	width: 360px;
	text-align: left;
	line-height:1.3em;
}
.tooltipText{ /* used in features */
	text-align:center;
	padding:10px;
	font-size:14px;
}

/* ------------------------------------- */
/*  HOME PAGE */
/* ------------------------------------- */
#hpText{
	width:278px;
	height:555px;
	float:left;
	line-height:1.6em;
	background-color: #A89F8E;
	color:#FFFFFF;
	padding:50px 20px 20px 20px;
	font-size:13px;
}
#hpText a{
	color:#FFFFFF;
	font-size:13px;
	text-decoration:none;
}
#hpText .heading{
	font-weight:normal;
	font-size:27px;
	margin-bottom:10px;
	color:#FFFFFF;
}
#hpFeatured {
	float:left;
	width:500px;
	height:625px;
}
#hpFeatured div{
	text-align:left;
	width:100%;
}

/* ------------------------------------- */
/* landing pages */
/* ------------------------------------- */

#landingImageContainer{
	clear:right;
	float:right;
	margin:0px 0px 20px 30px;
	background-color: #a89f8e;
	padding:5px;
	width:300px;
	height:375px;
	overflow:hidden;
}
#landingImageContainer #slideshow{
	height:375px;
	overflow:hidden;
}
#landingImageCaption{
	color:#FFFFFF;
	font-size:11px;
	padding-top:5px;
}
#landingText{
	
}

#landing #browseAll{
	margin:20px 0px 0px 0px;
}
#landing #browseAll a{
	color: #787878;
	font-size:16px;
	text-decoration:none;
}

#landing #browseAll a:hover{
	color: #a2a2a2;
}

#landing #bottomBox, #landing #bottomBoxChronology{
	clear:both;
	margin-top:20px;
	background-color:#a89f8e;
	padding:20px;
}
#landing #bottomBox #title, #landing #bottomBoxChronology #title{
	font-size:20px;
	color:#FFFFFF;
	margin-bottom:5px;
}

#landing #bottomBox #search{
	float:left;
	width:340px;
	padding:0px;
	margin:0px;
}
#landing #bottomBoxChronology #search{
	float:none;
	padding:0px;
	float:left;
	width:320px;
}
#landing #bottomBox #search input {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	border: 0px;
	width:230px;
	height:20px;
	float:left;
}
#landing #bottomBox #search input[type="text"] {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	border: 0px;
	width:230px;
	height:20px;
	float:left;
}
#landing #bottomBoxChronology #search input {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	border: 0px;
	width:230px;
	height:20px;
	float:left;
}
#landing #bottomBoxChronology #search input[type="text"] {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	border: 0px;
	width:230px;
	height:20px;
	float:left;
}
/*#landing #bottomBox #search a{
	font-size:18px;
	color: #FFFFFF;
	font-weight:normal;
	text-decoration:none;
	margin: 0px 0px 0px 0px;
	font-weight:bold;
	line-height:1em;
}
#landing #bottomBox #search a:hover{
	color: #DEDEDE;
}*/
#landing #bottomBox #browse{
	padding:0px 0px 0px 15px;
	float:left;
	width:342px;
	margin:0px;
}
#landing #bottomBoxChronology #browse{
	padding:0px 0px 0px 15px;
	float:left;
	width:365px;
	margin:0px;
}
#landing #bottomBox #browse .link{
	float:left;
	margin-bottom:5px;
	width:114px;
	height:1em;
}
#landing #bottomBox #browse a, #landing #bottomBoxChronology #browse a{
	color:#FFFFFF;
}

#landing #bottomBox #browse a:hover, #landing #bottomBoxChronology #browse a:hover{
	color:#DEDEDE;
}

#landing #bottomBoxChronology #browse #subTitle{
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	float:left;
	margin:0px 0px 5px 1px;
}
#landing #bottomBoxChronology #browse{
	padding:0px 0px 0px 0px;
}
#landing #bottomBoxChronology #browse .link{
	float:left;
	margin:0px 10px 5px 15px;
	
}


/* ------------------------------------- */
/*  free text - about page, browse intro */
/* ------------------------------------- */

.textContent {
	margin: 10px 0px 15px 0px;
	font-size:12px;
}

.textContent div {
	margin-bottom: 15px;
}
.textContent ol li{
	margin-bottom: 15px;
}
.textContent ol {
	padding-left: 18px;
}
.headerImage{
	margin-bottom:20px;
}
.textContent .subheading{
	padding:10px 0px 5px 0px;
	border-bottom: 1px solid #E0E0E0;
	font-weight:bold;
}

/* ------------------------------------- */
/* Detail pages */
/* ------------------------------------- */
.alternateTitle{
	font-family: Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	color: #787878;
	margin:0px;
	line-height:1.1em;
}
.subtitle{
	font-family: Helvetica, sans-serif;
	font-size:17px;
	font-weight:normal;
	color: #787878;
	margin:0px;
	line-height:1.1em;
}
.subsubtitle, .subsubtitle a{
	font-family: Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color: #787878;
	margin:0px;
	line-height:1.1em;
	text-decoration:none;
}
#detailBody #pageNav {
	float:right;
	margin:0px;
	text-align:right;
	width: 400px;
	padding:0px 0px 5px 20px;
	font-size:12px;
	color: #e2e2e2;
}
#detailBody #pageNav a{
	text-decoration:none;
	color: #4D4D4D;
}
#detailBody #pageNav a:hover {
	color: #828282;
}
#detailBody #leftCol{
	float:left;
	width: 300px;
	font-size: 12px;
	text-align:left;
}
#detailBody .pendingInfo{
	float:left;
}
#objDetailRelObjects td.imageIcon{
	width: 72px;
	padding-bottom:10px;
}
#detailBody #leftCol .unit, #detailBody .unit{
	margin-bottom:12px;
}
#detailBody #leftCol .unit a, #detailBody .unit a{
	text-decoration:none;
}

#detailBody #leftCol .unit div, #detailBody .unit div{
	margin-bottom:5px;
}
#detailBody #leftCol #description{
	margin-top:12px;
}
#detailBody #leftCol div.relatedMoreItems, #detailBody div.relatedMoreItems{
	display:none;
}
#detailBody div.moreLink{
	padding-left:15px;
	clear:left;
}
.indent {
	text-indent:-15px;
	margin-left:15px
}
#detailBody .relArtwork{
	float:left;
	width:350px;
	padding-right:20px;
	margin-bottom:5px;
}
#detailBody .relArtworkImage{
	float:left;
	text-align:center;
	margin:0px 10px 0px 0px;
	height:72px;
}
#detailBody .relArtworkImage img{
	border:0px;
}
#detailBody .relArtworkImagePlaceHolder{
	float:left;
	margin:0px 10px 0px 0px;
	width:72px;
	height:72px;
	background-color:#EDEDED;
}
#detailBody .relArtworkImage img{
	vertical-align:middle;
}
#detailBody #rightCol{
	clear:right;
	width:400px;
	text-align:left;
	float:right;
	margin:0px 0px 10px 15px;
}
.artworkImageCaption {
	text-align:center;
	color: #828282;
	padding:3px 3px 0px 3px;
	font-size:11px;
	margin:0px auto 0px auto;
	line-height:1.1em;
}

/* nav bar on details with thumbnail grid */
#detailNavBar{
	background-color: #828282;
	margin:10px 0px 15px 0px;
	text-align:center;
	padding:8px 10px 5px 10px;
	height:15px;
	text-align:left;
}
#detailNavBar a {
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color: #FFFFFF;
}
#detailNavBar #next{
	float:right;
}
#detailNavBar #previous{
	float:left;
}
/* image - object detail */
#objDetailImage{
	text-align:center;
}
.chronAddLightbox {
	text-align:right;
	margin:0px auto 0px auto;
}
.chronAddLightbox a{
	text-decoration:none;
	color: #4D4D4D;
}
.chronAddLightbox a:hover {
	color: #828282;
}

#objDetailImagePlaceHolder{
	background-color:#EDEDED;
	width:400px;
	height:400px;
}
#objDetailImagePlaceHolderSmall{
	background-color:#EDEDED;
	width:180px;
	height:180px;
}
#objDetailImage img{
	border:1px solid #8b8b8b;
}
.objDetailImageCaption {
	text-align:center;
	color: #828282;
	padding:3px 0px 0px 0px;
	font-size:11px;
	margin:0px auto 0px auto;
	line-height:1.1em;
}
.objDetailImageThumbs{
	text-align:center;
}
.objDetailImageThumbs img{
	margin:5px 3px 0px 3px;
	border:0px;
}
#objDetailImageNav {
	margin:0px 0px 15px 0px;
	font-size:12px;
	text-align:center;
	padding:5px 10px 8px 10px;
	text-align:center;
}
#objDetailImageNav{
	text-decoration:none;
	font-size:12px;
	color: #4d4d4d;
	font-weight:normal;
}
#objDetailImageNav a {
	text-decoration:none;
	color: #4d4d4d;
}
#objDetailImageNav a:hover{
text-decoration:none;
	color: #787878;
}

/* user comment/rank form */
#objUserData #numComments{
	float:right;
	font-size:12px;
	color: #000000;
	font-weight:normal;
	text-transform: none;
}
#objUserData .comment{
	margin: 0px;
	font-size:12px;
	line-height: 1.3em;
}
#objUserData .byLine{
	margin: 4px 0px 20px 30px;
	font-size:11px;
	font-style:italic;
}
#objUserData .formLabel{
	font-weight:bold;
	margin: 10px 0px 3px 0px;
}
#objUserData input {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:574px;
}
#objUserData input[type="text"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:574px;
}
#objUserData textarea {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:574px;
}
#objUserData input[type="textarea"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:100%;
}
#objUserData form a{
	text-transform:uppercase;
	font-size:14px;
	color: #828282;
	font-weight:bold;
	text-decoration:none;
	margin: 5px 0px 0px 0px;
	padding: 0px;
}
#objUserData form a:hover{
	color: #000000;
	text-decoration:none;
}

/* ------------------------------------- */
/*  chronology */
/* ------------------------------------- */
/* on chronology page */
#chronTitle{
	font-family: Helvetica, sans-serif;
	font-size:50px;
	font-weight:bold;
	color: #787878;
	margin:0px;
	line-height:1.1em;
}
#chronTitle a{
	font-family: Helvetica, sans-serif;
	font-size:45px;
	font-weight:bold;
	color: #787878;
	margin:2px 0px 2px 0px;
	line-height:1.1em;
	text-decoration:none;
}
#chronTitle a:hover{
	color: #DEDEDE;
}
#chronTitle .noLink{
	font-family: Helvetica, sans-serif;
	font-size:45px;
	font-weight:bold;
	color: #DEDEDE;
	margin:2px 0px 2px 0px;
	line-height:1.1em;
	text-decoration:none;
}
/*#chronTitle a.yearLink{
	font-family: Helvetica, sans-serif;
	font-size:25px;
	font-weight:bold;
	color: #828282;
	margin:2px 0px 2px 0px;
	line-height:1.1em;
	text-decoration:none;
}*/
.yearTitle{
	clear:both;
	font-family: Helvetica, sans-serif;
	font-size:40px;
	font-weight:bold;
	color: #787878;
	margin:25px 0px 0px 0px;
	line-height:1.1em;
}
.chronPeriodDescription{
	margin:10px 0px 0px 0px;
}
.chronologyHeading{
	font-family: Helvetica, sans-serif;
	color:#787878;
	font-weight: bold;
	padding:10px 0px 0px 0px;
	font-size:16px;
}
#jumpTo{
	text-align:right;
	margin-top:5px;
}
#jumpTo a{
	text-decoration:none;
	color: #4D4D4D;
}
#jumpTo .lineDivide{
	color:#e2e2e2;
}
#jumpTo .subTitle{
	font-size:12px;
	color:#787878;
	font-weight:bold;
}
#jumpTo .link{
	width:100px;
	margin:10px 0px 10px 0px;
}
#jumpTo .link a{
	font-size:12px;
	color:#787878;
	text-decoration:none;
}
#jumpTo .link a:hover{
	color:#DEDEDE;
	text-decoration:underline;
}
#jumpTo .currentPeriod{
	float:left;
	margin-left:10px;
	font-size:12px;
	color:#4b4b4b;
	font-weight:bold;
}
.chronologyImageContainer {
	width:400px;
	margin: 0px 0px 20px 20px;
	float:right;
	text-align:center;
}
.chronologyImageCaption {
	text-align:center;
	color: #828282;
	padding:3px 3px 0px 3px;
	font-size:11px;
	margin:0px auto 0px auto;
	line-height:1.1em;
}
.chronologyImageContainerPlaceHolder {
	width:300px;
	height:400px;
	margin:0px auto 0px auto;
	background-color:#EDEDED;
}
.chronologyText{
	text-align:left;
	padding: 0px 0px 20px 0px;
	margin:0px;
}
.chronologyText, .chronologyText a{
	font-size:12px;
	color: #4d4d4d;
	text-decoration:none;
}
.chronologyText a:hover{
	text-decoration:none;
	color:#A2A2A2;
}
.seeAlso{
	margin-left:20px;
}
a.footnote{
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding:0px 3px 0px 2px;
}
.footnoteOverlay{
	width:300px;
	padding:5px;
}

/* ------------------------------------- */
/*  SEARCH/ BROWSE RESULTS */
/* ------------------------------------- */
.pending{
	color:#999999;
}
.pendingMessage{
	color:#999999;
	font-style:italic;
	margin-top:20px;
}
#resultsSearchForm{
	float:left;
	width:350px;
	text-align:left;
}
#resultsSearchForm input {
	font-size:11px;
	font-weight: normal;
	padding: 0px;
	border: 1px solid #E0E0E0;
	width:250px;
}
#resultsSearchForm input[type="text"] {
	font-size:11px;
	font-weight: normal;
	padding: 0px;
	border: 1px solid #E0E0E0;
	width:150px;
}
#resultsSearchForm a{
	font-size:12px;
	color: #A2A2A2;
	font-weight:bold;
	text-decoration:none;
	margin: 0px 0px 0px 0px;
	line-height:1em;
	text-transform:uppercase;
}
#resultsSearchForm a:hover{
	color: #333333;
}

#searchNavBg{
	clear:both;
	background-color: #ededed;
}
.searchNav{
	text-align:center;
	margin: 0px;
	padding:5px 10px 4px 10px;
	font-size:12px;
	margin-left: auto;
	margin-right: auto;
	color: #8B8B8B;
}
.searchNav div{
	color: #8B8B8B;
}
.searchNav form{
	float:left;
	text-align:left;
	width:220px;
	margin:0px;
	display:inline;
}
.searchNav form input[type="text"]{
	font-size:11px;
	font-family: Helvetica, sans-serif;
	border:0px;
	padding:0px;
	margin:0px;
	font-weight:normal;
	text-align:center;
	width:17px;
}
.searchNav form a{
	font-size:14px;
}
.searchNav .nav{
	float:right;
	text-align:right;
	width:240px;
	color: #8B8B8B;
}
.searchnav a img{
	vertical-align: middle;
	margin-bottom:2px;
}
.searchNav a{
	font-size:12px;
	color: #4D4D4D;
	font-weight:bold;
	text-decoration:none;
}
.searchNav a:hover{
	color: #828282;
}
.sectionBox{
	clear: both;
	padding-top:10px;
}
/* secondary SEARCH results */
.searchSecSpacer{
	float:left;
	width:2%;
}
.searchSec{
	float:left;
	width:430px;
	padding-top:5px;
}
.searchSecNav{
	clear:both;
	background-color: #E2E2E2;
	margin: 0px;
	padding:6px 10px 5px 10px;
	font-size:13px;
	text-align:left;
}
.searchSecNav .nav{
	float:right;
	text-align:right;
	font-weight:bold;
	font-size:14px;
}
.searchSecNav a{
	font-family: Arial, sans-serif;
	font-size:14px;
	color: #000000;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
.searchSecNav a:hover{
	color: #828282;
}
.searchSec .results{
	padding: 10px;
	line-height:1.6em;
}
.searchSec .results a{
	color:#000000;
}


/* thumbnail view  - also used in details with thumbnail grid */
.searchResultTd{
	width:130px;
	padding: 0px 0px 10px 0px;
}
.searchThumbBg{
	border:1px solid #999999;
	width:130px;
	position: relative;
}
.searchThumbCaption{
	color: #000000;
	padding:3px 0px 0px 0px;
	font-size:11px;
	text-align:left;
}
.searchThumbCaption a{
	color: #000000;
	width:130px;
	padding:3px 0px 0px 0px;
	font-size:11px;
	text-decoration:none;
}
.searchThumbCaption a:hover{
	color: #999999;
}

/* full results */
#artworkResults{
	min-height:400px;
}
td.searchFullImageCell{
	width:120px;
	text-align:center;
}
.searchFullImageContainer {
	width:120px;
	margin: 10px 10px 10px 0px;
}
.searchFullImageContainer img{
	border:0px;
}
.searchFullImageContainerPlaceHolder {
	height:120px;
	background-color:#EDEDED;
}
.searchFullText{
	text-align:left;
	margin: 10px 0px 0px 0px;
	width:210px;
}
.resultidno{
	color:#A2A2A2;
	font-size:11px;
}
.searchFullText, .searchFullText a{
	font-size:12px;
	color: #4d4d4d;
	margin:10px 0px 10px 0px;
	text-decoration:none;
}
.searchFullText a:hover{
	text-decoration:none;
	color:#A2A2A2;
}

/* Single image result */
.searchSingleImageContainer {
	margin: 0px 10px 10px 10px;
	text-align:center;
}
.searchSingleImageContainerPlaceHolder {
	width:400px;
	height:400px;
	background-color:#EDEDED;
	margin: 0px auto 0px auto;
}
.searchSingleText{
	text-align:center;
	margin: 0px 0px 0px 0px;
}
.searchSingleText, .searchSingleText a{
	font-size:12px;
	color: #4d4d4d;
	margin:10px 0px 10px 0px;
	text-decoration:none;
}
.searchSingleText a:hover{
	text-decoration:none;
	color:#A2A2A2;
}
/* search options col */
#searchOptionsCol{
	clear:right;
	float:right;
	width: 270px;
	margin: 18px 0px 15px 0px;
}
#searchOptionsCol .title{
	text-transform: uppercase;
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:0px 0px 5px 0px;
	text-decoration:none;
}
#searchOptionsCol .bg{
	background-color: #F5F5F5;
	border: 1px solid #E2E2E2;
	padding:10px;
	margin-bottom:10px;
}
/* search/browse options box - horizontal show hide */
#showOptions{
	float:right;
	margin: 1px 2px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:9px;
	
}
#hideOptions{
	float:right;
	margin: 3px 0px 0px 10px;
	text-decoration:none;
	color:#4D4D4D;
	font-weight:bold;
	font-size:12px;
	
}
#searchOptionsBox{
	clear:both;
	margin: 0px 0px 0px 0px;
	display:none;
	font-size:11px;
	color:#8B8B8B;
}
#browse #searchOptionsBox{	/* need extra space above this box in the browse */
	margin: 10px 0px 0px 0px;
}
#searchOptionsBox .col{
	float:left;
	margin-right:10px;
	color:#8B8B8B;
}
#searchOptionsBox .bg{
	background-color: #ededed;
	border:0px;
	padding:10px 20px 10px 20px;
}

/* search refine controls - horizontal show hide */
#showRefine{
	float:right;
	margin: 1px 0px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:9px;
	
}
#searchRefineBox{
	clear:both;
	margin: 0px 0px 0px 0px;
	display:none;
	font-size:12px;
	color:#8B8B8B;
}
#searchRefineBox .bg{
	background-color: #ededed;
	border:0px;
	padding:10px 20px 10px 20px;
}

#hideRefine{
	float:right;
	margin: 0px 0px 0px 10px;
	text-decoration:none;
	color:#4D4D4D;
	font-weight:bold;
	font-size:12px;	
}

#searchRefineParameters{
	float:left;
	padding:3px 0px 0px 3px;
	color:#8B8B8B;
}
#searchRefineParameters .heading{
	font-style:italic;
	color:#8B8B8B;
}
#searchRefineParameters a.button{
	color: #8B8B8B;
	font-size:11px;
	text-decoration:underline;
	margin:0px;
	padding:0px;
	font-weight:normal;
}
#searchRefineParameters a.button:hover{
	color: #8B8B8B;
}
#searchRefineParameters a.close{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size:8px;
	text-decoration:none;
	padding:1px 2px 0px 2px;
	margin:0px 10px 0px 4px;
	background-color:#999999;
	line-height:1em;
}
#searchRefineParameters a.close:hover{
	background-color:#545454;
}

/* entity results */
#entityResults{
	margin-bottom:10px;
	size:14px;
}
#entityResults div{
	padding:5px;
}
#entityResults a{
	font-weight:bold;
	size:14px;
}
#entityResults .resultBg{
	background-color: #F2F2F2;
}

/* collection results */
#collectionResults{
	margin-bottom:10px;
	size:14px;
}
#collectionResults div{
	padding:5px;
}
#collectionResults a{
	font-weight:bold;
	size:14px;
}
#collectionResults .resultBg{
	background-color: #F2F2F2;
}
/* occurrence results */
#occurrenceResults{
	margin-bottom:10px;
	size:14px;
	min-height:400px;
}
#occurrenceResults div{
	padding:10px;
}

#occurrenceResults div:hover{
	background-color: #E0E0E0;
}
#occurrenceResults a{
	text-decoration:none;
	size:14px;
}

#occurrenceResults a:hover{
	color:#4d4d4d;
}
#occurrenceResults .resultBg{
	background-color: #F5F5F5;
}


/* ------------------------------------- */
/* login register */
/* ------------------------------------- */

#loginRegFeatured {
	float:left;
	width:500px;
	height:625px;
	margin:0px;
}
#loginRegFeatured div{
	text-align:left;
	width:100%;
}
#loginRegFormArea{
	width:278px;
	height:605px;
	float:left;
	line-height:1.3em;
	background-color: #A89F8E;
	color:#FFFFFF;
	padding:0px 20px 20px 20px;
	font-size:12px;
	color:#FFFFFF;
	overflow-y:auto;
}
#loginForm{
	padding-top:60px;
}
#registerForm{
	padding-top:23px;
}
#forgotPW{
	padding-top:20px;
}
#loginForm .heading, #registerForm .heading, #forgotPW .heading{
	font-weight:normal;
	font-size:20px;
	margin-bottom:10px;
	color:#FFFFFF;
}
#loginForm div, #loginForm a, #registerForm a, #forgotPW div, #forgotPW p, #forgotPW a{
	color:#FFFFFF;
}
#registerForm{
	float:left;
	line-height: 1.3em;
	color:#FFFFFF;
}
#loginForm div, #loginForm p, #resetPassword div, #resetPassword p{
	margin:0px 0px 15px 0px;
	color:#FFFFFF;
}
#registerForm div, #registerForm p{
	margin:0px 0px 13px 0px;
	color:#FFFFFF;
}
#loginForm div.formErrors, #resetPassword div.formErrors, #registerForm div.formErrors{
	color:#660000;
	margin:10px 0px 0px 0px;
}
#loginForm .button, #registerForm a.button, #resetPassword a.button {
	text-transform:capitalize;
	font-size:14px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:none;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
}
#registerForm a.button, #loginForm .button, #resetPasswordForm a.button {
	text-transform:capitalize;
	font-size:14px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#loginForm a.button:hover, #registerForm a.button:hover, #resetPassword a.button:hover{
	color: #545454;
	text-decoration:none;
}

#loginForm input, #registerForm input, #resetPassword input, #resetPasswordForm input {
	font-size:12px;
	font-weight: normal;
	padding: 4px;
	margin: 0px;
	border: 0px;
	height:12px;
	outline: none;
	background-color:#FFFFFF;
}
#loginForm input[type="text"], #registerForm input[type="text"], #resetPassword input[type="text"], #resetPasswordForm input[type="text"] {
	font-size:12px;
	font-weight: normal;
	padding: 4px;
	margin: 0px;
	border: 0px;
	height:12px;
	outline: none;
	background-color:#FFFFFF;
}
#registerForm input, #registerForm input[type="text"], #resetPasswordForm input[type="text"]{
	width:260px;
}

/* ------------------------------------- */
/* Account Info Form */
/* ------------------------------------- */
#accountInfoForm div{
	padding-bottom:10px;
}
#accountInfoForm .formLabel{
	font-weight:bold;
}
#accountInfoForm .button{
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#787878;
	text-decoration:none;
}
#accountInfoForm input[type="text"], #accountInfoForm  input{
	font-size:12px;
	font-weight: normal;
	padding: 4px;
	margin: 0px;
	border: 1px solid #d3d3d3;
	height:12px;
}


/* ------------------------------------- */
/* Features */
/* ------------------------------------- */

/* scrolling navigation */
#hideFeatures{
	float:right;
	margin: 13px 45px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:12px;
	
}
#showFeatures{
	float:right;
	margin: 13px 0px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:12px;
	display:none;
	
}
div.scrollable { 
    /* required settings */ 
    position:relative; 
    overflow:hidden; 
    width: 815px; 
    height:180px; 
    background-color: #DEDEDE;
    float: left;
    margin: 0px 5px 15px 12px;
} 
 
/* 
    root element for scrollable items. Must be absolutely positioned 
    and it should have a extremely large width to accomodate scrollable items. 
    it's enough that you set width and height for the root element and 
    not for this element. 
*/ 
div.scrollable div.items { 
    /* this cannot be too large */ 
    width:20000em; 
    position:absolute; 
} 
 
/* 
    a single item. must be floated in horizontal scrolling. 
    typically, this element is the one that *you* will style 
    the most. 
*/ 
div.scrollable div.items div { 
    float:left; 
} 
 
/* you may want to setup some decorations to active the item */ 
div.items div.active { 
    background-color:#545454; 
}

.featuresSetTooltip{
	padding:30px;
	font-size:14px;
	width:300px;
}

.setTile {
	width: 160px;
	height: 170px;
	padding: 10px;
	text-align: center;
}

.setTileEmpty {
	width: 10px;
	padding-top: 10px;
	text-align: center;
}

.setTileImage {
	width: 160px;
	height: 160px;
	text-align: center;
}

.setTileTitle {
	color: #000000;
	font-size: 10px;
	margin-top:2px
}

.setTileScrollControl {
	padding: 5px;
	display:block;
	width:20px;
	height:30px;
	margin:70px 0px 0px 0px;
	cursor:pointer;
}

.prevPage {
	float: left;
}
.nextPage {
	float: right;
}



/* image scroller on detail page */
#featuresSlideshow {
	
}
.featuresSlideshowScrollControl {
	width: 140px;
	text-align: center;
	padding-top: 200px;
}
#featuresSlideshowScrollingViewer {
	width:598px;
	text-align:center;
	margin: 0px;
	background-color: #ededed;
	border:1px solid #828282;
}

#featuresSlideshow div #featuresSlideshowScrollingViewerContainer {
	position: relative;
	overflow: hidden;
	width: 560px;
	height: 400px;
	margin: 19px;
	padding: 0px;
}

#featuresSlideshow div #featuresSlideshowScrollingViewerImageContainer {
	position: absolute;
	width: 560px;
	height: 400px;
	margin: 0px;
	padding: 0px;
}

#featuresSlideshow div .featuresSlideshowScrollerImage {
	position: absolute;
	margin-top: 0px;
	padding-top: 0px;
}

#featuresSlideshowScrollingViewerCounter {
	float: right;
	font-size: 12px;
	padding: 5px;
	margin:5px 5px 0px 0px;
	text-align:right;
}

/* the overlayed element */ 
.featuresOverlay { 			
     
    /* must be initially hidden */ 
    display:none; 
     
    /* place overlay on top of other elements */ 
    z-index:10000; 
     
    /* styling */ 
    background-color:#ffffff; 
    padding:20px 25px 15px 20px;
     
    width:675px;
    min-height:200px; 
    border:4px solid #000000;
    
} 
 
/* close button positioned on upper right corner */ 
.featuresOverlay .close { 
    background-image:url(../graphics/closePanel.gif); 
    position:absolute; 
    right:10px; 
    top:10px; 
    cursor:pointer; 
    height:19px; 
    width:19px; 
    background-repeat:no-repeat;
}

#featuresOverlayImage{   
	text-align:center;
}
.featuresOverlayContent {	
	font-size:11px;
	color:#333333;
	text-align:left;
	margin: 10px auto 0px auto;
}
.featuresOverlayContent div{   
	margin-bottom:10px;
}
.featuresOverlayContent a{	
	text-decoration:underline;
	font-size:11px;
	color:#333333;
}
 
.featuresOverlayContent h3 { 
    color:#aba; 
    font-size:15px; 
    margin:0 0 -10px 0; 
}

/* ------------------------------------- */
/*  FAVORITES PAGE */
/* ------------------------------------- */
.favoritesColumn{
	float:left;
	margin: 0px 0px 15px 0px;
	width:200px;
}
.favoritesSpacerColumn{
	float:left;
	width:32px;
	height:100px;
}
.favoritesColumn .title, .favoritesTextColumn .title{
	text-transform: uppercase;
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:5px 0px 5px 0px;
	text-decoration:none;
}
.favoritesColumn a.title{
	text-transform: uppercase;
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:15px 0px 5px 0px;
	text-decoration:none;
}
.favoritesColumn a.title:hover{
	color: #000000;
}
.favoritesColumn table{
	width:180px;
	height:200px;
	margin: 0px 0px 0px 0px;
}
.favoritesColumn a.more{
	text-transform: uppercase;
	font-size:14px;
	font-weight:bold;
	color: #828282;
	margin:3px 0px 0px 0px;
	text-decoration:none;
	float:right;
}
.favoritesColumn a.title:hover{
	color: #000000;
}
#featuredCol #scrollFeatured, #userFavsCol #scrollUserFavs, #mostViewedCol #scrollMostViewed, #recentlyAddedCol #scrollRecentlyAdded{
	height:600px;
	overflow:hidden;
	position:relative;
}
#featuredCol #scrollFeatured #scrollFeaturedContainer, #userFavsCol #scrollUserFavs #scrollUserFavsContainer, #mostViewedCol #scrollMostViewed #scrollMostViewedContainer, #recentlyAddedCol #scrollRecentlyAdded #scrollRecentlyAddedContainer{
	position:absolute;
}





/* --------------------------------------*/
/*  BROWSE  */
/* --------------------------------------*/
/* browse controls when browse has been initiated */
#browseControls{
	clear:both;
	background-color:#EDEDED;
	padding:5px 10px 5px 10px;
	margin:0px 0px 10px 0px;
}
#browseOptions{
	margin: 5px 0px 5px 0px;
}
#browseOptions .browseOptionsHeading{
	font-weight:bold;
	color:#4d4d4d;
	font-size:13px;
}
#browseOptions a.facetLink{
	font-size:13px;
	color:#4d4d4d;
	text-decoration:underline;
}
#browseOptions a.facetLink:hover{
	color:#8b8b8b;
}
#browseCriteria{
	margin: 5px 0px 5px 0px;
	color:#8b8b8b;
}
#browseCriteria .criteriaHeading{
	font-weight:bold;
	color:#8b8b8b;
	font-size:12px;
}
#browseCriteria a.close{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size:8px;
	text-decoration:none;
	padding:2px 2px 0px 2px;
	margin:0px 5px 0px 3px;
	background-color:#828282;
	line-height:1em;
	font-weight:bold;
}
#browseCriteria a.startOver{
	color:#4d4d4d;
	text-decoration:underline;
	font-size:10px;
}


/* --- browse pop up panels --- */
.browseSelectPanel, #browse .browseSelectPanel {  /* used in browse and details with browse */
	position: absolute; 
	top: 100px; 
	left: 50%; 
	border: 3px solid #787878; 
	background-color: #a89f8e; 
	width: 900px; 
	height: 400px; 
	display: none;
	margin-left: -450px;
	padding: 10px;
	/*background-image: url("../graphics/bgStripeBW.gif");*/
}
#browseFacetGroupingControls{ /*  used in browse and details with browse */
	float:right;
	margin: 10px 10px 0px 10px;
	color:#333333;
	text-transform:uppercase;
	font-size: 11px;
}
#browseFacetGroupingControls a{ /*  used in browse  and details with browse */
	text-decoration:none;
	color:#333333;
	text-transform:uppercase;
	font-weight:bold;
	font-size: 11px;
}
#browseFacetGroupingControls a.selected{ /*  used in browse and details with browse */
	text-decoration:underline;
	color:#333333;
	text-transform:uppercase;
	font-size: 11px;
}
.browseSelectPanel #title{ /*  used in browse and details with browse */
	font-size: 34px;
	font-weight:normal;
	color:#FFFFFF;
	line-height:1em;
	padding-bottom:5px;
}

.browseSelectPanelContentArea { /*  used in browse and details with browse */
	border: 1px solid #333333;
	background-color: #FFFFFF;
}

#browseSelectPanelHeader { /*  used in browse and details with browse */
	position: relative;
	margin: 10px;
	text-transform:uppercase;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	height: 18px;
	overflow:hidden;
	width: 635px;
}
#browseSelectPanelHeader a { /*  used in browse and details with browse */
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	padding-right:4px;
}

#browseSelectPanelHeaderContent {
	position: absolute;
}

#browseSelectPanelHeaderScrollButtons {
	float:right;
	margin: 10px 10px 0px 10px;
	color:#333333;
	font-size: 14px;
}

.browseSelectPanelList { /*  used in browse and details with browse */
	margin: 0px;
	width: 878px;
	height: 310px;
	overflow: auto;
	padding: 0px 10px 10px 10px;;
	color:#333333;
}


td.browseSelectPanelListCell { /*  used in browse and details with browse */
	padding:3px;
	width:20%;
}


table.browseSelectPanelListTable { /*  used in browse and details with browse */
	width: 100%;
}

.listDivide{ /*  used in browse and details with browse */
	height:1px;
	border-bottom: 1px #333333 solid;
}

div.browseSelectPanelListGroupHeading { /*  used in browse and details with browse */
	font-size: 34px;
	font-weight: bold;
	padding-top: 5px;
	margin-bottom: 5px;
	color:#4c4c4c;
}

a.browseSelectPanelListGroupHeading, a.browseSelectPanelListGroupHeading:hover { /*  used in browse and details with browse */
	text-decoration: none;
	color: #4c4c4c;
}

a.browseSelectPanelButton {   /*  used in browse and details with browse */
	background-image: url("../graphics/closePanel.gif");
	background-repeat:no-repeat;
	float: right;
	margin-left: 15px;
	width:19px;
	height:19px;
	text-decoration:none;
}

a.browseSelectPanelButton:hover {
	background-color: #333333;
}

a.browseSelectPanelLink { /*  used in browse and details with browse */
	font-size: 10px;
	text-decoration:none;
	font-size:11px;
	color:#4c4c4c;
}

a.browseSelectPanelLink:hover { /*  used in browse and details with browse */
	color:#999999;
}











/* overlay (for object representations) */
#caMediaPanel {
	position: fixed; 
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%; 
	display: none;
	margin: 0px;
	padding: 0px;
	z-index: 31000;			/* needs to be on top of menu bar, which has z-index=30000 */
}
#caMediaPanel #close{
	float: right;
	width:15px;
	height:16px;
	margin:10px;
	background-image:url("../graphics/buttons/x.png");
}
#caMediaPanel #close a{
	text-decoration:none;
	font-size:16px;
}
#caMediaPanelContentArea {
	width: 100%; 
	height: 100%;
}

#caMediaOverlayContent {
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
}
.closeUpperLeft {
	position:absolute;
	left:5px;
	top:5px;
	width:15px;
	height:16px;
	background-image:url("../graphics/buttons/x_white.png");
	z-index: 32000;			/* needs to be on top of caMediaPanel, which has z-index=31000 */
}
.closeUpperLeft a{
	text-decoration:none;
}

div.caMediaOverlayControls {
	background-color: #000;
	color:#FFF;
	font-size: 11px;
	text-align:center;
	position:absolute;
	padding: 10px 0px 10px 0px;
	width:100%;
	bottom:0px;
	left:0px;
	z-index: 32000;			/* needs to be on top of caMediaPanel, which has z-index=31000 */
	opacity:.5;
	
}
div.caMediaOverlayControls:hover {
	opacity:1.0;
	background-color:rgba(0,0,0,0.5);
}
div.caMediaOverlayControls a{
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
	color:#FFF;
}
div.caMediaOverlayControls a:hover{
	color:#FFF;
}
div.caMediaOverlayControls .close{
	float:right;
	width:15px;
	height:16px;
	background-image:url("../graphics/buttons/x_white.png");
	margin: 0px 10px 0px 20px;
}
div.caMediaOverlayControls .download{
	float:right;
	margin-left:20px;
}
div.caMediaOverlayControls .objectInfo{
	font-size:12px;
	color:#FFF;
	padding-left:10px;
	text-align:left;
	width:40%;
	float:left;
	min-height:2px;
}
div.caMediaOverlayControls .overlayLightboxLink{
	font-size:12px;
	color:#FFF;
	padding-right:50px;
	text-align:center;
	width:30%;
	float:right;
	min-height:2px;
}
div.caMediaOverlayControls .overlayLightboxLink a{
	font-size:13px;
	color:#FFF;
	text-deocration:none;
	font-weight:normal;
}
div.caMediaOverlayControls .repNav {
	float:left;
	width:16%;
	padding: 0px 2% 0px 2%;
	text-align:center;
	color:#FFF;
	font-size:12px;
}
div.caMediaOverlayRepThumbs {
	color:#FFF;
	font-size: 11px;
	text-align:right;
	position:absolute;
	top:60px;
	right:11px;
	padding:3px;
	z-index: 32000;			/* needs to be on top of caMediaPanel, which has z-index=31000 */
	opacity:.3;	
}
div.caMediaOverlayRepThumbs:hover {
	opacity:1;	
}
div.caMediaOverlayRepThumbs img{
	margin:2px;
	border:1px solid transparent;
}
div.caMediaOverlayRepThumbs a.selectedRep img{
	border:1px solid #FFF;
}


/*#caMediaPanel {
	position: fixed; 
	top: 1.5%; 
	left: 1.5%; 
	border: 4px solid #ccc; 
	background-color: #FFFFFF; 
	width: 97%; 
	height: 97%; 
	display: none;
	margin: 0 auto;
	padding: 0px;
	z-index: 31000;
}
#caMediaPanel #close{
	float: right;
	width:15px;
	height:16px;
	margin:10px;
	background-image:url("../graphics/x.gif");
}
#caMediaPanel #close a{
	text-decoration:none;
	font-size:16px;
}
#caMediaPanelContentArea {
	width: 100%; 
	height: 100%; 
}

#caMediaOverlayContent {
	margin-top: 5px;
	margin-left: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
}

div.caMediaOverlayControls {
	background-color: #FFFFFF;
	padding: 10px 3px 10px 3px;
	font-size: 11px;
	margin-left: 0px;
	border-bottom:2px solid #ededed;
	text-align:center;
	height:15px;
}

select.caMediaOverlayControls {
	font-size: 9px;
}
#caMediaOverlayThumbnails{
	padding: 10px 0px 0px 0px;
	text-align:center;
	height:90px;
	width:100%;
	overflow:auto;
}
#caMediaOverlayThumbnails img{
	margin:0px 1px 0px 1px;
}
#caMediaOverlayThumbnails div{
	margin:0px auto 0px auto;
}
*/

/*#caMediaPanel {
	position: fixed; 
	top: 25px; 
	left: 50%; 
	border: 4px solid #ccc; 
	background-color: #FFFFFF; 
	width: 840px; 
	height: 600px; 
	display: none;
	margin-left: -430px;
	padding: 7px;
}
#caMediaPanel #close{
	float: right;
	width:15px;
	height:15px;
	margin:0px;
	background-image:url("../graphics/x.gif");
}
#caMediaPanel #close a{
	text-decoration:none;
	font-size:15px;
}
#caMediaPanelContentArea {

}



#caMediaOverlayContent {
	margin-top: 15px;
	margin-left: 0px;
	
	text-align: center;
}
#caMediaOverlayThumbnails{
	padding: 10px 0px 0px 0px;
	text-align:center;
	height:90px;
	width:840px;
	overflow:auto;
}
#caMediaOverlayThumbnails img{
	margin:0px 1px 0px 1px;
}
#caMediaOverlayThumbnails div{
	margin:0px auto 0px auto;
}*/

/* overlay (for research pending info) */
#researchPendingPanel {
	position: fixed; 
	top: 200px; 
	left: 50%; 
	border: 4px solid #ccc; 
	background-color: #FFFFFF; 
	width: 400px; 
	height: 275px; 
	display: none;
	margin-left: -200px;
	padding: 7px;
}
#researchPendingPanel #close{
	float: right;
	width:15px;
	height:15px;
	margin:0px;
	background-image:url("../graphics/x.gif");
}
#researchPendingPanel #close a{
	text-decoration:none;
	font-size:15px;
}
#researchPendingPanelContentArea {
	margin: 30px 20px 20px 20px;
	text-align: left;
}

/*** HIERARCHY BROWSER ***/
div.hierarchyBrowser {
	width: 100%;
	height: 350px;
	margin: 0px;
}

div.hierarchyBrowserSmall {
	border: 1px solid #ccc;
	width: 98%;
	height: 180px;
	margin: 5px 0px 2px 6px;
}

div.hierarchyBrowserLarge {
	border: 1px solid #000000;
	width: 100%;
	height: 400px;
	margin: 0px 0px 10px 0px;
}
div.hierarchyBrowserContainer {
	position: relative;
	overflow: auto;
	overflow-y: hidden;
	height: 100%;
}

div.hierarchyBrowserLevel {
	position: absolute;
	top: 0px;
	width: 230px;
	height: 100%;
	padding: 0px;
	margin: -2px;
	border: 1px solid #cccccc; 
	background: #FFFFFF;
	overflow: auto;
}

ul.hierarchyBrowserLevel {
	padding: 3px;
	margin: 3px;
}

li.hierarchyBrowserLevel {
	margin: 0px 0px 5px 0px;
	padding:5px 0px 5px 0px;
	border-bottom: 1px solid #EDEDED;
	list-style-type: none;
	text-align: left;
}
a.hierarchyBrowserLevel {
	text-decoration: none;
	font-weight: normal;
}

a.hierarchyBrowserLevelSelected {
	color: #00000;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
}

a.hierarchyBrowserLevelEditButton {
	text-decoration: none;
	font-weight: bold;
}

div.hierarchyBrowseTab {
	height: 245px;
	width: 712px;
	overflow: hidden;
	font-weight: normal;
	margin-left:-10px;
}
/* --- submit form button -- */
.form-submit {
width: 20px;
height: 20px;
background: #cbcbce url("../graphics/ncr/search_btn_tan.jpg") top left no-repeat;
text-indent: -99999px;
font-size: 0px;
float: left;
margin:0px 0 0 5px;
}  
.form-submit:hover {
background: #cbcbce url("../graphics/ncr/search_btn_tan.jpg") bottom left no-repeat;
width: 20px;
height: 20px;
}
