/* teal 00587c; yellow ochre AA8A00; */
/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Forum|Overlock:400,400i,700,700i');

/*
    font-family: 'Overlock', cursive;
    font-family: 'Forum', cursive;

*/
.teal {
	color: #00587c !important;
}
.tealBg {
	background-color: #00587c !important;
	color:#FFF;
}
.ochre {
	color: #AA8A00 !important;
}
body{
	margin-top:57px;
}
@media(min-width:768px) and (max-width:1010px){
	body{
		margin-top:90px;
	}
}
.navbar{
	/*background-image: url("../graphics/tealBg2.jpg");*/
	background-repeat:repeat-x;
	background-color: #00587C;
	position: fixed;
	width: 100%;
	top:0px;
	-moz-box-shadow: inset 0 0 20px rgba(0,0,0, 0.2);
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0, 0.2);
	box-shadow: inset 0 0 20px rgba(0,0,0, 0.2);
}
a.navbar-brand, a.navbar-brand:hover {
    font-size: 37px;
    text-transform: none;
    color: #FFF;
    font-weight: 400;
    /*padding-top: 17px;
	font-family: 'Overlock', cursive;
	letter-spacing:2px;*/
	padding-top: 9px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #FFF;
}
.navbar .formOutline{
	background-color:#FFF;
	border-color:#FFF;
	border-radius: 0px;
	box-shadow:none;
}
.navbar-form{
	-webkit-box-shadow:none;
	box-shadow:none;
}
@media(max-width:768px){
	.navbar-form{
		margin-left:5px;
		margin-right:5px;
	}
	.navbar-nav {
		margin: 7.5px 0px 7.5px 0px;
	}
	.container > .navbar-collapse {
		margin-right: -30px;
		margin-left: -30px;
	}
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    margin-left:1px;
}
.navbar-default .navbar-nav > li > a:hover{
    background-color: rgb(0,0,0, .3);
    font-family:LatoLight;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow:none;
    text-transform:uppercase;
    font-family:LatoLight;
	letter-spacing:1px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgb(0,0,0, .3);
	color:#FFF;
    font-family:LatoLight;
}
H1, h1, h2, H2, H3, h3{
	color:#333;
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color:#AA8A00;
}
.btn-default:hover{
	background-color:#AA8A00;
	box-shadow: inset 0 0 10px #555;
}
.btn-small{
	font-size:9px !important;
	padding:3px 5px !important;
}
.btn-med{
	font-size:11px !important;
	padding:3px 5px !important;
}
a, a:hover, a:focus{
	color:#AA8A00;
}
#footer ul a{
	color:#FFF;
}
#footer{
	background-color: #222;
	color: #FFF;
	padding-top:15px;
	height:60px;
}
body{
	margin-bottom:100px;
}

/* forms */
.form-control:focus {
    border-color: #AA8A00;
}

/* front */
.parallax {
	position:relative;
    background-image: url("../graphics/garden3.jpg");

    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hpIntro{
	background-color: rgb(0,0,0,.4);
	padding:40px;
	color:#FFF;
	font-size:24px;
	line-height:1.3em;
	margin: 100px 0px 140px 0px;
}
.hpIntro p{
	margin-top:40px;
}
#pageArea{
	padding-top:20px;
}
#pageArea.front{
	padding-top:0px;
}
.frontSlide {
    margin-right: 30px;
}
.jcarousel-pagination{
	display:none;
}
.front .jcarousel-wrapper {
	margin-top: 0px;
}
.frontSlide img {
	height: 250px;
    width: auto;
}
.frontSlide .frontSlideCaption, .frontSlide .frontSlideCaption a{
	font-size: 12px;
	line-height: 1.1em;
}
.jcarousel-control-prev, .jcarousel-control-next {
	top:125px;
}
.front{
	font-size:20px;
}
.front H2{
	font-size:22px;
}
.front H1{
	color:#000;
}
.hpFeature{
	padding-left:25px;
	padding-right:25px;
	padding-bottom:50px;
	font-size:16px;
}
.hpFeature .fa{
	font-size:80px;
}
.hpFeature H1{
	font-weight: bold;
	font-family:Lato;
}
.front .tealBg H1{
	color:#fff;
}
.front .tealBg{
	margin-top:50px;
	margin-bottom:75px;
}

/* Bloomtime Color Chart */
.btccRow{
	text-align:center;
	border:1px solid #ededed;
}
.btccCol{
	height:50px;
	line-height:50px;
	text-transform:uppercase;
	text-align:center;
	font-size:10px;
	color:#000;
}
.btccCol .flaticon{
	font-size:30px;
}
.btccCol .flaticon-orange{
	font-size:20px
}
.btccCol > div{
	display: inline-block;
	vertical-align: middle;
	line-height:1.1em;
}
.btccSeason{
	text-align:center;
}
.btccSeason > div{
	border-right:1px solid #858585;
	padding-top:5px;
}
.btccSeason > div:last-child{
	border:0px;
}

/* projects */
.projectList .unit{
	margin-bottom:15px;
}
.projectList .unit .btn{
	margin-left:0px;
}

.lbListItem img{
	width:100%;
	height:auto;
}
.projectItem{
	background-color:#f6f5f0;
	padding:20px;
}
.projectItem H2{
	margin-top:10px;
}
.projectItem H2 a{
	color: #00587c;
}
.projectItem H2 a .glyphicon{
	font-size:11px;
}
.paletteIcons img{
	width:100%;
	height:auto;
}
.paletteIcons {
	margin-bottom:10px;
}
.paletteIcons .palettePlaceholder{
	padding:30px 15px;
	background-color:#FFF;
	text-align:center;
}
.paletteIcons .palettePlaceholder i.fa{
	font-size:70px;
	color:#dedede;
}

/* palette */
.lbListItemButtons{
	font-size:11px;
	padding-top:5px;
}
.lbDownloadLinks{
	padding-top:3px;
	padding-bottom:3px;
}
.lbDownloadLinks a{
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}
.lbDownloadLinks a .glyphicon{
	padding-right:5px;
	font-size:10px;
}
.paletteHelp{
	padding-left:12px;
	font-size:12px;
}
.paletteHelp li{
	padding-bottom:5px;
	padding-top:5px;
}
#bShowList{
	margin-right:15px;
}
#bSortByList, #bShowList{
	float:left;
	margin-top:10px;
}
#bSortByList ul, #bShowList ul {
	list-style-type:none;
	display:inline;
	padding:0px;
}
#bSortByList ul li, #bShowList ul li{
	font-size:12px;
	display:inline-block;
	margin:0px 5px 0px 0px;
}
#bSortByList ul li.divide, #bShowList ul li.divide{
	border-left:1px solid #858585;
	width:3px;
}
#bSortByList ul li.selectedSort, #bShowList ul li.selectedSort{
	color:#454545;
}
#bSortByList li a, #bShowList li a{
	text-decoration:underline;
	color:#858585;
}
#bSortByList ul li strong, #bShowList ul li strong{
	color:#000;
	text-transform:uppercase;
	font-weight:normal;
}
#bShowList .active{
	color:#333;
}
/* browse */
.bSetsSelectMultiple {
    display: inline;
}
#bSetsSelectMultipleButton button{
	padding: 3px 4px 3px 4px;
	font-size:11px;
}
.bSetsSelectAll{
	font-size:12px;
}
.bSwatch{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
/* Filter panel */

.filterLeader {
	padding:15px 15px 0px 15px;
	font-size:14px;
}
.filterDesc {
	padding:5px 15px 15px 15px;
	font-size:12px;
	line-height:1.4em;
}
#bRefine H5{
	color:#333;
}
#bRefine H5[type="button"]{
	cursor: pointer;
	color:#858585;
}
#bRefine hr {
	margin-bottom:0px;
}
.facetGroup.panel {
	width:250%;
	border: 1px solid #e5e5e5;
	min-height:250px;
	max-height:400px;
	overflow:hidden
}
.facetGroup.panel .container {
	overflow-y:auto;
	/*max-height:320px;*/
}
#bRefine .open .dropdown-toggle.btn-default, #bRefine .dropdown-toggle.btn-default {
	background-color:transparent;
	border-bottom:1px solid #fff;
	border-radius:0px;
	margin-left:0px;
}
#bRefine .open .dropdown-toggle.btn-default {
	font-weight:800;
	border-bottom:1px solid #333;
}
#bRefine .facetGroup li .facetItem {
    margin-bottom: 12px;
}
#bRefine .row, #bRefine .container {
	margin-bottom:0px;
}
#bRefine .row {
	max-height:250px;
	overflow-y:auto;
	margin-bottom:10px;
}
#bRefine  #bHierarchyList_place_facet {
	width:100%;
	padding-left: 15px;
}
#bRefine li .hierarchicalList .facetItem {
	margin-bottom: 22px;
}
#facetGroupplace_facet h1 {
	display:none;
}
#bAncestorList {
	font-weight:bold;
	clear:both;
}
.bScrollListHierarchy {
	clear:left;
}
#bAncestorList {
	position:absolute;
	height:20px;
	background-color:#fff;
	width:100%;
	top: 40px;
}
.facetItem .glyphicon-chevron-down {
	font-size:10px;
}
.facetContainer{
	position:relative;
	padding-bottom:20px;
}
#bRefine .facetItem {
	padding-left:20px; 
}
#bRefine .facetItem[facet_item_selected="1"] {
	padding-left:20px;
}
[facet_item_selected="1"]::before {
	font-family: FontAwesome;
	content: "\f067"; 
	padding-right:6px;
	position:absolute;
	left:7px;
	top:4px;
	font-size:11px;
}
.facetApply {
	clear:both;
	right:15px;
	display:block;
	text-align: center;
    margin-top: 20px;

}
a.facetApply {
    background-color: #ddd;
    color: #333;
    font-size: 13px;
    border-radius: 3px;
    width:50px;
    padding-top:4px;
    padding-bottom:4px;
    margin-left: auto;
    margin-right: auto; 
    position:absolute;
    bottom:0px;
    left:0px;
}
.staticPage H1{
	font-weight:bold;
	font-family: Lato;
	text-transform: none;
	font-size:28px;	
	padding-top:25px;
}
.staticPage H2{
	padding-top:20px;
}
.staticPage li{
	padding-bottom:15px;
}
.staticPage{
	font-size:15px;
	line-height:1.4em;
	color:#000;
}