.browseImage {
    position: relative !important;
}   

#bRefine {
    width: 200px;
}

.refineContainer {
    margin: 0px !important;
}

.browseContainer {
    margin: 20px 0 0 0;
}

.detailContainer {
    margin: 0px;
    position: relative !important;
}

.detailContentContainer {
    margin: 20px 0 0 0 ;
}

.detailNavBgLeft, .detailNavBgRight{
	margin-top:-20px;
	background-color:#EBEBEB;
	width:43px;
	height:110px;
	text-transform:uppercase;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}

.detailNavBgLeft{
	position:absolute;
	left:20px;
}

.detailNavBgRight{
	position:absolute;
	right:20px;
}

.detailNavBgLeft a, .detailNavBgRight a{
	color:#8e8985;
	line-height:.3em;
	font-size:18px;
	text-decoration:none;
}
.detailNavBgLeft a .small, .detailNavBgRight a .small{
	font-size:8px;
	color:#ababab;
	padding-bottom:20px;
	padding-top:3px;
}

div.detailLabel {
    color: #000;
    font-size: 14px;
    display: block;
    margin-bottom: 0px;
}

div.detailContent {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
}