/* Accessibility changes: green 76AA5B replaced by 5A8042 */
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2afa10");

  
@font-face {font-family: 'GillSansMTStd-Light'; src: url('webfonts/2AFA10_0_0.eot');src: url('webfonts/2AFA10_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2AFA10_0_0.woff') format('woff'),url('webfonts/2AFA10_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'GillSansMTStd-Book'; src: url('webfonts/2AFA10_1_0.eot');src: url('webfonts/2AFA10_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2AFA10_1_0.woff') format('woff'),url('webfonts/2AFA10_1_0.ttf') format('truetype');}

@font-face {font-family: 'GillSansMTStd-Medium'; src: url('webfonts/2B6BAB_0_0.eot');src: url('webfonts/2B6BAB_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B6BAB_0_0.woff') format('woff'),url('webfonts/2B6BAB_0_0.ttf') format('truetype');}

/* ------Fonts  -------- */
.GillSansMTStd-Light { 
	font-family: GillSansMTStd-Light;
	font-weight: normal;
	font-style: normal;
}
.GillSansMTStd-Book { 
	font-family: GillSansMTStd-Book;
	font-weight: normal;
	font-style: normal;
}
.GillSansMTStd-Medium{
	font-family: GillSansMTStd-Medium;
}


/* ------Global Styles -------- */
body {
	font-family: GillSansMTStd-Book, Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	margin: 0px;
	background-position: top;
	color:#4d4d4d;
}
@media (min-width: 768px) {
	body {	
		padding-top:0px;
	}
}
#skipNavigation a{
	position: absolute;
	margin-left: -3000px;
	width: 1;
	height: 1;
	overflow: hidden;
}
#skipNavigation a:focus, #skipNavigation a:active {
	margin-left: 0px;
	width: auto;
	height: auto;
}
a:link, a:visited {
	color:#5A8042;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;	/*border-bottom: 1px dotted #999;*/
}
a:active {
	color:#5A8042;
}
h1, h1 i, .front H1, .front H1 i, .front h1 a, .front h1 a i, .detail h1, .detail h1 i {
	font-family: GillSansMTStd-Light, Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size: 42px;
	color:#000;
	padding:0px;
	margin:0px;
	text-transform:none;
}
.detail h1{
	line-height:1.1em;
}
h2, .front h2 a, .detail h2 {
	font-family: GillSansMTStd-Light, Helvetica, Arial, sans-serif;
	font-weight:normal; 
	color:#666;
	padding:0px;
	margin:0px;
	font-size: 30px;
}
.detail h2 {
	text-transform: none !important;
	margin: 0px;
}
h3 {
	font-family: GillSansMTStd-Light, Helvetica, Arial, sans-serif;
	font-weight:normal; 
	color:#666;
}

h4 {
	font-family: GillSansMTStd-Medium, Helvetica, Arial, sans-serif; 
	color:#000;
	margin-bottom:5px;
	font-size:16px;
	font-weight:normal;
}
h5 {
	font-family: GillSansMTStd-Book, Helvetica, Arial, sans-serif; 
	color:#000;
	margin-bottom:5px;
	font-size:16px;
	font-weight:normal;
}
strong, b {
	font-family: GillSansMTStd-Medium;
	font-weight:normal;
}	
/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
.contentbody_sub{
	/*padding-top:15px;*/
	font-size:15px;
}
.contentbody {
	padding-top:35px;
	font-size:15px;
}
.detail .thumbnail:not([data-loaded]), .contact .thumbnail:not([data-loaded]){
	margin:auto;
	border:0px;
}
.thumbnail {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px !important;
    padding: 0px;
    transition: all 0.2s ease-in-out 0s;
}
.thumbnail, .img-thumbnail {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
}
.thumbnailImgLeft > img, .thumbnailImgLeft a > img {
    margin-left: 0;
    margin-right: 0;
}
.caption, .thumbnail .caption {
	font-size:11px; 
	color:#757575; 
	text-transform:uppercase;
	border:0;
	padding-top:5px;
	padding-left:0;
	margin-left:0;
	margin-right: 0px;
}
.exhibitions .thumbnail > img {
	display: block;
	max-width: 100%;
	max-height: 700px;
	width: auto;
}
div.captionSlideshow{
	margin-top: 10px;
	padding-left:35px !important;
	padding-right:35px !important;
}
.captionAvailable{
	color: red;
	font-size:6px;
	padding-left:5px;
	top: -2px;
	position: relative;
}
.captionNoLongerAvailable{
	color: orange;
	font-size:6px;
	padding-left:5px;
	top: -2px;
	position: relative;
}
.fullWidthImg img{
	height:auto;
	width:100%;
}
/* ------Nav Styles------------ */
.navbar-brand {
	padding:15px 0 0 0;
	width:120px;
}
.navbar-brand img{
	max-height:69px;  /* this is the size for the regular logo */
	/*max-height:75px;*/	/* taller for the 10 year logo */
	width:auto;
	max-width:auto;
}
.navbar-default {
	border:0;
	background:none;
	font-size:15px;
	border-radius: 0px;
    box-shadow: 0 0px 0 rgba(255, 255, 255, 0.15) inset, 0 0px 0px rgba(0, 0, 0, 0.075);
    margin-bottom:15px;
}
.navbar-nav > li > a {
    padding-bottom: 0px;
    font-family: GillSansMTStd-Book;
    font-size:15px;
    color:#757575;
}
.navbar-default .navbar-nav > li > a {
	padding-left:5px;
	padding-right:5px;
	color:#757575;
	font-family: GillSansMTStd-Book;
	font-size:15px;
}
@media (min-width: 768px) {
	.navbar-nav > li > a {
    	padding-top: 32px;
    }
	.navbar-collapse{
 		padding-right:15px;
	}
	.navbar-default .navbar-nav > li > a {
		margin-left:13px;
	}
}
@media (min-width: 992px) {
	.navbar-default {
		padding-top:10px;
	}
}
.nav > li > a:hover, .nav > li > a:focus{	
	background:none;
	color:#bbbbbb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #000;
    border-bottom:2px solid #000;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
    font-family: GillSansMTStd-Book;
}
.navbar-collapse{	
	border-top: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #888;
}

/* still needs to be evaluated */
/* ---- sub navs ---- */
.nav-pills li a, .nav-pills li, .nav-pills, .nav-pills li.active, .nav-pills li.active a{
	padding-top:0px !important;
	margin-top:0px !important;
}
.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:active, .nav-pills > li > a:visited, .nav-pills > li > a:focus{
	font-size:13px;
	border-radius:0;
}
.nav-pills > li > a {
	padding-right:10px; 
	padding-left:0px;
	/*padding-top:10px;*/
	padding-bottom:0px;
	color:#757575;
}	
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background:none;
	color:#000;
}
.nav-pills > li{
	padding-bottom:10px;
}
.nav-pills {
	/*padding-top:15px;*/
	margin-top:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:0px;
}
.topsubnav  {
	display:none;
}  
@media (min-width: 768px) {
	.topsubnav {display:block;}
}	
.subnav {
	display:none;
} 

@media (min-width: 768px) {
	.subnav {
		display:inline;
	}
}	
.subnav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.subnav ul li{
	list-style-type:none;
	margin:0;
	padding:0 0 10px 0;
}	
.subnav a:link, .subnav a:visited {
	color:#757575;
	text-decoration: none;
}
.subnav a:hover {
	color:#000; 	/*border-bottom: 1px dotted #999;*/
}
.subnav a:active {
	color:#5A8042;
}
.subnav ul li.active a{
	color:#000;
}
.subnav {
	margin-top:28px;
}
.subnavOffset{
	margin-top:28px;
}
.subnav H5, .subnav H1{
	font-size:22px;
	margin:0px 0px 15px 0px;
	font-family: GillSansMTStd-Book, Helvetica, Arial, sans-serif;
	font-weight:normal;
	line-height: 1.1em;
}



.btmsubnav ul {list-style-type:none;
	margin:0;
	padding:15px 0 0 15px;
	border-top:1px solid #000;
	font-size:15px;
}

.btmsubnav ul li{list-style-type:none;
	margin:0;
	padding:0 0 10px 0;
}	
.btmsubnav a:link, .btmsubnav a:visited {
	color:#666;
	text-decoration: none;
}
.btmsubnav a:hover {
	color:#000; 	
}
.btmsubnav a:active {
	color:#5A8042;
}	

.btmsubnav {
	margin-top:15px;
	}
	
@media (min-width: 768px) {
	.btmsubnav {display:none;}
	
	}














/* date on home page and exhibitions */
.date{
	font-family: GillSansMTStd-Medium, Helvetica, Arial, sans-serif; 
	color:#000;
	margin-bottom:5px;
	font-size:16px;
	font-weight:normal;
	line-height: 135%;
	text-transform: none;
	margin-top:10px;
}
.exhibition .date{
	margin-bottom: 30px;
}

/* ------ Front page ----------- */
.front h1{
	padding-top:15px;
}
.front h2{
	font-size:30px;
}

.frontSlide img{
	height:auto;
	width:100%;
}
@media (min-width: 1200px) {
	.frontSlide img{
		height:auto;
		width:990px;
	}
}
.front .hpEvent{
	margin:40px 0px 0px 0px;
	border-top: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	padding:40px 0px 0px 0px;
}
.front .hpEvent img{
	width:100%;
	height:auto;
}
.front .hpEvent h1, .front .hpEvent h1 a{
	font-size: 30px;
	padding-top:0px;
	color:#000;
	text-decoration:none;
}
.front .hpEvent .col-xs-12{
	margin-bottom:40px;
}
.front .hpSpace{
	height:80px;
}
.hp_announcement{
	padding:20px;
	background-color:#f4f4f4;
	margin-bottom:30px;
	font-size:20px;
	color:#000;
	font-family: GillSansMTStd-Light, Helvetica, Arial, sans-serif;
}
.announcementTitle{
	font-size:24px;
	font-weight:bold;
	padding-bottom:15px;
	color:#000;
	font-family: GillSansMTStd-Light, Helvetica, Arial, sans-serif;
}
/* ------ Details -------------- */
.jcarousel-control-prev{
	left:0px !important;
	bottom:45px !important;
	top:auto !important;
}
.jcarousel-control-next{
	right:0px !important;
	bottom:45px !important;
	top:auto !important;
}
.detail.ca_occurrences .jcarousel-wrapper, .detail.ca_entities .jcarousel-wrapper{
	margin-top: 30px;
}
.detail.ca_occurrences .jcarousel-control-prev, .detail.ca_entities .jcarousel-control-prev{
	left:0px !important;
	top:-30px !important;
	bottom:auto !important;
}
.detail.ca_occurrences .jcarousel-control-next, .detail.ca_entities .jcarousel-control-next{
	right:0px !important;
	top:-30px !important;
	bottom:auto !important;
}

.jcarousel-control-next{
	right:0px !important;
	bottom:45px !important;
	top:auto !important;
}
.jcarousel-control-prev, .jcarousel-control-next{
	background-color:#FFF;
	border:0px;
	color: #757575;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
}
a.jcarousel-control-prev, a.jcarousel-control-next{
	color: #b1b1b1;
	border:0px;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
}
#imageNav{
	border-top: 1px solid #b1b1b1;
	padding-top:5px;
	text-align:right;
	font-weight: normal;
	color: #757575;
	margin-top:-10px;
}
#imageNav a{
	color: #757575;
	text-decoration:none;
	font-size:13px;
	font-weight: normal;
}
#imageNav a.active{
	color:#000;
}
.gridImg{
	margin-bottom:20px;
}
.gridImg img{
	width:100%;
	height:auto;
}
#pageArea.artist h2{
	font-size:20px;
	text-transform: none;
	margin: 0px;
}
#pageArea.artist h2 a{
	font-size:24px;
	font-family: GillSansMTStd-Book;
}
#pageArea.artist h3{
	font-size:20px;
	font-family: GillSansMTStd-Light, Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #666;
	padding: 0px;
	margin: 0px;
	text-transform:none;
}
#pageArea.catalog h2{
	font-size:16px;
	text-transform: none;
	margin: 0px;
}
#pageArea.catalog h2 a{
	font-size:18px;
	font-family: GillSansMTStd-Book;
}
#pageArea.catalog h4{
	font-size:14px;
}
/* ------ Artist, fair, pub list ---------- */
@media (min-width: 992px) {
	.artistList .row, .fairList .row, .pubList .row, .insituList .row {
	  margin-right: -30px;
	  margin-left: -30px;
	}
	.artistList .col-sm-4, .fairList .col-sm-3, .pubList .col-sm-3, .insituList .col-sm-4{
	  padding-right: 30px;
	  padding-left: 30px;
	}
}
.artistListing h1 a:link, .artistListing h1 a:visited, .artistListing h2 a:link, .artistListing h2 a:visited{
	color:#000;
	font-size:20px;
}
.pubListing h1, .pubListing h1 a:link, .pubListing h1 a:visited, .fairListing h2, .fairListing h2 a:link, .fairListing h2 a:visited{
	color:#4d4d4d;
	font-size:13px;
	line-height:1.2em;
	margin-top:5px;
	height: 3.6em;
}
.insituList {
	margin-top:10px;
}
.insituListing h2, .insituListing h2 a:link, .insituListing h2 a:visited{
	color:#000000;
	font-size:16px;
	line-height:1.2em;
	margin-top:5px;
	height: 3.6em;
}
.pubListing .pubListingImg img{
	border:1px solid #ededed;
	padding:3px;
	width:100%;
	height:auto;
}
.catalog h1{
	font-size: 14px;
	font-family: GillSansMTStd-Medium, Helvetica, Arial, sans-serif;
	color: #000;
	margin: 0px;
	padding:0px;
	font-weight: normal;
	line-height: 1.1em;
}
.fairListing .fairListingImg img{
	padding:3px;
	width:100%;
	height:auto;
}
.pubListing .pubListingImg, .fairListing .fairListingImg{
	display:table-cell;
	vertical-align:middle;
}
@media (min-width: 768px) {
	.pubListing .pubListingImg, .fairListing .fairListingImg{
		height:205px;
	}
}
@media (min-width: 992px) {
	.pubListing .pubListingImg, .fairListing .fairListingImg{
		height:250px;
	}
}
.artistListing img, .insituListing img{
	width:100%;
	max-width:300px;
	height:auto;
}
.artistListing, .fairListing, .pubListing, .insituListing{
	margin:10px 0px 40px 0px;
}
.fairListing {
	margin:10px 0px 40px 0px;
}
@media (min-width: 768px) {
	.fairListing {
	margin:10px 0px 0px 0px;
}
}

/* -------Exhibition Styles --------*/
.exhibition h4{
	margin-top:10px;
	margin-bottom:30px;
}
.exhibitionListing img{
	width:100%;
	max-width:300px;
	height:auto;
}
.exhibitionListing{
	margin-bottom:20px;
}
.exhibitionListing H1 a:link, .exhibitionListing H1 a:visited{
	color:#000;
}
.exhibitionListing H1{
	font-size:16px;
	font-style:italic;
}
.exhibitionListing H1 strong{
	font-size:20px;
}
.yearTab{
	display:none;
}
.exhibitArtists{
	font-weight:bold;
}

/* ------About pages ---------- */
.aboutPages{
	margin-top:30px;
}
.aboutPages h1{
	font-size:22px;
	line-height:1em;
	margin:0px 0px 15px 0px;
	font-family: GillSansMTStd-Book, Helvetica, Arial, sans-serif;
	color: #000;
	text-transform: none;
}
.aboutPages .thumbnail{
	padding-top:40px;
}
/* ------Footer Styles -------- */
.footer {
	font-size:12px;
	line-height:130%;
	text-transform:uppercase;
	color:#4d4d4d;
	padding-top:60px;
	padding-bottom:30px;
}
.footernav, .footerSocialNav{
	display:none;
	line-height:2em;
}
@media (min-width: 993px) {
	.footernavphone{
		display:none;
	}
}	

@media (min-width: 993px) {
	.footernav{
		display:inline;
	}
	.footerSocialNav{
		display:block;
	}
}	
.socialicon, .socialiconDibs{
	padding-left:2px;
}
.socialright{
	text-align:right;
}
.socialleft{
	text-align:left;
	padding-top:10px;
}
.socialicon img{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.socialicon.darker img{
	opacity:1;
	filter:alpha(opacity=1); /* For IE8 and earlier */
}
a.footerButton{
	background-color:#757575;
	color:#FFF !important;
	padding:4px 6px 4px 6px;
	font-weight:bold;
}
a.footerButton:hover{
	text-decoration:none;
	background-color:#979696;
}
@media (max-width: 992px) {
	.socialicon img, .socialiconDibs img{
		width:22px;
		height:22px;
		margin-right:8px;
	}
}
@media (min-width: 993px) {
	.socialicon img, .socialiconDibs img{
		width:18px;
		height:18px;

		position: relative;
		top: -1px;
	}
}
/* Newsletter signup */
#mc_embed_signup{
	background:#fff; 
	clear:left; 
	font:11px GillSansMTStd-Light, Helvetica, Arial, sans-serif;
	color: #4D4D4D;
}
#mc_embed_signup label{
	font-weight:bold !important;
}
#mc_embed_signup input{
	border: 1px solid #CCC !important;
}
#mc_embed_signup form{
	padding-left:0px !important;
	margin-left:0px !important;
}
#mc_embed_signup .mc-field-group{
	width:100% !Important;
}
#mc-embedded-subscribe{
	margin-left:0px !Important;
}

.detail .repViewerCont img{
	width:100%;
	height:auto;
	max-height: 1000px !important;
    object-fit: contain;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn-default, a.btn-default {
    background:none;
    border-color: #CCCCCC;
    color:#666;
    text-shadow: 0 0px 0 #FFFFFF;
     font-size: 11px;
    text-transform: uppercase;
    padding:3px 5px;
    box-shadow: 0 0px 0 rgba(255, 255, 255, 0.15) inset, 0 0px 0px rgba(0, 0, 0, 0.075);
}

a.btn-default:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
  text-decoration:none;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.pubListing h2 { height:3.6em; overflow:hidden }

.artinsitu h1{
	font-size:24px
}
.artinsitu h2{
	font-size:16px
}
.artinsitu h2 a{
	font-size:18px
}