@page { margin: 150px 66px; }
#header { left: 0px; top: 0px; right: 0px; height: 55px;  text-align: center; vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; }
#footer { position: fixed; left: 0px; bottom: -50px; right: 0px; height: 20px; text-align: center; vertical-align: bottom; margin: 0px 5px 10px 5px; padding: 3px 5px 2px 10px; }
#header .pagingText:after { content: counter(page, decimal); }
#body { z-index: 30000; position: relative; }

img.headerImg {width:500px;}
.headerText { font-family: "helvetica, sans-serif"; font-size: 10px; margin: 0px 0px 10px 25px; }
.pagingText { position: absolute; top: 0px; right: 10px; font-family: "helvetica, sans-serif"; font-size: 11px; text-align: right;  margin: 0px 0px 10px 25px; }

table.footerText { width: 100%; }
td.footerText { font-family: "helvetica, sans-serif"; font-size: 11px; text-align: center; color: #737373;}  
span.footerText { font-family: "helvetica, sans-serif"; font-size: 11px; margin-left: 45px; } 

.thumbnail { font-family: "helvetica, sans-serif"; font-size: 11px; border: 1px solid #ccc; width: 200px; height: 210px; position: absolute; text-align: center; margin: 0px 10px 10px 0px; padding: 3px; overflow: hidden; border-radius:4px;}	
.imgThumb {width:194px; height:170px;}
.caption {font-size:11px; color:#333; display:block;}

.row { text-align:center; font-family: "helvetica, sans-serif"; font-size: 11px; width: 100%; height: auto; margin: 10px 0 10px 0; padding: 3px 0px 5px 0px; overflow: hidden}	
.row.checklistRow{
	padding-left:10%;
	padding-right:10%;
}
.imageTiny { width: 120px; margin: 0 5px 0 0; border-radius: 5px; text-align:center;}
.imageTinyPlaceholder { width: 120px; height: 100px; border: 1px solid #eee; background-color: #eee; margin: 0 5px 0 0; border-radius: 5px;}
.displayHeader { color:#666; font-weight:bold;}
.displayValue {}
.title {font-weight:bold; font-size: 14px; }
.metadata {line-height:1.1em;}
.metaBlock {margin-left:0px; height:auto; width:120mm; }

.pageBreak { page-break-before: always; }
.clear { clear: both; line-height: 5px; }

.checklistImage{
	text-align:center;
	margin: 5px 20px 0 0;
}
.checklistImage img{
	width:120px;
	height:auto;
}
.checklistTombstone{
	text-align:left;
	font: "helvetica, sans-serif";
	font-size: 14px;
	line-height:1.4em;
}
.thumbnailRow{
	margin: 10px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
}
.thumbnailTombstone{
	text-align:center;
	font: "helvetica, sans-serif";
	font-size: 13px;
	line-height:1.2em;
}
.thumbnailImage{
	text-align:center;
	margin: 0px 0px 5px 0px;
}
.thumbnailImage img{
	width:auto;
	height:225px;
}
.thumbnailPlaceholder { width: 223px; height: 223px; border: 1px solid #eee; background-color: #eee; margin: 0px auto 5px auto; border-radius: 5px;}

.fullpageRepresentationList{
	margin-top:90px;
	text-align: center;
}
.fullpageTombstone{
	text-align:center;
	margin-top:35px;
	font: "helvetica, sans-serif";
	font-size: 16px;
	line-height:1.4em;
}
