/* GLOBAL */
body{
	margin-bottom:120px;
}
.container {
  max-width: 1280px;
}
HR {
  border-color: #1c3e47;
  border-width: 4px;
}
H1 {
  color: #1c3e47;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
H2 {
  font-family: 'Oswald', sans-serif, 
  text-transform: uppercase;
  font-weight: 300;
  color: #1c3e47;
  font-size: 20pt;
}
H4 {
  color: #498191;
  font-family: 'Oswald';
  font-weight: 300;
}
H5 {
  color: #1c3e47;
}
H6 {
  color: #1c3e47;
}
a {
color: #1c3e47;
}
a:hover {
color: #6FB7C3;
} 
.btn-default {
  background-color: #6FB7C3;
}
.btn-default:hover {
  background-color:#89c673;
  text-decoration: none !important;
}
.gallery a:hover {
	text-decoration: none !important;
}
.browse .btn, .sets .btn {
    background-color: #6FB7C3;
    }
   .browse .btn:hover, .sets .btn:hover {
    background-color:#89c673;
  text-decoration: none !important;
    } 
    
/* HEADER */
.navLogo img{
  width:100%;
  height:auto;
}
.navLogo {
  margin-left:-15px;
  margin-right:-15px;
}
.navbar > .container > .navbar-brand {
  width: 100%;
  max-width: 1500px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.navbar {
  box-shadow: 0 3px 0px rgba(3, 88, 117, 0.3)
}
#user-navbar .glyphicon{
  color: #6FB7C3;
}
.browse .btn {
	background-color: #6FB7C3;
}
#appalshop {	
	height: 34px;
}
#appalshop span {	
	margin-bottom: 5px;
	margin-top: 0px;
	color: #ccc;
}
#bs-main-navbar-collapse-1 {
	overflow-x: hidden;
}
.navbar-toggle .icon-bar {
    width: 20px;
}
#bars {
margin-right: 5px;
}
#nav-external {
  background-color: #1c3e47;
}
#nav-external li a {
  font-size: 11pt;
  font-weight: 400;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
}
.form-control {
font-size: 12pt;
}
#nav-external li a:hover {
  color: #cccccc;
  background-color: #1c3e47;
}
#nav-external .open > a {
  color: #cccccc;
  background-color: #1c3e47;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0px !important;
}
.navbar-nav {
  padding-left: 10px;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14pt;
}


#menuItems li a {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14pt;
  color: #1c3e47 !important;
}

.navbar-collapse.in {
	width: 100%;
	margin-left: 10px;
}
#menuItems li a:hover {
  color: #6FB7C3 !important;
}


#user-navbar ul li a {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 13pt;
}
.dropdown-menu {
  min-width: 200px;
  background-color: #1c3e47;
}
.dropdown-menu a {
  font-family: 'Oswald', sans-serif;
}
#user-navbar .dropdown-menu {
  background-color: #fff;}
.yamm .dropdown {
  position: relative;
}
.yamm .submenu {
  left: 0;
  right: 0;
}
.yamm .nav.navbar-right .submenu {
  left: 0;
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.donateButton {
  border: solid 2px;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-color: #E0A421;
  background-color: #E0A421;
  color: #ffffff;
}
.donateButton:hover {
  border: solid 2px;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-color: #6FB7C3;
  background-color: #6FB7C3;
  color: #ffffff;
}

/* FOOTER */
#footer {
  max-width: 1280px;
  margin-left: -15px;
  border-top: 3px solid rgba(3, 88, 117, 0.3);
}
#footer a {
	color: #333;
}
.footInfo {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
  color: #454545;
  font-size: 11pt;
}
 
/* FRONTPAGE */

.front H1 {
  color: #1c3e47;
  font-family: 'LatoLight', sans-serif;
  font-weight: 200;
  font-size: 14pt;
}
.front H2 {
  font-family: 'Francois One', sans-serif;
  text-align: center;
  color: #6FB7C3;
}
.front .mainSlide .loading{
	padding-top:100px;
	padding-bottom:100px;
	text-align:center;
	color:#FFF;
	font-size:16px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
}
.front .jcarousel-wrapper{
	margin-top:0px;
}
.front .frontSlide{
	background-color:#1c3e47;
}
.front .frontSlide a{
	color:#FFF;
}
.front .frontSlide img{
    display: block;
  margin-left: auto;
  margin-right: auto;
	max-height: 420px;
	float: none;
}	
.front div.slideTextRight{
	margin-top:30px;
	margin-left: 5px;
}
@media (min-width:1100px){
	.front div.slideTextRight{
	margin-top:60px;
    margin-left: 5px;
	}
}
.front div.slideTextLeft{
	margin-top:20px;
	margin-left:35px;
	margin-right:10px;
}
@media (min-width:992px){
	.front div.slideTextLeft{
		margin-top:50px;
		margin-left:65px;
		margin-right:40px;
	}
}
.front .frontSlide h2{
	color:#FFF;
	text-transform: capitalize;
	font-size:24px;
	margin-bottom:10px;
	margin-left:0px;
}
@media (min-width:992px){
	.front .frontSlide h2{
		font-size:30px;
		margin-bottom:20px;
	}
}
@media (min-width:1200px){
	.front .frontSlide h2{
		font-size:36px;
		margin-bottom:4;
	}
}
.front .frontSlide p{
	color:#FFF;
	font-size:12px;
	line-height:1.4em;
}
.front .frontSlide p a {
  text-decoration: none;
}
@media (min-width:992px){
	.front .frontSlide p{
		font-size:16px;
	}
}
.frontSlide .text-center{
	margin-top:10px;
}
@media (min-width:768px){
	.frontSlide .text-center{
		margin-top:20px;
	}
	.frontSlide .div.slideTextRight {
        margin-top: 5px;
    }
}
.front .jcarousel-pagination a.active {
  background: #1c3e47;
  color: #1c3e47;
  border: 1px solid #1c3e47;
}
.front .jcarousel-pagination a {
  border: 1px solid #1c3e47;
}
.front .mainSlideThumbs {
	margin-top:0px;
	padding: 5px;	
}
.front .mainSlideShow {
	box-shadow: 2px 2px 2px 1px #cccccc;
}
.front .mainSlideThumbs img{
	width:150%;
	height:auto;
}
@media (max-width: 968px) {
    .front .mainSlideThumbs img {
	width:50%;
	height:auto;
	}
}
@media (max-width: 568px) {
    .front .mainSlideThumbs {
	display: none !important;
	}
}

.front .mainSlideThumbs img {
	border:2px solid transparent;
}
.front .mainSlideThumbs .mainSlideActive img {
	border:2px solid #6FB7C3;
}
.three-items {
 padding-top: 20px;
 padding-bottom: 20px;
} 
.front .specialProjects H2 {
  color: #1c3e47;
  padding-bottom: 10px;
  }
.front .specialProjects {
  box-shadow: 2px 2px 2px 2px #cccccc;
  border-top: 5px solid #E0A421;
  min-height: 300px;
  max-height: 455px;
  overflow: auto;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}  
.front .nav-pills > li > a {
  color: #1c3e47;
  padding: 5px;
  font-family: 'LatoLight', sans-serif;
  font-weight: 200;
  font-size: 14pt;
}
.front .nav-pills > li > a:hover {
  text-transform: none;
  font-weight: 300; 
  color: #6FB7C3;
}
.front .news H2 {
  color: #1c3e47;
  padding-bottom: 10px;
}
.front .news {
  box-shadow: 2px 2px 2px 2px #cccccc;
  border-top: 5px solid #6FB7C3;
  min-height: 300px;
  max-height: 455px;
  overflow: auto;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
.front .news-item-title {
  padding:5px;
  margin-bottom: 5px;
  color: #1c3e47;
  background-color: #f5f5f5;
  display: block;
  font-family: 'LatoLight', sans-serif;
  font-weight: 200;
  font-size: 14pt;
}
.front .news p {
  margin-left: 5px;
}
.front .news-item-title a {
  color: #1c3e47;
}
.front .news-item-title a:hover {
  color: #6FB7C3;
  text-decoration: none;
}
.front .frontGrid h2 {
  color: #1c3e47;
  padding-bottom: 5px;
}
.front .frontGrid {
  box-shadow: 2px 2px 2px 2px #cccccc;
  border-top: 5px solid #89c673;
  min-height: 300px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
.frontGrid img {
  padding-top: 10px;
  padding-bottom: 10px;
}
.frontGridCaption{
  position:absolute;
  background-color:rgba(28, 62, 71, 0.5);
  padding:0px;
  color:#FFF;
  bottom:0px;
  width:100%;
  z-index:100;
  font-weight:bold;
  opacity:0;
	-webkit-transition: all 250ms ease-out;  
        -moz-transition: all 250ms ease-out;  
        -o-transition: all 250ms ease-out;  
        -ms-transition: all 250ms ease-out;  
        transition: all 250ms ease-out;  
}
.gridImage:hover .frontGridCaption{
  opacity:1;
  position:absolute;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color:rgba(28, 62, 71, 0.8);
  bottom:35px;
  width:82%;
  font-size: 10pt;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.frontGridCaption a{
  color:#FFF;
  text-decoration: none;
  padding-left: 2px;
} 

/* .frontSpotlight {
  width: 90%;
}
.frontSpotlight .frontSlide  {
  background-color: #FFFFFF;
  max-width: 300px;
}
.frontSpotlight .slideTextRight a {
  color: #000000;
  text-decoration: none;
}
.frontSpotlight .slideTextRight a:hover {
  color: #6FB7C3;
}
.frontSpotlight .slideTextRight {
  margin-top: 5px !important;
  margin-right: 5px !important;
  text-align: center;
}
.frontSpotlight .frontSlide img {
  height: 200px;
  width: auto;
}
.spotlightRow {
  margin-top: 20px;
  margin-bottom: 20px;
}
.spotlightRow H2 {
  font-family: 'Francois One', sans-serif;
  color: #FFF;
  background-color: #1c3e47;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
.frontSpotlight ul li {
  text-align: center;
} */

/* OBJECT DETAIL */

.navLeftRight {
  padding-top: 50px;
}
.detail {
  color: #000000;
  font-size: 12pt;
}
.detail a {
  color: #6FB7C3;
}
.detail a:hover {
  color: #6FB7C3;
  text-decoration: none;
}
.detail h4 {
  font-family: 'LatoLight', sans-serif;
  }
.detail h6 a {
  color: #6FB7C3;
}
.detail h6 {
  margin-top:25px;
}
.video-js{
	text-align:center;
}
.detail .repViewerCont img.vjs-poster{
	height:100%;
	width:auto;
}
.detail #detailAnnotations .detailAnnotationList {
	max-height: 400px;
}
.detail .relObjectThumb{
	padding-bottom:5px;
}
.detail .relObjectThumb img{
	width:100%;
	height:auto;
}
.detail .relObjectLabel{
	height:3.3em;
	line-height:1.1em;
	font-size:13px;
}
.detail .relObjectThumb img{
	max-width:250px;
}
/* BROWSE */

#bRefine {
  background-color: #ffffff;
  padding-bottom: 20px;
}

#bRefine a {
  font-size: 11pt;
}
.bResultItem .bResultItemText {
  font-size: 12pt;
}
.bResultItem .bResultItemText a {
  color: #1c3e47;
}
.bResultItem .bResultItemText small, .bResultItem .bResultItemText small a {
 color: #666;
}
.bResultListItem .bResultListItemText small, .bResultListItem .bResultListItemText small a {
    color: #333; 
}
.larger {
	font-size: 13pt;
	font-weight: 600;
}
.listcollection {
  font-size: 11pt;
  font-weight: 600;
  text-transform: capitalize;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lbItemContent small {
	font-size: 10pt;
	margin-bottom: 15px;
}
.lbItem a, .lbSet a {
line-height: 1.2;
color: #1c3e47;
font-size: 12pt;
}
.lbSet h5 {
height: 3em;
}
.lbItem a:hover, .lbSet a:hover {
  color: #6FB7C3;
  text-decoration: none;
}
.bResultItem .bResultItemText a:hover {
  color: #6FB7C3;
  text-decoration: none;
}
.bResultListItem .bResultListItemText {
  font-size: 12pt;
}

.bResultListItem .bResultListItemText a {
 color: #1c3e47;
}
.bResultListItem .bResultListItemText a:hover {
 color: #6FB7C3;
  text-decoration: none;
}
.bResultListCollection a{
padding-top: 3px;
font-size: 12pt;
}
.btn-group > .dropdown-menu {
  background-color: #fff;
}
.btn-group > .dropdown-menu li a{
   font-family: 'LatoLight', sans-serif;
}
.bResultListItemCol {
    height: auto;
    margin-bottom: 20px;
}
.bResultListItemContent{
	height:auto;
}
.bResultListItem, .bResultListItem:hover{
	padding:10px;
	margin:0px;
	height:auto;
	font-size: 12pt;
}
.bResultListItem .bResultListItemImg{
	overflow:visible;
}
.bResultListItem .bResultListItemImg{
	margin-right:10px;
}
.bResultListItemImg {
	padding-top: 10px;
}
.bResultLightbox{
	text-align:right;
}
.bResultListDesc{
	padding-top:10px;
	font-size: 11pt;
	color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bResultListCollection{
	padding-top:10px;
	font-size: 10pt;
}
/* COLLECTIONS INDEX */
.collectionTile .title a {
  font-family: 'Francois One', sans-serif;
  font-size: 18pt;
  color: #1c3e47;
}
.collectionTile .title a:hover {
  color: #6FB7C3;
}
.collectionTile {
  min-height: 115px;}

.collectionTile img {
  float: left;
  height: 100px;
  width: auto;
  padding-bottom: 15px;
  padding-right: 10px;
}

/* COLLECTION DETAILS*/
#collectionLoad {
  height: 300px;
}
.collections-detail h2 {
  font-family: 'Francois One', sans-serif;
}
.collections-detail h6 {
  color: #1c3e47;
}
#collectionHierarchy{
	margin-top:15px;
}

/* GALLERY SPECIAL PROJECTS INDEX */
.gallery #gallerySetInfo H4 a {
  font-family: 'Francois One', sans-serif;
  font-size: 18pt !important;
  color: #1c3e47;
  text-transform: capitalize !important;
  text-decoration: none;
}
.gallery H5  {
  font-family: 'Francois One', sans-serif;
  color: #1c3e47;
  font-size: 12pt;
  text-transform: capitalize !important;
  text-decoration: none;
}
.gallery #gallerySetInfo a {
  font-family: 'Oswald', sans-serif;
  font-size: 18pt;
  color: #1c3e47;
}
.gallery #gallerySetInfo a:hover {
  color: #6FB7C3;
  text-decoration: none
}
 
/* GALLERY SPECIAL PROJECTS DETAIL */
.gallery #galleryDetailObjectInfo h4  {
  font-family: 'LatoLight', sans-serif;
  text-transform: capitalize;
  color: #6FB7C3;
}
.gallery #galleryDetailObjectInfo p {
  color: #000000;
  font-size: 12pt;
}
.gallery #galleryDetailObjectInfo p a {
  color: #6FB7C3;
  text-decoration: none;
}
.setDescription p {
  color: #000000;
  font-size: 12pt;
  }
  
/* SEARCH RESULTS */

.objects .multisearchResult a {
  font-size: 10pt;
  color: #1c3e47;
  line-height: 1.1;
}
.objects .multisearchResult a:hover {
  color: #6FB7C3;
  text-decoration: none;
}
.multisearch H3 a, .multisearch H3 {
  color: #6FB7C3;
}
.multisearch H3 a:hover {
  color: #19bed1;
}
.multisearch .multisearchResult a {
  font-size: 10pt;
  color: #1c3e47;
  line-height: 1.1;
}
.multisearch .multisearchResult a:hover {
  color: #6FB7C3;
  text-decoration: none;
}


.sets H1 {
margin-bottom: 10px; 
}
.sets .glyphicon-cog {
	margin-bottom: 10px;
}
