<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<h1>{{{title}}}</h1>
		<h3>{{{subtitle}}}</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<div class="bodytext">
			{{{bodytext}}}
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="contactInfo">
			{{{contactinfo}}}
		</div>
	</div>
</div>
