form{
	display:inline;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #666666;
	background-color:#FFFFFF;
	margin: 0px 0px 20px 0px;
	padding:0px;
}

/* ------------------------------------- */
/* general styles */
/* ------------------------------------- */

p, div{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	line-height:1.3em;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #666666;
	margin:0px 0px 10px 0px;
	line-height:1.2em;
	font-weight:normal;
}
h2{
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	color: #666666;
	margin:0px 0px 3px 0px;
	line-height:1.1em;
}
h3{
	font-family: Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #666666;
	margin:0px 0px 3px 0px;
	line-height:1.1em;
}
h3 a{
	tet-decoration:none;
}
a{
	text-decoration:underline;
	color: #666666;
}
a:hover{
	text-decoration:underline;
	color: #999999;
}
.formErrors{
	color: #CA1919;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.message{
	color: #CA1919;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
	padding:5px;
	background-color: #E2E2E2;
}
.notificationMessage{
	color: #CA1919;
	font-size:14px;
	font-weight:bold;
	margin:10px 0px 10px 0px;
	padding:5px;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right: auto;
	width: 890px;
}
.divide{
	height:3px;
	background-color:#E2E2E2;
	margin: 2px 0px 2px 0px;
}
.bg {
	background-color: #F5F5F5;
	border: 1px solid #E2E2E2;
	padding:10px;
}
.caption{
	font-size:11px;
	text-align:left;
}
a.caption{
	font-size:11px;
	color: #999999;
	text-decoration:underline;
}
a.caption:hover{
	color: #666666;
}


/* ------------------------------------- */
/* page structure */
/* ------------------------------------- */
#pageArea{
	width:890px;
	margin: 0px auto 0px auto;
	background-color:#FFFFFF;
	padding:0px;
}
/*#topBar{
	width:920px;
	margin: 0px auto 0px auto;
	text-align:right;
	padding:3px 0px 3px 0px;
}
#topBar a{
	padding-left:10px;
	color:#EDEDED;
	text-decoration:none;
}
#topBar a:hover{
	color:#cccccc;
}*/
#header{
	text-align:right;
	padding:18px 3px 0px 0px;
	line-height:1.8em;
}
#header a{
	text-decoration:none;
}
#header a:hover{
	text-decoration:none;
}
#header a.subtitle{
	color:#b3b3b3;
	font-size:12px;
}
#nav{
	text-align:left;
	background-color:#FFFFFF;
	padding: 0px 0px 0px 0px;
	margin:10px 3px 5px 3px;
	line-height:1em;
}
#nav a{
	font-size:13px;
	font-weight: bold;
	color: #999999;
	text-decoration:none;
	margin: 0px 20px 0px 0px;
	line-height:1em;
	text-transform: uppercase;
}
#nav a:hover{
	color: #333333;
	text-decoration:none;
}
#nav a.currentSection{
	font-size:15px;
	color: #666666;
}
#nav #search{
	width:270px;
	float:right;
	text-align:right;
}
#nav #search input {
	font-size:10px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin:0px 10px 0px 0px;
	width:185px;
	border:1px solid #DEDEDE;
	color:#666666;
}
#nav #search input[type="text"] {
	font-size:10px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin:0px 10px 0px 0px;
	width:185px;
	border:1px solid #DEDEDE;
	color:#666666;
}
#nav #search a{
	font-size:14px;
	color: #999999;
	font-weight:normal;
	text-decoration:none;
	margin: 0px 0px 0px 0px;
	font-weight:bold;
	line-height:1em;
}
#nav #search a:hover{
	color: #333333;
	text-decoration:none;
}
#footer{
	width: 900px;
	margin: 20px auto 10px auto;
	color:#FFFFFF;
	font-size:11px;
	text-align:center;
}
/* -------------------------------------------------*/
/* "Searchlight" autocomplete search results styles */
/* -------------------------------------------------*/
div.searchlight-header{
	size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#333333;
	background-color:#E4E4E4;
	padding:3px;
}
div.searchlight-item{
	size:12px;
	color:#333333;
	padding:3px 3px 8px 3px;
	background-color:#FFFFFF;
}
div.searchlight-item a{
	size:12px;
	color:#333333;
	text-decoration:none;
}
div.searchlight-item a:hover{
	text-decoration:underline;
}
div.searchlight-results-wrapper {
    color: #333333;
    border: 1px solid #333333;
    margin: -1px;
    overflow: hidden;
}

div.searchlight-results div.searchlight-selected {
    background: #333;
    color: #fff;
}

/* -------------------------------------------------*/
/* tooltips / Rollovers */
/* -------------------------------------------------*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 3px solid #323232;
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	/*opacity: 0.9;*/
	text-align: center;
}
.tooltipImage { /* used in image rollovers in results and on detail pages */
	padding: 10px;
	text-align: center;
}

.tooltipCaption { /* used in image rollovers in results and on detail pages */
	margin-top: 10px;
	width: 360px;
	text-align: left;
}
.tooltipText{ /* used in features */
	text-align:center;
	padding:10px;
	font-size:14px;
}

/* ------------------------------------- */
/*  HOME PAGE */
/* ------------------------------------- */
#hpTopBox{
	clear:both;
	background-color:#e2e2e2;
	margin: 10px 0px 10px 0px;
	border:2px solid #c6c6c6;
}
#hpText{
	padding:15px;
	line-height:1.5em;
	color:#333333;
}
#hpText .title{
	font-size:16px;
	font-weight:bold;
	line-height:1.2em;
	color: #333333;
	margin-bottom:15px;
}
#hpText #featuredCaption{
	font-size:10px;
	margin-top:15px;
	line-height:1.1em;
	color:#666666;
	font-weight:normal;
}
#hpText #featuredCaption a{
	font-size:10px;
	color:#666666;
}
#hpFeatured{
	float:left;
	margin: 0px 15px 0px 0px;
}
.hpRss{
	clear:both;
	padding-top:5px;
}
#quickLinkItems{
	clear:both;
	margin-top: 15px;
	font-size:14px;
}

#quickLinkItems .quickLinkItem{
	float:left;
	margin: 0px 15px 0px 0px;
	width:195px;
}
#quickLinkItems .quickLinkItem .title{
	font-size:14px;
	font-weight:normal;
	color: #000000;
	margin:15px 0px 0px 0px;
	font-weight:bold;
	
}
#quickLinkItems .quickLinkItem a.more{
	font-size:11px;
	font-weight:normal;
	color: #000000;
	margin:2px 0px 0px 0px;
	text-decoration:none;
}
#quickLinkItems .quickLinkItem a.more:hover{
	color: #999999;
}
#quickLinkItems .quickLinkItem table{
	border: 1px solid #999999;
	width:100%;
	height:195px;
}
#quickLinkItems #hpBrowse{
	border: 1px solid #999999;
	padding: 5px;
	line-height:1.5em;
	font-size:12px;
	float:left;
	width:255px;
	margin:34px 0px 0px 15px;
}

/* ------------------------------------- */
/*  free text - about page, browse intro */
/* ------------------------------------- */

.textContent {
	margin: 10px 0px 15px 0px;
	font-size:12px;
	clear: both;
}

.textContent div {
	margin-bottom: 10px;
}

/* ------------------------------------- */
/* Detail pages */
/* ------------------------------------- */
#detailBody #pageNav {
	clear:both;
	background-color: #E2E2E2;
	text-align:center;
	margin: 0px 0px 15px 0px;
	padding:6px 10px 5px 10px;
	font-size:13px;
}
#detailBody #pageNav a{
	font-family: Arial, sans-serif;
	font-size:14px;
	color: #828282;
	font-weight:bold;
	text-decoration:none;
}
#detailBody #pageNav a:hover {
	color: #999999;
}
#detailBody #pageNav a img{
	vertical-align: middle;
	margin-bottom:2px;
}
#detailBody #pageNav #next{
	float:right;
	width:150px;
	text-align:right;
}
#detailBody #pageNav #previous{
	float:left;
	width:150px;
	text-align:left;
}
#detailBody #leftCol{
	float:left;
	width: 300px;
	font-size: 11px;
	text-align:left;
}
#objDetailRelObjects td.imageIcon{
	width: 72px;
	padding-bottom:10px;
}
#detailBody .unit{
	margin-bottom:7px;
}
#detailBody #description{
	margin-top:12px;
}
#detailBody #rightCol{
	width:580px;
	text-align:left;
	float:right;
}
/* for object detail page */

#detailBody #objectImageCol{
	float:left;
	width:400px;
	margin-right:25px;
}
#detailBody #objectRightCol{
	float:left;
	width: 460px;
}
#detailBody #competitionInfo{
	margin-bottom:15px;
}
#detailBody .heading {
	color: #666666;
	text-transform:uppercase;
	font-size: 12px;
	margin-top: 10px;
}
#detailBody .objectInfo{
	font-weight:bold;
	color:#333333;
	font-size: 12px;
}

#detailBody .objectInfo a{
	font-weight:bold;
	color:#333333;
	font-size: 12px;
}
#detailBody #additionalCataloging{
	clear: both;
	width:660px;
	margin:15px auto 15px auto;
}
#detailBody #additionalCataloging .col{
	float:left;
	margin-right:15px;
	width:205px;
}

/* nav bar on details with thumbnail grid */
#detailNavBar{
	background-color: #828282;
	margin:10px 0px 15px 0px;
	text-align:center;
	padding:8px 10px 5px 10px;
	height:15px;
	text-align:left;
}
#detailNavBar a {
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color: #FFFFFF;
}
#detailNavBar #next{
	float:right;
}
#detailNavBar #previous{
	float:left;
}
/* image object detail */
#objDetailImage {
	text-align:center;
}
#objDetailImageCaption{
	font-size:10px;
	text-align:center;
	color:#666666;
}
#objDetailImageNav {
	float:right;
	margin:0px 0px 15px 0px;
	font-size:11px;
	text-align:right;
}
#objDetailImageNav{
	font-size:11px;
	color: #000000;
}
#objDetailImageNav a {
	text-decoration:none;
	color: #000000;
}

/* user comment/rank form */
#objUserData #numComments{
	float:right;
	font-size:12px;
	color: #000000;
	font-weight:normal;
	text-transform: none;
}
#objUserData .comment{
	margin: 0px;
	font-size:12px;
	line-height: 1.3em;
}
#objUserData .byLine{
	margin: 4px 0px 20px 30px;
	font-size:11px;
	font-style:italic;
}
#objUserData .formLabel{
	font-weight:bold;
	margin: 10px 0px 3px 0px;
}
#objUserData input {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:574px;
}
#objUserData input[type="text"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:574px;
}
#objUserData textarea {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:574px;
}
#objUserData input[type="textarea"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:100%;
}
#objUserData form a{
	text-transform:uppercase;
	font-size:14px;
	color: #828282;
	font-weight:bold;
	text-decoration:none;
	margin: 5px 0px 0px 0px;
	padding: 0px;
}
#objUserData form a:hover{
	color: #000000;
	text-decoration:none;
}

/* ------------------------------------- */
/*  SEARCH/ BROWSE RESULTS */
/* ------------------------------------- */
#searchNavBg{
	clear:both;
	background-color: #E2E2E2;
}
.searchNav{
	text-align:center;
	margin: 0px;
	padding:6px 10px 5px 10px;
	font-size:13px;
	margin-left: auto;
	margin-right: auto;	
}
.searchNav form{
	float:left;
	text-align:left;
	width:220px;
	margin:0px;
	display:inline;
}
.searchNav form input[type="text"]{
	font-size:11px;
	font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
	border:1px solid #828282;
	padding:0px;
	margin:0px;
	font-weight:normal;
	text-align:center;
}
.searchNav .nav{
	float:right;
	text-align:right;
	width:240px;
}
.searchnav a img{
	vertical-align: middle;
	margin-bottom:2px;
}
.searchNav a{
	font-family: Arial, sans-serif;
	font-size:14px;
	color: #828282;
	font-weight:bold;
	text-decoration:none;
}
.searchNav a:hover{
	color: #999999;
}
.sectionBox{
	clear: both;
	padding-top:10px;
}
/* secondary SEARCH results */
.searchSecSpacer{
	float:left;
	width:2%;
}
.searchSec{
	float:left;
	width:49%;
	padding-top:5px;
}
.searchSecNav{
	clear:both;
	background-color: #E2E2E2;
	margin: 0px;
	padding:6px 10px 5px 10px;
	font-size:13px;
	text-align:left;
}
.searchSecNav .nav{
	float:right;
	text-align:right;
	font-weight:bold;
	font-size:14px;
}
.searchSecNav a{
	font-family: Arial, sans-serif;
	font-size:14px;
	color: #000000;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
.searchSecNav a:hover{
	color: #828282;
}
.searchSec .results{
	padding: 10px;
	line-height:1.6em;
}
.searchSec .results a{
	color:#000000;
}


/* thumbnail view  - also used in details with thumbnail grid */
.searchResultTd{
	width:122px;
	padding: 0px 0px 10px 0px;
}
.searchResultTdSpacer{
	width:10px;
}
.searchThumbBg{
	width:122px;
	position: relative;
	padding: 1px 0px 1px 0px;
	background-color:#dedede;
}
.searchThumbCaption{
	color: #000000;
	padding:3px 0px 0px 0px;
	font-size:11px;
	text-align:left;
}
.searchThumbCaption a{
	color: #000000;
	width:130px;
	padding:3px 0px 0px 0px;
	font-size:11px;
	text-decoration:none;
}
.searchThumbCaption a:hover{
	color: #999999;
}

/* full results */
.searchFullImageContainer {
	width:250px;
	margin: 10px 20px 10px 0px;
	text-align:center;
	float:left;
	position:relative;
}
.searchFullText{
	float:left;
	width:630px;
	text-align:left;
	margin: 10px 0px 0px 0px;
}
.searchFullTitle, .searchFullTitle a{
	font-size:14px;
	font-weight:bold;
	color: #000000;
	margin:0px 0px 10px 0px;
	text-decoration:none;
}
.searchFullTitle a:hover{
	text-decoration:underline;
}
.searchFullTextTitle{
	font-size:12px;
	color: #000000;
	font-weight: bold;
}
.searchFullTextTextBlock{
	margin-bottom:10px;
}


/* search options col */
#searchOptionsCol{
	clear:right;
	float:right;
	width: 270px;
	margin: 18px 0px 15px 0px;
}
#searchOptionsCol .title{
	text-transform: uppercase;
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:0px 0px 5px 0px;
	text-decoration:none;
}
#searchOptionsCol .bg{
	background-color: #F5F5F5;
	border: 1px solid #E2E2E2;
	padding:10px;
	margin-bottom:10px;
}
/* search/browse options box - horizontal show hide */
#showOptions{
	float:right;
	margin: 1px 2px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:9px;
	
}
#hideOptions{
	float:right;
	margin: 3px 0px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:12px;
	
}
#searchOptionsBox{
	clear:both;
	margin: 0px 0px 0px 0px;
	display:none;
	font-size:11px;
	color:#828282;
}
#browse #searchOptionsBox{	/* need extra space above this box in the browse */
	margin: 10px 0px 0px 0px;
}
#searchOptionsBox .col{
	float:left;
	margin-right:40px;
	color:#828282;
}
#searchOptionsBox .bg{
	background-color: #E2E2E2;
	border:0px;
	padding:10px 20px 10px 20px;
}

/* search refine controls - horizontal show hide */
#showRefine{
	float:right;
	margin: 1px 0px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:9px;
	
}
#searchRefineBox{
	clear:both;
	margin: 0px 0px 0px 0px;
	display:none;
	font-size:11px;
	color:#828282;
}
#searchRefineController .col{
	float:left;
	width:206px;
	padding:5px;
	background-color: #E2E2E2;
	margin: 0px 0px 10px 0px;
}
#searchRefineController .spacer{
	float:left;
	width:12px;
	background-color: #FFFFFF;
	margin: 0px 0px 10px 0px;
}
#searchRefineController .col a{
	color: #000000;
	text-decoration:none;
	text-transform:uppercase;
}
#searchRefineController .col a:hover{
	color: #828282;
}
#searchRefineController .col img{
	float: right;
	margin-top:5px;
}
#searchRefineParameters{
	clear:both;
	padding:5px;
	background-color: #E2E2E2;
	margin: 0px 0px 2px 0px;
}
#searchRefineParameters a{
	color: #000000;
	text-decoration:none;
}
#searchRefineParameters a:hover{
	color: #828282;
}
#searchRefineParameters .heading{
	font-style:italic;
	color: #545454;
}
#searchRefineParameters .button{
	float:right;
	margin:-2px 0px 0px 10px;
}
#searchRefineParameters .button a{
	text-transform:uppercase;
	color: #828282;
	font-size:12px;
	text-decoration:none;
	margin:0px;
	padding:0px;
	font-weight:normal;
}
#searchRefineParameters .button a:hover{
	color: #999999;
}
#searchRefineParameters a.close{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size:9px;
	text-decoration:none;
	padding:2px 2px 0px 2px;
	margin:0px 10px 0px 2px;
	background-color:#999999;
	border:1px solid #828282;
	line-height:1em;
}
#searchRefineParameters a.close:hover{
	background-color:#545454;
}

/* entity results */
#entityResults{
	margin-bottom:10px;
	size:14px;
}
#entityResults div{
	padding:5px;
}
#entityResults a{
	font-weight:bold;
	size:14px;
}
#entityResults .resultBg{
	background-color: #F2F2F2;
}

/* collection results */
#collectionResults{
	margin-bottom:10px;
	size:14px;
}
#collectionResults div{
	padding:5px;
}
#collectionResults a{
	font-weight:bold;
	size:14px;
}
#collectionResults .resultBg{
	background-color: #F2F2F2;
}


/* ------------------------------------- */
/* login register */
/* ------------------------------------- */
#loginForm{
	width:270px;
	float:right;
	line-height:1.3em;
}
#registerForm{
	float:left;
	line-height: 1.3em;
	width:600px;
}
#loginForm .bg, #registerForm .bg{
	background-color: #F5F5F5;
	border: 1px solid #E2E2E2;
	padding:10px;
	margin:0px 0px 15px 0px;
}
#loginForm div, #registerForm div{
	margin-top:15px;
}
#loginForm .button, #registerForm a.button, #resetPasswordForm a.button {
	text-transform:uppercase;
	font-size:14px;
	color: #828282;
	font-weight:bold;
	text-decoration:none;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
}
#loginForm a.button:hover, #registerForm a.button:hover, #resetPasswordForm a.button:hover{
	color: #545454;
	text-decoration:none;
}

#loginForm input, #registerForm input, #resetPasswordForm input {
	font-size:12px;
	font-weight: normal;
	padding: 4px;
	margin: 0px;
	border: 1px solid #828282;
}
#loginForm input[type="text"], #registerForm input[type="text"], #resetPasswordForm input[type="text"] {
	font-size:12px;
	font-weight: normal;
	padding: 4px;
	margin: 0px;
	border: 1px solid #828282;
}

/* ------------------------------------- */
/* Features */
/* ------------------------------------- */

/* scrolling navigation */
#hideFeatures{
	float:right;
	margin: 13px 45px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:12px;
	
}
#showFeatures{
	float:right;
	margin: 13px 0px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:12px;
	display:none;
	
}
div.scrollable { 
    /* required settings */ 
    position:relative; 
    overflow:hidden; 
    width: 815px; 
    height:180px; 
    background-color: #DEDEDE;
    float: left;
    margin: 0px 5px 15px 12px;
} 
 
/* 
    root element for scrollable items. Must be absolutely positioned 
    and it should have a extremely large width to accomodate scrollable items. 
    it's enough that you set width and height for the root element and 
    not for this element. 
*/ 
div.scrollable div.items { 
    /* this cannot be too large */ 
    width:20000em; 
    position:absolute; 
} 
 
/* 
    a single item. must be floated in horizontal scrolling. 
    typically, this element is the one that *you* will style 
    the most. 
*/ 
div.scrollable div.items div { 
    float:left; 
} 
 
/* you may want to setup some decorations to active the item */ 
div.items div.active { 
    background-color:#545454; 
}

.featuresSetTooltip{
	padding:30px;
	font-size:14px;
	width:300px;
}

.setTile {
	width: 160px;
	height: 170px;
	padding: 10px;
	text-align: center;
}

.setTileEmpty {
	width: 10px;
	padding-top: 10px;
	text-align: center;
}

.setTileImage {
	width: 160px;
	height: 160px;
	text-align: center;
}

.setTileTitle {
	color: #000000;
	font-size: 10px;
	margin-top:2px
}

.setTileScrollControl {
	padding: 5px;
	display:block;
	width:20px;
	height:30px;
	margin:70px 0px 0px 0px;
	cursor:pointer;
}

.prevPage {
	float: left;
}
.nextPage {
	float: right;
}



/* image scroller on detail page */
#featuresSlideshow {
	
}
.featuresSlideshowScrollControl {
	width: 140px;
	text-align: center;
	padding-top: 200px;
}
#featuresSlideshowScrollingViewer {
	width:598px;
	text-align:center;
	margin: 0px;
	background-color: #ededed;
	border:1px solid #828282;
}

#featuresSlideshow div #featuresSlideshowScrollingViewerContainer {
	position: relative;
	overflow: hidden;
	width: 560px;
	height: 400px;
	margin: 19px;
	padding: 0px;
}

#featuresSlideshow div #featuresSlideshowScrollingViewerImageContainer {
	position: absolute;
	width: 560px;
	height: 400px;
	margin: 0px;
	padding: 0px;
}

#featuresSlideshow div .featuresSlideshowScrollerImage {
	position: absolute;
	margin-top: 0px;
	padding-top: 0px;
}

#featuresSlideshowScrollingViewerCounter {
	float: right;
	font-size: 12px;
	padding: 5px;
	margin:5px 5px 0px 0px;
	text-align:right;
}

/* the overlayed element */ 
.featuresOverlay { 			
     
    /* must be initially hidden */ 
    display:none; 
     
    /* place overlay on top of other elements */ 
    z-index:10000; 
     
    /* styling */ 
    background-color:#ffffff; 
    padding:20px 25px 15px 20px;
     
    width:675px;
    min-height:200px; 
    border:4px solid #000000;
    
} 
 
/* close button positioned on upper right corner */ 
.featuresOverlay .close { 
    background-image:url(../graphics/closePanel.gif); 
    position:absolute; 
    right:10px; 
    top:10px; 
    cursor:pointer; 
    height:19px; 
    width:19px; 
    background-repeat:no-repeat;
}

#featuresOverlayImage{   
	text-align:center;
}
.featuresOverlayContent {	
	font-size:11px;
	color:#333333;
	text-align:left;
	margin: 10px auto 0px auto;
}
.featuresOverlayContent div{   
	margin-bottom:10px;
}
.featuresOverlayContent a{	
	text-decoration:underline;
	font-size:11px;
	color:#333333;
}
 
.featuresOverlayContent h3 { 
    color:#aba; 
    font-size:15px; 
    margin:0 0 -10px 0; 
}

/* ------------------------------------- */
/*  FAVORITES PAGE */
/* ------------------------------------- */
.favoritesColumn{
	float:left;
	margin: 0px 0px 15px 0px;
	width:200px;
}
.favoritesSpacerColumn{
	float:left;
	width:32px;
	height:100px;
}
.favoritesColumn .title, .favoritesTextColumn .title{
	text-transform: uppercase;
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:5px 0px 5px 0px;
	text-decoration:none;
}
.favoritesColumn a.title{
	text-transform: uppercase;
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:15px 0px 5px 0px;
	text-decoration:none;
}
.favoritesColumn a.title:hover{
	color: #000000;
}
.favoritesColumn table{
	width:180px;
	height:200px;
	margin: 0px 0px 0px 0px;
}
.favoritesColumn a.more{
	text-transform: uppercase;
	font-size:14px;
	font-weight:bold;
	color: #828282;
	margin:3px 0px 0px 0px;
	text-decoration:none;
	float:right;
}
.favoritesColumn a.title:hover{
	color: #000000;
}
#featuredCol #scrollFeatured, #userFavsCol #scrollUserFavs, #mostViewedCol #scrollMostViewed, #recentlyAddedCol #scrollRecentlyAdded{
	height:600px;
	overflow:hidden;
	position:relative;
}
#featuredCol #scrollFeatured #scrollFeaturedContainer, #userFavsCol #scrollUserFavs #scrollUserFavsContainer, #mostViewedCol #scrollMostViewed #scrollMostViewedContainer, #recentlyAddedCol #scrollRecentlyAdded #scrollRecentlyAddedContainer{
	position:absolute;
}





/* --------------------------------------*/
/*  BROWSE  */
/* --------------------------------------*/

/* - vanalen specific */
.resetButton{
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px 0px 0px 20px;
	float:right;
}

#browseBreadcrumb{
	margin-bottom:10px;
}
#browseBreadcrumb .close{
	text-transform:uppercase;
	color: #828282;
	font-size:9px;
	text-decoration:none;
	padding:0px 2px 0px 2px;
	background-color:#dedede;
	line-height:1em;
}

/* - browse formatting for BUTTONS_WITH_OVERLAYS - */
div.scrollableBrowseController { 
    clear: both;
    /* required settings */ 
    position:relative; 
    overflow:hidden; 
    width: 900px; 
    height:30px; 
    background-color: #FFFFFF;
    float: left;
    margin: 0px 0px 5px 0px;
} 
 
/* 
    root element for scrollable items. Must be absolutely positioned 
    and it should have a extremely large width to accomodate scrollable items. 
    it's enough that you set width and height for the root element and 
    not for this element. 
*/ 
div.scrollableBrowseController div.items { 
    /* this cannot be too large */ 
    width:20000em; 
    position:absolute; 
} 
 
/* 
    a single item. must be floated in horizontal scrolling. 
    typically, this element is the one that *you* will style 
    the most. 
*/ 
div.scrollableBrowseController div.items div { 
    float:left; 
} 

div.scrollableBrowseScrollControl {
	padding: 0px;
	margin:0px 0px 0px 0px;
	display:block;
	width:60px;
	cursor:pointer;
	text-transform:uppercase;
	color:#828282;
	font-size:9px;
}
div.nextPage{
	text-align:right;
}
div.prevPage{
	text-align:left;
}

div.scrollableBrowseController div.items div.facetMenu {
	position: absolute;
	padding:5px;
	background-color: #DEDEDE;
	margin: 0px;
}

div.scrollableBrowseController div.items div.facetMenu a{
	color: #000000;
	text-decoration:none;
	text-transform:uppercase;
}

div.scrollableBrowseController div.items div.facetMenu a.disabled{
	color: #AAAAAA;
	text-decoration:none;
	text-transform:uppercase;
}

div.scrollableBrowseController div.items div.facetMenu a:hover{
	color: #828282;
}

div.scrollableBrowseController div.items div.facetMenu img{
	float: right;
	margin-top:5px;
}

#browseParameters{
	clear:both;
}

#browseParameters a{
	color: #000000;
	text-decoration:none;
}

#browseParameters a:hover{
	color: #828282;
}

#browseParameters .browseByCol{
	float:left;
	width:206px;
	padding:5px 5px 0px 5px;
	background-color: #DEDEDE;
	margin: 0px 0px 10px 0px;
}

#browseParameters .browseByCol img{
	float: right;
	margin-top:5px;
}
#browseParameters .browseForCol{
	padding:5px 5px 5px 0px;
	background-color: #DEDEDE;
	margin: 0px 0px 10px 0px;
}
#browseParameters .spacer{
	float:left;
	width:12px;
	background-color: #FFFFFF;
	margin: 0px 5px 0px 0px;
	padding: 6px 0px 6px 0px;
}
#browseParameters .heading{
	font-style:italic;
	color: #545454;
}
#browseParameters .browseForCol .button a{
	text-transform:uppercase;
	color: #828282;
	font-size:12px;
	text-decoration:none;
	margin:0px;
	padding:0px;
	font-weight:normal;
}
#browseParameters .browseForCol .button a:hover{
	color: #999999;
}
#browseParameters .browseForCol .button{
	float:right;
}
#browseParameters .browseForCol a.close{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size:9px;
	text-decoration:none;
	padding:2px 2px 0px 2px;
	margin:0px 10px 0px 2px;
	background-color:#999999;
	border:1px solid #828282;
	line-height:1em;
}
#browseParameters .browseForCol a.close:hover{
	background-color:#545454;
}
/* - browse formatting for HORIZONTAL_BOXES - */

#browse #browseCriteria{
	margin: 3px auto 13px auto;
}
#browse .browseBox{   /* Used in browse */
	text-align:left;
	float:left;
	width: 150px;
	padding:5px 7px 7px 7px;
	background-color: #333333;
	border:3px solid #828282;
	font-size: 12px;
	color: #FFFFFF;
	overflow:hidden;
	line-height:1.3em;
	margin-bottom:15px;
}
#browse .browseBox .heading{   /* Used in browse */
	font-size: 14px;
	font-weight:bold;
	color: #FFFFFF;
	margin-bottom:3px;
}
#browse .browsingBy{   /* Used in browse */
	font-size: 12px;
	color: #FFFFFF;
	padding-left:5px;
}
#browse .browsingBy a.close{
	text-transform:uppercase;
	color: #333333;
	font-size:9px;
	text-decoration:none;
	padding:2px 2px 0px 3px;
	margin:0px 0px 0px 5px;
	background-color:#999999;
	line-height:1em;
	font-weight:bold;
}
#browse .browsingBy a.close:hover{
	background-color:#FFFFFF;
}
#browse .browseBoxRefine{   /* Used in browse */
	text-align:left;
	float:left;
	width: 150px;
	padding:5px 7px 7px 7px;
	background-color: #FFFFFF;
	border:3px solid #828282;
	font-size: 12px;
	font-weight:normal;
	color: #333333;
	overflow:hidden;
	line-height:1.3em;
	margin-bottom:15px;
}
#browse .browseBoxRefine .heading{   /* Used in browse */
	font-size: 14px;
	font-weight:bold;
	color: #333333;
	margin-bottom:3px;
}
#browse .browseBoxRefine .browseFacetLink{
	text-transform:capitalize;
	padding-left:5px;
}
#browse .browseBoxRefine .browseFacetLink a{   /* Used in browse */
	font-size: 12px;
	color: #828282;
	text-decoration:none;
}
#browse .browseBoxRefine .browseFacetLink a:hover{   /* Used in browse */
	text-decoration:underline;
}
#browse .startOver a{   /* Used in browse */
	text-decoration:underline;
	font-size: 12px;
	font-weight:normal;
	color: #333333;
}
#browse .startOver{   /* Used in browse */
	margin-top:5px;
	font-size: 12px;
	font-weight:normal;
	color: #333333;

}
#browse .browseArrow{   /* Used in browse */
	float:left;
	padding-right:10px;
	padding-left:10px;
}
#browse .browseWith{   /* Used in browse */
	float:left;
	padding-right:10px;
	padding-left:10px;
	font-size: 14px;
	color:#333333;
	font-weight:bold;
}

#browse .browseTargetSelect {
	font-size: 11px;
	float: right;
}

#browse .browseTargetSelect select {
	font-size: 9px;
}

/* --- browse pop up panels --- */
.browseSelectPanel, #browse .browseSelectPanel {  /* used in browse and details with browse */
	position: absolute; 
	top: 100px; 
	left: 50%; 
	border: 3px solid #000000; 
	background-color: #FFFFFF; 
	width: 900px; 
	height: 400px; 
	display: none;
	margin-left: -450px;
	padding: 10px;
	background-image: url("../graphics/bgStripe.gif");
}
#browseFacetGroupingControls{ /*  used in browse and details with browse */
	float:right;
	margin: 10px 10px 0px 10px;
	color:#333333;
	text-transform:uppercase;
	font-size: 11px;
}
#browseFacetGroupingControls a{ /*  used in browse  and details with browse */
	text-decoration:none;
	color:#333333;
	text-transform:uppercase;
	font-weight:bold;
	font-size: 11px;
}
#browseFacetGroupingControls a.selected{ /*  used in browse and details with browse */
	text-decoration:underline;
	color:#333333;
	text-transform:uppercase;
	font-size: 11px;
}
.browseSelectPanel #title{ /*  used in browse and details with browse */
	font-size: 34px;
	font-weight:bold;
	text-transform:uppercase;
	color:#333333;
	line-height:1em;
	padding-bottom:5px;
}

.browseSelectPanelContentArea { /*  used in browse and details with browse */
	border: 1px solid #333333;
	background-color: #FFFFFF;
}

#browseSelectPanelHeader { /*  used in browse and details with browse */
	position: relative;
	margin: 10px;
	text-transform:uppercase;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	height: 18px;
	overflow:hidden;
	width: 635px;
}
#browseSelectPanelHeader a { /*  used in browse and details with browse */
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	padding-right:4px;
}

#browseSelectPanelHeaderContent {
	position: absolute;
}

#browseSelectPanelHeaderScrollButtons {
	float:right;
	margin: 10px 10px 0px 10px;
	color:#333333;
	font-size: 14px;
}

.browseSelectPanelList { /*  used in browse and details with browse */
	margin: 0px;
	width: 878px;
	height: 310px;
	overflow: auto;
	padding: 0px 10px 10px 10px;;
	color:#333333;
}


td.browseSelectPanelListCell { /*  used in browse and details with browse */
	padding:3px;
	width:20%;
}


table.browseSelectPanelListTable { /*  used in browse and details with browse */
	width: 100%;
}

.listDivide{ /*  used in browse and details with browse */
	height:1px;
	border-bottom: 1px #333333 solid;
}

div.browseSelectPanelListGroupHeading { /*  used in browse and details with browse */
	font-size: 34px;
	font-weight: bold;
	padding-top: 5px;
	margin-bottom: 5px;
	color:#4c4c4c;
}

a.browseSelectPanelListGroupHeading, a.browseSelectPanelListGroupHeading:hover { /*  used in browse and details with browse */
	text-decoration: none;
	color: #4c4c4c;
}

a.browseSelectPanelButton {   /*  used in browse and details with browse */
	background-image: url("../graphics/closePanel.gif");
	background-repeat:no-repeat;
	float: right;
	margin-left: 15px;
	width:19px;
	height:19px;
	text-decoration:none;
}

a.browseSelectPanelButton:hover {
	background-color: #333333;
}

a.browseSelectPanelLink { /*  used in browse and details with browse */
	font-size: 10px;
	text-decoration:none;
	font-size:11px;
	color:#4c4c4c;
}

a.browseSelectPanelLink:hover { /*  used in browse and details with browse */
	color:#999999;
}


/* overlay (for object representations) */
#caMediaPanel {
	position: fixed; 
	top: 25px; 
	left: 50%; 
	border: 4px solid #ccc; 
	background-color: #FFFFFF; 
	width: 840px; 
	height: 600px; 
	display: none;
	margin-left: -430px;
	padding: 7px;
}
#caMediaPanel #close{
	float: right;
	width:15px;
	height:15px;
	margin:0px;
	background-image:url("../graphics/x.gif");
}
#caMediaPanel #close a{
	text-decoration:none;
	font-size:15px;
}
#caMediaPanelContentArea {

}



#caMediaOverlayContent {
	margin-top: 15px;
	margin-left: 0px;
	
	text-align: center;
}
#caMediaOverlayThumbnails{
	padding: 10px 0px 0px 0px;
	text-align:center;
	height:90px;
	width:840px;
	overflow:auto;
}
#caMediaOverlayThumbnails img{
	margin:0px 1px 0px 1px;
}
#caMediaOverlayThumbnails div{
	margin:0px auto 0px auto;
}