/* fonts to change */


/* body, .detail, .gallery, label, b, strong{
	font-family: "xxx";
	font-weight:400;
}
b, strong{
	font-family: "xxx";
	font-weight:600;
}
H1, h1, h2, H2, H3, h3, H4, h4, H5, h5, #footer a.orgLink{
	color:#000;
	font-family: 'xxx';
	font-weight:600;
} */
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color:#2A8457;
}
.btn-default:hover{
	background-color:#2A8457;
}
a{
	color:#000;
}
a:hover{
	color:#2A8457;
}





.bgLightGray{
	background-color:#f2f2f2;
}
/* header */
.navbar{
	background-color: #ffffff;
}
.navbar .formOutline{
	border-radius:0px;
	background-color:#fff;
	border: 1px solid #dedede;
}
.headerAdvancedSearch{
	text-align:right;
}
.headerAdvancedSearch a{
	font-size:13px;
	color: #000;
}
.headerAdvancedSearch a:hover{
	font-size:13px;
	color: #2A8457;
}
#headerSearchButton{
	color:#000000;
}
.navbar-brand{
	width:175px;
	padding-top: 0px;
}
.navbar-brand img{
	height: 85px;
	width: auto;
}

.navbar-header .orgLinkHeader a img{
	height: 70px;
	width: auto;
}

.navbar-collapse {
	margin-top: 10px;
}

.navbar-nav{
	/* margin-top: 10px; */
}

@media (min-width:768px){
	.navbar-brand{
		width: 200px;
		padding-top: 8px;
	}
}
@media (min-width:768px){
	.navbar-nav > li > a {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.navbar-form{
		margin-top:14px;
	}
	.nav > li.dropdown > a.icon{
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
@media (max-width:767px){
	.navbar-nav{
		margin:0px;
	}
	.navbar .formOutline{
		border: 1px solid #dedede;
	}
}
@media(max-width:1010px){
	.yamm .nav.navbar-right.menuItems .dropdown-menu {
		/* left: 0;
		right: auto; */
	}
}

.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: lato;
    text-transform:uppercase;
}
.navbar-default .navbar-nav > li > a{
	color:#000000;
	letter-spacing:1px;
}

.navbar-default .navbar-nav > li > a:hover{
	color:#2A8457 !important;
	letter-spacing:1px !important;
}
.navbar-default .navbar-nav > li.active > a{
	color:#2A8457 !important;
	letter-spacing:1px !important;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:transparent;
	color:#787878; /* highlight color */
	/* underline on hover or active */
	/*text-decoration: underline;
  	text-decoration-color: #dedede;
  	text-decoration-thickness: 2px;
  	text-underline-position: under;*/
  	/* change background color on hover or active */
  	/*background-color: #f3f3f3;*/
}
.navbar-nav > li > .dropdown-menu{
	background-color:#ffffff;
	border:0px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
	margin-top: 8px;
}
.navbar-nav > li > .dropdown-menu a{
	text-transform:uppercase;
	letter-spacing:1px;
	color:#000000;
	font-family:lato;
}
.navbar-nav > li > .dropdown-menu a:hover{
	background-color:#fff;
	color: #2A8457; 
	/* highlight color */
	/* background-color on hover */
	/*background-color:#efefef;*/
	
}
/* header mobile icons navigation */
.navbar-default .navbar-toggle{
	border-color:#000;
	color:#000;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#000;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
	background-color:#FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#000;
	color:#FFF;
}
/* footer */
/* offset needed for fixed footer */
body{
	margin-bottom:300px;
}
#footer{
	background-color: #f2f2f2;
	color:#000;
	padding-top:25px;
	height: 260px;
	border:0px;
	font-size:15px;
	font-weight:normal;
	margin-top:50px;
	padding-bottom:25px;
	text-transform: none;
}
@media(max-width:480px){
	/* CHANGE - does the footer height need to change for smaller screen sizes? */
	/*#footer{
		height:430px;
	}*/
	/* CHANGE - does the footer offset need to change for smaller screen sizes? */
	/*body{
		margin-bottom:480px;
	}*/
}

#footer .footer-center{
	display: flex;
	justify-content: center;
}

#footer a{
	color:#000;
	font-weight:bold;
	font-size:16px;
	text-decoration:none;
}
#footer a.orgLink{
	/*font-family: 'Lato', serif;*/
	font-size:28px;
	color:#000;
	font-weight:400;
}
#footer .address{
	/* text-transform: uppercase; */
	font-size: 14px;
	line-height: 2;
	margin-top: 20px;
}
@media(max-width: 768px) {
	#footer .text-right{
		text-align:left;
	}
}
#footer .list-inline a{
	font-size: 14px;
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
}
#footer .social a{
	font-size: 20px;
	color:#333;
	font-size:25px;
}
#footer ul {
    margin-top: 10px;
}
#footer ul.social li {
  padding: 0px 5px 0px 5px;
}
#footer .funder{
	text-align:center;
	margin-top:25px;
}
#footer .funder img{
	width:100%;
	height:auto;
	max-width:250px;
}
#footer img{
	height: 120px;
	width: auto;
}


/* search / browse results */
.bResultItemSetLink {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
	display:none;
}
.bResultListItem .bResultItemSetLink{	
	bottom: 25px;
	right: 12px;
}
.bResultItem:hover .bResultItemSetLink, .bResultListItem:hover .bResultItemSetLink{
	display:inline-block;
}
.bResultItem:hover .bResultItemText, .bResultListItem:hover .bResultListItemText{
	padding-bottom:20px;
}
.bResultItem .bResultItemText, .bResultListItemCol .bResultListItemText{
  font-size: 12px;
}
@media(max-width:768px){
	.results .bSearchWithinContainer{
		display:none;
	}
}
.results .bSearchWithinContainer{
	clear:both;
	padding:15px 0px 15px 0px;
	text-align:center;
}
.results .btn-search-refine, .results .btn-search-refine:hover{	
	font-size: 14px;
	cursor: pointer;
	background-color: #fff;
	color:#000;
	font-size: 14px;
	line-height:1em;
	padding: 9px;
	
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border:0px;
	border-radius: 0px;
}
.bSearchWithin, .bSearchWithin:focus {
    width: 80%;
    box-shadow: none;
    border: 0px;
    border: 0px;
    border-radius: 0px;
    height: 35px;
    font-size: 14px;
    line-height: 26px;
    background-color: #FFF;
	font-size: 14px;
	display: inline-block;
	display:inline-block;
}
.browseRemoveFacet, .browseRemoveFacet .btn{
	display:block;
	width:100%;
	font-size:11px;
	margin:0px 0px 5px 0px;
}
.browseRemoveFacet .btn{
	white-space: normal;
}
.browseRemoveFacet:hover, .browseRemoveFacet .btn:hover{
	text-decoration:none;
}
a.browseRemoveFacet .glyphicon{
	color:#fff !important;
}
/* front */
html.frontContainer {
    height: 100%;
    padding:0px -15px 0px -15px;
}
body.frontContainer {
	margin-bottom:0px;
	height: 100%;
}
body.frontContainer #footer{
	position:relative !important;
}

.parallax {
	position:relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.5)), url("../graphics/lilac_house.jpg");

    /* Full height */
    height: 80vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-left: -15px;
	margin-right: -15px;
	top:-20px;
}
.parallax.hero1 {
	/* background-image: url("../graphics/lilac_house.jpg"); */
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.5)), url("../graphics/lilac_house.jpg");
}
.parallax.hero2 {
    /* background-image: url("../graphics/lilac_house.jpg"); */
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.5)), url("../graphics/X73.265_representationl.jpg");
}
.parallax.hero3 {
    /* background-image: url("../graphics/lilac_house.jpg"); */
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.5)), url("../graphics/horses.jpg");
}
.parallax.hero4 {
    /* background-image: url("../graphics/lilac_house.jpg"); */
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.5)), url("../graphics/hero4.jpg");
}
.parallax.hero5 {
    /* background-image: url("../graphics/lilac_house.jpg"); */
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.5)), url("../graphics/hero5.jpg");
}
.parallax.hero6 {
    /* background-image: url("../graphics/lilac_house.jpg"); */
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.5)), url("../graphics/hero6.jpg");
}
@media(max-width:420px), (max-height:420px){
	.front .heroSearch .form-group{
		width:300px;
	}
}
.front .heroSearch {
	position:relative;
	text-align:center;
	color:#FFF;
	margin-top: 27vh;
	padding-top:50px;
	padding-bottom:50px;
	font-size:28px;
	text-shadow: 0px 0px 3px #000000;
	background-color: #484848;
	background-color: rgb(36, 36, 36, .9);
	box-shadow:0 2px 14px 0 rgba(0,0,0,.3);
	margin-left:40px;
	margin-right:40px;
}
@media(max-width:1024px){
	.parallax .heroSearch{
		margin-top: 17vh;
	}
}
@media(max-width:768px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
@media(max-height:420px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
@media (max-device-width:1024px){
	/* ipad and mobile disable background-attachment: fixed; fallback to no parallax so at least see image */
	.parallax {
		background-attachment: scroll;
	}
}



.heroSearch H1{
	color: #FFF;
	text-align: center;
	line-height: 1.1em;
	margin:0px;
	padding:0px 15px 0px 15px;
}
.heroSearch H1 .line1, .heroSearch H1 .line3 {
    font-size: 28px;
    text-transform: none;
    font-family: latolight;
}
.heroSearch H1 .line2{
	font-size: 43px;
	font-weight: 500;
	text-transform:none;
	color:#FFF;
	padding-top:20px;
	padding-bottom:20px;
	font-family: "Lato";
}
.heroSearch .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
    margin-top:20px;
}
.front .heroSearch .formOutline{
	display: inline-block;
	background-color:#FFF;
}
.front .heroSearch .form-group {	
    width: 400px;
    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.front .heroSearch .form-control, .front .heroSearch .form-control:focus{
	border:0px;
	box-shadow:none;
	font-size:18px;
	height:44px;
}
#heroSearchButton{
	color:#000;
	font-size: 20px;
}

.heroSearch p{
	margin-top: 5px;
	font-size: 14px;
}
.heroSearch p a{
	color: #fff;
	text-decoration: underline;
}

@media(max-width: 1355px) {
	.heroSearch H1 .line1, .heroSearch H1 .line3 {
		font-size:24px;
	}
	.heroSearch H1 .line2 {
		font-size:35px;
	}
}

@media(max-width: 570px) {
	.heroSearch H1 .line1, .heroSearch H1 .line3{
		font-size:20px;
	}
	.heroSearch H1 .line2 {
		font-size:25px;
	}
	.heroSearch H1 .line2 {	
		padding-top:10px;
		padding-bottom:15px;
		line-height: 1.3em;
	}
	.front .heroSearch .form-group {
		width: 80%;
	}
}

.hpIntro .callout{
	text-align:center;
	font-size: 28px;
	color: #000;
	margin:120px 0px 150px 0px;
	font-family: "Latolight";
	font-weight:300;
	line-height:1.8em;
}
.hpIntro .calloutTitle{
	text-align:center;
	font-size: 28px;
	color: #000;
	margin-bottom:15px;
	font-family: "Lato";
	font-weight:600;
}
@media(max-width:767px){
	.hpIntro .callout{
		font-size: 20px;
	}
	.hpIntro .calloutTitle{
		font-size: 24px;
	}
}

#hpScrollBar{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: rgba(227, 230, 232, 0.3);
	color:#000;
	text-align:center;
	font-size:30px;
	padding:10px 0px 10px 0px;
	opacity:.8;
	left: 0px;
}
.front h2, .front h3{
	text-align: center;
	text-transform:capitalize;
	font-size:24px;
	padding-bottom:15px;
}
.front h2.highlights{
	padding-bottom:30px;
}
/* hp explore */
.hpExplore{
	padding-top:45px;
	margin-bottom: 45px;
}
.hpExploreBox{
	margin-bottom: 45px;
}
.hpExploreBox .hpExploreBoxImage {
	height:240px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.3);
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage1{
	background-image: url('../graphics/hero_1.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage2{
	background-image: url('../graphics/hero_1.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage3{
	background-image: url('../graphics/hero_1.jpg');
}
.hpExploreBox .hpExploreBoxDetails {
	padding: 15px 13px 22px;
	text-align:center;
}
.hpExploreBox .hpExploreBoxTitle, .hpExploreBox .hpExploreBoxTitle a {
	font-size:20px;
	line-height:28px;
	color:#000;
	text-transform:uppercase;
	margin-bottom:6px;
	font-family: Lato;
}
.hpExploreBox .hpExploreBoxTitle a:hover {
	text-decoration:none;
}


/* Links Page Breaker */

.link-page-breaker .row{
	display: flex;
	justify-content: center;
}
.link-page-breaker .row .col{
	margin: 70px;
	border: #2A8457 3pt solid ;
}
.link-page-breaker .row .col:hover{
	text-decoration: none;
	color: #2A8457;
}
.link-page-breaker .row .col div.link-text{
	font-size: 40px;
	margin: 70px 0px 70px 0px;
	color: #000;
}
.link-page-breaker .row .col div.link-text:hover{
	text-decoration: none;
	color: #2A8457;
}


.frontGridCaption a{
	color: #000;
	font-size: 14px;
}


/* gallery */
@media(max-width:768px){
	.galleryList{
		text-align:center;
	}
	.gallery H1{
		text-align:center;
	}
}
.galleryList{
	margin-bottom:30px;
}
.galleryList img{
	width:100%;
	height:auto;
	max-width:250px;
}
.galleryList label {
    display: block;
    font-size: 15px;
    text-transform: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1.1em;
    margin-top: 5px;
    font-weight: bold;
}

.galleryList label a{
	color: #000;
}

.gallery .setDescription {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.8em;
}
.gallery .unit{
	margin-bottom: 12px;
	font-size:14px;
}
.gallery .galleryViewRecord{
	padding-top:15px;
}
.gallery .galleryDetailBottom {
	border: 0px;
	background-color: #f0f0f0;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0px;
}
.gallery #galleryDetailImageGrid img {
  background-color: #fff;
}

#galleryDetailObjectInfo a.btn.btn-default{
	background-color: #2A8457;
}

/* collections */
.collectionIntro {
	font-size: 17px;
	font-weight: normal;
	color: #000;
}
.collectionsList a{
	text-decoration:none;
}
collectionTile {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	margin-bottom:15px;
	padding:15px;
	font-size:13px;
	line-height:1.8em;
}
.collectionTile .title {
	font-size: 17px;
	padding: 10px 0 10px 0;
	font-family:lato;
	
}
.collectionTile .title a {
	text-decoration:none;
	font-size:14px;
}
.collectionTile:hover{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.collectionTile a.btn-default{
	background-color: #2A8457;
	color: #fff;
}

div#detailTools{
	margin-top: 0 !important;
}

.detail h1 {
	font-size: 22px;
	color: #262626;
	line-height: 135%;
	text-transform: none;
}

.detail a{
	font-size: 13px;
}

.detail .unit {
	font-size: 13px;
	margin-bottom: 15px;
}

.detail label{
	font-size: 13px;
}
@media(min-width:768px){
	.detailBrowseAll{
		text-align:right;
	}
}
.detailBrowseAll a, .detailBrowseAll a:hover{
	color:#FFF;
	text-decoration:none;
}

/* Contrubutors page */

/* .leaflet-container a {
	color: #000;
} */

.contributors .contributorMap{
	margin:30px 0px 30px 0px;
}
.contributorIntro{
	font-size: 17px;
	color: #000;
	font-weight: normal;
}
.contributorsList a{
	font-size:15px;
	font-weight:normal;
	color:#333;
	text-decoration:none;
}
.contributorsList p{
	margin-bottom:20px;
}
.contributorTile {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	margin-bottom:15px;
	padding:15px;
	font-size:13px;
	line-height:1.8em;
}
.contributorImage{
	margin-bottom:20px;
}
.contributorImage img{
	width:100%;
	height:auto;
}
.contributorTile .title {
	padding-bottom:10px;
	font-family:lato;
	font-size:20px;
	font-weight: bolder;
	
}
.contributorTile .description {
	font-size:18px;
}

.contributorTile .title a {
	text-decoration:none;
	font-size:14px;
}
.contributorTile:hover{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.contributorTile a.btn-default{
	background-color: #2A8457;
	color: #fff;
}
/* transcribe */
.collectionImageCrop img{
	width:100%;
	height: 200px;
	object-fit: cover;
	object-position: center center;
	margin-bottom:10px;
}
.collectionImageCrop{
	font-size:16px;
	font-weight:bold;
	line-height:1.2em;
}
.transcribe .collectionTile .btn-sm{
	margin-top:10px;
	padding:5px;
	line-height: 1em;
}
.transcribeIntro {
	font-size: 17px;
	font-weight: normal;
	color: #000;
	margin-bottom:30px;
}
.transcribe H2{
	margin-top:30px;
}
.bSearchWithin .form-control{
	width:80%;
	float:left;
}
.bSearchWithin .btn-default{
	float:left;
	padding: 8px;
	font-size: 18px;
	margin-left: -3px;
}
.transcribe .resultCount{
	color: #000;
	margin-bottom:20px;
	font-size: 17px;
}