.logo img {
	width:100%;
	height:auto;
}
h1, h2, h3, h4, h5, h6 {
	color: #bd1e2c;
}
.jcarousel-wrapper, .jcarousel {
	width:auto !important;
}

#galleryDetailImageArea img {
    max-width: 430px !important;
    max-height: 430px !important;
    height: auto !important;
    width: auto !important;
    margin-top: auto;
    margin-bottom: auto;
}

.gallery #gallerySetInfo a {
color: #fff !important;
}