@font-face {
	font-family: Futura;
	src: url('../../assets/pawtucket/css/fonts/FuturaPTBook.ttf') format('truetype');
}
@font-face {
	font-family: Nunito;
	src: url('../../assets/pawtucket/css/fonts/Nunito-SemiBold.ttf') format('truetype');
}				
.tombstone {font-family:Futura; margin-top:10px;}
h6 { font-family: Nunito; }

/* universal header/footer styles */
#header { padding:0px; margin:0px;}
img.headerImg {height:75px; width:auto; margin-top:20px; margin-bottom:10px;}
.pagingText { position: absolute; top: 30px; right: 30px; font: "Futura"; font-size: 11px; text-align: right;  margin: 0px 0px 10px 25px;}
#footer .pagingText{ top:20px; }
.footerText { position:relative; font-size: 11px;  top:13px; padding-right:40px;  }  
body{ font: "Futura, sans-serif"; margin:0px; padding:0px;}

/* dompdf */
@page { margin: 65px 56px 35px 56px; }

#headerdompdf { position: fixed; left: 0px; top: -75px; right: 0px; height: 55px;  text-align: left; vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; }
#footerdompdf { position: fixed; left: 0px; bottom: -0px; right: 0px; height: 0px; text-align: center; vertical-align: bottom; }
#footerdompdf .pagingText:after { content: counter(page, decimal); }
#footerdompdf .pagingText { position: absolute; top: 0px; right: 30px; font: "Futura"; font-size: 11px; text-align: right; margin: 0px;}
#footerdompdf .footerText { position:relative; font-size: 11px; padding-right:40px;  } 

/* summary styles */
.title { font: "helvetica, sans-serif"; font-size: 18px; width:100%; margin-top:10px; text-align: center; font-weight: bold;}
.representationList { width: 100%; margin-top:10px; text-align: center; }
.unit {font-size:12px;margin-bottom:12px;}
h6 {font-size:12px; font-weight:bold;text-transform:uppercase; margin:0px 0px 5px 0px; padding:0px;font-family:nunito;}

.clear { clear: both; }


.fileIcon{
	background-image: url("folder.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width:17px;
	height:14px;
	display:inline-block;
}

.unit {
	border-bottom:1px solid #eeeeee;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:4px;
}
.unit h6 {
	display:inline-block;
	width:40%;
	vertical-align:top;
	text-align:left;
	margin-top:0px;
}
.unit .data {
	display:inline-block;
	width:60%;
	margin-top:0px;
}
.unit.text h6 {
	display:block;
}
.unit.text {
	padding-bottom:10px;
}

/* collection */
.unit, .collectionLink {font-family:Futura;}
h6 { font-family: Nunito; }
.relatedObj { width:350px; height:70px; margin-top:10px;border-bottom:1px solid #ddd;margin-bottom:2px;}
.icon img {height:50px; width:auto; max-width:150px;}
.icon {width:150px; height:70px; text-align:left;}
.text { width: 200px;display:inline-block; height:120px;vertical-align:middle;}
