<H1>{{{title}}}</H1>
<div class="row">
	<div class="col-sm-8">
		{{{bodytext}}}
	</div>
	<div class="col-sm-3 col-sm-offset-1">
		<div><img src="/themes/akaa/assets/pawtucket/graphics/AHL_LOGO.png"></div>
		<br/><br/>
		{{{contact}}}
		
		
	</div>
</div>