@page { margin: 65px 56px 35px 56px; }

@font-face {
    font-family: Constantia;
    src: url(Constantia.ttf);
}
@font-face {
    font-family: Constantia;
    src: url(Constantiab.ttf);
    font-weight:bold;
}
@font-face {
    font-family: Constantia;
    src: url(constani.ttf);
    font-style:italic;
}
body{ font-family: Constantia, sans-serif; margin:0px; padding:0px 25px 0px 25px; font-size:14px; line-height:1.2em;}
/* wkhtml needs line height of 1.4em for body */
a, a:hover, a:focus, .detail a {
    color: #2c85b8;
    text-decoration:none;
}
.nowrap{
	white-space: nowrap;
}
.logo{
	text-align:center;
}
.logo img{
	height:150px;
	width:auto;
	margin-top:20px;
}
/* summary styles */
.title { font-family: Constantia, serif; font-size: 22px; width:75%; margin-top:60px; margin-left:auto; margin-right:auto; text-align: center; line-height:1.1em !important; font-weight:bold;}
/* wkhtml needs line-height:1.3em; for title */
.contact { text-align:center; margin-top:20px; line-height:1em !important;}
/* wkhtml needs line-height removed for contact, just ingerit from body */
.sectionLabel { clear:both; font-size:18px; padding-top:50px; margin-bottom:30px;}
.unit{
	clear:both;
	padding-bottom:10px;
}
.unitLabel {
	font-style:italic;
	margin-left: 30px;
	float:left;
	width:150px;
}
.unitLabelLarge {
	float:left;
	width:180px;
	font-size:18px;
}
.unitContent {
	float:left;
	width:450px;
}
.spacer{
	height:50px;
	clear:both;
}
.clear{
	clear:both;
}
.new-page {
	page-break-before: always;
}
.inventoryLabel{
	margin-bottom:10px;
	font-size:16px;
}
.inventoryContent{
	margin-bottom:40px;
	margin-left:120px;
}
