
@font-face {font-family: 'Proximanova';src: url('proximanova/proximanova-reg-webfont.eot');src: url('proximanova/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),url('proximanova/proximanova-reg-webfont.woff') format('woff'),url('proximanova/proximanova-reg-webfont.ttf') format('truetype');}

@font-face {font-family: 'ProximanovaBold';src: url('proximanova/proximanova-bold-webfont.eot');src: url('proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),url('proximanova/proximanova-bold-webfont.woff') format('woff'),url('proximanova/proximanova-bold-webfont.ttf') format('truetype');}
@font-face {font-family: 'Gill Sans';src: url('proximanova/GillSans-01.ttf');}

body {
	font-family:proximanova !important;
	margin-bottom:120px !important;
	font-size:14px;
	color:#222;
}
h1, h2, h3, h4, h5, h6 {
	color:#27529a;
}
h1 {
	text-transform:none;
	font-family:"Gill Sans";
}
.detail H4 {
	font-size:22px;
}
h6 {
	font-size:15px;
}
a {
	color:#27529a;
}
a:hover {
	color:#222;
}
hr {
	color:#e9edf4;
}
.detail HR {
	border-bottom:2px solid #e9edf4;
}
.caption {
	font-size:13px;
}
label {
	font-size:13px;
}


#pageArea {
	font-size:16px;
	line-height:2em;
	max-width:940px;
	margin-left:auto;
	margin-right:auto;
}
.navbar {
	box-shadow:none;
}
.maxWrapper {
    max-width: 940px;
    margin: 0 auto;
}
.headerWrapper {
	margin: 0 auto;
    max-width: 940px;
    text-align: left;
	padding: 5px 10px;
    position: relative;
}
.navbar-brand {
	width:120px;
	padding:0px;
}
.btn-default {
	font-family:proximanova;
	background-color:#27529a;
	padding-top:8px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color:#27529a;
}
input:focus, .form-control:focus {
	border: 1px solid #27529a;
}
@media (min-width: 768px) {
	.navbar > .container .navbar-brand {
		margin-left: -10px;
	}
}
.header-follow {
    background: #b4c3dc;
    color: #FFF;
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 300px;
    margin-right: -10px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-clip: padding-box;
    -moz-transition: width 0.1s linear;
    -webkit-transition: width 0.1s linear;
    transition: width 0.1s linear;
}
.header-follow span {
	display:inline-block;
}
.ss-icon, .ss-icon.ss-social-circle, [class^="ss-"]:before, [class*=" ss-"]:before, [class^="ss-"].ss-social-circle:before, [class*=" ss-"].ss-social-circle:before, [class^="ss-"].right:after, [class*=" ss-"].right:after, [class^="ss-"].ss-social-circle.right:after, [class*=" ss-"].ss-social-circle.right:after {
    font-family: "SSSocialCircle";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a.ss-icon  {
	display:block;
	background-color:#fff;
	border-radius:16px;
	display:inline-block;
	width:32px;
	height:32px;
	margin-left:10px;
	margin-bottom:6px;	
}
/*.ss-icon .svg-inline--fa{
	height:1.5em;
	color: #b4c3dc;
    font-size: 22px;
    line-height: 38px;
    margin-left: 0px;
    vertical-align: middle;	
}*/
.ss-icon .fa{
	height:1.5em;
	color: #b4c3dc;
    font-size: 26px;
    margin-top:-2px;
    line-height: 38px;
    margin-left: 0px;
    vertical-align: middle;	
}
.broughtBy {
	vertical-align:bottom;
	float:left;
	padding-top:20px;
	font-size:14px;
	color:#aaa;
	padding-left:20px;
	text-align:center;
}
.broughtBy img {
	max-width:170px;
	height:auto;
	padding-top:10px;
}
.menuItemWrapper {
	margin: 0 auto;
    max-width: 940px;
}
.navbar-collapse {
	background-color:#27529a;
	border:0px;
	box-shadow:none;
	box-shadow: 0 0 0 1px #27529a;
	border: 2px solid #FFF;
	border-width: 2px 0;
}
.navbar-collapse .navbar-nav{
	background-color:#1C8A39;
}
.navbar-collapse .navbar-nav > li > a {
	color: #FFF;
    display: block;
    padding: 22px 24px 22px 24px;
    text-decoration: none;
    -moz-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
    font-size:18px;
    line-height:20px;
    text-transform:uppercase;
}
.navbar .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a {
	color: #FFF;
	font-family:"Gill Sans";
}
.navbar-collapse .navbar-nav > li > a:hover, .navbar-collapse .navbar-nav > li > a:active, .navbar-collapse .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	    font-size:18px;
	    color: rgba(255,255,255,.65);
}
.navbar-default .navbar-nav > li.about {
	background-color:#A49021;
}
.navbar-default .navbar-nav > li.browse {
	background-color:#A49021;
	background-color:#A45C21;
}
.navbar-default .navbar-nav > li.advSearch {
	background-color:#A45C21;
	background-color:#1C668A;
}
.navbar-default .navbar-nav > li.gallery {
	background-color:#1C668A;
	background-color:#27529a;
}
.navbar-default .navbar-nav > li.contact {
	background-color:#61941E;
}
.navbar-default .navbar-nav > li.active {
	background-color:inherit;
}
#user-navbar, #user-navbar-toggle .navbar-nav{
	background-color: #27529a;
}
#user-navbar-toggle{
	margin-top:5px;
}
.nav > li.dropdown > a.icon {
	padding-right:10px;
	padding-left:10px;
	padding-top:21px;
	padding-bottom:21px;
	background-color:#27529a;
}
@media (min-width: 768px) and (max-width: 1010px) {
	.nav > li.dropdown > a.icon {
		padding-bottom:22px;
	}
}
.nav > li.dropdown > a.icon:hover {
	background-color:#27529a;
}
.nav > li.dropdown.open > a.icon {
	background-color:#27529a;
}
.dropdown-menu > li > a {
	font-size:14px;
}
@media (min-width: 992px) {
	.navbar .formOutline {
		margin-left: 0px;
	}
}
.navbar-default .navbar-nav > li.searchMenu {
	background-color:#1C8A39;
}

.navbar-default .navbar-nav .btn-search{
	background-color:transparent;
	color:#fff;
	font-size:18px;
}
.navbar .formOutline {
	border:0px;
	box-shadow:none;
}
.navbar .form-control {
	color:#fff;
	font-family:"Gill Sans";
	font-size:18px;
}
.navbar .form-control::placeholder {
	color:#fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:inherit;
}
.navbar-toggle-user {
	padding-top:10px;
	padding-bottom:10px;
}
@media (max-width:1010px) {
	.container.menuBar {
		padding: 20px 10px;
	}
	.navbar > .container .navbar-brand {
		margin-left:15px;
	}
}
@media (max-width:767px) {
	.header-follow {
		display:none;
	}
}
@media (min-width: 768px){
	.navbar-form {
		/*margin-bottom:14px;*/
		padding-bottom:14px;
		padding-top:14px;
		margin-top:0px;
		margin-bottom:0px;
	}
}
@media (min-width: 768px) and (max-width:937px) {

	.navbar-form .form-group {
    	width: 70px;
	}
	.navbar .form-control {
		font-size:14px;
	}
	.navbar-collapse .navbar-nav > li > a, .navbar-collapse .navbar-nav > li > a:hover, .navbar-collapse .navbar-nav > li > a:active, .navbar-collapse .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		font-size:14px;
	}
}
@media (max-width:760px) {
	.navbar > .container .navbar-brand {
		float:left;
		width:100px;
		display:inline-block;
		margin-left:auto;
		margin-left:20px;
	}
	.broughtBy {
		padding-left:10px;
	}	
	.container > .navbar-header {
		text-align:center;
	}
	.broughtBy img {
		max-width:100px;
	}
	.container.menuBar {
    	padding: 5px 10px;
	}
	.navbar-nav {
		margin:0px;
	}
	.navbar-collapse {
		padding:0px;
		max-height:none;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top:0px;
		margin-bottom:0px;
	}
	.navbar .form-control {
		padding-left:25px;
	}
	.navbar-default .navbar-nav .btn-search {
		padding-right:25px;
	}
}
#footer {
	color: #728ebd;
    font-size: 16px;
    line-height:21px;
    text-align:center;
    font-family:proximanova;
    height:120px;
    padding-top:25px;
    border-top:2px solid #e9edf4;
}

/* Search */

.attributeListItem {
	width:100%;
}
.multisearch .multisearchResult {
	box-shadow:none;
	border:1px solid #222;
}
.multisearchFullResults a, .multisearch H3 a, .multisearch H3 a:hover, .multisearchSort ul li a {
	color:#27529a;
}

.multisearch .authoritySet a {
	color:#222;
	font-size:14px;
}
.advancedSearchField .formLabel {
	font-size:14px;
}
.advancedSearchField input[type="checkbox"] {
	width:auto !important;
}
/*.advancedSearch .col-sm-8{
	border-right:2px solid #e9edf4;
}*/

/* Browse */

.bResultItemImgPlaceholder {
	border:0px;
	font-size:18px;
}
.bResultItem {
	box-shadow:none;
	border: 2px solid #e9edf4;
}
.bResultItem .bResultItemText {
	font-size:14px;
}
.bResultItem .bResultItemText a {
	color:#222;
}
#bRefine a {
	color:#222;
	font-size:14px;
}
#bRefine {
	border-left: 2px solid #e9edf4;
	background-color:transparent;
}
#bRefine H3 {
	font-weight:bold;
	font-size:20px;
	text-transform:none;
}
.bResultItemExpandedInfo HR {
	border-bottom:2px solid #e9edf4; 
}
.multisearch .bResultItem:hover {
	margin-top:0px;
	margin-right:0px;
	margin-left:0px;
	min-height:0;
}
.multisearch .bResultItem:hover .bResultItemImg {
	max-height:180px;
}
.bResultItem .bResultItemExpandedInfo a{
	color:#27529a;
	font-size:15px;
}

/* Detail */

.detail a {
	color:#27529a;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color:#fff;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small, .detail .detailNavBgLeft a, .detail .detailNavBgRight a {
	color:#222;
	display:inline;
	text-transform: none;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 10px;
}
.detail .navLeftRight {
	text-align:right;
}
.detail .detailNavBgLeft {
	position:relative;
	float:right;
	width:auto;
	height:auto;
	padding-bottom:12px;
	padding-top:10px;
}
.detail .detailNavBgLeft a, .detail .detailNavBgLeft .svg-inline--fa {
	display:inline;
}
.detail .detailTool {
	font-size:13px;
	padding-bottom:0px;
	line-height:1.4em;
}
.detail #detailTools {
	margin-bottom:25px;
}
.detail .detailTool span, .detail .detailTool i {
	color:#27529a;
}

/* Gallery */

.gallery #gallerySetInfo small{
	font-size:12px;
}
.gallery #gallerySetInfo a {
	font-size:13px;
}

/* Login */

#caFormOverlay .glyphicon-remove-circle {
	font-size:20px;
}
#caFormOverlay .form-group{
	font-size:14px;
}

/* Front */

.frontSlide:hover .frontSlideCaption a:hover {
	color:#fff;
}
.panoramaContainer {
	width:100%;
	height:100%;
	overflow:hidden;
	clear:both;
}
a-scene {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}
a-scene.fullscreen .a-canvas {
 
    /*top: 0!important; */
    /* left: 0!important; */
    /* right: 0!important; */
    /* bottom: 0!important; */
    position: relative !important; 
}

.browse .btn, .sets .btn {
    background-color: #27529a;
}
#galleryDetailImageArea img {
    max-width: 430px !important;
    max-height: 430px !important;
    height: auto !important;
    width: auto !important;
    margin-top: auto;
    margin-bottom: auto;
}