<div id="pageArea" class="staticPage">

<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-8">
	    <div class="pull-right detailTool generalToolSocial">
			<a href='https://twitter.com/home?status=http%3A//fabricofdigitallife.com/index.php/About/Index'><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
			<a href='https://www.facebook.com/sharer/sharer.php?u=http%3A//fabricofdigitallife.com/index.php/About/Index'><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			<a href='https://plus.google.com/share?url=http%3A//fabricofdigitallife.com/index.php/About/Index'><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
		</div><!-- end detailTool -->
		
		<h1>About</h1>
		{{{content}}}
		
			<p><b><a href="#" class='copyright' onclick="$('#copyright').toggle(300);return false;">Statement on Copyright</a></b></p>
		<div id="copyright" style="display:none;">
			{{{statement_on_copyright}}}	
		</div>
	</div>
	<div class='col-sm-2 platforms'>
    <h2>Platforms</h2>
<div><a href='/index.php/Browse/objects/facet/use/id/238' class='platformLink'>Carryable</a></div><div><a href='/index.php/Browse/objects/facet/use/id/239' class='platformLink'>Wearable</a></div><div><a href='/index.php/Browse/objects/facet/use/id/240' class='platformLink'>Implantable</a></div><div><a href='/index.php/Browse/objects/facet/use/id/380' class='platformLink'>Ingestible</a></div><div><a href='/index.php/Browse/objects/facet/use/id/359' class='platformLink'>Embeddable</a></div><div><a href='/index.php/Browse/objects/facet/use/id/392' class='platformLink'>Robotical</a></div><div><a href='/index.php/Browse/objects/facet/use/id/400' class='platformLink'>Ambient</a></div><h2><a href='/index.php/Listing/collections/collections'>Collections</a></h2><div><a href='/index.php/Browse/objects/facet/collection/id/18' class='platformLink'>Humanoid Robots (2017-2019)</a></div><div><a href='/index.php/Browse/objects/facet/collection/id/24' class='platformLink'>The Wearable Past (2018)
</a></div><div><a href='/index.php/Browse/objects/facet/collection/id/25' class='platformLink'>Transhumanism, Technology, and Disability: A Critical Perspective</a></div><div><a href='/index.php/Browse/objects/facet/collection/id/26' class='platformLink'>Aging, Culture, and Technology (2018-2019)</a></div>    <div style="clear:both; height:1px;"><!-- empty --></div>
</div>
				
	</div><!--end row-->
</div> <!--end container-->
		<div style="clear:both; height:1px;"><!-- empty --></div>

	</div>
</div>
