@font-face {
	font-family: 'SangBleuSansLight';
	font-style: normal;
	src: local("SangBleuSansLight"), local("SangBleuSansLight"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-eot.eot") format("eot"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-woff.woff") format("woff"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-woff2.woff2") format("woff2"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-ttf.ttf") format("ttf");
}
@font-face {
font-family: 'SangBleuSerif-Light';
font-style: normal;
src: local("SangBleuSerif-Light"), local("SangBleuSerif-Light"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-eot.eot") format("eot"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-woff.woff") format("woff"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-woff2.woff2") format("woff2"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-ttf.ttf") format("ttf");
}
@import url("https://fast.webFonts.net/t/1.css?apiType=css&projectid=16d7a0e9-69e9-48e4-b172-48e9bf66f062");
@font-face{
font-family:"Helvetica LT W01 Roman";
src:url("../../assets/pawtucket/css/webFonts/HelveticaLT/05598d95Updated.eot?#iefix");
src:url("../../assets/pawtucket/css/webFonts/HelveticaLT/05598d95Updated.eot?#iefix") format("eot"),url("../../assets/pawtucket/css/webFonts/HelveticaLT/89294146Updated.woff2") format("woff2"),url("../../assets/pawtucket/css/webFonts/HelveticaLT/57055fe4Updated.woff") format("woff"),url("../../assets/pawtucket/css/webFonts/HelveticaLT/2922d55cUpdated.ttf") format("truetype");
}

/* universal header/footer styles */
#header { padding:0px; margin:0px 0px 0px 0px; text-align:center; font-family: 'SangBleuSansLight'; font-size:16px; height:30px;}
img.headerImg {height:25px; width:auto; margin-top:20px; margin-bottom:10px;}
.pagingText { position: absolute; top: 30px; right: 30px; font: "helvetica"; font-size: 11px; text-align: right;  margin: 0px 0px 10px 25px;}
#footer .pagingText{ top:20px; }
.footerText { position:relative; font-size: 11px;  top:13px; padding-right:40px;  }  
body{
	text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'SangBleuSerif-Light';
    color:#000;
     margin:0px;
     padding:0px;
     padding-top:20px;
}

/* dompdf */
@page { margin: 65px 56px 35px 56px; }

#headerdompdf { position: fixed; left: 0px; top: -75px; right: 0px; height: 55px;  vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; text-align:center; font-family: 'SangBleuSansLight'; font-size:16px;}

#footerdompdf { position: fixed; left: 0px; bottom: -0px; right: 0px; height: 0px; text-align: center; vertical-align: bottom; }
#footerdompdf .pagingText:after { content: counter(page, decimal); }
#footerdompdf .pagingText { position: absolute; top: 0px; right: 30px; font: "helvetica"; font-size: 11px; text-align: right; margin: 0px;}
#footerdompdf .footerText { position:relative; font-size: 11px; padding-right:40px;  } 

/* summary styles */
.title { font-family: 'SangBleuSerif-Light'; font-size: 18px; width:100%; margin-top:10px; text-align: center; font-weight: normal;}
.representationList { width: 100%; margin-top:20px; margin-bottom:20px; padding-top:20px; border-top:1px solid #dedede; text-align: center; }
.unit {font-size:11px;margin-bottom:12px; text-align:left; clear:left;}
h6 {margin:0px 0px 5px 0px; padding:0px; font-weight:normal;}
.tombstone { margin-top:20px;}
.clear { clear: both; }

hr{
	clear:both;
	height:2px;
	background-color:#D3D3D3;
	border:0px;
}

.text-center{
	text-align:center;
}
h6{
	font-size:12px;
}
h4.mainTitle{
	margin-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	font-weight:normal;
}
h6.objectType{
	text-transform:uppercase;
	line-height:1.3em;
	font-family: 'Helvetica LT W01 Roman';
	font-size: 11px;
	font-weight:normal;
}
.unit.productInfo{
	background-color:#f1f1f1;
	padding: 10px 10px 4px 10px;
	margin-bottom:20px;
	text-align:center;
}

.detail .childObjects img, .detail .relatedObjects img, .detail .detailPlaceholder img{
	width:100%;
	height:auto;
}
.icon{
	float:left;
	width:72px;
	margin-right:10px;
	margin-bottom:10px;
}
.icon img, .relatedIcon img{
	width:100%;
	height:auto;
}
.relatedIcon{
	width:20%;
	margin-right:5%;
	float:left;
	margin-bottom:20px;
}