/*
@font-face {
	font-family: 'SangBleuSansLight';
	font-style: normal;
	src: local("SangBleuSansLight"), local("SangBleuSansLight"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-eot.eot") format("eot"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-woff.woff") format("woff"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-woff2.woff2") format("woff2"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-ttf.ttf") format("ttf");
}
@font-face {
font-family: 'SangBleuSerif-Light';
font-style: normal;
src: local("SangBleuSerif-Light"), local("SangBleuSerif-Light"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-eot.eot") format("eot"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-woff.woff") format("woff"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-woff2.woff2") format("woff2"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-ttf.ttf") format("ttf");
}
@import url("https://fast.webFonts.net/t/1.css?apiType=css&projectid=16d7a0e9-69e9-48e4-b172-48e9bf66f062");
@font-face{
font-family:"Helvetica LT W01 Roman";
src:url("../../assets/pawtucket/css/webFonts/HelveticaLT/05598d95Updated.eot?#iefix");
src:url("../../assets/pawtucket/css/webFonts/HelveticaLT/05598d95Updated.eot?#iefix") format("eot"),url("../../assets/pawtucket/css/webFonts/HelveticaLT/89294146Updated.woff2") format("woff2"),url("../../assets/pawtucket/css/webFonts/HelveticaLT/57055fe4Updated.woff") format("woff"),url("../../assets/pawtucket/css/webFonts/HelveticaLT/2922d55cUpdated.ttf") format("truetype");
}
*/
@font-face {
    font-family: 'Optima LT Std';
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.eot');
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.svg#OptimaLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Optima LT Std';
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.eot');
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.svg#OptimaLTStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Optima LT Std';
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.eot');
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.svg#OptimaLTStd-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Optima LT Std';
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd.eot');
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd.svg#OptimaLTStd') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans Light';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Light.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Light.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Light.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Light.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Light.svg#NotoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.svg#NotoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.svg#NotoSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans Med';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.svg#NotoSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans Med';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.svg#NotoSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Light';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.svg#NotoSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
/* universal header/footer styles */
#header { padding:0px; margin:0px 0px 0px 0px; text-align:center; font-family: 'Optima LT Std'; font-size:16px; height:30px;}
img.headerImg {height:25px; width:auto; margin-top:20px; margin-bottom:10px;}
.pagingText { position: absolute; top: 30px; right: 30px; font: "helvetica"; font-size: 11px; text-align: right;  margin: 0px 0px 10px 25px;}
#footer .pagingText{ top:20px; }
.footerText { position:relative; font-size: 11px;  top:13px; padding-right:40px;  }  
body{
	text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Noto Sans Light';
    color:#000;
     margin:0px;
     padding:0px;
     padding-top:20px;
}

/* dompdf */
@page { margin: 65px 56px 35px 56px; }

#headerdompdf { position: fixed; left: 0px; top: -75px; right: 0px; height: 55px;  text-align: left; vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; }
#headerdompdf div { text-align:center; padding-top:15px; font-family: 'Optima LT Std'; font-size:16px;}

#footerdompdf { position: fixed; left: 0px; bottom: -0px; right: 0px; height: 0px; text-align: center; vertical-align: bottom; }
#footerdompdf .pagingText:after { content: counter(page, decimal); }
#footerdompdf .pagingText { position: absolute; top: 0px; right: 30px; font: "helvetica"; font-size: 11px; text-align: right; margin: 0px;}
#footerdompdf .footerText { position:relative; font-size: 11px; padding-right:40px;  } 

/* summary styles */
.title { font-family: 'Optima LT Std'; font-size: 18px; width:100%; margin-top:10px; text-align: center; font-weight: normal;}
.representationList { clear:both; width: 100%; padding-top:50px; text-align: center; }
.unit {font-size:11px;margin-bottom:12px; text-align:left; clear:left;}
.unitSmall {font-size:10px;margin-bottom:10px; text-align:left;}
h6 {margin:0px 0px 5px 0px; padding:0px; font-weight:normal; font-family:'Optima LT Std';}
h4 {margin:0px 0px 5px 0px; padding:0px; font-weight:normal; font-family:'Optima LT Std'; font-size:14px;}
.tombstone { margin-top:20px;}
.clear { clear: both; }

hr.top{
	margin:20px 0px 20px 0px;
}
hr{
	clear:both;
	height:2px;
	background-color:#D3D3D3;
	border:0px;
}

.text-center{
	text-align:center;
}
h6{
	font-size:12px;
}
h4.mainTitle{
	margin-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	font-weight:normal;
}
h6.objectType{
	text-transform:uppercase;
	line-height:1em;
	font-family: 'Noto Sans Light';
	font-size: 11px;
	font-weight:normal;
}
.unit.productInfo{
	background-color:#f1f1f1;
	padding: 10px 10px 4px 10px;
	margin-bottom:20px;
	text-align:center;
}
.childObjects{
	margin-top:10px;
}
.detail .childObjects img, .detail .relatedObjects img, .detail .detailPlaceholder img{
	width:100%;
	height:auto;
}
.childObjects h6{
	font-size:14px;
}
.icon{
	float:left;
	width:72px;
	margin-right:10px;
	margin-bottom:10px;
}
.icon img, .relatedIcon img{
	width:100%;
	height:auto;
}
.relatedIcon{
	width:20%;
	margin-right:5%;
	float:left;
	margin-bottom:20px;
}

/* collection summary */
.collectionLogo img{
	width: 300px;
	height:auto;
}
.toc a{
	color:#000;
	text-decoration:none;
}
.toc .unit {font-size:11px;margin-bottom:3px; text-align:left; clear:left;}