/* teal: #004c52; orange: #f18e00; offwhite: #f2f1ec; */
@media(min-width:768px){
	body{
		margin-top:115px;
	}
	.navbar{
		position: fixed;
		width: 100%;
		top:0px;
	}
}
@media(min-width:1010px){
	body{
		margin-top:77px;
	}
}
#pageArea{
	padding-top:20px;
}
#pageArea.detail, #pageArea.staticPage, #pageArea.results, #pageArea.collections{
	margin-bottom:30px;
}
.colNoPadding{
	padding:0px;
}
.navbar{
	background-color: #eeeadf;
	background-color: #f2f1ec;
	background: linear-gradient(-45deg, #f2f1ec 0%, #f2f1ec 79.95%, white 79.95%, white 80.15%, #f2f1ec 80.15%, #f2f1ec 81.5%, white 81.5%);
	margin-bottom:0px;
}
.navbar .formOutline{
	border-radius:0px;
	background-color:#fff;
	border:0px;
}
.headerAdvancedSearch{
	text-align:right;
}
.headerAdvancedSearch a{
	font-size:13px;
}
#headerSearchButton{
	color:#004c52;
}
.navbar-brand{
	width:175px;
	padding-top: 0px;
}
@media (min-width:768px){
	.navbar-brand{
		width: 200px;
		padding-top: 8px;
	}
}
@media (min-width:768px){
	.navbar-nav > li > a {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.navbar-form{
		margin-top:14px;
	}
	.nav > li.dropdown > a.icon{
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
@media (max-width:767px){
	.navbar-nav{
		margin:0px;
	}
	.navbar .formOutline{
		border: 1px solid #dedede;
	}
}
@media(max-width:1010px){
	.yamm .nav.navbar-right.menuItems .dropdown-menu {
		left: 0;
		right: auto;
	}
}
.navbar-default .navbar-toggle{
	border-color:#004c52;
	color:#004c52;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#004c52;
}
.navbar-default .navbar-toggle:hover .icon-bar{
	background-color:#FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#004c52;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	color:#FFF;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: lato;
    text-transform:uppercase;
}
.navbar-default .navbar-nav > li > a{
	color:#004c52;
	letter-spacing:1px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active{
	color:#004c52;
	text-decoration: underline;
  	text-decoration-color: #f18e00;
  	text-decoration-thickness: 2px;
  	text-underline-position: under;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:transparent;
	color:#f18e00;
	text-decoration: underline;
  	text-decoration-color: #004c52;
  	text-decoration-thickness: 2px;
  	text-underline-position: under;
}
.navbar-nav > li > .dropdown-menu{
	background-color:#f2f1ec;
	border:0px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}
.navbar-nav > li > .dropdown-menu a{
	text-transform:uppercase;
	letter-spacing:1px;
	color:#004c52;
	font-family:lato;
}
.navbar-nav > li > .dropdown-menu a:hover{
	background-color:#f2f1ec;
	color:#f18e00;
}


H1, h1, h2, H2, H3, h3, H4, h4, H5, h5{
	color:#004c52;
	font-family: 'Roboto slab';
}
.btn-default, .browse .btn, .sets .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color:#004c52;
}
.btn-default:hover{
	background-color:#f18e00;
}
a{
	color:#004c52;
}
a:hover{
	color:#f18e00;
}

.bgOffWhiteLight{
	background-color: #f2f1ec;
}
/* footer */

#footer{
	background-color: #004c52;
	color: #FFF;
	padding-top:25px;
	padding-bottom:25px;
	height:250px;
	border-top:0px;
	text-align:center;
	margin-top:0px;
	border:0px;
}
body{
	margin-bottom:250px;
	color:#000
}
@media(max-width:768px){
	#footer{
		height:350px;
	}
	body{
		margin-bottom:350px;
	}
}
#footer{
	border:0px;
}
#footer .footerHeading{
	font-family:'Roboto slab';
	font-size:20px;
	color:#f18e00;
	padding-bottom:10px;
	text-align:center;
	padding-top:15px;
}
#footer .footerLinks{
	text-align:center;
}
#footer ul li{
	padding:0px;
}
#footer .footerLinks a, #footer a{
	color:#f2f1ec;
	font-size:14px;
	text-decoration:none;
	font-family:LatoLight;
	text-decoration:underline;
}
#footer .footerLinks a:hover{
	color:#f18e00;
}
#footer .funder{
	text-transform:uppercase;
	font-family: Latolight;
	margin-top:10px;
	text-align:center;
}
#footer .funder img{
	width:200px;
	height:auto;
}

#footer .social a{
	font-size: 20px;
	color:#f2f1ec;
	font-size:25px;
}
#footer ul {
    margin-top: 25px;
}
#footer ul.social li {
    padding: 0px 5px 0px 5px;
}
#footer .footerContact{
	text-align:left;
	font-size:14px;
	color:#f2f1ec;
	line-height:1.2em;
	margin-top:10px;
}
@media(max-width:768px){
	#footer .footerContact{
		text-align:center;
	}
}
/* detail page */
.detail{
	color:#000;
}
.detail .unit a{
	color:#828282;
	text-decoration:underline;
}
.detailFbShare{
	float:right;
	padding-top:12px;
}
.detail #detailTools{
	clear:left;
}
.detail H6 a {
	color: #000000;
}
.detail label a {
	color: #000000;
}
.detail H6, .detail h6, .gallery H6, .gallery h6, .detail label, .detail label, .gallery label, .gallery label{
	color:#000000;
	font-family:Lato;
	font-size:14px;
	margin: 15px 0px 2px 0px;
	line-height: 1.1em;
}
.detail H1{
	color: #004c52;
}
@media(max-width:767px){
	.detail H1{
		margin-top:30px;
	}
}
.repViewerContCont{
	padding-bottom:38px;
}
.detail .detailMediaToolbar/*, .gallery .detailMediaToolbar*/ {
    background-color: #fff;
    padding: 2px 5px 7px 5px;
    font-size: 16px;
    position: absolute;
    display: block;
    top: auto;
    bottom: -43px;
    left:30%;
    right:30%;
    text-align: center;
    z-index:1500;
}
.detail .detailMediaToolbar a{
	color: #858585;
}
.detail #detailRepNav {
    padding: 0px 0px 7px 0px;
    font-size: 12px;
    position: relative;
    z-index: 1000;
    top: -33px;
}
/* lightbox */
.lightboxAsk{
	margin-bottom:5px;
}
.lightboxAsk span.glyphicon, .lightboxAsk a{
	color: #828282 !important;
	font-size:12px;
	text-transform:uppercase;
}
.lightboxAsk span.glyphicon{
	margin-right: 5px;
}

/* advanced search */

table.attributeListItem{
	width:100%;
}

/* gallery */
.gallery .unit {
    margin-bottom: 12px;
}

.bResultItemText a, .bResultListItemText a{
	text-decoration:underline;
}
.bResultItemText small a, .bResultListItemText small a{
	text-decoration:none;
}

/* forms */
.form-control:focus {
    border-color: #000000;
}



/* front */
html.frontContainer {
    height: 100%;
    padding:0px -15px 0px -15px;
}
body.frontContainer {
	margin-bottom:0px;
	height: 100%;
}
body.frontContainer #footer{
	position:relative !important;
	height:auto;
}

.parallax {
	position:relative;
    background-image: url("../graphics/hero_1.jpg");

    /* Full height */
    /*height: 100%;*/
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-left: -15px;
	margin-right: -15px;
	top:-20px;
}
.parallax.hero1 {
	background-image: url("../graphics/hero_1.jpg");
}
@media(min-width:1025px){
	.parallax.hero1 {
		background-position: center 40px;
	}
}
.parallax.hero2 {
    background-image: url("../graphics/hero_2.jpg");
}
.parallax.hero3 {
    background-image: url("../graphics/hero_3.jpg");
}
.parallax.hero4 {
    background-image: url("../graphics/hero_4.jpg");
}
@media(max-width:420px), (max-height:420px){
	/*.heroSearch H1{
		font-size:50px;
	}*/
	.front .heroSearch .form-group{
		width:300px;
	}
}
.front .heroSearch {
	position:relative;
	text-align:center;
	color:#FFF;
	margin-top: 18vh;
	padding-top:50px;
	padding-bottom:50px;
	font-size:28px;
	text-shadow: 0px 0px 3px #000000;
	background-color: #183640;
	background-color: rgb(24, 54, 64, .9);
	box-shadow:0 2px 14px 0 rgba(0,0,0,.3);
	margin-left:40px;
	margin-right:40px;
}
.heroAdvancedSearchLink{
	text-align: right;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
}
@media(max-width:767px){
	.heroAdvancedSearchLink{
		text-align: center;
		width: 100%;
	}
}
.heroAdvancedSearchLink a{
	color:#FFF;
	font-size:17px;
	text-decoration:underline;
}
@media(max-width:1024px){
	.parallax .heroSearch{
		margin-top: 17vh;
	}
}
@media(max-width:768px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
@media(max-height:420px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}

@media (max-device-width:1024px){
	/* ipad and mobile disable background-attachment: fixed; fallback to no parallax so at least see image */
	.parallax {
		background-attachment: scroll;
	}
}
#hpScrollBar{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: rgba(227, 230, 232, 0.3);
	color:#004c52;
	text-align:center;
	font-size:30px;
	padding:10px 0px 10px 0px;
	opacity:.8;
}



.heroSearch H1{
	color: #e9e3d4;
	text-align: center;
	line-height: 1.1em;
	margin:0px;
	padding:0px 15px 0px 15px;
}
.heroSearch H1 .line1, .heroSearch H1 .line3 {
    font-size: 28px;
    text-transform: none;
    font-family: latolight;
}
.heroSearch H1 .line2{
	font-size: 43px;
	font-weight: 500;
	text-transform:none;
	color:#f18e00;
	padding-top:20px;
	padding-bottom:20px;
	font-family: "Roboto slab";
}
.heroSearch .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
    margin-top:20px;
}
.front .heroSearch .formOutline{
	display: inline-block;
	background-color:#FFF;
}
.front .heroSearch .form-group {	
    width: 400px;
    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.front .heroSearch .form-control, .front .heroSearch .form-control:focus{
	border:0px;
	box-shadow:none;
	font-size:18px;
	height:44px;
}
#heroSearchButton{
	color:#004c52;
	font-size: 20px;
}

@media(max-width: 1355px) {
	.heroSearch H1 .line1, .heroSearch H1 .line3 {
		font-size:24px;
	}
	.heroSearch H1 .line2 {
		font-size:35px;
	}
}

@media(max-width: 570px) {
	.heroSearch H1 .line1, .heroSearch H1 .line3{
		font-size:20px;
	}
	.heroSearch H1 .line2 {
		font-size:25px;
	}
	.heroSearch H1 .line2 {	
		padding-top:10px;
		padding-bottom:15px;
		line-height: 1.3em;
	}
	.front .heroSearch .form-group {
		width: 80%;
	}
}
.jcarousel-control-prev, .jcarousel-control-next {
    top: 170px;
}

.hpIntro .callout{
	text-align:center;
	font-size: 28px;
	color: #004c52;
	margin:120px 0px 150px 0px;
	font-family: "Roboto slab";
	font-weight:300;
	line-height:1.8em;
}
.hpIntro .callout2{
	text-align:center;
	font-size: 24px;
	color: #004c52;
	font-weight:400;
	margin:120px 0px 150px 0px;
	font-family: "Roboto slab";
	font-weight: 300;
	line-height: 1.8em;
}

.hpIntro .calloutTitle{
	text-align:center;
	font-size: 28px;
	color: #f18e00;
	margin-bottom:15px;
	font-family: "Roboto slab";
	font-weight:600;
}
@media(max-width:767px){
	.hpIntro .callout, .hpIntro .callout2{
		font-size: 20px;
	}
	.hpIntro .calloutTitle{
		font-size: 24px;
	}
}
.hpIntro .callout2 .btn-default{
	font-size:16px;
	padding: 9px 10px 8px 10px;
	margin-top:15px;
}

.frontSlide img {
    height: 300px;
    width: auto;
}

.front h2{
	text-align: center;
	text-transform:capitalize;
	font-size:24px;
}
.frontPlaces{
	margin-top:40px;
	margin-bottom:40px;
}
.frontPlaces h2{
	text-transform:none;
}
.frontPlaces img{
	width:100%;
	max-width:250px;
	height:auto;
	margin-top:15px;
}
.frontPlaceLink{
	display:inline-block;
	text-align:center;
	color:#fff;
	background-color:#004c52;
	text-transform:uppercase;
	width:100%;
	max-width:250px;
	margin-bottom:15px;
	padding:10px;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:1px;
}
.frontPlaceLink:hover{
	background-color:#f18e00;
	color:#fff;
	text-decoration:none;
}

.frontExpos{
	margin-top:40px;
	margin-bottom:40px;
}
.frontExpos .galleryItems li{
	width:280px;
}
.frontExpos img{
	width:100%;
	height:auto;
}
.frontExposLink{
	display:inline-block;
	text-align:center;
	color:#fff;
	background-color:#004c52;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	font-size:15px;
	text-decoration:none;
	letter-spacing:1px;
	margin-bottom:30px;
}
.frontExposLink:hover{
	background-color:#f18e00;
	color:#fff;
	text-decoration:none;
}
.frontFeaturedExpo{
	padding:15px 0px 20px 0px;
}
.frontFeaturedExpo .container{
	padding-left:30px;
	padding-right:30px;
}
@media(min-width:768px){
	.frontFeaturedExpo .row{
		display: flex;
		align-items: center;
	}
}
.frontFeaturedExpo h3{
	text-transform:uppercase;
	font-size:18px;
	color:#507811;
}
.frontFeaturedExpo .frontFeaturedExpoText{
	padding-left:40px;
	padding-right:40px;
}
.frontFeaturedExpo .frontFeaturedExpoText p{
	font-size:16px;
	line-height:1.5em;
	font-weight:600;
}
.frontFeaturedExpo .frontFeaturedExpoImg{
	height:450px;
	overflow:hidden;
	text-align:center;
}
.frontFeaturedExpo img{
	width:auto;
	height:100%;
}

.frontGallerySlideCaption{
	text-align:center;
}
.frontGallerySlideCaption a{
	font-weight:bold;
}

.lightboxAlert{
	display:none;
	position:fixed;
	bottom:30px;
	right:30px;
	background-color:#FFF;
	padding:30px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);	
	width:250px;
	text-align:center;
	font-weight: 600;
}
.lightboxAlert div{
	margin-top:15px;
}
div.ligthboxAlertClose{
	position:absolute;
	right:10px;
	top:10px;
	margin:0px;
}
.lightboxAlert .btn-default a:hover{
	text-decoration:none;
}
/* browse */
#bRefine{
	background-color: #f2f1ec;
}
#bRefine.fixed{
	padding-top: 90px;
}
#bRefine a {
    color: #333;
}
#bRefine H5, #bRefine H3{
	color:#004c52;
}
#bRefine H3 {
    margin: 0px;
}
.resultAudioIcon{
	float:right;
	padding:0px 0px 5px 5px;
	font-size:16px;
	color:#777;
}
/* gallery */
.gallery{
	font-size:15px;
}
@media(max-width:768px){
	.galleryList{
		text-align:center;
	}
	.gallery H1{
		text-align:center;
	}
}
.galleryList{
	margin-bottom:30px;
}
.galleryList img{
	width:100%;
	height:auto;
	max-width:250px;
}
.galleryList a.labelLink{
	display:inline-block;
	color:#fff;
	background-color:#004c52;
	width:100%;
	padding:15px;
	font-size:14px;
	text-decoration:none;
    line-height: 1.1em;
	letter-spacing:1px;
	margin-bottom:30px;
	font-weight:bold;
}
.galleryList a.labelLink:hover{
	background-color:#f18e00;
}
.galleryList a small{
	font-size:75%;
	font-weight:normal;
}
.gallery .galleryDetailBottom{
	border:0px;
	background-color:#f2f1ec;
	margin-top:30px;
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:0px;
}
.gallery #galleryDetailImageGrid img{
	background-color:#fff;
}
.gallery .setDescription {
    font-size: 15px;
    font-weight: normal;
}
a.readmore-js-toggle {
    padding-top: 10px;
    color: #004c52;
    text-decoration:underline;
}
.detail .navTop a, .detail .navTop a .small{
	color:#000;
}
/* detail */
.detail{
	font-size:15px;
}
/* image viewer */
.caMediaOverlayControls .close{
	position: fixed;
	top: 40px;
	right: 10px;
}
div.caMediaOverlayControls .close a{
	background-color:#000;
	padding: 12px 10px 8px 10px;
}
div.caMediaOverlayControls .close a .caIcon{
	color:red !important;
	text-shadow:#000 0px 1px 0px;
	font-size:30px !important;
}
div.caMediaOverlayControls{
	opacity:1;
	background-color:rgb(0,0,0,.7);
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small, .detail .detailNavBgLeft a, .detail .detailNavBgRight a {
	color:#000;
}
.detail .detailNavBgLeft a, .detail .detailNavBgRight a{
	font-size:20px;
	display:inline-block;
	width: 100%;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight{
	padding-top:10px;
}
.detail .unit a{
	color:#004c52;	
}
/* collections */
.collectionTile a.collectionTileImage{
	float:left;
	width:30%;
	padding-right:15px;
}
.collectionTile img{
	width:100%;
	height:auto;
}
.collectionTile{
	display: flex;
    align-items: center;
}
.collectionTile .title{
	width:70%;
}
.collectionTile .title, .collectionTile .title a{
	font-family:'Roboto slab';
	color:#004c52;
}

.bodytext a, #caFormOverlay a{
	text-decoration:underline;
}
.bodytext a.btn-default{
	text-decoration:none;
}
#pageArea.staticPage img{
	width:100%;
	height:auto;
	margin-bottom:30px;
}
@media(min-width:500px){
	#pageArea.staticPage img{
		width: 40%;
		height: auto;
		max-height: 400px;
		object-fit: contain;
		margin-right: 4%;
		margin-left: 4%;
	}
}
#pageArea.staticPage .fullWidth img{
	width:100%;
	height:auto;
	max-height: none;
	object-fit: initial;
	margin: 0px;
}
#pageArea.staticPage .halfWidth{
	text-align:center;
}
@media(min-width:500px){
	#pageArea.staticPage .halfWidth img{
		width:50%;
		height:auto;
		max-height: none;
		object-fit: initial;
		margin: 0px;
	}
}
.staticPage p, .staticPage .bodytext{
	font-size:18px;
}
.staticPage h2, h3, h4{
	color: #004c52;
	font-family: 'Roboto slab';
	font-size:20px;
	text-transform:none;
	margin-top: 30px;
	margin-bottom: 20px;
}
#caMediaPanel {
    background-color: rgba(0, 0, 0, 0.5);
}