<div class="row"><div class="col-sm-12 col-lg-8 col-lg-offset-2">
	<h1>{{{title}}}</h1>
	<div class="bodytext">
		<div class="bodytextImg">{{{media:1:h264_hi}}}</div>
		{{{bodytext}}}
	</div>
</div></div>