/* gray bg: #666666;  Dark green nav: #2b7c74; Light green nav: #529b8a; */

@font-face {
    font-display: block;
    font-family:"Brandon-Grot-W01-Light";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e00ba30a-0bf3-4c76-9392-8641fa237a92.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e00ba30a-0bf3-4c76-9392-8641fa237a92.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/69b40392-453a-438a-a121-a49e5fbc9213.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9362bca5-b362-4543-a051-2129e2def911.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/85060878-ca6c-43cc-ac31-7edccfdca71b.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/47f089a6-c8ce-46fa-b98f-03b8c0619d8a.svg#47f089a6-c8ce-46fa-b98f-03b8c0619d8a") format("svg");
}
@font-face {
    font-display: block;
    font-family: "DIN-Next-W01-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
}
@font-face {
    font-display: block;
    font-family: "DIN-Next-W02-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
}
@font-face {
    font-display: block;
    font-family: "DIN-Next-W10-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a9e95a29-98a7-404a-90ee-1929ad09c696.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0a7663fd-eae8-4e50-a67a-225271f8cceb.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/58ae9be9-5d95-44b6-8b6c-e6da6a46822c.svg#58ae9be9-5d95-44b6-8b6c-e6da6a46822c") format("svg");
}
@font-face {
    font-display: block;
    font-family:"DINNeuzeitGroteskLTW01-_812426";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b41558bd-2862-46c0-abf7-536d2542fa26.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b41558bd-2862-46c0-abf7-536d2542fa26.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/5cee8d6e-89ad-4d8c-a0ac-584d316b15ae.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/388ef902-2c31-4818-abb1-a40dcd81f6d6.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/29c60077-2614-4061-aa8d-5bcfdf7354bb.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/76250d27-b353-4f3b-90c6-0ff635fabaab.svg#76250d27-b353-4f3b-90c6-0ff635fabaab") format("svg");
}
@font-face {
	font-display: block;
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 400;
	src: local('Questrial'), local('Questrial-Regular'), url(https://fonts.gstatic.com/s/questrial/v9/QdVUSTchPBm7nuUeVf70viFluW44JQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
	margin-bottom:275px;
    color:#000;
}
#pageArea{
	padding-bottom:30px;
}
#pageArea.front{
	padding-bottom:0px;
}
.bg_ltgray{
	background-color: #f3f3f3;
}
.bh_ltTeal{
	background-color: #dbeae7;
}
.btn-default, .browse .btn-default, .gallery .btn-default{
	background-color:#2b7c74;
}
.btn-default:hover, .browse .btn-default:hover, .gallery .btn-default:hover{
	background-color:#529b8a;
}
H1, h1, H2, h2, H3, h3{
	/*font-family: dinneuzeitgroteskltw01-_812426, sans-serif;*/
	font-family: 'Cormorant', serif;
	font-weight:bold;
}
H1, h1 {
    font-size: 24px;
    color: #000000;
}
@media (min-width: 768px) {
	ul.menuItems {
		width:100%;
		border-top:solid 1px #ddd;
	}
	.menuItems.navbar-nav > li > a {
		padding-top:5px;
		padding-bottom:5px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right:0px;
	}
	.container.menuBar {
		padding:0px;
	}
	.navbar > .container .navbar-brand {
		margin-left:0px;
	}
}
.navbar-collapse, .navbar{
	background-color:#666666;
}
.navbar-default .navbar-brand, .navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand:focus {
    font-family:brandon-grot-w01-light, sans-serif;
    font-size:20px;
    width:475px;
    color:#FFFFFF;
    line-height:32px;
}
.navbar-default .navbar-brand b{
	line-height:1em;
	font-family: 'Cormorant', serif;
    font-size:21px;
    text-transform:uppercase;
    font-weight: normal;
}
.navbar-brand img {
    float: left;
    width: 90px;
    margin-right:20px;
}
@media(max-width:450px){
	.navbar-brand img {
		width: 60px;
		margin-top: 10px;
	}
	.navbar-default .navbar-brand, .navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand:focus {
		font-size:17px;
		width:300px;
		line-height: 1.3em;
	}
	.navbar-default .navbar-brand b{
		font-size:18px;
	}
}
.navbar .formOutline{
	background-color:#FFF;
	border:0px;
}
@media(min-width:768px){
	.navbar-form{
		margin-top:20px;
		margin-right:15px;
	}
}
@media(max-width:768px){
	.navbar-form{
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
ul.menuItems{
	background-color:#2b7c74;
	border:0px;
}
@media(max-width:768px){
	ul.menuItems{
		margin-left:0px;
	}
}
.navbar-nav > li{
	border-right:1px solid #666;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #529b8a;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-family:dinneuzeitgroteskltw01-_812426, sans-serif;
    text-transform:uppercase;
    font-size:14px;
    line-height:29px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:#529b8a;
	color:#FFF;
}
#footer{
	background-color:#666;
	color:#fff;
	text-align:center;
	font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
	line-height:1.2em;
	font-size: 14px;
	padding-top:25px;
	border:0px;
	height:275px;
	padding-top:30px;
}
#footer a{
	color:#fff;
	font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
	line-height:1.2em;
	font-size: 14px;
}
#footer .logo{
	margin-bottom:10px;
}
#footer .logo img{
	width:250px;
	height:auto;
}
#footer .funder img{
	width:200px;
	height:auto;
	padding:10px;
	background-color:#fff;
}
#footer .funder{
	margin-top:30px;
	font-style:italic;
}
@media(max-width:768px){
	#footer .text-right{
		text-align:center;
	}
	#footer .text-left{
		text-align:center;
	}
	#footer{
		height:410px;
	}
	#footer .funder{
		margin-top:0px;
	}
	#footer .funder img{
		margin-top:30px;
		margin-bottom:30px;
	}
	body{
		margin-bottom:410px;
	}
}

.staticPage {
    font-size: 18px;
    color:#000;
    line-height: 1.7em;
}
.staticPage img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.front H1 {
    font-size: 42px;
    line-height:1.5em;
    text-align:center;
    /*font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;*/
    font-family: 'Cormorant', serif;
    padding-top: 15px;
    color:#000;
    margin:140px 0px 100px 0px;
    text-shadow: 2px 2px 4px #fff;
}
.leaf_bg{
	background-image: url("../graphics/leaf_double.jpg");
	background-repeat: no-repeat;
  	background-position: top center;
  	margin-bottom:10px;
}
.leaf_bg > div{
	background-color: #dbeae7;
	background-color: rgb(219, 234, 231, .65);
}
@media(max-width:1024px){
	.leaf_bg{
		background-size: contain;
	}
	.front H1 {
		margin: 90px 0px 70px 0px;
		font-size:34px;
	}
}
@media(max-width:768px){
	.front H1{
		font-size:22px;
		margin-top:30px;
		margin-bottom: 40px;
	}
	.leaf_bg{
		background-position: center center;
	}
}
/* styles for front slideshow also apply to the Exhibition slideshow */
.frontSlide img {
    height: 300px;
    width: auto;
}
@media(max-width:1024px){
	.frontSlide img{
		height:250px;
	}
}
.exhibition .frontSlide img {
    height: 300px;
    width: auto;
}
.frontSlide {
    position: relative;
    background-color: transparent;
    padding: 20px 10px 0px 10px;
    text-align: center;
}
.exhibition .frontSlide {
    background-color: #f3f3f3;
}
.front .jcarousel-pagination{
	margin-top:10px;
}
.frontSlide .frontSlideCaption, .frontSlide:hover .frontSlideCaption {
    position: relative;
    opacity:1;
    background-color: #666666;
    font-family: 'Cormorant', serif;
    font-size:16px;
}
.front .jcarousel-wrapper {
    margin-bottom: 0px;
}

.front H2{
	/*font-family: dinneuzeitgroteskltw01-_812426, sans-serif;*/
	font-family: 'Cormorant', serif;
	font-size: 30px;
	text-align:center;
	margin-top:30px;
	text-transform:uppercase;
}
@media(max-width:768px){
	.front H2{
		font-size:20px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
}
.frontGallerySlideCaption{
	font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
	font-weight:bold;
}
.sectionLinks{
	padding-bottom:30px;
	background-color:#efefef;
}
.sectionLinks img{
	width:100%;
	height:auto;
	margin-bottom:10px;
	max-width:400px;
}
@media(max-width:991px){
	.sectionLinks img{
		margin-top:50px;
	}
}
@media(max-width:768px){
	.sectionLinks .first img {
		margin-top:20px;
	}
}
.sectionLinks a{
	font-family: 'Cormorant', serif;
	font-size: 24px;
	color:#000;
	font-weight:bold;
	display: block;
}
.sectionLinks a:hover img{
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* exhibition */
.exhibition H1, .gallery H1 {
    font-size: 36px;
    line-height:1.5em;
    text-align:center;
    /*font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;*/
    font-family: 'Cormorant', serif;
    text-transform:none;
    padding-top: 15px;
    color:#000;
    margin:10px 0px 40px 0px;
    position:relative;
    width:auto;
    display:inline-block;
    
    margin-left:110px;
    margin-right:110px;
}
.exhibition h1 img, .gallery h1 img {
    width: 100px;
    height: auto;
}
.exhibition h1 img.imgLeft, .gallery h1 img.imgLeft {
    position:absolute;
    left:-110px;  
    top: 20%;   
}
.exhibition h1 img.imgRight, .gallery h1 img.imgRight {
	position:absolute;
    right:-110px;
    top: 20%;  
}
.exhibition .introduction{
	font-size:18px;
	line-height:1.5em;
	margin-bottom:30px;
}
.gallery .introduction{
	font-size:18px;
	line-height:1.5em;
	margin-bottom:40px;
}
@media(max-width:1100px){
	.exhibition H1, .gallery H1 {
    	font-size: 30px;
    	margin-left:80px;
   		margin-right:80px;
    }
	.exhibition h1 img, .gallery h1 img {
		width: 70px;
	}
	.exhibition h1 img.imgRight, .gallery h1 img.imgRight {
		right:-80px;
		top:33%;
	}
	.exhibition h1 img.imgLeft, .gallery h1 img.imgLeft {
		left:-80px;
		top:33%;
	}
}
.exhibitionItem{
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	padding:10px;
	margin-bottom:30px;
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	background-color:#407e77;
	
}
.exhibitionItemImage img{
	width:100%;
	height:auto;
}
.exhibitionItemRow {
	display: flex;
    align-items: center;
}
.exhibitionItemText a{
	font-family: 'Cormorant', serif;
	font-size:20px;
	line-height:1.2;
	color:#FFF;
	font-weight: bold;
}
.fundingDisclaimer{
	font-style:italic;
	text-align:center;
	margin-top:40px;
	margin-bottom:40px;
}
.gallery #galleryDetailObjectInfo {
    font-size: 18px;
}
.gallery #galleryDetailObjectInfo H2 {
    font-size: 24px !important;
}
.galleryDetailImageGridContainer{
	background-color:#dbeae7;
	margin-top:20px;
}
.gallery #galleryDetailImageGrid img {
    background-color: #fff;
    border:0px;
}
.gallery #galleryDetailImageGrid .galleryIconActive img {
    background-color: #2b7c74;
    border:0px;
}
.gallery .featuresList{
	background-color:#666666;
	padding-top:70px;
	color:#FFF;
	position:relative;
	margin-bottom:30px;
}
.gallery .featuresList img{
	width:100%;
	max-width:300px;
	height:auto;
	margin-bottom:5px;
	-webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}
.gallery .featuresItem{
	padding-bottom:40px;
}
.gallery .featuresList a{
	font-family: 'Cormorant', serif;
	font-size: 20px;
	line-height: 1.2;
	color: #FFF;
	font-weight: bold;
}
.gallery .featuresList a:hover{
	text-decoration:none;
	color:#dbeae7;
}
.gallery .featuresList a:hover img{
	-webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.6);
}
.gallery .featuresList small{
	font-family:LatoLight;
	font-weight:normal;
	font-size:12px;
}
.gallery .featuresList a.galleryTop{
	position: absolute;
	z-index: 2000;
	bottom: -28px;
	right: 0px;
	display:none;
	font-size:13px;
	font-weight:400;
	font-family: Lato;
}
/* detail */

.detail {
    font-size: 16px;
    color:#000;
    line-height: 1.4em;
}
.detail label{
	font-family: 'Cormorant', serif;
	font-size:16px;
	margin-top:20px;
	color:#000;
}
.detail .unit a{
	color:#000;
	text-decoration:underline;
}
.detail h1 {
    font-size: 24px;
}
@media(max-width:768px){
	.detail h1{
		margin-top:50px;
	}
}
.entities.detail h1{
	font-size: 36px;
	margin-bottom:30px;
    position:relative;
    width:auto;
    display:inline-block;    
    margin-left:110px;
    margin-right:110px;
    padding-top:3px;
}
.entities.detail h1 img{
	width: 100px;
	height:auto;
	top:0px;
}
.entities.detail h1 img.imgLeft {
    position:absolute;
    left:-110px;
}
.entities.detail h1 img.imgRight {
	position:absolute;
    right:-110px;
}
@media(max-width:1100px){
	.entities.detail H1 {
    	font-size: 28px;
    	margin-left:80px;
   		margin-right:80px;
   		padding-top:15px;
    }
	.entities.detail h1 img {
		width: 70px;
	}
	.entities.detail h1 img.imgRight {
		right:-80px;
		top:30%;
	}
	.entities.detail h1 img.imgLeft {
		left:-80px;
		top:30%;
	}
}
.entityImages{
	padding:30px 30px 0px 30px;
	margin-bottom: 30px;
}
.entityImages a{
	color:#000;
}
.entityImages img{
	width:100%;
	height:500px;
	object-fit:contain;
}
@media(max-width:991px){
	.entityImages img{
		height:350px;
	}
}
.entityMain img{
	text-align:center;
}
.entityMain{
	margin-bottom:30px;
}
.entityImagesThumbs > div{
	padding-bottom:30px;
}
.entityImagesThumbs img{
	width:100%;
	height:auto;
}
.mainImageCaption{
	padding-top:5px;
	text-align:center;
	font-size:18px;
}
.detail #detailRepNav {
    font-size: 24px;
}
.detail .unit.fullscreen{
	display:block;
}
.detail .unit.mobile{
	display:none;
}
@media(max-width:768px){
	.detail .unit.fullscreen{
		display:none;
	}
	.detail .unit.mobile{
		display:block;
	}
}
/* browse */

.browseIntro{
	padding-bottom:20px;
	font-size:16px;
	color:#000;
	text-align: center;
	padding-top: 10px;
}
#bRefine{
	background-color:#FFF;
}
#bRefine H2, #bRefine H3{
	color:#000;
}
#bRefine a {
    font-size: 15px;
}
.bResultItem .bResultItemText a {
    color: #000;
    line-height: 1.2em;
    font-size: 15px;
}
.bResultListItemCol {
    height: 172px;
}
.bResultListItemContent {
    height: 120px;
}
.bResultListItem .bResultListItemImg {
    max-height: 120px;
}
.bResultListItem img {
    width: auto;
    height: 120px;
}
.bResultListItem:hover {
    height: 162px;
}
.bResultListItem .bResultListItemText a {
    font-size: 15px;
    color:#000;
}
.bResultItemExpandedInfo, .bResultListItemExpandedInfo{
	display:none !important;
}
.bResultItem .bResultItemText small a, .bResultListItem .bResultListItemText small a{
	font-size:12px;
}
.browseTop{
	position: fixed;
	z-index: 2000;
	bottom: 0px;
	right: 10px;
	display:none;
}
.results a.btn.browseTop .glyphicon{
	color:#fff !important;
}