<?php
	$vs_quote = $this->getVar("quote");
	if($vs_quote){
?>
		<div class="row">
			<div class="col-sm-12 col-md-offset-1 col-md-10">
				<H1 class="quote">{{{quote}}}</H1>
			</div>
		</div>
<?php
	}
?>
		<div class="row">
			<div class="col-sm-12 col-md-offset-1 col-md-10">
				<H1>{{{title}}}</H1>
				{{{bodytext}}}
			</div>
		</div>
<?php
	if ($t_page = $this->getVar("page")) {
		$va_media_files = $t_page->getPageMedia(array("mediumlarge"));
		if(is_array($va_media_files) && sizeof($va_media_files)){
?>
		<div class="row">
			<div class="col-sm-12 col-md-offset-1 col-md-10"><br/><br/>
<?php
				$i = 0;
				foreach($va_media_files as $va_media){
					if($i == 0){
						print "<div class='row'>";
					}
					print '<div class="col-sm-6 col-md-4 aboutLogo">';
					print $va_media["tags"]['mediumlarge'];
					print '</div>';
					$i++;
					if($i == 3){
						print "</div>";
						$i = 0;
					}
				}
				if($i > 0){
					print "</div>";
				}
?>		
			</div>
		</div>
<?php		
		}
	}
?>