		<div class="row">
			<div class="col-sm-12 col-md-offset-1 col-md-10">
				<H1>{{{hptitle}}}</H1>
				<H2>{{{hpsubtitle}}}</H2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-offset-1 col-md-10">
				<H1>{{{hptitle}}}</H1>
				<H2>{{{hpsubtitle}}}</H2>
				{{{hpdescription}}}
				<a href="{{{hpurl}}}">{{{hpbuttontext}}}</a>
				{{{hporder}}}
			</div>
		</div>
