<div class="row">
	<div class="col-sm-3 col-md-2">
		<div class="userGuideSideNav"><H2>{{{subnavTitle}}}</H2>{{{subnav}}}</div>
	</div>
	<div class="col-sm-9 col-md-10 col-lg-8 userGuideBody">
		<H1>{{{title}}}</H1>
		{{{bodytext}}}
	</div>
</div>
<script type='text/javascript'>
	jQuery(document).ready(function() {
		$('.trimText').readmore({
		  speed: 75,
		  maxHeight: 55
		});
	});
	
</script>