/* 
	COLORS: blue/Learn: #366791; Dark Blue/Teach: #2E536E; Blue Green/Practice: #294C3E; Dark Green/Explore: #475622; Light Green/Connect: #626801
			background: #F5F5E9; Header BG: #174F9C, Nav BG: #EDEDD8, Nav Highlight BG: #D6D6B9; Footer BG: #D6D6B9; orange:#EC7923
			Nav links/footer text: #585832; Nav divide: #C0BFA5;
*/
@font-face{
	font-family:'thesans5';
	src:url(fonts/thesans-5-regular.ttf);
	src:url(fonts/thesans-5-regular.ttf) format('truetype'), url(fonts/thesans-5-regular.woff) format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'thesans6';
	src:url(fonts/thesans-6-semibold.ttf);
	src:url(fonts/thesans-6-semibold.ttf) format('truetype'), url(fonts/thesans-6-semibold.woff) format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'thesans7';
	src:url(fonts/thesans-7-bold.ttf);
	src:url(fonts/thesans-7-bold.ttf) format('truetype'), url(fonts/thesans-7-bold.woff) format('woff');
	font-weight:normal;
	font-style:normal;
}
body{
	background-color: #F5F5E9;
	font-family: 'thesans5';
	font-size:13px;
}
a{
	color: #366791;
}
.container{
	max-width:980px;
}
@media (min-width: 768px) {
	#pageArea{
		min-height:500px;
	}
}
H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6{
	font-family: 'thesans6';
}
H1, h1{
	color:#2E536E;
	text-transform:none;
}
H2, h2{
	color:#475622;
}
H3, h3{
	text-transform:none;
	color:#366791;
}
H4, h4{
	color:#294C3E;
	line-height:135%;
}
H5, h5{
	font-size: 14px;
	color:#2E536E;
	text-transform:none;
}
H6, h6{
	color:#2E536E;
	text-transform:none;
	padding-bottom:0px;
	margin:10px 0px 0px 0px;
}
.form-control:focus {
    border-color: #000000;
}
.btn-default, .detail .btn-default {
    background-color: #EC7923;
    border-color: none;
    color:#FFF !important;
    text-shadow: none;
    font-size: 19px;
    text-transform: capitalize;
    padding:12px 0px 12px 0px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	border-radius: 9px;
	font-family:'thesans6';
	display:inline-block;
	text-align:center;
	line-height:1em;
	text-decoration:none;
}
.btn-default:hover {
    background-color: #EC7923;
}
.front .btn-default {
	width:100%;
}
.detail .btn-default, .loginreg  .btn-default{
	padding:12px 20px 12px 20px !important;
}
.btn-default img, .detail .btn-default img{
	margin-left:20px;
	max-width:40px;
	height:auto;
}
.btn-default i, .detail .btn-default i{
	margin-left:20px;
	font-size:30px;
	position:relative;
	margin-top:-10px;
	top:5px;
}
.btn-default span{
	margin-left:15px;
	font-size:20px;
	position:relative;
	margin-top:-10px;
	top:5px;
}
.componentButtonCol .btn-default i, .componentButtonCol .detail .btn-default i, .authorComponentButtonCol .btn-default i{
	margin-left:0px;
	font-size:16px;
	line-height:1em;
	margin-top:0px;
	top:0px;
}
.componentButtonCol .btn-default span, .authorComponentButtonCol .btn-default span{
	margin-left:5px;
}
.componentButtonCol .btn-default, .authorComponentButtonCol .btn-default{
	padding:8px !important;
	font-size:16px;
	line-height:1em;
}
.authorComponentButtonCol .btn-default{
	margin-right:10px;
}
.authorComponentButtonCol{
	float:left;
	margin-right:15px;
}
.btn-default:hover, .detail .btn-default:hover{
	color:#F5F5E9;
	text-decoration:none;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.5);
}
.btn-blue, .btn-blue:hover{
	background-color: #2E536E !important;
}
.btn-orange, .btn-orange:hover{
	background-color: #EC7923 !important;
}

/* tabs */
.tabContainer, #bRefine{
	background-color:#FFFFFF;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	padding:0px;
}
.front .tabContainer{
	margin-top:30px;
}
.tab, #bRefine H3{
    background-color:#2E536E;
    color:#FFF;
    font-size: 19px;
    text-transform: capitalize;
    padding:18px 0px 18px 0px;
	font-family:'thesans5';
	width:100%;
	display:inline-block;
	text-align:center;
	line-height:1em;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}
.tabBody{
	padding:25px 40px 25px 40px;
	background-color:#FFFFFF;
	font-family:'thesans5';
	color: #2E536E;
	font-size:17px;
	min-height:370px;
	line-height:1.2em;
}
.front .tabBody{
	max-height:370px;
	overflow:auto;
}
.tabBody ul{
	padding-left:0px;
}
.tabBody ul li{
	padding-bottom:20px;
}
.tabBody ul.noMarker{
	list-style-type:none;
}
/* header */
.headerTitle img{
	height:auto;
	width:100%;
	max-width:525px;
	padding:8px 0px 15px 0px;
}
.headerContainer{
	background-color:#174F9C;
	padding-top:1px;
}
.headerContainer .navbar-form{
	margin-top:5px;
	width:220px;
	margin-right:-5px;
}
.headerContainer .navbar-form button, .navbar .navbar-form button{
	height:17px;
	padding:0px;
	margin:4px 0px 4px 0px !important;
	color: #585832;
}
.headerContainer .form-group {
	width:155px;
	padding:0px;
	height:auto;
}
.headerContainer .form-control, .navbar .form-control {
	padding: 0px 5px;
  	border: 0px;
  	border-radius: 5px;
	-webkit-box-shadow: none;
		  box-shadow: none;
	-webkit-transition: none;
		  transition: none;
	height:auto;
}
.headerContainer .form-control:focus, .navbar .form-control:focus {
	border: 0px;
	outline: 0;
	-webkit-box-shadow: none;
          box-shadow: none;
} 
.headerContainer .formOutline, .navbar .formOutline{
	border:0px;
	border-radius: 0px;
	position:relative;
	background-color:#FFFFFF;
}
@media (min-width: 768px) {
	.headerContainer .formOutline{
		margin:5px 0px 0px 20px;
	}
}
.btn-search{
	color: #585832;
}
#google_translate_element{
	margin:8px 0px 0px 0px;
	position:relative;
	float:right;
}
.navbar-toggle{
	border-color:#585832 !important;
}
.icon-bar{
	background-color:#585832 !important;
}
/* display the search box and translate dropdown in the navbar for smaller sizes */
@media (min-width: 768px) {
	.navbar .navbar-form{
		display:none;
	}
}
@media (max-width: 768px) {
	.headerContainer .navbar-form{
		display:none;
	}
	#google_translate_element{
		display:none;
	}
}
@media (max-width: 767px) {
	.navbar .navbar-form, .navbar .form-group {
		width:80%;
	}
	.navbar .navbar-form{
		float:left;
		padding:0px;
		margin-left:0px;
	}
	.navbar .navbar-form button{
		margin-top:0px !important;
	}
	.navbar .form-control{
		margin-top:2px;
	}
}
.navbar-header .icon-bar{
	width:15px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 2px;
}
.navbar-toggle {
  padding: 5px 6px;
}
.navbar-toggle:hover{
	background-color: #D6D6B9 !important;
}
/* navbar */
.navbar{
	background-color:#EDEDD8;
	border:0px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
nav, .navbar, .navbar-default{
	min-height:10px !important;
}
.nav li a{
	margin:0px 0px 0px 0px;
	text-transform:none;
	font-size:15px;
	color:#585832 !important;
	font-family: 'thesans5', sans-serif !important;
}
@media (min-width: 768px) {
	.nav li a{
		font-size:14px !important;
		padding:0px 20px 0px 20px;
		margin:0px 0px 0px 0px;
		border-left: 1px solid #C0BFA5;
	}
	.nav li:last-child a{
		border-right: 1px solid #C0BFA5;
	}
}
@media (min-width: 960px) {
	.nav li a{
		padding:0px 29px 0px 29px;
		font-size:17px !important;
	}	
	ul.nav {
		border-right: 1px solid #C0BFA5;
		width:100%;
	}
	.nav li:last-child a{
		border-right: 0px;
		padding-right:30px;
	}
}
.navbar{
	min-height:auto;
}
.dropdown-menu{
	font-size:12px;
	padding:5px 0 5px 0;
	border-radius: 0px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.176);
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li:hover {
  	background-color: #D6D6B9;
    color: #585832;
}
.navbar .navbar-nav li.dropdown a:focus, .navbar .navbar-nav li.dropdown a:active, .navbar .navbar-nav li.dropdown a:visited {
	background-color: #D6D6B9 !important;
	color: #585832;
}
.nav > li > a {
	font-family: 'thesans5', sans-serif !important;
	font-size:17px;
	color:#585832;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a:focus, .nav > li.active > a {
	font-family: 'thesans5', sans-serif !important;
	font-size:17px;
	color:#585832 !important;
	border:0px;
}
@media (min-width: 768px) {
	.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a:focus, .nav > li.active > a, .nav > li.dropdown > a {
		border-left: 1px solid #C0BFA5 !important;
	}
}
.dropdown-menu > li > a, .dropdown-menu > li{
	border:0px !important;
}
.nav > li.dropdown > a:hover, .nav > li.dropdown > a:focus {
	font-family: 'thesans5', sans-serif !important;
	font-size:17px;
	color:#585832 !important;
}
.nav .dropdown-menu a:hover{
	background-color: #D6D6B9 !important;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}
.navbar-nav > li > a {
    line-height: 38px;
} 

/* Footer */
#footer{
	background-color:#D6D6B9;
	margin:50px 0px 0px 0px;
	border-top: 0px;
	font-size:11px;
	color: #585832;
	line-height:3em;
	padding:0px;
	text-align:center;
}

#footer a, #footer ul a{
	text-decoration:none;
	color:#585832;
	text-transform:uppercase;
}
#footer ul li{
	padding:2px;
}

@media (min-width: 768px) {
	#footer{
		text-align:left;
		font-size:12px;
	}
	#footer ul{
		float:right;
	}
	#footer ul li{
		padding:0px 5px 0px 5px;
	}

}
#footer a.social{
	font-size:20px;
	position:relative;
	top:3px;
}
/* --------------------------------- */
/* front page */
/* --------------------------------- */
.front H1{
	color:#2E536E;
	line-height:1em;
	text-transform:none;
	padding:10px 0px 10px 0px;
	font-size:16px;
	text-align:center;
	font-family: 'thesans6';
}
.front H2{
	color:#2E536E;
	line-height:1.3em;
	text-transform:none;
	padding:10px 0px 10px 0px;
	font-size:16px;
	text-align:left;
	font-family: 'thesans5';
}
h2#hpSectionText{
	min-height:110px;
	font-size:17px;
}
@media (min-width: 768px) {
	.front H1 {
		font-size:28px;
		padding:20px 0px 20px 0px;
	}
}
.hp_icons{
	text-align:center;
	position:relative;
	max-width:750px;
	margin:0px auto 0px auto;
}
.hp_icons img{
	height:auto;
	width:100%;
	max-width:750px;
}
.hp_icons .learnSlice{
	width:23%;
	height:65%;
	position:absolute;
	z-index:5;
	top:35%;
	left:0px;
}
.hp_icons .exploreSlice{
	width:17%;
	height:65%;
	position:absolute;
	z-index:5;
	top:0px;
	left:23%;
}
.hp_icons .practiceSlice{
	width:20%;
	height:65%;
	position:absolute;
	z-index:5;
	top:35%;
	left:40%;
}
.hp_icons .teachSlice{
	width:17%;
	height:65%;
	position:absolute;
	z-index:5;
	top:0px;
	left:60%;
}
.hp_icons .connectSlice{
	width:20%;
	height:65%;
	position:absolute;
	z-index:5;
	top:35%;
	left:77%;
}
.frontFormGroup{
	background-color:#FFF;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	position:relative;
}
.frontFormGroup .btn-search{
	float:right;
	right:0px;
	top:0px;
	position:absolute;
	font-size:30px;
	color:#EC7923;
	line-height:.9em;
	cursor:pointer;
}
.frontFormGroup .form-control{
	border:0px;
	-webkit-box-shadow:none;
	box-shadow:none;
	padding:10px 30px 10px 10px;
	font-size:18px;
	height:auto;
	line-height:1.3em;
}
@media (max-width: 767px) {
	.frontFormGroup{
		margin-top:20px;
	}
}
/* BROWSE */
#bRefine{
	padding-bottom:20px;
}
#bRefine H3{
	padding:15px 0px 15px 0px;
}
#bRefine H5, #bRefine div{
	padding-left:25px;
	padding-right:25px;
	color:#2E536E;
}
#bRefine H5{
	text-transform:capitalize;
	font-family:'thesans6';
	font-size:18px;
	margin-top:35px;
}
#bRefine div, #bRefine div a{
	font-family:'thesans5';
	font-size:15px;
	color:#2E536E;
}
.results H1 {
	font-size:22px;
	font-family:'thesans5';
	text-transform:capitalize;
}
.bResItem{
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	background-color:#FFFFFF;
	padding:15px;
	margin-top:15px;
}
.bResItem H1, .bResItem H1 a{
	font-size:19px;
	color:#2E536E;
}
.bResItem a .fa{
	font-size:40px;
	color:#2E536E;
	padding:5px 15px 15px 15px;
}
.bResContent{
	font-size:14px;
	color:#000;
	font-family:'thesans5';
	margin-top:15px;
	line-height:1.2em;
}
/*  DETAIL  */
.detailBox{
	background-color:#FFFFFF;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	padding:25px;
	margin:0px 0px 40px 1px;
	font-size:15px;
}
.detailBoxTop{
	margin:-20px 0px 40px 1px !important;
}
.detailBox p{
	line-height:1.5em;
	padding-bottom:5px;
}
.detailBox a{
	color:#626801;
	text-decoration:none;
}
.detailBox b{
	color:#2E536E;
	font-weight:normal;
}
@media (max-width: 768px) {
	.gallery .detailBoxTop{
		margin-top:20px !important;
	}
}
.detail H1{
	font-size:20px;
	font-family: 'thesans6';
	text-transform:capitalize;
}
/*.detail .detailBoxTop H1{
	font-family: 'thesans5';
}*/
@media (min-width: 768px) {
	.detail H1{
		font-size:24px;
	}
}
.detail H2{
	color:#2E536E;
	font-family: 'thesans6';
	margin-bottom:0px;
}
.detail H2 a{
	text-decoration:none;
}
@media (max-width: 767px) {
	.detail .detailNav{
		display:none;
	}
}
.detailNav a{
	font-size:24px;
	color:#2E536E;
	text-decoration:none;
	padding-left:5px;
}
.detailNav a:hover{
	color:#626801;
}
.detail .navTop{
	margin:-10px 0px 5px 0px;
}
.detail .navTop a{
	background-color:transparent;
	font-size:18px;
	color:#2E536E;
	text-decoration:none;
	padding-left:5px;
	border:0px;
}
@media (min-width:768px){
	.detail .detailBox.bottom{
		margin-left:-30px;
		min-height: 625px;
	}
}
.detail .componentSection{
	padding-bottom:25px;
}
.detail HR.sectionHR{
	border-top:2px solid #366791;
	height:0px;
	margin-top:30px;
}
.detail .componentSection .btn-default{
	margin:10px 0px 10px 0px;
}
@media (min-width:768px){
	.detail .componentButtonCol{
		text-align:right;
	}
	.detail .detailBoxTop .componentButtonCol{
		text-align:left;
	}
}
@media (max-width:767px){
	.detail .compTab{
		display:none;
	}
}
.detail .compViewAll{
	padding:8px 0px 15px 24px;
}
.detail .compViewAll a{
	color: #2E536E;
	font-size:20px;
	font-family:'thesans5';
}
.detail .compViewAll a:hover{
	text-decoration:none;
}
.detail .compViewAll a i{
	padding-right:31px;
	font-size:40px;
	position:relative;
	top:5px;
}
.detail .compTab{
	padding:12px 0px 12px 12px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
	font-family:'thesans5';
	color:#FFF;
	font-size:22px;
	margin:0px 0px 20px 0px;
}
.detail .compTab.inactiveTab{
	opacity:.4;
}
.detail .compTab.highlightTab{
	margin-right:-8px;
	z-index:10;
	position:relative;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-box-shadow:0 2px 6px rgba(0, 0, 0, 0.6);
	box-shadow:0 2px 6px rgba(0, 0, 0, 0.6);
}
.detail a .compTab, .detail .compTab a{
	color:#FFF;
}
.detail a:hover .compTab, .detail .compTab a:hover{
	color:#FFF;
}
.detail .compTab .imgContainer{
	float:left;
	margin-right:20px;
	width:60px;
	text-align:center;
}
.detail .compTab .imgContainer img{
	max-height:62px;
	width:auto;
}
.learn{
	background-color:#366791;
}
.detail .compTab span{
	margin:15px 0px 15px 0px;
	display:inline-block;
}
.teach{
	background-color:#475622;
}
.practice{
	background-color: #294C3E;
}
.practice img{
	margin-top:-5px;
}
.explore{
	background-color: #2E536E;
}
.connect{
	background-color: #626801;
}

/*  Gallery */
.galleryBackLink a{
	font-size:24px;
	color:#2E536E;
	text-decoration:none;
	float:left;
	margin-right:5px;
	margin-top:-5px;
}
@media (min-width: 768px) {
	.galleryBackLink{
		float:right;
		margin:0px;
	}
}
.galleryIcon {
	text-align:center;
}
.galleryIcon img{
	width:100%;
	max-width:200px;
	height:auto;
}
.galleryIconDetail{
	margin:0px 0px 10px 0px;	
}
@media (min-width: 768px) {
	.galleryIconDetail{
		float:left;
		margin:0px 20px 10px 0px;
	}
}
.gallery .bResItem a.blueButton .fa{
	font-size:40px;
	color:#2E536E;
	padding:5px 15px 15px 15px;
}
.gallery .bResItem .btn-default {
    padding: 8px !important;
    font-size: 16px;
    line-height: 1em;
    position:relative;
    top:-8px;
}
.gallery .bResItem .btn-default i {
    margin-left: 0px !important;
    font-size: 16px;
    line-height: 1em;
    margin-top: 0px;
    top: 0px;
    color:#FFF;
	padding:0px !important;
}
.gallery .galleryLoginMessage{
	float:right;
	font-size:13px;
	padding-top:5px;
}
#caFormOverlay H1{
	background-color:#2E536E;
	color:#FFF;
	padding:15px;
	margin:-20px -15px 10px -15px;
}
#caFormOverlay .glyphicon{
	color:#FFF;
	font-size:20px;
	padding-top:5px;
}
#caFormOverlay .btn-default{
	padding-left:15px;
	padding-right:15px;
}
#caFormOverlay  #RegForm H1{
	margin-bottom:0px;
}
#caFormOverlay  #RegForm .row{
	background-color: #2E536E;
	margin-top:-20px;
	margin-bottom:15px;
	padding-top:20px;
	padding-bottom:0px;
}
@media (min-width: 768px){
	#caFormOverlay{
		margin:10% auto 0px auto;
	}
	#caFormOverlay.regOverlay{
		width:900px;
	}
}
label{
	text-transform:none;
	font-weight:normal;
	font-size:15px;
}
#caFormOverlay H1{
	font-family:'thesans5';
}
#caFormOverlay{
	font-size:15px;
}
.form-control {
    font-size: 13px;
}