<?php
	$vs_image_url = __CA_THEME_URL__."/assets/pawtucket/graphics/collections_home.jpg";
?>
	<div id="main-background" style="background-image:url(<?php  print $vs_image_url; ?>)"></div>

	<div class="content-narrow">
		<h1>{{{title}}}</h1>
		{{{bodytext}}}
	</div><!--end col-sm-8--> 