/* Stylesheet used by DOMPDF to format PDF summary output */

@page { margin: 55px 66px; }
#header { position: fixed; left: -30px; top: -40px; right: 0px; height: 55px;  text-align: left; vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; }
#footer { position: fixed; left: 0px; bottom: -50px; right: 0px; height: 20px; text-align: center; vertical-align: bottom; margin: 0px 5px 10px 5px; padding: 3px 5px 2px 10px; }
#header .pagingText:after { content: counter(page, decimal); }
#body { z-index: 30000; }
a {color: #000; text-decoration:none;}

#header img { width:185px;height:21px; }
.headerText { font: "Sans Light"; font-size: 11px; margin: -5px 0px 10px 25px; }
.pagingText { position: absolute; top: 10px; right: 10px; font: "Sans Light"; font-size: 11px; text-align: right;  margin: -5px 0px 10px 25px; }
.footerText { font: "Sans Light"; font-size: 11px; margin: -5px 0px 0px 45px;  }

table#displayValues {margin-left:-20px;}
td.label { font: "Sans Light"; font-size: 11px; text-transform: uppercase; text-align: left; width: 70px; font-weight:bold; padding:4px; border-bottom: 1px solid #eee;}
td.value { font: "Sans Light"; font-size: 11px; width: 400px; padding:4px; margin-left:-3px;}
td.value.tombstone { padding-top:0px; padding-bottom:0px;}
tr.data { font: "Sans Light"; font-size: 11px; border-bottom: 1px solid #eee; }
.title { font: "Sans Light"; font-size: 14px; width:100%; margin-top:0px; text-align: center; font-style:italic;}
.representationList { width: 100%; margin-top:10px; margin-bottom:20px;text-align: center; }
.tombstone { font: "Sans Light"; font-size: 11px;}

.thumbnail { font: "arial, helvetica, sans-serif"; font-size: 11px; border: 1px solid #999; width: 200px; height: 160px; float: left; text-align: center; margin-left: 10px; padding: 5px; overflow: none;}	
.clear { clear: both; }