/*
	Colors --- 	dark blue: #021d26; dark blue 80%: #0a4962; dark blue 60%: 487089#; dark blue 40%: #7f9bb1; dark blue 20%: #bccad8;  
				light blue: #6fb1c8; light blue 40%: #cae0e9; light blue 20%: $e4eff4; 
				Resource center blue: #2c85b8;
*/
body{
	font-family: 'Radley', serif;
	color:#000;
	font-size:15px;
	background-color:#021d26;
	padding-top: 194px;
}
b, strong {
    font-family: 'Radley', serif;
}
.capitalize{
	text-transform:capitalize;
}
body.initial{
	padding-top:0px;
}
.container{
	background-color:#FFF;
	max-width:1400px;
}
footer div{
	max-width:1400px;
	margin-left:auto;
	margin-right:auto;
}
#footer{
	background-color:transparent;
}
H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6 {
    font-family: 'Radley', serif;
    font-weight: normal;
    font-style: normal;
    text-transform:none;
    color:#000;
}
H1, h1{
	font-size:34px;
	font-weight: normal;
    font-style: normal;
}
H2, h2{
	font-size:20px;
	font-weight: normal;
    font-style: italic;
}
#pageArea{
	padding-top:20px;
	padding-left:15px;
	padding-right:15px;
	min-height:550px;
	font-family: 'Radley', serif;
}
#pageArea.front, #pageArea.detail{
	padding-left:0px;
	padding-right:0px;
}
#pageArea.detail{
	padding-bottom:30px;
}
.bgDarkBlue{
	background-color:#0a4962;;
}
.bgDarkerBlue{
	background-color:#021d26;;
}
.bgLightBlue{
	background-color:#6fb1c8;
}
.bgLighterBlue{
	background-color:#cae0e9;
}
.bgLightGray{
	background-color:#f2f2f2;
}
a, a:hover, a:focus, .detail a {
    color: #2c85b8;
}
.btn-default{
	background-color:#6fb1c8;
	font-family: 'Radley', serif;
	font-weight:normal;
}
.btn-default:hover, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color:#2c85b8;
	font-weight:normal;
}
a.btn-default{
	text-decoration:none;
}
.menuBar{	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.initial .menuBar{	
	-webkit-box-shadow: 0px -12px 12px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -12px 12px 4px rgba(0,0,0,0.3);
	box-shadow: 0px -12px 12px 4px rgba(0,0,0,0.3);
}
body > .container{	
	-webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.3);
}
.navbar{
	margin-bottom:0px;
	background-color:#FFF;
	position:fixed;
	width:100%;
	top:0px;
}
body.initial .navbar{
	position:relative;
	background-color:#021d26;
}
@media (min-width: 768px) {
	body.initial .navbar {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.navbar-brand{
	padding-top: 14px;
}
/*@media (min-width: 768px) and (max-width: 950px) {
	.navbar-brand{
		display:none;
	}
}*/
body.initial .navbar-brand{
	width:200px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15px;
	margin-left:0px;
	display:block;
}
@media (min-width: 500px) {
	body.initial .navbar-brand{
		width:300px;
		padding-left: 30px;
	}
}
@media (min-width: 768px) {
	body.initial .navbar-brand{
		width:400px;
		padding-left: 30px;
	}
}
body.initial .navbar-toggle {
    margin-top: 35px;
}
.navbar-toggle {
    margin-top: 20px;
}
.menuContainer{
	clear:none;
	display:inline;
}
body.initial .menuContainer{
	clear:both;
	display:block;
	text-align:center;
	/*background-color:#0a4962;*/
}
@media (min-width: 768px) {
	body.initial .menuContainer{
		background-color:#0a4962;
	}
}
@media (min-width: 1010px) {
	body.initial .menuContainer{
		margin-left:-15px;
		margin-right:-15px;
	}
}
.menuItems{
	float:none !important;
	display:table;
	border:0px;
	margin-left:auto;
	margin-right:auto !important;
	margin-bottom:0px !important;
	margin-top:22px;
}
body.initial .menuItems{
	margin-top:0px;
}
ul.menuItems{
	border:0px;
}
@media (min-width: 768px) {
	ul.menuItems{
		width:auto;
	}
}
.navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a{
	color:#021d26 !important;
	font-family: 'Radley', serif;
	font-size:16px;
	font-weight:normal;
	line-height:1em;
	background-color:transparent !important;
}
@media (max-width: 768px) {
	.navbar-default .navbar-nav > li {
		text-align:center;
	}
}
@media (min-width: 768px) and (max-width: 950px) {
	.navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a{
		font-size:14px;
	}
	.navbar-form .form-group{
		width:80px;
	}
}
.initial .navbar-form .form-group{
	width:140px;
}
.navbar-default .navbar-nav.menuItems > li > a:hover, .navbar-default .navbar-nav.menuItems > li > a:focus, .navbar-default .navbar-nav.menuItems > li > a:active, .navbar-default .navbar-nav.menuItems > li.active > a{
	color:#FFF !important;
}
@media (min-width: 768px) {
	.navbar-default .navbar-nav.menuItems > li > a:hover, .navbar-default .navbar-nav.menuItems > li > a:focus, .navbar-default .navbar-nav.menuItems > li > a:active, .navbar-default .navbar-nav.menuItems > li.active > a{
		color:#2c85b8 !important;
	}
}
@media (min-width: 768px) {
	body.initial .navbar-default .navbar-nav.menuItems > li, body.initial .navbar-default .navbar-nav.menuItems > li > a, body.initial .navbar-default .navbar-nav.menuItems > li > a:hover, body.initial .navbar-default .navbar-nav.menuItems > li > a:focus, body.initial .navbar-default .navbar-nav.menuItems > li > a:active, body.initial .navbar-default .navbar-nav.menuItems > li.active > a{
		color:#FFF !important;
		font-size:18px;
	}
}
.nav > li > a{
	padding-top:20px;
}
.nav.menuItems > li > a{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}
@media (max-width: 768px) {
	.nav.menuItems > li > a{
		padding-top:10px;
		padding-bottom:10px;
	}
}
@media (min-width: 1100px) {
	.nav.menuItems > li > a{
		padding-left:20px;
		padding-right:20px;
	}
}
body.initial .nav.menuItems > li > a{
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
}
@media (min-width: 1010px) {
	body.initial .nav.menuItems > li > a{
		padding-left:30px;
		padding-right:30px;
		padding-top:15px;
		padding-bottom:15px;
	}
}
body.initial .navbar-default .navbar-nav.menuItems > li{
	margin-right:1px;
}
body.initial .navbar-default .navbar-nav.menuItems > li:hover, body.initial .navbar-default .navbar-nav.menuItems > li:focus, body.initial .navbar-default .navbar-nav.menuItems > li:active, body.initial .navbar-default .navbar-nav.menuItems > li.active, body.initial .navbar-default .navbar-nav.menuItems > li.active:hover{
	background-color:#6fb1c8 !important;
}
@media (max-width: 768px) {
	.navbar-default .navbar-nav.menuItems > li:hover, .navbar-default .navbar-nav.menuItems > li:focus, .navbar-default .navbar-nav.menuItems > li:active, .navbar-default .navbar-nav.menuItems > li.active, .navbar-default .navbar-nav.menuItems > li.active:hover{
		background-color:#6fb1c8 !important;
	}
}
.nav > li.dropdown > a.icon{
	font-size:18px !Important;
}
body.initial #user-navbar{
	margin-top:43px;
}
@media (min-width: 768px) {
	body.initial .navbar-form{
		margin-top:50px;
	}
}
.navbar-toggle-user{
	padding: 6px 10px 5px 10px;
}
.advSearchLinkTop{
	display:none;
}
@media (min-width: 768px) {
	.advSearchLinkTop{
		display:block;
	}
}
.advSearchLinkTop{
	padding-left:5px;
}
@media (min-width: 1010px) {
	.advSearchLinkTop{
		padding-left:20px;
	}
}
.advSearchLinkTop a{
	font-size:12px;
}
.navbar .subTitle{
	color:#021d26;
	font-size:27px;
	font-weight: normal;
    font-style: italic;
    float:right;
    margin-top:15px;
    margin-right:14px;
    display:none;
}
body.initial .navbar .subTitle{
	display:block;
}
.navbar-form .formOutline{
	border-radius:0px;
}
.filterMenuFacetList li.active {
    background-color: #021d26;
}
.filterMenuFacetList li{
	border-radius:0px;
}
.filterMenuFacetList li a {
    color: #000;
}
body.initial #browse-menu{
	border:0px;
}
.browseFacetItem a, .browseFacetItem a:focus, div.browseFacetItem a:hover{
	color: #021d26;
}
div.browseFacetItem{
	background-color:#e4eff4;
	padding-top:0px;
}
div.browseFacetItem:hover{
	background-color:#cae0e9;
}
@media (min-width: 768px) {
	div.browseFacetItem a{
		display: table-cell;
    	height: 55px;
    	vertical-align: middle;
	}
}
.nav > li.mobileLink{
	display:block;
}
.nav > li.yamm-fw{
	display:none;
}
@media (min-width: 768px) {
	.nav > li.mobileLink{
		display:none;
	}
	.nav > li.yamm-fw{
		display:block;
	}
}

#bRefine .search_note{
	line-height:1.3em;
	font-weight:normal;
	font-size: 13px;
	color:#666666;
	margin-top:30px;
}
/* footer */
#footer {
	border-top:0px;
	position:relative;
}
#footer > div{
	padding:30px 0px 30px 0px;
}
@media (min-width:768px){
	#footer > div{
		padding:10px 30px 30px 30px;
	}
}
#footer{
	color:#fff !important;
	font-family: 'Radley', serif;
	font-size:14px;
	height:auto;
	text-align:center;
}
#footer img{
	margin-right:0px;
	max-width: 200px;
}
@media (min-width:768px){
	#footer img{
		float:left;
	}
}
#footer .address{
	text-align:center;
	clear:left;
	line-height:1.2em;
	font-size:12px;
}
#footer ul.social.pull-right{
	float:none !important;
	clear:left;
	margin-top:25px;
}
@media (min-width:768px){
	#footer .address{
		clear:right;
		float:right;
		text-align:right;
	}
	#footer ul.social.pull-right{
		float:right !important;
		clear:none;
		margin-right:0px;
		margin-top:0px;
	}
	#footer img{
		margin-right:30px;
	}
}
#footer .address i{
	font-size:14px;
}
#footer ul.social{
	padding-bottom:10px;
	padding-top:0px !important;
	margin-bottom:15px;
	border-bottom:1px solid #6fb1c8;
	font-size: 25px;
}
#footer ul.social li{
	padding-left:5px;
	padding-right:5px;
}
#footer ul a {
    color: #6fb1c8;
}

#footer ul a, #footer a {
    color: #6fb1c8;
}

/* front */
/*.front .jcarousel-wrapper{
	margin-top:0px;
}
.front .frontSlide{
	background-color:#021d26;
}
.front .frontSlide img{
	width:100%;
	height:auto;
	float:none;
}
.front div.slideTextRight{
	margin-top:20px;
	margin-left:20px;
	margin-right:35px;
}
@media (min-width:992px){
	.front div.slideTextRight{
		margin-top:50px;
		margin-left:50px;
		margin-right:65px;
	}
}
.front div.slideTextLeft{
	margin-top:20px;
	margin-left:35px;
	margin-right:10px;
}
@media (min-width:992px){
	.front div.slideTextLeft{
		margin-top:50px;
		margin-left:65px;
		margin-right:40px;
	}
}
.front .frontSlide h2{
	color:#FFF;
	font-size:30px;
	margin-bottom:20px;
}
@media (min-width:992px){
	.front .frontSlide h2{
		font-size:45px;
		margin-bottom:50px;
	}
}
.front .frontSlide p{
	color:#FFF;
	font-size:12px;
	line-height:1.4em;
}
@media (min-width:768px){
	.front .frontSlide p{
		font-size:16px;
	}
}
.frontSlide .btn-default{
	margin-bottom:30px;
}
*/
.front .jcarousel-wrapper{
	margin-top:0px !important;
}
.front{
	padding-top:15px !important;
}
.front h1{
	color: #021d26;
	font-family: 'Radley', serif;
	margin:50px 0px 90px 0px;
	font-size:28px;
	line-height:1.5em;
	text-align: center;
}
.frontSlide:hover .frontSlideCaption {
    background-color: rgba(2, 29, 38, 0.5);
}
.frontSlide:hover .frontSlideCaption a:hover{
	color:#FFF;
}
.front .galleryItems{
	margin-bottom:20px;
}
.front .galleryItems li{
	width:250px;
	margin:20px;	
}
.front .galleryItems img{
	width:100%;
	height:auto;
}
.front .galleryItems li{
	padding-right:0px;
}
.front .bgLightBlue H2{
	color:#FFF;
	padding-left:20px;
	font-size:24px;
}
.front .bgLighterBlue H2{
	color:#021d26;
	padding-left:20px;
	font-size:30px;
}
.front .jcarousel-control-prev.galleryItemsNav, .front .jcarousel-control-next.galleryItemsNav{
	margin-top: -80px !important;
}
.frontSlideCaption a:hover {
    color: #FFF;
    text-decoration:none;
}
.front .frontSlideCaption{
	background-color:#021d26;
	padding:5px 10px 5px 10px;
}
.front .jcarousel-pagination a.active {
    background: #2c85b8;
    color: #2c85b8;
}
.front .jcarousel-pagination a {
    border-color: #2c85b8;
}
/* hp explore */
h2.frontSubHeading{
	color: #021d26;
  	padding-left: 20px;
  	font-size: 30px;
}
.hpExplore{
	padding-top:30px;
	margin-bottom: 30px;
}
.hpExploreBox{
	margin-bottom: 45px;
}
.hpExploreBox .hpExploreBoxImage {
	height:240px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.3);
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage1{
	background-image: url('../graphics/manuscripts.jpg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage2{
	background-image: url('../graphics/people.jpeg');
}
.hpExploreBox .hpExploreBoxImage.hpExploreBoxImage3{
	background-image: url('../graphics/manuscripts.jpg');
}
.hpExploreBox .hpExploreBoxDetails {
	padding: 15px 13px 22px;
	text-align:center;
}
.hpExploreBox .hpExploreBoxTitle, .hpExploreBox .hpExploreBoxTitle a {
	font-size:20px;
	line-height:28px;
	color:#000;
	margin-bottom:6px;
}
.hpExploreBox .hpExploreBoxTitle a:hover {
	text-decoration:none;
}

/* browse */
#bRefine.fixed {
    top: 75px;
}
.browse .btn, .sets .btn {
    background-color: #6fb1c8;
}
.bResultItem .bResultItemText {
    font-size: 13px;
    line-height: 1.1em;
}
.bResultItemExpandedInfo{
	line-height:1.3em;
}
#bSortByList ul li{
	font-size:12px;
}
@media (max-width:400px){
	#bSortByList ul li{
		margin-left:1px;
		margin-right:1px;
	}
}
@media (min-width:1040px){
	#bSortByList ul li{
		font-size:15px;
	}
}
#bSortByList {
	float: none;
	margin-bottom:10px;
}
@media (min-width:1040px){
	#bSortByList {
		float: right;
		margin-top:10px;
		margin-bottom:0px;
	}
}
#bRefine H5 a{
	font-size:14px;
}
.results H1 {
	font-size: 28px;
}
.multisearchFullResults{
	margin-left:30px;
}
.multisearchSort{
	text-transform:uppercase;
}
.multisearchSort a{
	text-transform:capitalize;
}
.multisearch .pull-right{
	font-family: 'Radley', serif;
}
#objectsBlock{
	overflow:visible;
}
.collectionPathResults{
	padding-top:5px;
}
.multisearch .multisearchResult {
  line-height: 1em;
  font-size: 13px;
}
.bResultItemImgPlaceholder, .multisearchImgPlaceholder{
	border:0px;
	background-color:#FFF;
	padding:20px 0px 0px 0px;
}
.bResultItemImgPlaceholder img, .multisearch .multisearchResult .multisearchImgPlaceholder img, .multisearchImgPlaceholder img{
	width:40%;	
}
/* detail */
.detail {
    color: #000;
    font-size: 14px;
}
.detail H1 {
    font-size:24px;
}
.detail H6 a {
    color: #2c85b8;
    padding:2px 5px 0px 5px;
}
.detail a:hover{
	color: #2c85b8;
}
.detail H4{
	font-size:24px;
}
.detail H6{
	font-size:16px;
	margin-bottom:2px;
}
.detail .unit {
    padding-bottom:10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ededed;
}
.detail .detailTool span, .detail .detailTool i, .detail #detailRepNav a {
    color: #2c85b8;
}
.detail #detailTools{
	font-family: 'Radley', serif;
}
@media (min-width: 768px) {
	#caFormOverlay.caFormOverlayWide{
		width: 650px;
		margin: 15% auto 0px auto;
	}
}
.detail .detailNavBgLeft a, .detail .detailNavBgRight a, .detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small {
    color: #021d26;
}
#pageArea.ca_collections{
	padding-bottom:275px;
}
.detail .bgLightGray, .story .bgLightGray{
	padding:10px 15px 10px 15px;
	margin-top:10px;
}
.detail .bgLightGray .unit, .story .bgLightGray .unit{
	border:0px;
}
.detail .bgLightGray label, .story .bgLightGray label{
	color:#000;
}
.detail .bgLightBlue{
	padding:15px 15px 15px 15px;
	margin-bottom:15px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	color: #fff;
	text-decoration:none;
}
.detail a .bgLightBlue, .detail .bgLightBlue a, .detail .bgLightBlue{
	font-size:18px;
	color:#FFF;
}
.detail .bgLightBlue small a, .detail .bgLightBlue small{
	font-size:14px;
	color:#FFF;
}
.detail a:hover .bgLightBlue, .detail .bgLightBlue:hover{
	color:#FFF;
	background-color:#0a4962;
	text-decoration:none;
}
.detail .detailImage{
	text-align:center;
}
.detail .detailImage img{
	width:100%;
	height:auto;
}
.detail.ca_entities #detailTools, .detail.ca_occurrences #detailTools{
	margin-top:0px;
}
@media (min-width: 992px) {
	.detail.ca_entities .detailTool, .detail.ca_occurrences .detailTool{
		text-align:right;
	}
	.detail.ca_entities #detailTools, .detail.ca_occurrences #detailTools{
		margin-top:25px;
	}
}
/* collection list */
.collections.landing #bSortByList{
	float:none;
}
.collections.landing #bSortByList a{
	font-size:15px;
}
.collections.landing #bSortByList strong{
	font-size:12px;
}
.collections.landing #bSortByList .selectedSort a{
	text-decoration:none;
	color:#454545;
}
@media (max-width: 768px) {
	.collections.landing .inventoryDownloadLink{
		display:block;
		padding-bottom:10px;
	}
}
/* collection detail */
.collectionsContainer a.openCollection.active {
    color: #fff;
    background-color: #2c85b8;
}
.detail.ca_collections .unit {
    border-bottom: 0px solid #ededed;
    font-size:14px;
}
.detail.ca_collections H6{
	font-weight:bold;
}
.detail #collectionsWrapper{
	margin-top:0px;
}
.detail #collectionsWrapper .unit {
    padding-bottom:0px;
}
.detail.ca_collections a.readmore-js-toggle {
	padding-top:5px;
}
#collectionLoad div a, #collectionLoad div .nonLinkedCollection {
    font-size: 16px;
}
.collectionsContainer a, .collectionsContainer .listItem {
    font-size: 16px;
}
#collectionLoad small{
	font-size: 14px;
}
.collectionsContainer .listItemDesc{
	padding:0px 10px 5px 10px;
}
.detail.ca_collections #detailTools{
	float:right;
	width: 120px;
	margin-left:25px;
	margin-top:0px;
	padding-top:0px;
}
@media (max-width: 768px) {
	.detail.ca_collections #detailTools{
		float:none;
		width:auto;
		margin-left:0px;
		margin-bottom:20px;
	}
}
.collectionsList{
	margin-top:40px;
	margin-bottom:40px;
}
.collectionUnit{
	padding-bottom:15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
}
.collectionUnit .title, .collectionUnit .title a, .collectionUnit a {
    font-family: Radley;
    font-size:18px;
    color: #2c85b8;
    text-decoration:none;
}
.collectionUnit .viewCollectionLinkList{
	display:none;
}
@media (min-width: 768px) {
	.collectionUnit .viewCollectionLinkList{
		display:block;
		float:right;
		margin-top:3px;
	}
}
.collectionUnit .viewCollectionLinkList a{
	font-size:15px;
	text-align:middle;
}
.collectionUnit .viewCollectionLinkList a .glyphicon{
	font-size: 13px;
}

.collectionTile{
	min-height:200px;
	padding-bottom:40px;
	position: relative;
}
@media (max-width: 992px) {
	.collectionTile{
		min-height:250px;
	}
}
@media (max-width: 768px) {
	.collectionTile{
		min-height:auto;
	}
}
.collectionTile .title, .collectionTile .title a, .collectionTile a {
    font-family: Radley;
    font-size:18px;
    color: #2c85b8;
    text-decoration:none;
}
.collectionTile a .glyphicon{
	font-size: 15px;
}
.viewCollectionLink{
	position:absolute;
	bottom:10px;
	right:15px;
}
#collectionSearch {
    display: none;
    clear: both;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
}
#collectionSearch .bResultListItemCol, #collectionSearch .bResultListItemContent{
	height:auto;
}
#collectionSearch .collectionPathResults{
	display:none;
}
#collectionSearch .bResultListItem, #collectionSearch .bResultListItem:hover{
	padding:10px;
	margin:10px 0px 0px 0px;
	height:auto;
	box-shadow:none;
	
	margin-bottom: 5px;
	height: 45px;
	line-height: 1.1em;
	background-color: #f5f5f5;
	padding: 5px 10px 5px 10px;
	overflow: hidden;
}
#collectionSearch .bResultListItem a{
	font-size: 12px;
	color: #454545;
}
#collection-form .form-group{
	margin-bottom:0px;
}
.collection-form {
	text-align:right;
	margin:0px 15px 10px 15px;
	margin-right: 15px;
}
.collection-form .btn-search {
	color: #333;
	background-color:#fff;
	font-size:14px;
	border-radius:0px;
	padding: 5px 10px 3px 5px;
	border-right:0;
	margin-left:5px;
	top:0px;
	
	position: absolute;
	right: 1px;
	top: 3px;	
}
.collection-form .form-group {
	display:inline-block;
	margin-bottom:0px;
	vertical-align:middle;
	width:100%;
}
@media (min-width: 768px) {
	.collection-form .form-group {
		width:250px;
	}
}
.collection-form .form-group input{
	border-radius:0px;
}
.collection-form .form-control:focus {
    border-color: #cccccc;
}


.bResultListItem .bResultListItemText {
	font-size: 14px;
}
/* static pages */
.staticPage li{
	margin-top:10px;
	margin-bottom:10px;
}

/* gallery */
.gallery {
	padding-bottom:20px;
}
.contact {
	padding-bottom:50px;
}

.form-control:focus {
    border-color: #2c85b8;
}
@media (min-width: 768px){
	.gallery #galleryDetailImageArea img {
		width:auto;	
	}
}

/* forms */
label, .formLabel, .advancedSearchField .formLabel{
	font-family: 'Radley', serif;
}
.advancedSearchField table.attributeListItem, .advancedSearchField table.attributeListItem td{
	width:100%;
}

/* Featured Listing */
@media(min-width:992px){
	.featuredCallOut{
		display: flex;
		align-items: center;
	}
}
.featuredHeaderImage{
	padding-left:0px;
	padding-right:0px;
}
.featuredHeaderImage img{
	width:100%;
	height:auto;
}
.featuredSearch .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
    margin-top:20px;
}
@media(max-width:1100px){
	.featuredSearch {
		padding-bottom:30px;
	}
}
.featuredSearch .formOutline {
	display: inline-block;
	background-color:#FFF;
}
.featuredSearch .form-group {	
    width: 400px;
    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
@media(max-width:500px){
	.featuredSearch .form-group {	
		width: 300px;
	}
}
.featuredSearch .form-control, .featuredSearch .form-control:focus{
	border:0px;
	box-shadow:none;
	font-size:18px;
	height:44px;
}
#featuredSearchButton{
	color:#000;
	font-size: 20px;
	padding-top:8px;
	position: relative;
	right: 0px;
	top: 0px;
}
.featuredIntro{
	color: #FFF;
	font-size: 24px;
	line-height: 1.8em;
}
@media(max-width:1560px){
	.featuredIntro{
		font-size: 22px;
	}
}
@media(max-width:1400px){
	.featuredIntro{
		font-size: 18px;
	}
}
@media(max-width:991px){
	.featuredIntro{
		padding-bottom:50px;
		padding-top: 50px;
	}
}



.featuredList{
	margin-top:30px;
}
.featuredTile {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	margin-bottom:15px;
	font-size:13px;
	line-height:1.8em;
	display: flex;
    align-items: center;
    background-color:#0a4962;
    transition: all .4s;
}
.featuredImage{
	float:left;
	width:30%;
	padding-right:15px;
}
.featuredImage img{
	width:100%;
	height:auto;
	max-width: 250px;
}
.featuredTile .title {
	width:70%;
	font-size:26px;
	color:#FFF;
	text-decoration:none;
	padding:15px;
}
a .featuredTile .title {
	text-decoration:none;
}
.featuredTile .title a, .featuredTile .title a:hover {
	text-decoration:none;
	font-size:18px;
	color:#FFF;
	
}
.featuredTile:hover{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-color:#021d26;
    color:#FFF;
}
.featuredList a:hover{
	text-decoration:none;
}
.btn-landing{
	width:100%;
	padding:15px;
	text-align:center;
	font-size: 24px;
	color: #FFF;
	background-color:#0a4962;
	border-radius:0px;
	transition: all .4s;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.btn-landing:hover, .btn-landing:focus{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-color:#021d26;
	color:#FFF;
}
.btn-landing .fa{
	font-size: 18px;
}

#bRefine H2 {
	margin-bottom: 8px;
	margin-top: 20px;
	text-transform: uppercase;
	padding: 0px;
	color: #666;
	font-style:normal;
}
@media(max-width:768px){
	.results .bSearchWithinContainer{
		display:none;
	}
}
.results .bSearchWithinContainer{
	clear:both;
	padding:15px 0px 15px 0px;
	text-align:center;
}
.results .btn-search-refine, .results .btn-search-refine:hover{	
	font-size: 14px;
	cursor: pointer;
	background-color: #fff;
	color:#000;
	font-size: 14px;
	line-height:1em;
	padding: 9px;
	
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border:0px;
	border-radius: 0px;
	margin-left: -30px;
}
.bSearchWithin, .bSearchWithin:focus {
    width: 80%;
    box-shadow: none;
    border: 0px;
    border: 0px;
    border-radius: 0px;
    height: 35px;
    font-size: 14px;
    line-height: 26px;
    background-color: #FFF;
	font-size: 14px;
	display: inline-block;
	display:inline-block;
	padding-right: 30px;
}

.browseRemoveFacet, .browseRemoveFacet .btn{
	display:block;
	width:100%;
	font-size:11px;
	margin:0px 0px 5px 0px;
}
.browseRemoveFacet .btn{
	white-space: normal;
}
.browseRemoveFacet:hover, .browseRemoveFacet .btn:hover{
	text-decoration:none;
}
a.browseRemoveFacet .glyphicon{
	color:#fff !important;
}

/* People */
.peopleLanding hr{
	margin-top:30px;
	border-top: 1px solid #ccc;
}
.peopleLanding H2, .peopleLanding H3{
	font-size: 28px;
	margin-top:30px;
	margin-bottom:10px;
	font-style:normal;
}
.peopleFacets .facetName{
	font-size: 22px;
	margin-top:15px;
	margin-bottom:5px;
}
.peopleFacets .btn-default{
	text-decoration: none;
	width: 100%;
	text-transform: none;
	font-size: 18px;
	margin-bottom: 15px;
	white-space: normal;
}
/* story */
.story h1{
	font-size:24px;
}
.storyEvents{
	padding-top:10px;
}
.storyEvents .btn, .storyEvents .btn:hover{
	width:100%;
	text-align:center;
	color:#FFF;
}
.storyEvent{
	padding:15px;
	border-bottom:1px solid #dedede;
}
.storyEvent a{
	color:#000;
	text-decoration:underline;
}
.storyEvent a:hover, .storyEvent a:focus{
	color:#2c85b8;
	text-decoration:underline;
}