@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

$dark:          #0c3f55; /* dark blue */

.aleo{
	font-family: "Aleo";
}
/* ------------------------- Navbar ------------------------- */
@media(min-width:1200px){
	.navbar{
		padding-left:33px;
		padding-right:33px;
	}
}
@media(min-width:992px){
	.navbar{
		padding-top:20px;
		padding-bottom:20px;
	}
}
.navbar-brand{
	width:300px;
}

/* ------------------------- Front ------------------------- */
.parallax {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(12, 63, 85, .7), rgba(12, 63, 85, .7)), url("../assets/graphics/2018.2.01_172.jpg");


    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero1, .hero2, .hero3 {
        background-image: url("../assets/graphics/2018.2.01_172.jpg");
    }
}

.hpBoxes{
	.hpBox{
		img{
			height:350px;
		}
		div{
			text-shadow: 0px 0px 5px #000;
			padding-top:45%;
			background: rgba(12, 63, 85, .5);
			transition: all 300ms linear;
		}
		div:hover{
			background: rgba(12, 63, 85, .9);
		}
	}
}
.hpExploreBoxes{
	.hpExploreBox{
		margin-bottom:30px;
		img{
			height:250px;
		}
		div{
			text-shadow: 0px 0px 5px #000;
			padding-top:40%;
			background: rgba(12, 63, 85, .5);
			transition: all 300ms linear;
		}
		div:hover{
			background: rgba(12, 63, 85, .9);
		}
	}
	.hpExploreBoxLg{
		img{
			height:530px;
		}
		div{
			padding-top:45%;
		}
	}
}
/* ------------------------- Front ------------------------- */
.footerSocial svg{
	height:50px;
	width:auto;
}
#footer img{
	width:95px;
	height:auto;
}
/* ------------------------- Gallery ------------------------- */
.gallery{
	H2{
		color: $dark;
		font-weight:bold;
	}
}