/* blue: 0096db */
@font-face {
    font-family: HelveticaNeueLight;
    src: url(HelveticaNeueLight.ttf);
}
@font-face {
    font-family: HelveticaNeueBold;
    src: url(HelveticaNeueBold.ttf);
}
body {
	font-family: HelveticaNeueLight;
	color:#8e8e8e;
	margin-bottom:80px;
	font-size:12px;
	font-weight: 400;
    line-height: 1.4;
    margin-bottom:300px;
    /*background-color: #f6f6f6;*/
}
.container{
	max-width: 1197px;
	/*background-color:#FFF;*/
}
a {
	color:#0096db;
}
a:hover {
	color:#0089c8;
}
a, a:active, a:focus {
   outline: 0;
   text-decoration:none;
}

H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6{
	font-family: HelveticaNeueBold;
	font-weight: normal;
	font-style: normal;
	color:#333;	
	text-transform:none;
}
H1, h1{
	font-size: 30px;
}
H2, h2{
	font-size: 24px;
}
H3, h3{
	font-size: 12px;
}
#caFormOverlay{
	border-radius:0px;
}
.blue{
	color:#0096db;
}
/* buttons */
.btn-default, .btn-default:active {
    background-color: #0096db !important;
    color: #fff;
    font-family: HelveticaNeueLight;
    font-size:10px;
    padding: 7px 9px 7px 9px;
}
.btn-default:hover {
	background-color:#0089c8;
    color: #fff;
    text-decoration:none;
}
/* Navbar */
.navbar {
    background-color: #FFFFFF;
    border-bottom: 2px solid #dedede;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.navbar.fixed {
	border-bottom:0px !important;
  	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  	box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  	position:fixed;
  	width:100%;
  	background-color:rgba(255, 255, 255, 0.95);
}
.navbar.fixed .navbar-header {
	display:none;
}
.navbar.fixed .menuItems{
	width:auto;
}
#pageArea.scrolled{
	margin-top:150px;
}
.navbar-brand {
    width: 165px;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 15px;
}
.subtitle{
	font-size:37px;
	text-transform:lowercase;
	padding-left:5px;
	padding-top:3px;
	color:#646766;
	float:left;
}
.subtitle a, .subtitle a:hover{
	font-size:37px;
	color:#646766;
	text-decoration:none;
}
.navbar-default .navbar-nav > li > a {
    font-family: HelveticaNeueBold;
    color: #a1a2a4;
    font-size:14px;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover{
	background-color:transparent;
	color:#191919;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #7e7e7e;
}
.form-control{
	border-color: #e5e5e5;
}
.form-control:focus {
    border-color: #e5e5e5;
}
.navbar .formOutline {
    border: 1px solid #e5e5e5;
    border-radius: 0px;
	box-shadow:none;
}
.navbar .form-control{
	font-family: HelveticaNeueLight;
	box-shadow:none;
}
.btn-search{
	color:#acacac;
}

/* force it into second line even at large size */
ul.menuItems {
	width:100%;
	margin-top:10px;
}
ul.menuItems.fixed {
	border-top:solid 1px #ddd;
	margin-top:0px;
}
.menuItems.navbar-nav > li > a {
	padding: 5px 35px 5px 15px;
}
.menuItems.navbar-nav > li.steelcaseHome {
	float:right;
}
.menuItems.navbar-nav > li.steelcaseHome > a {
	color:#a1a2a4;
	padding-right:15px;
}
.menuItems.navbar-nav > li.steelcaseHome > a:hover {
	color:#0089c8;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
	margin-right:0px;
}
.container.menuBar {
	padding:0px;
}
.navbar > .container .navbar-brand {
	margin-left:0px;
}
.nav > li.dropdown > a.icon{
	color:#0096db;
}
.nav > li.dropdown > a.icon:hover{
	color:#0089c8;
}

/* footer */
#footer{
	background-color: #f6f6f6;
	color:#8e8e8e;
	border-top:0px;
	line-height: 1.25;
	font-size:12px;
	padding-top:35px;
	height:auto;
	/*position:relative;*/
	padding-bottom:65px;
	font-family: HelveticaNeueLight;
	font-weight: 600;
}
#footer img{
	transition: opacity .3s ease-in-out;
	opacity:.6;
	width:116px;
	height:auto;
	margin-bottom:35px;
}
.loginButton {
	margin-top:10px;
	font-weight:bold;
}
.filterMenuFacetList li.active {
    background-color: #0096db;
}
.browseMenuContent .mainfacet{
	display:none;
}
div.browseFacetItem a:hover {
    text-decoration: none;
    color: #0096db;
}
.browse .btn, .sets .btn {
    background-color: #0096db;
    font-size:10px;
}
ul.about{
	padding-left:15px;
}
ul.about li{
	padding-bottom:20px;
	list-style-type:none;
	text-indent:-7px;
}
ul.about li i{
	color:#DEDEDE;
}

/* browse */
#browse .dropdown-menu > li > a{
	font-family: HelveticaNeueLight;
}
#bRefine.fixed {
    position: fixed;
    top: 50px;
}
#bRefine.fixed div:last-child {
	margin-bottom:100px;
}
.bResultListItemCol {
	height:100px;
}
.bResultListItem {
	box-shadow:none;
	-webkit-box-shadow:none;
	border-bottom:1px solid #ccc;
	padding-top:5px;
}

/* list results */
.bResultListItem:hover {
    padding: 10px;
    padding-top:5px;
    margin:0px;
    height:auto;
    box-shadow:none;
    -webkit-box-shadow:none;
}

/* front timeline */
.frontIntro {
	font-size:14px;
	position:relative;
}
.frontIntro img{
	width:100%;
	height:auto;
}
.frontIntroOverlay{
	position:absolute;
	bottom:30px;
	left:30px;
	padding:25px 20px 15px 20px;
	width:650px;
	background-color:rgba(255, 255, 255, 0.85);
	color:#000;
	font-size:14px;
}
.frontSocial {
	margin-bottom:40px;
	margin-top:10px;
}
.front H1{
	color:#000000;
	font-size:40px;
	font-family: HelveticaNeueBold;
}
.front H2{
	font-family: HelveticaNeueBold;
	font-size:24px;
}
.frontTimeline .frontDecadeCol H1{
	background-color: #666666;
	color:#FFFFFF;
	padding:10px;
	font-family: HelveticaNeueBold;
	font-size:30px;
}
.frontTimeline H1{
	font-weight: normal;
	font-style: normal;	
	text-transform:none;
}
.frontYearCol{
	padding-left:7px;
	padding-right:7px;
}
.frontYearCol H1{
	text-align:center;
	font-weight:normal;
	padding:10px 0px 10px 0px;
	font-family: HelveticaNeueLight;
}
.frontYearCol img{
	width:100%;
	height:auto;
}
.frontEventCaption{
	margin-bottom:10px;
	color:#FFF;
	background-color:#666;
	padding:2px 0px 2px 0px;
	text-align:center;
	font-size:9px;
}

.frontTimelineCard{
	margin-bottom:20px;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(102,102,102,0.5);
	-moz-box-shadow: 1px 1px 3px 1px rgba(102,102,102,0.5);
	box-shadow: 1px 1px 3px 1px rgba(102,102,102,0.5);
	background-color:#FFFFFF;
	position:relative;
}
.frontTimelineCardCaption{
	padding:10px;
	height:75px;
	line-height:1.1em;
	font-size:11px;
}
.frontTimelineCardCaptionDate{
	font-family: HelveticaNeueBold;
	color:#000;
	font-size:12px;
	padding-bottom:5px;
}
.frontTimelineCard .fa-ellipsis-h{
	position:absolute;
	bottom:3px;
	right:3px;
	color: #0096db;
}
.frontTimelineCardFull{
	position:absolute;
	z-index:10;
	display:none;
	top:-75px;
	left:-200px;
	right:-100px;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(102,102,102,0.5);
	-moz-box-shadow: 1px 1px 3px 1px rgba(102,102,102,0.5);
	box-shadow: 1px 1px 3px 1px rgba(102,102,102,0.5);
	background-color:#FFFFFF;
}
.frontTimelineCardFullCol{
	float:left;
	width:50%;
	padding-right:10px;
	padding:10px;
}
.frontTimelineCardFullCol img, .frontTimelineSlide img{
	width:100%;
	height:auto;
	margin-bottom:10px;
}
.front .jcarousel-wrapper {
    margin-bottom: 0px;
    margin-top: 0px;
}
.frontTimelineCardFullDesc{
	max-height:325px;
	overflow:auto;
	line-height:1.3em;
	font-size:12px;
}
.frontTimelineCardFullTitle{
	font-size:12px;
	color:#000;
	font-family: HelveticaNeueBold;
	padding:5px 10px 0px 10px;
}
.frontTimeLineCol{
	display:relative;
}
.front .jcarousel-control-prev, .front .jcarousel-control-next{
	top:50%;
	font-size:30px;
}
.front .jcarousel-control-prev{
	left:-10px !Important;
}
.front .jcarousel-control-next{
	right:-10px !Important;
}
/*.frontTimeLineCol:hover .frontTimelineCardFull{
	display:inline;
}*/


.frontTimelineWorldEvent{
	margin-top:20px;
	margin-bottom:10px;
}
.frontTimelineWorldEventDate{
	font-family: HelveticaNeueBold;
	color:#0096db;
}



.frontTimelineDivide{
	padding:2px 5px 2px 5px;
	color:#FFF;
	font-family: HelveticaNeueBold;
	font-size:13px;
}
.frontTimelineDivide .pull-right a{
	font-family: HelveticaNeueLight;
	color:#FFF;
	text-decoration:underline;
}

.frontFilter a{
	padding-left:15px;
	color: #8e8e8e;
}
.currentFilter{
	font-weight:bold;
	text-decoration:underline;	
	font-family: HelveticaNeueBold;
}
.companyDivide{
	background-color:#11afc8;
}
.company, a.company{
	color:#11afc8;
}
.leadershipDivide{
	background-color:#4747a6;
}
.leadership, a.leadership{
	color:#4747a6;
}
.productsDivide{
	background-color:#00957f;
}
.products, a.products{
	color:#00957f;
}
.communitiesDivide{
	background-color:#D26200;
}
.communities, a.communities{
	color:#D26200;
}
.sustainabilityDivide{
	background-color:#81ad16;
}
.sustainability, a.sustainability{
	color:#81ad16;
}
.industryDivide{
	background-color:#cfc500;
}
.industry, a.industry{
	color:#cfc500;
}
.frontFilter{
	margin-bottom:15px;
	font-size:14px;
}

/* login form */
#caFormOverlay.caFormOverlayLogin{
	padding:0px;
	width:400px;
	border-radius:5px;
}
#caFormOverlay.caFormOverlayLogin input, #caFormOverlay.caFormOverlayLogin .btn-default{
	border-radius:3px;
}
#caFormOverlay.caFormOverlayLogin input:focus{
	border: 1px solid #0093c3;
}
#caFormOverlay.caFormOverlayLogin .btn-default{
	width:100%;
	font-size:13px;
	background-color:#0093c3;
}
#caFormOverlay.caFormOverlayLogin .btn-default:hover{
	background-color: #00b9f6 !important;
	-webkit-transition: background-color 0.25s ease 0s;
	-moz-transition: background-color 0.25s ease 0s;
	-ms-transition: background-color 0.25s ease 0s;
	-o-transition: background-color 0.25s ease 0s;
	transition: background-color 0.25s ease 0s;
}
#caFormOverlay.caFormOverlayLogin #LoginForm{
	padding-left:20px;
	padding-right:20px;
}
.caFormOverlayLogin .loginFormHeader{
	background-color: #6f6f6f;
	text-align:center;
	padding:20px;
	margin-bottom:20px;
}
.caFormOverlayLogin .loginFormHeader img{
	height:60px;
	width:auto;
}
.caFormOverlayLogin .loginFormHeader .glyphicon{
	color: #fff !Important;
}
.caFormOverlayLogin a{
	color:#666;
	font-size:13px;
}

a.readmore-js-toggle {
    color: #0096db;
}

/* Chronology styles */
.bChronoGroup{
	position:relative;
	max-height:300px;
	border-bottom:2px solid #EDEDED;
	overflow:hidden;
	padding:0px 0px 25px 0px;
	margin-bottom:25px;
}
.bChronoGroup .bChronoLabel{
	position:absolute;
	left:0px;
	top:0px;
	background: linear-gradient(to right, white, white 40%, transparent);
	z-index:100;
	padding-right:50px;
	height:100%;
	padding-top:50px;
}
.bChronoGroup .bChronoNav{
	position:absolute;
	right:0px;
	top:0px;
	background: linear-gradient(to left, white, white 40%, transparent);
	z-index:100;
	padding-left:50px;
	height:100%;
	padding-top:110px;
}
.bChronoNav .btn-default span{	
	color:#FFF!important;
	font-size:24px;
}
.bChronoGroup .bChronoGroupScroll{
	overflow-x:scroll;
	padding-left:100px;
}
.bChronoGroup .bChronoGroupResults{
	width:8500px;
	padding-top:5px;
}
.bChronoGroup .bResultItemCol {
	width:200px;
	float:left;
	margin-right:25px;
}
.bChronoGroup .bResultItem:hover{
	margin:0px;
	min-height:auto;
	z-index: 1;
}