/* Lato */
@font-face {
	font-family: 'Lato';
	src: url('lato/Lato-Regular.ttf');
	src: url('lato/Lato-Black.ttf');
	src: url('lato/Lato-BlackItalic.ttf');
	src: url('lato/Lato-Bold.ttf');
	src: url('lato/Lato-BoldItalic.ttf');
	src: url('lato/Lato-Italic.ttf');
} 
