html {
	position:relative;
	min-height:100%;
}
body {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom:255px;
    font-size: 17px;	
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
	font-size:28px;
	color:black;
	font-weight:bold;
	text-transform:none;
}
.clearfix {
    display: block;
}
a {
    color: SlateGray;
}
a:hover {
	text-decoration:none;
}
ul {
	margin-bottom:0px;
}
.navbar {
	box-shadow:none;
	margin-bottom:0px;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
}
.navbar .formOutline {
	border-radius:0px;
	border:2px solid #000;
}
.navbar .form-control {
    font-weight: bold;
    color: #000;
    font-size: 15px;
}
.navbar-form {
	padding-right:0px;
}
::-webkit-input-placeholder {
   color: black;
   opacity:1;
}

:-moz-placeholder { /* Firefox 18- */
   color: black; 
   opacity:1; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
   opacity:1;  
}

:-ms-input-placeholder {  
   color: black; 
   opacity:1; 
}
@media (min-width: 768px) {
	.navbar-form .form-group {
		width: 140px;
	}
}
footer {
	position:absolute;
	bottom:0px;
	height:255px;
	width:100%;
}
#pageArea {
	/*margin-left:-15px;
	margin-right:-15px;*/
}
.page {
  margin: 0px;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  padding: 0px;
  min-height: 600px;
  
  max-width: 1024px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
	.wrapper {
		padding: 0px 10px;
	}
}

.content-wrapper {
  float: right;
  width: 100%;
  margin-bottom:255px;
}
.content-inner {
  margin-left: 181px;
  clear: both;
  overflow: auto;
  background: transparent;
  min-height: 600px;
}

.sidebar {
  position: relative;
  width: 150px;
  margin-right: -150px;
  float: left;
  background: #fff;
  color: #eee;
  min-height: 600px;

  display:inline-block;
}

.sidebar .logo img{
	width:100%;
	height:auto;
	margin-top:32px;
}
.logo {
	display:block;
	padding-bottom:5px;
}
.logo-description {
    display: block;
    line-height: 25px;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 29px 0px;
    width: 100%;
    text-align: center;
}
.navigation {
    list-style: none;
    padding: 0px 0px 0px 4px;
}
.navigation li {
    display: block;
    position: relative !important;
}
.navigation li a {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
.navigation li a:hover {
    color: #8f9194;
    text-decoration:none;
}
.navigation li:hover .sub-menu {
    display: block;
    transition: all 1s ease 0s;
}
.nav-selected .nav-path-selected.visit, .nav-selected.nav-path-selected.visit:hover, .nav-path-selected .visit {
    color: #f06162;
}
.nav-selected .nav-path-selected.explore, .nav-selected.nav-path-selected.explore:hover, .nav-path-selected .explore {
    color: #a3cd39;
}
.nav-selected .nav-path-selected.learn, .nav-selected.nav-path-selected.learn:hover, .nav-path-selected .learn {
    color: #fcce0d;
}
.nav-selected .nav-path-selected.connect, .nav-selected.nav-path-selected.connect:hover, .nav-path-selected .connect {
    color: #c8342f;
}
.sub-menu {
    background: #8f9194 none repeat scroll 0 0;
    width: 440px;
    left: 106px;
    position: absolute;
    top: -10px;
    display: none;
    z-index: 999;
}
.sub-menu i {
    border-color: transparent #8f9194 transparent transparent;
    border-style: solid;
    border-width: 16.5px 26.6px 20.5px 0;
    height: 0;
    left: -25px;
    position: absolute;
    top: 5px;
    width: 0;
}
.sub-menu ul {
    display: block;
    float: left;
    width: 100%;
    padding: 10px 0 10px 30px;
}
.left-links li {
    float: left;
    width: 48%;
}
.left-links li:first-child a {
    color: white !important;
}
.sub-menu ul li a {
    font-size: 16px;
}
.sub-menu li a {
    color: white;
}
.sub-menu ul li a:hover {
    color: black;
    text-decoration:none;
}

/* Footer */

footer .footer-top {
	padding: 20px 0px 10px;
}

footer .footer-top {
	color: rgb(255, 255, 255);
    background: rgb(38, 38, 38);
}
footer .footer-top .site-main {
    position: relative;
    min-height: 120px;
}
footer .footer-top a.eversonlogo {
    display: none;
    width: 80px;
    float: left;
}
footer .footer-top .foot-social {
    float: left;
    width: 200px;
    font-size: 30px;
}
.ccm-block-social-links ul.list-inline {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.ccm-block-social-links ul.list-inline li {
    padding: 0px;
    list-style-type: none;
    margin-right: 10px;
    display: inline-block;
}
.list-inline a {
    color: white;
}
.list-inline .fa.fa-facebook, .list-inline .fa.fa-twitter, .list-inline .fa.fa-instagram {
    color: white;
}
footer .footer-top .foot-hours {
    position: absolute;
    left: 200px;
    right: 340px;
    top: 0px;
}
footer p {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin:0px;
}
footer table {
	width:100%;
}
table th, table td {
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
footer table {
    margin: 0.5em 0 1em;
}
footer table, footer table td {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
	padding:0px;
}
footer .footer-top .foot-search {
    float: right;
    width: 340px;
}
footer form.ccm-search-block-form {
    margin: 25px 20px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
}
footer .footer-top .foot-search input[type="text"], footer .footer-top .foot-search input[type="search"] {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: rgb(86, 86, 86);
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    box-shadow: none;
    width: 210px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-radius: 0px;
    padding: 4px;
    background: rgb(204, 204, 204);
}
footer .footer-top .foot-search .buttons-section a, footer .footer-top .foot-search .btn.btn-default.ccm-search-block-submit {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: rgb(86, 86, 86);
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    width: 90px;
    font-family: "Open Sans Condensed", sans-serif;
    float: right;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    padding: 5px 0px;
    margin: 0px;
    background: rgb(204, 204, 204);
    border-radius:0px;
}
footer .footer-bottom {
    padding: 10px 0px 0px;
}
footer .footer-bottom {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
footer .footer-bottom .site-main {
    position: relative;
    min-height: 95px;
}
footer .footer-bottom a.eversonlogo {
    display: block;
    float: left;
    width: 80px;
}
footer .footer-bottom .right-col {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 200px;
}
footer .footer-bottom .foot-tel, footer .footer-bottom .foot-donate, footer .footer-bottom .foot-social {
    display: none;
}
.links, .copy-right {
    padding: 0px 0px 10px;
    overflow: hidden;
}
.links li {
    float: left;
    list-style-type:none;
}
.links.clearfix a {
    display: block;
}
.links li a {
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 9px;
    color: white;
}
.links li a:hover {
    color: rgb(243, 97, 98);
}
footer .footer-bottom .right-col address {
    font-style: normal;
    font-weight: bold;
}
address {
    /*padding-bottom: 33px;*/
}
.copy-right li {
    float: left;
    overflow: hidden;
}
.copy-right li span {
    font-size: 13px;
}
footer table td span {
    color: rgb(176, 176, 176);
}
.ccm-search-block-text {
	padding: 5px !important;
}
.site-main {
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
}

/* Browse Panel */

div.browseFacetItem a {
    font-weight: bold;
    color: #000;
    font-size: 14px;
}
.browseMenuFacet {
	margin-bottom:0px;
	padding-bottom:0px;
}
.browsedivider {
	border-top: 2px solid #000;
}
#browse-menu {
	font-weight:bold;
	font-size:14px;
	border:2px solid #000;
	box-shadow: none;
}
.browseHeadernav {
	font-size:14px;
}
.browseHeadernav a {
	color:#000;
}
.filterbylabel {
	font-size:16px;
	color:#000;
	font-weight:bold;
	padding-left:5px;
}
.navbar #browse-menu .form-control, .navbar #browse-menu .form-control:focus {
	color:#000;
	border-radius:0px;
	border:2px solid #000;
	font-size:14px;
	font-weight:bold;
}
.browseMenuBrowseAll .btn-default {
	color:#000;
	border-radius:0px;
	border:2px solid #000;
	font-size:14px;
	font-weight:bold;	
}

.filterMenuFacetList li a {
    color: #000;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}
.filterMenuFacetList li.active {
	background-color: #e7e7e7;
}

/* Front Page */

.front .jcarousel-wrapper {
	margin-bottom:0px;
}
.front .jcarousel-control-prev, .front .jcarousel-control-next {
	opacity:.7;
	height:61px;
	width:38px;
	background-color:#000;
	padding-top: 10px;
    font-size: 40px;
}
.front .jcarousel-control-prev {
	left:0px !important;
}
.front .jcarousel-control-next {
	right:0px !important;
}
.page-title-container {
    background: #a0e300;
}
.page-title-container h1 {
    color: #FFF;
    font-weight: 800;
    padding: 21px 0 5px;
    font-size: 49px;
    line-height: 34px;
    text-transform: uppercase;
    float: left;
    line-height: 34px;
    margin-bottom:0px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
	.page-title-container h1 {
		font-size: 39px;
		line-height: 34px;
	}
}

/* page Content */

.pageContent {
	padding-left:0px;
	padding-right:0px;
	padding-top:20px;
	padding-bottom:50px;
}

/* Search */

.multisearch H3, .multisearch H3 a {
	color:#000;
}
 