/* --------------------------------- */
/* GENERAL */
/* --------------------------------- */
body {
	font-family: arial;
	color:#454545;
}
h1, h2{
	font-family: DIN17SBOP-Regular;
	font-weight: normal;
	font-style: normal;
}
h3, h4, h5, h6{
	font-family: DIN17SBOP-Regular;
}
a {
	color:#19bed1;
}
#pageArea{
	max-width:1024px;
}

.container {
	max-width:1024px;
}



H1{
	font-size: 20px;
	color:#19bed1;
	text-transform:uppercase;
	margin-top:0px;
}
H2{
	font-size: 18px;
	color:#19bed1;
}

H3{
	font-size: 14px;
	color:#19bed1;
}
a, a:active, a:focus {
   outline: 0;
}

/* buttons and utils */
.bGear{
	color:#a3a3a3;
}
.bGear:hover, .bGear:active{
	cursor: pointer;
}
.pointer{
	cursor: pointer;
}

.caps {text-transform:uppercase;}

.smaller {font-size:.7em;}


/* ----------------------------------------- */
/* navbar - styles override bootstrap styles */
/* ----------------------------------------- */
.navbar {
  border-radius:0px;
  background-image:none;
  background-color:#FFFFFF;
  border-top:0px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 10px rgba(0, 0, 0, 0.2);
}
.navbar-collapse{
 	max-width:1024px;
 	padding-right:0;
	padding-left:0;
}



.dropdown-menu{
	font-size:12px;
	padding:5px 0 5px 0;
	}

.navbar .navbar-nav > .active > a {
  	background-color: #19bed1;
  	color:#FFFFFF;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family: DIN17SBOP-Regular;
	font-size:12px;
	color:#000;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #c9c9c9;
  background-image: none;
  filter: none;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.nav > li.dropdown > a.icon{
	font-size:18px;
}
@media (min-width: 768px) {
	.nav > li.dropdown > a.icon {
		padding-top:29px;
		padding-bottom:21px;
	}
}
@media (min-width: 768px) {
	.nav > li > a {
		padding-top:31px;
		padding-bottom:23px;
	}
}
@media (min-width: 768px) {
	.navbar-form {
	  margin-top:22px;
	  padding-right:5px;
	}
}

.navbar-brand img {
  		width:100%;
}
.navbar-brand {
	width:200px;
}
@media (min-width: 768px) {
	.navbar-brand {
  		width:250px;
  		padding-top: 17px;
  		padding-bottom: 10px;
  	}
}
@media (min-width: 992px) {
	.navbar-brand {
  		width:300px;
  		padding-top: 8px;
  		padding-bottom: 5px;
  	}
}

@media (min-width: 768px) {
  .navbar-form .form-group {
  	width:140px;
  }
}
.navbar .form-control {
	padding: 0px 7px;
  	border: 0px;
  	border-radius: 10px;
	-webkit-box-shadow: none;
		  box-shadow: none;
	-webkit-transition: none;
		  transition: none;
}

.navbar .form-control:focus {
  border: 0px;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar .formOutline{
	border:1px solid #ccc;
	border-radius: 10px;
	margin-left:20px;
}
.btn-search{
	display: inline-block;
	padding: 6px;
	margin-bottom: 0;
	font-size: 14px;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	background-color:#FFF;
	border:0px;
	border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.nav-pills > li > a {
    font-size: 11px;
    text-decoration: none !important;
    /*background-color:#ccc;*/
    color:#ccc;
    border-radius:0;
    text-transform:uppercase;
}

.nav-pills > li > a:hover {
	background-color:#19bed1;
	color:#fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none !important;
    border-radius:0;
}
.nav-pills > li.active a {
	background-color:#c9c9c9;
    font-family: Arial,Helvetica,sans-serif;
    color:#454545;
}
.nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color:#c9c9c9;
    color:#454545;
}


/* ----------------------------------------- */
/* navbar - browse menu */
/* ----------------------------------------- */


.browseMenuFacet {
	clear: both;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.filterMenuFacetList {
	font-size:11px;
	padding-bottom:10px;
	float:left;
	padding-top:10px;
}

.filterMenuFacetList ul{
	list-style-type:none;
	margin:2px 0 0 0;
	padding:0;
	clear:both;
}

.filterMenuFacetList li{
	list-style-type:none;
	margin:0 0 2px 0;
	padding:0 2px 0 2px;
	border-radius:2px;
}

.filterMenuFacetList li.active{
	background-color:#bff2f8;
}

.filterMenuFacetList li.active a{
	color:#000;
}	

.filterMenuFacetList li a{
    color: #666;
    cursor: pointer;
    font-size: 11px;
    line-height: 20px;
    position: relative;
    text-decoration: none;
}	

.filterMenuFacetList li a:hover{
	text-decoration:underline;
	}

.filterbylabel {
	font-weight:bold;
}

ul.browseMenuFacetList {
	list-style-type:none;
	margin:0;
	padding:0 0 5px 0;
}

ul.browseMenuFacetList > li > a {
	padding-top:10px;
	padding-bottom:10px;
	list-style-type:none;
	margin:0;
	padding:0 0 5px 0;
}

ul.browseMenuFacetList li a, ul.browseMenuFacetList{
	float:left;
}


ul.browseMenuFacetList > li div{
	font-size:12px;
	background-color:#c9c9c9;
	color:#FFF;
	font-weight:bold;
}


div.browseMenuBrowseAll {
	position: absolute;
	bottom: 3px;
	right: 18px;
}
div.browseMenuBrowseSearch {
	position: absolute;
	bottom: 3px;
	left: 3px;
	padding: 5px;
}

div.browseMenuBrowseSearch input {
	font-size: 11px;
}


.browseMenuBrowseSearch .form-control{
background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 11px;
    height: 24px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
    
    
div.browseFacetItem a{
   background-color:#f5f5f5;
   border-left:4px solid #fff;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    float: left;
    height: 60px;
    padding-top:3px;
    font-size:12px;


}

.browseHeadernav{
	font-size:11px;
	}
	
.mainfacet	ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.filterMenureults {
	float:left; 
	padding-top:2px;
	margin-right:-15px; 
	margin-left:12px;
	max-height:250px;
	overflow:auto;
}

.mainfacet {
	color:#333;
	height:30px;
	line-height:28px;
	background-color:#e7e7e7;
	margin-top:-5px;
	padding-top:2px;
	margin-right:4px;
}
	
.mainfacet	li{
	list-style-type:none;
	margin:0 15px 0 15px;
	padding:0 5px 0 5px;
	float:left;
}	



.mainfacet	li.active a{
	color:#333;
	font-weight:bold;
}	

.mainfacet	li a:hover{
	color:#000;
	text-decoration:none;
	border-bottom:1px solid #000;
}	


.btn-default {
	background:transparent; 
	color:#ccc;}
	
.btn-default a{
	color:#666;
	font-size:11px}	

.browseHeadernav a{color:#666;}

div.browseFacetItem li{
	margin:0;
	padding:0;
}

div.browseFacetItem a:hover {
	background-color:#e7e7e7;
	text-decoration:none;
	color:#666;
}


a.browseRemoveFacet img {
	margin-bottom: 3px;	
}


.nav .dropdown .dropdown-menu {
    overflow: auto;
}


.browsedivider {
	clear:both; 
	margin-top:20px; 
	padding-bottom:20px; 
	border-top:1px solid #ccc;
}	



/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 * 
 * http://geedmo.github.com/yamm3
 */
 
 .grid-demo [class*="col-"] {
    background-color: #E5E1EA;
    border: 1px solid #D1D1D1;
    font-size: 1em;
    line-height: 2;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.grid-demo{ padding: 10px 30px;}


.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}

/* --------------------------------- */
/* forms */
/* --------------------------------- */
#caFormOverlay H2 {
	text-transform:uppercase;
	padding-top:0px;
	margin-top:0px;
}
/* form overlay */
#caFormOverlay{
	margin:15% auto 0px auto;
	background-color: #FFFFFF;
	padding:20px;
	width:400px;
	max-height:500px;
	overflow:auto;
	border:1px solid #c1c1c1;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}
/* --------------------------------- */
/* footer */
/* --------------------------------- */
#footer{
	margin:40px 0px 65px 0px;
	border-top: 1px solid #E3E3E3;
	font-size:12px;
	color: #ababab;
	line-height:2.2em;
}
@media (min-width: 768px) {
	#footer {
		margin:40px 25px 65px 25px;
	}
}
#footer a{
	text-decoration:underline;
	color:#ababab;
}
#footer ul a{
	color: #19bed1;
	text-decoration:none;
}
#footer ul li{
	padding:0px 20px 0px 0px;
}
#footer ul{
	margin-bottom:0px;
}
#footer ul.social{
	padding-top:5px;
	font-size:20px;
}
#footer ul.social li{
	padding:0px 10px 0px 0px;
}
/* --------------------------------- */
/* lightbox lb */
/* --------------------------------- */
.lbItem{
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	position:relative;
	padding:10px;
	margin-bottom:30px;
	background-color:#FFFFFF;
}
.lbItem:hover{
	cursor:move;
}
.lbItemContent{
	height:250px;
}
.lbExpandedInfo{
	width:100%;
	position:absolute;
	z-index:100;
	display:none;
	background-color:#FFFFFF;
	margin:0px -10px 0px -10px;
	padding:0px 10px 10px 10px;
	-webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}
.lbItem a{
	color:#666;
}
.lbItemImg{
	max-height:140px;
	width:100%;
	padding-bottom:5px;
	max-width:180px;
}
.lbItemImg img{
	width:100%;
	height:100%;
	max-height:140px;
}
.lbItemThumb{
	float:left;
	margin:1.5%;
	width:30%;
}
.lbItemThumb img{
	width:100%;
	height:auto;
	max-width:72px;
	max-height:72px;
}
.lbSetComment{
	display:none;
	width:220px;
	padding:3px 10px 10px 10px;
	height:270px;
	background-color:#FFF;
	position:absolute;
	left:178px;
	top:0px;
	z-index:1000;
	-webkit-box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 7px 1px 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
	.lbSetComment {
  		left: 178px;
  	}
}
@media (min-width: 992px) {
	.lbSetComment {
  		left: 170px;
  	}
}
@media (min-width: 1200px) {
	.lbSetComment {
  		left: 190px;
  	}
}
.lbSetComment .lbComments{
	overflow:auto;
	max-height:150px;
	clear:right;
	margin-bottom:10px;
}
.lbSetComment .lbComments blockquote{
	padding-top:5px;
	padding-bottom:5px;
	margin-top:5px;
	margin-bottom:5px;
}
.lbSetComment textarea{
	height:55px;
	margin-bottom:5px;
}
/* --------------------------------- */
/* front page */
/* --------------------------------- */
#frontPage H1{
	font-size:20px;
	color:#7f7f7f;
	line-height:1.3;
	text-transform:none;
	margin-top:15px;
}
@media (min-width: 768px) {
	#frontPage H1 {
		font-size:28px;
		padding-left:25px;
		padding-right:25px;
	}
}
/*#frontPage .jcarousel-wrapper{
	margin-top:-20px;
}*/
#frontPage .jcarousel-control-prev {
    left: 15px !important;
}
#frontPage .jcarousel-control-next {
    right: 15px !important;
}
#frontPage .jcarousel-control-next,
#frontPage .jcarousel-control-prev {
    background-color: #000;
    color: #fff;
    border:2px solid #FFF;
    font: 24px/24px Arial, sans-serif;
}
#frontPage a.jcarousel-control-prev, #frontPage a.jcarousel-control-next{
	text-decoration:none;
}
#frontPage a.jcarousel-control-prev:hover, #frontPage a.jcarousel-control-next:hover {
	color:#FFF;
}
#frontPage .jcarousel-pagination {
    position: relative;
    padding:0px;
    margin:0px auto 0px auto;
    text-align:center;
}

#frontPage .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 1px;
    line-height: 1em;
    min-width:10px;
    width:10px;
    height:10px;
    
    background: #000;
    color: #000;
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    border:2px solid #000;
    
    opacity: .75;
}

#frontPage .jcarousel-pagination a.active {
    background: #fff;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    text-decoration:none;
}

/* --------------------------------- */
/* details */
/* --------------------------------- */
#detail HR{
	color:#dddddd;
	padding:0px;
	margin:10px 0px 10px 0px;
}
#detail {
	color:#4d4d4d;
	font-size:11px;
}
#detail a {
	color:#737373;
	text-decoration:underline;
}
#detail H1 {
	font-size:16px;
	padding:0px;
	margin:0px;
	color:#262626;
	text-transform:none;
	line-height:1.2em;
}
#detail H2 {
	font-size:11px;
	padding:0px;
	margin:0px;
	text-transform:uppercase;
	color:#808080;
	line-height:1.2em;
}
#detail H3 {
	font-size:11px;
	padding-bottom:0px;
	margin-bottom:0px;
	margin-top:10px;
	color:#4d4d4d;
	text-transform:uppercase;
}
#detail H3 a{
	color:#19bed1;
	font-size:9px;
	padding:2px 0px 0px 10px;
	text-decoration:none;
}
#detail .detailNavBgLeft, #detail .detailNavBgRight{
	margin-top:-20px;
	background-color:#EBEBEB;
	width:45px;
	height:110px;
	text-transform:uppercase;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}
#detail .detailNavBgLeft a, #detail .detailNavBgRight a{
	color:#8e8985;
	line-height:.3em;
	font-size:18px;
	text-decoration:none;
}
#detail .detailNavBgLeft a .small, #detail .detailNavBgRight a .small{
	font-size:8px;
	color:#b1b1b1;
	padding-bottom:20px;
}
#detail #cont img{
	width:100%;
	height:auto;
}
#detail #detailMediaToolbar{
	background-color:#ebebeb;
	padding:2px 5px 7px 5px;
	font-size:12px;
	float:left;
}
#detail #detailMediaToolbar a{
	color:#929292;
}
#detail #detailMediaToolbar span{
	padding:5px;
}
#detail #detailTools{
	border-bottom: 1px solid #dddddd;
	clear:left;
	padding-top:10px;
}
#detail .detailTool {
	border-top: 1px solid #dddddd;
	padding:10px 0px 10px 3px;
	color:#858585;
	text-transform:uppercase;
	font-size:11px;
}
#detail .detailTool span{
	color:#929292;
	margin-right:5px;
}
#detail .detailTool a{
	text-decoration:none;
}
#detailComments{
	display:none;
	border-top: 1px solid #dddddd;
	padding:10px 0px 10px 0px;
	color:#929292;
}
#detailComments H2{
	color:#929292;
	font-size:11px;
	text-transform:uppercase;
	padding:0px;
	margin:0px;
}
#detail #tags {
	margin-bottom:10px;
}


#detail #detailRelatedObjects{
	border-bottom: 1px solid #dddddd;
	padding:10px 0px 10px 0px;
	margin-bottom:20px;
}
#detail #detailScrollButtonNext, #detail #detailScrollButtonPrevious{
	right:0px;
}
#detail #detailScrollButtonPrevious{
	left:0px;
}
#detail #detailScrollButtonNext, #detail #detailScrollButtonPrevious{
	background-color:#ebebeb;
	position:absolute;
	z-index:100;
	height:145px;
	opacity:.7;
	padding:60px 10px 0px 10px;
	color:#4b4b4b;
	font-size:15px;
	margin:10px 0px 10px 0px;
	width:25px;
}
#detail #detailScrollButtonNext:hover, #detail #detailScrollButtonPrevious:hover{
	background-color:#dedede;
	cursor:pointer;
	color:#000;
}
#detail #detailScrollButtonNext.inactive, #detail #detailScrollButtonPrevious.inactive{
	display:none;
}
#detail .detailObjectsResult  {
	float:left;
	width:150px;
	height:145px;
	margin:10px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	background-color:#FFFFFF;
	line-height:1em;
	padding:10px;
	font-size:11px;
	overflow:hidden;
}
#detail .detailObjectsResult a  {
	color:#4b4b4b;
}
#detail .detailObjectsResult img {
	width:100%;
	height:auto;
	margin-bottom:5px;
}


/* --------------------------------- */
/* browse b */
/* --------------------------------- */
#browseResults {
	padding:0px 30px 0px 25px;
}
#browseResults a .glyphicon {
	color:#b3b3b3;
}
#browseResults a.active .glyphicon {
	color:#545454;
}
#browseResults H1 {
	margin:0px;
	padding:0px;
}
#browseResults H2{
	color:#858585;
	font-size:13px;
	margin:0px;
	padding-left:20px;
	padding-top:0px;
}
#browseResults H1 .btn-group{
	text-transform:none;
}
#bViewButtons{
	float:right;
	font-size:18px;
	padding-bottom:5px;
}
#browseResultsContainer{
	margin-top:20px;
}
.bResultItemCol{
	height:290px;
}
.bResultItemContent {
	height:240px;
	overflow:hidden;
}
.bResultItem{
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	background-color:#FFFFFF;
	line-height:1em;
	padding:10px;
}
.bResultItem:hover{
	padding:20px;
	margin:-10px;
	height:280px;
	font-size:12px;
	color:#000;
}
.bResultItem .bResultItemImg{
	max-height:180px;
	min-height:100px;
	overflow:hidden;
	margin-bottom:5px;
}
.bResultItem img{
	width:100%;
	height:auto;
}
.bResultItem .bResultItemText a{
	line-height:1.2em;
	color:#000;
}
.bResultItem .bResultItemText{
	line-height:1.2em;
	color:#000;
}
.bResultItem .bResultItemText{
	font-size:12px;
}
.bResultItem .bResultItemText small, .bResultItem .bResultItemText small a{
	color:#9d9d9d;
}
.bResultItemExpandedInfo{
	display:none;
	background-color:#FFFFFF;
	padding:20px 0px 20px 0px;
	background-color:#FFF;
	-webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
	z-index:1000;
	position:relative;
	margin:0px -20px -20px -20px;
	padding:0px 20px 20px 20px;
}
#bRefine {
	background-color:#DADADA;
	padding:20px;
	line-height:.75em;
	padding-top:34px;
	z-index:10;
	position:relative;
}
#bRefine H1 {
	color:#858585;
	font-size:16px;
	margin:0px;
}
#bRefine H2 {
	margin-bottom:3px;
	margin-top:20px;
	text-transform:uppercase;
	padding-left:0px;
}
#bRefine a {
	color:#000000;
	font-size:11px;
}
#bRefine a.more {
	color:#858585;
	text-decoration:underline;
}
#bRefine div {
	margin-bottom:5px;
}
#bMorePanel{
	position:fixed;
	right:0px;
	top:0px;
	bottom:0px;
	background-color:#FFFFFF;
	-webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
	padding:10px;
	display:none;
	z-index:10000;
}
#bMorePanel .bFilterCount{
	color:#454545;
	font-weight:normal;
	font-size:.8em;
	padding-left:10px;
}
#bMorePanel #bScrollList{
	overflow-y:auto;
	padding-left:10px;
	height:95%;
	float:left;
	margin-top:5px;
	width:250px;
}
@media (min-width: 992px) {
	#bMorePanel #bScrollList{
		width:350px;
	}
}
#bMorePanel #bScrollList a{
	color:#454545;
	padding-bottom:5px;
	line-height:1.1em;
	font-size:11px;
}
#bMorePanel #bLetterBar{
	float:right;
	margin:0px 40px 0px 10px;
	text-align:center;
}
#bMorePanel #bLetterBar a{
	text-decoration:none;
	font-weight:bold;
}


/* --------------------------------- */
/* multiSearch s */
/* --------------------------------- */
#multiSearch {
	padding:0px 30px 0px 25px;
}
#multiSearch H1 {
	margin:0px 0px 15px 0px;
	padding:0px;
}
#multiSearch H2{
	color:#858585;
	font-size:15px;
	margin:0px;
	padding:0px;
}
#multiSearch .blockResults {
	height:170px;
	margin-bottom:15px;
	overflow:hidden;
	clear:both;
}

#multiSearch .blockResultsScroller {
	height: 170px;	/* Needs to be some height */
}

#multiSearch #objectsBlock, #multiSearch #entitiesBlock, #multiSearch #placesBlock, #multiSearch #occurrencesBlock, #multiSearch #collectionsBlock {
	width:100%;
	overflow-y:hidden;
	position:relative;
}

#multiSearch #objectsResults, #multiSearch #entitiesResults, #multiSearch #placesResults, #multiSearch #occurrencesResults, #multiSearch #collectionsResults {
	overflow-x:scroll;
	overflow-y:hidden;
	width:100%;
}
#multiSearch #scrollButtonNext, #multiSearch #scrollButtonPrevious{
	right:0px;
}
#multiSearch #scrollButtonPrevious{
	left:0px;
}
#multiSearch #scrollButtonNext, #multiSearch #scrollButtonPrevious{
	background-color:#ebebeb;
	position:absolute;
	z-index:100;
	height:145px;
	opacity:.7;
	padding:60px 10px 0px 10px;
	color:#4b4b4b;
	font-size:15px;
	margin:10px 0px 10px 0px;
	width:25px;
}
#multiSearch #scrollButtonNext:hover, #multiSearch #scrollButtonPrevious:hover{
	background-color:#dedede;
	cursor:pointer;
	color:#000;
}
#multiSearch #scrollButtonNext.inactive, #multiSearch #scrollButtonPrevious.inactive{
	display:none;
}
#multiSearch .objectsResult, #multiSearch .collectionsResult  {
	float:left;
	width:150px;
	height:145px;
	margin:10px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	background-color:#FFFFFF;
	line-height:1em;
	padding:10px;
	font-size:11px;
	overflow:hidden;
}
#multiSearch .objectsResult a, #multiSearch .collectionsResult a  {
	color:#4b4b4b;
}
#multiSearch .objectsResult img, #multiSearch .collectionsResult img {
	width:100%;
	height:auto;
	margin-bottom:5px;
}



#multiSearch .entitiesSet, #multiSearch .placesSet, #multiSearch .occurrencesSet {
	float:left;
	width:250px;
	height:170px;
	margin-right:20px;
	overflow:hidden;
	padding-top:10px;
}

#multiSearch .entitiesSet a, #multiSearch .placesSet a, #multiSearch .occurrencesSet a {
	font-size:12px;
	color:#4b4b4b;
}
#multiSearch .placesResult, #multiSearch .occurrencesResult, #multiSearch .entitiesResult {
	margin-bottom:5px;
	height:45px;
	line-height:1.1em;
	background-color:#f3f3f3;
	padding:5px 10px 5px 10px;
}
#multiSearch .placesResult:hover, #multiSearch .occurrencesResult:hover, #multiSearch .entitiesResult:hover {
	background-color:#ededed;
}
