*{margin:0;padding:0}
blockquote,ol,ul,h1,h2,h3,h4,h5,h5,h6 {margin:0 0 1em 0}
#central_point_container {
position:relative;
background-color: #ffffff; width: 800px; margin: 0px auto 0px auto; border:#525E48 0px solid;}

BODY {  background-color: #ffffff; Font-family:Arial, Helvetica, Georgia; sans-serif; font-size: 12px; line-height:150%; color: #333333; margin-left:0;margin-top:10; text-align: center;} 

#head {
position:absolute;
top:40px;
right:200px;
}

TD {  Font-family:Arial, Helvetica, Georgia; sans-serif; font-size: 12px; line-height:150%; }
	
TD.menu {background-image: url(http://www.centralpt.com/customer/image_gallery/417/menu.GIF);background-repeat:no-repeat; background-color: ffffff; Font-family:Arial, Helvetica, Georgia; sans-serif;letter-spacing: .01px; width: 800px;
border-bottom:none;padding-left: 18px;  height:28px;  }
table.menu { height: 28px; width: 800px;line-height:130%; } 

ul{list-style-type:circle;margin-left:4px;}

#topNav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav a {background-color: none;
	font-weight: strong;
	color: #FFFFFF;
        vertical-align:middle;
position:relative;
top:1px;
}

#nav a {
	text-decoration: none;
}

#nav li a
{
padding-left: 34px; padding-right: 34px; padding-top:6px;
}

#nav li li a {
        font-size: 11px;
	display: block;
	font-weight: bold;
        text-align: left; 
	color: #FFFFFF;
	padding: 2px 2px;
border-bottom: none;
}

#nav li li a:hover {
        font-size: 11px;
	padding: 2px 2px;
	border: 0;
text-align: left;  
background-color: #ff8d51;
font-weight: bold; 	
border-bottom: none;
filter: alpha(opacity=100);
}

#topNav li {text-transform: uppercase;
        color:#EEE9D5;
	float: left;
        font-size: 13px;
        font-weight: bold;
	position: relative;
	text-align: center;
	cursor: default;
	background-color: none;
	border:none;
	border-width: 0px 0;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
height:22px;
z-index:5;
}

li#first {
	border-left-width: 1em;
}

li#last {
	border-right-width: 1em;
}

li ul {font-variant:none;
	display: none;
	position: absolute;
	left: 0px;
	top:100%;
	width:100%;
	font-weight: normal;
	background-color: #547393;
	padding: 0em 0 0em 0;	
	border-bottom: none;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

li ul li
{
	width:100%;
	padding:0px;
	margin:0px;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

#nav li li
{
	padding: 0px 0px;
	margin: 0px 0px;
height:auto;
}

#topNav li li {
	display: block;
	float: none;
	background-color: transparent;
	border: 0;
	padding-bottom:0px;
        margin-top:none;
border-bottom: #a5a5a5 1px solid;
}

li:hover ul, li.over ul {
	display: block;
}

/*		
a:link {
		color: #99A968;
		text-decoration: none;

	}
	
	a:visited {
		text-decoration: none; 
		color: #99A968;
	}
		
	a:hover {
		text-decoration: underline;
		color: #000000;
	}

	a:active {
		text-decoration: none;
		color: #99A968;
	}
*/
              
ul{list-style-type:circle;margin-left:0px 0px 10px 4px;}
 ul ul {list-style-type:circle;margin:0px 0px 0px 20px;}
 ol li{list-style-type:decimal;margin:0px 0px 0px 56px;}
hr { height: 0;
margin:3px 0 3px 0;
border-width: 1px 0 0 0;
color: #4a4a4a;  
border-style: solid;  } 
blockquote {margin:0 0 10px 1em;}
.cvertical {width: 0;
border-width: 0 0 0 1px;
border-style: dotted;
background-color: #000000;}
UL { padding:0em;
	  list-style-type:disc;
  margin:0px 0px 0px 50px;
  display:block;}
LI { margin:0 ;padding:0}
P {padding:3px 3px .5em 3px;
line-height:150%;}

B { color :#000000;}

.header:hover { text-decoration:none; color:#c0c0c0; }

H1 {
	font-family:Arial, Helvetica, Georgia; sans-serif;
	font-size: 18;
	font-weight: bold;
	color: #547393;
	margin-bottom:0;margin-top:0;margin-right:0;margin-left:0;
	padding:0px 0px 10px 0px;
	Border-right: none;
	Border-bottom:none;
	line-height:1.2em;
}

H1.news {
		font-family:Arial, Helvetica, Georgia; sans-serif;;
		font-size: 14px;
		color: #072050;
		font-weight: bold;

}

H1.header {
	font-family:Arial, Helvetica, Georgia; sans-serif;
	font-size: 18;
	font-weight: bold;
	color: #547393;
	margin-bottom:4;margin-top:14;margin-right:1;margin-left:0;
Border-right: none;
Border-bottom:none;
}


H1.header {
	font-family:Arial, Helvetica, Georgia; sans-serif;
	font-size: 18;
	font-weight: bold;
	color: #547393;
	margin-bottom:7;margin-top:10;margin-right:0;margin-left:0;
Border-right: none;
Border-bottom:none;
}

h2{
	margin:12px 0px 3px 0px;
}
/*H2 {background-image: url(http://www.centralpt.com/customer/image_gallery/417/HEADER2.GIF);background-repeat:no-repeat; background-color:#4a4a4a; padding-left: 15px;padding-top: 0px;padding-bottom: 0px;
	font-family:Arial, Helvetica, Georgia; sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom:1;margin-top:1;margin-right:0;
        border-right:none;
}*/

H3 {background-image: url(http://www.centralpt.com/customer/image_gallery/417/HEADER3.GIF);background-repeat:no-repeat; background-color:#878787; padding-left: 15px;padding-top: 0px;padding-bottom: 0px;
	font-family:Arial, Helvetica, Georgia; sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom:1;margin-top:1;margin-right:0;
border-right:none;
}

H4 {background-image:none; 
	font-family:Arial, Helvetica, Georgia; sans-serif;
	font-size: 13px;
	font-variant:small-caps;
	font-weight: strong;
	color: #F0782E;
        background-color: #ffffff;
	margin-bottom:0;margin-top:0;margin-right:0px;
        border-bottom:#4a4a4a 2px solid;
        border-right:#4a4a4a 1px solid;
        text-align: left;
        line-height:130%;}


H5 {font-family:Arial, Helvetica, Georgia; sans-serif;
	font-size: 14px;
        font-variant:small-caps;
	font-weight: strong;
	color: #878787;
        margin-top:2px;
	margin-bottom:0;margin-top:0;margin-right:0;
        border-bottom:#878787 1px solid;
}
H6 {font-family:Arial, Helvetica, Georgia; sans-serif;
	font-size: 14px;
        font-variant:small-caps;
	font-weight: strong;
	color: #4a4a4a;
        margin-top:2px;
	margin-bottom:0;margin-top:0;margin-right:0;
        border-bottom:none;
}
Address {font-family:Arial, Helvetica, Georgia; sans-serif;
         color:#666666;
         font-size: 10px;
         padding:3px 3px .5em 3px;
         line-height:110%;
}
#highlighttext
{
	position:absolute;
	left:643px;
	top:0px;
	width:95px;
	overflow:hidden;
	height:80px;
        color: #afafaf; 
}

#headerblock
{
	width:100%;
	position:relative;
}

    


TABLE.shaded
{
background-color: #EAE7D6;
border:#D0CAA4 1px solid;
}
#slideshow
{
	width:800px;
	height:100px;
	margin:auto;
	min-height:200px;
	position:relative;
	text-align:center;
}



#mainImg
{
	padding:10px;
	border:1px solid black;
	margin:5px;
}

#thumbs 
{ 
height: 90px; 
background-color:none;
width:100%;
}

#thumbs img
{
	width:70px;
	height:70px;
	border:none;
	padding:2px;
}

#thumbs li,#thumbs ul
{
	list-style-type:none;
	display:inline;
	padding:0px;
	margin:0px;
}

.dailyDev td
{
padding:4px;
}

.newsLetter
{
margin:auto;
}
.cse-overlay
{
z-index:6;
}
#fs_wrapper {
top:-1px;
left:-1px;
}
#c_428851, #c_428852, #c_428853, p
{
padding:0px;
margin:0px;
}
#c_428855
{
padding-top:8px;
padding-right:5px;
}
#c_428852
{
padding-left:1px;
padding-right:1px;
}
#c_428851, #c_428852, #c_428853 {padding-top:1px;}