@font-face {
    font-family: 'Optima LT Std';
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.eot');
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Medium.svg#OptimaLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Optima LT Std';
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.eot');
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-Bold.svg#OptimaLTStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Optima LT Std';
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.eot');
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd-DemiBold.svg#OptimaLTStd-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Optima LT Std';
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd.eot');
    src: url('../../assets/pawtucket/css/webFonts/OptimaLTStd.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/OptimaLTStd.svg#OptimaLTStd') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans Light';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Light.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Light.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Light.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Light.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Light.svg#NotoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Bold.svg#NotoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-BoldItalic.svg#NotoSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans Med';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-MediumItalic.svg#NotoSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans Med';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-Medium.svg#NotoSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Light';
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.eot');
    src: url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.woff2') format('woff2'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.woff') format('woff'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.ttf') format('truetype'),
        url('../../assets/pawtucket/css/webFonts/NotoSans-LightItalic.svg#NotoSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
/* universal header/footer styles */
#header {
	height: 50px;
	position:relative;	
}
#header div{
	font-family: 'Optima LT Std';
	font-size:16px;
	text-align:center;
	padding-top:15px;
}
img.headerImg {height:25px; width:auto; margin-top:20px; margin-bottom:10px;}
.pagingText { position: absolute; top: 30px; right: 30px; font: "Noto Sans Light"; font-size: 11px; text-align: right;  margin: 0px 0px 10px 25px;}
#footer .pagingText{ top:20px; width:200px;}
body{
	text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Noto Sans Light';
    color:#000;
     margin:0px;
     padding:0px;
     font-size:11px;
}

/* dompdf */
@page { margin: 65px 56px 65px 56px; }

#headerdompdf { position: fixed; left: 0px; top: -75px; right: 0px; height: 55px;  text-align: left; vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; }
#headerdompdf div { text-align:center; padding-top:15px; font-family: 'Optima LT Std'; font-size:16px;}
#footerdompdf { position: fixed; left: 0px; bottom: -0px; right: 0px; height: 0px; text-align: center; vertical-align: bottom; }
#footerdompdf .pagingText:after { content: counter(page, decimal); }
#footerdompdf .pagingText { bottom:0px; }


/* thumbnails template */
.pageContainer{position:relative;}
.thumbnail { font: "Noto Sans Light"; font-size: 8px; line-height:.7em; width: 200px;  height: 205px; position: absolute; text-align: center; margin: 0px; padding: 3px; border-radius:0px;}	
.imgThumb {text-align:center;}
.caption {font-size:8px; color:#333; display:block; line-height:1em;  padding-top:3px;}
.pageBreak { page-break-before: always; height:1px; }
.clear { clear: both; height: 1px; }

/* checklist template */
.row { font: "Noto Sans Light"; font-size: 11px; border-bottom: 1px solid #eee; width: 100%; height: auto; margin: 5px 0 0 0; padding: 3px 0px 5px 0px; overflow: none}	
.imageTiny { width: 120px; margin: 0 5px 0 0; border-radius: 5px; text-align:center;}
.imageTinyPlaceholder { width: 120px; height: 100px; border: 1px solid #eee; background-color: #eee; margin: 0 5px 0 0; border-radius: 5px;}
.displayHeader {border-bottom:1px solid #666; color:#666; font-weight:bold;}
.displayValue {}
.title {font-weight:bold; font-size: 12px;}
.metadata {line-height:1.1em;}
.metaBlock {margin-left:0px; margin-left:0px; height:auto; width:400px; font-size:11px;}

.chronologyTitle{font-size: 14px;font: "Optima LT Std"; margin-bottom:5px;}

