@font-face {
	font-family: 'SangBleuSansLight';
	font-style: normal;
	src: local("SangBleuSansLight"), local("SangBleuSansLight"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-eot.eot") format("eot"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-woff.woff") format("woff"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-woff2.woff2") format("woff2"), url("../../assets/pawtucket/css/webFonts/SangBleuSansLight-ttf.ttf") format("ttf");
}
@font-face {
font-family: 'SangBleuSerif-Light';
font-style: normal;
src: local("SangBleuSerif-Light"), local("SangBleuSerif-Light"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-eot.eot") format("eot"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-woff.woff") format("woff"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-woff2.woff2") format("woff2"), url("../../assets/pawtucket/css/webFonts/SangBleuSerif-Light-ttf.ttf") format("ttf");
}

/* universal header/footer styles */
#header {
	height: 50px;
	position:relative;	
}
#header div{
	font-family: 'SangBleuSansLight';
	font-size:16px;
	text-align:center;
	padding-top:15px;
}
img.headerImg {height:25px; width:auto; margin-top:20px; margin-bottom:10px;}
.pagingText { position: absolute; top: 30px; right: 30px; font: "helvetica"; font-size: 11px; text-align: right;  margin: 0px 0px 10px 25px;}
#footer .pagingText{ top:20px; }
body{
	text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'SangBleuSerif-Light';
    color:#000;
     margin:0px;
     padding:0px;
     font-size:11px;
}

/* dompdf */
@page { margin: 65px 56px 65px 56px; }

#headerdompdf { position: fixed; left: 0px; top: -75px; right: 0px; height: 55px;  text-align: left; vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; }
#headerdompdf div { text-align:center; padding-top:15px; font-family: 'SangBleuSansLight'; font-size:16px;}
#footerdompdf { position: fixed; left: 0px; bottom: -0px; right: 0px; height: 0px; text-align: center; vertical-align: bottom; }
#footerdompdf .pagingText:after { content: counter(page, decimal); }
#footerdompdf .pagingText { bottom:0px; }


/* thumbnails template */
.pageContainer{position:relative;}
.thumbnail { font: "helvetica, sans-serif"; font-size: 11px; border: 1px solid #ccc; width: 200px; height: 205px; position: absolute; text-align: center; margin: 10px 10px 10px 10px; padding: 3px; overflow: hidden; border-radius:4px;}	
.imgThumb {text-align:center;}
.caption {font-size:10px; color:#333; display:block; line-height:1.1em; padding-top:3px;}
.pageBreak { page-break-before: always; height:1px; }
.clear { clear: both; height: 1px; }

/* checklist template */
.row { font: "helvetica, sans-serif"; font-size: 11px; border-bottom: 1px solid #eee; width: 100%; height: auto; margin: 5px 0 0 0; padding: 3px 0px 5px 0px; overflow: none}	
.imageTiny { width: 120px; margin: 0 5px 0 0; border-radius: 5px; text-align:center;}
.imageTinyPlaceholder { width: 120px; height: 100px; border: 1px solid #eee; background-color: #eee; margin: 0 5px 0 0; border-radius: 5px;}
.displayHeader {border-bottom:1px solid #666; color:#666; font-weight:bold;}
.displayValue {}
.title {font-weight:bold; font-size: 12px;}
.metadata {line-height:1.1em;}
.metaBlock {margin-left:0px; margin-left:0px; height:auto; width:400px; font-size:11px;}

