/* 
	BS Grid Sizing:

	xs <576px 
	sm ≥576px 
	md ≥768px 
	lg ≥992px 
	xl ≥1200px 
	xxl ≥1400px 
*/

:root {
	--bs-breakpoint-xs: 0;
	--bs-breakpoint-sm: 576px;
	--bs-breakpoint-md: 768px;
	--bs-breakpoint-lg: 992px;
	--bs-breakpoint-xl: 1200px;
	--bs-breakpoint-xxl: 1400px;
}

body{
	letter-spacing: .87px;
	height: 100%;
	overflow: hidden;
}

/* ------------------------------------------- */
/* Necessary to get barba to transition properly */
/* ------------------------------------------- */

.barba-main-container{
	position: absolute;
	width: 100%;
	height: 100%;
}

/* ------------------------------------------- */
/* Sidebar and Mobile Navigation Styles */
/* ------------------------------------------- */
.sidebar-container{
	position: fixed;
	z-index: 2;
	/* width: 280px; */
	margin-top: 0%;
	padding: 10px 60px 20px 250px;
	background-color: transparent;
}

.sidebar{
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 50px;
}

.sidebar:after{
	content: '';
	width: 1px;
	height: 50%;
	position: absolute;
	right: -10px;
	top: 35%;
	background: rgba(255, 255, 255, 0);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.sidebar li{
	margin-bottom: 7px;
}

.sidebar li a{
	font-family: Forum, sans-serif;
	font-weight: 200;
	font-size: 20px;
	color: #fff;
	text-decoration: none;

	border: 6px solid transparent;
	border-width: 2px;
	border-image-slice: 1;
	padding: 2px;
}
.sidebar li a:hover{
	color: #fff;
}

.sidebar li a:focus{
	border: 6px solid;
	border-image-slice: 1;
	border-width: 2px;
	padding: 2px;
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	color: #fff;
}

@media (max-width: 1600px) {
	.sidebar-container {
		padding: 10px 60px 20px 200px;
	}
	.general-page {
		padding-left: 500px !important;
		padding-right: 200px !important;
	}
}
@media (max-width: 1450px) {
	.sidebar-container {
		padding: 10px 60px 20px 150px;
	}
	.general-page {
		padding-left: 450px !important;
		padding-right: 150px !important;
	}
}
@media (max-width: 1300px) {
	.sidebar-container {
		padding: 10px 60px 20px 100px;
	}
	.general-page {
		padding-left: 400px !important;
		padding-right: 100px !important;
	}
}
@media (max-width: 1150px) {
	.sidebar-container {
		padding: 10px 60px 20px 50px;
	}
	.general-page {
		padding-left: 350px !important;
		padding-right: 50px !important;
	}
	.heading-size-1 {
		font-size: 60px !important;
	}

	.heading-size-2 {
		font-size: 50px !important;
	}
}
@media (max-width: 900px) {
	.sidebar-container {
		display: none;
	}
	.general-page {
		padding: 80px 20px !important;
	}
	.general-page .container {
		padding: 0 !important;
	}
}


/* ------------------------------------------- */
/* Mobile Navbar Styling */
/* ------------------------------------------- */

.mobile-navbar{
	display: none !important;
	position: absolute !important;
	font-family: Poppins;
	font-weight: 200;
	font-size: 16px;
	background: transparent;
	box-shadow: none;
	width: 100%;
	justify-content: space-between;
}

.mobile-navbar .container-fluid{
	width: 100%;
}

.mobile-navbar .navbar-nav .nav-link{
	color: #fff;	
}
@media (max-width: 900px) {
	.mobile-navbar {
		display: flex !important;
	}
}

.navbar-collapse{
	padding: 20px !important;
	max-height: 100%;
	background-color: #000;
}

@media (min-width: 900px) {
	.navbar-collapse.collapse{
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
}

@media (min-width: 768px) {
	.collapse:not(.show) {
		display: none !important;
	}
}

.mobile-navbar .container-fluid svg{
	height: 50px;
	width: 70px;
}


ul.navbar-nav{
	padding-left: 20px !important;
}

/* ------------------------------------------- */
/* General Page Styling */
/* ------------------------------------------- */

.general-page {
	color: #fff;
	padding: 100px 270px 50px 550px;
	height: 100%;
	overflow-y: auto;
}

.page-heading {
	font-family: Antic Didone;
	font-weight: 400;
	padding-bottom: 50px;
	text-transform: none;
}

.heading-size-1 {
	font-size: 85px;
}

.heading-size-2 {
	font-size: 70px;
}


.page-content, blockquote {
	font-family: Poppins;
	font-weight: 200;
	font-size: 24px;
}

blockquote {
	font-style: italic;
}

.content-size-1 {
	font-size: 24px;
}

.content-size-2, blockquote {
	font-size: 16px;
}

.browse-link{
	margin-bottom: 20px;
}

.browse-link, .browse-link a{
	font-family: Forum;
	/* font-size: 20px; */
	color: #fff;
	text-decoration: none;
}
.browse-link:hover, .browse-link a:hover{
	text-decoration: underline;
}

ul{
	list-style-type: none;
}



/* ------------------------------------------- */
/* Navigation Styling */
/* ------------------------------------------- */

.navigation-row {
	padding: 0 0 40px 0;
}
.navigation-row div a{
	color: #FFF;
	text-decoration: none;
}

.navigation-row div a:hover{
	text-decoration: underline;
}


/* ------------------------------------------- */
/* Page Backgrounds and Specific Styling */
/* ------------------------------------------- */

.about-section {
	background-size: cover;
	background-image: url("../graphics/home-bg.png");
	background-position: center;
	background-repeat: repeat;
	background-color: rgba(42, 10, 66, 1);
}


/* .about-graphic {
	position: relative;
	bottom: 0;
	right: 0;
} */

.about-graphic svg {
	position: absolute;
	top: 0;
	left: 0;
}

.about-graphic .second-svg {
	position: absolute;
	top: -100px;
	left: 160px;
}

.ourstory-section, .gallery-section, .performances-section, .object-detail-section, .browse-section {
	background: linear-gradient(to bottom, rgba(26, 8, 40, 1) 0%, rgba(42, 10, 66, 1) 50%, rgba(31, 9, 49, 1) 100%);
}

.performances-links .link-text {
	font-family: Poppins;
	font-weight: 300;
	font-size: 18px;
	color: #964B00;
	text-decoration: none;
}

.journey-section {
	background: linear-gradient(to bottom, rgba(124, 75, 28, 1) 0%, rgba(78, 56, 31, 1) 50%, rgba(11, 7, 1, 1) 100%);
}
.journey-links .link-text {
	font-family: Forum;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}

.storymap{
	background-color: #fff;
	padding: 20px;
	margin: 40px 0;
}

.archives-section {
	background: linear-gradient(180deg, #1B090D 0%, #360B15 52.54%, #1B090D 100%);
}
.archive-landing-img img{
	border-radius: 10px;
	opacity: 30%;
	margin-bottom: 30px;
}


.explore-grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.explore-grid-item{
	z-index: 1;
	width: 190px;
	margin: 10px;
	padding: 10px;
	background-color: #300A13;
	border-style: solid;
	border-width: 1px;
	border-color: #957F82;
	border-radius: 10px;
}

.explore-grid-item .explore-icon{
	margin-bottom: 15px;
}

.explore-grid-item .explore-text h4, .explore-grid-item a{
	margin-bottom: 15px;
	font-family: Poppins;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
}
.explore-grid-item .explore-text p{
	font-family: Poppins;
	font-size: 13px;
	line-height: 24px;
	font-weight: 300;
}



/* ------------------------------------------- */
/* Choreographic Works Landing Page Styling */
/* ------------------------------------------- */

.choreoworks-section, .works-detail-section{
	background: linear-gradient(to bottom, rgba(11, 18, 75, 1) 0%, rgba(14, 17, 39, 1) 50%, rgba(3, 6, 30, 1) 100%);
}

.works-img img{
	border-radius: 10px;
	opacity: .7;
	transition: .3s;
}
.works-img img:hover{
	opacity: 1;
	transition: .3s;
}

.works-caption-title, .works-caption-title a{
	font-family: Forum, sans-serif;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	text-transform: none;
	display: block;	
	margin-top: 8px;
}

.works-caption-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 180px;
}

.works-caption-title:hover{
	color: #fff;
	text-decoration: none;
}

.works-caption-date{
	font-family: Poppins;
	font-size: 12px;
	color: #FFFFFF4D;
	text-decoration: none;
	text-transform: none;
}

.works-grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.works-item{
	margin-bottom: 15px;
}


@media screen and (max-width: 1350px) {
	.works-grid-container, .choreographer-grid-container {
		grid-template-columns: repeat(3, 1fr) !important;
	}

}
@media screen and (max-width: 1070px) {
	.works-grid-container,.choreographer-grid-container {
		grid-template-columns: repeat(2, 1fr) !important;
	}

}


/* ------------------------------------------- */
/* Choreographers Page Main Page Styling */
/* ------------------------------------------- */
.choreographers-section,
.entity-detail-section {
	background: linear-gradient(to bottom, rgba(23, 50, 19, 1) 0%, rgba(12, 28, 9, 1) 50%, rgba(2, 11, 1, 1) 100%);
}

.choreo-img-container {
	position: relative;
	width: 200px;
}

.choreo-img {
	opacity: 0.4;
	transition-duration: 0.3s;
}
.choreo-img img{
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
}

.choreo-img-container:hover .choreo-img {
	opacity: 1;
}

.text-overlay {
	font-family: Forum;
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	text-align: right;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 87px;
	text-align: left;
	line-height: 1.1em;
}

.text-overlay:hover {
	color: #fff;
	text-decoration: none;
}

.choreographer-grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
}


.choreographer-grid-item {
	padding: 20px;
}


/* ------------------------------------------- */
/* General Detail Page Styling */
/* ------------------------------------------- */
.detail-list{
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
.detail-list-item{
	padding-right: 15px;
}

/* ------------------------------------------- */
/* Choreograpic Works Occurrence Detail Styling */
/* ------------------------------------------- */


.occurrence-img img {
	border-radius: 10px;
}

.occurrence-info .occurrence-person a{
	font-family: Poppins;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
	text-transform: none;
}

.occurrence-info .occurrence-person a span{
	/* font-family: Poppins;
	font-size: 16px; */
	font-weight: 200;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

/* ------------------------------------------- */
/* Entity Detail Styling */
/* ------------------------------------------- */

.entity-name, .entity-data-label {
	font-family: Forum;
	font-size: 24px;
	text-transform: none;
}

.entity-bio {
	font-family: Poppins;
	font-size: 16px;
	line-height: 1.75;
}

a.readmore-js-toggle {
	font-family: Poppins;
	font-size: 16px;
	color: #fff;
}

.works-row, .items-row, .object-data-row{
	padding-top: 40px !important;
	padding-bottom: 40px !important;
	border-top: 1px solid #fff;
}

.related-items-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}

@media screen and (max-width: 1250px) {
	.related-items-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 923px) {
	.related-items-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.related-item {
	text-align: center;
}

.related-item-title,
.related-item-title a, .bResultItemText a, .lb-caption a{
	font-family: Forum, sans-serif;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	text-transform: none;
	display: block;
}

.related-item-title:hover {
	color: #fff;
	text-decoration: none;
}

.related-item-img{
	height: 180px;
	position: relative;
}

.related-item-img a img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* .related-item-img-placeholder {
	width: 100%;
	height: 80%;
	object-fit: contain;
	background-image: url('/themes/dancingdigital/assets/pawtucket/graphics/grey.png');

	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
} */

.related-item-img-placeholder {
	width: 250px;
	height: 100%;
	object-fit: contain;
	background-image: url('/themes/dancingdigital/assets/pawtucket/graphics/grey.png');
	margin: auto;
}


/* ------------------------------------------- */
/* Object Detail Styling */
/* ------------------------------------------- */

.object-info{
	margin-bottom: 20px;
}
.object-info-label{
	font-family: Poppins;
	font-size: 16px;
	text-transform: capitalize;
}
.object-info .info-text{
	font-family: Forum;
	font-size: 16px;
}
.object-info .info-text a{
	font-family: Forum;
	font-size: 16px;
	text-decoration: none;
}

.object-rep img{
	max-height: 400px;
	max-width: 500px;
	object-fit: contain;
}



/* ------------------------------------------- */
/* Browse Styling */
/* ------------------------------------------- */

.browse-page-title{
	margin-bottom: 40px;
	font-size: 40px;
	text-transform: capitalize;
	font-size: 60px;
}

@media screen and (max-width: 768px) {
	.browse-section {
		.container {
			max-width: unset;
		}
	}
}

.browseResultsGrid, .lb-item-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

@media screen and (max-width: 1700px) {
	.browseResultsGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
	.browseResultsGrid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 900px) {
	.browseResultsGrid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.bGridResultItem {
	text-align: center;
}

.bResultItemImg {
	height: 180px;
	margin: auto;
	position: relative;
}

.bResultItemImg a img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* .bResultImgPlaceholder {
	width: 100%;
	height: 80%;
	object-fit: contain;
	background-image: url('/themes/dancingdigital/assets/pawtucket/graphics/grey.png');

	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
} */

.bResultImgPlaceholder {
	width: 250px;
	height: 100%;
	object-fit: contain;
	background-image: url('/themes/dancingdigital/assets/pawtucket/graphics/grey.png');
	margin: auto;
}

#bSortByList ul, li, a, .bResultsAmount, .lbSetCount{
	font-family: Poppins, sans-serif;
	font-size: 14px;
	color: #fff !important;
}

strong {
	font-family: Poppins, sans-serif;
	font-size: 14px;
	color: #fff;
}

.bResultsAmount{
	font-size: 18px !important;
	/* text-transform: none; */
}

.browse-section h1 {
	font-family: Forum, sans-serif;
	font-weight: 200;
}

.browse-menu-items .dropdown-menu{
	font-family: Poppins, sans-serif;
	font-weight: 200;
	font-size: 12px;
}
.browse-menu-items .dropdown-menu .dropdown-header{
	font-size: 12px;
}

.bCriteria strong {
	font-family: Poppins;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

.bCriteria {
	padding-top: 5px;
	padding-bottom: 5px;
}

a.browseRemoveFacet .glyphicon, a.browseRemoveFacet button, .comment-save-btn {
	padding-left: 5px !important;
	font-size: 12px !important;
	color: #FFF !important;
	font-family: Poppins !important;
}

a.browseRemoveFacet img {
	margin-bottom: 3px;
}

#bViewButtons {
	text-align: right;
	font-size: 18px;
	padding-bottom: 5px;
}
#bViewButtons a{
	color: #fff;
}

.bViewButtons .disabled {
	pointer-events: all;
}

#bRefine {
	background-color: transparent;
	/* width: 275px; */
	line-height: 0.75em;
	padding: 0px 10px;
	position: relative;
	z-index: 10;
	overflow-y: auto;
	display: block;
	color: #fff;
}

#bRefine H2, .comment-label {
	font-family: Forum, sans-serif;
	font-weight: 200;
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
	margin-top: 0px;
}

#bRefine H5,
#bRefine H3 {
	font-family: Forum, sans-serif;
	font-weight: 200;
	font-size: 18px;
	margin-bottom: 8px;
	margin-top: 20px;
	text-transform: capitalize;
	padding: 0px;
	color: #fff;
}

#bRefine a {
	font-family: Poppins;
	font-weight: 200;
	color: #fff;
	font-size: 14px;
	/* line-height: 146%; */
	text-decoration: none;
}
#bRefine a:hover {
	text-decoration: underline;
}

#bRefine a.more {
	color: #fff !important;
	text-decoration: underline;
}
#bRefine a.more em{
	color: #fff !important;
}

#bRefine div {
	margin-bottom: 5px;
}

@media (min-width: 768px) {
	#bRefine.fixed {
		position: fixed;
		top: 0px;
		margin-top: 0px;
	}
}

#bRefineButton,
#bRefineClose {
	display: none;
}

@media (max-width: 767px) {
	#bRefine {
		/* display: none; */
		/* position: fixed; */
		z-index: 10000;
		/* top: 0px;
		left: 0px;
		right: 0px; */
		margin-top: 0px;
		overflow: auto !important;
		height: 100% !important;
		margin: 0px;
		width: 100%
	}

	#bRefineButton {
		display: inline;
	}

	#bRefineButton .fa {
		color: #666 !important;
		top: -2px;
		position: relative;
	}

	#bRefineClose {
		display: block;
		font-size: 20px !Important;
	}
}


#bMorePanel {
	position: fixed;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
	padding: 10px;
	display: none;
	z-index: 10001;
	min-width: 450px;
	color: #000 !important;
}

#bMorePanel .bFilterCount {
	color: #000 !important;
	font-weight: normal;
	font-size: .8em;
	padding-left: 10px;
}

#bMorePanel #bAncestorList {
	padding: 10px 0px 10px 0px;
	margin-bottom: 10px;
	max-width: 400px;
	color: #000 !important;
}

#bMorePanel #bAncestorList span {
	font-size: 7px;
	color: #000 !important;
}

#bMorePanel #bAncestorList a {
	color: #000 !important;
	padding: 0px 5px 0px 5px;
	font-weight: bold;
	font-size: 12px;
}

#bMorePanel #bAncestorList a span {
	font-size: 12px;
	color: #000 !important;
}

#bMorePanel #bScrollList {
	overflow-y: auto;
	padding-left: 10px;
	height: 95%;
	float: left;
	margin-top: 5px;
	width: 250px;
	color: #000 !important;
}

@media (min-width: 992px) {
	#bMorePanel #bScrollList {
		width: 350px;
	}
}

#bMorePanel #bScrollList.bScrollListHierarchy {
	height: 85%;
	padding-left: 25px;
	color: #000 !important;
}

#bMorePanel #bScrollList a {
	color: #000 !important;
	line-height: 1.1em;
	font-size: 11px;
}

#bMorePanel #bScrollList div {
	padding-bottom: 8px;
	color: #000 !important;
}

#bMorePanel #bScrollList div strong {
	color: #000 !important;
}

#bMorePanel #bLetterBar {
	float: right;
	margin: 0px 40px 0px 10px;
	text-align: center;
	color: #000 !important;
}

#bMorePanel #bLetterBar a {
	text-decoration: none;
	font-weight: bold;
	color: #000 !important;
}

#bMorePanelClose {
	display: none;
}

@media (max-width: 767px) {
	#bMorePanel {
		min-width: 100px;
		left: 0px;
	}

	#bMorePanel #bScrollList {
		width: 200px;
	}

	#bMorePanelClose {
		display: inline;
	}
}

.bSetsSelectMultiple button{
	font-family: Poppins;
	font-weight: 200;
	color: #fff;
	font-size: 14px;
	border: 1px solid #fff;
	border-radius: 10px;
}

/* Lightbox Styles */


.lbSetImgPlaceholder {
	background-color: #F5F5F5;
	border: 2px solid #EDEDED;
	color: #858585;
	padding: 20px 5px;
	text-align: center;
	width: 100%;
}

.lbItem a,
.lbSet a {
	color: #fff !important;
	font-family: Poppins;
}

.lbSetContent a{
	color: #000 !important;
}

.lightbox-container{

}

.lightbox-container .btn-group .dropdown-menu li a, .lightbox-ind-container .btn-group .dropdown-menu li a, em, .browse-results .btn-group .dropdown-menu li a{
	color: #000 !important;
	font-size: 12px;
	font-family: Poppins;
}
.lightbox-container .btn-group .dropdown-menu li, .lightbox-ind-container .btn-group .dropdown-menu li, em, .browse-results .btn-group .dropdown-menu li {
	color: #000 !important;
	font-size: 14px;
	font-family: Forum, sans-serif;
}

.lb-activity-col h2{
	font-size: 24px;
	font-family: Forum, sans-serif;
	margin-bottom: 20px;
}

.lb-activity-col .activitystream .stream-item{
	font-size: 16px;
	font-family: Poppins;
	line-height: 20px;
}
.lb-activity-col .activitystream .stream-item a{
	font-size: 16px;
	text-transform: capitalize;
}
.lb-activity-col .activitystream .stream-item small{
	font-size: 12px;
}

.lbItemContainer {
	min-height: 310px;
	min-width: 150px;
	position: relative;
	border: 1px solid transparent;
}

.lbItem:hover {
	/* cursor: move;
	z-index: 1000; */
	cursor: unset;
	z-index: unset;
}



.lbItemContainer .lbExpandedInfo,
.lbSetExpandedInfo {
	width: 100%;
	z-index: 100;
	display: none;
	color: #757575;
}

.lbItemContainer .lbSetItemComment {
	padding-top: 25px;
}

.lbItemContainer .lbSetItemComment .closecomment {
	margin-top: -15px;
}



.lbItem {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
	box-shadow: unset;
	position: relative;
	padding: 5px;
	margin-bottom: 30px;
	background-color: transparent;
	position: relative;
	line-height: 1.2em;
	font-size: 11px;
}






.lbItemContent {
	/* height: 250px;
	overflow: hidden; */
	height: unset;
	overflow: unset;
}

.lbItemImg {
	/* max-height: 200px;
	width: 100%;
	margin-bottom: 5px;
	overflow: hidden; */
	max-height: unset;
	height: 200px;
	width: 100%;
	margin-bottom: 5px;
	overflow: unset;
}


.lbItemImg img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.lb-caption a{
	line-height: 20px;
}

.lbItemContainer .lbExpandedInfo,
.lbSetExpandedInfo {
	width: 100%;
	z-index: 100;
	display: none;
	color: #757575;
	/* padding: 5px; */
	padding: 0;
}

.lbExpandedInfo HR,
.lbSetExpandedInfo HR {
	margin-bottom: 5px;
	margin-top: 5px;
}





/* Login Form */
.login-form h1, .login-form label, .login-form button, .login-form p{
	font-family: Forum, sans-serif !important;
}

.login-form a{
	color: #000 !important;
}


/* Gallery Landing Page */
.gallery-grid{
	column-count: 3;
	column-gap: 8px;
}

.gallery-item{
	width: 100%;
	margin-bottom: 8px;
}

.gallery-item img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	opacity: .7;
	transition: .3s;
}

.gallery-item img:hover {
	opacity: 1;
	transition: .3s;
}




/* ---------------------------------- */
/* Front Page Alert Box */
/* ---------------------------------- */

.frontAlert {
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	z-index: 2000;
}

.frontAlert div.frontAlertBox {
	margin: 25vh 25vw;
	height: auto;
	background-color: #FFF;
	border: 2px solid #000;
	position: relative;
}

.frontAlert div.frontAlertMessage {
	padding: 60px;
	font-size: 18px;
	color: #000 !important;
	overflow: scroll;
	text-align: center;
	font-family: Forum, sans-serif;
}

.frontAlert div.frontAlertMessage strong,
.frontAlert div.frontAlertMessage b {
	font-size: 36px;
	font-weight: 600;
	color: #000 !important;
	font-family: Forum, sans-serif;
}

div.frontAlertClose {
	position: absolute;
	right: 10px;
	top: 10px;
	margin: 0px;
	font-size: 34px;
}

.frontAlert .enterButton {
	text-align: center;
	margin-top: 30px;
} 

.frontAlert .enterButton a{
	/* color: #000 !important; */
	font-family: Poppins;
}

.frontAlert div.frontAlertBox {
	margin: 5vh 5vw;
	height: auto;
}

.frontAlert div.frontAlertMessage {
	position: relative;
	height: 100%;
	font-size: 22px;
	color: #000 !important;
}

@media(min-width:768px) {
	.frontAlert div.frontAlertBox {
		margin: 10vh 15vw;
		height: auto;	
	}

	.frontAlert div.frontAlertMessage {
		font-size: 22px;
		color: #000 !important;
	}

	.frontAlert div.frontAlertMessage strong,
	.frontAlert div.frontAlertMessage b {
		font-size: 36px;
		color: #000 !important;
		font-weight: 600;
	}
}

@media(min-width:1145px) {
	.frontAlert div.frontAlertBox {
		margin: 15vh 15vw;
		height: auto;
	}
}

@media(min-width:1550px) {
	.frontAlert div.frontAlertBox {
		margin: 15vh 25vw;
		height: auto;
	}
}

/* Clover */

/* Clip heading */
.nectar-c-PJLV {
	font-size: 14px;
	color: #fff !important;
	display: none;
}

/* Clip button */
.c-eOvxxB {
	font-size: 12px !important;
	color: #fff !important;
	padding-left: 25px !important;
}

.c-eOvxxB:hover {
	font-size: 12px !important;
	color: #aaa !important;
	padding-left: 25px !important;
}

.c-eOvxxB[aria-checked="true"] {
	background-color: #333 !important;
}

/* In-point for clip */
.c-cFaYiI ul li button strong {
	font-size: 12px;
	color: #fff !important;
}

.clover-iiif {
	background-color: #000000 !important;
}



.funder-logo img{
	width: 250px;
}


h6 {
	font-family: Poppins;
	font-weight: 200;
	font-size: 14px !important;
}

#clipLabel {
	padding-right: 10px;
}

.detailAnnotation, .clipTitle {
	cursor: pointer;
}

.detailAnnotation:hover, .clipTitle:hover {
	color: #cc0000;
}

.detailUserAnnotationList {
	margin-top: 15px;
}

#caMediaPanel {
	background-color: #000;
}