<div class="container">
	<div class="row">
		<div class="col-sm-12 image">
			{{{media:1:original}}}		
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 ">
		
			<h1>{{{title}}}</h1>
			<h6>{{{subtitle}}}</h6>

			<div class="bodytext">
				{{{bodytext}}}
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 ">
			<H2>Resources</H2>
			<a href="{{{media:2:original:url}}}">{{{media:2:title}}}</a><br/>
			<a href="{{{media:3:original:url}}}">{{{media:3:title}}}</a><br/>
			<a href="{{{media:4:original:url}}}">{{{media:4:title}}}</a><br/>
			<a href="{{{media:5:original:url}}}">{{{media:5:title}}}</a><br/><br/><br/>
		</div>
	</div>
	
</div>