/* do this in main.css? */
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: auto;
}

@font-face {
	font-family: 'Proximanova';
	src: url('proximanova/proximanova-reg-webfont.eot');
	src: url('proximanova/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('proximanova/proximanova-reg-webfont.woff') format('woff'), url('proximanova/proximanova-reg-webfont.ttf') format('truetype');
}

@font-face {font-family: 'ProximanovaBold'; src: url('proximanova/proximanova-bold-webfont.eot');src: url('proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),url('proximanova/proximanova-bold-webfont.woff') format('woff'),url('proximanova/proximanova-bold-webfont.ttf') format('truetype');}

body{
	font-family: Proximanova;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100, color-stop(0%, #efefef),color-stop(100%, #ffffff));
	background-image: -moz-linear-gradient(#efefef 0%,#ffffff 100px);
	background-image: -webkit-linear-gradient(#efefef 0%,#ffffff 100px);
	background-image: linear-gradient(#efefef 0%,#ffffff 100px);
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	margin-top:20px;
	margin-bottom: 290px;
}
#footer {
    min-height: 200px;
    background-color: #444;
    width: 100%;
    color: #EDEDED;
    padding: 45px 0px 0px 0px;
	margin-top:30px;
}
@media (min-width: 768px) {
	body{
		margin-left:40px;
		margin-right:40px;
	}
	#footer {
		margin-left:-40px;
		margin-right:-40px;
		padding: 45px 40px 0px 40px;
	}
}
#footer a{
	color:#FFF;
	text-decoration:none;
}
#footer .fa{
	font-size:14px;
}
@media (max-width: 768px) {
	#footer .text-right{
		text-align:left;
	}
}
a, a:hover {
    color: #000;
}
b{
	font-family: 'ProximanovaBold';
}
.scaleImage img{
	width:100%;
	height:auto;
}
H1, h1, H2, h2, H3, h3, H4, h4, H5, h5, H6, h6{
	font-family: Proximanova,Helvetica,Arial,sans-serif;
	color:#000;
	text-transform: none;
}
.btn-default{
	background-color:#000;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color:#333;
}
.form-control:focus {
    border-color: #000;
}
.navbar-brand {
	width: 225px;
	margin-top: 7px;
}
@media (max-width: 499px){
	.navbar-brand {
		width: 100%;
		margin-top: 0px;
		border-bottom: 1px solid #dddddd;
		text-align: center;
		padding-left: 15px !Important;
		padding-right: 15px !Important;
	}
	.navbar-header{
		margin-top:-20px;
	}
	.navbar-header button{
		margin-bottom:0px;
	}
}
@media (min-width: 500px) {
	.navbar-brand {
		width: 300px;
		margin-top: 7px;
	}
}
@media (min-width: 768px) {
	.navbar-brand {
		width: 350px;
		margin-top: 7px;
	}
}
/* make nav bar fall under logo and searh */
@media (min-width: 768px) {
	ul.menuItems {
		width:100%;
		border-top:solid 1px #ddd;
	}
	.menuItems.navbar-nav > li > a {
		padding-top:5px;
		padding-bottom:5px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right:0px;
	}
	.container.menuBar {
		padding:0px;
	}
	.navbar > .container .navbar-brand {
		margin-left:0px;
	}
}
@media (max-width: 768px) {
	ul.menuItems {
		margin-left: 0px;
	}
}
.yamm #user-navbar.nav.navbar-right .dropdown-menu{
	right:0px;
}
.yamm #user-navbar.nav.navbar-right .dropdown-menu li{
	text-align:right;
}
/* end */
.navbar {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 30px;
}
.navbar .formOutline {
    background-color:#fff;
    border:0px;
    border-radius:0px;
    box-shadow:none;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: Proximanova;
}
.navbar-default .navbar-nav > li > a{
	color: #858585;
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}
.btn-search{
	background-color:transparent;
}


/* front */

.front .tileLinks img{
	width:100%;
	height:auto;
	margin-bottom:3px;
}
.front .tileLinks a{
	font-size:16px;
}
@media (max-width: 768px) {
	.front .tileLinks .col-sm-4{
		margin-bottom:30px;
	}
}
.front a{
	color: #858585;
	font-size:16px;
}
.front a:hover{
	color: #000;
	text-decoration:none;
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.front H2{
	font-size:25px;
	margin-top:50px;
}
.front H1{
	text-align:center;
	margin-top:70px;
	margin-bottom:30px;
	color:#000;
	font-size:30px;
	font-family: Proximanova;
}

/* browse */
#bRefine H5 {
    text-transform: none;
}
.browse .btn, .sets .btn {
    background-color: #000;
}
.results H1{
	text-transform:capitalize;
}
.results .bSearchWithinContainer{
	clear:both;
	margin-top:15px;
	margin-bottom:10px;
	border:2px solid #f5f5f5;
}
.results .btn-search-refine{	
	float: right;
	font-size: 14px;
	padding-top: 0px 0px 0px 0px;
	width: 26px;
	text-align: left;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: 0;
	border: 0px;
}
.results .btn-search-refine .glyphicon{
	margin-top:8px;
	color: #858585;
}
.bSearchWithin, .bSearchWithin:focus {
    float: left;
    width: auto;
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 0px;
    height: 33px;
    font-size: 14px;
    line-height: 26px;
    background-color: transparent;
    margin: 0px 0px 0px 10px;
    font-size: 12px;
    width:80%;
}
.bAdvancedLinkContainer{
	clear:both;
	text-align:right;
	padding-left:35px;
	margin-bottom:5px;
}
.bAdvancedLinkContainer a{
	color:#ababab;
	font-size:12px;
}
.results.library .bResultListItemCol, .results.library .bResultListItem, .results.library .bResultListItemContent{
	height:auto;
}
.results.library .bResultListItemCol{
	margin-bottom:30px;
}
/* advanced search */

.advancedContainer .attributeListItem{
	width:100%;
}
.collectionsAdvancedSearch{
	text-align:left;
	margin-bottom:10px;
}
@media (min-width: 768px) {
	.collectionsAdvancedSearch{
		margin-top:-30px;
		text-align:right;
	}
}
.collectionsAdvancedSearch a.btn-default{
	color:#FFF;
	text-decoration:None;
	font-size:12px;
	background-color:#858585;
}
/* gallery */
.gallery .setDescription {
    font-weight: normal;
}
.gallery H4, .gallery H4 a{
	text-transform:none;
}

/* detail */
.detail .detailNavBgLeft, .detail .detailNavBgRight{
	background-color: transparent;
}
.detail.chronology H5{
	margin-top:25px;
	margin-bottom: 0px;
}
.detail{
	font-size:13px;
	line-height: 1.3em;
}
.detail H6{
	font-size:14px;
}
.detail .unit {
    margin-bottom: 20px;
}
.detail .unit br {
    margin-bottom: 10px;
}
.detail .unit.moreSpace br {
    margin-bottom: 23px;
}
.travelVenue{
	margin:5px 0px 18px 15px;
}
.detail HR {
    margin: 10px 0px 20px 0px;
}
.detail H6 a {
    color: #000;
}
@media (min-width:768px) {
	.exportCollection{
		float:right;
	}
}
#browseResultsContainer2 {
	margin-top: 20px;
    height: 100%;
    position: relative;
}
/* multisearch */
.multisearch .authoritySetLong {
	float:left;
	width:500px;
	height:170px;
	margin-right:20px;
	overflow:hidden;
	padding-top:10px;
}

.multisearch .authoritySetLong a, .multisearch .authoritySetLong {
	font-size:12px;
	color:#454545;
}
.multisearch .authorityResultLong{
	margin-bottom:5px;
	height:70px;
	line-height:1.1em;
	background-color:#f5f5f5;
	padding:5px 10px 5px 10px;
	overflow:hidden;
}
.multisearch .authorityResultLong:hover{
	background-color:#ebebeb;
}
@media (max-width:500px) {
	.multisearch .authoritySetLOng {
		width:100%;
		max-width:470px;
		float:none;
		margin-right:0px;
		height:auto;
	}
	.authorityBlockLong .scrollButtonPrevious,
	.authorityBlockLong .scrollButtonNext{
		display:none;
	}
	.multisearch .authorityBlockLong .blockResultsScroller {
		width:100% !important;
		height:auto;
	}
	.multisearch .authorityBlockLong {
		height:auto;
		max-height:170px;
	}
}
/* chronology */
.tl-text .tl-headline-date, .tl-text h3.tl-headline-date, .tl-timeline{
	font-family: Proximanova !important;
}
.tl-timeline a{
	color:#454545 !important;
}
.tl-text .tl-headline-date{
	display:none !important;
	font-size:30px !important;
	line-height:30px !important;
}
.tl-headline-date a{
	font-size:30px;
	text-decoration:none;
}
.tl-headline a:hover{
	text-decoration:underline;
}
.tl-timeline h2 a {
    font-size: 30px !important;
    line-height: 30px !important;
}
.tl-slide .tl-slide-scrollable-container{
	width:100%;
}
.tl-slide-content{
	width:100% !Important;
}
.tl-media-content-container{
	text-align:right;
}
.tl-desc-scroll{
	max-height:210px;
	overflow-y:scroll;
	margin-bottom:20px;
}
.tl-timeline a.btn-default{
	color:#FFF !important;
	text-decoration:none !important;
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container{
	float:none !important;
	max-height:50px !important;
	max-width:100% !important;
	text-align:center !important;
	margin-right:0px !important;
	margin-bottom:5px !important;
	
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container .tl-timemarker-media {
    max-width: 100% !important;
    max-height: 50px !important;
}
H1.chronologyTitle{
	font-size:25px;
}
/* collections */
.collectionsContainer small{
	padding-left:10px;
	line-height: 1.3em;
	display: block;
}