/* custom font face */


@font-face {
    font-family: 'NewsCycleRegular';
    src: url('NewsCycle-Regular-webfont.eot');
    src: url('NewsCycle-Regular-webfont.eot?#iefix')
format('embedded-opentype'),
         url('NewsCycle-Regular-webfont.woff') format('woff'),
         url('NewsCycle-Regular-webfont.ttf') format('truetype'),
         url('NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




body {text-align: center; background-color:#fafbf2; color:#4d5a58;
font-size:14px; line-height:145%; margin:0px;
background-image:url(../graphics/cfa/headerbg.png); background-repeat:repeat-x;
font-family: "Lucida Sans Unicode", sans-serif;
font-size: 13px;
font-style: normal;
font-weight: normal;
text-transform: normal;
letter-spacing: -0.4px;
line-height: 1.5em; }


h2{margin:0 0 5px 0; padding:0;}
h5{margin:0; padding:0;}
form{line-height:200%;padding:0; margin:0;}


.clearline{clear:both;}
.entry-meta a:link{text-decoration:none; color:#346f95;
text-decoration:underline; }
.entry-meta a:active{text-decoration:underline; color:#484848;}
.entry-meta a:visited{text-decoration:underline; color:#346f95; }
.entry-meta a:hover{text-decoration:underline; color:#666; }
.entry-meta {font-size:.85em;}
.smaller{font-size:12px;line-height:150%;color:#94958b;}
.morespace{padding-top:10px; padding-bottom:10px;}
.alignleft{float:left;padding:0 10px 5px 0;}
.dotted{clear:both; border-bottom:1px dotted #ccc; width:100%;}
.date_entry{width:20px;float:left; display:block; padding-top:10px;
font-weight:bold;}
.date_month{font-size:12px;}
.date_date{font-size:20px;}
.event_desc{float:left; margin-left:10px; width:190px;font-size:13px;
line-height:130%;}
.promotext{font-family:'NewsCycleRegular', Arial, sans-serif; font-size:18px;
border-bottom:0px dotted #ccc; color:#666; display:block; line-height:135%;
padding-bottom:15px;letter-spacing:0px;}
.entry-title{color:#666;font-family:'NewsCycleRegular', Arial, sans-serif;
font-size:22px; font-weight:normal;padding:0; margin:2px 0 10px
0;line-height:110%;}
.entry-title a{color:#666; text-decoration:none;}
.page-title {font-family:'NewsCycleRegular', Arial, sans-serif; font-size:16px;
font-weight:normal;}
.page-title ul{list-style-type:none;margin:0; padding:0;}
.page-title li{list-style-type:none; margin:0; padding:0;}
.page-title a{color:#666; text-decoration:none;}
.meta-date{font-family:'NewsCycleRegular', Arial, sans-serif; font-size:15px;
font-weight:normal;padding:4px 0;display:block; text-transform:uppercase;
color:#444;}
.post {margin-bottom:35px;}
.wp-caption-text{font-size:11px;margin:2px 0 0 0;color:#666;}
.imagecaption {font-size:11px;margin:2px 0 0 0;color:#666;}
.meta-information{padding-bottom:15px;}


/* important - sets spacing between the image and the title of the page */
.firstImg { padding-bottom:5px; padding-left:0px;
padding-right:0px;padding-top:10px;}


#container {margin-left: auto; margin-right: auto; text-align: left;width:980px;
text-align:left; }
#chi_header{width:1024px;} 
#chi_logo{width:230px; padding-bottom:5px; margin-top:10px; padding-top:5px;
margin-bottom:5px;float:left; background-color:#404040;}

#main_content{width:700px; padding-left:25px; margin-top:5px; float:left;}

#searchwrapper {
	border:0px; /*important*/
width:150px; /*follow your image's size*/
height:28px;/*follow your image's size*/
background-image:url(../graphics/cfa/searchbox.png);
background-repeat:no-repeat; /*important*/
padding:0px;
margin:10px 0 0 0px;
position:relative; /*important*/
float:right;
}

#collectionSearchHeading{
	margin:15px 0px 0px 4px;
}
#searchwrapperCollectionSearch {
	border:0px; /*important*/
width:150px; /*follow your image's size*/
height:28px;/*follow your image's size*/
background-image:url(../graphics/cfa/searchbox.png);
background-repeat:no-repeat; /*important*/
padding:0px;
margin:0px 0px 0px -2px;
position:relative; /*important*/
}
 
#searchwrapper form { display:inline ; }
 
.searchbox {
border:0px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:4px;
left:9px;
width:150px;
height:28px;
}
 
.searchbox_submit {
border:0px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:4px;
left:135px;
width:30px;
height:28px;
}

#collectionSearchHelpLink{
	padding: 0px;
	margin:-5px 0px 0px 0px;
	text-align:right;
}
#collectionSearchHelpLink a{
	color:#8c8c8c;
	text-decoration:underline;
	font-size:11px;
}


/* ----top 2 column navigation styles------ */
#top_nav{width:725px;margin-left:25px;float:left;}

.top1{float:left;width:112px;margin:15px 0 0 305px; border-left:1px solid #ccc;}
.top2{float:left;width:152px;margin-top:15px; border-left:1px solid #ccc;}

#top_nav ul{margin:0 0 0 22px; padding:0px;}
#top_nav ul li{ margin-left:0px;
padding-left:0px;list-style-image:url(../graphics/cfa/spacer.gif);}
#top_nav ul
li.current_page_item{list-style-image:url(../graphics/cfa/redarrow.gif);}
#top_nav ul
li.current-page-ancestor{list-style-image:url(../graphics/cfa/redarrow.gif);}
#top_nav ul li.current_page_item a{font-weight:bold; color:#dc4335;}
#top_nav ul li.current-page-ancestor a{font-weight:bold; color:#dc4335;}


#top_nav a:link {font-family:'NewsCycleRegular', Arial, sans-serif;
font-size:13px; font-weight:normal; color:#666;
text-decoration:none;letter-spacing:0px;}
#top_nav a:visited {color:#666; text-decoration:none;}
#top_nav a:hover {color:#ed5518; text-decoration:none;}
#top_nav a:active {color:#ed5518; text-decoration:none;}

/* ------end of top nav styles --------*/



/* -------greybox side nav styles ------*/

#sidenav{width:230px; float:left; padding-top:12px; font-family:'NewsCycleRegular', Arial, sans-serif;letter-spacing:0px;}
#sidenav ul{list-style-type:none; margin:0; padding:15px 0; border-top:0px solid#fffbf5;background-color:#f2f2f2;  font-family:'NewsCycleRegular', Arial, sans-serif;letter-spacing:0px; }
#sidenav ul li {list-style-type:none;  font-size:15px; border-bottom:0px solid #fffbf5; background-color:#f2f2f2;  font-family:'NewsCycleRegular', Arial, sans-serif;letter-spacing:0px;}
#sidenav ul li.current_page_item a:link {color:#333; text-decoration:none; background-color:#5DC3A9;}
#sidenav ul li.current_page_item a:visited {color:#333; text-decoration:none; background-color:#5DC3A9;}
#sidenav ul li.current-page-ancestor a:link {color:#333; text-decoration:none; background-color:#5DC3A9; }
#sidenav ul li.current-page-ancestor a:visited {color:#333; text-decoration:none; background-color:#5DC3A9; }
#sidenav ul li a:link {color:#8c8c8c; text-decoration:none; background-color:#f2f2f2;display:block;  width:215px; padding-top:4px; padding-bottom:6px; padding-left:15px; }
#sidenav ul li a:visited {color:#8c8c8c; text-decoration:none;background-color:#f2f2f2; }
#sidenav ul li a:hover {color:#333; text-decoration:none; background-color:#87D6C3;}
#sidenav ul li a:active {color:#333; text-decoration:none; background-color:#5DC3A9;}
#sidenav ul li ul li{padding-left:10px; width:220px;font-size:.9em; margin-top:0px;}
#side_bottom_nav {color:#72736b; padding-top:25px;padding-left:14px; }
#side_bottom_nav a{text-decoration:none; color:#72736b;}

/*--------end greybox sidenav styles ------------*/


/*--------donate to cfa circle underneath nav -------*/

.adunit_left{height:120px; width:175px; padding:10px 0 0 55px; display:block;} 
.adunit_left a{text-decoration:none;}
.adunit_left .bannertext{margin-left:3px; margin-top:8px; padding-top:3px;
color:#0073BA; font-size:17px; font-weight:bold; font-family:'NewsCycleRegular',
Arial, sans-serif;letter-spacing:0px;}
.adunit_left img{float:left;border:0;}
/*-------- -------*/


/* -------sub nav for services page and support/donate ----*/
/*--------creates narrow content column with emphasis on nav -------*/

#rightnav_red{width:280px; float:left;
font-size:12px;margin-left:0px;padding-left:12px;border-left:1px solid
#ccc;margin-top:15px}
#rightnav_red ul{margin:0 0 0 22px; padding:0px;}
#rightnav_red ul li{margin-left:0px;
padding-left:0px;list-style-image:url(../graphics/cfa/greybullet.png);}
#rightnav_red ul
li.current_page_item{list-style-image:url(../graphics/cfa/redbullet.png);}
#rightnav_red ul li.current_page_item a{font-weight:bold; color:#dc4335;}
#rightnav_red a:link{text-decoration:none; color:#666;}
#rightnav_red a:visited{text-decoration:none; color:#666;}
#rightnav_red a:hover{text-decoration:none; color:#ff0000;}
#rightnav_red a:active{text-decoration:none; color:#666;}







/* -------sub nav for news and calendar ----*/
/*--------larger content column, smaller sidenav -------*/

#rightnav_red2{width:120px; float:left;
font-size:12px;margin-left:0px;padding-left:15px;border-left:1px solid
#ccc;margin-top:13px;padding-bottom:10px;}
#rightnav_red2 ul{margin:0px; padding:0px;}

#rightnav_red2.wp-bannerize ul{margin:0; padding:0;}
#rightnav_red2 ul li{margin:0px;
padding:0px;list-style-image:url(../graphics/cfa/spacer.gif);}
#rightnav_red2 ul li.widget_wp-category-archive ul
li{text-align:left;margin-left:17px;
padding-left:0px;list-style-image:url(../graphics/cfa/greybullet.png);}
#rightnav_red2 ul
li.current_page_item{list-style-image:url(../graphics/cfa/redbullet.png);}
#rightnav_red2 ul li.current_page_item a{font-weight:bold; color:#dc4335;}
#rightnav_red2 ul li a:link{text-decoration:none; color:#666;}
#rightnav_red2 ul li a:visited{text-decoration:none; color:#666;}
#rightnav_red2 ul li a:hover{text-decoration:none; color:#ff0000;}
#rightnav_red2 ul li a:active{text-decoration:none; color:#666;}


/*style for archive - blog links */
.widget_wp-category-archive ul{margin:0 0 0 22px; padding:0px;}
.widget_wp-category-archive ul li{margin-left:0px;
padding-left:0px;list-style-image:url(../graphics/cfa/greybullet.png);}

/* banner ad atyle */
.wp_bannerize{margin:0 0 0 -10px; padding:0;}








/*----middle content column for preservation projects, explore collections */

#main_content_preservation{width:555px;padding-left:25px; float:left;
margin-top:10px; text-align:left;}
#main_content_preservation h2{ width:455px; padding-bottom:2px;
margin-bottom:0px; font-size:20px;}
#main_content_preservation h3{font-weight:normal;
font-family:'NewsCycleRegular', Arial, sans-serif;font-size:24px;   color:#666;
line-height:110%; margin:10px 0 0 0; padding:0;letter-spacing:0px;}
#main_content_preservation .page-title, .menu_list_item
a:link{text-decoration:none; color:#333; }
#main_content_preservation .page-title, .menu_list_item
a:active{text-decoration:none; color:#484848;}
#main_content_preservation .page-title, .menu_list_item
a:visited{text-decoration:none; color:#333; }
#main_content_preservation .page-title, .menu_list_item
a:hover{text-decoration:none; color:#666; }
#main_content_preservation p a:link{text-decoration:underline; color:#346f95; }
#main_content_preservation p a:active{text-decoration:underline; color:#484848;}
#main_content_preservation p a:visited{text-decoration:underline; color:#346f95;}
#main_content_preservation p a:hover{text-decoration:underline; color:#666; }
#main_content_preservation a.listHeading:link{text-decoration:none; color:#346f95; font-weight:bold; }
#main_content_preservation a.listHeading:active{text-decoration:underline; color:#484848; font-weight:bold;}
#main_content_preservation a.listHeading:hover{text-decoration:underline; color:#484848; font-weight:bold;}
#main_content_preservation a.listHeading:visited{text-decoration:none; color:#346f95; font-weight:bold;}
#main_content_preservation a.listLink:link{text-decoration:none; color:#346f95;}
#main_content_preservation a.listLink:active{text-decoration:underline; color:#484848;}
#main_content_preservation a.listLink:hover{text-decoration:underline; color:#484848;}
#main_content_preservation a.listLink:visited{text-decoration:none; color:#346f95;}
#main_content_preservation .listMedia{ margin-bottom: 8px;}
#main_content_preservation .resultUnit{ margin-bottom: 20px;}
#main_content_preservation .resultUnit .itemResultText{ font-size:12px; line-height:1.3em;}


/*----------*/



/*----sub navigation for preservation projects -----*/

#rightnav_pres{width:145px; float:right;font-family:'NewsCycleRegular', Arial,
sans-serif; font-size:13px; font-weight:normal; color:#666;
text-decoration:none; margin-right:2px;letter-spacing:0px;}
#rightnav_pres ul{list-stle-type:none; margin:0; padding:94px 0 0 0;}
#rightnav_pres ul li{list-style-type:none; margin:0 0 15px 0; padding:0px;
display:block;min-height:20px;}
/*#rightnav_pres ul li.selected-pres{list-style-type:none; margin:0 0 3px 0;
padding:6px; display:block;min-height:20px; background-color:#d0d969;}*/
#rightnav_pres ul li a:link{text-decoration:none; color:#333;}
#rightnav_pres ul li a:visited{text-decoration:none; color:#333;}
#rightnav_pres ul li a:hover{text-decoration:none; color:#333;}
#rightnav_pres ul li a:active{text-decoration:none; color:#333;}

/*----------*/





/*---CALENDAR STYLES ----*/
#main_content_calendar{width:555px;padding-left:25px; padding-right:25px;
float:left; margin-top:10px;}
#main_content_calendar h2{ width:455px; padding-bottom:2px; margin-bottom:0px;
font-size:20px;}
#main_content_calendar h3{font-weight:normal; font-family:'NewsCycleRegular',
Arial, sans-serif;font-size:24px;   color:#666; line-height:110%; margin:10px 0
0 0; padding:0;letter-spacing:0px;}

#main_content_calendar .page-title .entry-title a:link{text-decoration:none;
color:#333; }
#main_content_calendar .page-title .entry-title a:active{text-decoration:none;
color:#484848;}
#main_content_calendar .page-title .entry-title a:visited{text-decoration:none;
color:#333; }
#main_content_calendar .page-title .entry-title a:hover{text-decoration:none;
color:#666; }

#main_content_calendar  .meta-information a:link{text-decoration:underline;
color:#333; }
#main_content_calendar  .meta-information a:active{text-decoration:underline;
color:#484848;}
#main_content_calendar  .meta-information a:visited{text-decoration:underline;
color:#333; }
#main_content_calendar  .meta-information a:hover{text-decoration:underline;
color:#666; }



#main_content_calendar  p a:link{text-decoration:underline; color:#346f95; }
#main_content_calendar  p a:active{text-decoration:underline; color:#484848;}
#main_content_calendar  p a:visited{text-decoration:underline; color:#346f95; }
#main_content_calendar  p a:hover{text-decoration:underline; color:#666; }



#nav-below a:link{text-decoration:none; color:#346f95;
text-decoration:underline; }
#nav-below a:active{text-decoration:underline; color:#484848;}
#nav-below a:visited{text-decoration:underline; color:#346f95; }
#nav-below a:hover{text-decoration:underline; color:#666; }
.widgettitle{font-weight:normal; margin:15px 0 5px 0;
padding:0;font-family:'NewsCycleRegular', Arial, sans-serif;
text-transform:uppercase;letter-spacing:0px;}

/* --- end clendar styles ---*/




/* ------used in template for midwest stories and collection related----*/

#main_content_collection{width:555px;padding-left:25px; float:left;
margin-top:10px;}

#main_content_collection h2{ width:455px; padding-bottom:2px; margin-bottom:0px;
font-size:20px;}

#main_content_collection h3{font-weight:normal; font-family:'NewsCycleRegular',
Arial, sans-serif;font-size:24px;   color:#666; line-height:110%; margin:10px 0
10px 0; padding:0;letter-spacing:0px;}





/*----narrower content column -- used on about page and services ----*/

#main_content_red{width:420px;float:left; margin-left:25px; margin-top:8px;}
#main_content_red a:link{text-decoration:none; color:#346f95;
text-decoration:underline; }
#main_content_red a:active{text-decoration:underline; color:#484848;}
#main_content_red a:visited{text-decoration:underline; color:#346f95; }
#main_content_red a:hover{text-decoration:underline; color:#666; }
#main_content_red ul{margin:0 0 0 20px; padding:0;}
#main_content_red ul li{margin:0 0 10px 0; padding:0;}







/*-----wider content column. used for news and calendar blog pages ----*/

#main_content_red2{width:555px;float:left; margin-left:25px; margin-top:13px;
margin-right:20px;}
#main_content_red2 p a:link{text-decoration:none; color:#346f95;
text-decoration:underline; }
#main_content_red2 p a:active{text-decoration:underline; color:#484848;}
#main_content_red2 p a:visited{text-decoration:underline; color:#346f95; }
#main_content_red2 p a:hover{text-decoration:underline; color:#666; }

 /*-----------------------------*/





/*----home and footer styles ---*/

#slideshow{width:717px; padding-top:7px; padding-bottom:10px;}
#welcome_column{width:455px; float:left; padding-top:10px;}
#welcome_column h2{width:443px; font-size:21px;background-color:#E1E0D8;
display:block; padding:2px 2px 8px 5px;line-height:21px; height:21px;}
#welcome_column p{margin-top:10px; margin-right:20px;
margin-left:5px;padding-top:0px;}
#welcome_column a:link{color:#346f95; text-decoration:underline; }
#welcome_column a:active{text-decoration:underline; color:#484848;}
#welcome_column a:visited{text-decoration:underline; color:#346f95; }
#welcome_column a:hover{text-decoration:underline; color:#666; }

#news_column{width:230px; float:left; margin-left:15px; padding-top:10px;}
#news_column h2{width:246px; padding:2px 2px 8px 5px;  font-size:21px;
background-color:#E1E0D8; display:block;line-height:21px; height:21px; }


#news_column a:link{color:#346f95; text-decoration:underline; }
#news_column a:active{text-decoration:underline; color:#484848;}
#news_column a:visited{text-decoration:underline; color:#346f95; }
#news_column a:hover{text-decoration:underline; color:#666; }

#news_column p{margin-top:3px; padding-top:0px;}

.event_homecontent{margin-left:5px; margin-top:-21px;}
.event_homecontent a:link{color:#4d5a58;text-decoration:none;}
.event_homecontent a:active{color:#4d5a58;text-decoration:none;}
.event_homecontent a:visited{color:#4d5a58;text-decoration:none;}
.event_homecontent a:hover{color:#4d5a58;text-decoration:underline;}
#chi_footer{font-family:'NewsCycleRegular', Arial, sans-serif; letter-spacing:0;
margin-left:835px; padding-top:35px; text-align:left; color:#ccc;}
#chi_footer a{text-decoration:none; color:#a6a6a6; font-size:11px;}
#chi_address_line{margin-left:0px; font-family:Arial, Helvetica, sans-serif;
font-size:11px; padding-bottom:2px; border-bottom:1px solid #e3e3e3;
color:#999;}
#bottom_nav{color:#999; width:730px; text-align:left; font-size:11px;
text-align:right; padding-top:5px; padding-bottom:20px;}
#bottom_nav ul{list-style-type:none; margin:0; padding:0;}
#bottom_nav ul li{list-style-type:none; display:inline; padding-left:10px;}
#bottom_nav ul li a:link{text-decoration:none; color:#999;}
#bottom_nav ul li a:visited{text-decoration:none; color:#999;}
#bottom_nav ul li a:hover{text-decoration:none; color:#666;}
#bottom_nav ul li a:active{text-decoration:none; color:#999;}







/*---styles for thumbnail lists on calendar and pres project ---*/

.menu_list{}

.menu_list_header{margin:0; padding:20px 0 0 0;}

.menu_list_item{margin-bottom:7px; background-color:#e1e0d8; margin-top:0px;
}

.menu_list_item a{text-decoration:none;}
.menu_list_item p{font-size:12px; font-style:italic; margin:10px 0 0 0;
padding:0; line-height:140%; color:#8c8c8c;
}
.menu_list_item img{width:205px;height:150px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.menu_list_item a:link{text-decoration:none; color:#333;min-height:158px;
display:block; padding:5px 10px 5px 5px;}
.menu_list_item a:visited{text-decoration:none; color:#333;}
.menu_list_item a:hover{text-decoration:none; background-color:#ffe7dc;}
.menu_list_item a:active{text-decoration:none; color:#333;}

.pres-thumbnail {float:left; padding:5px; width:220px; border:0;}

.menu_list_info {float:left; width:200px; vertical-align:top; margin-top:-10px;}
.menu_post_date {color:#666; font-size:11px;}




/*---special for about page ----*/

#staffcolumn{width:270px; margin-left:23px; float:left;padding-top:7px;
font-size:12px; padding-top:34px;}

#staffcolumn a:link{color:#346f95; text-decoration:underline; }
#staffcolumn a:active{text-decoration:underline; color:#484848;}
#staffcolumn a:visited{text-decoration:underline; color:#346f95; }
#staffcolumn a:hover{text-decoration:underline; color:#666; }





/* sub navigation for collection pages -- inside the gray box */

#leftnav_coll{width:145px; float:left; font-family:'NewsCycleRegular', Arial,
sans-serif; font-size:13px; font-weight:normal; color:#666;
text-decoration:none;
margin-right:2px;letter-spacing:0px;margin-left:15px;margin-top:12px;}
#leftnav_coll ul{list-stle-type:none; margin:0; padding:0;}
#leftnav_coll ul li{list-style-type:none; margin:0 0 3px 0; padding:0px;
display:block;}
#leftnav_coll ul li a:link{text-decoration:none;
color:#666;background-color:#f2f2f2; display:block;min-height:45px;padding:5px;}
#leftnav_coll ul li a:visited{text-decoration:none;
color:#333;color:#666;background-color:#f2f2f2;
display:block;min-height:45px;padding:5px;}
#leftnav_coll ul li a:hover{text-decoration:none;
color:#333;color:#333;background-color:#87d6c3;
display:block;min-height:45px;padding:5px;}
#leftnav_coll ul li a:active{text-decoration:none;
color:#333;color:#333;background-color:#5dc3a9;
display:block;min-height:45px;padding:5px;}
#leftnav_coll ul li.current_page_item a:link {color:#333; text-decoration:none;
background-color:#5DC3A9; }
#leftnav_coll ul li.current_page_item a:visited {color:#333;
text-decoration:none; background-color:#5DC3A9;}
#leftnav_coll ul li.current-page-ancestor a:link {color:#333;
text-decoration:none; background-color:#5DC3A9; }
#leftnav_coll ul li.current-page-ancestor a:visited {color:#333;
text-decoration:none; background-color:#5DC3A9; }



/* used in midwest stories */
#rightnav_col{width:145px; float:right;font-family:'NewsCycleRegular', Arial,
sans-serif; font-size:13px; font-weight:normal; color:#666;
text-decoration:none; margin-right:2px;letter-spacing:0px;}

#rightnav_col ul{list-stle-type:none; margin:0; padding:67px 0 0 0;}

#rightnav_col ul li{list-style-type:none; margin:0 0 15px 0; padding:0px;
display:block;min-height:20px;}

/*#rightnav_pres ul li.selected-pres{list-style-type:none; margin:0 0 3px 0;
padding:6px; display:block;min-height:20px; background-color:#d0d969;}*/

#rightnav_col ul li a:link{text-decoration:none; color:#333;}
#rightnav_col ul li a:visited{text-decoration:none; color:#333;}
#rightnav_col ul li a:hover{text-decoration:none; color:#333;}
#rightnav_col ul li a:active{text-decoration:none; color:#333;}




/* not being used currently */
#leftcolumn_imgs{width:230px;float:left;}

#leftcolumn_imgs img{width:230px;}
#leftcolumn_imgs a:link{text-decoration:none; border:0;}
#leftcolumn_imgs a:hover{text-decoration:none; border:0;}
#leftcolumn_imgs ul{list-style-type:none;margin:0;padding:0;}

#leftcolumn_imgs ul li{list-style-type:none;margin:0;padding:0;}

#main_content_nosubnav{width:700px; padding-left:25px; float:left;
margin-top:15px;}



#main_content_nosubnav a:link{text-decoration:none; color:#333;
text-decoration:underline; }
#main_content_nosubnav a:active{text-decoration:underline; color:#484848;}
#main_content_nosubnav a:visited{text-decoration:underline; color:#333; }
#main_content_nosubnav a:hover{text-decoration:underline; color:#666; }





/*.menu-top-nav-container{padding-left:0px;}*/

/*.subside a{color:#096; text-decoration:none;}

.hilite { background-color:yellow;}*/


/*#calendar-meta-data-leftcol{font-size:12px;float:left;
width:250px;padding-right:20px;margin-top:10px;line-height:150%;}

#calendar-meta-data-leftcol a{color:#666;}
#calendar-meta-data-leftcol h3{font-size:11px;text-transform:uppercase;
font-family:'NewsCycleRegular', Arial, sans-serif; margin:0; padding:0;}
#calendar-meta-data-leftcol .meta-information{padding-bottom:10px;}

#calendar-meta-data-rightcol{font-size:12px;float:left;
width:250px;margin-top:10px;line-height:150%;}

#calendar-meta-data-rightcol a{color:#666;}
#calendar-meta-data-rightcol h3{font-size:11px;text-transform:uppercase;
font-family:'NewsCycleRegular', Arial, sans-serif; margin:0; padding:0;}
#calendar-meta-data-rightcol .meta-information{padding-bottom:10px;}
#post_area_right{width:455px;float:left; padding-left:15px;}

*/



#wp-calendar{width:155px;margin-bottom:15px;}
#next{text-align:right;}
#secondary{margin-top:0px;}
th {font-weight:normal; color:#333;}
caption{text-transform:uppercase;}
