/* light green: #b5dc10; green: #507811; gray: #f0f0f0; */

@media(min-width:768px){
	body{
		margin-top:133px;
	}
	.navbar{
		position: fixed;
		width: 100%;
		top:0px;
	}
}
@media(min-width:1010px){
	body{
		margin-top:77px;
	}
}
body, .detail, .gallery, label, b, strong{
	font-family:lato;
}
#pageArea{
	padding-top:20px;
}
#pageArea.detail, #pageArea.staticPage, #pageArea.results, #pageArea.collections{
	margin-bottom:30px;
}
.colNoPadding{
	padding:0px;
}
.navbar .formOutline{
	border-radius:0px;
	background-color:#fff;
	border:1px solid #b5dc10;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
}
.navbar, html.frontContainer.initial{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
html.frontContainer.initial .navbar{
	background-color:transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#headerSearchButton{
	color:#507811;
}
.navbar-brand{
	width:175px;
	padding-top: 0px;
}
html.frontContainer.initial .navbar-brand img{
	background: radial-gradient(ellipse at center, rgb(0, 0, 0, .7), transparent 70%);
}
@media (min-width:768px){
	.navbar-brand{
		width: 200px;
		padding-top: 8px;
	}
}
@media (min-width:768px){
	.navbar-nav > li > a, .nav > li.dropdown > a.icon {
		padding-top: 20px;
		padding-bottom: 15px;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.navbar-form{
		margin-top:20px;
	}	
	.menuItems.navbar-nav > li > a{
		border-left: 1px solid #b5dc10;
	}
	.menuItems.navbar-nav > li:first-child > a{
		border-left:0px;
	}
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    font-family: Lato;
    text-transform:uppercase;
}
.navbar-default .navbar-nav > li > a{
	color:#507811;
	letter-spacing:.5px;
}
html.frontContainer.initial .navbar-default .navbar-nav > li > a{
	color:#fff;
	text-shadow: 0px 0px 6px #000;
}
html.frontContainer.initial .navbar-default .navbar-nav > li > a:hover{
	text-shadow: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active{
	background-color:#b5dc10;
	color:#fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:#b5dc10;
	color:#fff;
}
.navbar-nav > li > .dropdown-menu{
	background-color:#fff;
	border:0px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}
.navbar-nav > li > .dropdown-menu a{
	text-transform:uppercase;
	letter-spacing:1px;
	color:#507811;
	font-family:Lato;
}
.navbar-nav > li > .dropdown-menu a:hover{
	background-color:#507811;
	color:#fff;
}


H1, h1, h2, H2, H3, h3, H4, h4, H5, h5{
	color:#507811;
	font-family: 'Righteous';
	text-transform:uppercase;
}
.btn-default, .browse .btn, .sets .btn, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color:#507811;
	font-family:Lato;
}
.btn-default:hover {
	background-color:#b5dc10;
}
a{
	color:#507811;
}
a:hover{
	color:#b5dc10;
}


.bgGray{
	background-color: #f0f0f0;
}
.bgGreen{
	background-color: #507811;
}
.bgWhite{
	background-color: #fff;
}

/* footer */

#footer{
	background-color: #000;
	color: #FFF;
	padding-top:25px;
	padding-bottom:45px;
	height:270px;
	border-top:0px;
	text-align:center;
	margin-top:0px;
	border:0px;
	font-family:Lato;
}
body{
	margin-bottom:280px;
	color:#000
}
@media(max-width:768px){
	#footer{
		height:350px;
	}
	body{
		margin-bottom:370px;
	}
}
#footer{
	border:0px;
}
#footer .footerHeading{
	font-family:'Righteous';
	font-size:20px;
	color:#b5dc10;
	padding-bottom:10px;
	text-align:center;
	padding-top:15px;
}
#footer .footerLinks{
	text-align:center;
}
#footer ul li{
	padding:0px;
}
#footer .footerLinks a, #footer a{
	color:#fff;
	font-size:14px;
	text-decoration:none;
	font-family:Lato;
	text-decoration:underline;
}
#footer .footerLinks a:hover{
	color:#b5dc10;
}
#footer .funder{
	text-transform:uppercase;
	font-family: Lato;
	margin-top:10px;
	text-align:center;
}
#footer .funder img{
	width:200px;
	height:auto;
}

#footer .social a{
	font-size: 20px;
	color:#b5dc10;
	font-size:25px;
}
#footer ul {
    margin-top: 15px;
}
#footer ul.social li {
    padding: 0px 5px 0px 5px;
}
#footer .footerContact{
	text-align:left;
	font-size:14px;
	color:#fff;
	line-height:1.5em;
	margin-top:0px;
}
@media(max-width:768px){
	#footer .footerContact{
		text-align:center;
	}
}
#footer .homeLogo{
	padding-top:30px;
}
#footer .homeLogo img{
	width:70px;
	height:auto;
}
/* detail page */
.detail{
	color:#000;
	font-size:15px;
}
.detail .unit a{
	color:#828282;
	text-decoration:underline;
}
.detailFbShare{
	float:right;
	padding-top:12px;
}
.detail #detailTools{
	clear:left;
}
.detail H6 a {
	color: #828282;
}
.detail H6, .detail h6, .gallery H6, .gallery h6{
	color:#454545;
	font-family:Lato;
	font-size:14px;
	margin: 15px 0px 2px 0px;
}
/* lightbox */
.lightboxAsk{
	margin-bottom:5px;
}
.lightboxAsk span.glyphicon, .lightboxAsk a{
	color: #828282 !important;
	font-size:12px;
	text-transform:uppercase;
}
.lightboxAsk span.glyphicon{
	margin-right: 5px;
}

/* advanced search */

table.attributeListItem{
	width:100%;
}
.advancedSearchField .formLabel{
	font-family:Lato;
	font-size:12px;
}

.bResultItemText a, .bResultListItemText a{
	text-decoration:underline;
}
.bResultItemText small a, .bResultListItemText small a{
	text-decoration:none;
}

/* forms */
.form-control:focus {
    border-color: #000000;
}
/* cookie notice */
#cookieNotice{
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	color: #000;
	background-color: #FFF;
	padding: 30px 0px 30px 0px;
	font-size: 16px;
	z-index: 9999;
	box-shadow: rgba(0,0,0,.5) 0px 5px 50px;
}
#cookieNotice .acceptCookie{
	display:inline-block;
	background-color:#000;
	color:#FFF;
	padding:10px;
	cursor: pointer;
	font-size:14px;
}
#cookieNotice a{
	font-weight:bold;
	text-decoration:underline;
}




/* front */
html.frontContainer {
    height: 100%;
    padding:0px -15px 0px -15px;
}
body.frontContainer {
	margin-bottom:0px;
	height: 100%;
}
body.frontContainer #footer{
	position:relative !important;
	height:auto;
}

body.frontContainer, body.frontContainer #pageArea{
	margin-top:0px;
	padding-top:0px;
}
.parallax {
	position:relative;
    background-image: url("../graphics/hero_1.jpg");

    /* Full height */
    /*height: 100%;*/
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-left: -15px;
	margin-right: -15px;
	/*top:-20px;*/
}
.parallax > .container{
	background-color: rgba(0, 0, 0, 0.3);
	height: 100vh;
}
.parallax.hero1 {
    background-image: url("../graphics/hero_1.jpg");
}
.parallax.hero2 {
    background-image: url("../graphics/hero_2.jpg");
}
.parallax.hero3 {
    background-image: url("../graphics/hero_3.jpg");
}
@media(max-width:420px), (max-height:420px){
	/*.heroSearch H1{
		font-size:50px;
	}*/
	.front .heroSearch .form-group{
		width:300px;
	}
}
.front .heroSearch {
	position:relative;
	text-align:center;
	color:#FFF;
	margin-top: 23vh;
	padding-top:50px;
	padding-bottom:50px;
	font-size:28px;
	text-shadow: 0px 0px 6px #000;
	margin-left:40px;
	margin-right:40px;
	font-family: "Righteous";
	font-weight: 400;
	line-height: 1.3em;
	letter-spacing: 1.5px;
}
@media(max-width:1024px){
	.parallax .heroSearch{
		margin-top: 17vh;
	}
}
@media(max-width:768px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
@media(max-height:420px){
	.parallax .heroSearch{
		margin-top: 10vh;
	}
}
.heroAdvancedSearchLink{
	text-align: right;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: normal;
	font-size: 14px;
}
@media(max-width:767px){
	.heroAdvancedSearchLink{
		text-align: center;
		width: 100%;
	}
}
.heroAdvancedSearchLink a{
	color:#FFF;
	font-size:14px;
	font-family:Lato;
}

@media (max-device-width:1024px){
	/* ipad and mobile disable background-attachment: fixed; fallback to no parallax so at least see image */
	.parallax {
		background-attachment: scroll;
	}
}
#hpScrollBar{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: rgba(227, 230, 232, 0.3);
	color:#b5dc10;
	text-align:center;
	font-size:30px;
	padding:10px 0px 10px 0px;
	opacity:.8;
}



.heroSearch H1{
	text-align: center;
	line-height: 1.1em;
	margin-bottom:20px;
	font-size: 40px;
	font-weight: 500;
	text-transform:none;
	color:#fff;
	font-family: "Righteous";
}
.heroSearch .formOutline {
	border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    position: relative;
    border-radius: 0px;
    margin-top:30px;
}
.front .heroSearch .formOutline{
	display: inline-block;
	background-color:#FFF;
}
.front .heroSearch .form-group {	
    width: 400px;
    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	font-family:Lato;
}
.front .heroSearch .form-control, .front .heroSearch .form-control:focus{
	border:0px;
	box-shadow:none;
	font-size:18px;
	height:44px;
}
#heroSearchButton{
	color:#507811;
	font-size: 20px;
}

@media(max-width: 1355px) {
	.heroSearch H1 .line1 {
		font-size:24px;
	}
	.heroSearch H1 .line2, .heroSearch H1 .line3 {
		font-size:30px;
	}
}

@media(max-width: 550px) {
	.heroSearch H1 .line1 {
		font-size:20px;
	}
	.heroSearch H1 .line2, .heroSearch H1 .line3 {
		font-size:25px;
	}
	.heroSearch H1 .line2 {	
		padding-top:10px;
		padding-bottom:15px;
		line-height: 1.3em;
	}
	.front .heroSearch .form-group {
		width: 80%;
	}
}
.front .jcarousel-pagination{
	display:none;
}
.jcarousel-control-prev, .jcarousel-control-next {
    top: 170px;
}

.hpIntro .callout{
	text-align:center;
	font-size: 30px;
	color: #507811;
	font-weight:400;
	margin:170px 0px 170px 0px;
	/*font-family: "Josefin Sans";
	font-weight:300;*/
	font-family:Lato;
	font-weight:400;
	background-color:#fff;
}
.hpIntro .calloutTitle{
	text-align:center;
	font-size: 30px;
	color: #507811;
	margin-bottom:15px;
	font-family: Lato;
	font-weight:600;
}

.frontSlide img {
    height: 300px;
    width: auto;
}
.frontThemes{
	margin-top:40px;
	margin-bottom:40px;
}
.frontThemes img{
	width:100%;
	height:auto;
}
.front h2{
	text-align: center;
	text-transform:uppercase;
	font-size:24px;
}
.frontThemesLink{
	display:inline-block;
	text-align:center;
	color:#fff;
	background-color:#507811;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	font-size:15px;
	text-decoration:none;
	letter-spacing:1px;
	margin-bottom:30px;
}
.frontThemesLink:hover{
	background-color:#b5dc10;
	color:#fff;
	text-decoration:none;
}
.frontAbout{
	padding:70px 0px 70px 0px;
}
.frontAbout .container{
	padding-left:30px;
	padding-right:30px;
}
@media(min-width:768px){
	.frontAbout .row{
		display: flex;
		align-items: center;
	}
}
.frontAbout h3{
	text-transform:uppercase;
	font-size:18px;
	color:#507811;
}
.frontAbout .frontAboutText{
	padding-left:40px;
	padding-right:40px;
}
.frontAbout .frontAboutText p{
	font-size:16px;
	line-height:1.5em;
}
.frontAbout img{
	width:100%;
	height:auto;
}
H2.frontExpoTitle{
	padding-top:20px;
}
.frontExpos{
	margin-top:15px;
	margin-bottom:40px;
}
.frontExpos .galleryItems li{
	width:280px;
}
.frontExpos img{
	width:100%;
	height:auto;
}
.frontExposLink{
	display:inline-block;
	text-align:center;
	color:#fff;
	background-color:#507811;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	font-size:15px;
	text-decoration:none;
	letter-spacing:1px;
	margin-bottom:30px;
}
.frontExposLink:hover{
	background-color:#b5dc10;
	color:#000;
	text-decoration:none;
}

.frontPlaces{
	margin-top:40px;
	margin-bottom:80px;
}
.frontPlaces img{
	width:100%;
	max-width:250px;
	height:auto;
	margin-top:15px;
}
.frontPlaceLink{
	display:inline-block;
	text-align:center;
	color:#fff;
	background-color:#507811;
	text-transform:uppercase;
	width:100%;
	max-width:250px;
	margin-bottom:15px;
	padding:10px;
	text-decoration:none;
	letter-spacing:1px;
}
.frontPlaceLink:hover{
	background-color:#b5dc10;
	color:#000;
	text-decoration:none;
}
/* browse */
#bRefine{
	background-color: #f2f1ec;
}
#bRefine.fixed{
	padding-top: 90px;
}
#bRefine a {
    color: #333;
}
.bResultItem .bResultItemText {
    font-size: 12px;
    line-height: 1.2em;
    color:#454545;
}
/* gallery */
.gallery{
	font-size:15px;
}
.gallery .unit {
    margin-bottom: 12px;
}
@media(max-width:768px){
	.galleryList{
		text-align:center;
	}
	.gallery H1{
		text-align:center;
	}
}
.galleryList{
	margin-bottom:30px;
}
.galleryList img{
	width:100%;
	height:auto;
	max-width:250px;
}
.galleryList label {
    display: block;
    font-size: 15px;
    text-transform: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1.1em;
    margin-top: 5px;
    font-weight: bold;
}
.gallery .galleryDetailBottom{
	border:0px;
	background-color:#f0f0f0;
	margin-top:30px;
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:0px;
}
.gallery #galleryDetailImageGrid img{
	background-color:#fff;
}
.gallery .setDescription {
    font-size: 15px;
    font-weight: normal;
}
a.readmore-js-toggle {
    padding-top: 10px;
    color: #004c52;
    text-decoration:underline;
}
/* image viewer */
.caMediaOverlayControls .close{
	position: fixed;
	top: 10px;
	right: 10px;
}
div.caMediaOverlayControls .close a{
	background-color:#000;
	padding: 12px 10px 8px 10px;
}
div.caMediaOverlayControls .close a .caIcon{
	color:red !important;
	text-shadow:#000 0px 1px 0px;
	font-size:30px !important;
}
div.caMediaOverlayControls{
	opacity:1;
	background-color:rgb(0,0,0,.7);
}

/* collections */
.collectionTile a.collectionTileImage{
	float:left;
	width:30%;
	padding-right:15px;
}
.collectionTile img{
	width:100%;
	height:auto;
}
.collectionTile{
	display: flex;
    align-items: center;
}
.collectionTile .title{
	width:70%;
}
.collectionTile .title, .collectionTile .title a{
	font-family:Lato;
	color:#507811;
	font-size: 16px;
	font-weight:bold;
}