form{
	display:inline;
}

body {
	background-color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

/* ------------------------------------- */
/* general styles */
/* ------------------------------------- */

p, div{
	font-family: Helvetica, sans-serif;
	color: #000000;
	line-height:1.3em;
}
h1{
	color: #90BCC4;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	font-family: 'DIN-Black';
	margin: 0 0 8px 0;
}
h1.results{
	color: #90BCC4;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	font-family: 'DIN-Black';
	margin: 0 0 8px 0;
}
h1.results a{
	color:#999999;
}
h2{
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color: #000000;
	margin:0px 0px 3px 0px;
	line-height:1.1em;
}
h3{
	font-family: Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #000000;
	margin:0px 0px 3px 0px;
	line-height:1.1em;
}
h3 a{
	tet-decoration:none;
}
a{
	text-decoration:underline;
	color: #000000;
}
a:hover{
	text-decoration:underline;
	color: #999999;
}
.formErrors{
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'DIN-Black';
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	margin-bottom:10px;
	padding:5px;
	background-color: #90BCC4;
}
.message{
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'DIN-Black';
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
	padding:5px;
	background-color: #90BCC4;
}
.notificationMessage{
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'DIN-Black';
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
	padding:5px;
	background-color: #90BCC4;
	margin:10px 0px 10px 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.divide{
	height:3px;
	background-color:#E2E2E2;
	margin: 2px 0px 2px 0px;
}
.bg {
	background-color: #F5F5F5;
	border: 1px solid #E2E2E2;
	padding:10px;
}
.caption{
	font-size:11px;
	text-align:left;
}
a.caption{
	font-size:11px;
	color: #999999;
	text-decoration:underline;
}
a.caption:hover{
	color: #000000;
}


/* ------------------------------------- */
/* page structure */
/* ------------------------------------- */
#content {
	width: 1000px;
	background-color: white;
	margin: 0 auto 0 auto;
	min-height: 550px;
/*	-moz-box-shadow: 0px 0px 44px 0px #111;
	-webkit-box-shadow: 0px 0px 44px 0px #111;
	box-shadow: 0px 0px 44px 0px #111;*/
}

#pageArea{
	width: 650px;
	min-height: 500px;
	float: left;
	margin: 0 0 0 80px;
}
#topBar{
	width:913px;
	margin: 0px auto 0px auto;
	text-align:right;
	padding:3px 7px 0px 0px;
	color:#aaaaaa;
	background-color:#FFFFFF;
}
#topBar a{
	padding-left:10px;
	color:#666666;
	text-decoration:none;
}
#topBar form{
	padding-left:8px;
}
#topBar a:hover{
	color:#cccccc;
}
#lightboxLink{
	position:relative;
	display:inline;
	margin:-5px -7px 0px 0px;
	padding:5px 7px 0px 0px;
}
.lightboxLinkActive{
	-moz-box-shadow: 0px 4px 5px #adadad;
	-webkit-box-shadow: 0px 4px 5px #adadad;
	box-shadow: 0px 4px 5px #adadad;
	background-color:#f5f5f5;
}
#topBar #lightboxList{
	display:none;
	position:absolute;
	top:19px;
	right:0px;
	width:180px;
	text-align:right;
	background-color:#ffffff;
	padding:5px 10px 10px 0px;
	line-height:1.7em;
	color:#828282;
	z-index:10000;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	-moz-box-shadow: 0px 2px 5px #adadad;
	-webkit-box-shadow: 0px 2px 5px #adadad;
	box-shadow: 0px 2px 5px #adadad;
}
#topBar #lightboxList a{
	color:#828282;
	padding-left:0px;
}
#topBar #lightboxList a:hover{
	text-decoration:underline;
}
#header{
	color: #D9D9D9;
	width: 203px;
	float: left;
	overflow: hidden;
	position: relative;
}
#header a{
	text-decoration: none;
	color: white;
}
#header a:hover{
	color:#fff;
	text-decoration:underline;
}
.logo {
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	height:82px;
	margin:0 0 13px 0;
}
#pageTitle {
	font-family: 'DIN-Black';
	font-size: 17px;
	line-height: 17px;
	padding: 0 9px 11px 9px;
	color: #D9D9D9;
	border-bottom: 18px solid black;
	float: right;
	text-transform: uppercase;
	text-align: center;
	margin: 62px 0 0 0;
}
#nav{
	border-bottom: #1D1D1D1d 1px solid;
	padding: 18px 0 0 13px;
	width: 178px;
	height: 169px;
	font-family: 'OratorStdMedium';
	text-transform: uppercase;
	font-size: 13px;
}
#nav a{
	text-decoration: none;
	color: white;
}
#nav a:hover{
	text-decoration:underline;
}
#nav #search{
	width:160px;
	float:right;
	text-align:left;
	margin-top:4px;
}
#nav #search input {
	font-size:12px;
	font-weight: normal;
	padding: 0px 2px 0px 4px;
	border: 0px;
	width:143px;
	height:20px;
	background-color: #e6e6e6;
	margin-top:-1px;
	position: absolute;
	z-index: 1;
	background-image: url("../graphics/defaultsearchbox.png");
}
#nav #search input[type="text"] {
	font-size:12px;
	font-weight: normal;
	padding: 2px 4px 2px 6px;
	border: 0px;
	width:143px;
}
#nav #search a{
	float:right;
	font-size:14px;
	color: #666666;
	font-weight:normal;
	text-decoration:none;
	margin: 2px 0px 0px 0px;
	line-height:1em;
}
#nav #search a:hover{
	color: #aaa;
}


/* -------------------------------------------------*/
/* "Searchlight" autocomplete search results styles */
/* -------------------------------------------------*/
div.searchlight-header{
	size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#333333;
	background-color:#E4E4E4;
	padding:3px;
}
div.searchlight-item{
	size:12px;
	color:#333333;
	padding:3px 3px 8px 3px;
	background-color:#FFFFFF;
}
div.searchlight-item a{
	size:12px;
	color:#333333;
	text-decoration:none;
}
div.searchlight-item a:hover{
	text-decoration:underline;
}
div.searchlight-results-wrapper {
    color: #333333;
    border: 1px solid #cccccc;
    margin: 0px -1px -1px 6px;
    overflow: hidden;
    width: 135px;
}

div.searchlight-results div.searchlight-selected {
    background: #333;
    color: #fff;
}

/* -------------------------------------------------*/
/* tooltips / Rollovers */
/* -------------------------------------------------*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #d9d9d9;
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	/*opacity: 0.9;*/
	text-align: center;
}
.tooltipImage { /* used in image rollovers in results and on detail pages */
	padding: 10px;
	text-align: center;
}

.tooltipCaption { /* used in image rollovers in results and on detail pages */
	margin-top: 10px;
	text-align: left;
	margin-bottom: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #737373;
}
.tooltipText{ /* used in gallery */
	text-align:center;
	padding:10px;
	font-size:12px;
	width:400px;
}

/* ------------------------------------- */
/*  HOME PAGE */
/* ------------------------------------- */
#hpTextContainer {
	width:270px; 
	float:right;
}
#hpText{
	width:270px;
	float:right;
	margin-left:15px;
	padding-top:0px;
	line-height:1.5em;
}
#hpText div{
	margin-bottom:0px;
}
#hpText #featuredLabel{
	font-size:10px;
	font-style:italic;
	color:#333333;
}
#hpFeatured{
	float:right;
	margin: 0px 20px 15px 0px;
	width:400px;
	border: 0px solid #e8e8e8;
	overflow: hidden;
	background-color:#fff;
	overflow:hidden;
}
#featuredScrollCaption {
	height: 40px;
	padding: 10px;
	text-align: center;
	color: #666666;
	font-size: 14px;
	font-style: italic;
}
#featuredScrollCaption a{
	text-decoration: none;
	color: #666666;
}
.featuredTitle{
	font-size:16px;
	font-weight:normal;
	color: #444444;
	margin:0px 0px 0px 0px;
	font-weight:bold;	
}

#hpFeatured table{
	border: 0px solid #CCCCCC;
	width:400px;
	height:450px;
	background-color:#eee;
	float:left;
	overflow:hidden;
}
.featuredImg {
	float:left;
	margin: 0px 15px 14px 0px;
}
.hpRss{
	float:left;
	padding:5px 0px 0px 0px;
	margin-top:20px;
}
.hpRss a{
	text-decoration: none;
	font-size:12px;
	color:#333;
}
#featuredScroll {
	text-align: center;
	width: 610px;
}
#hpIntroText div {
	margin-bottom:10px;
}
#hpIntroTextTitle {
	font-weight:bold; 
	font-size:16px; 
	color: #134959; 
}
#quickLinkItems {
	float:left;
}
#quickLinkItems .quickLinkItem{
	float:left;
	margin: 10px 14px 0px 0px;
	width:195px;
	overflow: hidden;
}
#quickLinkItems .quickLinkItem .title{
	font-size:13px;

	color: #666666;
	margin:5px 0px 0px 0px;
	
}
#quickLinkItems .quickLinkItem a.more{
	font-size:11px;
	font-weight:normal;
	color: #000000;
	margin:2px 0px 0px 0px;
	text-decoration:none;
}
#quickLinkItems .quickLinkItem a.more:hover{
	color: #999999;
}
#quickLinkItems .quickLinkItem table{
	border: 0px solid #cccccc;
	width:100%;
	height:120px;
}
.tooltipCaption {
	margin-bottom: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #737373;
	text-align:center;	
}
.tooltipCaption div{
	color: #737373;
}
#hpBrowse{
	background-color: #f5f5f5;
	padding: 10px 10px 5px 10px;
	line-height:1.5em;
	font-size:12px;
	float:left;
	width:245px;
	margin:0px;
	border: 1px solid #e2e2e2;
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px;
	text-align: center;
}
#hpBrowse a{
	text-decoration: none;
	color: #333333;
	margin-right: 15px;
	font-size: 14px;
	line-height: 1.5em;
}
#hpBrowseDiv{
	margin: 15px 0px 0px 0px;
	font-size:14px;
	width: 205px;
	float:left;
}
#hpBrowseFacet {
	margin:10px 0px 10px 0px;
}
.hpBrowseTitle {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

/* ------------------------------------- */
/*  free text - about page, browse intro */
/* ------------------------------------- */

.textContent {
	margin: 10px 0px 15px 0px;
	font-size:12px;
}

.textContent div {
	margin-bottom: 10px;
}


/* ------------------------------------- */
/* Detail pages */
/* ------------------------------------- */

#detailBody {
	min-height:450px;
}
#detailBody h1 {
	color: #90BCC4;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
	font-family: 'DIN-Black';
	margin: 0 0 8px 0;
	margin-bottom:20px;
}
#detailBody #pageNav {
	float:right;
	margin:0px;
	text-align:right;
	width: 250px;
	padding:5px 0px 0px 20px;
	margin: 10px 0 23px 0;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform:uppercase;
}
#detailBody #pageNav a{
	text-decoration:none;
	color: #8C8C8C;
}
#detailBody #pageNav a:hover {
	color: #E2E2E2;
}
#detailBody #leftCol{
	float:left;
	width: 215px;
	font-size: 11px;
	text-align:left;
}
#objDetailRelObjects td.imageIcon{
	width: 72px;
	padding-bottom:10px;
}
#detailBody #leftCol .unit{
	margin-bottom:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #737373;
}
#detailBody #leftCol .line{
	margin-bottom:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #737373;
	padding:0px;
	margin: 0px;
	padding-bottom:5px;
}
#detailBody #leftCol a .line {
	color: #90BCC4; 
}
#detailBody #leftCol p{
	color: #737373;
}
#detailBody #leftCol a{
	color: #90BCC4;
}
#detailBody #leftCol a:hover{
	text-decoration:underline;
}
#detailBody #leftCol .metatitle {
	font-family: 'OratorStdMedium';
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #737373;
}
#detailBody #leftCol #description{
	margin-top:12px;
}
#detailBody #rightCol{
	width:400px;
	text-align:left;
	float:right
}
#detailBody #rightColDetail{
	width:660px;
	text-align:left;
	float:right
}
#relatedRecords {
	width: 660px;
	height:120px;
	border: 1px solid #eee;
}
#relatedRecordsImage {
	padding-left:10px;
}
#detailBody #leftCol a.button{
	font-family: 'OratorStdMedium';
	font-size: 10px;
	line-height: 18px;
	color: #737373;
	text-decoration:none;
	text-transform:uppercase;
}
/* nav bar on details with thumbnail grid */
#detailNavBar{
	background-color: #fff;
	margin:10px 0px 15px 0px;
	text-align:center;
	padding:8px 10px 5px 10px;
	height:15px;
	text-align:left;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform:uppercase;
	border-top:5px solid #000;
}
#detailNavBar a {
	text-decoration:none;
	color: #8C8C8C;
}
#detailNavBar #next{
	float:right;
}
#detailNavBar #previous{
	float:left;
}
/* image on - object detail */
#objDetailImage{
	margin-bottom:0px;
	text-align:center;
	width: 400px;
	padding: 0px;
	margin-top:20px;
}
#objDetailImageNav {
	margin:10px 0px 15px 0px;
	font-size:12px;
	padding:10px 0px 8px 0px;
	width: 400px;
	text-align:left;
	font-family: 'OratorStdMedium';
	font-size: 10px;
	line-height: 18px;
	color: #737373;
}
#objDetailImageNav p {
	margin-bottom:5px;
}
#objDetailImageNav a {
	text-decoration:none;
	color: #737373;
	margin-left: 15px;
	text-transform:uppercase;
}


/* user comment/rank form */
#objUserData h2 {
	color: #737373;
	font-family: 'OratorStdMedium';
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}
#objUserData #ranking, #objUserData #tags{
	margin-bottom:12px;
}
#objUserData #numComments{
	float:right;
	font-size:12px;
	color: #000000;
	font-weight:normal;
	text-transform: none;
}
#objUserData .commentImage{
	clear:left;
	float:left;
	padding:0px 5px 5px 0px;
}
#objUserData .comment{
	margin: 0px;
	font-size:12px;
	line-height: 1.3em;
}
#objUserData .byLine{
	margin: 4px 0px 20px 30px;
	font-size:11px;
	font-style:italic;
	clear:left;
}
#objUserData .formLabel{
	font-weight:bold;
	margin: 10px 0px 3px 0px;
	color: #737373;
}
#objUserData input {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:574px;
}
#objUserData input[type="text"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:380px;
}
#objUserData input[type="file"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:380px;
}
#objUserData textarea {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:380px;
}
#objUserData input[type="textarea"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:100%;
}
#objUserData form a{
	text-decoration: none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
	margin: 5px 0px 0px 0px;
	padding: 0px;
}
#objUserData form a:hover{
	color: #000000;
	text-decoration:none;
}

/* ------------------------------------- */
/*  ADVANCED SEARCH FORM */
/* ------------------------------------- */
#caAdvancedSearchForm{
	margin:0px 0px 15px 0px;
	border: 1px solid #E2E2E2;
	padding:10px;
	margin:0px 0px 20px 0px;
	background-color:#f9f9f9;
	border:1px solid #f9f9f9;
	width:470px;
}
#caAdvancedSearchForm input {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
}
#caAdvancedSearchForm input[type="text"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
}
#caAdvancedSearchForm textarea {
	font-size:11px;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
}
#caAdvancedSearchForm input[type="textarea"] {
	font-size:11px;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
}
td.advSearchElement{
	padding:0px 10px 20px 0px;
}
.advSearchLabel{
	margin-bottom:2px;
	line-height:1em;
	color:#333;
	font-weight:normal;
}
#caAdvancedSearchForm #buttons{
	float:right;
	text-align:right;
	margin-top:16px;
}
#caAdvancedSearchForm #buttons div{
	margin: 0px 0px 7px 0px;
}
#caAdvancedSearchForm #buttons a{
	float: right;
	margin: 10px 2px 5px 10px;
	text-decoration: none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 3px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
#caAdvancedSearchForm #buttons a:hover{
	color: #545454;
	text-decoration:none;
}
.attributeListItem span {
	line-height:15px;
}

/* ------------------------------------- */
/*  SEARCH/ BROWSE RESULTS */
/* ------------------------------------- */
#searchNavBg{
	clear:both;
	background-color: #fff;
	border-bottom:4px solid #000;
}
.searchNav{
	text-align:center;
	margin: 0px;
	padding:6px 10px 0px 10px;
	font-size:13px;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 5px;
	margin-top:15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #737373;
}
.searchNav div{
	color: #737373;
}
.searchNav form{
	float:left;
	text-align:left;
	width:220px;
	margin:0px;
	display:inline;
}
.searchNav form input[type="text"]{
	font-size:9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #828282;
	padding:0px;
	margin:0px;
	font-weight:normal;
	text-align:center;
}
.searchNav .nav{
	float:right;
	text-align:right;
	width:240px;
}
.searchnav a img{
	vertical-align: middle;
	margin-bottom:2px;
}
.searchNav a{
	text-decoration:none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
.searchNav a:hover{
	color: #828282;
}
.searchNav .linkOff{
	color: #B1B1B1;
	text-decoration:none;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
.sectionBox{
	clear: both;
	padding-top:10px;
}
/* secondary SEARCH results */
.searchSecSpacer{
	float:left;
	width:2%;
}
.searchSec{
	float:left;
	width:315px;
	padding-top:5px;
	height:250px;
}
.searchSecNav{
	clear:both;
	background-color: #fff;
	border-bottom:4px solid #000;
	margin: 0px;
	padding:0px 10px 5px 10px;
	font-size:10px;
	text-align:left;
	color: #737373;
}
.searchSecNav .nav{
	float:right;
	text-align:right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #737373;
}
.searchSecNav a{
	text-decoration: none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
.searchSecNav a:hover{
	color: #828282;
}
.searchSec .results{
	padding: 10px;
	line-height:1.6em;
}
.searchSec .results a{
	color:#000000;
}


/* thumbnail view  - also used in details with thumbnail grid */
.searchResultTd{
	width:120px;
	padding: 0px 0px 10px 0px;
}
.searchThumbBg{
	width:120px;
	position: relative;
	background-color:#f9f9f9;
	text-align:center;
}
.searchThumbCaption{
	color: #000000;
	padding:3px 0px 0px 0px;
	font-size:11px;
	text-align:left;
}
.searchThumbCaption a{
	margin-bottom:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #737373;
}
.searchThumbCaption a:hover{
	color: #999999;
}

/* full results */
.searchFullImageContainer {
	width:250px;
	margin: 10px 20px 10px 0px;
	text-align:center;
	float:left;
	position:relative;
}
.searchFullText{
	float:left;
	width:375px;
	text-align:left;
	margin: 10px 0px 0px 0px;
}
.searchFullTitle, .searchFullTitle a{
	font-size:14px;
	font-weight:bold;
	color: #000000;
	margin:0px 0px 10px 0px;
	text-decoration:none;
}
.searchFullTitle a:hover{
	text-decoration:underline;
}
.searchFullTextTitle{
	font-size:12px;
	color: #000000;
	font-weight: bold;
}
.searchFullTextTextBlock{
	margin-bottom:10px;
}
/* map results */
#mapBalloon{
	width:300px;
	padding-right:20px;
	overflow-y: auto;
}
#mapBalloon img{
	float:left;
	margin-right:10px;
}
#mapBalloonText{
	font-size:12px;
	line-height:1.1em;
}
#mapBalloonText a{
	text-decoration:none;
}

/* search/browse options box - horizontal show hide */
#showOptions{
	float:right;
	margin: 5px 2px 5px 10px;
	text-decoration:none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
	
}
#hideOptions{
	position:absolute;
	right:20px;
	top:20px;
	margin: 3px 0px 0px 10px;
	text-decoration:none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
#searchOptionsBox{
	position:relative;
	clear:both;
	margin: 0px 0px 0px 0px;
	display:none;
	font-size:10px;
	color: #737373;
	line-height: 1.3em;
	font-family: Helvetica, sans-serif;
}
#browse #searchOptionsBox{	/* need extra space above this box in the browse */
	margin: 10px 0px 0px 0px;
}
#searchOptionsBox .col{
	float:left;
	width:38%;
	color:#828282;
}
#searchOptionsBox .col .unit{
	float:left;
	padding:0px 20px 20px 10px;
	color:#828282;
}
#searchOptionsBox .layout{
	float:left;
	width:62%;
	color:#828282;
	
}

#searchOptionsBox .layout table{
	float:left;
	width:160px;
	height: 90px;
	margin-bottom:5px;
	margin-right:10px;
	border:0px;
}
#searchOptionsBox .col .heading, #searchOptionsBox .layout .heading{
	margin-bottom:10px;
	text-decoration:none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
#searchOptionsBox .bg{
	background-color: #f9f9f9;
	border:0px;
	padding:20px 20px 10px 20px;
}
#searchOptionsBox .apply{
	margin:0px -20px 0px -20px;
	border-top:2px solid #F1F1F1;
	padding:10px 10px 0px 10px;
	text-align:center;
}
#searchOptionsBox .apply a{
	text-decoration:none;
	color: #666;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}

/* search refine controls - horizontal show hide */
#showRefine{
	float:right;
	margin: 5px 2px 5px 10px;
	text-decoration:none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
#searchRefineBox{
	clear:both;
	margin: 0px 0px 0px 0px;
	display:none;
	font-size:12px;
	color:#828282;
}
#searchRefineBox .bg{
	background-color: #E2E2E2;
	border:0px;
	padding:10px 20px 10px 20px;
}

#hideRefine{
	float:right;
	margin: 0px 0px 0px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#828282;
	font-size:12px;	
}

#searchRefineParameters{
	float:left;
	padding:3px 0px 0px 3px;
	color:#666666;
}
#searchRefineParameters .heading{
	font-style:italic;
	color:#333333;
}
#searchRefineParameters a.button{
	color: #666666;
	font-size:11px;
	text-decoration:underline;
	margin:0px;
	padding:0px;
	font-weight:normal;
}
#searchRefineParameters a.button:hover{
	color: #333333;
}
#searchRefineParameters a.close{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size:8px;
	text-decoration:none;
	padding:1px 2px 0px 2px;
	margin:0px 10px 0px 4px;
	background-color:#999999;
	line-height:1em;
}
#searchRefineParameters a.close:hover{
	background-color:#545454;
}

/* entity, collection, place, occurrence results */
#entityResults, #collectionResults, #occurrenceResults, #placeResults{
	margin-bottom:10px;
	size:14px;
}
#entityResults div, #collectionResults div, #occurrenceResults div, #placeResults div{
	padding:5px;
}
#entityResults a, #collectionResults a, #occurrenceResults a, #placeResults a{
	text-decoration: none;
	color: #333;
	font-size: 13px;
	line-height: 15px;
	font-family: 'DIN-Medium';
	padding-left: 2px;
}
#entityResults a:hover, #collectionResults a:hover, #occurrenceResults a:hover, #placeResults a:hover{
	text-decoration:underline;
}
#entityResults .resultBg, #collectionResults .resultBg, #occurrenceResults .resultBg, #placeResults .resultBg{
	background-color: #F9F9F9;
}


/* ------------------------------------- */
/* login register */
/* ------------------------------------- */
#loginForm{
	width:240px;
	float:right;
	line-height:1.3em;
	margin-top:25px;
}
#registerForm{
	float:left;
	line-height: 1.3em;
	width:370px;
	margin-top:25px;
}
#loginForm .bg, #registerForm .bg, #resetPassword .bg{
	border: 1px solid #E2E2E2;
	padding:10px;
	margin:0px 0px 20px 0px;
	background-color:#f9f9f9;
	border:1px solid #f9f9f9;
}
#loginForm div, #registerForm div{
	margin-top:15px;
	margin-bottom:15px;
}
#loginForm .button, #registerForm a.button, #resetPasswordForm a.button {
	margin: 25px 10px 0px 0px;
	padding: 0px 0px 0px 5px;
	text-decoration: none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
	float:right;
}
#loginForm a.button:hover, #registerForm a.button:hover, #resetPasswordForm a.button:hover{
	color: #545454;
	text-decoration:none;
}

#loginForm input, #registerForm input, #resetPasswordForm input {
	font-size:10px;
	font-weight: normal;
	padding: 4px;
	margin: 0px;
	border: 1px solid #828282;
	height:10px;
	width:330px;
}
#loginForm input[type="text"], #registerForm input[type="text"], #resetPasswordForm input[type="text"] {
	font-size:10px;
	font-weight: normal;
	padding: 4px;
	margin: 0px;
	border: 1px solid #828282;
	height:10px;
	width:330px;
}
#loginForm input[type="text"] {
	width:200px;
}
#loginForm input {
	width:200px;
}

/* ------------------------------------- */
/* Gallery */
/* ------------------------------------- */

#galleryLanding .setInfo{
	margin:0px 10px 15px 10px;
	float:left;
	width:430px;
	height:120px;
	overflow:hidden;
}
#galleryLanding .setInfo .setImage{
	float:left;
	margin-right:10px;
	width:200px;
	height:120px;
	background-color:#e2e2e2;
}
#galleryLanding .setInfo .setTitle{
	margin-bottom:5px;
}
#galleryLanding .setInfo .setTitle a{
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
}
#galleryLanding .setInfo .setText{
	margin-bottom:5px;
}
#galleryLanding .setInfo .setMoreLink a{
	font-weight:normal;
	font-size:11px;
	text-decoration:underline;
}
/* set detail */
#gallerySetDetail #setItemsGrid{
	float:left;
	width:620px;
}
#gallerySetDetail #setItemsGrid .textContent{
	padding:0px 10px 0px 0px;
	margin-top:0px;	
}
#gallerySetDetail #setItemsGrid .textContent p{
	padding:0px;
	margin:0px;
}
#gallerySetDetail .setItem{
	float:left;
	margin:0px 6px 6px 0px;
	width:200px;
	height:120px;
	background-color:#E2E2E2;
}
#gallerySetDetail #allSets{
	width:270px;
	float:right;
	margin:15px 0px 0px 10px;
	border-bottom:2px solid #E2E2E2;
}
#gallerySetDetail #allSets .setInfo{
	padding: 5px 10px 5px 4px;
	margin:0px;
	border-top:2px solid #E2E2E2;
}
#gallerySetDetail #allSets .setInfo:hover{
	background-color: #F2F2F2;
}
#gallerySetDetail #allSets .setInfo .setImage{
	float:left;
	width:72px;
	height:72px;
	margin:0px 10px 0px 0px;
	padding:0px;
}
#gallerySetDetail #allSets .setInfo .setTitle a{
	font-size:12px;
	text-decoration:none;
}
#gallerySetDetail #allSets .setInfo .setTitle a:hover{
	text-decoration:underline;
	color:#828282;
}

/*  gallery overlay content */
#galleryOverlayNextPrevious{
	font-weight:bold;
	color:#828282;
	font-size:12px;
	margin:0px 0px 5px 10px;
}
#galleryOverlayNextPrevious a{
	font-weight:bold;
	color:#000000;
	font-size:12px;
	text-decoration:none;
}
#galleryOverlayImage{   
	text-align:center;
}
#galleryOverlayImageCaption{   
	text-align:center;
	font-style:italic;
	font-size:11px;
	padding:3px 0px 0px 0px;
}
.galleryOverlayContent {	
	font-size:11px;
	color:#000000;
	text-align:left;
	margin: 10px 10px 0px 10px;
	overflow:auto;
}
.galleryOverlayContent div{   
	margin-bottom:5px;
}
.galleryOverlayContent a{	
	text-decoration:underline;
	font-size:11px;
	color:#000000;
}

/* ------------------------------------- */
/*  FAVORITES PAGE */
/* ------------------------------------- */
.favoritesColumn{
	float:left;
	margin: 0px 0px 15px 0px;
	width:200px;
}
.favoritesSpacerColumn{
	float:left;
	width:32px;
	height:100px;
}
.favoritesColumn .title, .favoritesTextColumn .title{
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:5px 0px 5px 0px;
	text-decoration:none;
}
.favoritesColumn a.title{
	text-transform: uppercase;
	font-size:14px;
	font-weight:normal;
	color: #828282;
	margin:15px 0px 5px 0px;
	text-decoration:none;
}
.favoritesColumn a.title:hover{
	color: #000000;
}
.favoritesColumn table{
	width:180px;
	height:200px;
	margin: 0px 0px 0px 0px;
}
.favoritesColumn a.more{
	font-size:13px;
	color: #828282;
	margin:3px 0px 0px 0px;
	text-decoration:none;
	float:right;
}
.favoritesColumn a.title:hover{
	color: #000000;
}
#featuredCol #scrollFeatured, #userFavsCol #scrollUserFavs, #mostViewedCol #scrollMostViewed, #recentlyAddedCol #scrollRecentlyAdded{
	height:600px;
	overflow:hidden;
	position:relative;
}
#featuredCol #scrollFeatured #scrollFeaturedContainer, #userFavsCol #scrollUserFavs #scrollUserFavsContainer, #mostViewedCol #scrollMostViewed #scrollMostViewedContainer, #recentlyAddedCol #scrollRecentlyAdded #scrollRecentlyAddedContainer{
	position:absolute;
}





/* --------------------------------------*/
/*  BROWSE  */
/* --------------------------------------*/

/* landing page */
#facetList{
	padding:10px;
	width:650px;
	float:left;
	background-color:#f9f9f9;
}
.startBrowsingBy{
	font-size: 12px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
	color:#999;
	margin-bottom:5px;
}
.facetHeadingLink{
	margin-bottom:5px;
	margin-top:5px;
	float:left;
	padding-right:25px;
}
.facetHeadingLink a{
	text-decoration: none;
	color: #333;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
.facetHeadingLink a:hover{
	color:#333333;
}
.facetDescription{
	margin-bottom:0px;
}
#browseSlideshow {
	float:right;
	width: 420px;
	text-align: center;
	border: 2px solid #e8e8e8;
	height:440px;
}

#browseRandomImage {
	text-align: center;
	margin: 0px auto 0px auto;
	width: 420px;
	height:400px;
}
#browseRandomCaption {
	padding: 10px 5px 5px 5px;
}
#browseRandomCaption a{
	color: #666666;
	font-size: 14px;
	width: 400px;
	text-align: center;
	height: 20px;
	text-decoration: none;
}

/* browse controls when browse has been initiated */
#browseControls{
	margin:0px 0px 10px 0px;
}
#refineBrowse{
	margin:10px 0px 5px 0px;
}
#refineBrowse .refineHeading{
	font-weight:bold;
	color:#000000;
	font-size:14px;
}
#refineBrowse a.facetLink{
	text-decoration: none;
	color: #333;
	font-size: 13px;
	line-height: 15px;
	font-family: 'DIN-Medium';
	padding-left:2px;
	text-transform:capitalize;
}
#refineBrowse a.facetLink:hover{
	color:#8C8C8C;
}
#browseCriteria{
	margin:0px;
	color:#828282;
}
#browseCriteria .criteriaHeading{
	font-weight:bold;
	color:#828282;
	font-size:12px;
}
#browseCriteria a.close{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size:9px;
	text-decoration:none;
	padding:2px 2px 0px 2px;
	margin:0px 5px 0px 3px;
	background-color:#828282;
	line-height:1em;
	font-weight:bold;
}
#browseCriteria a.startOver{
	color:#000000;
	text-decoration:underline;
	font-size:12px;
}
#browseCriteria a.startOver:hover{
	color:#828282;
	text-decoration:underline;
}



/**/

/* - browse formatting for HORIZONTAL_BOXES - */

#browse #browseCriteria{
	margin: 3px auto 13px auto;
}
#browse .browseBox{   /* Used in browse */
	text-align:left;
	float:left;
	width: 150px;
	padding:5px 7px 7px 7px;
	background-color: #333333;
	border:3px solid #828282;
	font-size: 12px;
	color: #FFFFFF;
	overflow:hidden;
	line-height:1.3em;
	margin-bottom:15px;
}
#browse .browseBox .heading{   /* Used in browse */
	font-size: 14px;
	font-weight:bold;
	color: #FFFFFF;
	margin-bottom:3px;
}
#browse .browsingBy{   /* Used in browse */
	font-size: 12px;
	color: #FFFFFF;
	padding-left:5px;
}
#browse .browsingBy a.close{
	text-transform:uppercase;
	color: #333333;
	font-size:9px;
	text-decoration:none;
	padding:2px 2px 0px 3px;
	margin:0px 0px 0px 5px;
	background-color:#999999;
	line-height:1em;
	font-weight:bold;
}
#browse .browsingBy a.close:hover{
	background-color:#FFFFFF;
}
#browse .browseBoxRefine{   /* Used in browse */
	text-align:left;
	float:left;
	width: 150px;
	padding:5px 7px 7px 7px;
	background-color: #FFFFFF;
	border:3px solid #828282;
	font-size: 12px;
	font-weight:normal;
	color: #333333;
	overflow:hidden;
	line-height:1.3em;
	margin-bottom:15px;
}
#browse .browseBoxRefine .heading{   /* Used in browse */
	font-size: 14px;
	font-weight:bold;
	color: #333333;
	margin-bottom:3px;
}
#browse .browseBoxRefine .browseFacetLink{
	text-transform:capitalize;
	padding-left:5px;
}
#browse .browseBoxRefine .browseFacetLink a{   /* Used in browse */
	font-size: 12px;
	color: #828282;
	text-decoration:none;
}
#browse .browseBoxRefine .browseFacetLink a:hover{   /* Used in browse */
	text-decoration:underline;
}
#browse .startOver a{   /* Used in browse */
	text-decoration:underline;
	font-size: 12px;
	font-weight:normal;
	color: #333333;
}
#browse .startOver{   /* Used in browse */
	margin-top:5px;
	font-size: 12px;
	font-weight:normal;
	color: #333333;

}
#browse .browseArrow{   /* Used in browse */
	float:left;
	padding-right:10px;
	padding-left:10px;
}
#browse .browseWith{   /* Used in browse */
	float:left;
	padding-right:10px;
	padding-left:10px;
	font-size: 14px;
	color:#333333;
	font-weight:bold;
}








.browseTargetSelect {
	font-size: 11px;
	float: right;
}

#browse .browseTargetSelect select {
	font-size: 9px;
}




/* --- browse pop up panels --- */
.browseSelectPanel, #browse .browseSelectPanel {  /* used in browse and details with browse */
	position: absolute; 
	top: 100px; 
	left: 50%; 
	border: 3px solid #000000; 
	background-color: #FFFFFF; 
	width: 900px; 
	height: 400px; 
	display: none;
	margin-left: -465px;
	padding: 10px;
	background-image: url("../graphics/bgStripeBW.gif");
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px;
}

.browseSelectPanelStatic, #browse .browseSelectPanelStatic {  /* used in browse and details with browse into static non-overlay panel */
	position: relative;  
	width: 650px; 
}
#staticBrowsePanel {
	clear:both;
}
#staticBrowsePanelContent #title{
	font-family: 'DIN-Black';
	font-size: 20px;
	line-height: 17px;
	color: #90BCC4;
	text-transform: uppercase;
	float:left;
	margin:10px;
}
#browseFacetGroupingControls{ /*  used in browse and details with browse */
	clear:both;
	margin: 10px 10px 0px 10px;
	padding-right: 4px;
	text-decoration: none;
	color: #333;
	font-size: 11px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
#browseFacetGroupingControls a{ /*  used in browse  and details with browse */
	text-decoration:none;
	color:#333333;
	text-transform:uppercase;
	font-weight:bold;
	font-size: 11px;
	padding-left:3px;
}
#browseFacetGroupingControls a.selected{ /*  used in browse and details with browse */
	text-decoration:underline;
	color:#333333;
	text-transform:uppercase;
	font-size: 11px;
}
.browseSelectPanel #title{ /*  used in browse and details with browse */
	padding-bottom:5px;
	font-family: 'DIN-Black';
	font-size: 17px;
	line-height: 17px;
	color: #D9D9D9;
	text-transform: uppercase;
}

.browseSelectPanelContentArea { /*  used in browse and details with browse */
	background-color: #FFFFFF;
}

#browseSelectPanelHeader { /*  used in browse and details with browse */
	position: relative;
	margin: 10px;
	text-transform:uppercase;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	height: 18px;
	clear:both;
/*	overflow:hidden;
	width: 635px; */
}
#browseSelectPanelHeader a { /*  used in browse and details with browse */
	padding-right:4px;
	text-decoration: none;
	color: #333;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}

#browseSelectPanelHeaderContent {
	position: absolute;
}

#browseSelectPanelHeaderScrollButtons {
	float:right;
	margin: 10px 10px 0px 10px;
	color:#333333;
	font-size: 14px;
}

.browseSelectPanelList { /*  used in browse and details with browse */
	margin: 0px;
	width: 600px;
	overflow: auto;
	padding: 0px 10px 10px 10px;;
	color:#333333;
}


td.browseSelectPanelListCell { /*  used in browse and details with browse */
	padding:3px;
	width:200px; 
}


table.browseSelectPanelListTable { /*  used in browse and details with browse */
	
}

div.browseSelectPanelCacheError {
	text-align: center; 
	height: 200px; 
	margin-top: 100px; 
	font-size: 18px;
}

.listDivide{ /*  used in browse and details with browse */
	height:1px;
	border-bottom: 4px #000000 solid;
}

div.browseSelectPanelListGroupHeading { /*  used in browse and details with browse */
	font-family: 'DIN-Black';
	font-size: 20px;
	line-height: 17px;
	color: #333;
	text-transform: uppercase;
	padding-top: 5px;
	margin: 10px 10px 10px 5px;
}

a.browseSelectPanelListGroupHeading, a.browseSelectPanelListGroupHeading:hover { /*  used in browse and details with browse */
	text-decoration: none;
	color: #333;
}

a.browseSelectPanelButton {   /*  used in browse and details with browse */
	background-image: url("../graphics/closePanel.gif");
	background-repeat:no-repeat;
	float: right;
	margin-left: 15px;
	width:19px;
	height:19px;
	text-decoration:none;
	clear:both;
	display:none;
}

a.browseSelectPanelButton:hover {
	background-color: #333333;
}

a.browseSelectPanelLink { /*  used in browse and details with browse */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 19px;
	color: #737373;
	padding: 0px;
	margin: 0px;
}

a.browseSelectPanelLink:hover { /*  used in browse and details with browse */
	color:#90BCC4;
}


/* overlay (for object representations) */
#caMediaPanel {
	position: fixed; 
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%; 
	display: none;
	margin: 0px;
	padding: 0px;
	z-index: 31000;			/* needs to be on top of menu bar, which has z-index=30000 */
}
#caMediaPanel #close{
	float: right;
	width:15px;
	height:16px;
	margin:10px;
	background-image:url("../graphics/buttons/x.png");
}
#caMediaPanel #close a{
	text-decoration:none;
	font-size:16px;
}
#caMediaPanelContentArea {
	width: 100%; 
	height: 100%;
}

#caMediaOverlayContent {
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
}
.closeUpperLeft {
	position:absolute;
	left:5px;
	top:5px;
	width:15px;
	height:16px;
	background-image:url("../graphics/buttons/x_white.png");
	z-index: 32000;			/* needs to be on top of caMediaPanel, which has z-index=31000 */
}
.closeUpperLeft a{
	text-decoration:none;
}

div.caMediaOverlayControls {
	background-color: #000;
	color:#FFF;
	font-size: 11px;
	text-align:center;
	position:absolute;
	padding: 10px 0px 10px 0px;
	width:100%;
	bottom:0px;
	left:0px;
	z-index: 32000;			/* needs to be on top of caMediaPanel, which has z-index=31000 */
	opacity:.5;
	
}
div.caMediaOverlayControls:hover {
	opacity:1.0;
	background-color:rgba(0,0,0,0.5);
}
div.caMediaOverlayControls a{
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
	color:#FFF;
}
div.caMediaOverlayControls a:hover{
	color:#FFF;
}
div.caMediaOverlayControls .close{
	float:right;
	width:15px;
	height:16px;
	background-image:url("../graphics/buttons/x_white.png");
	margin: 0px 10px 0px 20px;
}
div.caMediaOverlayControls .download{
	float:right;
	margin-left:20px;
}
div.caMediaOverlayControls .objectInfo{
	font-size:12px;
	color:#FFF;
	padding-left:10px;
	text-align:left;
	width:40%;
	float:left;
	min-height:2px;
}
div.caMediaOverlayControls .overlayLightboxLink{
	font-size:12px;
	color:#FFF;
	padding-right:50px;
	text-align:center;
	width:30%;
	float:right;
	min-height:2px;
}
div.caMediaOverlayControls .overlayLightboxLink a{
	font-size:13px;
	color:#FFF;
	text-deocration:none;
	font-weight:normal;
}
div.caMediaOverlayControls .repNav {
	float:left;
	width:16%;
	padding: 0px 2% 0px 2%;
	text-align:center;
	color:#FFF;
	font-size:12px;
}
div.caMediaOverlayRepThumbs {
	color:#FFF;
	font-size: 11px;
	text-align:right;
	position:absolute;
	top:60px;
	right:11px;
	padding:3px;
	z-index: 32000;			/* needs to be on top of caMediaPanel, which has z-index=31000 */
	opacity:.3;	
}
div.caMediaOverlayRepThumbs:hover {
	opacity:1;	
}
div.caMediaOverlayRepThumbs img{
	margin:2px;
	border:1px solid transparent;
}
div.caMediaOverlayRepThumbs a.selectedRep img{
	border:1px solid #FFF;
}

/* Advanced search */
.advSearchLabel {
	font-weight: bold;
}

/*** HIERARCHY BROWSER ***/
div.hierarchyBrowser {
	width: 100%;
	height: 350px;
	margin: 0px;
}

div.hierarchyBrowserSmall {
	border: 1px solid #ccc;
	width: 98%;
	height: 180px;
	margin: 5px 0px 2px 6px;
}

div.hierarchyBrowserLarge {
	border: 1px solid #000000;
	width: 100%;
	height: 400px;
	margin: 0px 0px 10px 0px;
}
div.hierarchyBrowserContainer {
	position: relative;
	overflow: auto;
	overflow-y: hidden;
	height: 100%;
}

div.hierarchyBrowserLevel {
	position: absolute;
	top: 0px;
	width: 230px;
	height: 100%;
	padding: 0px;
	margin: -2px;
	border: 1px solid #cccccc; 
	background: #FFFFFF;
	overflow: auto;
}

ul.hierarchyBrowserLevel {
	padding: 3px;
	margin: 3px;
}

li.hierarchyBrowserLevel {
	margin: 0px 0px 5px 0px;
	padding:5px 0px 5px 0px;
	border-bottom: 1px solid #EDEDED;
	list-style-type: none;
	text-align: left;
}
a.hierarchyBrowserLevel {
	text-decoration: none;
	font-weight: normal;
}

a.hierarchyBrowserLevelSelected {
	color: #00000;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
}

a.hierarchyBrowserLevelEditButton {
	text-decoration: none;
	font-weight: bold;
}

div.hierarchyBrowseTab {
	height: 245px;
	width: 712px;
	overflow: hidden;
	font-weight: normal;
	margin-left:-10px;
}
#mainContainer #content #sidebar .pageInfo h1 {
	color: #D9D9D9;
}
#mainContainer #content #sidebar .pageInfo a {
	color: #ffffff;
}
#mainContainer #content #sidebar .pageInfo p, #mainContainer #content #sidebar .pageInfo div {
	color: #ffffff;
}
#mainContainer #content #main #newsList {
	float: left;
	margin-left: 26px;
}

#mainContainer #content.collection #main .item img {
	width: 14px;
	margin: 0 16px 0 0;
	float: left;
}
.artistList div{
	line-height: 19px;
}
.artistList a{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
line-height: 19px;
color: #737373;
padding: 0px;
margin: 0px;

}
.artistList a:hover{
	color:#90BCC4;
}
.featuredTitle {
	float:right;
	clear:right; 
	width:400px;
	font-family: 'OratorStdMedium';
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #737373;
}
.featuredTitleSmall {
	font-family: 'OratorStdMedium';
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #737373;
	width:200px;
	margin-top:5px;
}
div.featuredTitleSmall a{
	color: #737373;
}
div.featuredTitleSmall a:hover{
	color: #737373;
}
div.featuredTitle a{
	color: #737373;
}
div.featuredTitle a:hover{
	color: #737373;
}
div.artistDiv {
	width: 300px;	
	float:left;
	margin-right:10px;
	margin-top:10px;
}
div.seeMore {
	width:100%;
	float:right;
	text-align:right;
}
.seeMore a {
	float:right;
	text-decoration: none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'OratorStdMedium';
	text-transform: uppercase;
}
