#setItemEditor {
	background: #FFFFFF;
}
#setItemEditor #rightCol{
	clear:right;
	float:right;
	background-color: #f9f9f9;
	width: 200px;
	padding: 0px 10px 10px 10px;
	margin: 0px 0px 15px 0px;
	min-height: 188px;
}
#setItemEditor #rightCol H2{
	margin-top: 15px;
	text-decoration: none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}

#setItemEditor #leftCol{
	width:620px;
}
#setItemList{
	margin:0px;
	padding:0px;
	
}
#setItems {
	margin-bottom:35px;
}
#setItems .setItem {
	position: relative;
	display: block;
	float: left; 
	list-style-type: none;
	height: 200px; 
	width: 140px; 
	border: solid 1px #eee;
	margin: 5px 10px 5px 0px;
	background: #f9f9f9;
	text-align: center;
}

#setItems .setItem:hover {
	border: solid 1px #999;
}

#setItems div{
	font-size: 10px;
	margin: 5px 0px 0px 0px;
	width:140px;
	text-align:left;
}
#setItemEditor #rightCol a{
	margin-top: 15px;
	text-decoration: none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
#setItems a{
	cursor:move;
}

#setItems a{
	color: #636363;
}

#setItems .remove{
	position: absolute;
	left:130px;
	top: -10px;
	width:12px;
	height:10px;
	padding: 3px 1px 5px 6px;
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px;
	background-color:#333;
}

#setItems .remove a{
	font-size: 11px;
	color: #fff;
	text-decoration:none;
	font-weight:bold;
}
#setItems .remove:hover{
	background-color: #CA1919;
}

.setItemThumbnail {
	padding: 10px 10px 3px 10px;
}
#setItems .setItemCaption {
	padding-left: 10px;
	width: 120px;
}
#setItems .setItemCaption a{
	text-decoration:none;
	color: #737373;
	line-height: 1.3em;
	margin-top: 5px;
}

#helpTips ul{
	margin: 0px 0px 0px 5px;
	padding:5px 5px 0px 22px;
}

#helpTips li{
	list-style-image: url(../graphics/arrow_right_gray.gif);
	margin: 0px 0px 10px 0px;
	padding:0px;
	color: #737373;
	line-height: 1.3em;
}
#helpTips div{
	color: #737373;
	line-height: 1.3em;
}
.optionsList{
	margin-top:5px;
	margin-left:10px;
}
.optionsList a{
	text-decoration:none;
	color:#90BCC4;
	line-height: 1.3em;
}
.setsList{
	margin-top:5px;
	margin-left:10px;
}
.setsListCurrent{
margin-top: 15px;
text-decoration: none;
color: #8C8C8C;
font-size: 13px;
line-height: 13px;
font-family: 'DIN-Medium';
text-transform: uppercase;
	margin-top:5px;
	margin-left:10px;
}
.setsList a{
	text-decoration:none;
}
div.setInfo{
	margin-left: 0px;
	font-family: 'DIN-Black';
	font-size: 14px;
	line-height: 14px;
	color: #666;
	text-transform: uppercase;
	margin-bottom: 10px;
	clear: right;
	margin-top: 10px;
}
.subSetInfo {
	color:#737373;
	line-height: 1.3em;
	font-style:italic;
}
a.hide{	
	margin-top: 15px;
	text-decoration: none;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 13px;
	font-family: 'DIN-Medium';
	text-transform: uppercase;
}
a.hide:hover{	
	color:none;
}
div.edit{
	text-align:right;
}
div.edit a{	
	text-decoration:none;
	text-transform: uppercase;
	font-size:13px;
	color: #90BCC4;
}
div.edit a:hover{	
	color:none;
}

/*  FORMS */
#newSetForm .formLabel, #editSetForm .formLabel{
	font-weight:bold;
	margin: 10px 0px 2px 0px;
	color: #333;
}
#newSetForm input, #editSetForm input {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:240px;
}
#newSetForm input[type="text"], #editSetForm input[type="text"] {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:190px;
}
#newSetForm textarea, #editSetForm textarea {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:190px;
}
#newSetForm input[type="textarea"], #editSetForm input[type="textarea"] {
	font-size:11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 2px 2px 2px 2px;
	margin: 0px;
	border: 1px solid #828282;
	width:190px;
}
#newSetForm a, #editSetForm a{
	text-transform:uppercase;
	font-family: Arial, sans-serif;
	font-size:14px;
	color: #545454;
	font-weight:bold;
	text-decoration:none;
	margin: 0px;
	padding: 5px 0px 0px 0px;
}
#newSetForm a:hover, #editSetForm a:hover{
	color: #828282;
	text-decoration:none;
}