/* universal header/footer styles */
#header { padding:0px; margin:0px;}
img.headerImg {height:45px; width:auto; margin-top:20px; margin-bottom:10px;}
.pagingText { position: absolute; top: 30px; right: 30px; font: "tahoma"; font-size: 11px; text-align: right;  margin: 0px 0px 10px 25px;}
#footer .pagingText{ top:20px; }
.footerText { position:relative; font-size: 11px;  top:13px; padding-right:40px;  }  
body{ font-family: "helvetica", sans-serif; margin:0px; padding:0px;}

/* dompdf */
@page { margin: 65px 56px 35px 56px; }

#headerdompdf { position: fixed; left: 0px; top: -75px; right: 0px; height: 55px;  text-align: left; vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; }
#footerdompdf { position: fixed; left: 0px; bottom: -0px; right: 0px; height: 0px; text-align: center; vertical-align: bottom; }
#footerdompdf .pagingText:after { content: counter(page, decimal); }
#footerdompdf .pagingText { position: absolute; top: 0px; right: 30px; font: "tahoma"; font-size: 11px; text-align: right; margin: 0px;}
#footerdompdf .footerText { position:relative; font-size: 11px; padding-right:40px;  } 

/* checklist template */
.row { font-family: "helvetica", sans-serif; font-size: 11px; border-bottom: 1px solid #eee; width: 100%; height: auto; margin: 5px 0 0 0; padding: 10px 0px 10px 0px; overflow: none}	
.imageTiny { width: 120px; margin: 0 5px 0 0; border-radius: 5px; text-align:center;}
.imageTinyPlaceholder { width: 120px; height: 100px; border: 1px solid #eee; background-color: #eee; margin: 0 5px 0 0; border-radius: 5px;}
.displayHeader {border-bottom:1px solid #666; color:#666; font-weight:bold;}
.displayValue {}
.title {font-family: "helvetica", serif; font-weight:normal; font-size: 14px;}
.metadata {line-height:1.1em;}
.metaBlock {margin-left:0px; margin-left:0px; height:auto; width:400px;}

