<?php
	global $g_ui_locale;
	#print $g_ui_locale;
	$vs_subtitle_de = $this->getVar("subtitle_de");
	$vs_subtitle_en = $this->getVar("subtitle_en");
	
	if($g_ui_locale == "de_DE"){
?>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<H1>{{{title_de}}}</H1>
<?php
			if($vs_subtitle_de){
				print "<h2>".$vs_subtitle_de."</h2>";
			}
?>
			{{{bodytext_de}}}
		</div>
</div>

<?php
	}else{
?>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<H1>{{{title_en}}}</H1>
<?php
			if($vs_subtitle_en){
				print "<h2>".$vs_subtitle_en."</h2>";
			}
?>
			{{{bodytext_en}}}
		</div>
	</div>
<?php
	}
?>