@font-face {
    font-family: Apercu;
    src: url('fonts/apercu_regular_pro.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Apercu;
    src: url('fonts/apercu_bold_pro.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Apercu;
    src: url('fonts/apercu_regular_italic_pro.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Apercu;
    src: url('fonts/apercu_bold_italic_pro.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
	font-family:Noe;
	src:url("fonts/Noe-Display-Bold.eot");
	src:url("fonts/Noe-Display-Bold.eot?#iefix") format("embedded-opentype"),url("fonts/Noe-Display-Bold.woff") format("woff");
	font-weight:400;
	font-style:normal;
}
.container{
	max-width:1300px;
}
.container.menuBar{
	max-width:none;
}
body {
	margin-bottom:483px !important;
	font-size: 62.5% !important;
	color: #7a3030;
	font-family:apercu;
}
a {
	-webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;
    font-weight:bold;
}
a, a:hover, a:active, a:focus {
	color:#7a3030;
}
p,  {
    font-size: 1.16em;
    margin-bottom: 1em;
    line-height: 1.3em;
}
p, .bodytext {
	font-size: 2.4em;
	line-height: 1.5em;
}
#footer p {
	font-size: 1.16em;
}
b, strong {
    font-weight: bold;
    font-family:apercu;
}
::selection {
  background: #cf0; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #cf0; /* Gecko Browsers */
}
ul {
    list-style: none;
}
hr {
	color:#b9b9b9;
}
h1, h2, h3, h4, h5, h6 {
	color:#7a3030;
	font-family:apercu;
}
h1, .front h1 {
    font-size: 4.6em !important;
    font-weight: bold;
    font-family: apercu;
    color: #7a3030;
    margin-bottom: 1em;
    text-transform:none;
}
h4 small {
	font-size:18px;
	color: #7a3030;
}
h6 {
	font-size:16px;
	text-transform:none;
}
label, .advancedSearchField .formLabel {
	font-size:14px;
	font-family:apercu;
	font-weight:bold;
	text-transform:capitalize;
	color: #7a3030;
}
.caption {
	color: #7a3030;
}
.menuBar {
	margin-top:3em;
	padding-left:0px;
	padding-right:0px;
}
.navbar-header .mainTitle{
	font-family:Noe;
	font-size: 5em;
	color: #7a3030;
	text-align:center;
	margin-bottom:1em;
	margin-top:.3em;
	height:40px;
}
.navbar-header .mainTitle a{
	text-decoration:none;
}
@media (max-width: 1080px) {
	.navbar-header .mainTitle{
		text-align:right;
		padding-right:50px;
	}
}
@media (max-width: 850px) {
	.navbar-header .mainTitle{
		font-size: 4em;
	}
}
@media (max-width: 768px) {
	.navbar-header .mainTitle{
		font-size: 3em;
		background-color:#7a3030;
		padding:12px 0px 10px 0px;
		display:block;
		width:100%;
		color:#FFF;
		margin-top:70px;
		text-align:center;
		float:none;
		height:auto;
	}
	.navbar-header .mainTitle a{
		color:#FFF;
	}
}
.navbar {
	box-shadow:none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color:#7a3030;
}
.navbar-brand {
	height:40px;
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:1.8em;
	float:none;
	position:absolute;
	left: -10px;
	top:5px;
}
.navbar-brand img{
	height:100%;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:transparent;
	color: #ff461e;
}
.navbar-default .navbar-nav > li > a {
	color:#fff;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
	font-family:apercu;
}
.navbar-default .navbar-nav > li > a:hover {
	color:#ff461e;
}
.nav > li.dropdown > a.icon {
    color: #cf0;
}
.searchArea {
	float:right;
}	
#user-navbar {
	float:right;
}
#user-navbar .dropdown-menu {
	right:0px;
	left:auto;
	text-align:left;
}
.navbar-toggle-user {
    font-size: 2.3em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus {
	background-color:#7a3030;
	color: #ff461e;
}
.dropdown-header {
	color: #7a3030;
	font-size:13px;
}
#user-navbar .dropdown-menu > li > a {
	color: #7a3030;
	font-weight:bold;
	font-size:14px;
}
.searchForm {
	float:right;
	margin-top:11px;
}
.navbar input.form-control {
	color:#7a3030;
	font-weight:bold;
	font-size:14px;
	font-family:apercu;
}
.navbar input.form-control:focus {
	border:0px !important;
	outline:0px !important;
}
.navbar input.form-control::placeholder {
	color:#7a3030;
	font-weight:bold;
	font-size:14px;
	font-family:apercu;
}
ul.menuItems {
	width:calc(100% - 518px);
}
.navbar .formOutline {
	background-color:white;
	border:0px;
	box-shadow:none;
	border-radius:0px;
}
@media (max-width: 1080px) {
	ul.menuItems {
		width:100%;
		text-align:left;
	}
}
@media (min-width: 768px) {
	.navbar-header {
		float: none;
	}
	.navbar-nav {
		float: none;
		text-align: center;
   		margin-left: auto;
    	margin-right: auto;
	}
	.navbar-nav > li {
		float: none;
		display: inline-block;
		font-size:14px;
	}
	.menuItems.navbar-nav > li > a {
		padding-top:15px;
	}	
}
@media (min-width: 768px) and (max-width:867px) {
	.navbar-nav > li {
		font-size:12px;
	}
}
@media (max-width: 768px) {
	.navbar-nav > li {
		font-size:14px;
	}
	.searchArea, .searchForm {
		float:none;
		box-shadow:none;
	}
	ul.menuItems {
		border-top:0px;
	}
}
input:focus, input:active, textarea:focus, textarea:active {
	border: 1px solid #7a3030 !important;
	outline:none;
}
.btn-default {
    transition: all 250ms linear;
    background-color: transparent;
    border: 6px solid #7a3030;
    color: #7a3030;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 1.5em 3em;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    background-clip: padding-box;
    font-family: apercu;
    text-transform: capitalize;
    font-weight: bold;
}
.btn-default:hover, .btn-default:active, .btn-default:focus {
	color: #ff461e;
    border-color: #ff461e;
    background-color:transparent;
}
.btn-default a {
	color: #7a3030;
}
#footer {
	background-image:url('../graphics/footer-pattern.svg');
	background-color: #333;
    background-position: center center;
    background-size: 1707px;
    color: #fff;
    text-align: center;
    height:443px;
    padding-left:0px;
    padding-right:0px;
    border:0px;
    font-family:apercu;
}
#footer a.back-to-top {
    background-color: #cf0;
    color: #7a3030;
    display: block;
    font-size: 1.16em;
    height:73px;
    line-height:73px;
    text-align: center;
    width: 100%;
    text-decoration:none;
    font-family:Apercu;
    font-weight:bold;
}
#footer a, #footer ul a {
    color: #fff;
    text-decoration: none;
}
#footer .top-bar {
    margin: 0 3.3em;
    padding-top: 3.2em;
    height:126px;
}
#footer .top-bar address {
    float: left;
    text-align: left;
}
.sidr-class-social li, .social li {
    float: left;
    margin-right: .5em;
}
#footer .top-bar .follow {
    display: block;
    float: right;
}
#footer .top-bar .follow ul {
    float: left;
    font-size: 2em;
}
#footer .bottom-center img {
    display: block;
    margin: 3.4em auto;
    width: 63px;
}
#footer .bottom-center small {
    font-size: 1.16em;
    line-height: 1.4em;
}
#footer .bottom-center ul {
    overflow: hidden;
    font-size: 1.17em;
    margin: .5em auto;
    width: 165px;
    padding-left:0px;
}
#footer .bottom-center ul li {
    float: left;
    padding-right:0px;
}
#footer .bottom-center ul li:first-child {
    margin-right: 1em;
}
#footer .bottom-center {
    padding: 0 4em 4em;
    text-align: center;
    height:204px;
}
@media (max-width: 768px) {
	#footer {
		height:473px;
	}
}

/* Front */
.front .yellowBg{
	background-color: #f9efc3;
	color: #7a3030;
	margin-bottom:70px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
.front .yellowBg H1{
	text-align:center;
	margin:0px;
	padding-top:100px;
	padding-bottom:100px;
	width:100%;
	font-weight: normal;
}
@media (max-width: 992px) {
	.front .yellowBg H1{
		font-size:3.0em !important;
		padding-top:50px;
		padding-bottom:50px;
	}
}
.front h3{
	font-family: Noe;
	text-align:center;
	font-size: 4.5em;
	margin-bottom:40px;
	text-transform:none;
}
/*@media (max-width: 992px) {
	.front .hpSlideshowCol{
		padding-left:0px;
		padding-right:0px;
	}
}*/
.front .jcarousel-control-prev{
	left:-15px !important;
}
.front .jcarousel-control-next{
	right:-15px !important;
}
@media (max-width: 768px) {
	.front .jcarousel-control-next, .front .jcarousel-control-prev{
		font-size:35px;
		width:35px;
	}
}
@media (min-width: 992px) {
	.front .jcarousel-control-prev{
		left:-50px !important;
	}
	.front .jcarousel-control-next{
		right:-50px !important;
	}
}
.front .jcarousel-control-next, .front .jcarousel-control-prev, .front a.jcarousel-control-prev:hover, .front a.jcarousel-control-next:hover, .front a.jcarousel-control-prev:focus, .front a.jcarousel-control-next:focus {
	color:#7a3030;
	opacity:1;
	text-shadow:none;
}
.front .jcarousel-pagination a {
    border: 4px solid #7a3030;
    height:18px;
    width:18px;
    background-color:#fff;
}
.front .jcarousel-pagination a:hover {
	border: 4px solid #cf0;
}
.front .jcarousel-pagination a.active {
	background-color:#7a3030;
}
.front .jcarousel-pagination a.active:hover {
	background-color:#cf0;
}
.front .nav-pills > li > a, .front .nav-pills > li > a:hover {
    font-weight: bold;
    color:#7a3030;
}
.front .galleryItems li img{
	width:100%;
	height:auto;
}
.front .galleryItems li{
	padding-right:0px;
	margin-right:0px;
}
.front .galleryItem{
	margin-right:15px;
	margin-left:15px;
}
/*
.front .galleryItems-wrapper .jcarousel-control-prev {
	left: -50px !important;
}
.front .galleryItems-wrapper .jcarousel-control-next {
	right: -50px !important;
}
*/
.frontGridCaption {
	font-size:2em;
	height:2em;
	overflow:hidden;
}
.frontGallerySlideCaption{
	font-size:2em;
	padding-top:30px;
	
}
.frontGallerySlideCaption .frontGallerySlideCaptionTitle{
	font-weight:bold;
	font-size: 1.4em;
	margin-bottom:25px;
}
.galleryItems-wrapper{
	margin-top:40px !important;
}
/* Search */

.multisearch .pull-right {
	font-family:apercu;
	font-size:2.5em;
}
.multisearch H3 a, .multisearch H3 a:hover {
	color:#7a3030;
}
.multisearchFullResults a, .multisearchSort ul li a {
	color:#7a3030;
}
.multisearchSort ul li.selectedSort a {
	color:#7a3030;
}
.multisearch .multisearchResult, .multisearch .authoritySet a, .multisearch .multisearchResult a, .bResultItem .bResultItemText a {
	color:#7a3030;
	font-size:14px;
	font-weight:normal;
}
.multisearch .multisearchResult {
	width:220px;
}
.multisearch #collectionsBlock .blockResults {
	height:220px;
}
.multisearch #collectionsBlock .multisearchResult {
	height:205px;
}
.multisearchImgPlaceholder {
	height:120px;
	border:0px;
}
.multisearch .multisearchResult img {
	margin-bottom:10px;
}
.multisearchImgPlaceholder {
	padding-top:30px;
	font-size:2em;
	color:#ddd;
}
.multisearch #collectionsBlock .scrollButtonNext, .multisearch #collectionsBlock .scrollButtonPrevious {
	height:210px;
	padding-top:90px;
}

.multisearch .authorityResult{
	line-height:2.2em;
}
/* Detail */

.detail, .detail a {
	color:#7a3030;
}
span.spacer {
	display:inline-block;
	width:25px;
	height:10px;
	float:right;
}
.navButtons {
	text-align:right;
	clear:both;
	height:50px;
	font-size:13px;
}
.navButtons a{ 
	float:right;
	font-weight:bold;
	color:#7a3030;
}
.navButtons a:hover { 
	color:#7a3030;
}
.navButtons .small {
	display:inline-block;
	padding-left:5px;
}
.detail H4 {
	font-size:24px;
	padding-bottom:30px;
}
.detail .unit {
	margin-bottom:12px;
	padding-bottom:10px;
	border-bottom:1px solid #b9b9b9;
	font-size:14px;
}
.detail .metaLabel {
	font-weight:bold;
	width:30%;
	display:inline-block;
	color:#7a3030;
	vertical-align:top;
}
.detail .metaData {
	width:70%;
	display:inline-block;
}
.detail .metaData div, .detail .metaData p{
	font-size:inherit;
}
.objCaption {
	font-weight:bold;
	color:#7a3030;
	font-size:13px;
	margin-bottom:25px;
	margin-top:5px;
}
.objCaption a {
	color:#7a3030;
}
.detail #detailTools {
	margin-top:15px;
	margin-bottom:20px;
	font-family:apercu;
}
.detail .detailTool {
	display:inline-block;
	text-transform:none;
}
.detail .detailTool {
	font-weight:bold;
	color:#7a3030;
	font-size:15px;
}
.detail .detailTool a, .detail .detailTool span, .detail .detailTool i {
	color:#7a3030;
	font-weight:normal;
}
.lowerRow {
	margin-bottom:30px;
}
.lowerRow .section{
	padding-left:0px;
}
.lowerRow a{
	font-size:16px;
	color: #454545;
	font-weight:normal;
}
.relTitle, .relTitle a {
	margin-bottom:5px;
	font-size:16px;
	color: #454545;
	font-weight:normal;	
}
.detail H6 a {
	color:#7a3030;
}
.detailCollectionPath {
	font-size:15px;
	margin-bottom:5px;
}
.detailCollectionPath .fa-chevron-right{
	font-size:12px;
	margin-left: 5px;
    margin-right: 5px;
}
.collectionPath {
	font-size:15px;
	margin-bottom:20px;
	margin-top:-20px;
}
#detailComments blockquote, #tags{
	font-size: 14px;
}
#detailComments .btn-default{
	font-size:1em;
}
#pageArea.ca_collections .unit{
	border:0px;
}
#pageArea.ca_collections a.readmore-js-toggle {
    padding-top: 0px;
}
#pageArea.ca_collections #browseResultsContainer {
    margin-top: 0px;
}
@media (min-width: 975px) {
	#pageArea.ca_collections #collectionHierarchy .text-right{
		margin-top:-40px;
	}
	#pageArea.ca_collections H4.collectionDetailHeader {
    	margin-top: -53px;
    }
}
@media (max-width: 975px) {
	#pageArea.ca_collections #collectionHierarchy .text-right{
		text-align:left;
	}
}
/* Login */

#pageArea.loginreg {
	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
}
#pageArea.loginreg h1 {
	margin-left:95px;
}
#pageArea.loginreg a {
	font-size:12px;
}
/* Browse and sets buttons */

.browse .btn, .search .btn, .sets .btn {
    background-color: #FFF;
    color: #7a3030;
    padding:5px;
    font-size: 1em;
}
.advancedFormSubmit .btn-default{
	font-size:2em;
}
.advancedFormSubmit a:hover{
	color:#ff461e;
}
.browse .btn a, .browse .btn .glyphicon, .sets .btn a, .sets .btn .glyphicon{
	color: #7a3030 !important;
}
.results a .glyphicon, .results a .fa {
    color: #7a3030 !important;
}
.results .bResultItemImgPlaceholder .fa, .multisearch .bResultItemImgPlaceholder .fa{
	color:#ddd !important;
	font-size:2em;
}
.bResultItemImgPlaceholder{
	font-size: 14px;
}
/* Browse */

#bRefine {
	background-color:transparent;
	
}
#bRefine H3 {
	text-transform:capitalize;
	font-size:22px;
	font-weight:bold;
}
#bRefine H5 {
	font-size: 16px;
	text-transform:capitalize;
	font-weight:bold;
}
#bRefine a {
	font-weight:normal;
	color:#7a3030;
	font-size:14px;
}
.bResultItem:hover {
	margin:0px;
	min-height:0px;
}
.bResultItem:hover .bResultItemImg, .bResultItem .bResultItemImg {
	height:180px;
}
.entities h6 {
	font-size:17px;	
}
.entities.detail .unit {
	border-bottom:0px;
}
.detail HR {
	color: #b9b9b9;
	border-top: 1px solid #b9b9b9;
}

/* Adv Search */

.attributeListItem {
	width:100%;
}
.results h1 {
	text-transform:capitalize;
}
.popover-title, .popover-content {
	font-size:14px;
}

/* media viewer */

div.caMediaOverlayControls .close {
    float: none;
    margin: 0;
    font-size: 22px;
    position: fixed;
    top: 3px;
	right: 80px;
    width: auto;
    padding:4px 8px 8px 8px;
    text-align: right;
    background-color:#000;
    opacity 1;
	border-radius: 3px;
}
.tileviewerToolbarZoom{
	font-size:2em;
	top: 3px;
	background-color: rgba(0, 0, 0, 0.5);
	height: 30px;
	padding: 5px 10px 5px 10px;
	border-radius:3px
}
.tileviewerControlZoomIn, .tileviewerControlZoomOut, tileviewerToolbarZoomSlider{
	opacity:1 !important;
}
.tileviewerControlZoomIn{
	right: 5px;
	top: 6px;
}
.tileviewerControlZoomOut{
	left: 5px;
	top: 6px;
}
.tileviewerToolbarZoom .fa{
	background-color: #FFF;
	padding: 0px;
	line-height: .8em;
	height: 18px;
	width: 18px;
	border-radius: 3px;
}
.caMediaOverlayControlsMinimal .close{
	position:absolute;
	right:10px;
	bottom:10px;
	opacity: 1;
}
/* gallery */

.gallery {
	font-size:inherit;
}
.gallery #gallerySetInfo a {
	text-transform:capitalize;
	color:#7a3030;
	
}
.gallery H4, .gallery H4 a {
	font-size:22px !important;
	text-transform:none;
	color:#7a3030;
}
.gallery #gallerySetInfo small {
	font-size:14px;
	color:#7a3030;
}
.gallery #gallerySetInfo p, .gallery .setDescription p {
	font-size:14px;
	font-weight:normal;
}
.gallery #galleryDetailObjectInfo {
	font-size:14px;
}
.gallery .galleryDetailNext, .gallery .galleryDetailPrevious {
	font-size:83px;
	background-color:transparent;
	color: #7a3030;
	top: 160px;
}
.gallery img[src*="audioIcon"] {
    border:2px solid #EDEDED;
}

/* collection */

.collectionsList a {
	color:#7a3030;
}
@media (max-width: 400px) {
	.collectionTile .collectionImg{
		margin-bottom:20px;
	}
}
@media (min-width: 400px) {
	.collectionTile .collectionImg{
		float:left;
		width:25%;
		padding-right:20px;
	}
}
.collectionTile .collectionImg img{
	width:100%;
	height:auto;
}
.collectionTile .title a {
	font-weight:bold;
	font-size:15px;
}
.detail .exportCollection .fa, .detail .exportCollection .glyphicon, .detail .exportCollection a {
	color:#7a3030 !important;
	font-size:12px;
}
.collections h6 {
	font-size:17px;
}
.detail.collection .unit {
	border:0px;
}
.collectionsContainer .label, #collectionLoad .label {
	color:#7a3030;
}
#collectionHierarchy .text-right{
	font-size:15px;
}
#collectionHierarchy HR {
	border-top: 1px solid #b9b9b9 !important;
}
#collectionHierarchy .unit {
	border:0px;
}

/* home */

.frontSlide .frontSlideCaption {
	font-size:16px;
}

/* form overly */
#caFormOverlay .glyphicon{
	font-size: 20px;
}

/* lightbox */

.activitystream{
	font-size:14px;
}

/* notifications */

.notificationMessage, .notificationError, .notificationInfo, .notificationWarning, .alert{
	font-size:16px;
}