<div class="row">
	<div class="col-sm-12">
		<h1>{{{title}}}</h1><br>
	</div>
	<div class="row mb-3 pb-3">
		<div class="col-md-8">
			<p>{{{bodytext}}}</p>
		</div>
		<div class="col-md-4 img-fluid">
			{{{media:1:large}}}
		</div>
	</div>
</div>