/* Detail */

.navbar .menuSearch .form-control {
	width:80%;
	color:black;
	font-size: 14px;
	margin-top:6px;
}
.navbar .menuSearch .btn-primary {
	background-image:none;
	padding:0px;
	background-color:transparent;
	border:0px;
	color:black;
}
.navbar .menuSearch .btn-primary .fa {
	font-size:16px;
}
.navbar .menuSearch .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.navbar .menuSearch .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

.navbar .menuSearch .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}
.leader {
	text-transform:uppercase;
	font-family: DIN17SBOP-Regular;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}
.detailHead {
	text-align:center;
}
.detail h1 {
    font-size: 20px;
}
.detail{
	font-size:15px;
	color:#000;
}
.detail a {
	color: #000000;
}

.detail a {
	color: #000000;
}

a.plyr__control {
	color: #fff;
}

.detail .unit a {
	text-decoration:underline;
}
.detail label {
    font-size: 15px;
    color: #000;
    margin-bottom:0px;
}
.detail H2 {
    font-size: 18px;
    color: #000;
    margin-top:35px;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:2px solid #dddddd;
}
.detail .unit {
    margin-bottom: 20px;
}
.dlButton {
	display:none;
}
.detail HR {
	border-top:2px solid #dddddd;
	margin-bottom:30px;
}
.detail .detailNavBgLeft, .detail .detailNavBgRight {
	background-color: #fff;
	color: #000;
	padding-top: 16px;
	padding-bottom:0px;
}
.detail .detailNavBgLeft a .small, .detail .detailNavBgRight a .small,
.detail .detailNavBgLeft a, .detail .detailNavBgRight a {
	color: #000;
	font-family: DIN17SBOP-Regular;
	font-weight: bold;
	padding-bottom:5px;
}
.sets .setsBack {
	background-color: #fff;
}
.sets .setsBack a, .sets .setsBack a .small{
	color: #000;
	font-family: DIN17SBOP-Regular;
}
.detailSnippet {
	display: inline-block;
	font-family: DIN17SBOP-Regular;
	font-size:14px;
	margin-bottom:40px;
	text-align:center;
}
.detailSnippet .label{
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
	padding-right: 5px;
}
.detailSnippet a {
	color: #00cfb7;
	text-decoration: underline;
}
.unit {
	margin-bottom:10px;
}
.unit .label {
	color: #000;
	font-size:12px;
	display:inline-block;
	padding: 0px;
	padding-right:8px;
}
.unit .label.collection {
	font-size:14px;
	text-transform:uppercase;
	margin-bottom:10px;
}
.detail .detailTool a, .detail .detailTool span{
	color: #000;
}
.entityRep img{
	width: 100%;
	height:auto;
}
.closeToggle {
	color: #00cfb7;
	padding:5px 10px;
	font-weight:bold;
	text-transform:uppercase;
	border: 2px solid #00cfb7;
    margin: 20px auto 20px auto;
    width: 60px;	
}
.closeToggle a:hover{
	color: #00cfb7;
}
#browseResultsContainer {
	margin-top:5px;
}
.detail #detailAnnotations li{
	font-size:13px;
}
.detail #detailAnnotations li.active, .detail #detailAnnotations ul li:hover {
    background-color: #435c66;
	color: #fff;
}
.detail #detailAnnotations li .annotation_description {
	display:none;
}
.detail #detailAnnotations li.active{
	font-style:normal;
	font-weight:bold;
}
.detail #detailAnnotations li.active .annotation_description {
	display:block;
	font-weight:normal;
	font-size:12px;
	padding-top:10px;
}
.detail #detailAnnotations ul li.detailAnnotation a {
    text-decoration: underline;
}

.detail #detailAnnotations ul li.detailAnnotation:hover a {
    text-decoration: underline;
    color:#FFF;
}
.detail #detailAnnotations .detailAnnotationList {
    max-height: 300px;
    overflow: auto;
}
.detailImgPlaceholder {
    background-color: #F5F5F5;
    color: #858585;
    margin-bottom: 10px;
    padding: 120px 5px 120px;
    text-align: center;
    width: 100%;
}
/* Media Viewer */

.tileviewer div.viewerControls {
	opacity:.85 !important;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}
.tileviewer div a.tileviewerControl:hover {
	text-decoration:none;
	color: #00cfb7;
}
div.caMediaOverlayControls {
    opacity: 1.0;
    background-color: rgba(0,0,0,0.5);
}
div.caMediaOverlayControls .objectInfo {
	font-size:13px;
}
.tileviewer div a.tileviewerControlSelected {
	color: #00cfb7;
}
.tileviewerHelpPanel .content h2, .tileviewerHelpPanel .content h3, p.tileviewerHelpText, div.tileviewerHelpText, .tileviewerHelpList {
	font-family: DIN17SBOP-Regular;
}
.tileviewerHelpPanel h3 {
	font-size:24px;
}
.tileviewerHelpPanel h2 {
	margin-top:10px;
	margin-bottom: 10px;
}
.tileviewerHelpPanel {
	background-color:#fff;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
p.tileviewerHelpText, div.tileviewerHelpText, .tileviewerHelpList {
	font-size: 15px;
    line-height: 1.4em;
}
/* Finding Aid */

.collHeader a {
	font-family: DIN17SBOP-Regular;
}
.faDownload {
	float:right;
	width:100%;
	clear:left;
	margin-top:-15px;
	margin-bottom:15px;
	font-size:13px;
	text-align:right;
}	

/* Advanced Search */

div.advancedSearchField {
	width: 100%;
	float:none;
}
.caAdvancedSearchFormSubmit, .caAdvancedSearchFormReset {
	color: #00cfb7;
	padding:5px 10px;
	font-weight:bold;
	text-transform:uppercase;
	border: 2px solid #00cfb7;
    margin: 20px auto 20px auto;
    width: 60px;	
}
a.caAdvancedSearchFormSubmit:hover, a.caAdvancedSearchFormReset:hover,
a.caAdvancedSearchFormSubmit:active, a.caAdvancedSearchFormReset:active{
	color: #00cfb7;
}
.identifier textarea.form-control {
    width: 400px;
}

/*****************************************************************************
 *
 * Below style are added by Yue on Jan, 2017 for customization the front page
 * to mimic libs.uga.edu/media
 * 
 *********************************/

div#header-top .container {
	background-color: rgb(55, 60, 63);
}

#ugalibs {
    float: left;
    font-size: 16px;
    padding: 8px 0;
    text-align: left;
    width: 100%;
}

div#ugalibs a { color: #eee; }
div#ugalibs a:hover { color: #aaa; }

div.navbar-header {
	width: 100%;
}

.name {
	font-size: 2.3em;
	color: #333;
    margin-left: 6.5em;
    margin-top: 2em;
}
div.bs-main-navbar-collapse-1 {	
	height: 100px;
    background: #fff; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(90deg, #fff, #a0a4ab); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #fff, #a0a4ab); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #fff, #a0a4ab); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #fff, #a0a4ab); /* not work yet */
}
ul#main-menu {
    width: 100%;
	height: 40px;
	margin-right: 0px;
    background-color: #96b0ba;
}
ul#main-menu li { height: 40px; border-right: 1px solid #eee; }

/*ul#main-menu li a {
	font-size: 18px;
	padding: 10px 25px 3px;
}
ul#main-menu li a:hover { background-color: lightgray;}
*/
/* less than 1182px, 960px  */

	ul#main-menu li { padding: 0 0 0 0; }
	ul#main-menu li a { font-size: 14px; padding: 10px 15px 3px; }

/* less than 860px  */
@media (max-width: 1000px) {
	ul#main-menu li a { 
		padding: 10px 10px 3px; 
		font-size:12px;
	}
	.navbar .menuSearch .form-control {
		font-size:12px;
	}
	.navbar .menuSearch {
		width:100px;
	}
}
a.navbar-brand img {
    height: 150px;
    width: 738px;
}
/* less than 860px, 768px */
@media (max-width: 768px) {
	.name { font-size: 1.8em; margin-left: 9em; display: none; }
	a.navbar-brand img { height: 80px; width: 393px; }
	ul#main-menu {	height: auto; margin-left: auto; margin-top: -30px; }
}

ul#user-navbar { margin-top: -246px; }
ul#main-menu .dropdown-menu { position: relative; top: auto; }
div.formOutline {
	/* margin-top: -250px; */
	margin-right: 35px;
}
.glyphicon-user {
	color: #96b0ba;
	margin-top: -200px;
}
.front .jcarousel-control-next, .front .jcarousel-control-prev { border-radius: 25px; }

/* views/front style */
div.contenttab {
	padding-top: 1em;
    border-top: 20px solid #96b0ba;
}
h1.slogan { padding-top: inherit;  padding-left: 0; padding-bottom: 1em; }

div.contentcol { padding-bottom: 2em; }

#pageArea div.headerbox { border-bottom: 5px solid #96b0ba; margin-bottom: 2em; }

div.headertab.middletab {
	width: 200px;
	height: 30px;
	padding: .1em .2em .1em .5em;
    background-color: #96b0ba;
    border-radius: 10px 15px 0px 0px;
}

div.headertab h2.colheader {
	margin-top: 10px;
    margin-left: 5px;
}
h2.colheader a, .headline a, #aeoncaption a, .text a { color: #333; }

div.contentcol ul {
	margin-top: 1em;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

div.contentcol li { list-style: none; padding-bottom: 1em; }
.text {
		border: 3px solid #96b0ba;
	    padding: .8em 1em .5em;
}

.title-box {
    background-color: rgb(248, 247, 243);
    border: 1px solid rgb(210, 204, 179);
    border-radius: 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    padding: 10px 15px 20px;
    width: 100%;
}
.title-box h2 { color: #333; }

.space-above { margin-top: 10px; }
 .btn-primary {
    background-color: #29393b;
    border-color: #29393b;
}
	
p.textheader {
	font-style:italic;
	font-size:28px;
	color:#96b0ba;
	margin:0;
	padding-top:10px
}

#aeon { padding-top: 10px; }
#aeon img {
	float: right;
	margin: auto .6em auto;
}
#aeoncaption > a { float: right; }

/* secondary page */
div#pageArea.staticPage div.row div.col-lg-4.col-md-5 {
		background: lightgray;
	    padding: 20px;
}

#pageArea div.advancedContainer form h5 { margin: 1.5em 0 1em; }

#pageArea div.row { margin-right: 0px; }

.search-in {
  display: inline;
}
.search-in h5 {
  color: black;
}
	
/* if width is less than 992 */
@media screen and (max-width: 992px) {
	div.staticPage div.row div.col-lg-8 + div.col-lg-4,
	div.staticPage div.row div.col-md-7 + div.col-md-5 {
		     margin: auto 15px;
	}
}

div.row div.col-sm-7 + div.col-sm-4 {
	border-left:1px solid #ddd;
	margin-top: 20px;
}

div.col-sm-4 div.advancedContainer { margin: 2em auto; }
div.col-sm-4 div.advancedContainer form { padding-top: 20px; padding-bottom: 20px; }
div.bmacSearchContainer { padding: 0 0 3em 0; border-bottom: 1px solid #ddd; }
div.bmacSearchContainer .form-control { width: 85%; }
div.bmacSearchContainer > h2 + p { font-style: italic; }

/* style for footer */
div#footer {
	padding: .5em 0em;
	border-top: 20px solid #96b0ba;
}
div.ugalogo img { width: 160px; padding-left:15px;}

/* browse */
.bResultItem .bResultItemText a, .bResultListItem .bResultListItemText a {
    color: #000;
    line-height: 1.3em;
    font-size: 14px;
    font-weight:bold;
}
.bResultItem .bResultItemText small, .bResultItem .bResultItemText small a {
    color: #454545;
    font-size: 12px;
    font-weight:normal;
}
.multisearch .multisearchResult a {
    color: #000;
    font-size: 13px;
    line-height: 1.2em;
}
#objects_sort_direction{
	color:#757575;
}

.bResultListItem {
	height: 100%;
	margin-bottom: 20px;
}

.bResultListItemCol {
	height: 100%;
}
.bResultListItemContent {
    height: 100%;
    overflow: hidden;
}

.bResultListItem .bResultListItemImg {
    min-height: 120px;
    margin-right: 15px;
    min-width: 180px;
}
.bResultListItem img {
    height: 120px;
}

.bResultListItem:hover {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	background-color: #FFFFFF;
	line-height: 1em;
	padding: 10px;
	height:100%;
	margin-bottom: 20px;
}

.bResultListItemImg .bResultItemImgPlaceholder {
	padding: 45px;
	width: 100%;
	height: 100%;
}

bResultListItem .bResultListItemText small, .bResultListItem .bResultListItemText small a {
    color: #787878;
}
.bResultListItem .bResultListItemText, .bResultListItem .bResultListItemText b {
    line-height: 1.3em;
    font-size: 14px;
    font-family: Latolight;
}
#bRefine H2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #666;
    margin-top: 0px;
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.caAudioPlayer {
	background-color: #000;
}
.highlightText {
	background-color: #FBF719;
	opacity: 0.8;
}

.timecodeLink {
	text-decoration: underline !important;
	color: #000000 !important;
}

#jGrowl {
	margin-top: 300px;
}